Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2019-05, with the labels that each got.

#654 Expanded tabs to four spaces in DynamoDb examples
  go/example_code/dynamodb/DynamoDBListTables.go
  go/example_code/dynamodb/list_tables.go
Labels: Go

#653 Updated TypeScript files to 0.29.0
  typescript/example_code/cdk/HelloCdk.ts
  typescript/example_code/cdk/MyRdsDbStack.ts
  typescript/example_code/cdk/hello-cdk.ts
  typescript/example_code/cdk/hello-cdk2.ts
  typescript/example_code/cdk/my_ecs_construct.ts
  typescript/example_code/cdk/my_widget_service.ts
Labels: TypeScript

#655 Update KMS Client
  php/example_code/kms/CreateAlias.php
  php/example_code/kms/CreateClient.php
  php/example_code/kms/CreateGrant.php
  php/example_code/kms/CreateKey.php
  php/example_code/kms/DeleteAlias.php
  php/example_code/kms/DescribeKey.php
  php/example_code/kms/DisableKey.php
  php/example_code/kms/EnableKey.php
  php/example_code/kms/GenerateDataKey.php
  php/example_code/kms/GetKeyPolicy.php
  php/example_code/kms/ListAliases.php
  php/example_code/kms/ListGrants.php
  php/example_code/kms/ListKeyPolicies.php
  php/example_code/kms/ListKeys.php
  php/example_code/kms/PutKeyPolicy.php
  php/example_code/kms/RetireGrant.php
  php/example_code/kms/RevokeGrant.php
  php/example_code/kms/UpdateAlias.php
  php/example_code/kms/decrypt.php
  php/example_code/kms/encrypt.php
  php/example_code/kms/rencrypt.php
Labels: PHP

#661 Updated CDK example to v0.31.0
  typescript/example_code/cdk/SecretsManager-stack.ts
Labels: TypeScript

#662 Fixed typos in Go and Ruby
  go/example_code/s3/s3_get_bucket_acl.go
  go/example_code/s3/s3_get_bucket_object_acl.go
  go/example_code/s3/s3_put_bucket_acl.go
  go/example_code/s3/s3_put_bucket_object_acl.go
  go/example_code/sns/SnsSubscribe.go
  ruby/example_code/cloudwatch/cw-ruby-example-send-events-ec2.rb
  ruby/example_code/ec2/ec2-ruby-example-manage-instances.rb
  ruby/example_code/s3/auth_session_token_request_test.rb
  ruby/example_code/s3/s3-ruby-example-bucket-accessible.rb
  ruby/example_code/s3/s3_add_bucket_sses3_encryption_policy.rb
  ruby/example_code/s3/s3_create_AES_key.rb
  ruby/example_code/s3/s3_ruby_bucket_website.rb
  ruby/example_code/sqs/sqs-ruby-example-visibility-timeout.rb
Labels: Go, Ruby

#652 Creating Java examples for s3Batch Operations
  java/example_code/s3control/Makefile
  java/example_code/s3control/pom.xml
  java/example_code/s3control/run_example.sh
  java/example_code/s3control/src/main/java/aws/example/s3control/CancelJob.java
  java/example_code/s3control/src/main/java/aws/example/s3control/CreateJob.java
  java/example_code/s3control/src/main/java/aws/example/s3control/ListJobs.java
  java/example_code/s3control/src/main/java/aws/example/s3control/UpdateJobPriority.java
  java/example_code/s3control/src/main/java/aws/example/s3control/UpdateJobStatus.java
Labels: Java

#672 Fix some syntax errors, see #671
  javascript/example_code/lambda/tutorial/slotassets.zip
Labels: JavaScript

#668 Put log events example
  javav2/example_code/cloudwatch/pom.xml
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutLogEvents.java
Labels: Java

#669 Added python Inspector list_findings() example
  python/example_code/inspector/list_findings.py
Labels: Python

#679 Dougsch/s3 crud test
  go/example_code/s3/crud/s3_crud_ops.go
  go/example_code/s3/crud/s3_crud_ops_test.go
Labels: Go
