Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2019-06, with the labels that each got.

#687 updating Java sdk v2 version
  javav2/example_code/mediaconvert/Makefile
  javav2/example_code/mediaconvert/pom.xml
  javav2/example_code/mediaconvert/run_example.sh
  javav2/example_code/mediaconvert/src/main/java/com/example/mediaconvert/CreateJob.java
  javav2/example_code/mediaconvert/src/main/java/com/example/mediaconvert/getEndpointURL.java
Labels: Java

#702 Update GetSecretValue.java
  java/example_code/secretsmanager/src/main/java/aws/example/secretsmanager/GetSecretValue.java
Labels: Java

#700 Add missing error object to print statement
  go/example_code/s3/s3_delete_object.go
Labels: Go

#707 fix php ses classname
  php/example_code/ses/Add_Domain.php
  php/example_code/ses/Add_Email.php
  php/example_code/ses/Authorize_Sender.php
  php/example_code/ses/Create_Filter.php
  php/example_code/ses/Create_Rule.php
  php/example_code/ses/Create_Rule_Set.php
  php/example_code/ses/Create_Template.php
  php/example_code/ses/Delete_Authorized_Sender.php
  php/example_code/ses/Delete_Domain.php
  php/example_code/ses/Delete_Email.php
  php/example_code/ses/Delete_Filter.php
  php/example_code/ses/Delete_Rule.php
  php/example_code/ses/Delete_Rule_Set.php
  php/example_code/ses/Delete_Template.php
  php/example_code/ses/Describe_Rule.php
  php/example_code/ses/Describe_Rule_Set.php
  php/example_code/ses/Get_Authorized_Policies.php
  php/example_code/ses/Get_Authorized_Sender.php
  php/example_code/ses/Get_Template.php
  php/example_code/ses/List_Authorized_Senders.php
  php/example_code/ses/List_Domain.php
  php/example_code/ses/List_Email.php
  php/example_code/ses/List_Filters.php
  php/example_code/ses/List_Rules_Sets.php
  php/example_code/ses/List_Templates.php
  php/example_code/ses/Send_Email.php
  php/example_code/ses/Send_Quota.php
  php/example_code/ses/Send_Statistics.php
  php/example_code/ses/Send_Templated_Email.php
  php/example_code/ses/Update_Rule.php
  php/example_code/ses/Update_Template.php
Labels: PHP

#706 Update Go S3 ListObjects example
  go/example_code/s3/s3_list_objects.go
Labels: Go

#708 Fix Link to the AWS SDK for Java v2 Developer Guide
  javav2/README.rst
Labels: Java

#710 Update ses_send_verification.rb
  ruby/example_code/ses/ses_send_verification.rb
Labels: Ruby

#711 Updated code example for CDK release 0.34.0
  typescript/example_code/cdk/BucketResource-stack.ts
Labels: TypeScript

#714 Updating the STS dependancy for an S3 Java SDK v1 example
  java/example_code/s3/pom.xml
  java/example_code/s3/src/main/java/CrossRegionReplication.java
  java/example_code/s3/src/main/java/MakingRequestsWithIAMTempCredentials.java
Labels: Java

#718 Updated CDK example spacing
  typescript/example_code/cdk/hello-cdk-stack2.ts
Labels: TypeScript

#721 Updating PHP CloudFront Examples
  php/example_code/cloudfront/SignCookie.php
  php/example_code/cloudfront/SignCookiePolicy.php
  php/example_code/cloudfront/SignPrivateDistribution.php
  php/example_code/cloudfront/SignPrivateDistributionPolicy.php
Labels: PHP

#725 Java v2 EC2 Code Examples
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeReservedInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeVPCs.java
Labels: Java

#727 Javav2 ec2 create instance
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateInstance.java
Labels: Java

#723 How to enable MFA for Cognito UserPool
  java/example_code/cognito/README.md
  java/example_code/cognito/pom.xml
  java/example_code/cognito/src/main/java/aws/example/cognito/EnableMFAForCognitoUser.java
Labels: Java

#729 Updated CDK examples for version 0.35.0
  typescript/example_code/cdk/BucketResource-stack.ts
  typescript/example_code/cdk/HelloCdk-stack.ts
  typescript/example_code/cdk/SecretsManager-stack.ts
  typescript/example_code/cdk/my_ecs_construct-stack.ts
  typescript/example_code/cdk/widget_service.ts
Labels: TypeScript
