Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2019-08, with the labels that each got.

#409 Unit 'Seconds' is not supported by 'CPUUtilization' metric (JavaScript)
  javascript/example_code/cloudwatch/cw_putmetricalarm.js
Labels: JavaScript

#788 AWS.config.mediaconvert is a property, not a function
  javascript/example_code/mediaconvert/emc_create_jobtemplate.js
  javascript/example_code/mediaconvert/emc_createjob.js
  javascript/example_code/mediaconvert/emc_template_createjob.js
Labels: JavaScript

#775 Unit Tests for Java SNS
  javav2/example_code/sns/src/main/tst/java/com/example/sns/SnsExamplesTest.java
Labels: Java

#684 Update HighLevelQueryAndScan.cs
  dotnet/example_code/DynamoDB/HighLevelQueryAndScan.cs
Labels: .NET

#767 adding things graph mock device scripts
  python/example_code/iotthingsgraph/camera.py
  python/example_code/iotthingsgraph/cloudcamera.py
  python/example_code/iotthingsgraph/cloudms.py
  python/example_code/iotthingsgraph/cloudscreen.py
  python/example_code/iotthingsgraph/ms.py
  python/example_code/iotthingsgraph/screen.py
Labels: Python

#342 Added dotnet GetCallerIdentity Example
  dotnet/example_code/STS/GetCallerIdentity/GetCallerIdentity.cs
  dotnet/example_code/STS/GetCallerIdentity/GetCallerIdentity.csproj
Labels: .NET

#343 Added dotnet ACM ListCertificates Example
  dotnet/example_code/ACM/ListCertificates/ListCertificates.cs
  dotnet/example_code/ACM/ListCertificates/ListCertificates.csproj
Labels: .NET

#344 Added dotnet ACM DescribeCertificate Example
  dotnet/example_code/ACM/DescribeCertificate/DescribeCertificate.cs
  dotnet/example_code/ACM/DescribeCertificate/DescribeCertificate.csproj
Labels: .NET

#743 Adding Go GetCostAndUsage example
  go/example_code/costexplorer/get_cost_and_usage.go
Labels: Go

#793 Added <script> tag to snippet
  javascript/example_code/browserstart/polly.html
Labels: JavaScript

#797 Fixed comment chars after moving snippet tags
  javascript/example_code/browserstart/polly.html
Labels: JavaScript

#585 Added dotnet STS AssumeRoleWithSAML Example
  dotnet/example_code/STS/AssumeRoleWithSAML/AssumeRoleWithSAML.cs
  dotnet/example_code/STS/AssumeRoleWithSAML/AssumeRoleWithSAML.csproj
  dotnet/example_code/STS/AssumeRoleWithSAML/saml.xml.b64
Labels: .NET, backlog

#801 Fixed typos
  javascript/example_code/iam/iam_createaccountalias.js
  javascript/example_code/iam/iam_deleteaccountalias.js
  javascript/example_code/iam/iam_listaccountalises.js
  javascript/example_code/mediaconvert/emc_canceljob.js
  javascript/example_code/mediaconvert/emc_create_jobtemplate.js
  javascript/example_code/mediaconvert/emc_createjob.js
  javascript/example_code/mediaconvert/emc_deletetemplate.js
  javascript/example_code/mediaconvert/emc_getendpoint.js
  javascript/example_code/mediaconvert/emc_listjobs.js
  javascript/example_code/mediaconvert/emc_listtemplates.js
  javascript/example_code/mediaconvert/emc_template_createjob.js
Labels: JavaScript
