Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2019-02, with the labels that each got.

#517 adding S3 dotnet examples
  dotnet/example_code/S3/S3Examples.sln
  dotnet/example_code/S3/S3Examples/AbortMPUUsingHighLevelAPITest.cs
  dotnet/example_code/S3/S3Examples/App.config
  dotnet/example_code/S3/S3Examples/CORSTest.cs
  dotnet/example_code/S3/S3Examples/CopyObjectTest.cs
  dotnet/example_code/S3/S3Examples/CopyObjectUsingMPUapiTest.cs
  dotnet/example_code/S3/S3Examples/CreateBucketTest.cs
  dotnet/example_code/S3/S3Examples/CrossRegionReplicationTest.cs
  dotnet/example_code/S3/S3Examples/DeleteMultipleObjVersionedBucketTest.cs
  dotnet/example_code/S3/S3Examples/DeleteMultipleObjectsNonVersionedBucketTest.cs
  dotnet/example_code/S3/S3Examples/DeleteObjectNonVersionedBucketTest1.cs
  dotnet/example_code/S3/S3Examples/DeleteObjectVersion.cs
  dotnet/example_code/S3/S3Examples/DualStackEndpointTest.cs
  dotnet/example_code/S3/S3Examples/EnableNotificationsTest.cs
  dotnet/example_code/S3/S3Examples/GenPresignedURLTest.cs
  dotnet/example_code/S3/S3Examples/GetObjectTest.cs
  dotnet/example_code/S3/S3Examples/LifecycleTest.cs
  dotnet/example_code/S3/S3Examples/ListKeysVersionEnabledBucketTest.cs
  dotnet/example_code/S3/S3Examples/ListObjectsTest.cs
  dotnet/example_code/S3/S3Examples/MakeS3RequestTest.cs
  dotnet/example_code/S3/S3Examples/ManageingBucketACLTest.cs
  dotnet/example_code/S3/S3Examples/ManagingACLsTest.cs
  dotnet/example_code/S3/S3Examples/ManagingObjectACLTest.cs
  dotnet/example_code/S3/S3Examples/ObjectTagTest.cs
  dotnet/example_code/S3/S3Examples/Properties/AssemblyInfo.cs
  dotnet/example_code/S3/S3Examples/RestoreArchivedObjectTest.cs
  dotnet/example_code/S3/S3Examples/S3Examples.csproj
  dotnet/example_code/S3/S3Examples/SSECLowLevelMPUcopyObjectTest.cs
  dotnet/example_code/S3/S3Examples/SSEClientEncryptionKeyObjectOperationsTest.cs
  dotnet/example_code/S3/S3Examples/ServerAccesLoggingTest.cs
  dotnet/example_code/S3/S3Examples/SpecifyServerSideEncryptionTest.cs
  dotnet/example_code/S3/S3Examples/TempCredExplicitSessionStartTest.cs
  dotnet/example_code/S3/S3Examples/TempFederatedCredentialsTest.cs
  dotnet/example_code/S3/S3Examples/TrackMPUUsingHighLevelAPITest.cs
  dotnet/example_code/S3/S3Examples/TransferAccelerationTest.cs
  dotnet/example_code/S3/S3Examples/UploadDirMPUHighLevelAPITest.cs
  dotnet/example_code/S3/S3Examples/UploadFileMPUHighLevelAPITest.cs
  dotnet/example_code/S3/S3Examples/UploadFileMPULowLevelAPITest.cs
  dotnet/example_code/S3/S3Examples/UploadObjectTest.cs
  dotnet/example_code/S3/S3Examples/UploadObjectUsingPresignedURLTest.cs
  dotnet/example_code/S3/S3Examples/WebsiteConfigTest.cs
  dotnet/example_code/S3/S3Examples/packages.config
Labels: .NET

#522 Add Greengrass examples
  python/example_code/greengrass/connector-modbus-rtu-usage.py
  python/example_code/greengrass/connector-serial-stream-usage.py
  python/example_code/greengrass/iot-data-client-boto3.py
  python/example_code/greengrass/iot-data-client-greengrasssdk.py
Labels: Python

#509 Update C++ SDK examples to make it build with C++ SDK.
  cpp/example_code/codebuild/list_builds.cpp
  cpp/example_code/codecommit/update_pull_request.cpp
  cpp/example_code/codecommit/update_repository.cpp
  cpp/example_code/efs/CMakeLists.txt
  cpp/example_code/s3/put_object_unicode.cpp
  cpp/example_code/storage_gateway/CMakeLists.txt
  cpp/example_code/storage_gateway/create_nfs_file_share.cpp
  cpp/example_code/storage_gateway/delete_volume.cpp
  cpp/example_code/storage_gateway/describe_gateway_information.cpp
  cpp/example_code/storage_gateway/describe_smb_settings.cpp
  cpp/example_code/storage_gateway/list_file_shares.cpp
  cpp/example_code/storage_gateway/start_gateway.cpp
Labels: C++

#527 adding example of Creating an RDS Read Replica
  php/example_code/rds/CreateDBInstanceReadReplica.php
Labels: PHP

#530 Added SNS topics in Go
  go/example_code/sns/SnsCreateTopic.go
  go/example_code/sns/SnsListSubscriptions.go
  go/example_code/sns/SnsListTopics.go
  go/example_code/sns/SnsPublish.go
  go/example_code/sns/SnsSubscribe.go
Labels: Go

#531 Added CloudWatch example of metric and alarm for CDK
  typescript/example_code/cdk/HelloCdk-stack.ts
Labels: TypeScript

#543 adding snippet ids to PHP S3 examples
  php/example_code/s3/DeleteBucket.php
  php/example_code/s3/DeleteBucketCors.php
  php/example_code/s3/DeleteBucketLifecycle.php
  php/example_code/s3/DeleteBucketReplication.php
  php/example_code/s3/DeleteObject.php
  php/example_code/s3/GetBucketCors.php
  php/example_code/s3/GetBucketLifecycle.php
  php/example_code/s3/GetBucketLifecycleConfiguration.php
  php/example_code/s3/GetObject.php
  php/example_code/s3/ListBuckets.php
  php/example_code/s3/PresignedPost.php
  php/example_code/s3/PresignedURL.php
  php/example_code/s3/PutBucketAccelerateConfiguration.php
  php/example_code/s3/PutBucketCors.php
  php/example_code/s3/PutBucketLifecycle.php
  php/example_code/s3/PutObject.php
  php/example_code/s3/TransferManager.php
  php/example_code/s3/s3BucketAcl.php
  php/example_code/s3/s3BucketPolicy.php
  php/example_code/s3/s3ObjectAcl.php
  php/example_code/s3/s3WebHost.php
Labels: PHP
