Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2019-04, with the labels that each got.

#580 refactoring DescribeInstances to use a do while loop
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstances.java
Labels: Java

#594 updating Java sdk v2 version for Workdocs
  javav2/example_code/workdocs/pom.xml
Labels: Java

#581 updating S3 examples to latest Java SDK v2 version
  javav2/example_code/s3/sdk-s3-examples.iml
Labels: Java

#582 adding new dependencies for CloudWatch Java v2 examples
  javav2/example_code/cloudwatch/metric.json
  javav2/example_code/cloudwatch/pom.xml
Labels: Java

#593 updating Java sdk v2 version for Glacier
  javav2/example_code/glacier/pom.xml
Labels: Java

#592 updating Java sdk v2 version for General Samples
  javav2/example_code/general/pom.xml
Labels: Java

#601 Updated TypeScript CDK examples
  typescript/example_code/cdk/MyRdsDbStack-stack.ts
  typescript/example_code/cdk/widget_service.ts
Labels: TypeScript

#616 fixed broken loading credentials link in javascript readme
  javascript/README.rst
Labels: JavaScript

#628 Added an example for cloudmap
  java/example_code/cloudmap/pom.xml
  java/example_code/cloudmap/src/main/java/aws/example/cloudmap/DiscoverInstanceRequest.java
Labels: Java

#636 AWS Cloud map discover instance example
  java/example_code/cloudmap/src/main/java/aws/example/cloudmap/DiscoverInstances.java
Labels: Java

#638 added createservice and lookupservice with filter
  java/example_code/cloudmap/src/main/java/aws/example/cloudmap/CreateService.java
  java/example_code/cloudmap/src/main/java/aws/example/cloudmap/LookUpServicewithFilter.java
Labels: Java

#640 Removed .vscode directory; added .vscode to git ignore
  .gitignore
  dotnet/example_code/STS/AssumeRole/.vscode/tasks.json
Labels: .NET

#643 updating ddb list_tables example to add pagination to tablenames
  go/example_code/dynamodb/DynamoDBListTables.go
  go/example_code/dynamodb/list_tables.go
Labels: Go

#647 Added S3 example of using custom HTTP client
  go/example_code/s3/customHttpClient.go
Labels: Go
