Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2019-07, with the labels that each got.

#736 Add example code for AwsException containing modeled exception data
  php/example_code/s3/ErrorHandling.php
Labels: PHP

#735 Update Incorrect S3 CSE-KMS StrictAuthenticatedEncryption Example
  java/example_code/s3/src/main/java/aws/example/s3/S3Encrypt.java
Labels: Java

#734 Kinesis Java v2 examples
  javav2/example_code/kinesis/src/main/java/com/example/kinesis/AddDataShards.java
  javav2/example_code/kinesis/src/main/java/com/example/kinesis/DescribeLimits.java
  javav2/example_code/kinesis/src/main/java/com/example/kinesis/ListShards.java
Labels: Java

#742 Updated example for sending email by using the SMTP interface
  php/example_code/ses/Send_Email_SMTP.php
Labels: PHP

#753 Update GameLift-Unreal-game-server.cpp
  cpp/example_code/gamelift/GameLift-Unreal-game-server.cpp
Labels: C++

#752 Update name style of enumeration to match GA release
  typescript/example_code/cdk/hello-cdk-stack2.ts
Labels: TypeScript

#758 Update StartStopInstance.java to check for two arguments
  javav2/example_code/ec2/src/main/java/com/example/ec2/StartStopInstance.java
Labels: Java

#759 Fixing S3 Copy Object Java SDK v2 example to encode url
  javav2/example_code/s3/src/main/java/com/example/s3/CopyObject.java
Labels: Java

#761 SWF in Java SDK v1
  java/example_code/swf/src/main/java/aws/example/helloswf/ActivityWorker.java
  java/example_code/swf/src/main/java/aws/example/helloswf/ActivityWorkerWithGracefulShutdown.java
  java/example_code/swf/src/main/java/aws/example/helloswf/HelloTypes.java
  java/example_code/swf/src/main/java/aws/example/helloswf/WorkflowStarter.java
  java/example_code/swf/src/main/java/aws/example/helloswf/WorkflowWorker.java
Labels: Java

#762 Upload Object Java v1 guide.
  java/example_code/s3/src/main/java/UploadObject.java
Labels: Java

#770 Move snippet end to end of class so we get closing brackets
  typescript/example_code/cdk/my_ecs_construct-stack.ts
Labels: TypeScript
