Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-12, with the labels that each got.

#1499 Fix wrong definition of 'EMR'.
  python/example_code/emr/emrfs_step.py
Labels: Python

#1502 fix typo
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/example/services/SendMessages.java
Labels: Java, on review

#1500 Fixed metadata for STS for Go v2 code examples
  gov2/sts/metadata.yaml
Labels: Go

#1485 Added SQS examples in Go v2
  gov2/sqs/ChangeMsgVisibility/ChangeMsgVisibilityv2.go
  gov2/sqs/ChangeMsgVisibility/ChangeMsgVisibilityv2_test.go
  gov2/sqs/ChangeMsgVisibility/README.md
  gov2/sqs/ChangeMsgVisibility/config.json
  gov2/sqs/ConfigureLPQueue/ConfigureLPQueuev2.go
  gov2/sqs/ConfigureLPQueue/ConfigureLPQueuev2_test.go
  gov2/sqs/ConfigureLPQueue/README.md
  gov2/sqs/ConfigureLPQueue/config.json
  gov2/sqs/CreateLPQueue/CreateLPQueuev2.go
  gov2/sqs/CreateLPQueue/CreateLPQueuev2_test.go
  gov2/sqs/CreateLPQueue/README.md
  gov2/sqs/CreateLPQueue/config.json
  gov2/sqs/CreateQueue/CreateQueuev2.go
  gov2/sqs/CreateQueue/CreateQueuev2_test.go
  gov2/sqs/CreateQueue/README.md
  gov2/sqs/CreateQueue/config.json
  gov2/sqs/DeadLetterQueue/DeadLetterQueuev2.go
  gov2/sqs/DeadLetterQueue/DeadLetterQueuev2_test.go
  gov2/sqs/DeadLetterQueue/README.md
  gov2/sqs/DeadLetterQueue/config.json
  gov2/sqs/DeleteMessage/DeleteMessagev2.go
  gov2/sqs/DeleteMessage/DeleteMessagev2_test.go
  gov2/sqs/DeleteMessage/README.md
  gov2/sqs/DeleteMessage/config.json
  gov2/sqs/DeleteQueue/DeleteQueuev2.go
  gov2/sqs/DeleteQueue/DeleteQueuev2_test.go
  gov2/sqs/DeleteQueue/README.md
  gov2/sqs/DeleteQueue/config.json
  gov2/sqs/GetQueueURL/GetQueueURLv2.go
  gov2/sqs/GetQueueURL/GetQueueURLv2_test.go
  gov2/sqs/GetQueueURL/README.md
  gov2/sqs/GetQueueURL/config.json
  gov2/sqs/ListQueues/ListQueuesv2.go
  gov2/sqs/ListQueues/ListQueuesv2_test.go
  gov2/sqs/ListQueues/README.md
  gov2/sqs/README.md
  gov2/sqs/ReceiveLPMessage/README.md
  gov2/sqs/ReceiveLPMessage/ReceiveLPMessagev2.go
  gov2/sqs/ReceiveLPMessage/ReceiveLPMessagev2_test.go
  gov2/sqs/ReceiveLPMessage/config.json
  gov2/sqs/ReceiveMessage/README.md
  gov2/sqs/ReceiveMessage/ReceiveMessagev2.go
  gov2/sqs/ReceiveMessage/ReceiveMessagev2_test.go
  gov2/sqs/ReceiveMessage/config.json
  gov2/sqs/SendMessage/README.md
  gov2/sqs/SendMessage/SendMessagev2.go
  gov2/sqs/SendMessage/SendMessagev2_test.go
  gov2/sqs/SendMessage/config.json
  gov2/sqs/metadata.yaml
Labels: Go

#1504 Fixed some Go v2 code examples that had some copy-and-paste errors
  gov2/cloudwatch/CreateCustomMetric/CreateCustomMetricv2.go
  gov2/cloudwatch/CreateEnableMetricAlarm/CreateEnableMetricAlarmv2.go
  gov2/cloudwatch/DisableAlarm/DisableAlarmv2.go
  gov2/cloudwatch/ListMetrics/ListMetricsv2.go
  gov2/ec2/CreateImage/CreateImagev2.go
  gov2/kms/DecryptData/DecryptDatav2.go
  gov2/kms/ReEncryptData/ReEncryptDatav2.go
  gov2/ssm/DeleteParameter/DeleteParameterv2.go
Labels: Go, bug

#1509 Began adding IAM examples and tests for Ruby. Added metadata.yaml for IAM and Amazon CloudWatch examples. Removed empty folders c and multi-language-examples.
  c/example_code/README.rst
  c/example_code/freertos/_.c.txt
  multi-language-examples/README.rst
  ruby/example_code/cloudwatch/metadata.yaml
  ruby/example_code/iam/iam-ruby-example-access-keys.rb
  ruby/example_code/iam/iam-ruby-example-account-alias.rb
  ruby/example_code/iam/iam-ruby-example-add-managed-policy.rb
  ruby/example_code/iam/iam-ruby-example-add-new-user.rb
  ruby/example_code/iam/iam_ruby_example_show_admins.rb
  ruby/example_code/iam/metadata.yaml
  ruby/example_code/iam/tests/test_iam-ruby-example-access-keys.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-account-alias.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-add-managed-policy.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-add-new-user.rb
  ruby/example_code/iam/tests/test_iam_ruby_example_show_admins.rb
Labels: Ruby

#1511 Fix typo in Python README.md
  python/README.md
Labels: Python

#1512 Cleaning up more IAM code examples for Ruby.
  ruby/example_code/iam/iam-ruby-example-access-keys.rb
  ruby/example_code/iam/iam-ruby-example-construct-url-federated-users.rb
  ruby/example_code/iam/iam-ruby-example-create-role.rb
  ruby/example_code/iam/iam-ruby-example-create-user-access-keys.rb
  ruby/example_code/iam/iam-ruby-example-get-ssh-public-keys.rb
  ruby/example_code/iam/iam-ruby-example-list-all-users.rb
  ruby/example_code/iam/metadata.yaml
  ruby/example_code/iam/tests/test_iam-ruby-example-construct-url-federated-users.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-create-role.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-create-user-access-keys.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-get-ssh-public-keys.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-list-all-users.rb
Labels: Ruby

#1510 Added 'Where to put a new code example' section to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement

#1505 Amazon CloudWatch code example cleanup.
  python/README.md
  python/example_code/cloudwatch/.metadata.yaml
  python/example_code/cloudwatch/README.md
  python/example_code/cloudwatch/cloudwatch_basics.py
  python/example_code/cloudwatch/delete_alarms.py
  python/example_code/cloudwatch/delete_subscription_filter.py
  python/example_code/cloudwatch/describe_alarms.py
  python/example_code/cloudwatch/describe_subscription_filters.py
  python/example_code/cloudwatch/disable_alarm_actions.py
  python/example_code/cloudwatch/enable_alarm_actions.py
  python/example_code/cloudwatch/list_metrics.py
  python/example_code/cloudwatch/put_events.py
  python/example_code/cloudwatch/put_metric_alarm.py
  python/example_code/cloudwatch/put_metric_data.py
  python/example_code/cloudwatch/put_rule.py
  python/example_code/cloudwatch/put_subscription_filter.py
  python/example_code/cloudwatch/put_targets.py
  python/example_code/cloudwatch/test/conftest.py
  python/example_code/cloudwatch/test/test_cloudwatch_basics.py
  python/test_tools/cloudwatch_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python

#1506 fix: import bundled JavaScript file from dist folder
  javascriptv3/example_code/polly/src/polly.html
  javascriptv3/example_code/polly/src/polly.js
Labels: JavaScript

#1519 Import S3Client in ListBucketsCommand example
  javascriptv3/example_code/s3/src/s3_listbuckets.ts
Labels: JavaScript

#1521 Updated the Pinpoint Java V2 examples
  javav2/example_code/pinpoint/Readme.md
  javav2/example_code/pinpoint/metadata.yaml
  javav2/example_code/pinpoint/pom.xml
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/AddExampleUser.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/ExportEndpoints.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/ListEndpointIds.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/SendEmailMessage.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/SendMessage.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/SendVoiceMessage.java
  javav2/example_code/pinpoint/src/main/resources/config.properties
  javav2/example_code/pinpoint/src/test/java/AmazonPinpointTest.java
Labels: Java

#1520 react-native-example
  javascriptv3/example_code/reactnative/App.js
  javascriptv3/example_code/reactnative/metadata.yaml
  javascriptv3/example_code/tests/metadata.yaml
  javascriptv3/example_code/tests/reactnative/app.test.js
Labels: JavaScript

#1522 Cleaned up remaining IAM code examples for Ruby.
  ruby/example_code/iam/iam-ruby-example-manage-policies.rb
  ruby/example_code/iam/iam-ruby-example-manage-users.rb
  ruby/example_code/iam/iam-ruby-example-server-certificates.rb
  ruby/example_code/iam/metadata.yaml
  ruby/example_code/iam/tests/test_iam-ruby-example-manage-policies.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-manage-users.rb
  ruby/example_code/iam/tests/test_iam-ruby-example-server-certificates.rb
Labels: Ruby

#1493 Adding a ListObjects S3 example.
  dotnet3.5/S3/ListObjectsExample/ListObjects/ListObjects.cs
  dotnet3.5/S3/ListObjectsExample/ListObjects/ListObjects.csproj
  dotnet3.5/S3/ListObjectsExample/ListObjectsExample.sln
  dotnet3.5/S3/ListObjectsExample/ListObjectsTest/ListObjectsTest.cs
  dotnet3.5/S3/ListObjectsExample/ListObjectsTest/ListObjectsTest.csproj
  dotnet3.5/S3/ListObjectsExample/metadata.yaml
Labels: .NET

#1524 Adding AWS CDK app template files.
  tools/cdk_app_template/.gitignore
  tools/cdk_app_template/README.md
  tools/cdk_app_template/cdk.json
  tools/cdk_app_template/package.json
  tools/cdk_app_template/setup.ts
  tools/cdk_app_template/tsconfig.json
Labels: TypeScript

#1533 Fix listobjects metadata
  dotnet3.5/S3/ListObjectsExample/metadata.yaml
  dotnet3.5/dynamodb/metadata.yaml
Labels: .NET

#1535 add readme for TypeScript folder
  typescript/example_code/README.rst
Labels: TypeScript

#1539 Amazon Comprehend examples
  python/README.md
  python/example_code/comprehend/.metadata.yaml
  python/example_code/comprehend/CreateTrainandRunCustomEntityDetector.py
  python/example_code/comprehend/CreateandTrainCustomClassifier.py
  python/example_code/comprehend/DetectDominantLanguage.py
  python/example_code/comprehend/DetectEntities.py
  python/example_code/comprehend/DetectKeyPhrases.py
  python/example_code/comprehend/DetectSentiment.py
  python/example_code/comprehend/DetectSyntax.py
  python/example_code/comprehend/README.md
  python/example_code/comprehend/RunCustomClassifier.py
  python/example_code/comprehend/TopicModeling.py
  python/example_code/comprehend/comprehend_classifier.py
  python/example_code/comprehend/comprehend_classifier_demo.py
  python/example_code/comprehend/comprehend_demo_resources.py
  python/example_code/comprehend/comprehend_detect.py
  python/example_code/comprehend/comprehend_topic_modeler.py
  python/example_code/comprehend/comprehend_topic_modeler_demo.py
  python/example_code/comprehend/detect_sample.txt
  python/example_code/comprehend/test/conftest.py
  python/example_code/comprehend/test/test_comprehend_classifier.py
  python/example_code/comprehend/test/test_comprehend_classifier_demo.py
  python/example_code/comprehend/test/test_comprehend_demo_resources.py
  python/example_code/comprehend/test/test_comprehend_detect.py
  python/example_code/comprehend/test/test_comprehend_topic_modeler.py
  python/test_tools/comprehend_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, on review

#1482 Created an S3 folder under dotnet3.5 and added samples
  dotnet3.5/S3/CopyObjectExample/CopyObject/CopyObject.cs
  dotnet3.5/S3/CopyObjectExample/CopyObject/CopyObject.csproj
  dotnet3.5/S3/CopyObjectExample/CopyObjectExample.sln
  dotnet3.5/S3/CopyObjectExample/CopyObjectTest/CopyObjectTest.cs
  dotnet3.5/S3/CopyObjectExample/CopyObjectTest/CopyObjectTest.csproj
  dotnet3.5/S3/CopyObjectExample/metadata.yaml
  dotnet3.5/S3/CreateBucketExample/CreateBucket/CreateBucket.cs
  dotnet3.5/S3/CreateBucketExample/CreateBucket/CreateBucket.csproj
  dotnet3.5/S3/CreateBucketExample/CreateBucketExample.sln
  dotnet3.5/S3/CreateBucketExample/CreateBucketTest/CreateBucketTest.cs
  dotnet3.5/S3/CreateBucketExample/CreateBucketTest/CreateBucketTest.csproj
  dotnet3.5/S3/CreateBucketExample/metadata.yaml
  dotnet3.5/S3/DeleteBucketExample/DeleteBucket/DeleteBucket.cs
  dotnet3.5/S3/DeleteBucketExample/DeleteBucket/DeleteBucket.csproj
  dotnet3.5/S3/DeleteBucketExample/DeleteBucketExample.sln
  dotnet3.5/S3/DeleteBucketExample/DeleteBucketTest/DeleteBucketTest.cs
  dotnet3.5/S3/DeleteBucketExample/DeleteBucketTest/DeleteBucketTest.csproj
  dotnet3.5/S3/DeleteBucketExample/metadata.yaml
  dotnet3.5/S3/s3.sln
Labels: .NET

#1541 [Creating Message Application] Fixing description of tutorial
  javav2/usecases/creating_message_application/Readme.md
Labels: Java

#1542 Fixed top-level heading in README.md files for Go v2
  gov2/dynamodb/DescribeTable/DescribeTablev2.go
  gov2/dynamodb/DescribeTable/DescribeTablev2_test.go
  gov2/dynamodb/DescribeTable/README.md
  gov2/dynamodb/README.md
  gov2/kms/DecryptData/README.md
  gov2/kms/EncryptData/README.md
  gov2/kms/ReEncryptData/README.md
  gov2/s3/CopyObject/README.md
  gov2/s3/CreateBucket/README.md
  gov2/s3/DeleteBucket/README.md
  gov2/s3/DeleteObject/README.md
  gov2/s3/GetBucketAcl/README.md
  gov2/s3/GetObjectAcl/README.md
  gov2/s3/ListBuckets/README.md
  gov2/s3/ListObjects/README.md
  gov2/s3/PutObject/README.md
  gov2/s3/README.md
  gov2/sns/CreateTopic/README.md
  gov2/sns/ListSubscriptions/README.md
  gov2/sns/ListTopics/README.md
  gov2/sns/Publish/README.md
  gov2/sns/README.md
  gov2/sns/Subscribe/README.md
  gov2/sqs/ChangeMsgVisibility/README.md
  gov2/sqs/ConfigureLPQueue/README.md
  gov2/sqs/CreateLPQueue/README.md
  gov2/sqs/CreateQueue/README.md
  gov2/sqs/DeadLetterQueue/README.md
  gov2/sqs/DeleteMessage/README.md
  gov2/sqs/DeleteQueue/README.md
  gov2/sqs/GetQueueURL/README.md
  gov2/sqs/ListQueues/README.md
  gov2/sqs/ReceiveLPMessage/README.md
  gov2/sqs/ReceiveMessage/README.md
  gov2/sqs/SendMessage/README.md
  gov2/sts/AssumeRole/README.md
Labels: Go

#1538 Added new Java example
  javav2/example_code/cognito/src/main/java/com/example/cognito/SignUpUser.java
Labels: Java

#1546 Amazon SNS examples
  python/README.md
  python/example_code/s3/s3_basics/ReadMe.md
  python/example_code/s3/s3_versioning/README.md
  python/example_code/sns/.metadata.yaml
  python/example_code/sns/README.md
  python/example_code/sns/sns-python-example-create-topic.py
  python/example_code/sns/sns-python-example-list-subscriptions-by-topic.py
  python/example_code/sns/sns-python-example-list-subscriptions.py
  python/example_code/sns/sns-python-example-list-topics.py
  python/example_code/sns/sns-python-example-publish-to-phonenumber.py
  python/example_code/sns/sns-python-example-publish-to-topic.py
  python/example_code/sns/sns_basics.py
  python/example_code/sns/test/conftest.py
  python/example_code/sns/test/test_sns_basics.py
  python/test_tools/sns_stubber.py
Labels: Python
