Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-11, with the labels that each got.

#1435 Add two new S3 Java V2 Code Examples based on Tickets
  javav2/example_code/s3/metadata.yaml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/CreateAccessPoint.java
  javav2/example_code/s3/src/main/java/com/example/s3/KMSEncryptionExample.java
Labels: Java

#1438 DynamoDB Utilities (V3 parity for DocumentClient) examples
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/dynamodb/package.json
  javascriptv3/example_code/dynamodb/src/ddbdoc_delete_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_get_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_put_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_query_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_update_item.ts
  javascriptv3/example_code/dynamodb/src/metadata.yaml
  javascriptv3/example_code/s3/README.md
  javascriptv3/example_code/s3/package.json
  javascriptv3/example_code/s3/src/metadata.yaml
  javascriptv3/example_code/s3/src/s3_put_presignedURL.ts
Labels: JavaScript

#1439 Updated IAM Java V2 examples
  javav2/example_code/iam/src/main/java/com/example/iam/AccessKeyLastUsed.java
  javav2/example_code/iam/src/main/java/com/example/iam/AttachRolePolicy.java
  javav2/example_code/iam/src/main/java/com/example/iam/CreateAccessKey.java
  javav2/example_code/iam/src/main/java/com/example/iam/CreateAccountAlias.java
  javav2/example_code/iam/src/main/java/com/example/iam/CreatePolicy.java
  javav2/example_code/iam/src/main/java/com/example/iam/CreateUser.java
  javav2/example_code/iam/src/main/java/com/example/iam/DeleteAccessKey.java
  javav2/example_code/iam/src/main/java/com/example/iam/DeleteAccountAlias.java
  javav2/example_code/iam/src/main/java/com/example/iam/DeletePolicy.java
  javav2/example_code/iam/src/main/java/com/example/iam/DeleteServerCertificate.java
  javav2/example_code/iam/src/main/java/com/example/iam/DeleteUser.java
  javav2/example_code/iam/src/main/java/com/example/iam/DetachRolePolicy.java
  javav2/example_code/iam/src/main/java/com/example/iam/GetPolicy.java
  javav2/example_code/iam/src/main/java/com/example/iam/GetServerCertificate.java
  javav2/example_code/iam/src/main/java/com/example/iam/ListAccessKeys.java
  javav2/example_code/iam/src/main/java/com/example/iam/ListAccountAliases.java
  javav2/example_code/iam/src/main/java/com/example/iam/ListServerCertificates.java
  javav2/example_code/iam/src/main/java/com/example/iam/ListUsers.java
  javav2/example_code/iam/src/main/java/com/example/iam/UpdateAccessKey.java
  javav2/example_code/iam/src/main/java/com/example/iam/UpdateServerCertificate.java
  javav2/example_code/iam/src/main/java/com/example/iam/UpdateUser.java
  javav2/example_code/iam/src/test/java/IAMServiceIntegrationTest.java
Labels: Java

#1440 Tests for DynamoDB utilities and s3 presigned examples (plus some sma…
  javascriptv3/example_code/dynamodb/src/ddbdoc_delete_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_get_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_put_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_query_item.ts
  javascriptv3/example_code/dynamodb/src/ddbdoc_update_item.ts
  javascriptv3/example_code/s3/src/s3_put_presignedURL.ts
  javascriptv3/example_code/tests/dynamodb/ddbdoc_delete_item.test.js
  javascriptv3/example_code/tests/dynamodb/ddbdoc_get_item.test.js
  javascriptv3/example_code/tests/dynamodb/ddbdoc_put_item.test.js
  javascriptv3/example_code/tests/dynamodb/ddbdoc_query_item.test.js
  javascriptv3/example_code/tests/dynamodb/ddbdoc_update_item.test.js
  javascriptv3/example_code/tests/metadata.yaml
  javascriptv3/example_code/tests/s3/s3_put_presignedURL.test.js
Labels: JavaScript

#1441 Fixed bug in legacy GameLift .NET code example
  dotnet/example_code_legacy/GameLift/GameLift-Unity-game-server.cs
Labels: .NET, bug

#1448 Added S3 code examples in Go
  gov2/.gitignore
  gov2/dynamodb/DescribeTable/DescribeTable.go
  gov2/dynamodb/DescribeTable/DescribeTable_test.go
  gov2/dynamodb/DescribeTable/config.json
  gov2/dynamodb/README.md
  gov2/dynamodb/metadata.yaml
  gov2/s3/CopyObject/CopyObjectv2.go
  gov2/s3/CopyObject/CopyObjectv2_test.go
  gov2/s3/CopyObject/config.json
  gov2/s3/CreateBucket/CreateBucketv2.go
  gov2/s3/CreateBucket/CreateBucketv2_test.go
  gov2/s3/CreateBucket/config.json
  gov2/s3/DeleteBucket/DeleteBucketv2.go
  gov2/s3/DeleteBucket/DeleteBucketv2_test.go
  gov2/s3/DeleteBucket/config.json
  gov2/s3/DeleteObject/DeleteObjectv2.go
  gov2/s3/DeleteObject/DeleteObjectv2_test.go
  gov2/s3/DeleteObject/config.json
  gov2/s3/GetBucketAcl/GetBucketAclv2.go
  gov2/s3/GetBucketAcl/GetBucketAclv2_test.go
  gov2/s3/GetBucketAcl/config.json
  gov2/s3/GetObjectAcl/GetObjectAclv2.go
  gov2/s3/GetObjectAcl/GetObjectAclv2_test.go
  gov2/s3/GetObjectAcl/config.json
  gov2/s3/ListBuckets/ListBucketsv2.go
  gov2/s3/ListBuckets/ListBucketsv2_test.go
  gov2/s3/ListObjects/ListObjectsv2.go
  gov2/s3/ListObjects/ListObjectsv2_test.go
  gov2/s3/ListObjects/config.json
  gov2/s3/PutObject/PutObjectv2.go
  gov2/s3/PutObject/PutObjectv2_test.go
  gov2/s3/PutObject/config.json
  gov2/s3/README.md
  gov2/s3/metadata.yaml
Labels: Go

#1451 Minor updates to transcribe examples
  javascriptv3/example_code/s3/src/s3_put_presignedURL.ts
  javascriptv3/example_code/transcribe/src/transcribe_create_job.ts
  javascriptv3/example_code/transcribe/src/transcribe_create_medical_job.ts
  javascriptv3/example_code/transcribe/src/transcribe_delete_job.ts
  javascriptv3/example_code/transcribe/src/transcribe_delete_medical_job.ts
  javascriptv3/example_code/transcribe/src/transcribe_list_jobs.ts
  javascriptv3/example_code/transcribe/src/transcribe_list_medical_jobs.ts
Labels: JavaScript

#1454 Added CloudWatch code examples in Go v2
  gov2/cloudwatch/CreateCustomMetric/CreateCustomMetricv2.go
  gov2/cloudwatch/CreateCustomMetric/CreateCustomMetricv2_test.go
  gov2/cloudwatch/CreateCustomMetric/config.json
  gov2/cloudwatch/CreateEnableMetricAlarm/CreateEnableMetricAlarmv2.go
  gov2/cloudwatch/CreateEnableMetricAlarm/CreateEnableMetricAlarmv2_test.go
  gov2/cloudwatch/CreateEnableMetricAlarm/config.json
  gov2/cloudwatch/DescribeAlarms/DescribeAlarmsv2.go
  gov2/cloudwatch/DescribeAlarms/DescribeAlarmsv2_test.go
  gov2/cloudwatch/DisableAlarm/DisableAlarmv2.go
  gov2/cloudwatch/DisableAlarm/DisableAlarmv2_test.go
  gov2/cloudwatch/DisableAlarm/config.json
  gov2/cloudwatch/ListMetrics/ListMetricsv2.go
  gov2/cloudwatch/ListMetrics/ListMetricsv2_test.go
  gov2/cloudwatch/PutEvent/PutEventv2.go
  gov2/cloudwatch/PutEvent/PutEventv2_test.go
  gov2/cloudwatch/PutEvent/config.json
  gov2/cloudwatch/PutEvent/event.json
  gov2/cloudwatch/README.md
  gov2/cloudwatch/metadata.yaml
Labels: Go, on review

#1455 Cleaned up more Ruby code examples for Amazon EC2: create subnet, VPC, Elastic IP, get instance info. Added tests.
  ruby/example_code/ec2/ec2-ruby-example-attach-igw-vpc.rb
  ruby/example_code/ec2/ec2-ruby-example-create-key-pair.rb
  ruby/example_code/ec2/ec2-ruby-example-create-route-table.rb
  ruby/example_code/ec2/ec2-ruby-example-create-security-group.rb
  ruby/example_code/ec2/ec2-ruby-example-create-subnet.rb
  ruby/example_code/ec2/ec2-ruby-example-create-vpc.rb
  ruby/example_code/ec2/ec2-ruby-example-elastic-ips.rb
  ruby/example_code/ec2/ec2-ruby-example-get-all-instance-info.rb
  ruby/example_code/ec2/ec2-ruby-example-get-instance-info-by-tag.rb
  ruby/example_code/ec2/metadata.yaml
  ruby/example_code/ec2/tests/test_ec2-ruby-example-create-subnet.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-create-vpc.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-elastic-ips.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-get-all-instance-info.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-get-instance-info-by-tag.rb
Labels: Ruby, on review

#1458 Added SSM code examples in Go
  gov2/ssm/DeleteParameter/DeleteParameterv2.go
  gov2/ssm/DeleteParameter/DeleteParameterv2_test.go
  gov2/ssm/DeleteParameter/config.json
  gov2/ssm/GetParameter/GetParameterv2.go
  gov2/ssm/GetParameter/GetParameterv2_test.go
  gov2/ssm/GetParameter/config.json
  gov2/ssm/PutParameter/PutParameterv2.go
  gov2/ssm/PutParameter/PutParameterv2_test.go
  gov2/ssm/PutParameter/config.json
  gov2/ssm/README.md
  gov2/ssm/metadata.yaml
Labels: Go, on review

#1461 Amazon SES examples
  python/README.md
  python/example_code/ses/.metadata.yaml
  python/example_code/ses/README.md
  python/example_code/ses/ses_createreceiptfilter.py
  python/example_code/ses/ses_createreceiptrule.py
  python/example_code/ses/ses_createreceiptruleset.py
  python/example_code/ses/ses_createtemplate.py
  python/example_code/ses/ses_deleteidentity.py
  python/example_code/ses/ses_deletereceiptfilter.py
  python/example_code/ses/ses_deletereceiptrule.py
  python/example_code/ses/ses_deletereceiptruleset.py
  python/example_code/ses/ses_deletetemplate.py
  python/example_code/ses/ses_email.py
  python/example_code/ses/ses_generate_smtp_credentials.py
  python/example_code/ses/ses_gettemplate.py
  python/example_code/ses/ses_identities.py
  python/example_code/ses/ses_listidentities.py
  python/example_code/ses/ses_listreceiptfilters.py
  python/example_code/ses/ses_listtemplates.py
  python/example_code/ses/ses_receipt_handler.py
  python/example_code/ses/ses_replicate_identities.py
  python/example_code/ses/ses_replicateidentities/README.md
  python/example_code/ses/ses_replicateidentities/ses_replicateidentities.py
  python/example_code/ses/ses_sendemail.py
  python/example_code/ses/ses_sendtemplatedemail.py
  python/example_code/ses/ses_templates.py
  python/example_code/ses/ses_updatetemplate.py
  python/example_code/ses/ses_verifydomainidentity.py
  python/example_code/ses/ses_verifyemailidentity.py
  python/example_code/ses/test/conftest.py
  python/example_code/ses/test/test_ses_email.py
  python/example_code/ses/test/test_ses_identities.py
  python/example_code/ses/test/test_ses_receipt_handler.py
  python/example_code/ses/test/test_ses_replicate_identities.py
  python/example_code/ses/test/test_ses_templates.py
  python/test_tools/route53_stubber.py
  python/test_tools/s3_stubber.py
  python/test_tools/ses_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, on review

#1464 More Ruby code examples cleanup for Amazon EC2
  ruby/example_code/ec2/ec2-ruby-example-key-pairs.rb
  ruby/example_code/ec2/ec2-ruby-example-list-state-instance-i-123abc.rb
  ruby/example_code/ec2/ec2-ruby-example-manage-instances.rb
  ruby/example_code/ec2/ec2-ruby-example-reboot-instance-i-123abc.rb
  ruby/example_code/ec2/ec2-ruby-example-regions-availability-zones.rb
  ruby/example_code/ec2/metadata.yaml
  ruby/example_code/ec2/tests/test_ec2-ruby-example-create-security-group.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-key-pairs.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-list-state-instance-i-123abc.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-manage-instances.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-reboot-instance-i-123abc.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-regions-availability-zones.rb
Labels: Ruby

#1463 Fixed metadata for SNS code examples in Go v2
  gov2/sns/metadata.yaml
Labels: Go, bug

#1462 Fixed metadata for S3 code examples in Go v2
  gov2/s3/metadata.yaml
Labels: Go, bug

#1467 Updated test for dry run in EC2 code examples in go v2
  gov2/ec2/MonitorInstances/MonitorInstancesv2.go
  gov2/ec2/MonitorInstances/MonitorInstancesv2_test.go
  gov2/ec2/RebootInstances/RebootInstancesv2.go
  gov2/ec2/RebootInstances/RebootInstancesv2_test.go
  gov2/ec2/StartInstances/StartInstancesv2.go
  gov2/ec2/StartInstances/StartInstancesv2_test.go
  gov2/ec2/StopInstances/StopInstancesv2.go
  gov2/ec2/StopInstances/StopInstancesv2_test.go
Labels: Go

#1472 Cleaned up remaining Ruby code examples for Amazon EC2. Added READMEs
  ruby/example_code/README.md
  ruby/example_code/ec2/README.md
  ruby/example_code/ec2/ec2-ruby-example-manage-instances.rb
  ruby/example_code/ec2/ec2-ruby-example-security-group.rb
  ruby/example_code/ec2/ec2-ruby-example-start-instance-i-123abc.rb
  ruby/example_code/ec2/ec2-ruby-example-stop-instance-i-123abc.rb
  ruby/example_code/ec2/ec2-ruby-example-terminate-instance-i-123abc.rb
  ruby/example_code/ec2/metadata.yaml
  ruby/example_code/ec2/tests/test_ec2-ruby-example-security-group.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-start-instance-i-123abc.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-stop-instance-i-123abc.rb
  ruby/example_code/ec2/tests/test_ec2-ruby-example-terminate-instance-i-123abc.rb
  ruby/example_code/s3/README.md
Labels: Ruby

#1471 Added readmes to all Go v2 code examples
  gov2/cloudwatch/CreateCustomMetric/README.md
  gov2/cloudwatch/CreateEnableMetricAlarm/README.md
  gov2/cloudwatch/DescribeAlarms/README.md
  gov2/cloudwatch/DisableAlarm/README.md
  gov2/cloudwatch/ListMetrics/README.md
  gov2/cloudwatch/PutEvent/README.md
  gov2/dynamodb/DescribeTable/README.md
  gov2/ec2/CreateImage/README.md
  gov2/ec2/CreateInstance/README.md
  gov2/ec2/DescribeInstances/README.md
  gov2/ec2/MonitorInstances/README.md
  gov2/ec2/RebootInstances/README.md
  gov2/ec2/StartInstances/README.md
  gov2/ec2/StopInstances/README.md
  gov2/s3/CopyObject/README.md
  gov2/s3/CreateBucket/README.md
  gov2/s3/DeleteBucket/README.md
  gov2/s3/DeleteObject/README.md
  gov2/s3/GetBucketAcl/README.md
  gov2/s3/GetObjectAcl/README.md
  gov2/s3/ListBuckets/README.md
  gov2/s3/ListObjects/README.md
  gov2/s3/PutObject/README.md
  gov2/sns/CreateTopic/README.md
  gov2/sns/ListSubscriptions/README.md
  gov2/sns/ListTopics/README.md
  gov2/sns/Publish/README.md
  gov2/sns/Subscribe/README.md
  gov2/ssm/DeleteParameter/README.md
  gov2/ssm/GetParameter/README.md
  gov2/ssm/PutParameter/README.md
Labels: Go

#1479 Added KMS examples in Go v2
  gov2/kms/CreateKey/CreateKeyv2.go
  gov2/kms/CreateKey/CreateKeyv2_test.go
  gov2/kms/CreateKey/README.md
  gov2/kms/CreateKey/config.json
  gov2/kms/DecryptData/DecryptDatav2.go
  gov2/kms/DecryptData/DecryptDatav2_test.go
  gov2/kms/DecryptData/README.md
  gov2/kms/DecryptData/config.json
  gov2/kms/EncryptData/EncryptDatav2.go
  gov2/kms/EncryptData/EncryptDatav2_test.go
  gov2/kms/EncryptData/README.md
  gov2/kms/EncryptData/config.json
  gov2/kms/README.md
  gov2/kms/ReEncryptData/README.md
  gov2/kms/ReEncryptData/ReEncryptDatav2.go
  gov2/kms/ReEncryptData/ReEncryptDatav2_test.go
  gov2/kms/ReEncryptData/config.json
  gov2/kms/metadata.yaml
Labels: Go, on review

#1477 AWS IoT Greengrass code example snippets.
  python/README.md
  python/example_code/greengrass/.metadata.yaml
  python/example_code/greengrass/README.md
  python/example_code/greengrass/connector-cloudwatch-metrics-usage.py
  python/example_code/greengrass/connector-image-classification-usage.py
  python/example_code/greengrass/connector-kinesis-firehose-usage.py
  python/example_code/greengrass/connector-modbus-rtu-usage.py
  python/example_code/greengrass/connector-raspberrypi-gpio-usage.py
  python/example_code/greengrass/connector-serial-stream-usage.py
  python/example_code/greengrass/connector-servicenow-metricsbase-integration-usage.py
  python/example_code/greengrass/connector-sns-usage.py
  python/example_code/greengrass/connector-splunk-integration-usage.py
  python/example_code/greengrass/connector-twilio-notifications-usage.py
  python/example_code/greengrass/getting-started-connectors.py
  python/example_code/greengrass/getting-started-helloworld.py
  python/example_code/greengrass/getting-started-helloworldcounter.py
  python/example_code/greengrass/iot-data-client-boto3.py
  python/example_code/greengrass/iot-data-client-greengrasssdk.py
  python/example_code/greengrass/local-resource-access-volume.py
  python/example_code/greengrass/secret-resource-access-default-value.py
  python/example_code/greengrass/secret-resource-access-staging-label.py
  python/example_code/greengrass/secret-resource-access.py
  python/example_code/greengrass/snippets/connector_cloudwatch_metrics_usage.py
  python/example_code/greengrass/snippets/connector_image_classification_usage.py
  python/example_code/greengrass/snippets/connector_kinesis_firehose_usage.py
  python/example_code/greengrass/snippets/connector_modbus_rtu_usage.py
  python/example_code/greengrass/snippets/connector_raspberrypi_gpio_usage.py
  python/example_code/greengrass/snippets/connector_serial_stream_usage.py
  python/example_code/greengrass/snippets/connector_servicenow_metricsbase_integration_usage.py
  python/example_code/greengrass/snippets/connector_sns_usage.py
  python/example_code/greengrass/snippets/connector_splunk_integration_usage.py
  python/example_code/greengrass/snippets/connector_twilio_notifications_usage.py
  python/example_code/greengrass/snippets/getting_started_connectors.py
  python/example_code/greengrass/snippets/iot_data_client_boto3.py
  python/example_code/greengrass/snippets/iot_data_client_greengrasssdk.py
  python/example_code/greengrass/snippets/local_resource_access_volume.py
  python/example_code/greengrass/snippets/secret_resource_access.py
  python/example_code/greengrass/snippets/secret_resource_access_default_value.py
  python/example_code/greengrass/snippets/secret_resource_access_staging_label.py
  python/example_code/greengrass/test/test_greengrass_snippets.py
Labels: Python

#1481 AWS Certificate Manager (ACM) basic examples.
  python/README.md
  python/example_code/acm/.metadata.yaml
  python/example_code/acm/README.md
  python/example_code/acm/add_tags_to_certificate.py
  python/example_code/acm/certificate_basics.py
  python/example_code/acm/describe_certificate.py
  python/example_code/acm/get_certificate.py
  python/example_code/acm/list_certificates.py
  python/example_code/acm/list_certificates_all_key_types.py
  python/example_code/acm/list_tags_for_certificate.py
  python/example_code/acm/remove_tags_from_certificate.py
  python/example_code/acm/request_certificate_w_dns_validation.py
  python/example_code/acm/request_certificate_w_email_validation.py
  python/example_code/acm/resend_validation_email.py
  python/example_code/acm/test/conftest.py
  python/example_code/acm/test/test_certificate_basics.py
  python/test_tools/acm_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, on review

#1491 Ruby code examples for Amazon CloudWatch
  ruby/example_code/cloudwatch/cw-ruby-example-alarm-actions.rb
  ruby/example_code/cloudwatch/cw-ruby-example-alarm-basics.rb
  ruby/example_code/cloudwatch/cw-ruby-example-create-alarm.rb
  ruby/example_code/cloudwatch/cw-ruby-example-metrics-basics.rb
  ruby/example_code/cloudwatch/cw-ruby-example-send-events-ec2.rb
  ruby/example_code/cloudwatch/cw-ruby-example-show-alarms.rb
  ruby/example_code/cloudwatch/tests/test_cw-ruby-example-alarm-actions.rb
  ruby/example_code/cloudwatch/tests/test_cw-ruby-example-alarm-basics.rb
  ruby/example_code/cloudwatch/tests/test_cw-ruby-example-create-alarm.rb
  ruby/example_code/cloudwatch/tests/test_cw-ruby-example-metrics-basics.rb
  ruby/example_code/cloudwatch/tests/test_cw-ruby-example-send-events-ec2.rb
  ruby/example_code/cloudwatch/tests/test_cw-ruby-example-show-alarms.rb
Labels: Ruby

#1480 Added STS examples in Go v2
  gov2/sts/AssumeRole/AssumeRolev2.go
  gov2/sts/AssumeRole/AssumeRolev2_test.go
  gov2/sts/AssumeRole/README.md
  gov2/sts/AssumeRole/config.json
  gov2/sts/README.md
  gov2/sts/metadata.yaml
Labels: Go

#1494 Kinesis Data Streams and Kinesis Data Analytics usage examples and data generators
  python/README.md
  python/example_code/kda/kda-python-datagenerator-anomaly.py
  python/example_code/kda/kda-python-datagenerator-anomalyex.py
  python/example_code/kda/kda-python-datagenerator-columnlog.py
  python/example_code/kda/kda-python-datagenerator-hotspots.py
  python/example_code/kda/kda-python-datagenerator-referrer.py
  python/example_code/kda/kda-python-datagenerator-regexlog.py
  python/example_code/kda/kda-python-datagenerator-stagger.py
  python/example_code/kda/kda-python-datagenerator-stockticker.py
  python/example_code/kda/kda-python-datagenerator-tworecordtypes.py
  python/example_code/kda/kda-python-datagenerator-weblog.py
  python/example_code/kinesis/.metadata.yaml
  python/example_code/kinesis/README.md
  python/example_code/kinesis/analyticsv2/analytics_application.py
  python/example_code/kinesis/analyticsv2/example.sql
  python/example_code/kinesis/firehose/firehose_to_s3.py
  python/example_code/kinesis/firehose/kinesis_test_data.txt
  python/example_code/kinesis/firehose/kinesis_to_firehose_to_s3.py
  python/example_code/kinesis/kinesisanalyticsv2_demo.py
  python/example_code/kinesis/streams/dg_anomaly.py
  python/example_code/kinesis/streams/dg_anomalyex.py
  python/example_code/kinesis/streams/dg_columnlog.py
  python/example_code/kinesis/streams/dg_hotspots.py
  python/example_code/kinesis/streams/dg_referrer.py
  python/example_code/kinesis/streams/dg_regexlog.py
  python/example_code/kinesis/streams/dg_stagger.py
  python/example_code/kinesis/streams/dg_stockticker.py
  python/example_code/kinesis/streams/dg_tworecordtypes.py
  python/example_code/kinesis/streams/dg_weblog.py
  python/example_code/kinesis/streams/kinesis_stream.py
  python/example_code/kinesis/test/conftest.py
  python/example_code/kinesis/test/test_analytics_application.py
  python/example_code/kinesis/test/test_data_generators.py
  python/example_code/kinesis/test/test_kinesis_stream.py
  python/example_code/kinesisanalyticsv2/describe_application.py
  python/example_code/kinesisanalyticsv2/describe_application_snapshot.py
  python/example_code/kinesisanalyticsv2/stop_application.py
  python/test_tools/kinesis_analytics_v2_stubber.py
  python/test_tools/kinesis_stubber.py
  python/test_tools/stubber_factory.py
  scripts/checkin_tests.py
Labels: Python

#1498 Fixing S3 Copy Object Go SDK v1/v2 example to encode url
  go/example_code/s3/s3_copy_object.go
  go/s3/CopyObject/CopyObject.go
  gov2/s3/CopyObject/CopyObjectv2.go
  gov2/s3/CopyObject/CopyObjectv2_test.go
Labels: Go, bug
