Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-09, with the labels that each got.

#1334 redshift_js
  javascript/example_code_v3/redshift/metadata.yaml
  javascript/example_code_v3/redshift/redshift-create-cluster.js
  javascript/example_code_v3/redshift/redshift-delete-cluster.js
  javascript/example_code_v3/redshift/redshift-describe-clusters.js
  javascript/example_code_v3/redshift/redshift-modify-cluster.js
  javascript/example_code_v3/s3/metadata.yaml
  javascript/example_code_v3/s3/s3_putbucketpolicy.js
  javascript/example_code_v3/s3/s3_setcors.js
  javascript/example_code_v3/tests/redshift/redshift-create-cluster.test.js
  javascript/example_code_v3/tests/redshift/redshift-delete-cluster.test.js
  javascript/example_code_v3/tests/redshift/redshift-describe-clusters.test.js
  javascript/example_code_v3/tests/redshift/redshift-modify-cluster.test.js
  javascript/example_code_v3/tests/s3/s3_putbucketpolicy.test.js
  javascript/example_code_v3/tests/s3/s3_setcors.test.js
Labels: JavaScript

#1348 New AWS Organizations policy examples
  python/README.md
  python/example_code/organizations/README.md
  python/example_code/organizations/metadata.yaml
  python/example_code/organizations/organizations_policies.py
  python/example_code/organizations/test/conftest.py
  python/example_code/organizations/test/test_organizations_policies.py
  python/test_tools/metadata.yaml
  python/test_tools/organizations_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python

#1353 AWS Transcribe examples.
  python/README.md
  python/demo_tools/custom_waiter.py
  python/example_code/transcribe/GettingStarted.py
  python/example_code/transcribe/Jabberwocky.mp3
  python/example_code/transcribe/README.md
  python/example_code/transcribe/getting_started.py
  python/example_code/transcribe/jabber-vocabulary-table.txt
  python/example_code/transcribe/metadata.yaml
  python/example_code/transcribe/test/conftest.py
  python/example_code/transcribe/test/test_getting_started.py
  python/example_code/transcribe/test/test_transcribe_basics.py
  python/example_code/transcribe/transcribe_basics.py
  python/test_tools/stubber_factory.py
  python/test_tools/transcribe_stubber.py
Labels: Python

#1357 Removes 'aws' and 'amazon' from example names of AWS resources.
  python/example_code/dynamodb/batching/dynamo_batching.py
  python/example_code/ec2/ec2_basics/ec2_basics_demo.py
  python/example_code/emr/emr_usage_demo.py
  python/example_code/iam/iam_basics/policy_wrapper.py
  python/example_code/iam/iam_basics/role_wrapper.py
  python/example_code/iam/iam_basics/user_wrapper.py
  python/example_code/lambda/boto_client_examples/api_gateway_rest.py
  python/example_code/lambda/boto_client_examples/lambda_basics.py
  python/example_code/lambda/boto_client_examples/scheduled_lambda.py
  python/example_code/s3/s3_basics/test/test_object_wrapper.py
  python/example_code/s3/s3_versioning/batch_versioning.py
  python/example_code/s3/s3_versioning/versioning.py
  python/example_code/sts/sts_temporary_credentials/assume_role.py
  python/example_code/sts/sts_temporary_credentials/assume_role_mfa.py
  python/example_code/sts/sts_temporary_credentials/federated_url.py
  python/example_code/sts/sts_temporary_credentials/session_token.py
Labels: Python

#1359 Add a script that finds and runs tests on all testable Python modules.
  python/example_code/dynamodb/GettingStarted/test/test_dynamodb_getting_started.py
  python/example_code/dynamodb/batching/test/test_dynamo_batching.py
  python/example_code/dynamodb/metadata.yaml
  python/example_code/s3/s3_versioning/batch_versioning.py
  python/example_code/s3/s3_versioning/test/conftest.py
  python/example_code/s3/s3_versioning/test/test_batch_versioning.py
  python/example_code/transcribe/metadata.yaml
  python/example_code/transcribe/test/test_transcribe_getting_started.py
  python/test_tools/run_all_tests.py
Labels: Python

#1361 Test whether dot-prefixed folders are hidden in the catalog build
  python/example_code/transcribe/.media/Jabberwocky.mp3
  python/example_code/transcribe/.metadata.yaml
  python/example_code/transcribe/README.md
  python/example_code/transcribe/transcribe_basics.py
  scripts/cleanup_report.py
Labels: Python

#1355 Add Java V2 examples for Secrets Manager
  javav2/example_code/secretsmanager/Readme.md
  javav2/example_code/secretsmanager/metadata.yaml
  javav2/example_code/secretsmanager/pom.xml
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/CreateSecret.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/DeleteSecret.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/DescribeSecret.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/GetSecretValue.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/ListSecrets.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/UpdateSecret.java
  javav2/example_code/secretsmanager/src/main/resources/config.properties
  javav2/example_code/secretsmanager/src/test/java/SecretManagerIntegrationTest.java
Labels: Java

#1356 Cleaned up additional Ruby code examples for Amazon S3: session token, copy object, create bucket, create key pair, get encryption state
  ruby/example_code/s3/auth_session_token_request_test.rb
  ruby/example_code/s3/copy_object_between_buckets.rb
  ruby/example_code/s3/create_bucket_snippet.rb
  ruby/example_code/s3/create_rsa_keys.rb
  ruby/example_code/s3/determine_object_encryption_state.rb
  ruby/example_code/s3/metadata.yaml
  ruby/example_code/s3/tests/test_auth_session_token_request_test.rb
  ruby/example_code/s3/tests/test_copy_object_between_buckets.rb
  ruby/example_code/s3/tests/test_create_bucket_snippet.rb
  ruby/example_code/s3/tests/test_create_rsa_keys.rb
  ruby/example_code/s3/tests/test_determine_object_encryption_state.rb
Labels: Ruby

#1360 golang samples added for AWS SSM
  go/example_code/ssm/ssm_delete_parameter.go
  go/example_code/ssm/ssm_get_parameter.go
  go/example_code/ssm/ssm_put_parameter.go
  go/ssm/DeleteParameter/DeleteParameter.go
  go/ssm/DeleteParameter/DeleteParameter_test.go
  go/ssm/GetParameter/GetParameter.go
  go/ssm/GetParameter/GetParameter_test.go
  go/ssm/PutParameter/PutParameter.go
  go/ssm/PutParameter/PutParameter_test.go
Labels: Go, on review

#1362 Add AWS Glue Java V2 Code Examples
  javav2/example_code/glue/Readme.md
  javav2/example_code/glue/metadata.yaml
  javav2/example_code/glue/pom.xml
  javav2/example_code/glue/src/main/java/com/example/glue/CreateCrawler.java
  javav2/example_code/glue/src/main/java/com/example/glue/DeleteCrawler.java
  javav2/example_code/glue/src/main/java/com/example/glue/GetCrawler.java
  javav2/example_code/glue/src/main/java/com/example/glue/GetCrawlers.java
  javav2/example_code/glue/src/main/java/com/example/glue/GetDatabase.java
  javav2/example_code/glue/src/main/java/com/example/glue/GetDatabases.java
  javav2/example_code/glue/src/main/java/com/example/glue/GetJobRun.java
  javav2/example_code/glue/src/main/java/com/example/glue/GetJobs.java
  javav2/example_code/glue/src/main/java/com/example/glue/GetTable.java
  javav2/example_code/glue/src/main/java/com/example/glue/ListWorkflows.java
  javav2/example_code/glue/src/main/java/com/example/glue/SearchTables.java
  javav2/example_code/glue/src/main/java/com/example/glue/StartCrawler.java
  javav2/example_code/glue/src/main/resources/config.properties
  javav2/example_code/glue/src/test/java/GlueServiceIntegrationTest.java
  javav2/example_code/kms/src/main/resources/config.properties
  javav2/example_code/s3/src/main/java/com/example/s3/S3AsyncOps.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3AsyncStreamOps.java
Labels: Java

#1349 submitData app (JavaScript)
  javascript/example_code_v3/cross-services/submit-data-app/README.md
  javascript/example_code_v3/cross-services/submit-data-app/package.json
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoApp/add_data.ts
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoApp/error.html
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoApp/index.html
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoAppHelperFiles/convert-bucket-to-website.ts
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoAppHelperFiles/create-and-attach-policy.ts
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoAppHelperFiles/create-bucket.ts
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoAppHelperFiles/create-cognito-id-pool.ts
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoAppHelperFiles/create-table.ts
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoAppHelperFiles/update-table.ts
  javascript/example_code_v3/cross-services/submit-data-app/src/dynamoAppHelperFiles/upload_files_to_s3.ts
Labels: JavaScript

#1368 Amazon S3 code examples for Ruby: cleaned up copy object while encrypting, adding server-side encryption bucket policies, and encrypting objects with AES, AWS KMS, and an RSA private key. Also added tests.
  ruby/example_code/s3/copy_object_encrypt_copy.rb
  ruby/example_code/s3/metadata.yaml
  ruby/example_code/s3/s3_add_bucket_ssekms_encryption_policy.rb
  ruby/example_code/s3/s3_add_bucket_sses3_encryption_policy.rb
  ruby/example_code/s3/s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/s3_add_cspk_encrypt_item.rb
  ruby/example_code/s3/tests/test_copy_object_encrypt_copy.rb
  ruby/example_code/s3/tests/test_s3_add_bucket_ssekms_encryption_policy.rb
  ruby/example_code/s3/tests/test_s3_add_bucket_sses3_encryption_policy.rb
  ruby/example_code/s3/tests/test_s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/tests/test_s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/tests/test_s3_add_cspk_encrypt_item.rb
Labels: Ruby

#1369 Clean up and refactor Python subsection
  python/example_code/dynamodb/.metadata.yaml
  python/example_code/dynamodb/GettingStarted/README.md
  python/example_code/dynamodb/TryDax/README.md
  python/example_code/dynamodb/batching/README.md
  python/example_code/dynamodb/batching/test/test_dynamo_batching.py
  python/example_code/ec2/.metadata.yaml
  python/example_code/ec2/ec2_basics/README.md
  python/example_code/ec2/ec2_basics/test/test_ec2_instance_management.py
  python/example_code/ec2/ec2_basics/test/test_ec2_setup.py
  python/example_code/emr/.metadata.yaml
  python/example_code/emr/README.md
  python/example_code/emr/test/test_emr_usage_demo.py
  python/example_code/emr/test/test_install_libraries.py
  python/example_code/iam/.metadata.yaml
  python/example_code/iam/iam_basics/README.md
  python/example_code/lambda/.metadata.yaml
  python/example_code/lambda/boto_client_examples/README.md
  python/example_code/lambda/boto_client_examples/test/test_api_gateway_rest.py
  python/example_code/lambda/boto_client_examples/test/test_lambda_basics.py
  python/example_code/lambda/boto_client_examples/test/test_scheduled_lambda.py
  python/example_code/lambda/chalice_examples/lambda_rest/README.md
  python/example_code/lambda/chalice_examples/lambda_rest/test/test_covid_data.py
  python/example_code/organizations/.metadata.yaml
  python/example_code/s3/.metadata.yaml
  python/example_code/s3/file_transfer/README.md
  python/example_code/s3/s3_basics/ReadMe.md
  python/example_code/s3/s3_versioning/README.md
  python/example_code/s3/s3_versioning/test/test_batch_versioning.py
  python/example_code/s3/s3_versioning/test/test_versioning.py
  python/example_code/sqs/.metadata.yaml
  python/example_code/sqs/ReadMe.md
  python/example_code/sqs/test/test_queue_wrapper.py
  python/example_code/sts/.metadata.yaml
  python/example_code/sts/sts_temporary_credentials/README.md
  python/example_code/transcribe/README.md
  python/test_tools/example_stubber.py
  python/test_tools/fixtures/common.py
Labels: Python

#1358 Python samples for AWS SSM parameters added
  python/example_code/ssm/ssm_delete_parameter.py
  python/example_code/ssm/ssm_get_parameter.py
  python/example_code/ssm/ssm_put_parameter.py
Labels: Python

#1370 Amazon S3 code examples for Ruby: cleaned up decrypt objects, set default server-side encryption, and encypt objects server-side. Also added tests.
  ruby/example_code/s3/metadata.yaml
  ruby/example_code/s3/s3_add_default_sse_encryption.rb
  ruby/example_code/s3/s3_add_sseck_encrypt_item.rb
  ruby/example_code/s3/s3_add_ssekms_encrypt_item.rb
  ruby/example_code/s3/s3_add_sses3_encrypt_item.rb
  ruby/example_code/s3/s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/s3_get_cskms_decrypt_item.rb
  ruby/example_code/s3/s3_get_cspk_decrypt_item.rb
  ruby/example_code/s3/tests/test_s3_add_default_sse_encryption.rb
  ruby/example_code/s3/tests/test_s3_add_sseck_encrypt_item.rb
  ruby/example_code/s3/tests/test_s3_add_ssekms_encrypt_item.rb
  ruby/example_code/s3/tests/test_s3_add_sses3_encrypt_item.rb
  ruby/example_code/s3/tests/test_s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/tests/test_s3_get_cskms_decrypt_item.rb
  ruby/example_code/s3/tests/test_s3_get_cspk_decrypt_item.rb
Labels: Ruby

#1373 Ruby code examples for Amazon S3: cleaned up create AES key; added tests for create AES key, encrypt file uploads, get resource ACLs, set bucket CORs and static websites.
  ruby/example_code/s3/metadata.yaml
  ruby/example_code/s3/s3_create_AES_key.rb
  ruby/example_code/s3/tests/test_s3_create_AES_key.rb
  ruby/example_code/s3/tests/test_s3_encrypt_file_upload.rb
  ruby/example_code/s3/tests/test_s3_get_bucket_acls.rb
  ruby/example_code/s3/tests/test_s3_get_bucket_object_acls.rb
  ruby/example_code/s3/tests/test_s3_ruby_bucket_cors.rb
  ruby/example_code/s3/tests/test_s3_ruby_bucket_website.rb
Labels: Ruby

#1377 Update README.md
  javascript/example_code_v3/s3/src/README.md
Labels: JavaScript

#1383 Cleaned up Amazon S3 code examples for Ruby: create bucket, set ACLs and permissions, upload/download objects with RSA key pair. Also added tests.
  ruby/example_code/s3/metadata.yaml
  ruby/example_code/s3/s3-ruby-example-access-permissions.rb
  ruby/example_code/s3/s3-ruby-example-add-cspk-item.rb
  ruby/example_code/s3/s3-ruby-example-get-cspk-item.rb
  ruby/example_code/s3/s3_ruby_create_bucket.rb
  ruby/example_code/s3/s3_set_bucket_acls.rb
  ruby/example_code/s3/s3_set_bucket_object_acls.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-add-cspk-item.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-get-cspk-item.rb
  ruby/example_code/s3/tests/test_s3_ruby-example-access-permissions.rb
  ruby/example_code/s3/tests/test_s3_ruby_create_bucket.rb
  ruby/example_code/s3/tests/test_s3_set_bucket_acls.rb
  ruby/example_code/s3/tests/test_s3_set_bucket_object_acls.rb
Labels: Ruby

#1381 Check in GuardDuty V2 Java Examples
  javav2/README.rst
  javav2/example_code/guardduty/Readme.md
  javav2/example_code/guardduty/metadata.yaml
  javav2/example_code/guardduty/pom.xml
  javav2/example_code/guardduty/src/main/java/com/example/guardduty/GetDetector.java
  javav2/example_code/guardduty/src/main/java/com/example/guardduty/GetFindings.java
  javav2/example_code/guardduty/src/main/java/com/example/guardduty/ListDetectors.java
  javav2/example_code/guardduty/src/main/resources/config.properties
  javav2/example_code/guardduty/src/test/java/GuarddutyTest.java
  javav2/usecases/creating_dynamodb_web_app/Readme.md
  javav2/usecases/creating_first_project/Readme.md
  javav2/usecases/creating_message_application/Readme.md
  javav2/usecases/creating_photo_analyzer_app/Readme.md
  javav2/usecases/creating_secure_spring_app/Readme.md
  javav2/usecases/creating_workflows_stepfunctions/Readme.md
  metadata.yaml
Labels: Java, on review

#1386 Add Route53 Java V2 Code Examples
  javav2/example_code/route53/Readme.md
  javav2/example_code/route53/metadata.yaml
  javav2/example_code/route53/pom.xml
  javav2/example_code/route53/src/main/java/com/example/route/CreateHealthCheck.java
  javav2/example_code/route53/src/main/java/com/example/route/CreateHostedZone.java
  javav2/example_code/route53/src/main/java/com/example/route/DeleteHealthCheck.java
  javav2/example_code/route53/src/main/java/com/example/route/DeleteHostedZone.java
  javav2/example_code/route53/src/main/java/com/example/route/GetHealthCheckStatus.java
  javav2/example_code/route53/src/main/java/com/example/route/ListHealthChecks.java
  javav2/example_code/route53/src/main/java/com/example/route/ListHostedZones.java
  javav2/example_code/route53/src/main/java/com/example/route/UpdateHealthCheck.java
  javav2/example_code/route53/src/main/resources/config.properties
  javav2/example_code/route53/src/test/java/Route53Test.java
Labels: Java
