Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-04, with the labels that each got.

#1055 Add new enhanced client API for DynamoDB API
  javav2/example_code/dynamodb/pom.xml
  javav2/example_code/dynamodb/src/main/java/com/example/enhanced/dynamodb/BatchWriteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/enhanced/dynamodb/CreateTable.java
  javav2/example_code/dynamodb/src/main/java/com/example/enhanced/dynamodb/DynamoDBMappingGetItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/enhanced/dynamodb/DynamoDBMappingPutItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/enhanced/dynamodb/QueryRecords.java
  javav2/example_code/dynamodb/src/main/java/com/example/enhanced/dynamodb/QueryRecordsWithFilter.java
  javav2/example_code/dynamodb/src/main/java/com/example/enhanced/dynamodb/ScanRecords.java
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlAndUploadObject.java
Labels: Java

#1062 Update s3-deleting-multi-objects-versioned.php
  php/example_code/s3/s3-deleting-multi-objects-versioned.php
Labels: PHP

#1065 Update CopyObject.java
  javav2/example_code/s3/src/main/java/com/example/s3/CopyObject.java
Labels: Java

#1066 dotnet: removing low-pri example confirmed unused by doc writer
  dotnet/example_code_legacy/PinpointEmail/pinpoint_send_email_message_email_api.cs
  dotnet/metadata.yaml
Labels: .NET

#1047 Updated CloudWatch examples in go
  .gitignore
  go/Readme.md
  go/cloudwatch/CreateCustomMetric/CreateCustomMetric.go
  go/cloudwatch/CreateCustomMetric/CreateCustomMetric_test.go
  go/cloudwatch/CreateCustomMetric/config.json
  go/cloudwatch/CreateRole/CreateRole.go
  go/cloudwatch/CreateRole/CreateRole_test.go
  go/cloudwatch/CreateRole/config.json
  go/cloudwatch/CreateRule/CreateRule.go
  go/cloudwatch/CreateRule/CreateRule_test.go
  go/cloudwatch/CreateRule/config.json
  go/cloudwatch/CreateTarget/CreateTarget.go
  go/cloudwatch/CreateTarget/CreateTarget_test.go
  go/cloudwatch/CreateTarget/config.json
  go/cloudwatch/DeleteAlarm/DeleteAlarm.go
  go/cloudwatch/DeleteAlarm/DeleteAlarm_test.go
  go/cloudwatch/DeleteAlarm/config.json
  go/cloudwatch/DescribeAlarms/DescribeAlarms.go
  go/cloudwatch/DescribeAlarms/DescribeAlarms_test.go
  go/cloudwatch/DisableAlarm/DisableAlarm.go
  go/cloudwatch/DisableAlarm/DisableAlarm_test.go
  go/cloudwatch/DisableAlarm/config.json
  go/cloudwatch/EnableAlarm/EnableAlarm.go
  go/cloudwatch/EnableAlarm/EnableAlarm_test.go
  go/cloudwatch/EnableAlarm/config.json
  go/cloudwatch/GetLogEvents/GetLogEvents.go
  go/cloudwatch/GetLogEvents/GetLogEvents_test.go
  go/cloudwatch/GetLogEvents/config.json
  go/cloudwatch/Lambda/main.go
  go/cloudwatch/Lambda/packageLambda.bat
  go/cloudwatch/Lambda/packageLambda.sh
  go/cloudwatch/ListMetrics/ListMetrics.go
  go/cloudwatch/ListMetrics/ListMetrics_test.go
  go/cloudwatch/README.md
  go/cloudwatch/SendEvent/SendEvent.go
  go/cloudwatch/SendEvent/SendEvent_test.go
  go/cloudwatch/SendEvent/config.json
  go/cloudwatch/SendEvent/event.json
  go/cloudwatch/UploadLambdaFunction/UploadLambdaFunction.go
  go/cloudwatch/UploadLambdaFunction/UploadLambdaFunction_test.go
  go/cloudwatch/UploadLambdaFunction/config.json
  go/cloudwatch/metadata.yaml
Labels: Go, on review

#1080 Check in refactored CloudWatch Java examples
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/DeleteAlarm.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/DeleteSubscriptionFilter.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/DescribeAlarms.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/DescribeSubscriptionFilters.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/DisableAlarmActions.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/EnableAlarmActions.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/GetLogEvents.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/GetMetricData.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/ListMetrics.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutEvents.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutLogEvents.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutMetricAlarm.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutMetricData.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutRule.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutSubscriptionFilter.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutTargets.java
  javav2/example_code/cloudwatch/src/test/java/CloudWatchServiceIntegrationTest.java
  javav2/example_code/kinesis/src/main/java/com/example/kinesis/ClientConfiguration.java
Labels: Java

#1074 First batch of S3 examples in Go with unit tests.
  go/s3/CopyObject/CopyObject.go
  go/s3/CopyObject/CopyObject_test.go
  go/s3/CopyObject/config.json
  go/s3/CopyObject/test.txt
  go/s3/CreateBucket/CreateBucket.go
  go/s3/CreateBucket/CreateBucket_test.go
  go/s3/CreateBucket/config.json
  go/s3/CreateBucketAndObject/CreateBucketAndObject.go
  go/s3/CreateBucketAndObject/CreateBucketAndObject_test.go
  go/s3/CreateBucketAndObject/config.json
  go/s3/DeleteBucket/DeleteBucket.go
  go/s3/DeleteBucket/DeleteBucket_test.go
  go/s3/DeleteBucket/config.json
  go/s3/DeleteObject/DeleteObject.go
  go/s3/DeleteObject/DeleteObject_test.go
  go/s3/DeleteObject/config.json
  go/s3/DeleteObject/test.txt
  go/s3/DeleteObjects/DeleteObjects.go
  go/s3/DeleteObjects/DeleteObjects_test.go
  go/s3/DeleteObjects/config.json
  go/s3/DeleteObjects/test1.txt
  go/s3/DeleteObjects/test2.txt
  go/s3/DownloadObject/DownloadObject.go
  go/s3/DownloadObject/DownloadObject_test.go
  go/s3/DownloadObject/config.json
  go/s3/DownloadObject/dummy.txt
  go/s3/ListBuckets/ListBuckets.go
  go/s3/ListBuckets/ListBuckets_test.go
  go/s3/ListObjects/ListObjects.go
  go/s3/ListObjects/ListObjects_test.go
  go/s3/PutObjectWithSetters/PutObjectWithSetters.go
  go/s3/PutObjectWithSetters/PutObjectWithSetters_test.go
  go/s3/PutObjectWithSetters/config.json
  go/s3/PutObjectWithSetters/dummy.txt
  go/s3/RestoreObject/RestoreObject.go
  go/s3/RestoreObject/RestoreObject_test.go
  go/s3/RestoreObject/config.json
  go/s3/UploadDirectory/UploadDirectory.go
  go/s3/UploadDirectory/UploadDirectory_test.go
  go/s3/UploadDirectory/config.json
  go/s3/UploadDirectory/dummy/dummy.txt
  go/s3/UploadObject/UploadObject.go
  go/s3/UploadObject/UploadObject_test.go
  go/s3/UploadObject/config.json
  go/s3/UploadObject/test.txt
  go/s3/UploadStream/UploadStream.go
  go/s3/UploadStream/UploadStream_test.go
  go/s3/UploadStream/config.json
  go/s3/UploadStream/test.txt
Labels: Go

#1075 Updated DynamoDB UpdateItem example in Go
  go/dynamodb/README.md
  go/dynamodb/UpdateItem/UpdateItem.go
  go/dynamodb/UpdateItem/UpdateItem_test.go
  go/dynamodb/UpdateItem/config.json
  go/dynamodb/metadata.yaml
Labels: Go

#1083 Fixed metadata for CloudWatch examples in Go
  go/cloudwatch/metadata.yaml
Labels: Go

#1078 Full cleanup and unit tests for Python S3 legacy code examples.
  python/example_code/s3/ReadMe.md
  python/example_code/s3/__init__.py
  python/example_code/s3/bucket_exists.py
  python/example_code/s3/bucket_wrapper.py
  python/example_code/s3/copy_object.py
  python/example_code/s3/create_bucket.py
  python/example_code/s3/delete_bucket.py
  python/example_code/s3/delete_bucket_lifecycle_configuration.py
  python/example_code/s3/delete_object.py
  python/example_code/s3/delete_objects.py
  python/example_code/s3/demo_bucket_basics.py
  python/example_code/s3/file_transfer/README.md
  python/example_code/s3/file_transfer/README.rst
  python/example_code/s3/file_transfer/__init__.py
  python/example_code/s3/file_transfer/demo_file_transfer.py
  python/example_code/s3/file_transfer/file_transfer.py
  python/example_code/s3/file_transfer/test/conftest.py
  python/example_code/s3/file_transfer/test/test_file_transfer.py
  python/example_code/s3/generate_presigned_post.py
  python/example_code/s3/generate_presigned_url.py
  python/example_code/s3/get_bucket_acl.py
  python/example_code/s3/get_bucket_cors.py
  python/example_code/s3/get_bucket_lifecycle_configuration.py
  python/example_code/s3/get_object.py
  python/example_code/s3/get_object_acl.py
  python/example_code/s3/list_objects.py
  python/example_code/s3/metadata.yaml
  python/example_code/s3/object_wrapper.py
  python/example_code/s3/put_bucket_acl.py
  python/example_code/s3/put_bucket_lifecyle_configuration.py
  python/example_code/s3/put_object.py
  python/example_code/s3/put_object_acl.py
  python/example_code/s3/restore_object.py
  python/example_code/s3/s3-python-example-create-bucket.py
  python/example_code/s3/s3-python-example-delete-bucket-policy.py
  python/example_code/s3/s3-python-example-delete-bucket-website.py
  python/example_code/s3/s3-python-example-download-file.py
  python/example_code/s3/s3-python-example-get-bucket-acl.py
  python/example_code/s3/s3-python-example-get-bucket-cors.py
  python/example_code/s3/s3-python-example-get-bucket-policy.py
  python/example_code/s3/s3-python-example-get-bucket-website.py
  python/example_code/s3/s3-python-example-list-bucket-tags.py
  python/example_code/s3/s3-python-example-list-buckets.py
  python/example_code/s3/s3-python-example-put-bucket-cors.py
  python/example_code/s3/s3-python-example-put-bucket-policy.py
  python/example_code/s3/s3-python-example-put-bucket-website.py
  python/example_code/s3/s3-python-example-upload-file.py
  python/example_code/s3/test/conftest.py
  python/example_code/s3/test/s3_stub_funcs.py
  python/example_code/s3/test/test_bucket_wrapper.py
  python/example_code/s3/test/test_demo_bucket_basics.py
  python/example_code/s3/test/test_object_wrapper.py
  python/example_code/s3/upload_file.py
  scripts/checkin_tests.py
Labels: Python

#1082 Converted final batch of S3 examples in Go to new model
  go/s3/DeleteBucketPolicy/DeleteBucketPolicy.go
  go/s3/DeleteBucketPolicy/DeleteBucketPolicy_test.go
  go/s3/DeleteBucketPolicy/config.json
  go/s3/DeleteBucketWebsite/DeleteBucketWebsite.go
  go/s3/DeleteBucketWebsite/DeleteBucketWebsite_test.go
  go/s3/DeleteBucketWebsite/config.json
  go/s3/EncryptOnServerWithKms/EncryptOnServerWithKms.go
  go/s3/EncryptOnServerWithKms/EncryptOnServerWithKms_test.go
  go/s3/EncryptOnServerWithKms/config.json
  go/s3/EncryptOnServerWithKms/test.txt
  go/s3/EnforceMD5/EnforceMD5Content.go
  go/s3/EnforceMD5/EnforceMD5Content_test.go
  go/s3/EnforceMD5/config.json
  go/s3/GeneratePresignedURL/GeneratePresignedURL.go
  go/s3/GeneratePresignedURL/GeneratePresignedURL_test.go
  go/s3/GeneratePresignedURL/config.json
  go/s3/GeneratePresignedURL/test.txt
  go/s3/GeneratePresignedURLSpecificPayload/GeneratePresignedURLSpecificPayload.go
  go/s3/GeneratePresignedURLSpecificPayload/GeneratePresignedURLSpecificPayload_test.go
  go/s3/GeneratePresignedURLSpecificPayload/config.json
  go/s3/GeneratePresignedURLSpecificPayload/test.txt
  go/s3/GetBucketAcl/GetBucketAcl.go
  go/s3/GetBucketAcl/GetBucketAcl_test.go
  go/s3/GetBucketAcl/config.json
  go/s3/GetBucketPolicy/GetBucketPolicy.go
  go/s3/GetBucketPolicy/GetBucketPolicy_test.go
  go/s3/GetBucketPolicy/config.json
  go/s3/GetBucketWebsite/GetBucketWebsite.go
  go/s3/GetBucketWebsite/GetBucketWebsite_test.go
  go/s3/GetBucketWebsite/config.json
  go/s3/GetObjectAcl/GetObjectAcl.go
  go/s3/GetObjectAcl/GetObjectAcl_test.go
  go/s3/GetObjectAcl/config.json
  go/s3/GetObjectAcl/test.txt
  go/s3/MakeBucketPublic/MakeBucketPublic.go
  go/s3/MakeBucketPublic/MakeBucketPublic_test.go
  go/s3/MakeBucketPublic/config.json
  go/s3/PutBucketAcl/PutBucketAcl.go
  go/s3/PutBucketAcl/PutBucketAcl_test.go
  go/s3/PutBucketAcl/config.json
  go/s3/PutObjectAcl/PutObjectAcl.go
  go/s3/PutObjectAcl/PutObjectAcl_test.go
  go/s3/PutObjectAcl/config.json
  go/s3/PutObjectAcl/test.txt
  go/s3/RequireServerEncryption/RequireServerEncryption.go
  go/s3/RequireServerEncryption/RequireServerEncryption_test.go
  go/s3/RequireServerEncryption/config.json
  go/s3/SetBucketPolicy/SetBucketPolicy.go
  go/s3/SetBucketPolicy/SetBucketPolicy_test.go
  go/s3/SetBucketPolicy/config.json
  go/s3/SetBucketWebsite/SetBucketWebsite.go
  go/s3/SetBucketWebsite/SetBucketWebsite_test.go
  go/s3/SetBucketWebsite/config.json
  go/s3/SetCors/SetCors.go
  go/s3/SetCors/SetCors_test.go
  go/s3/SetCors/config.json
  go/s3/SetDefaultEncryption/SetDefaultEncryption.go
  go/s3/SetDefaultEncryption/SetDefaultEncryption_test.go
  go/s3/SetDefaultEncryption/config.json
Labels: Go

#1095 Create rds_copy_snapshot_to_s3.go
  go/example_code/rds/rds_copy_snapshot_to_s3.go
Labels: Go, on review

#1096 Updated S3 examples in Go
  go/s3/DownloadObject/DownloadObject.go
  go/s3/EnforceMD5/EnforceMD5Content.go
  go/s3/GetBucketWebsite/GetBucketWebsite.go
  go/s3/ListObjects/ListObjects.go
  go/s3/MakeBucketPublic/MakeBucketPublic.go
  go/s3/PutBucketAcl/PutBucketAcl.go
  go/s3/README.md
  go/s3/UploadObject/UploadObject.go
  go/s3/metadata.yaml
Labels: Go

#1100 Fixed Lambda metadata reference in CloudWatch example in Go
  go/cloudwatch/metadata.yaml
Labels: Go, on review

#1109 Updated S3 CRUD example in Go to use mocked objects in unit test
  go/s3/CRUD/S3CrudOps.go
  go/s3/CRUD/S3CrudOps_test.go
  go/s3/CRUD/config.json
  go/s3/README.md
  go/s3/metadata.yaml
Labels: Go

#1104 Brmur update photo ex
  javascript/example_code/s3/s3_PhotoViewer.js
  javascript/example_code/s3/s3_photoExample.html
  javascript/example_code/s3/s3_presignedURL.js
Labels: JavaScript, on review

#1102 PHP code examples and unit tests for API Gateway, CloudFront, and S3
  php/example_code/README.md
  php/example_code/README.rst
  php/example_code/apigateway/Get_BasePathmapping.php
  php/example_code/apigateway/List_BasePathmapping.php
  php/example_code/apigateway/Update_BasePathmapping.php
  php/example_code/apigateway/metadata.yaml
  php/example_code/apigateway/phpunit.xml
  php/example_code/apigateway/tests/Get_BasePathmappingTest.php
  php/example_code/apigateway/tests/List_BasePathmappingTest.php
  php/example_code/apigateway/tests/Update_BasePathmappingTest.php
  php/example_code/cloudfront/CreateDistributionS3.php
  php/example_code/cloudfront/metadata.yaml
  php/example_code/cloudfront/phpunit.xml
  php/example_code/cloudfront/tests/CreateDistributionS3Test.php
  php/example_code/s3/CreateBucket.php
  php/example_code/s3/metadata.yaml
  php/example_code/s3/metadata.yml
  php/example_code/s3/phpunit.xml
  php/example_code/s3/tests/CreateBucketTest.php
Labels: PHP

#1114 Update Amazon Cognito Java2 Code examples
  javav2/example_code/cognito/Readme.md
  javav2/example_code/cognito/metadata.yaml
  javav2/example_code/cognito/pom.xml
  javav2/example_code/cognito/src/main/java/com/example/cognito/AddLoginProvider.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateAdminUser.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateIdentityPool.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateUserPool.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateUserPoolClient.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/DeleteUserPool.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/GetId.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/GetIdentityCredentials.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/ListUserPoolClients.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/ListUserPools.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/ListUsers.java
  javav2/example_code/cognito/src/main/resources/config.properties
  javav2/example_code/cognito/src/test/java/CognitoServiceIntegrationTest.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedBatchWriteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedGetItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedQueryRecords.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedQueryRecordsWithFilter.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedScanRecords.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedTableSchema.java
Labels: Java

#1119 Update the EC2 Java v2 examples
  javav2/example_code/ec2/src/main/java/com/example/ec2/AllocateAddress.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateKeyPair.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateSecurityGroup.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteKeyPair.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteSecurityGroup.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeAccount.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeAddresses.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeKeyPairs.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeRegionsAndZones.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeReservedInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeSecurityGroups.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeVPCs.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/FindRunningInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/MonitorInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/RebootInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/ReleaseAddress.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/StartStopInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/TerminateInstance.java
  javav2/example_code/ec2/src/test/java/AWSEC2ServiceIntegrationTest.java
Labels: Java

#1129 Fixed or added metadata in Go
  go/cloudtrail/metadata.yaml
  go/example_code/cloudformation/metadata.yaml
  go/example_code/s3/delete-buckets-by-prefix/metadata.yaml
  go/sqs/metadata.yaml
Labels: Go

#1108 dotnet: new code example Getting Started
  dotnet/Getting_Started_VS/Getting-Started-VS.sln
  dotnet/Getting_Started_VS/Getting-Started-VS/Getting-Started-VS.csproj
  dotnet/Getting_Started_VS/Getting-Started-VS/Program.cs
  dotnet/Getting_Started_VS/Getting_Started_VS_Tests/Getting_Started_VS_Tests.csproj
  dotnet/Getting_Started_VS/Getting_Started_VS_Tests/ProgramTests.cs
  dotnet/Getting_Started_VS/README.md
  dotnet/metadata.yaml
Labels: .NET

#1137 Add Glacier Java v2 Examples
  javav2/example_code/glacier/Readme.md
  javav2/example_code/glacier/metadata.yaml
  javav2/example_code/glacier/pom.xml
  javav2/example_code/glacier/src/main/java/com/example/glacier/ArchiveDownload.java
  javav2/example_code/glacier/src/main/java/com/example/glacier/CreateVault.java
  javav2/example_code/glacier/src/main/java/com/example/glacier/DeleteArchive.java
  javav2/example_code/glacier/src/main/java/com/example/glacier/DeleteVault.java
  javav2/example_code/glacier/src/main/java/com/example/glacier/DescribeVault.java
  javav2/example_code/glacier/src/main/java/com/example/glacier/ListVaults.java
  javav2/example_code/glacier/src/main/java/com/example/glacier/UploadArchive.java
  javav2/example_code/glacier/src/main/resources/config.properties
  javav2/example_code/glacier/src/test/java/AWSGlacierServiceIntegrationTest.java
Labels: Java

#1134 S3 refactor and new usage demo
  python/example_code/s3/file_transfer/test/conftest.py
  python/example_code/s3/file_transfer/test/test_file_transfer.py
  python/example_code/s3/metadata.yaml
  python/example_code/s3/s3_basics/ReadMe.md
  python/example_code/s3/s3_basics/bucket_wrapper.py
  python/example_code/s3/s3_basics/demo_bucket_basics.py
  python/example_code/s3/s3_basics/object_wrapper.py
  python/example_code/s3/s3_basics/test/conftest.py
  python/example_code/s3/s3_basics/test/test_bucket_wrapper.py
  python/example_code/s3/s3_basics/test/test_demo_bucket_basics.py
  python/example_code/s3/s3_basics/test/test_object_wrapper.py
  python/example_code/s3/test/conftest.py
  python/example_code/s3/test/s3_stub_funcs.py
  python/test_tools/fixtures/common.py
  python/test_tools/s3_stubber.py
Labels: Python

#1141 Update EC2 Java V2 files
  javav2/example_code/ec2/metadata.yaml
  javav2/example_code/ec2/src/main/java/com/example/ec2/AllocateAddress.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateKeyPair.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateSecurityGroup.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteKeyPair.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteSecurityGroup.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeAccount.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeAddresses.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeKeyPairs.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeRegionsAndZones.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeReservedInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeSecurityGroups.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeVPCs.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/FindRunningInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/MonitorInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/RebootInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/ReleaseAddress.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/StartStopInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/TerminateInstance.java
  javav2/example_code/ec2/src/test/java/AWSEC2ServiceIntegrationTest.java
Labels: Java

#1135 PHP code example updates for Amazon CloudFront
  php/example_code/cloudfront/CreateDistributionS3.php
  php/example_code/cloudfront/CreateInvalidation.php
  php/example_code/cloudfront/DeleteDistribution.php
  php/example_code/cloudfront/DisableDistributionS3.php
  php/example_code/cloudfront/GetDistribution.php
  php/example_code/cloudfront/GetInvalidation.php
  php/example_code/cloudfront/ListDistributions.php
  php/example_code/cloudfront/ListInvalidations.php
  php/example_code/cloudfront/metadata.yaml
  php/example_code/cloudfront/phpunit.xml
  php/example_code/cloudfront/tests/CreateDistributionS3Test.php
  php/example_code/cloudfront/tests/CreateInvalidationTest.php
  php/example_code/cloudfront/tests/DeleteDistributionTest.php
  php/example_code/cloudfront/tests/DisableDistributionS3Test.php
  php/example_code/cloudfront/tests/GetDistributionTest.php
  php/example_code/cloudfront/tests/GetInvalidationTest.php
  php/example_code/cloudfront/tests/ListDistributionsTest.php
  php/example_code/cloudfront/tests/ListInvalidationsTest.php
Labels: PHP
