Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-02, with the labels that each got.

#949 Added IoT thing performance code example for use in AWS IoT SiteWise tutorial
  python/example_code/iot/thing_performance.py
Labels: Python

#957 Added missing sourcetype tags; updated 'snippet' to 'full-example'
  go/example_code/costexplorer/get_cost_and_usage.go
  go/example_code/ec2/get_console_output.go
  go/example_code/extending_sdk/ecs/update_deployment_with_setters.go
  go/example_code/extending_sdk/request_context.go
  go/example_code/s3/s3_upload_directory.go
Labels: Go

#958 Updated sourcetype tags to 'full-example'
  ruby/example_code/s3/create_bucket_snippet.rb
  ruby/example_code/s3/upload_object_presigned_url.rb
Labels: Ruby

#987 Fixed a syntax error
  java/example_code/pinpoint-sms-voice/pinpoint_send_voice_message_sms_voice_api.java
Labels: Java

#998 Dougsch add go cfn crud
  go/example_code/cloudformation/CfnCreateStack.go
  go/example_code/cloudformation/CfnCrudOps.go
  go/example_code/cloudformation/CfnCrudOps_test.go
  go/example_code/cloudformation/CfnDeleteStack.go
  go/example_code/cloudformation/CfnListStacks.go
  go/example_code/cloudformation/README.md
  go/example_code/cloudformation/config.json
  go/example_code/cloudformation/metadata.yaml
  go/example_code/cloudformation/template.json
Labels: Go, recently completed

#993 DynamoDBCreateItem example refinement.
  go/example_code/dynamodb/DynamoDBCreateItem.go
Labels: Go

#964 Go example that removes all S3 buckets with given prefix
  go/example_code/s3/delete-buckets-by-prefix/README.md
  go/example_code/s3/delete-buckets-by-prefix/metadata.yaml
  go/example_code/s3/delete-buckets-by-prefix/s3_delete_buckets.go
  go/example_code/s3/delete-buckets-by-prefix/s3_delete_buckets_test.go
Labels: Go

#999 Added required minimum documentation and a bunch of refactoring
  aws-cli/README.md
  aws-cli/README.rst
  aws-cli/bash-linux/README.md
  aws-cli/bash-linux/README.rst
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/README.md
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/README.rst
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/bucket-operations-test.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/bucket-operations.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/general.sh
  aws-cli/bash-linux/s3/metadata.yaml
Labels: CLI, on review, shell script

#1017 Fixed DynamoDB CreateTable example in Go
  go/example_code/dynamodb/DynamoDBCreateTable.go
Labels: Go, on review
