Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-07, with the labels that each got.

#1249 Adding unit tests for C++ for half of the current Amazon S3 code examples
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/copy_object.cpp
  cpp/example_code/s3/create_bucket.cpp
  cpp/example_code/s3/delete_bucket.cpp
  cpp/example_code/s3/delete_bucket_policy.cpp
  cpp/example_code/s3/delete_object.cpp
  cpp/example_code/s3/delete_website_config.cpp
  cpp/example_code/s3/get_acl.cpp
  cpp/example_code/s3/get_bucket_policy.cpp
  cpp/example_code/s3/get_object.cpp
  cpp/example_code/s3/get_put_bucket_acl.cpp
  cpp/example_code/s3/get_put_object_acl.cpp
  cpp/example_code/s3/metadata.yaml
  cpp/example_code/s3/tests/test_copy_object.cpp
  cpp/example_code/s3/tests/test_create_bucket.cpp
  cpp/example_code/s3/tests/test_delete_bucket.cpp
  cpp/example_code/s3/tests/test_delete_bucket_policy.cpp
  cpp/example_code/s3/tests/test_delete_object.cpp
  cpp/example_code/s3/tests/test_delete_website_config.cpp
  cpp/example_code/s3/tests/test_get_acl.cpp
  cpp/example_code/s3/tests/test_get_bucket_policy.cpp
  cpp/example_code/s3/tests/test_get_object.cpp
  cpp/example_code/s3/tests/test_get_put_bucket_acl.cpp
  cpp/example_code/s3/tests/test_get_put_object_acl.cpp
  cpp/example_code/s3/tests/test_get_website_config.cpp
  cpp/example_code/s3/tests/test_list_buckets.cpp
  cpp/example_code/s3/tests/test_list_buckets_disabling_dns_cache.cpp
  cpp/example_code/s3/tests/test_list_objects.cpp
  cpp/example_code/s3/tests/test_list_objects_with_aws_global_region.cpp
  cpp/example_code/s3/tests/test_put_bucket_policy.cpp
  cpp/example_code/s3/tests/test_put_object.cpp
  cpp/example_code/s3/tests/test_put_object_async.cpp
  cpp/example_code/s3/tests/test_put_object_buffer.cpp
  cpp/example_code/s3/tests/test_put_website_config.cpp
  cpp/example_code/s3/tests/test_s3-demo.cpp
Labels: C++

#1254 Updated .NET example to include info on exception when bucket or object does not exist
  dotnet/example_code_legacy/S3/S3Examples/GetObjectTest.cs
Labels: .NET, code example request

#1253 Added 'using Amazon' to S3 C# code example
  dotnet/example_code_legacy/S3/S3Examples/UploadObjectUsingPresignedURLTest.cs
Labels: .NET, bug

#1264 Resubmitting PR 1249.
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/copy_object.cpp
  cpp/example_code/s3/create_bucket.cpp
  cpp/example_code/s3/delete_bucket.cpp
  cpp/example_code/s3/delete_bucket_policy.cpp
  cpp/example_code/s3/delete_object.cpp
  cpp/example_code/s3/delete_website_config.cpp
  cpp/example_code/s3/get_acl.cpp
  cpp/example_code/s3/get_bucket_policy.cpp
  cpp/example_code/s3/get_object.cpp
  cpp/example_code/s3/get_put_bucket_acl.cpp
  cpp/example_code/s3/get_put_object_acl.cpp
  cpp/example_code/s3/include/awsdoc/s3/S3_EXPORTS.h
  cpp/example_code/s3/metadata.yaml
  cpp/example_code/s3/tests/test_copy_object.cpp
  cpp/example_code/s3/tests/test_create_bucket.cpp
  cpp/example_code/s3/tests/test_delete_bucket.cpp
  cpp/example_code/s3/tests/test_delete_bucket_policy.cpp
  cpp/example_code/s3/tests/test_delete_object.cpp
  cpp/example_code/s3/tests/test_delete_website_config.cpp
  cpp/example_code/s3/tests/test_get_acl.cpp
  cpp/example_code/s3/tests/test_get_bucket_policy.cpp
  cpp/example_code/s3/tests/test_get_object.cpp
  cpp/example_code/s3/tests/test_get_put_bucket_acl.cpp
  cpp/example_code/s3/tests/test_get_put_object_acl.cpp
  cpp/example_code/s3/tests/test_get_website_config.cpp
  cpp/example_code/s3/tests/test_list_buckets.cpp
  cpp/example_code/s3/tests/test_list_buckets_disabling_dns_cache.cpp
  cpp/example_code/s3/tests/test_list_objects.cpp
  cpp/example_code/s3/tests/test_list_objects_with_aws_global_region.cpp
  cpp/example_code/s3/tests/test_put_bucket_policy.cpp
  cpp/example_code/s3/tests/test_put_object.cpp
  cpp/example_code/s3/tests/test_put_object_async.cpp
  cpp/example_code/s3/tests/test_put_object_buffer.cpp
  cpp/example_code/s3/tests/test_put_website_config.cpp
  cpp/example_code/s3/tests/test_s3-demo.cpp
Labels: C++

#1260 Added missing 'using Amazon;' statement
  dotnet/example_code_legacy/ACM/DescribeCertificate/DescribeCertificate.cs
  dotnet/example_code_legacy/ACM/ListCertificates/ListCertificates.cs
  dotnet/example_code_legacy/Rekognition/AwsRekognitionSample1/Program.cs
  dotnet/example_code_legacy/S3/S3Examples/AbortMPUUsingHighLevelAPITest.cs
  dotnet/example_code_legacy/S3/S3Examples/CORSTest.cs
  dotnet/example_code_legacy/S3/S3Examples/CopyObjectTest.cs
  dotnet/example_code_legacy/S3/S3Examples/CopyObjectUsingMPUapiTest.cs
  dotnet/example_code_legacy/S3/S3Examples/CreateBucketTest.cs
  dotnet/example_code_legacy/S3/S3Examples/CrossRegionReplicationTest.cs
  dotnet/example_code_legacy/S3/S3Examples/DeleteMultipleObjVersionedBucketTest.cs
  dotnet/example_code_legacy/S3/S3Examples/DeleteMultipleObjectsNonVersionedBucketTest.cs
  dotnet/example_code_legacy/S3/S3Examples/DeleteObjectNonVersionedBucketTest1.cs
  dotnet/example_code_legacy/S3/S3Examples/DeleteObjectVersion.cs
  dotnet/example_code_legacy/S3/S3Examples/DualStackEndpointTest.cs
  dotnet/example_code_legacy/S3/S3Examples/EnableNotificationsTest.cs
  dotnet/example_code_legacy/S3/S3Examples/GenPresignedURLTest.cs
  dotnet/example_code_legacy/S3/S3Examples/GetObjectTest.cs
  dotnet/example_code_legacy/S3/S3Examples/LifecycleTest.cs
  dotnet/example_code_legacy/S3/S3Examples/ListKeysVersionEnabledBucketTest.cs
  dotnet/example_code_legacy/S3/S3Examples/ListObjectsTest.cs
  dotnet/example_code_legacy/S3/S3Examples/MakeS3RequestTest.cs
  dotnet/example_code_legacy/S3/S3Examples/ManageingBucketACLTest.cs
  dotnet/example_code_legacy/S3/S3Examples/ManagingACLsTest.cs
  dotnet/example_code_legacy/S3/S3Examples/ManagingObjectACLTest.cs
  dotnet/example_code_legacy/S3/S3Examples/ObjectTagTest.cs
  dotnet/example_code_legacy/S3/S3Examples/RestoreArchivedObjectTest.cs
  dotnet/example_code_legacy/S3/S3Examples/SSECLowLevelMPUcopyObjectTest.cs
  dotnet/example_code_legacy/S3/S3Examples/SSEClientEncryptionKeyObjectOperationsTest.cs
  dotnet/example_code_legacy/S3/S3Examples/ServerAccesLoggingTest.cs
  dotnet/example_code_legacy/S3/S3Examples/SpecifyServerSideEncryptionTest.cs
  dotnet/example_code_legacy/S3/S3Examples/TempCredExplicitSessionStartTest.cs
  dotnet/example_code_legacy/S3/S3Examples/TempFederatedCredentialsTest.cs
  dotnet/example_code_legacy/S3/S3Examples/TrackMPUUsingHighLevelAPITest.cs
  dotnet/example_code_legacy/S3/S3Examples/TransferAccelerationTest.cs
  dotnet/example_code_legacy/S3/S3Examples/UploadDirMPUHighLevelAPITest.cs
  dotnet/example_code_legacy/S3/S3Examples/UploadFileMPUHighLevelAPITest.cs
  dotnet/example_code_legacy/S3/S3Examples/UploadFileMPULowLevelAPITest.cs
  dotnet/example_code_legacy/S3/S3Examples/UploadObjectTest.cs
  dotnet/example_code_legacy/S3/S3Examples/WebsiteConfigTest.cs
  dotnet/example_code_legacy/SNS/SNSSample1/SNSSample1/Program.cs
  dotnet/example_code_legacy/SNS/SnsPublish.cs
  dotnet/example_code_legacy/SNS/SnsSendMessage.cs
  dotnet/example_code_legacy/comprehend/ComprehendSamples1/DetectDominantLanguage.cs
  dotnet/example_code_legacy/comprehend/ComprehendSamples1/DetectEntities.cs
  dotnet/example_code_legacy/comprehend/ComprehendSamples1/DetectKeyPhrase.cs
  dotnet/example_code_legacy/comprehend/ComprehendSamples1/DetectSentiment.cs
  dotnet/example_code_legacy/comprehend/ComprehendSamples1/TopicModeling.cs
  dotnet/example_code_legacy/comprehend/ComprehendSamples1/UsingBatchAPIs.cs
Labels: .NET

#1266 fix js filename
  javascript/example_code/s3/s3_photoExample.html
Labels: JavaScript, bug

#1271 Fix typo in CreateUserPool.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateUserPool.java
Labels: Java, bug, on review

#1261 Add WorkDoc Java Examples
  javav2/README.rst
  javav2/example_code/athena/Readme.md
  javav2/example_code/cloudwatch/Readme.md
  javav2/example_code/cognito/Readme.md
  javav2/example_code/comprehend/Readme.md
  javav2/example_code/dynamodb/Readme.md
  javav2/example_code/ec2/Readme.md
  javav2/example_code/forecast/Readme.md
  javav2/example_code/glacier/Readme.md
  javav2/example_code/iam/Readme.md
  javav2/example_code/kinesis/Readme.md
  javav2/example_code/migrationhub/Readme.md
  javav2/example_code/pinpoint/Readme.md
  javav2/example_code/polly/Readme.md
  javav2/example_code/rekognition/Readme.md
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlAndUploadObject.java
  javav2/example_code/sns/Readme.md
  javav2/example_code/sqs/Readme.md
  javav2/example_code/workdocs/Readme.md
  javav2/example_code/workdocs/metadata.yaml
  javav2/example_code/workdocs/pom.xml
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/DownloadUserDoc.java
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/ListUserDocs.java
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/ListUsers.java
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/UploadUserDocs.java
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/download_user_doc.java
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/list_user_docs.java
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/list_users.java
  javav2/example_code/workdocs/src/main/java/com/example/workdocs/upload_user_doc.java
  javav2/usecases/creating_photo_analyzer_app/Readme.md
  javav2/usecases/creating_photo_analyzer_app/images/Lake1.png
  javav2/usecases/creating_photo_analyzer_app/images/Photo1.png
  javav2/usecases/creating_photo_analyzer_app/images/photo10.png
  javav2/usecases/creating_photo_analyzer_app/images/photo11.png
  javav2/usecases/creating_photo_analyzer_app/images/photo12.png
  javav2/usecases/creating_photo_analyzer_app/images/photo2.png
  javav2/usecases/creating_photo_analyzer_app/images/photo3.png
  javav2/usecases/creating_photo_analyzer_app/images/photo4.png
  javav2/usecases/creating_photo_analyzer_app/images/photo5.png
  javav2/usecases/creating_photo_analyzer_app/images/photo6.png
  javav2/usecases/creating_photo_analyzer_app/images/photo7.png
  javav2/usecases/creating_photo_analyzer_app/images/photo8.png
  javav2/usecases/creating_photo_analyzer_app/images/photo9.png
  javav2/usecases/creating_photo_analyzer_app/images/test.txt
  javav2/usecases/creating_photo_analyzer_app/pom.xml
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/AnalyzePhotos.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/BucketItem.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/PhotoApplication.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/PhotoController.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/S3Service.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/SendMessages.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/WorkItem.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/WriteExcel.java
  javav2/usecases/creating_photo_analyzer_app/src/main/resources/templates/index.html
  javav2/usecases/creating_photo_analyzer_app/src/main/resources/templates/layout.html
  javav2/usecases/creating_photo_analyzer_app/src/main/resources/templates/process.html
  javav2/usecases/creating_photo_analyzer_app/src/main/resources/templates/upload.html
Labels: Java

#1268 DynamoDB batch examples
  python/example_code/dynamodb/batching/README.md
  python/example_code/dynamodb/batching/dynamo_batching.py
  python/example_code/dynamodb/batching/test/conftest.py
  python/example_code/dynamodb/batching/test/test_dynamo_batching.py
  python/example_code/dynamodb/metadata.yaml
  python/test_tools/dynamodb_stubber.py
Labels: Python, on review

#1274 Move test to java folder
  javav2/example_code/s3/src/test/java/AmazonS3ServiceIntegrationTest.java
Labels: Java, on review

#1276 Added missing call to putItemInTable in main
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/PutItem.java
Labels: Java, on review

#1272 update_lambda
  javascript/example_code_v3/glacier/createVault.js
  javascript/example_code_v3/glacier/metadata.yaml
  javascript/example_code_v3/glacier/uploadArchive.js
  javascript/example_code_v3/lambda/tutorial/slotassets/MyLambdaApp/cardslots.css
  javascript/example_code_v3/lambda/tutorial/slotassets/MyLambdaApp/index.html
  javascript/example_code_v3/lambda/tutorial/slotassets/MyLambdaApp/index.js
  javascript/example_code_v3/lambda/tutorial/slotassets/ddb-table-create.js
  javascript/example_code_v3/lambda/tutorial/slotassets/ddb-table-populate.js
  javascript/example_code_v3/lambda/tutorial/slotassets/lambda-function-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/lambda-role-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/package.json
  javascript/example_code_v3/lambda/tutorial/slotassets/s3-bucket-setup-non-modular.js
  javascript/example_code_v3/lambda/tutorial/slotassets/s3-bucket-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/slotpull.js
  javascript/example_code_v3/tests/glacier/createVault.test.js
  javascript/example_code_v3/tests/glacier/uploadArchive.test.js
Labels: JavaScript

#1279 updating_lambda_snippets
  javascript/example_code_v3/lambda/tutorial/slotassets/ddb-table-create.js
  javascript/example_code_v3/lambda/tutorial/slotassets/ddb-table-populate.js
  javascript/example_code_v3/lambda/tutorial/slotassets/lambda-function-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/lambda-role-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/s3-bucket-setup.js
Labels: JavaScript

#1281 Added snippet tag to exitErrorf method
  go/example_code/sqs/sqs_longpolling_existing_queue.go
Labels: Go, enhancement

#1273 Add Java V2 Examples for the AWS Firehose service
  javav2/example_code/firehose/Readme.md
  javav2/example_code/firehose/metadata.yaml
  javav2/example_code/firehose/pom.xml
  javav2/example_code/firehose/src/main/java/com/example/firehose/CreateDeliveryStream.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/DeleteStream.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/ListDeliveryStreams.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/PutBatchRecords.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/PutRecord.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/StockTrade.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/StockTradeGenerator.java
  javav2/example_code/firehose/src/main/resources/config.properties
  javav2/example_code/firehose/src/test/java/AmazonFirehoseServiceIntegrationTest.java
  javav2/example_code/s3/src/main/java/com/example/s3/PutObjectRetention.java
Labels: Java, on review

#1283 updating_photo_examples
  javascript/example_code/s3/s3_photoExample.html
  javascript/example_code/s3/s3_photoExample.js
  javascript/example_code_v3/lambda/tutorial/slotassets/MyLambdaApp/index.js
  javascript/example_code_v3/lambda/tutorial/slotassets/ddb-table-create.js
  javascript/example_code_v3/lambda/tutorial/slotassets/ddb-table-populate.js
  javascript/example_code_v3/lambda/tutorial/slotassets/lambda-function-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/lambda-role-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/package-lock.json
  javascript/example_code_v3/lambda/tutorial/slotassets/s3-bucket-setup-non-modular.js
  javascript/example_code_v3/lambda/tutorial/slotassets/s3-bucket-setup.js
  javascript/example_code_v3/lambda/tutorial/slotassets/slotpull.js
  javascript/example_code_v3/s3/metadata.yaml
  javascript/example_code_v3/s3/photoExample/package.json
  javascript/example_code_v3/s3/photoExample/s3_PhotoExample.html
  javascript/example_code_v3/s3/photoExample/s3_PhotoExample.js
  javascript/example_code_v3/s3/photoViewer/package.json
  javascript/example_code_v3/s3/photoViewer/s3_PhotoViewer.html
  javascript/example_code_v3/s3/photoViewer/s3_PhotoViewer.js
  javascript/example_code_v3/tests/s3/s3_PhotoExample.test.js
  javascript/example_code_v3/tests/s3/s3_PhotoViewer.test.js
Labels: JavaScript

#1287 update to correct functionality of Photo Example
  javascript/example_code_v3/s3/photoExample/s3_PhotoExample.js
Labels: JavaScript

#1285 Add new regions to SES SMTP credential generation script
  python/example_code/ses/ses_generate_smtp_credentials.py
Labels: Python

#1288 Add RDS Java V2 Examples
  javav2/example_code/rds/Readme.md
  javav2/example_code/rds/metadata.yaml
  javav2/example_code/rds/pom.xml
  javav2/example_code/rds/src/main/java/com/example/rds/CreateDBInstance.java
  javav2/example_code/rds/src/main/java/com/example/rds/CreateDBSnapshot.java
  javav2/example_code/rds/src/main/java/com/example/rds/DeleteDBInstance.java
  javav2/example_code/rds/src/main/java/com/example/rds/DescribeAccountAttributes.java
  javav2/example_code/rds/src/main/java/com/example/rds/DescribeDBInstances.java
  javav2/example_code/rds/src/main/java/com/example/rds/ModifyDBInstance.java
  javav2/example_code/rds/src/main/java/com/example/rds/RebootDBInstance.java
  javav2/example_code/rds/src/main/resources/config.properties
  javav2/example_code/rds/src/test/java/AmazonRdsServiceIntegrationTest.java
Labels: Java

#1275 Remove unnecessary public-read ACLs from example code for S3
  php/example_code/s3/s3-multipart-upload-using-lowlevel-php-sdk-api.php
Labels: JavaScript, PHP, on review

#1292 Cleaned up existing Lambda examples.
  python/README.md
  python/example_code/lambda/README.md
  python/example_code/lambda/basic_lambda_function.py
  python/example_code/lambda/boto_client_examples/api_gateway_rest.py
  python/example_code/lambda/boto_client_examples/lambda_basics.py
  python/example_code/lambda/boto_client_examples/lambda_handler_basic.py
  python/example_code/lambda/boto_client_examples/lambda_handler_rest.py
  python/example_code/lambda/boto_client_examples/lambda_handler_scheduled.py
  python/example_code/lambda/boto_client_examples/scheduled_lambda.py
  python/example_code/lambda/boto_client_examples/test/conftest.py
  python/example_code/lambda/boto_client_examples/test/test_api_gateway_rest.py
  python/example_code/lambda/boto_client_examples/test/test_lambda_basics.py
  python/example_code/lambda/boto_client_examples/test/test_scheduled_lambda.py
  python/example_code/lambda/lambda_with_api_gateway.py
  python/example_code/lambda/metadata.yaml
  python/example_code/lambda/scheduled_lambda/README.md
  python/example_code/lambda/scheduled_lambda/lambda_function.py
  python/example_code/lambda/scheduled_lambda/lambda_util.py
  python/example_code/lambda/scheduled_lambda/scheduled_lambda.py
  python/test_tools/apigateway_stubber.py
  python/test_tools/cloudwatch_logs_stubber.py
  python/test_tools/eventbridge_stubber.py
  python/test_tools/fixtures/common.py
  python/test_tools/iam_stubber.py
  python/test_tools/lambda_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python

#1291 Cleaned up additional Amazon S3 code examples by adding unit tests
  cpp/example_code/s3/get_website_config.cpp
  cpp/example_code/s3/include/awsdoc/s3/s3_examples.h
  cpp/example_code/s3/list_buckets.cpp
  cpp/example_code/s3/list_objects.cpp
  cpp/example_code/s3/metadata.yaml
  cpp/example_code/s3/put_bucket_policy.cpp
  cpp/example_code/s3/put_object.cpp
  cpp/example_code/s3/put_object_async.cpp
  cpp/example_code/s3/put_object_buffer.cpp
  cpp/example_code/s3/put_website_config.cpp
  cpp/example_code/s3/s3-demo.cpp
  cpp/example_code/s3/tests/test_get_website_config.cpp
  cpp/example_code/s3/tests/test_list_buckets.cpp
  cpp/example_code/s3/tests/test_list_objects.cpp
  cpp/example_code/s3/tests/test_put_bucket_policy.cpp
  cpp/example_code/s3/tests/test_put_object.cpp
  cpp/example_code/s3/tests/test_put_object_async.cpp
  cpp/example_code/s3/tests/test_put_object_buffer.cpp
  cpp/example_code/s3/tests/test_put_website_config.cpp
  cpp/example_code/s3/tests/test_s3-demo.cpp
Labels: C++, on review

#1299 nodegetstarted_update
  javascript/example_code_v3/nodegetstarted/metadata.yaml
  javascript/example_code_v3/nodegetstarted/package.json
  javascript/example_code_v3/nodegetstarted/sample.js
  javascript/example_code_v3/tests/nodegetstarted/emc_canceljob.test.js
Labels: JavaScript

#1300 Added C++ code examples and unit tests for AWS Certificate Manager
  cpp/example_code/acm/CMakeLists.txt
  cpp/example_code/acm/acm_basic_operations.cpp
  cpp/example_code/acm/include/awsdoc/acm/ACM_EXPORTS.h
  cpp/example_code/acm/include/awsdoc/acm/acm_examples.h
  cpp/example_code/acm/metadata.yaml
  cpp/example_code/acm/tests/test_acm_basic_operations.cpp
Labels: C++

#1301 Add Amazon Textract Java V2 Examples
  javav2/example_code/textract/Readme.md
  javav2/example_code/textract/metadata.yaml
  javav2/example_code/textract/src/main/java/com/example/textract/AnalyzeDocument.java
  javav2/example_code/textract/src/main/java/com/example/textract/DetectDocumentText.java
  javav2/example_code/textract/src/main/java/com/example/textract/DetectDocumentTextS3.java
  javav2/example_code/textract/src/main/java/com/example/textract/StartDocumentAnalysis.java
Labels: Java

#1303 Added new examples
  javascript/example_code_v3/s3/metadata.yaml
  javascript/example_code_v3/s3/s3_list1000plusobjects.js
  javascript/example_code_v3/sns/metadata.yaml
  javascript/example_code_v3/sns/sns_confirmsubscription.js
  javascript/example_code_v3/tests/s3/s3_list1000plusobjects.test.js
  javascript/example_code_v3/tests/sns/sns_confirmsubscription.test.js
Labels: JavaScript

#1307 presigned_brmur
  javascript/example_code/s3/s3_presignedURL.js
Labels: JavaScript

#1308 Removed unused Visibility variable
  go/sqs/ReceiveLPMessage/ReceiveLPMessage.go
Labels: Go, enhancement
