Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-10, with the labels that each got.

#1390 small updates
  javascript/example_code_v3/s3/src/README.md
  javascriptv3/example_code/cross-services/submit-data-app/src/dynamoApp/add_data.ts
  javascriptv3/example_code/cross-services/submit-data-app/src/dynamoApp/error.html
  javascriptv3/example_code/cross-services/submit-data-app/src/dynamoApp/index.html
  javascriptv3/example_code/cross-services/submit-data-app/src/dynamoAppHelperFiles/create-and-attach-policy.ts
Labels: JavaScript

#1394 Doug dynamodb update datamodel
  dotnet/.gitignore
  dotnet/dynamodb/README.md
  dotnet/dynamodb/UpdateItemDataModel/UpdateItemDataModel.cs
  dotnet/dynamodb/UpdateItemDataModel/UpdateItemDataModel.csproj
  dotnet/dynamodb/UpdateItemDataModel/app.config
  dotnet/dynamodb/UpdateItemDataModelTest/UpdateItemDataModelTest.cs
  dotnet/dynamodb/UpdateItemDataModelTest/UpdateItemDataModelTest.csproj
  dotnet/dynamodb/metadata.yaml
Labels: .NET, code example request

#1393 Add SES Java V2 Code examples
  javav2/example_code/general/pom.xml
  javav2/example_code/general/src/main/java/com/example/general/logging.java
  javav2/example_code/general/src/main/resources/log4j2.xml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/S3Log.java
  javav2/example_code/ses/Readme.md
  javav2/example_code/ses/metadata.yaml
  javav2/example_code/ses/pom.xml
  javav2/example_code/ses/src/main/java/com/example/ses/ListIdentities.java
  javav2/example_code/ses/src/main/java/com/example/ses/SendMessage.java
  javav2/example_code/ses/src/main/java/com/example/ses/SendMessageAttachment.java
  javav2/example_code/ses/src/main/resources/config.properties
  javav2/example_code/ses/src/test/java/SESTest.java
Labels: Java

#1384 Lending library example that uses AWS Chalice and Amazon Aurora
  python/README.md
  python/demo_tools/.metadata.yaml
  python/demo_tools/custom_waiter.py
  python/demo_tools/retries.py
  python/example_code/rds/.metadata.yaml
  python/example_code/rds/add_tags_to_cluster_and_instances.py
  python/example_code/rds/lending_library/README.md
  python/example_code/rds/lending_library/library_api/.chalice/config.json
  python/example_code/rds/lending_library/library_api/app.py
  python/example_code/rds/lending_library/library_api/chalicelib/__init__.py
  python/example_code/rds/lending_library/library_api/chalicelib/library_data.py
  python/example_code/rds/lending_library/library_api/chalicelib/mysql_helper.py
  python/example_code/rds/lending_library/library_api/requirements.txt
  python/example_code/rds/lending_library/library_api/resources.json
  python/example_code/rds/lending_library/library_api/test/conftest.py
  python/example_code/rds/lending_library/library_api/test/test_library_api_app.py
  python/example_code/rds/lending_library/library_api/test/test_library_data.py
  python/example_code/rds/lending_library/library_api/test/test_mysql_helper.py
  python/example_code/rds/lending_library/library_demo.py
  python/example_code/rds/lending_library/rds_tools/aurora_tools.py
  python/example_code/rds/lending_library/rds_tools/test/conftest.py
  python/example_code/rds/lending_library/rds_tools/test/test_aurora_tools.py
  python/test_tools/.metadata.yaml
  python/test_tools/rds_stubber.py
  python/test_tools/rdsdata_stubber.py
  python/test_tools/run_all_tests.py
  python/test_tools/secretsmanager_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python

#1395 Refactored .NET DynamoDB test for DataModel
  dotnet/dynamodb/UpdateItemDataModelTest/UpdateItemDataModelTest.cs
  dotnet/dynamodb/UpdateItemDataModelTest/UpdateItemDataModelTest.csproj
Labels: .NET, enhancement

#1398 0610_smallupdates
  javascript/example_code/athena/index.js
  javascriptv3/example_code/glacier/src/multipart_upload.ts
  javascriptv3/example_code/redshift/src/redshift-delete-cluster.ts
  javascriptv3/example_code/sns/src/sns_createtopic.ts
Labels: JavaScript

#1400 Cleaned up Amazon S3 code examples for Ruby: access permissions and notifications, bucket accessible, bucket exists, add bucket policy, create bucket, create RSA key pair, find open buckets, get object.
  ruby/example_code/s3/metadata.yaml
  ruby/example_code/s3/s3-ruby-example-add-notification.rb
  ruby/example_code/s3/s3-ruby-example-bucket-accessible.rb
  ruby/example_code/s3/s3-ruby-example-bucket-exists.rb
  ruby/example_code/s3/s3-ruby-example-bucket-policy.rb
  ruby/example_code/s3/s3-ruby-example-create-bucket.rb
  ruby/example_code/s3/s3-ruby-example-create-rsa-keys.rb
  ruby/example_code/s3/s3-ruby-example-find-open-buckets.rb
  ruby/example_code/s3/s3-ruby-example-get-item.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-access-permissions.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-add-notification.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-bucket-accessible.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-bucket-exists.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-bucket-policy.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-create-bucket.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-create-rsa-keys.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-find-open-buckets.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-get-item.rb
Labels: Ruby, on review

#1403 Add tests to metadata files
  javascriptv3/example_code/cloudwatch/src/cw_listmetrics.ts
  javascriptv3/example_code/cloudwatch/src/cw_putmetricalarm.ts
  javascriptv3/example_code/cloudwatch/src/cw_putmetricdata.ts
  javascriptv3/example_code/cross-services/submit-data-app/src/dynamoAppHelperFiles/metadata.yaml
  javascriptv3/example_code/dynamodb/src/metadata.yaml
  javascriptv3/example_code/kinesis/src/metadata.yaml
  javascriptv3/example_code/lambda/src/metadata.yaml
  javascriptv3/example_code/pinpoint/src/pinpoint_send_email_message.ts
  javascriptv3/example_code/pinpoint/src/pinpoint_send_sms_message.ts
  javascriptv3/example_code/sns/src/metadata.yaml
  javascriptv3/example_code/tests/metadata.yaml
Labels: JavaScript

#1404 Fix cleanup_report.py to handle and skip empty metadata section
  scripts/cleanup_report.py
Labels: Python

#1405 Add 'Secrets' example
  javascript/example_code/sns/sns_createtopic.js
  javascriptv3/example_code/redshift/src/redshift-create-cluster.ts
  javascriptv3/example_code/secrets/src/secrets_getsecretvalue.ts
  javascriptv3/example_code/sns/src/sns_createtopic.ts
  javascriptv3/example_code/tests/metadata.yaml
  javascriptv3/example_code/tests/redshift/redshift-create-cluster.test.js
  javascriptv3/example_code/tests/secrets/secrets_getsecretvalue.test.js
Labels: JavaScript

#1416 Cleaned up remaining existing Amazon S3 code examples for Ruby. Also added missing tests.
  ruby/example_code/s3/metadata.yaml
  ruby/example_code/s3/s3-ruby-example-head-bucket.rb
  ruby/example_code/s3/s3-ruby-example-list-bucket-items.rb
  ruby/example_code/s3/s3-ruby-example-set-item-props.rb
  ruby/example_code/s3/s3-ruby-example-show-50-buckets.rb
  ruby/example_code/s3/s3-ruby-example-show-buckets-in-region.rb
  ruby/example_code/s3/s3-ruby-example-upload-item-with-metadata.rb
  ruby/example_code/s3/s3-ruby-example-upload-item.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-head-bucket.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-list-bucket-items.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-set-item-props.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-show-50-buckets.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-show-buckets-in-region.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-upload-item-with-metadata.rb
  ruby/example_code/s3/tests/test_s3-ruby-example-upload-item.rb
  ruby/example_code/s3/tests/test_upload_files_using_managed_file_uploader.rb
  ruby/example_code/s3/tests/test_upload_files_using_put_object_method.rb
  ruby/example_code/s3/tests/test_upload_object_presigned_url.rb
  ruby/example_code/s3/upload_files_using_managed_file_uploader.rb
  ruby/example_code/s3/upload_files_using_put_object_method.rb
  ruby/example_code/s3/upload_object_presigned_url.rb
Labels: Ruby

#1418 Add CloudFormation Examples
  javav2/example_code/cloudformation/Readme.md
  javav2/example_code/cloudformation/metadata.yaml
  javav2/example_code/cloudformation/pom.xml
  javav2/example_code/cloudformation/src/main/java/com/example/cloudformation/CreateStack.java
  javav2/example_code/cloudformation/src/main/java/com/example/cloudformation/DeleteStack.java
  javav2/example_code/cloudformation/src/main/java/com/example/cloudformation/DescribeStacks.java
  javav2/example_code/cloudformation/src/main/java/com/example/cloudformation/GetTemplate.java
  javav2/example_code/cloudformation/src/main/resources/config.properties
  javav2/example_code/cloudformation/src/test/java/CloudFormationTest.java
Labels: Java, on review

#1433 Renamed test file for .NET DynamoDB
  dotnet3.5/dynamodb/LowLevelGSIIndexExampleTest/LowLevelGSIExampleTest.cs
  dotnet3.5/dynamodb/LowLevelGSIIndexExampleTest/LowLevelGSIExampleTest.csproj
  dotnet3.5/dynamodb/metadata.yaml
Labels: .NET, bug

#1432 Update POMs to use latest API versions for all services
  javav2/example_code/athena/pom.xml
  javav2/example_code/cloudformation/pom.xml
  javav2/example_code/cloudtrail/pom.xml
  javav2/example_code/cloudwatch/pom.xml
  javav2/example_code/codecommit/pom.xml
  javav2/example_code/codedeploy/pom.xml
  javav2/example_code/cognito/pom.xml
  javav2/example_code/comprehend/pom.xml
  javav2/example_code/ec2/pom.xml
  javav2/example_code/eventbridge/pom.xml
  javav2/example_code/firehose/pom.xml
  javav2/example_code/forecast/pom.xml
  javav2/example_code/glacier/pom.xml
  javav2/example_code/guardduty/pom.xml
  javav2/example_code/iam/pom.xml
  javav2/example_code/kinesis/pom.xml
  javav2/example_code/kms/pom.xml
  javav2/example_code/lambda/pom.xml
  javav2/example_code/mediaconvert/pom.xml
  javav2/example_code/mediastore/pom.xml
  javav2/example_code/migrationhub/pom.xml
  javav2/example_code/personalize/pom.xml
  javav2/example_code/pinpoint/pom.xml
  javav2/example_code/polly/pom.xml
  javav2/example_code/rds/pom.xml
  javav2/example_code/redshift/pom.xml
  javav2/example_code/rekognition/pom.xml
  javav2/example_code/route53/pom.xml
  javav2/example_code/s3/pom.xml
  javav2/example_code/sagemaker/pom.xml
  javav2/example_code/secretsmanager/pom.xml
  javav2/example_code/ses/pom.xml
  javav2/example_code/sns/pom.xml
  javav2/example_code/sqs/pom.xml
  javav2/example_code/ssm/pom.xml
  javav2/example_code/sts/pom.xml
  javav2/example_code/swf/pom.xml
  javav2/example_code/textract/pom.xml
  javav2/example_code/transcribe/pom.xml
  javav2/example_code/translate/pom.xml
  javav2/example_code/workdocs/pom.xml
Labels: Java

#1430 Update s3_upload.ts
  javascriptv3/example_code/s3/src/s3_upload.ts
Labels: JavaScript, bug

#1434 Update S3ObjectOperations.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3ObjectOperations.java
  javav2/example_code/transcribe/src/main/java/com/amazonaws/transcribestreaming/TranscribeStreamingRetryClient.java
Labels: Java
