Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-06, with the labels that each got.

#1208 Fixed issue 1121 - syntax errors for AWS Elemental MediaConvert create job template example for PHP
  php/example_code/mediaconvert/CreateJobTemplate.php
Labels: PHP

#1197 Add Java 2 Polly Code Examples
  javav2/example_code/polly/Readme.md
  javav2/example_code/polly/metadata.yaml
  javav2/example_code/polly/pom.xml
  javav2/example_code/polly/src/main/java/com/example/polly/DescribeVoicesSample.java
  javav2/example_code/polly/src/main/java/com/example/polly/ListLexicons.java
  javav2/example_code/polly/src/main/java/com/example/polly/PollyDemo.java
  javav2/example_code/polly/src/test/java/AWSPollyServiceIntegrationTest.java
Labels: Java, on review

#1210 Python IAM example cleanup
  python/example_code/iam/assume_role.py
  python/example_code/iam/assume_role_with_mfa.py
  python/example_code/iam/attach_role_policy.py
  python/example_code/iam/construct_url_federated_users.py
  python/example_code/iam/create_access_key.py
  python/example_code/iam/create_account_alias.py
  python/example_code/iam/create_policy.py
  python/example_code/iam/create_policy_version.py
  python/example_code/iam/create_policy_version_from_file.py
  python/example_code/iam/create_role.py
  python/example_code/iam/create_user.py
  python/example_code/iam/delete_access_key.py
  python/example_code/iam/delete_account_alias.py
  python/example_code/iam/delete_server_cert.py
  python/example_code/iam/delete_user.py
  python/example_code/iam/detach_role_policy.py
  python/example_code/iam/generate_credential_report.py
  python/example_code/iam/get_access_key_last_used.py
  python/example_code/iam/get_account_authorization_details.py
  python/example_code/iam/get_account_summary.py
  python/example_code/iam/get_credential_report.py
  python/example_code/iam/get_policy.py
  python/example_code/iam/get_policy_version.py
  python/example_code/iam/get_pub_keys.py
  python/example_code/iam/get_server_cert.py
  python/example_code/iam/get_session_token_with_mfa.py
  python/example_code/iam/iam_basics/README.md
  python/example_code/iam/iam_basics/access_key_wrapper.py
  python/example_code/iam/iam_basics/account_wrapper.py
  python/example_code/iam/iam_basics/policy_wrapper.py
  python/example_code/iam/iam_basics/role_wrapper.py
  python/example_code/iam/iam_basics/test/conftest.py
  python/example_code/iam/iam_basics/test/test_access_key_wrapper.py
  python/example_code/iam/iam_basics/test/test_account_wrapper.py
  python/example_code/iam/iam_basics/test/test_policy_wrapper.py
  python/example_code/iam/iam_basics/test/test_role_wrapper.py
  python/example_code/iam/iam_basics/test/test_user_wrapper.py
  python/example_code/iam/iam_basics/user_wrapper.py
  python/example_code/iam/list_access_keys.py
  python/example_code/iam/list_account_aliases.py
  python/example_code/iam/list_server_certs.py
  python/example_code/iam/list_users.py
  python/example_code/iam/list_users_with_resource.py
  python/example_code/iam/metadata.yaml
  python/example_code/iam/tag_role.py
  python/example_code/iam/update_last_access_key.py
  python/example_code/iam/update_server_cert.py
  python/example_code/iam/update_user.py
  python/example_code/sts/assume_role.py
  python/test_tools/iam_stubber.py
  python/test_tools/sts_stubber.py
Labels: Python

#1209 Submit Level 4 Java Example that involves AWS Step Functions, Lambda, SES, and DynamoDB
  javav2/README.rst
  javav2/example_code/polly/src/main/java/com/example/polly/DescribeVoicesSample.java
  javav2/example_code/polly/src/main/java/com/example/polly/ListLexicons.java
  javav2/example_code/polly/src/main/java/com/example/polly/PollyDemo.java
  javav2/usecases/creating_secure_spring_app/Readme.md
  javav2/usecases/creating_serverless workflows/Readme.md
  javav2/usecases/creating_serverless workflows/images/Lambda2.png
  javav2/usecases/creating_serverless workflows/images/lambda1.png
  javav2/usecases/creating_serverless workflows/images/lambda10.png
  javav2/usecases/creating_serverless workflows/images/lambda11.png
  javav2/usecases/creating_serverless workflows/images/lambda12.png
  javav2/usecases/creating_serverless workflows/images/lambda12A.png
  javav2/usecases/creating_serverless workflows/images/lambda13.png
  javav2/usecases/creating_serverless workflows/images/lambda13A.png
  javav2/usecases/creating_serverless workflows/images/lambda14.png
  javav2/usecases/creating_serverless workflows/images/lambda15.png
  javav2/usecases/creating_serverless workflows/images/lambda16.png
  javav2/usecases/creating_serverless workflows/images/lambda17.png
  javav2/usecases/creating_serverless workflows/images/lambda18.png
  javav2/usecases/creating_serverless workflows/images/lambda19.png
  javav2/usecases/creating_serverless workflows/images/lambda20.png
  javav2/usecases/creating_serverless workflows/images/lambda21.png
  javav2/usecases/creating_serverless workflows/images/lambda3.png
  javav2/usecases/creating_serverless workflows/images/lambda4.png
  javav2/usecases/creating_serverless workflows/images/lambda5.png
  javav2/usecases/creating_serverless workflows/images/lambda6.png
  javav2/usecases/creating_serverless workflows/images/lambda7.png
  javav2/usecases/creating_serverless workflows/images/lambda8.png
  javav2/usecases/creating_serverless workflows/images/lambda9.png
  javav2/usecases/creating_serverless workflows/pom.xml
  javav2/usecases/creating_serverless workflows/src/main/java/example/Handler.java
  javav2/usecases/creating_serverless workflows/src/main/java/example/Handler2.java
  javav2/usecases/creating_serverless workflows/src/main/java/example/Handler3.java
  javav2/usecases/creating_serverless workflows/src/main/java/example/PersistCase.java
  javav2/usecases/creating_serverless workflows/src/main/java/example/SendMessage.java
Labels: Java

#1212 STS temporary credential examples
  python/example_code/sts/assume_role.py
  python/example_code/sts/get_caller_identity.py
  python/example_code/sts/metadata.yaml
  python/example_code/sts/sts_temporary_credentials/README.md
  python/example_code/sts/sts_temporary_credentials/assume_role.py
  python/example_code/sts/sts_temporary_credentials/assume_role_mfa.py
  python/example_code/sts/sts_temporary_credentials/federated_url.py
  python/example_code/sts/sts_temporary_credentials/session_token.py
  python/example_code/sts/sts_temporary_credentials/test/conftest.py
  python/example_code/sts/sts_temporary_credentials/test/test_assume_role.py
  python/example_code/sts/sts_temporary_credentials/test/test_assume_role_mfa.py
  python/example_code/sts/sts_temporary_credentials/test/test_federated_url.py
  python/example_code/sts/sts_temporary_credentials/test/test_session_token.py
  python/test_tools/iam_stubber.py
  python/test_tools/s3_stubber.py
  python/test_tools/sts_stubber.py
Labels: Python

#1199 Doug updated Lambda code examples in go
  go/lambda/ConfigureFunction/ConfigureFunction.go
  go/lambda/ConfigureFunction/ConfigureFunction_test.go
  go/lambda/MakeFunction/MakeFunction.go
  go/lambda/MakeFunction/MakeFunction_test.go
  go/lambda/MakeFunction/testFile.zip
  go/lambda/README.md
  go/lambda/RunFunction/RunFunction.go
  go/lambda/RunFunction/RunFunction_test.go
  go/lambda/ShowFunctions/ShowFunctions.go
  go/lambda/ShowFunctions/ShowFunctions_test.go
  go/lambda/metadata.yaml
Labels: Go

#1200 Updated Polly examples in Go
  go/polly/DescribeVoices/DescribeVoices.go
  go/polly/DescribeVoices/DescribeVoices_test.go
  go/polly/ListLexicons/ListLexicons.go
  go/polly/ListLexicons/ListLexicons_test.go
  go/polly/README.md
  go/polly/SynthesizeSpeech/SynthesizeSpeech.go
  go/polly/SynthesizeSpeech/SynthesizeSpeech_test.go
  go/polly/SynthesizeSpeech/test.txt
  go/polly/metadata.yaml
Labels: Go

#1201 Doug updated SES code examples in go
  go/ses/DeleteAddress/DeleteAddress.go
  go/ses/DeleteAddress/DeleteAddress_test.go
  go/ses/GetStatistics/GetStatistics.go
  go/ses/GetStatistics/GetStatistics_test.go
  go/ses/ListAddresses/ListAddresses.go
  go/ses/ListAddresses/ListAddresses_test.go
  go/ses/README.md
  go/ses/SendMessage/SendMessage.go
  go/ses/SendMessage/SendMessage_test.go
  go/ses/VerifyAddress/VerifyAddress.go
  go/ses/VerifyAddress/VerifyAddress_test.go
  go/ses/metadata.yaml
Labels: Go

#1203 Doug updated SNS code examples in go
  go/sns/MakeTopic/MakeTopic.go
  go/sns/MakeTopic/MakeTopic_test.go
  go/sns/PublishMessage/PublishMessage.go
  go/sns/PublishMessage/PublishMessage_test.go
  go/sns/README.md
  go/sns/ShowSubscriptions/ShowSubscriptions.go
  go/sns/ShowSubscriptions/ShowSubscriptions_test.go
  go/sns/ShowTopics/ShowTopics.go
  go/sns/ShowTopics/ShowTopics_test.go
  go/sns/SubscribeTopic/SubscribeTopic.go
  go/sns/SubscribeTopic/SubscribeTopic_test.go
  go/sns/metadata.yaml
Labels: Go

#1215 Fixed incorrect filename in metatdata file
  javav2/example_code/forecast/metadata.yaml
Labels: Java, bug

#1204 Updated STS examples in Go
  go/sts/README.md
  go/sts/TakeRole/TakeRole.go
  go/sts/TakeRole/TakeRole_test.go
  go/sts/metadata.yaml
Labels: Go

#1211 Added test for Amazon S3 create bucket for C++.
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/create_bucket.cpp
  cpp/example_code/s3/include/awsdoc/s3/S3_EXPORTS.h
  cpp/example_code/s3/include/awsdoc/s3/s3_examples.h
  cpp/example_code/s3/metadata.yaml
  cpp/example_code/s3/tests/test_create_bucket.cpp
Labels: C++

#1217 Submit Comprehend V2 Java Examples
  javav2/example_code/comprehend/Readme.md
  javav2/example_code/comprehend/metadata.yaml
  javav2/example_code/comprehend/pom.xml
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/DetectEntities.java
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/DetectKeyPhrases.java
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/DetectLanguage.java
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/DetectSentiment.java
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/DetectSyntax.java
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/DocumentClassifierDemo.java
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/medical/DetectMedicalEntities.java
  javav2/example_code/comprehend/src/main/java/com/example/comprehend/medical/DetectPHI.java
Labels: Java

#1206 Updated WorkDocs examples in Go
  go/workdocs/README.md
  go/workdocs/ShowUsers/ShowUsers.go
  go/workdocs/ShowUsers/ShowUsers_test.go
  go/workdocs/ShowUsersDocs/ShowUsersDocs.go
  go/workdocs/ShowUsersDocs/ShowUsersDocs_test.go
  go/workdocs/metadata.yaml
Labels: Go

#1223 Amazon SES SMTP Node example
  javascript/example_code/ses/ses_sendemailsmtp.js
Labels: JavaScript

#1226 Update to v2 namespace
  ruby/example_code/s3/s3-ruby-example-add-cspk-item.rb
  ruby/example_code/s3/s3-ruby-example-get-cspk-item.rb
  ruby/example_code/s3/s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/s3_get_cskms_decrypt_item.rb
Labels: Ruby

#1225 Add the Amazon Rekognition (V2) Code examples
  javav2/example_code/rekognition/Readme.md
  javav2/example_code/rekognition/metadata.yaml
  javav2/example_code/rekognition/pom.xml
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/AddFacesToCollection.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/CelebrityInfo.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/CompareFaces.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/CreateCollection.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/DeleteCollection.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/DetectFaces.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/DetectLabels.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/DetectModerationLabels.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/ListCollections.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/ListFacesInCollection.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/RecognizeCelebrities.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/SearchFaceMatchingImageCollection.java
  javav2/example_code/rekognition/src/main/resources/config.properties
  javav2/example_code/rekognition/src/test/java/RekognitionServiceIntegrationTest.java
Labels: Java

#1227 EC2 example cleanup
  python/example_code/ec2/add_security_group_to_security_group.py
  python/example_code/ec2/allocate_address.py
  python/example_code/ec2/change_instance_security_groups.py
  python/example_code/ec2/create_instance.py
  python/example_code/ec2/create_keypair.py
  python/example_code/ec2/create_security_group.py
  python/example_code/ec2/delete_keypair.py
  python/example_code/ec2/delete_security_group.py
  python/example_code/ec2/describe_addresses.py
  python/example_code/ec2/describe_instances.py
  python/example_code/ec2/describe_keypair.py
  python/example_code/ec2/describe_regions_azs.py
  python/example_code/ec2/describe_security_groups.py
  python/example_code/ec2/describe_subnets.py
  python/example_code/ec2/describe_vpcs.py
  python/example_code/ec2/ec2_basics/README.md
  python/example_code/ec2/ec2_basics/ec2_basics_demo.py
  python/example_code/ec2/ec2_basics/ec2_instance_management.py
  python/example_code/ec2/ec2_basics/ec2_setup.py
  python/example_code/ec2/ec2_basics/ec2_teardown.py
  python/example_code/ec2/ec2_basics/test/conftest.py
  python/example_code/ec2/ec2_basics/test/test_ec2_instance_management.py
  python/example_code/ec2/ec2_basics/test/test_ec2_setup.py
  python/example_code/ec2/ec2_basics/test/test_ec2_teardown.py
  python/example_code/ec2/get_console_output.py
  python/example_code/ec2/instance_monitoring.py
  python/example_code/ec2/metadata.yaml
  python/example_code/ec2/rebooting.py
  python/example_code/ec2/release_elastic_ip.py
  python/example_code/ec2/starting_and_stopping_instances.py
  python/example_code/ec2/terminate_instances.py
  python/test_tools/ec2_stubber.py
  python/test_tools/example_stubber.py
  python/test_tools/metadata.yaml
  python/test_tools/stubber_factory.py
Labels: Python

#1234 Added a snippet tag around construct_federated_url
  python/example_code/sts/sts_temporary_credentials/federated_url.py
Labels: Python

#1244 Central README that summarizes all Python example READMEs
  python/README.md
  python/README.rst
  python/example_code/dynamodb/GettingStarted/README.md
  python/example_code/dynamodb/TryDax/README.md
  python/example_code/ec2/ec2_basics/README.md
  python/example_code/iam/iam_basics/README.md
  python/example_code/s3/file_transfer/README.md
  python/example_code/s3/s3_basics/ReadMe.md
  python/example_code/s3/s3_versioning/README.md
  python/example_code/sqs/ReadMe.md
  python/example_code/sts/sts_temporary_credentials/README.md
  python/test_tools/README.md
  scripts/README.md
  scripts/summarizer.py
Labels: Python
