Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2020-05, with the labels that each got.

#1139 Fixed variable name mismatch
  javascript/example_code/sqs/sqs_sendmessage.js
Labels: JavaScript

#1143 Updated DynamoDB examples in Go to include unit tests, metadata, and docs
  go/dynamodb/CreateTable/CreateTable.go
  go/dynamodb/CreateTable/CreateTable_test.go
  go/dynamodb/CreateTable/config.json
  go/dynamodb/CreateTableItem/CreateTableItem.go
  go/dynamodb/CreateTableItem/CreateTableItem_test.go
  go/dynamodb/CreateTableItem/config.json
  go/dynamodb/DeleteItem/DeleteItem.go
  go/dynamodb/DeleteItem/DeleteItem_test.go
  go/dynamodb/GetItem/GetItem.go
  go/dynamodb/GetItem/GetItem_test.go
  go/dynamodb/ListTables/ListTables.go
  go/dynamodb/ListTables/ListTables_test.go
  go/dynamodb/ListTables/config.json
  go/dynamodb/LoadTableItems/LoadTableItems.go
  go/dynamodb/LoadTableItems/LoadTableItems_test.go
  go/dynamodb/LoadTableItems/config.json
  go/dynamodb/LoadTableItems/movie_data.json
  go/dynamodb/README.md
  go/dynamodb/ScanItems/ScanItems.go
  go/dynamodb/ScanItems/ScanItems_test.go
  go/dynamodb/ScanItems/config.json
  go/dynamodb/UpdateItem/UpdateItem.go
  go/dynamodb/UpdateItem/UpdateItem_test.go
  go/dynamodb/UpdateItem/config.json
  go/dynamodb/metadata.yaml
Labels: Go

#1148 Doug updated RDS examples in Go
  go/rds/CopySnapshotToS3/CopySnapshotToS3.go
  go/rds/CopySnapshotToS3/CopySnapshotToS3_test.go
  go/rds/CreateClusterSnapshot/CreateClusterSnapshot.go
  go/rds/CreateClusterSnapshot/CreateClusterSnapshot_test.go
  go/rds/CreateInstanceSnapshot/CreateInstanceSnapshot.go
  go/rds/CreateInstanceSnapshot/CreateInstanceSnapshot_test.go
  go/rds/ListClusterSnapshots/ListClusterSnapshots.go
  go/rds/ListClusterSnapshots/ListClusterSnapshots_test.go
  go/rds/ListInstanceSnapshots/ListInstanceSnapshots.go
  go/rds/ListInstanceSnapshots/ListInstanceSnapshots_test.go
  go/rds/ListInstances/ListInstances.go
  go/rds/ListInstances/ListInstances_test.go
  go/rds/ListParameterGroups/ListParameterGroups.go
  go/rds/ListParameterGroups/ListParameterGroups_test.go
  go/rds/ListSecurityGroups/ListSecurityGroups.go
  go/rds/ListSecurityGroups/ListSecurityGroups_test.go
  go/rds/ListSubnetGroups/ListSubnetGroups.go
  go/rds/ListSubnetGroups/ListSubnetGroups_test.go
  go/rds/README.md
  go/rds/metadata.yaml
Labels: Go

#1153 Added unit tests to Amazon CloudSearch example
  php/example_code/cloudfront/ListInvalidations.php
  php/example_code/cloudsearch/SignDomainRequest.php
  php/example_code/cloudsearch/metadata.yaml
  php/example_code/cloudsearch/phpunit.xml
  php/example_code/cloudsearch/tests/SignDomainRequestTest.php
Labels: PHP

#1160 Go blank Lambda function
  lambda_functions/blank-go/0-run-tests.sh
  lambda_functions/blank-go/1-create-bucket.sh
  lambda_functions/blank-go/2-deploy.sh
  lambda_functions/blank-go/3-invoke.sh
  lambda_functions/blank-go/4-cleanup.sh
  lambda_functions/blank-go/README.md
  lambda_functions/blank-go/event.json
  lambda_functions/blank-go/function/go.mod
  lambda_functions/blank-go/function/go.sum
  lambda_functions/blank-go/function/main.go
  lambda_functions/blank-go/function/main_test.go
  lambda_functions/blank-go/images/blank-go-servicemap.png
  lambda_functions/blank-go/images/blank-go-trace.png
  lambda_functions/blank-go/images/sample-blank-go.png
  lambda_functions/blank-go/template.yml
Labels: Go

#1151 Check in Athena Java V2 Examples
  java/example_code/athena/src/main/java/aws/example/athena/AthenaClientFactory.java
  java/example_code/athena/src/main/java/aws/example/athena/CreateNamedQueryExample.java
  java/example_code/athena/src/main/java/aws/example/athena/DeleteNamedQueryExample.java
  java/example_code/athena/src/main/java/aws/example/athena/ExampleConstants.java
  java/example_code/athena/src/main/java/aws/example/athena/ListNamedQueryExample.java
  java/example_code/athena/src/main/java/aws/example/athena/ListQueryExecutionsExample.java
  java/example_code/athena/src/main/java/aws/example/athena/StartQueryExample.java
  java/example_code/athena/src/main/java/aws/example/athena/StopQueryExecutionExample.java
  javav2/example_code/athena/Readme.md
  javav2/example_code/athena/metadata.yaml
  javav2/example_code/athena/pom.xml
  javav2/example_code/athena/src/main/java/aws/example/athena/CreateNamedQueryExample.java
  javav2/example_code/athena/src/main/java/aws/example/athena/DeleteNamedQueryExample.java
  javav2/example_code/athena/src/main/java/aws/example/athena/ExampleConstants.java
  javav2/example_code/athena/src/main/java/aws/example/athena/ListNamedQueryExample.java
  javav2/example_code/athena/src/main/java/aws/example/athena/ListQueryExecutionsExample.java
  javav2/example_code/athena/src/main/java/aws/example/athena/StartQueryExample.java
  javav2/example_code/athena/src/main/java/aws/example/athena/StopQueryExecutionExample.java
  javav2/example_code/athena/src/main/resources/config.properties
  javav2/example_code/athena/src/test/java/AWSAthenaServiceIntegrationTest.java
Labels: Java, on review

#1161 Updated IAM examples in Go
  go/iam/AccessKeyLastUsed/AccessKeyLastUsed.go
  go/iam/AccessKeyLastUsed/AccessKeyLastUsed_test.go
  go/iam/AttachUserPolicy/AttachUserPolicy.go
  go/iam/AttachUserPolicy/AttachUserPolicy_test.go
  go/iam/CreateAccessKey/CreateAccessKey.go
  go/iam/CreateAccessKey/CreateAccessKey_test.go
  go/iam/CreateAccountAlias/CreateAccountAlias.go
  go/iam/CreateAccountAlias/CreateAccountAlias_test.go
  go/iam/CreatePolicy/CreatePolicy.go
  go/iam/CreatePolicy/CreatePolicy_test.go
  go/iam/CreateUser/CreateUser.go
  go/iam/CreateUser/CreateUser_test.go
  go/iam/DeleteAccessKey/DeleteAccessKey.go
  go/iam/DeleteAccessKey/DeleteAccessKey_test.go
  go/iam/DeleteAccountAlias/DeleteAccountAlias.go
  go/iam/DeleteAccountAlias/DeleteAccountAlias_test.go
  go/iam/DeleteServerCert/DeleteServerCert.go
  go/iam/DeleteServerCert/DeleteServerCert_test.go
  go/iam/DeleteUser/DeleteUser.go
  go/iam/DeleteUser/DeleteUser_test.go
  go/iam/DetachUserPolicy/DetachUserPolicy.go
  go/iam/DetachUserPolicy/DetachUserPolicy_test.go
  go/iam/GetPolicy/GetPolicy.go
  go/iam/GetPolicy/GetPolicy_test.go
  go/iam/GetPublicKeys/GetPublicKeys.go
  go/iam/GetPublicKeys/GetPublicKeys_test.go
  go/iam/GetServerCert/GetServerCert.go
  go/iam/GetServerCert/GetServerCert_test.go
  go/iam/ListAccessKeys/ListAccessKeys.go
  go/iam/ListAccessKeys/ListAccessKeys_test.go
  go/iam/ListAccountAliases/ListAccountAliases.go
  go/iam/ListAccountAliases/ListAccountAliases_test.go
  go/iam/ListAdmins/ListAdmins.go
  go/iam/ListAdmins/ListAdmins_test.go
  go/iam/ListServerCerts/ListServerCerts.go
  go/iam/ListServerCerts/ListServerCerts_test.go
  go/iam/ListUsers/ListUsers.go
  go/iam/ListUsers/ListUsers_test.go
  go/iam/README.md
  go/iam/UpdateAccessKey/UpdateAccessKey.go
  go/iam/UpdateAccessKey/UpdateAccessKey_test.go
  go/iam/UpdateServerCert/UpdateServerCert.go
  go/iam/UpdateServerCert/UpdateServerCert_test.go
  go/iam/UpdateUser/UpdateUser.go
  go/iam/UpdateUser/UpdateUser_test.go
  go/iam/metadata.yaml
Labels: Go

#1152 Sessmtp creds update
  python/example_code/ses/ses_generate_smtp_credentials.py
Labels: Python, on review

#1165 Add Forecast Java V2 Examples
  javav2/example_code/athena/metadata.yaml
  javav2/example_code/forecast/Readme.md
  javav2/example_code/forecast/metadata.yaml
  javav2/example_code/forecast/pom.xml
  javav2/example_code/forecast/src/main/java/com/example/forecast/CreateDataSet.java
  javav2/example_code/forecast/src/main/java/com/example/forecast/CreateForecast.java
  javav2/example_code/forecast/src/main/java/com/example/forecast/DeleteDataset.java
  javav2/example_code/forecast/src/main/java/com/example/forecast/DeleteForecast.java
  javav2/example_code/forecast/src/main/java/com/example/forecast/DescribeForecast.java
  javav2/example_code/forecast/src/main/java/com/example/forecast/ListDataSetGroups.java
  javav2/example_code/forecast/src/main/java/com/example/forecast/ListDataSets.java
  javav2/example_code/forecast/src/main/java/com/example/forecast/ListForecasts.java
  javav2/example_code/forecast/src/main/resources/config.properties
  javav2/example_code/forecast/src/test/java/AmazonForecastServiceIntegrationTest.java
Labels: Java, on review

#1168 Add SQS Java V2 Examples
  javav2/example_code/sqs/src/main/java/com/example/sqs/DeadLetterQueues.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/DeleteQueue.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/LongPolling.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/SQSExample.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/SendMessages.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/SendReceiveMessages.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/VisibilityTimeout.java
  javav2/example_code/sqs/src/test/java/SQSServiceIntegrationTest.java
Labels: Java

#1171 Doug fix sqs go
  go/sqs/ChangeMsgVisibility/ChangeMsgVisibility.go
  go/sqs/ConfigureLPQueue/ConfigureLPQueue.go
  go/sqs/CreateLPQueue/CreateLPQueue.go
  go/sqs/DeadLetterQueue/DeadLetterQueue.go
  go/sqs/DeleteMessage/DeleteMessage.go
  go/sqs/ReceiveLPMessage/ReceiveLPMessage.go
  go/sqs/ReceiveMessage/ReceiveMessage.go
  go/sqs/SendReceiveLongPolling/SendReceiveLongPolling.go
Labels: Go, on review

#1173 Updated CodeBuild examples in Go
  go/codebuild/BuildProject/BuildProject.go
  go/codebuild/BuildProject/BuildProject_test.go
  go/codebuild/ListBuilds/ListBuilds.go
  go/codebuild/ListBuilds/ListBuilds_test.go
  go/codebuild/ListProjects/ListProjects.go
  go/codebuild/ListProjects/ListProjects_test.go
  go/codebuild/README.md
  go/codebuild/metadata.yaml
Labels: Go

#1170 Updated CloudFormation examples in Go
  go/cloudformation/CreateStack/CreateStack.go
  go/cloudformation/CreateStack/CreateStack_test.go
  go/cloudformation/DeleteStack/DeleteStack.go
  go/cloudformation/DeleteStack/DeleteStack_test.go
  go/cloudformation/ListStacks/ListStacks.go
  go/cloudformation/ListStacks/ListStacks_test.go
  go/cloudformation/README.md
  go/cloudformation/metadata.yaml
Labels: Go

#1176 Add 3 customer requested Pinpoint examples
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/AddExampleEndpoints.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/AddExampleUser.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/LookUpEndpoint.java
Labels: Java

#1172 Amazon CloudWatch code examples for PHP
  php/example_code/cloudwatch/DeleteAlarms.php
  php/example_code/cloudwatch/DescribeAlarmHistory.php
  php/example_code/cloudwatch/DescribeAlarms.php
  php/example_code/cloudwatch/DescribeAlarmsForMetric.php
  php/example_code/cloudwatch/DisableAlarmActions.php
  php/example_code/cloudwatch/EnableAlarmActions.php
  php/example_code/cloudwatch/GetMetricStatistics.php
  php/example_code/cloudwatch/ListMetrics.php
  php/example_code/cloudwatch/PutMetricAlarm.php
  php/example_code/cloudwatch/PutMetricData.php
  php/example_code/cloudwatch/SetAlarmState.php
  php/example_code/cloudwatch/metadata.yaml
  php/example_code/cloudwatch/phpunit.xml
  php/example_code/cloudwatch/tests/DeleteAlarmsTest.php
  php/example_code/cloudwatch/tests/DescribeAlarmHistoryTest.php
  php/example_code/cloudwatch/tests/DescribeAlarmsForMetricTest.php
  php/example_code/cloudwatch/tests/DescribeAlarmsTest.php
  php/example_code/cloudwatch/tests/DisableAlarmActionsTest.php
  php/example_code/cloudwatch/tests/EnableAlarmActionsTest.php
  php/example_code/cloudwatch/tests/GetMetricStatisticsTest.php
  php/example_code/cloudwatch/tests/ListMetricsTest.php
  php/example_code/cloudwatch/tests/PutMetricAlarmTest.php
  php/example_code/cloudwatch/tests/PutMetricDataTest.php
  php/example_code/cloudwatch/tests/SetAlarmStateTest.php
Labels: PHP

#1166 Amazon S3 version-enabled buckets
  python/example_code/s3/metadata.yaml
  python/example_code/s3/s3_versioning/README.md
  python/example_code/s3/s3_versioning/batch_versioning.py
  python/example_code/s3/s3_versioning/father_william.txt
  python/example_code/s3/s3_versioning/remove_delete_marker.py
  python/example_code/s3/s3_versioning/revise_stanza.py
  python/example_code/s3/s3_versioning/test/conftest.py
  python/example_code/s3/s3_versioning/test/test_batch_versioning.py
  python/example_code/s3/s3_versioning/test/test_remove_delete_marker.py
  python/example_code/s3/s3_versioning/test/test_revise_stanza.py
  python/example_code/s3/s3_versioning/test/test_versioning.py
  python/example_code/s3/s3_versioning/versioning.py
  python/test_tools/example_stubber.py
  python/test_tools/fixtures/common.py
  python/test_tools/iam_stubber.py
  python/test_tools/lambda_stubber.py
  python/test_tools/s3_stubber.py
  python/test_tools/s3control_stubber.py
  python/test_tools/sts_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python

#1177 SES Java 2 Code examples
  javav2/example_code/forecast/metadata.yaml
  javav2/example_code/ses/Readme.md
  javav2/example_code/ses/metadata.yaml
  javav2/example_code/ses/pom.xml
  javav2/example_code/ses/src/main/java/com/example/ses/SendMessage.java
  javav2/example_code/ses/src/main/java/com/example/ses/SendMessageAttachment.java
  javav2/example_code/ses/src/test/java/SendMessageMockTest.java
Labels: Java

#1174 Dynamodb GettingStarted code examples.
  python/example_code/dynamodb/GettingStarted/MoviesCreateTable.py
  python/example_code/dynamodb/GettingStarted/MoviesDeleteTable.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps01.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps02.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps03.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps03a.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps04.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps05.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps06.py
  python/example_code/dynamodb/GettingStarted/MoviesListTables.py
  python/example_code/dynamodb/GettingStarted/MoviesLoadData.py
  python/example_code/dynamodb/GettingStarted/MoviesQuery01.py
  python/example_code/dynamodb/GettingStarted/MoviesQuery02.py
  python/example_code/dynamodb/GettingStarted/MoviesScan.py
  python/example_code/dynamodb/GettingStarted/README.md
  python/example_code/dynamodb/GettingStarted/moviedata.json
  python/example_code/dynamodb/GettingStarted/test/conftest.py
  python/example_code/dynamodb/GettingStarted/test/test_getting_started.py
  python/example_code/dynamodb/metadata.yaml
  python/test_tools/dynamodb_stubber.py
  python/test_tools/example_stubber.py
Labels: Python

#1175 Add snippet tags to Java 1 EC2 example
  java/example_code/ec2/src/main/java/aws/example/ec2/DescribeRegionsAndZones.java
Labels: Java, on review

#1188 Cleanup DynamoDB TryDAX example
  python/example_code/dynamodb/TryDax/01-create-table.py
  python/example_code/dynamodb/TryDax/02-write-data.py
  python/example_code/dynamodb/TryDax/03-getitem-test.py
  python/example_code/dynamodb/TryDax/04-query-test.py
  python/example_code/dynamodb/TryDax/05-scan-test.py
  python/example_code/dynamodb/TryDax/06-delete-table.py
  python/example_code/dynamodb/TryDax/README.md
  python/example_code/dynamodb/TryDax/test/conftest.py
  python/example_code/dynamodb/TryDax/test/test_try_dax.py
  python/example_code/dynamodb/metadata.yaml
  python/test_tools/dynamodb_stubber.py
Labels: Python

#1195 Fixed JSON serializer issue in remove_delete_maker Lambda function
  python/example_code/s3/s3_versioning/remove_delete_marker.py
  python/example_code/s3/s3_versioning/test/test_remove_delete_marker.py
  python/example_code/s3/s3_versioning/test/test_revise_stanza.py
Labels: Python

#1186 Updated PHP code examples for Amazon CloudFront for signing cookies and URLs for distributions as well as updating distributions
  php/example_code/cloudfront/SignCookie.php
  php/example_code/cloudfront/SignCookiePolicy.php
  php/example_code/cloudfront/SignPrivateDistribution.php
  php/example_code/cloudfront/SignPrivateDistributionPolicy.php
  php/example_code/cloudfront/UpdateDistributionS3.php
  php/example_code/cloudfront/metadata.yaml
  php/example_code/cloudfront/my-private-key.pem
  php/example_code/cloudfront/phpunit.xml
  php/example_code/cloudfront/tests/SignCookiePolicyTest.php
  php/example_code/cloudfront/tests/SignCookieTest.php
  php/example_code/cloudfront/tests/SignPrivateDistributionPolicyTest.php
  php/example_code/cloudfront/tests/SignPrivateDistributionTest.php
  php/example_code/cloudfront/tests/UpdateDistributionS3Test.php
  php/example_code/cloudfront/tests/my-private-key.pem
Labels: PHP, on review

#1178 Updated EC2 examples in Go
  go/ec2/AllocateAddress/AllocateAddress.go
  go/ec2/AllocateAddress/AllocateAddress_test.go
  go/ec2/CreateImage/CreateImage.go
  go/ec2/CreateImage/CreateImage_test.go
  go/ec2/CreateInstance/CreateInstance.go
  go/ec2/CreateInstance/CreateInstance_test.go
  go/ec2/CreateKeyPair/CreateKeyPair.go
  go/ec2/CreateKeyPair/CreateKeyPair_test.go
  go/ec2/CreateSecurityGroup/CreateSecurityGroup.go
  go/ec2/CreateSecurityGroup/CreateSecurityGroup_test.go
  go/ec2/DeleteKeyPair/DeleteKeyPair.go
  go/ec2/DeleteKeyPair/DeleteKeyPair_test.go
  go/ec2/DeleteSecurityGroup/DeleteSecurityGroup.go
  go/ec2/DeleteSecurityGroup/DeleteSecurityGroup_test.go
  go/ec2/DescribeAddresses/DescribeAddresses.go
  go/ec2/DescribeAddresses/DescribeAddresses_test.go
  go/ec2/DescribeInstances/DescribeInstances.go
  go/ec2/DescribeInstances/DescribeInstances_test.go
  go/ec2/DescribeKeyPairs/DescribeKeyPairs.go
  go/ec2/DescribeKeyPairs/DescribeKeyPairs_test.go
  go/ec2/DescribeSecurityGroups/DescribeSecurityGroups.go
  go/ec2/DescribeSecurityGroups/DescribeSecurityGroups_test.go
  go/ec2/MonitorInstances/MonitorInstances.go
  go/ec2/MonitorInstances/MonitorInstances_test.go
  go/ec2/README.md
  go/ec2/RebootInstances/RebootInstances.go
  go/ec2/RebootInstances/RebootInstances_test.go
  go/ec2/RegionsAndZones/RegionsAndZones.go
  go/ec2/RegionsAndZones/RegionsAndZones_test.go
  go/ec2/ReleaseAddress/ReleaseAddress.go
  go/ec2/ReleaseAddress/ReleaseAddress_test.go
  go/ec2/StartStopInstances/StartStopInstances.go
  go/ec2/StartStopInstances/StartStopInstances_test.go
  go/ec2/metadata.yaml
Labels: Go

#1183 Updated Glacier examples in Go
  go/glacier/CreateVault/CreateVault.go
  go/glacier/CreateVault/CreateVault_test.go
  go/glacier/README.md
  go/glacier/UploadArchive/UploadArchive.go
  go/glacier/UploadArchive/UploadArchive_test.go
  go/glacier/UploadArchive/this_is_a_test.txt
  go/glacier/metadata.yaml
Labels: Go

#1185 Updated KMS examples in Go
  go/kms/CreateCMK/CreateCMK.go
  go/kms/CreateCMK/CreateCMK_test.go
  go/kms/DecryptData/DecryptData.go
  go/kms/DecryptData/DecryptData_test.go
  go/kms/EncryptData/EncryptData.go
  go/kms/EncryptData/EncryptData_test.go
  go/kms/README.md
  go/kms/ReEncryptData/ReEncryptData.go
  go/kms/ReEncryptData/ReEncryptData_test.go
  go/kms/metadata.yaml
Labels: Go

#1150 Add several examples for AWS C++ SDK version 1.8
  cpp/example_code/elasticfilesystem/CMakeLists.txt
  cpp/example_code/elasticfilesystem/create_file_system_with_modeled_exceptions.cpp
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/list_buckets_disabling_dns_cache.cpp
  cpp/example_code/s3/list_objects_with_aws_global_region.cpp
Labels: C++, on review
