Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-08, with the labels that each got.

#1963 Updated rust s3 README
  .rust_alpha/s3/README.md
Labels: Rust

#1962 Python snippet tag additions and README cleanup
  python/example_code/acm/README.md
  python/example_code/apigateway/aws_service/README.md
  python/example_code/cloudwatch/README.md
  python/example_code/cloudwatch/cloudwatch_basics.py
  python/example_code/comprehend/README.md
  python/example_code/comprehend/comprehend_classifier.py
  python/example_code/comprehend/comprehend_detect.py
  python/example_code/comprehend/comprehend_topic_modeler.py
  python/example_code/sns/README.md
  python/example_code/sns/sns_basics.py
Labels: Python, Ready for review

#1956 Updated .gitignore files.
  .gitignore
  resources/cdk/.gitignore
  scripts/.gitignore
Labels: Ready for review

#1964 Cleaned up AWS Config examples
  python/example_code/config/README.md
  python/example_code/config/config_rules.py
  python/example_code/config/test/conftest.py
  python/example_code/config/test/test_config_rules.py
  python/test_tools/config_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, Ready for review

#1965 Updated Rust code examples to 0.0.13 alpha release bits
  .rust_alpha/autoscaling/Cargo.toml
  .rust_alpha/batch/Cargo.toml
  .rust_alpha/cloudformation/Cargo.toml
  .rust_alpha/cognitoidentity/Cargo.toml
  .rust_alpha/cognitoidentityprovider/Cargo.toml
  .rust_alpha/cognitosync/Cargo.toml
  .rust_alpha/dynamodb/Cargo.toml
  .rust_alpha/dynamodb/src/bin/crud.rs
  .rust_alpha/dynamodb/src/bin/movies.rs
  .rust_alpha/ebs/Cargo.toml
  .rust_alpha/iam/Cargo.toml
  .rust_alpha/snowball/Cargo.toml
  .rust_alpha/sns/Cargo.toml
Labels: Ready for review, Rust

#1966 Updated EC2 code examples in Rust to 0.0.13 alpha release bits
  .rust_alpha/ec2/Cargo.toml
  .rust_alpha/ec2/src/bin/describe-instances.rs
  .rust_alpha/ec2/src/bin/ec2-helloworld.rs
  .rust_alpha/ec2/src/bin/list-all-instance-events.rs
  .rust_alpha/ec2/src/bin/monitor-instance.rs
  .rust_alpha/ec2/src/bin/reboot-instance.rs
  .rust_alpha/ec2/src/bin/start-instance.rs
  .rust_alpha/ec2/src/bin/stop-instance.rs
Labels: Ready for review, Rust

#1970 Updated MediaLive code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/medialive/Cargo.toml
  .rust_alpha/medialive/README.md
  .rust_alpha/medialive/src/bin/medialive-helloworld.rs
Labels: Ready for review, Rust

#1971 Updated MediaPackage code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/mediapackage/Cargo.toml
  .rust_alpha/mediapackage/README.md
  .rust_alpha/mediapackage/src/bin/list-endpoints.rs
  .rust_alpha/mediapackage/src/bin/mediapackage-helloworld.rs
Labels: Ready for review, Rust

#1973 Updated Polly code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/polly/Cargo.toml
  .rust_alpha/polly/README.md
  .rust_alpha/polly/src/bin/describe-voices.rs
  .rust_alpha/polly/src/bin/list-lexicons.rs
  .rust_alpha/polly/src/bin/polly-helloworld.rs
  .rust_alpha/polly/src/bin/put-lexicon.rs
  .rust_alpha/polly/src/bin/synthesize-speech.rs
Labels: Ready for review, Rust

#1980 Updated SSM code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/ssm/Cargo.toml
  .rust_alpha/ssm/README.md
  .rust_alpha/ssm/src/bin/create-parameter.rs
  .rust_alpha/ssm/src/bin/describe-parameters.rs
Labels: Ready for review, Rust

#1978 Updated SQS code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/sqs/Cargo.toml
  .rust_alpha/sqs/README.md
  .rust_alpha/sqs/src/bin/sqs-hello-world.rs
Labels: Ready for review, Rust

#1959 Simplify Amazon Persoanlize CreateDatasetGroup.java code
  javav2/README.rst
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateDatasetGroup.java
  javav2/usecases/create_amazon_personalize_app/README.md
  javav2/usecases/create_amazon_personalize_app/movie-lens-ds/schemas/interactions-schema.json
  javav2/usecases/create_amazon_personalize_app/personalize-samples.iml
  javav2/usecases/create_amazon_personalize_app/pom.xml
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/datasets/DatasetProvider.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/datasets/MovieLensDatasetProvider.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/demo/movielens/AmazonPersonalizeRecommender.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/demo/movielens/DemoUtils.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/demo/movielens/PersonalizeDemoOnMovieLens20M.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/demo/movielens/RecommendationsInterface.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/demo/movielens/WebHandler.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/AbstractResourceManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/CampaignManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/DatasetGroupManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/DatasetImportJobManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/DatasetManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/EventTrackerManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/ResourceException.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/ResourceManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/SchemaManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/SolutionManager.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/resource/SolutionVersionManager.java
  javav2/usecases/create_amazon_personalize_app/static/web/assets/css/my.css
  javav2/usecases/create_amazon_personalize_app/static/web/assets/css/owl.carousel.css
  javav2/usecases/create_amazon_personalize_app/static/web/assets/css/owl.carousel.min.css
  javav2/usecases/create_amazon_personalize_app/static/web/assets/css/owl.theme.default.css
  javav2/usecases/create_amazon_personalize_app/static/web/assets/css/owl.theme.default.min.css
  javav2/usecases/create_amazon_personalize_app/static/web/assets/css/owl.theme.green.css
  javav2/usecases/create_amazon_personalize_app/static/web/assets/css/owl.theme.green.min.css
  javav2/usecases/create_amazon_personalize_app/static/web/assets/jquery.min.js
  javav2/usecases/create_amazon_personalize_app/static/web/assets/my.js
  javav2/usecases/create_amazon_personalize_app/static/web/assets/owl.carousel.min.js
  javav2/usecases/create_amazon_personalize_app/static/web/homepage.html
Labels: enhancement, Java

#1985 Added VSCode snippet files to Rust tools directory
  .rust_alpha/tools/README.md
  .rust_alpha/tools/rust.json
  .rust_alpha/tools/toml.json
Labels: Rust, Ready for review

#1993 Fix incorrect description
  javascriptv3/example_code/dynamodb/src/ddbdoc_put_item.js
Labels: JavaScript

#1983 Check in Athena J2 examples
  javav2/example_code/athena/src/main/java/aws/example/athena/CreateNamedQueryExample.java
  javav2/example_code/athena/src/main/java/aws/example/athena/DeleteNamedQueryExample.java
  javav2/example_code/athena/src/main/java/aws/example/athena/ListQueryExecutionsExample.java
  javav2/example_code/emr/src/main/java/aws/example/emr/AddSteps.java
  javav2/example_code/emr/src/main/java/aws/example/emr/CreateCluster.java
  javav2/example_code/emr/src/main/java/aws/example/emr/CreateEmrFleet.java
  javav2/example_code/emr/src/main/java/aws/example/emr/CreateHiveCluster.java
  javav2/example_code/emr/src/main/java/aws/example/emr/CreateSparkCluster.java
  javav2/example_code/emr/src/main/java/aws/example/emr/CustomEmrfsMaterials.java
  javav2/example_code/emr/src/main/java/aws/example/emr/DescribeCluster.java
  javav2/example_code/emr/src/main/java/aws/example/emr/ListClusters.java
  javav2/example_code/emr/src/main/java/aws/example/emr/TerminateJobFlow.java
  javav2/example_code/emr/src/main/resources/config.properties
  javav2/example_code/emr/src/test/java/EMRTest.java
Labels: Java, Back to author

#1997 Fixing parameter name
  javascriptv3/example_code/s3/src/s3_put_presignedURL.js
Labels: JavaScript

#1998 New SNS Examples
  dotnetv3/SNS/DeleteSNSTopicExample/DeleteSNSTopicExample.sln
  dotnetv3/SNS/DeleteSNSTopicExample/DeleteSNSTopicExample/DeleteSNSTopic.cs
  dotnetv3/SNS/DeleteSNSTopicExample/DeleteSNSTopicExample/DeleteSNSTopicExample.csproj
  dotnetv3/SNS/GetTopicAttributesExample/GetTopicAttributesExample.sln
  dotnetv3/SNS/GetTopicAttributesExample/GetTopicAttributesExample/GetTopicAttributes.cs
  dotnetv3/SNS/GetTopicAttributesExample/GetTopicAttributesExample/GetTopicAttributesExample.csproj
  dotnetv3/SNS/ListSNSSubscriptionsExample/ListSNSSubscriptionsExample.sln
  dotnetv3/SNS/ListSNSSubscriptionsExample/ListSNSSubscriptionsExample/ListSNSSubscriptionsExample.csproj
  dotnetv3/SNS/ListSNSSubscriptionsExample/ListSNSSubscriptionsExample/ListSubscriptions.cs
  dotnetv3/SNS/ListSNSTopicsExample/ListSNSTopicsExample.sln
  dotnetv3/SNS/ListSNSTopicsExample/ListSNSTopicsExample/ListSNSTopics.cs
  dotnetv3/SNS/ListSNSTopicsExample/ListSNSTopicsExample/ListSNSTopicsExample.csproj
  dotnetv3/SNS/ManageTopicSubscriptionExample/ManageTopicSubscriptionExample.sln
  dotnetv3/SNS/ManageTopicSubscriptionExample/ManageTopicSubscriptionExample/ManageTopicSubscription.cs
  dotnetv3/SNS/ManageTopicSubscriptionExample/ManageTopicSubscriptionExample/ManageTopicSubscriptionExample.csproj
  dotnetv3/SNS/PublishToSNSTopicExample/PublishToSNSTopicExample.sln
  dotnetv3/SNS/PublishToSNSTopicExample/PublishToSNSTopicExample/PublishToSNSTopic.cs
  dotnetv3/SNS/PublishToSNSTopicExample/PublishToSNSTopicExample/PublishToSNSTopicExample.csproj
Labels: .NET, Ready for review

#2000 Change TypeScript to JavaScript in titles of READMEs
  javascriptv3/example_code/cognito/getCredentials/README.md
  javascriptv3/example_code/cross-services/lambda-api-gateway/README.md
  javascriptv3/example_code/cross-services/lambda-scheduled-events/README.md
  javascriptv3/example_code/cross-services/lambda-step-functions/README.md
  javascriptv3/example_code/cross-services/lex-bot/README.md
  javascriptv3/example_code/cross-services/message-app/README.md
  javascriptv3/example_code/cross-services/submit-data-app/README.md
  javascriptv3/example_code/cross-services/transcription-app/README.md
  javascriptv3/example_code/cross-services/video-analyzer/README.md
  javascriptv3/example_code/rekognition/estimate-age-example/src/README.md
  javascriptv3/example_code/s3/photoExample/README.md
  javascriptv3/example_code/s3/photoViewer/README.md
  javascriptv3/example_code/transcribe/README.md
Labels: JavaScript, Ready for review

#1994 Already imported. No need of full package name
  javav2/example_code/dynamodbasync/src/main/java/com/example/dynamodbasync/DynamoDBAsyncGetItem.java
Labels: Java

#1967 Updated Kinesis code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/kinesis/Cargo.toml
  .rust_alpha/kinesis/README.md
  .rust_alpha/kinesis/src/bin/create-stream.rs
  .rust_alpha/kinesis/src/bin/delete-stream.rs
  .rust_alpha/kinesis/src/bin/describe-stream.rs
  .rust_alpha/kinesis/src/bin/list-streams.rs
  .rust_alpha/kinesis/src/bin/put-record.rs
Labels: Rust

#1972 Updated QLDB code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/qldb/Cargo.toml
  .rust_alpha/qldb/README.md
  .rust_alpha/qldb/src/bin/create-ledger.rs
  .rust_alpha/qldb/src/bin/list-ledgers.rs
  .rust_alpha/qldb/src/bin/qldb-helloworld.rs
Labels: Rust

#1974 Updated RDS code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/rds/Cargo.toml
  .rust_alpha/rds/README.md
  .rust_alpha/rds/src/bin/rds-helloworld.rs
Labels: Rust

#1969 Doug lambda rust0.0.13
  .rust_alpha/lambda/Cargo.toml
  .rust_alpha/lambda/README.md
  .rust_alpha/lambda/src/bin/invoke-function.rs
  .rust_alpha/lambda/src/bin/list-functions.rs
Labels: Rust

#1981 Updated STS code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/sts/Cargo.toml
  .rust_alpha/sts/README.md
  .rust_alpha/sts/src/bin/credentials-provider.rs
Labels: Rust

#1986 Updated SecretsManager code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/secretsmanager/Cargo.toml
  .rust_alpha/secretsmanager/README.md
  .rust_alpha/secretsmanager/src/bin/create-secret.rs
  .rust_alpha/secretsmanager/src/bin/get-secret-value.rs
  .rust_alpha/secretsmanager/src/bin/list-secrets.rs
Labels: Rust

#1987 Updated SageMaker code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/sagemaker/Cargo.toml
  .rust_alpha/sagemaker/README.md
  .rust_alpha/sagemaker/src/bin/list-training-jobs.rs
  .rust_alpha/sagemaker/src/bin/sagemaker-helloworld.rs
Labels: Rust

#1975 Updated RDS data code examples in Rust to use alpha 0.0.13 bits
  .rust_alpha/rdsdata/Cargo.toml
  .rust_alpha/rdsdata/README.md
  .rust_alpha/rdsdata/src/bin/rdsdata-helloworld.rs
Labels: Rust

#2002 Updated Rust code examples to use 0.0.15 alpha version
  .rust_alpha/autoscaling/Cargo.toml
  .rust_alpha/batch/Cargo.toml
  .rust_alpha/cloudformation/Cargo.toml
  .rust_alpha/cognitoidentity/Cargo.toml
  .rust_alpha/cognitoidentityprovider/Cargo.toml
  .rust_alpha/cognitosync/Cargo.toml
  .rust_alpha/config/Cargo.toml
  .rust_alpha/dynamodb/Cargo.toml
  .rust_alpha/ebs/Cargo.toml
  .rust_alpha/ec2/Cargo.toml
  .rust_alpha/iam/Cargo.toml
  .rust_alpha/iam/src/bin/create-role.rs
  .rust_alpha/kinesis/Cargo.toml
  .rust_alpha/kms/Cargo.toml
  .rust_alpha/lambda/Cargo.toml
  .rust_alpha/medialive/Cargo.toml
  .rust_alpha/mediapackage/Cargo.toml
  .rust_alpha/polly/Cargo.toml
  .rust_alpha/qldb/Cargo.toml
  .rust_alpha/rds/Cargo.toml
  .rust_alpha/rdsdata/Cargo.toml
  .rust_alpha/route53/Cargo.toml
  .rust_alpha/s3/Cargo.toml
  .rust_alpha/sagemaker/Cargo.toml
  .rust_alpha/secretsmanager/Cargo.toml
  .rust_alpha/ses/Cargo.toml
  .rust_alpha/snowball/Cargo.toml
  .rust_alpha/sns/Cargo.toml
  .rust_alpha/sqs/Cargo.toml
  .rust_alpha/ssm/Cargo.toml
  .rust_alpha/sts/Cargo.toml
Labels: Rust, Ready for review

#2009 Added readme file and updated metadata
  dotnetv3/SNS/README.md
  dotnetv3/SNS/metadata.yaml
Labels: .NET, Ready for review

#2008 Add Lambda example to list functions
  dotnetv3/Lambda/ListFunctionsExample/ListFunctionsExample.sln
  dotnetv3/Lambda/ListFunctionsExample/ListFunctionsExample/ListFunctions.cs
  dotnetv3/Lambda/ListFunctionsExample/ListFunctionsExample/ListFunctionsExample.csproj
Labels: .NET, Ready for review

#2007 Added Java v1 snippets extracted from SNS guide
  java/example_code/sns/CreateMobileEndpoint.java
  java/example_code/sns/FifoTopics.java
  java/example_code/sns/PublishLargeFile.java
  java/example_code/sns/PublishSmsToTopic.java
  java/example_code/sns/README.md
  java/example_code/sns/RedrivePolicy.java
Labels: Java

#2006 Updated S3 code examples in Ruby to fix issue #2005
  ruby/example_code/s3/s3-ruby-example-upload-item-with-metadata.rb
  ruby/example_code/s3/s3-ruby-example-upload-item.rb
  ruby/example_code/s3/s3_set_bucket_acls.rb
Labels: bug, Ruby

#1999 improve s3 bucket code in personalize usecase app
  javav2/usecases/create_amazon_personalize_app/README.md
  javav2/usecases/create_amazon_personalize_app/personalize-samples.iml
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/datasets/MovieLensDatasetProvider.java
  javav2/usecases/create_amazon_personalize_app/src/main/java/com/amazonaws/personalize/client/demo/movielens/PersonalizeDemoOnMovieLens20M.java
Labels: enhancement, Java

#2011 Move SOS metadata and templates to GitHub, set up an action to validate.
  .doc_gen/cross-content/cross_ApiGatewayDataTracker_Python_block.xml
  .doc_gen/cross-content/cross_ApiGatewayWebsocketChat_Python_block.xml
  .doc_gen/cross-content/cross_AuroraRestLendingLibrary_Python_block.xml
  .doc_gen/cross-content/cross_DynamoDBDataTracker_Java_block.xml
  .doc_gen/cross-content/cross_LambdaAPIGateway_JavaScript_block.xml
  .doc_gen/cross-content/cross_LambdaScheduledEvents_JavaScript_block.xml
  .doc_gen/cross-content/cross_ServerlessWorkflows_JavaScript_block.xml
  .doc_gen/cross-content/cross_StepFunctionsMessenger_Python_block.xml
  .doc_gen/cross-content/cross_SubmitDataApp_JavaScript_block.xml
  .doc_gen/cross-content/cross_TextractExplorer_JavaScript_block.xml
  .doc_gen/cross-content/cross_TextractExplorer_Python_block.xml
  .doc_gen/cross-content/cross_TranscriptionApp_JavaScript_block.xml
  .doc_gen/cross-content/cross_TranscriptionStreamingApp_JavaScript_block.xml
  .doc_gen/metadata/acm_metadata.yaml
  .doc_gen/metadata/apigateway_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/mapping.yaml
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/templates/zonbook/example_description_template.xml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/example_tablist_template.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  .doc_gen/zexi/zexi
  .github/workflows/validate-doc-metadata.yml
Labels: Ready for review

#1995 Modified closing tag location
  javav2/README.rst
  javav2/usecases/creating_document_analyzer/Readme.md
  javav2/usecases/creating_document_analyzer/images/document.png
  javav2/usecases/creating_document_analyzer/images/document1.png
  javav2/usecases/creating_document_analyzer/images/e.txt
  javav2/usecases/creating_document_analyzer/images/guide.png
  javav2/usecases/creating_document_analyzer/images/guide1.png
  javav2/usecases/creating_document_analyzer/images/guide2.png
  javav2/usecases/creating_document_analyzer/images/health.pdf
  javav2/usecases/creating_document_analyzer/images/home.png
  javav2/usecases/creating_document_analyzer/images/pdf.png
  javav2/usecases/creating_document_analyzer/images/project.png
  javav2/usecases/creating_document_analyzer/images/projectclasses.png
  javav2/usecases/creating_document_analyzer/images/projectdoc.png
  javav2/usecases/creating_document_analyzer/images/results.png
  javav2/usecases/creating_document_analyzer/images/results1.png
  javav2/usecases/creating_document_analyzer/images/run.png
  javav2/usecases/creating_document_analyzer/images/upload.png
  javav2/usecases/creating_document_analyzer/images/upload1.png
  javav2/usecases/creating_document_analyzer/src/main/java/com/aws/example/DocumentApplication.java
  javav2/usecases/creating_document_analyzer/src/main/java/com/aws/example/DocumentController.java
  javav2/usecases/creating_document_analyzer/src/main/java/com/aws/example/S3Service.java
  javav2/usecases/creating_document_analyzer/src/main/java/com/aws/example/TextractService.java
  javav2/usecases/creating_first_project/Readme.md
  javav2/usecases/creating_first_project/images/project1.png
  javav2/usecases/creating_first_project/images/project2.png
  javav2/usecases/creating_first_project/src/main/java/com/example/GreetingApplication.java
  javav2/usecases/creating_first_project/src/main/java/com/example/handlingformsubmission/DynamoDBEnhanced.java
  javav2/usecases/creating_first_project/src/main/java/com/example/handlingformsubmission/Greeting.java
  javav2/usecases/creating_first_project/src/main/java/com/example/handlingformsubmission/GreetingController.java
  javav2/usecases/creating_first_project/src/main/java/com/example/handlingformsubmission/PublishTextSMS.java
Labels: Java

#2021 Updated CDK readme to fill in missing app descriptions
  resources/cdk/README.md
  resources/cdk/kinesis-example-create-stream/.gitignore
  resources/cdk/kinesis-example-create-stream/cdk.json
  resources/cdk/kinesis-example-create-stream/package.json
  resources/cdk/kinesis-example-create-stream/setup.ts
  resources/cdk/kinesis-example-create-stream/tsconfig.json
Labels: CDK, Ready for review

#2019 Added filter to S3 ListBuckets operation in Rust to only see buckets in region
  .rust_alpha/s3/src/bin/list-buckets.rs
Labels: enhancement, Rust, Ready for review

#2022 New CloudWatch Examples
  dotnetv3/CloudWatch/DeleteAlarmsExample/DeleteAlarmsExample.sln
  dotnetv3/CloudWatch/DeleteAlarmsExample/DeleteAlarmsExample/DeleteAlarms.cs
  dotnetv3/CloudWatch/DeleteAlarmsExample/DeleteAlarmsExample/DeleteAlarmsExample.csproj
  dotnetv3/CloudWatch/DescribeAlarmHistoriesExample/DescribeAlarmHistoriesExample.sln
  dotnetv3/CloudWatch/DescribeAlarmHistoriesExample/DescribeAlarmHistoriessExample/DescribeAlarmHistories.cs
  dotnetv3/CloudWatch/DescribeAlarmHistoriesExample/DescribeAlarmHistoriessExample/DescribeAlarmHistoriesExample.csproj
  dotnetv3/CloudWatch/DisableAlarmActionsExammple/DisableAlarmActionsExammple.sln
  dotnetv3/CloudWatch/DisableAlarmActionsExammple/DisableAlarmActionsExammple/DisableAlarmActions.cs
  dotnetv3/CloudWatch/DisableAlarmActionsExammple/DisableAlarmActionsExammple/DisableAlarmActionsExammple.csproj
  dotnetv3/CloudWatch/EnableAlarmActionsExample/EnableAlarmActionsExample.sln
  dotnetv3/CloudWatch/EnableAlarmActionsExample/EnableAlarmActionsExample/EnableAlarmActions.cs
  dotnetv3/CloudWatch/EnableAlarmActionsExample/EnableAlarmActionsExample/EnableAlarmActionsExample.csproj
  dotnetv3/CloudWatch/GetDashboardExample/GetDashboardExample.sln
  dotnetv3/CloudWatch/GetDashboardExample/GetDashboardExample/GetDashboard.cs
  dotnetv3/CloudWatch/GetDashboardExample/GetDashboardExample/GetDashboardExample.csproj
  dotnetv3/CloudWatch/ListDashboardsExample/ListDashboardsExample.sln
  dotnetv3/CloudWatch/ListDashboardsExample/ListDashboardsExample/ListDashboards.cs
  dotnetv3/CloudWatch/ListDashboardsExample/ListDashboardsExample/ListDashboardsExample.csproj
  dotnetv3/CloudWatch/ListMetricsExample/ListMetricsExample.sln
  dotnetv3/CloudWatch/ListMetricsExample/ListMetricsExample/ListMetrics.cs
  dotnetv3/CloudWatch/ListMetricsExample/ListMetricsExample/ListMetricsExample.csproj
Labels: .NET, Back to author

#2026 New Kinesis examples
  dotnetv3/Kinesis/CreateStreamExample/CreateStreamExample.sln
  dotnetv3/Kinesis/CreateStreamExample/CreateStreamExample/CreateStream.cs
  dotnetv3/Kinesis/CreateStreamExample/CreateStreamExample/CreateStreamExample.csproj
  dotnetv3/Kinesis/DeleteStreamExample/DeleteStreamExample.sln
  dotnetv3/Kinesis/DeleteStreamExample/DeleteStreamExample/DeleteStream.cs
  dotnetv3/Kinesis/DeleteStreamExample/DeleteStreamExample/DeleteStreamExample.csproj
  dotnetv3/Kinesis/DeregisterConsumerExample/DeregisterConsumerExample.sln
  dotnetv3/Kinesis/DeregisterConsumerExample/DeregisterConsumerExample/DeregisterConsumer.cs
  dotnetv3/Kinesis/DeregisterConsumerExample/DeregisterConsumerExample/DeregisterConsumerExample.csproj
  dotnetv3/Kinesis/ListConsumersExample/ListConsumersExample.sln
  dotnetv3/Kinesis/ListConsumersExample/ListConsumersExample/ListConsumers.cs
  dotnetv3/Kinesis/ListConsumersExample/ListConsumersExample/ListConsumersExample.csproj
  dotnetv3/Kinesis/ListStreamsExample/ListStreamsExample.sln
  dotnetv3/Kinesis/ListStreamsExample/ListStreamsExample/ListStreams.cs
  dotnetv3/Kinesis/ListStreamsExample/ListStreamsExample/ListStreamsExample.csproj
  dotnetv3/Kinesis/ListTagsExample/ListTagsExample.sln
  dotnetv3/Kinesis/ListTagsExample/ListTagsExample/ListTags.cs
  dotnetv3/Kinesis/ListTagsExample/ListTagsExample/ListTagsExample.csproj
  dotnetv3/Kinesis/RegisterConsumerExample/RegisterConsumerExample.sln
  dotnetv3/Kinesis/RegisterConsumerExample/RegisterConsumerExample/RegisterConsumer.cs
  dotnetv3/Kinesis/RegisterConsumerExample/RegisterConsumerExample/RegisterConsumerExample.csproj
  dotnetv3/Kinesis/TagStreamExample/TagStreamExample.sln
  dotnetv3/Kinesis/TagStreamExample/TagStreamExample/TagStream.cs
  dotnetv3/Kinesis/TagStreamExample/TagStreamExample/TagStreamExample.csproj
Labels: .NET, Back to author

#2025 Added documentation metadata validator using Yamale and Python
  .doc_gen/metadata/mapping.yaml
  .doc_gen/validation/example_schema.yaml
  .doc_gen/validation/mapping_schema.yaml
  .doc_gen/validation/validate_doc_metadata.py
  .doc_gen/zexi/zexi
  .github/workflows/validate-doc-metadata.yml
Labels: enhancement

#2030 Add categories to zonbook templates.
  .doc_gen/metadata/acm_metadata.yaml
  .doc_gen/metadata/apigateway_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/templates/zonbook/example_description_template.xml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/example_tablist_template.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: enhancement, SoS
