Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-02, with the labels that each got.

#1622 Updates to SDK client version numbers
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/cognito/getCredentials/package.json
  javascriptv3/example_code/cognito/getCredentials/yarn.lock
  javascriptv3/example_code/cross-services/submit-data-app/package.json
  javascriptv3/example_code/cross-services/transcription-app/package.json
  javascriptv3/example_code/dynamodb/package.json
  javascriptv3/example_code/ec2/package.json
  javascriptv3/example_code/glacier/package.json
  javascriptv3/example_code/iam/package.json
  javascriptv3/example_code/kinesis/package.json
  javascriptv3/example_code/mediaconvert/package.json
  javascriptv3/example_code/nodegetstarted/src/package.json
  javascriptv3/example_code/pinpoint/package.json
  javascriptv3/example_code/polly/general-examples/src/package.json
  javascriptv3/example_code/polly/package.json
  javascriptv3/example_code/redshift/package.json
  javascriptv3/example_code/s3/package.json
  javascriptv3/example_code/s3/photoExample/package.json
  javascriptv3/example_code/s3/photoViewer/package.json
  javascriptv3/example_code/secrets/package.json
  javascriptv3/example_code/ses/package.json
  javascriptv3/example_code/sns/package.json
  javascriptv3/example_code/sqs/package.json
  javascriptv3/example_code/transcribe/package.json
Labels: JavaScript

#1623 Doug fix cdk go
  .gitignore
  resources/cdk/go_example_lambda/bin/go-lambda-cdk.ts
  resources/cdk/go_example_lambda/cdk.json
  resources/cdk/go_example_lambda/lib/go-lambda-cdk-stack.ts
  resources/cdk/go_example_lambda/setup.ts
Labels: Go, TypeScript, enhancement

#1621 Fix C++ S3 create bucket example
  cpp/example_code/s3/create_bucket.cpp
Labels: C++

#1626 Update quote to avoid deny list problem with 'raven'.
  python/example_code/stepfunctions/stepfunctions_demo.py
Labels: Python, bug

#1620 Updated AWS CDK app template to demonstrate getting custom inputs from the caller
  tools/cdk_app_template/README.md
  tools/cdk_app_template/setup.ts
Labels: TypeScript

#1624 updates to presignedURL examples
  javascriptv3/example_code/s3/src/s3_get_presignedURL.ts
  javascriptv3/example_code/s3/src/s3_put_presignedURL.ts
  tools/cdk_app_template/README.md
Labels: JavaScript, on review

#1628 Update README in Tool/CDK
  tools/cdk_app_template/README.md
Labels: CloudFormation

#1630 Added CloudFormation script template from Go CDK app
  resources/cdk/go_example_lambda/setup.ts
  resources/cfn/go_example_lambda/GoCdkStack.template.json
  resources/cfn/go_example_lambda/README.md
Labels: Go

#1615 Add AWS Step Functions Java V2 Examples
  javav2/example_code/s3/metadata.yaml
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectContentType.java
  javav2/example_code/stepfunctions/Readme.md
  javav2/example_code/stepfunctions/metadata.yaml
  javav2/example_code/stepfunctions/pom.xml
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/CreateStateMachine.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/DeleteStateMachine.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/GetExecutionHistory.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/GetFailedExecutions.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/ListActivities.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/ListStateMachines.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/StartExecution.java
  javav2/example_code/stepfunctions/src/main/reources/config.properties
  javav2/example_code/stepfunctions/src/test/java/StepFunctionsTest.java
  javav2/usecases/creating_dynamodb_web_app/Readme.md
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/example/secureweb/MainController.java
Labels: Java

#1614 Add examples for S3 CRT client in AWS SDK for C++.
  cpp/example_code/s3-crt/CMakeLists.txt
  cpp/example_code/s3-crt/include/awsdoc/s3-crt/S3Crt_EXPORTS.h
  cpp/example_code/s3-crt/include/awsdoc/s3-crt/s3-crt-demo.h
  cpp/example_code/s3-crt/metadata.yaml
  cpp/example_code/s3-crt/s3-crt-demo.cpp
  cpp/example_code/s3-crt/tests/test_s3-crt-demo.cpp
Labels: C++

#1635 update s3 upload object examples
  javascriptv3/example_code/s3/src/metadata.yaml
  javascriptv3/example_code/s3/src/s3_create_and_upload_objects.ts
  javascriptv3/example_code/s3/src/s3_upload_object.ts
  javascriptv3/example_code/tests/s3/s3_create_and_upload_object.test.js
  javascriptv3/example_code/tests/s3/s3_upload_object.test.js
Labels: JavaScript

#1629 AWS CDK app and AWS CloudFormation template for creating an Amazon S3 bucket to help with Ruby code example prerequisites
  resources/cdk/s3-ruby-example-create-bucket/cdk.json
  resources/cdk/s3-ruby-example-create-bucket/package.json
  resources/cdk/s3-ruby-example-create-bucket/s3-ruby-example-create-bucket.ts
  resources/cdk/s3-ruby-example-create-bucket/tsconfig.json
  ruby/example_code/s3/s3-ruby-example-create-bucket.yaml
  tools/cdk_app_template/setup.ts
Labels: TypeScript

#1637 Cdk app template
  resources/cdk/dynamodb-ruby-example-create-users-table/cdk.json
  resources/cdk/dynamodb-ruby-example-create-users-table/dynamodb-ruby-example-create-users-table.ts
  resources/cdk/dynamodb-ruby-example-create-users-table/package.json
  resources/cdk/dynamodb-ruby-example-create-users-table/tsconfig.json
  resources/cdk/dynamodb_ruby_example_create_movies_table/cdk.json
  resources/cdk/dynamodb_ruby_example_create_movies_table/dynamodb_ruby_example_create_movies_table.ts
  resources/cdk/dynamodb_ruby_example_create_movies_table/package.json
  resources/cdk/dynamodb_ruby_example_create_movies_table/tsconfig.json
  ruby/example_code/dynamodb/dynamodb-ruby-example-create-users-table.yaml
  ruby/example_code/dynamodb/dynamodb_ruby_example_create_movies_table.yaml
Labels: TypeScript

#1609 Add sns example
  dotnet3.5/SNS/SNSMessageExample/SNSMessageExample.sln
  dotnet3.5/SNS/SNSMessageExample/SNSMessageExample/SNSMessage.cs
  dotnet3.5/SNS/SNSMessageExample/SNSMessageExample/SNSMessageExample.cs
  dotnet3.5/SNS/SNSMessageExample/SNSMessageExample/SNSMessageExample.csproj
  dotnet3.5/SNS/SNSMessageExample/SNSMessageExampleTest/SNSMessageExampleTest.csproj
  dotnet3.5/SNS/SNSMessageExample/SNSMessageExampleTest/SNSMessageTest.cs
  dotnet3.5/SNS/metadata.yaml
Labels: .NET

#1639 Amazon Polly lip-sync example
  python/README.md
  python/example_code/polly/.media/lips_a.png
  python/example_code/polly/.media/lips_c.png
  python/example_code/polly/.media/lips_ch.png
  python/example_code/polly/.media/lips_e.png
  python/example_code/polly/.media/lips_f.png
  python/example_code/polly/.media/lips_m.png
  python/example_code/polly/.media/lips_o.png
  python/example_code/polly/.media/lips_r.png
  python/example_code/polly/.media/lips_sil.png
  python/example_code/polly/.media/lips_th.png
  python/example_code/polly/.media/lips_u.png
  python/example_code/polly/.media/lips_w.png
  python/example_code/polly/.media/silence.mp3
  python/example_code/polly/.metadata.yaml
  python/example_code/polly/DeleteLexicon.py
  python/example_code/polly/GetLexicon.py
  python/example_code/polly/ListLexicon.py
  python/example_code/polly/PutLexicon.py
  python/example_code/polly/README.md
  python/example_code/polly/StartSpeechSynthesisTask.py
  python/example_code/polly/SynthesizeSpeech.py
  python/example_code/polly/polly_lipsync.py
  python/example_code/polly/polly_wrapper.py
  python/example_code/polly/test/conftest.py
  python/example_code/polly/test/test_polly_wrapper.py
  python/test_tools/polly_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, on review

#1600 Feature/cpp dynamodb examples
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/query_items.cpp
  cpp/example_code/dynamodb/scan_table.cpp
Labels: C++

#1645 Cleaning up legacy Ruby code examples for Amazon SQS.
  ruby/example_code/sqs/metadata.yaml
  ruby/example_code/sqs/sqs-ruby-example-create-queue.rb
  ruby/example_code/sqs/sqs-ruby-example-get-messages.rb
  ruby/example_code/sqs/sqs-ruby-example-send-message-batch.rb
  ruby/example_code/sqs/sqs-ruby-example-send-message.rb
  ruby/example_code/sqs/sqs-ruby-example-show-queues.rb
  ruby/example_code/sqs/tests/test_sqs-ruby-example-create-queue.rb
  ruby/example_code/sqs/tests/test_sqs-ruby-example-get-messages.rb
  ruby/example_code/sqs/tests/test_sqs-ruby-example-send-message-batch.rb
  ruby/example_code/sqs/tests/test_sqs-ruby-example-send-message.rb
  ruby/example_code/sqs/tests/test_sqs-ruby-example-show-queues.rb
Labels: Ruby

#1652 Amazon Kinesis JS SDK examples
  CONTRIBUTING.md
  javascriptv3/example_code/kinesis/README.md
  javascriptv3/example_code/kinesis/package.json
  javascriptv3/example_code/kinesis/src/blog_page.html
  javascriptv3/example_code/kinesis/src/kinesis-example.ts
  javascriptv3/example_code/kinesis/src/setup.yaml
  javascriptv3/example_code/tests/kinesis/kinesis-example.test.js
  resources/cdk/kenesis-example-create-stream/.gitignore
  resources/cdk/kenesis-example-create-stream/cdk.json
  resources/cdk/kenesis-example-create-stream/package.json
  resources/cdk/kenesis-example-create-stream/setup.ts
  resources/cdk/kenesis-example-create-stream/tsconfig.json
Labels: JavaScript, on review

#1636 Add the AWS Workflow that sends notifications over multiple channels by using the AWS SDK for Java
  javav2/README.rst
  javav2/example_code/cognito/src/main/java/com/example/cognito/ListUsers.java
  javav2/usecases/workflow_multiple_channels/Readme.md
  javav2/usecases/workflow_multiple_channels/images/Lambda1.png
  javav2/usecases/workflow_multiple_channels/images/LambdaEndpoint.png
  javav2/usecases/workflow_multiple_channels/images/LambdaJAR.png
  javav2/usecases/workflow_multiple_channels/images/LambdaName.png
  javav2/usecases/workflow_multiple_channels/images/LambdaResources.png
  javav2/usecases/workflow_multiple_channels/images/MySQL.png
  javav2/usecases/workflow_multiple_channels/images/Policies.png
  javav2/usecases/workflow_multiple_channels/images/Policies2.png
  javav2/usecases/workflow_multiple_channels/images/ProjectJava2.png
  javav2/usecases/workflow_multiple_channels/images/Projet.png
  javav2/usecases/workflow_multiple_channels/images/RDS.png
  javav2/usecases/workflow_multiple_channels/images/RDSEndpoint.png
  javav2/usecases/workflow_multiple_channels/images/RDSSettings.png
  javav2/usecases/workflow_multiple_channels/images/Settings.png
  javav2/usecases/workflow_multiple_channels/images/StepFunctions.png
  javav2/usecases/workflow_multiple_channels/images/TemplateRDS.png
  javav2/usecases/workflow_multiple_channels/images/database.png
  javav2/usecases/workflow_multiple_channels/images/message.png
  javav2/usecases/workflow_multiple_channels/images/testfunction3.png
  javav2/usecases/workflow_multiple_channels/images/workflow.png
  javav2/usecases/workflow_multiple_channels/images/workflowGreen.png
  javav2/usecases/workflow_multiple_channels/images/workflowLogs2.png
  javav2/usecases/workflow_multiple_channels/images/workflowmodel.png
  javav2/usecases/workflow_multiple_channels/images/workflowmodelA.png
  javav2/usecases/workflow_multiple_channels/images/workflowuser.png
  javav2/usecases/workflow_multiple_channels/metadata.yaml
  javav2/usecases/workflow_multiple_channels/pom.xml
  javav2/usecases/workflow_multiple_channels/src/main/java/com/example/messages/ConnectionHelper.java
  javav2/usecases/workflow_multiple_channels/src/main/java/com/example/messages/Handler.java
  javav2/usecases/workflow_multiple_channels/src/main/java/com/example/messages/HandlerVoiceNot.java
  javav2/usecases/workflow_multiple_channels/src/main/java/com/example/messages/RDSGetStudents.java
  javav2/usecases/workflow_multiple_channels/src/main/java/com/example/messages/SendNotifications.java
  javav2/usecases/workflow_multiple_channels/src/main/java/com/example/messages/Student.java
Labels: Java

#1655 updates to Amazon Kinesis example
  javascriptv3/example_code/kinesis/src/setup.yaml
  resources/cdk/kenesis-example-create-stream/setup.ts
Labels: JavaScript

#1656 updating CDK readmes
  javascriptv3/example_code/sns/README.md
  resources/cdk/README.md
  resources/cdk/dynamodb-ruby-example-create-users-table/dynamodb-ruby-example-create-users-table.ts
  resources/cdk/dynamodb_ruby_example_create_movies_table/dynamodb_ruby_example_create_movies_table.ts
  resources/cdk/javascript_example_code_polly_aws_service/README.md
  resources/cdk/javascript_example_code_transcribe_demo/README.md
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
  resources/cdk/javascript_example_lambda_aws-service/README.md
  resources/cdk/javascript_example_lambda_aws-service/setup.ts
  resources/cdk/kenesis-example-create-stream/setup.ts
Labels: CloudFormation

#1659 Using Amazon API Gateway to invoke Lambda functions
  javascriptv3/example_code/cross-services/lambda-api-gateway/README.md
  javascriptv3/example_code/cross-services/lambda-api-gateway/package.json
  javascriptv3/example_code/cross-services/lambda-api-gateway/setup.yaml
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/helper-functions/lambda-function-setup.ts
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/helper-functions/populate-table.ts
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/metadata.yaml
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/mylamdbafunction.ts
  javascriptv3/example_code/dynamodb/src/QueryExample/ddb_createtable_tv.ts
  javascriptv3/example_code/s3/src/s3_get_presignedURL.ts
  javascriptv3/example_code/s3/src/s3_put_presignedURL.ts
  javascriptv3/example_code/tests/cross-services/lambda-api-gateway/lambda-function-setup.test.js
  javascriptv3/example_code/tests/cross-services/lambda-api-gateway/mylambdafunction.test.js
  javascriptv3/example_code/tests/cross-services/lambda-api-gateway/populate-table.test.js
  resources/cdk/lambda_using_api_gateway/cdk.json
  resources/cdk/lambda_using_api_gateway/package.json
  resources/cdk/lambda_using_api_gateway/setup.ts
  resources/cdk/lambda_using_api_gateway/tsconfig.json
Labels: CloudFormation, JavaScript, on review

#1658 S3 presigned URL example with Requests package.
  python/example_code/s3/.metadata.yaml
  python/example_code/s3/s3_basics/ReadMe.md
  python/example_code/s3/s3_basics/bucket_wrapper.py
  python/example_code/s3/s3_basics/presigned_url.py
  python/example_code/s3/s3_basics/test/test_bucket_wrapper.py
  python/example_code/s3/s3_basics/test/test_presigned_url.py
Labels: Python

#1661 update S3 tests
  javascriptv3/example_code/tests/s3/s3_getobject.test.js
  javascriptv3/example_code/tests/s3/s3_putobject.test.js
  javascriptv3/example_code/tests/s3/s3_upload_object.test.js
Labels: JavaScript

#1657 Java V2 code examples for Amazon MQ
  javav2/example_code/mq/.factorypath
  javav2/example_code/mq/README.md
  javav2/example_code/mq/pom.xml
  javav2/example_code/mq/src/main/java/com/example/mq/CreateBroker.java
  javav2/example_code/mq/src/main/java/com/example/mq/CreateConfiguration.java
  javav2/example_code/mq/src/main/java/com/example/mq/DescribeBroker.java
  javav2/example_code/mq/src/main/java/com/example/mq/ListBrokers.java
  javav2/example_code/mq/src/main/java/com/example/mq/ListConfigurations.java
  javav2/example_code/mq/src/main/java/com/example/mq/UpdateBrokerConfiguration.java
  javav2/example_code/mq/src/main/resources/config.properties
  javav2/example_code/mq/src/test/java/AmazonMQTest.java
  javav2/example_code/mq/template.yaml
  lambda_functions/blank-java/.factorypath
  lambda_functions/blank-java/.gradle/6.3/executionHistory/executionHistory.lock
  lambda_functions/blank-java/.gradle/6.3/fileChanges/last-build.bin
  lambda_functions/blank-java/.gradle/6.3/fileHashes/fileHashes.lock
  lambda_functions/blank-java/.gradle/6.3/gc.properties
  lambda_functions/blank-java/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  lambda_functions/blank-java/.gradle/buildOutputCleanup/cache.properties
  lambda_functions/blank-java/.gradle/checksums/checksums.lock
  lambda_functions/blank-java/.gradle/checksums/md5-checksums.bin
  lambda_functions/blank-java/.gradle/checksums/sha1-checksums.bin
  lambda_functions/blank-java/.gradle/vcs-1/gc.properties
  lambda_functions/blank-java/bin/main/example/Handler.class
  lambda_functions/blank-java/bin/main/log4j2.xml
  lambda_functions/blank-java/bin/test/event.json
  lambda_functions/blank-java/bin/test/example/InvokeTest.class
  lambda_functions/blank-java/bin/test/example/SQSEventDeserializer$1.class
  lambda_functions/blank-java/bin/test/example/SQSEventDeserializer.class
  lambda_functions/blank-java/bin/test/example/TestContext.class
  lambda_functions/blank-java/bin/test/example/TestLogger.class
  lambda_functions/blank-java/bin/test/log4j2.xml
Labels: Java, on review

#1660 Added go v2 version of Kinesis PutRecord
  gov2/go.mod
  gov2/go.sum
  gov2/kinesis/PutRecord/PutRecordv2.go
  gov2/kinesis/PutRecord/PutRecordv2_test.go
  gov2/kinesis/PutRecord/config.json
  gov2/kinesis/README.md
  gov2/kinesis/metadata.yaml
Labels: Go, on review

#1663 Add acm examples
  dotnet3.5/ACM/DescribeCertificates/DescribeCertificate.sln
  dotnet3.5/ACM/DescribeCertificates/DescribeCertificate/DescribeCertificate.cs
  dotnet3.5/ACM/DescribeCertificates/DescribeCertificate/DescribeCertificate.csproj
  dotnet3.5/ACM/DescribeCertificates/DescribeCertificateTest/DescribeCertificateTest.cs
  dotnet3.5/ACM/DescribeCertificates/DescribeCertificateTest/DescribeCertificateTest.csproj
  dotnet3.5/ACM/DescribeCertificates/metadata.yaml
  dotnet3.5/ACM/ListCertificates/ListCertificates.sln
  dotnet3.5/ACM/ListCertificates/ListCertificates/ListCertificates.cs
  dotnet3.5/ACM/ListCertificates/ListCertificates/ListCertificates.csproj
  dotnet3.5/ACM/ListCertificates/ListCertificatesTest/ListCertificatesTest.cs
  dotnet3.5/ACM/ListCertificates/ListCertificatesTest/ListCertificatesTest.csproj
  dotnet3.5/ACM/ListCertificates/metadata.yaml
Labels: .NET, on review

#1662 fixed CDK readme and lamba-api example
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/helper-functions/lambda-function-setup.ts
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/helper-functions/populate-table.ts
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/metadata.yaml
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/mylamdbafunction.ts
  resources/cdk/README.md
Labels: JavaScript
