Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-04, with the labels that each got.

#1728 Add the Spring Stream tutorial
  javav2/README.rst
  javav2/example_code/dynamodb/metadata.yaml
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedScanRecordsWithExpression.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/PutItemEncrypt.java
  javav2/example_code/mediastore/src/main/java/com/example/mediastore/GetObject.java
  javav2/usecases/create_spring_stream_app/Readme.md
  javav2/usecases/create_spring_stream_app/images/foo.txt
  javav2/usecases/create_spring_stream_app/images/pic1.png
  javav2/usecases/create_spring_stream_app/images/pic2.png
  javav2/usecases/create_spring_stream_app/images/pic3.png
  javav2/usecases/create_spring_stream_app/images/pic4.png
  javav2/usecases/create_spring_stream_app/images/pic5.png
  javav2/usecases/create_spring_stream_app/images/pic6.png
  javav2/usecases/create_spring_stream_app/images/pic7.png
  javav2/usecases/create_spring_stream_app/metadata.yaml
  javav2/usecases/create_spring_stream_app/pom.xml
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/Application.java
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/Tags.java
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/VideoStreamController.java
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/VideoStreamService.java
  javav2/usecases/create_spring_stream_app/src/main/resources/application.yaml
  javav2/usecases/create_spring_stream_app/src/main/resources/public/css/styles.css
  javav2/usecases/create_spring_stream_app/src/main/resources/templates/index.html
  javav2/usecases/create_spring_stream_app/src/main/resources/templates/layout.html
  javav2/usecases/create_spring_stream_app/src/main/resources/templates/upload.html
  javav2/usecases/create_spring_stream_app/src/main/resources/templates/video.html
Labels: Java, on review

#1738 Purged 'master' from Go code examples
  go/example_code/kms/kms_create_key.go
  go/example_code/kms/kms_re_encrypt_data.go
  go/kms/CreateKey/CreateKey.go
  go/kms/CreateKey/CreateKey_test.go
  go/kms/DecryptData/DecryptData.go
  go/kms/EncryptData/EncryptData.go
  go/kms/README.md
  go/kms/ReEncryptData/ReEncryptData.go
  go/kms/metadata.yaml
  gov2/kms/CreateKey/CreateKeyv2.go
  gov2/kms/CreateKey/README.md
  gov2/kms/DecryptData/DecryptDatav2.go
  gov2/kms/DecryptData/README.md
  gov2/kms/EncryptData/EncryptDatav2.go
  gov2/kms/EncryptData/README.md
  gov2/kms/README.md
  gov2/kms/ReEncryptData/README.md
  gov2/kms/ReEncryptData/ReEncryptDatav2.go
Labels: Go

#1723 added go v2 sample code to detect faces
  gov2/rekognition/DetectFaces/DetectFaces.go
  gov2/rekognition/DetectFaces/README.md
Labels: Go, on review

#1739 Updated Rekognition DetectFaces code example in Go to include unit test
  gov2/rekognition/DetectFaces/DetectFaces.go
  gov2/rekognition/DetectFaces/DetectFaces_test.go
  gov2/rekognition/DetectFaces/README.md
  gov2/rekognition/DetectFaces/config.json
  gov2/rekognition/README.md
  gov2/rekognition/metadata.yaml
Labels: Go

#1740 Fixed typo in filename in S3 PutObject README.md
  gov2/s3/PutObject/README.md
Labels: Go, bug

#1741 adding cross-service 'messaging-app' in JavaScript
  javascriptv3/example_code/cross-services/message-app/css/styles.css
  javascriptv3/example_code/cross-services/message-app/images/av1.png
  javascriptv3/example_code/cross-services/message-app/images/av2.png
  javascriptv3/example_code/cross-services/message-app/images/client.png
  javascriptv3/example_code/cross-services/message-app/images/client1a.png
  javascriptv3/example_code/cross-services/message-app/images/client2.png
  javascriptv3/example_code/cross-services/message-app/images/client2a.png
  javascriptv3/example_code/cross-services/message-app/images/client2b.png
  javascriptv3/example_code/cross-services/message-app/images/client2c.png
  javascriptv3/example_code/cross-services/message-app/images/client3.png
  javascriptv3/example_code/cross-services/message-app/images/client4.png
  javascriptv3/example_code/cross-services/message-app/images/client5.png
  javascriptv3/example_code/cross-services/message-app/images/client6.png
  javascriptv3/example_code/cross-services/message-app/images/foo.txt
  javascriptv3/example_code/cross-services/message-app/images/site-logo.png
  javascriptv3/example_code/cross-services/message-app/index.html
  javascriptv3/example_code/cross-services/message-app/js/index.ts
  javascriptv3/example_code/cross-services/message-app/setup.yaml
  javascriptv3/example_code/tests/cross-services/messaging-app/index.test.js
  resources/cdk/README.md
  resources/cdk/messaging-app-unauthenticated-role-sqs-fifo-queue/cdk.json
  resources/cdk/messaging-app-unauthenticated-role-sqs-fifo-queue/package.json
  resources/cdk/messaging-app-unauthenticated-role-sqs-fifo-queue/setup.ts
  resources/cdk/messaging-app-unauthenticated-role-sqs-fifo-queue/tsconfig.json
Labels: JavaScript

#1745 additional files 'messaging-app' in JavaScript
  javascriptv3/example_code/cross-services/message-app/README.md
  javascriptv3/example_code/cross-services/message-app/js/index.ts
  javascriptv3/example_code/cross-services/message-app/metadata.yaml
  javascriptv3/example_code/cross-services/message-app/package.json
Labels: JavaScript

#1747 Removed aws- prefix from text parameter file
  gov2/kms/CreateKey/config.json
Labels: Go

#1760 Add rekognition examples
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExample.sln
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExample/FaceRekognition.cs
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExample/FaceRekognitionExample.csproj
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExample/GlobalSuppressions.cs
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExample/Properties/launchSettings.json
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExampleTests/FaceRekognitionExampleTests.csproj
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExampleTests/FaceRekognitionTests.cs
  dotnetv3/Rekognition/FaceRekognitionExample/FaceRekognitionExampleTests/GlobalSuppressions.cs
  dotnetv3/Rekognition/FaceRekognitionExample/metadata.yaml
Labels: .NET, on review

#1762 Update GeneratePresignedURL.java
  java/example_code/s3/src/main/java/aws/example/s3/GeneratePresignedURL.java
Labels: Java

#1759 Add the example titled Creating an Amazon Web Services Lambda function that detects images with Personal Protective Equipment
  javav2/README.rst
  javav2/usecases/creating_lambda_ppe/Readme.md
  javav2/usecases/creating_lambda_ppe/images/IAMPerm.png
  javav2/usecases/creating_lambda_ppe/images/classes.png
  javav2/usecases/creating_lambda_ppe/images/classesA.png
  javav2/usecases/creating_lambda_ppe/images/dynamodb.png
  javav2/usecases/creating_lambda_ppe/images/email.png
  javav2/usecases/creating_lambda_ppe/images/jar.png
  javav2/usecases/creating_lambda_ppe/images/lam.png
  javav2/usecases/creating_lambda_ppe/images/lambda.png
  javav2/usecases/creating_lambda_ppe/images/project.png
  javav2/usecases/creating_lambda_ppe/images/t.txt
  javav2/usecases/creating_lambda_ppe/metadata.yaml
  javav2/usecases/creating_lambda_ppe/pom.xml
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/AnalyzePhotos.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/DynamoDBService.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/Gear.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/GearItem.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/PPEHandler.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/S3Service.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/SendEmail.java
Labels: Java, on review

#1710 Neo7337/go cloudwatch example
  gov2/cloudwatch/GetMetricData/GetMetricDatav2.go
  gov2/cloudwatch/GetMetricData/GetMetricDatav2_test.go
  gov2/cloudwatch/GetMetricData/README.md
  gov2/cloudwatch/GetMetricData/config.json
  gov2/cloudwatch/README.md
  gov2/cloudwatch/metadata.yaml
Labels: Go

#1768 pom file change: update personalize sdk versions and add personalizeevents
  javav2/example_code/personalize/pom.xml
Labels: Java

#1766 Amazon Textract React example
  javascriptv3/example_code/cross-services/textract-react/.metadata.yaml
  javascriptv3/example_code/cross-services/textract-react/AddRemoveAssets.js
  javascriptv3/example_code/cross-services/textract-react/README.md
  javascriptv3/example_code/cross-services/textract-react/package.json
  javascriptv3/example_code/cross-services/textract-react/public/index.html
  javascriptv3/example_code/cross-services/textract-react/setup.yaml
  javascriptv3/example_code/cross-services/textract-react/src/.media/default_document_3.png
  javascriptv3/example_code/cross-services/textract-react/src/App.js
  javascriptv3/example_code/cross-services/textract-react/src/AwsFactory.js
  javascriptv3/example_code/cross-services/textract-react/src/Config.js
  javascriptv3/example_code/cross-services/textract-react/src/ExplorerCard.js
  javascriptv3/example_code/cross-services/textract-react/src/ExplorerTree.js
  javascriptv3/example_code/cross-services/textract-react/src/ExtractButtons.js
  javascriptv3/example_code/cross-services/textract-react/src/ImageDisplay.js
  javascriptv3/example_code/cross-services/textract-react/src/ImageLoader.js
  javascriptv3/example_code/cross-services/textract-react/src/LoginCard.js
  javascriptv3/example_code/cross-services/textract-react/src/TextractModel.js
  javascriptv3/example_code/cross-services/textract-react/src/Utils.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/App.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ExplorerCard.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ExplorerTree.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ExtractButtons.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ImageDisplay.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ImageLoader.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/LoginCard.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/TestData.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/TextractModel.test.js
  javascriptv3/example_code/cross-services/textract-react/src/index.js
  javascriptv3/example_code/cross-services/textract-react/src/setupTests.js
  resources/cdk/README.md
  resources/cdk/textract_example_s3_sns_sqs_cognito/cdk.json
  resources/cdk/textract_example_s3_sns_sqs_cognito/package.json
  resources/cdk/textract_example_s3_sns_sqs_cognito/setup.ts
  resources/cdk/textract_example_s3_sns_sqs_cognito/tsconfig.json
  scripts/cleanup_report.py
Labels: JavaScript, on review
