Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-01, with the labels that each got.

#1554 Fix typo
  javav2/example_code/sns/src/main/java/com/example/sns/SubscribeHTTPS.java
Labels: Java, bug

#1557 Added quiet flag to checkin to reduce noise
  .github/workflows/push-or-pr.yml
Labels: enhancement

#1558 API Gateway AWS service integration example
  python/README.md
  python/example_code/apigateway/.metadata.yaml
  python/example_code/apigateway/aws_service/README.md
  python/example_code/apigateway/aws_service/Tale_of_Two_Cities.txt
  python/example_code/apigateway/aws_service/aws_service.py
  python/example_code/apigateway/aws_service/setup.yaml
  python/example_code/apigateway/aws_service/test/conftest.py
  python/example_code/apigateway/aws_service/test/test_aws_service.py
  python/test_tools/apigateway_stubber.py
  resources/cdk/python_example_code_apigateway_aws_service/.gitignore
  resources/cdk/python_example_code_apigateway_aws_service/cdk.json
  resources/cdk/python_example_code_apigateway_aws_service/package.json
  resources/cdk/python_example_code_apigateway_aws_service/setup.ts
  resources/cdk/python_example_code_apigateway_aws_service/tsconfig.json
  scripts/summarizer.py
Labels: Python

#1556 Added new Go v2 code example to get pre-signed URL for S3 object
  gov2/s3/GeneratePresignedURL/GeneratePresignedURLv2.go
  gov2/s3/GeneratePresignedURL/GeneratePresignedURLv2_test.go
  gov2/s3/GeneratePresignedURL/README.md
  gov2/s3/GeneratePresignedURL/config.json
  gov2/s3/GeneratePresignedURL/go.mod
  gov2/s3/GeneratePresignedURL/go.sum
  gov2/s3/README.md
  gov2/s3/metadata.yaml
Labels: Go, code example request

#1553 Add the scheduled event that invokes an AWS Lambda function tutorial
  javav2/README.rst
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedScanRecordsWithExpression.java
  javav2/example_code/iam/src/main/java/com/example/iam/AttachRolePolicy.java
  javav2/usecases/creating_scheduled_events/Readme.md
  javav2/usecases/creating_scheduled_events/images/pic0.png
  javav2/usecases/creating_scheduled_events/images/pic00.png
  javav2/usecases/creating_scheduled_events/images/pic1.png
  javav2/usecases/creating_scheduled_events/images/pic10.png
  javav2/usecases/creating_scheduled_events/images/pic11.png
  javav2/usecases/creating_scheduled_events/images/pic2.png
  javav2/usecases/creating_scheduled_events/images/pic3.png
  javav2/usecases/creating_scheduled_events/images/pic4.png
  javav2/usecases/creating_scheduled_events/images/pic5.png
  javav2/usecases/creating_scheduled_events/images/pic6.png
  javav2/usecases/creating_scheduled_events/images/pic7.png
  javav2/usecases/creating_scheduled_events/images/pic8.png
  javav2/usecases/creating_scheduled_events/images/pic9.png
  javav2/usecases/creating_scheduled_events/images/picPhone.png
  javav2/usecases/creating_scheduled_events/metadata.yaml
  javav2/usecases/creating_scheduled_events/pom.xml
  javav2/usecases/creating_scheduled_events/src/main/java/com/aws/example/Employee.java
  javav2/usecases/creating_scheduled_events/src/main/java/com/aws/example/Handler.java
  javav2/usecases/creating_scheduled_events/src/main/java/com/aws/example/ScanEmployees.java
Labels: Java

#1555 Fixes req. from customer tickets (JavaScript SDK)
  javascript/example_code/glacier/uploadArchive.js
  javascript/example_code/s3/s3_photoExample.js
  javascriptv3/example_code/s3/photoExample/src/s3_PhotoExample.ts
  javascriptv3/example_code/s3/src/s3_put_presignedURL.ts
  javascriptv3/example_code/sqs/src/sqs_getqueueurl.ts
Labels: JavaScript

#1550 Adding Transcribe app tutorial files (incl. CDK)
  javascript/example_code/athena/index.js
  javascriptv3/example_code/cross-services/submit-data-app/README.md
  javascriptv3/example_code/cross-services/transcription-app/README.md
  javascriptv3/example_code/cross-services/transcription-app/package.json
  javascriptv3/example_code/cross-services/transcription-app/setup.yaml
  javascriptv3/example_code/cross-services/transcription-app/src/helper.ts
  javascriptv3/example_code/cross-services/transcription-app/src/index.html
  javascriptv3/example_code/cross-services/transcription-app/src/index.ts
  javascriptv3/example_code/cross-services/transcription-app/src/metadata.yaml
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.css
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.ts
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/ec2/README.md
  javascriptv3/example_code/glacier/README.md
  javascriptv3/example_code/iam/README.md
  javascriptv3/example_code/kinesis/README.md
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/mediaconvert/README.md
  javascriptv3/example_code/nodegetstarted/README.md
  javascriptv3/example_code/pinpoint/README.md
  javascriptv3/example_code/polly/README.md
  javascriptv3/example_code/redshift/README.md
  javascriptv3/example_code/s3/README.md
  javascriptv3/example_code/s3/photoExample/README.md
  javascriptv3/example_code/s3/photoViewer/README.md
  javascriptv3/example_code/secrets/README.md
  javascriptv3/example_code/ses/README.md
  javascriptv3/example_code/sns/README.md
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/tests/cross-services/transcription-app/index.test.js
  javascriptv3/example_code/transcribe/README.md
  resources/cdk/aws-doc-sdk-examples-javascriptv3-usecases-transcribe-demo/README.md
  resources/cdk/aws-doc-sdk-examples-javascriptv3-usecases-transcribe-demo/cdk.json
  resources/cdk/aws-doc-sdk-examples-javascriptv3-usecases-transcribe-demo/package.json
  resources/cdk/aws-doc-sdk-examples-javascriptv3-usecases-transcribe-demo/setup.ts
  resources/cdk/aws-doc-sdk-examples-javascriptv3-usecases-transcribe-demo/tsconfig.json
Labels: JavaScript

#1563 Fixed KMS encrypt/decrypt code examples for Go v2
  gov2/kms/CreateKey/CreateKeyv2.go
  gov2/kms/CreateKey/README.md
  gov2/kms/DecryptData/DecryptDatav2.go
  gov2/kms/EncryptData/EncryptDatav2.go
  gov2/kms/README.md
Labels: Go, bug

#1564 First set of cleaned-up Ruby code examples for Amazon DynamoDB
  ruby/example_code/dynamodb/GettingStarted/MoviesCreateTable.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps01.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps02.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps03.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesLoadData.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesCreateTable.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps01.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps02.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps03.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesLoadData.rb
  ruby/example_code/dynamodb/MoviesCreateTable.rb
  ruby/example_code/dynamodb/MoviesDeleteTable.rb
  ruby/example_code/dynamodb/MoviesItemOps01.rb
  ruby/example_code/dynamodb/MoviesItemOps02.rb
  ruby/example_code/dynamodb/MoviesItemOps03.rb
  ruby/example_code/dynamodb/MoviesItemOps04.rb
  ruby/example_code/dynamodb/MoviesItemOps05.rb
  ruby/example_code/dynamodb/MoviesItemOps06.rb
  ruby/example_code/dynamodb/MoviesLoadData.rb
  ruby/example_code/dynamodb/MoviesQuery01.rb
  ruby/example_code/dynamodb/MoviesQuery02.rb
  ruby/example_code/dynamodb/MoviesScan.rb
  ruby/example_code/dynamodb/metadata.yaml
Labels: Ruby, on review

#1566 Add metadata to index.html
  javascriptv3/example_code/cross-services/transcription-app/src/index.html
Labels: JavaScript

#1536 Add ListBucketsAsync example
  dotnet3.5/S3/ListBucketsExample/ListBuckets/ListBuckets.csproj
  dotnet3.5/S3/ListBucketsExample/ListBuckets/Program.cs
  dotnet3.5/S3/ListBucketsExample/ListBucketsExample.sln
  dotnet3.5/S3/ListBucketsExample/ListBucketsTest/ListBucketTest.cs
  dotnet3.5/S3/ListBucketsExample/ListBucketsTest/ListBucketsTest.csproj
  dotnet3.5/S3/ListBucketsExample/metadata.yaml
Labels: .NET, on review

#1551 Make use of region in parameters for s3 client.
  cpp/example_code/s3/copy_object.cpp
  cpp/example_code/s3/create_bucket.cpp
  cpp/example_code/s3/delete_bucket_policy.cpp
  cpp/example_code/s3/delete_object.cpp
  cpp/example_code/s3/get_object.cpp
Labels: C++, on review

#1567 Add get_presignedURL example
  javascriptv3/example_code/s3/src/s3_get_presignedURL.ts
  javascriptv3/example_code/tests/s3/s3_get_presignedURL.test.js
Labels: JavaScript

#1568 Update S3 files
  javav2/example_code/s3/metadata.yaml
  javav2/example_code/s3/src/main/java/com/example/s3/AbortMultipartUpload.java
  javav2/example_code/s3/src/main/java/com/example/s3/CopyObject.java
  javav2/example_code/s3/src/main/java/com/example/s3/CreateAccessPoint.java
  javav2/example_code/s3/src/main/java/com/example/s3/CreateBucket.java
  javav2/example_code/s3/src/main/java/com/example/s3/CreateJob.java
  javav2/example_code/s3/src/main/java/com/example/s3/DeleteBucketPolicy.java
  javav2/example_code/s3/src/main/java/com/example/s3/DeleteMultiObjects.java
  javav2/example_code/s3/src/main/java/com/example/s3/DeleteObjects.java
  javav2/example_code/s3/src/main/java/com/example/s3/DeleteWebsiteConfiguration.java
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlAndUploadObject.java
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlMetadata.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetAcl.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetBucketPolicy.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectData.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectPresignedUrl.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectTags.java
  javav2/example_code/s3/src/main/java/com/example/s3/KMSEncryptionExample.java
  javav2/example_code/s3/src/main/java/com/example/s3/LifecycleConfiguration.java
  javav2/example_code/s3/src/main/java/com/example/s3/ListMultipartUploads.java
  javav2/example_code/s3/src/main/java/com/example/s3/ListObjects.java
  javav2/example_code/s3/src/main/java/com/example/s3/ManagingObjectTags.java
  javav2/example_code/s3/src/main/java/com/example/s3/PutObject.java
  javav2/example_code/s3/src/main/java/com/example/s3/PutObjectMetadata.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3BucketDeletion.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3Cors.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3ObjectOperations.java
  javav2/example_code/s3/src/test/java/AmazonS3Test.java
Labels: Java

#1569 Added go v2 version of Dynamodb scan
  gov2/dynamodb/README.md
  gov2/dynamodb/ScanItems/README.md
  gov2/dynamodb/ScanItems/ScanItemsv2.go
  gov2/dynamodb/ScanItems/ScanItemsv2_test.go
  gov2/dynamodb/ScanItems/config.json
  gov2/dynamodb/ScanItems/go.mod
  gov2/dynamodb/ScanItems/go.sum
  gov2/dynamodb/metadata.yaml
Labels: Go, on review

#1570 Updated Python example prerequisite version to 3.7
  python/example_code/acm/README.md
  python/example_code/dynamodb/GettingStarted/README.md
  python/example_code/dynamodb/TryDax/README.md
  python/example_code/dynamodb/batching/README.md
  python/example_code/ec2/ec2_basics/README.md
  python/example_code/emr/README.md
  python/example_code/iam/iam_basics/README.md
  python/example_code/lambda/boto_client_examples/README.md
  python/example_code/organizations/README.md
  python/example_code/rds/lending_library/README.md
  python/example_code/rekognition/README.md
  python/example_code/s3/file_transfer/README.md
  python/example_code/s3/s3_basics/ReadMe.md
  python/example_code/ses/README.md
  python/example_code/sqs/ReadMe.md
  python/example_code/transcribe/README.md
Labels: Python

#1571 Add the Cognito document that talks about adding log in functionality
  javav2/README.rst
  javav2/example_code/s3/pom.xml
  javav2/usecases/creating_amazon_cognito_app/Readme.md
  javav2/usecases/creating_amazon_cognito_app/images/pic10.png
  javav2/usecases/creating_amazon_cognito_app/images/pic11.png
  javav2/usecases/creating_amazon_cognito_app/images/pic12.png
  javav2/usecases/creating_amazon_cognito_app/images/pic1a.png
  javav2/usecases/creating_amazon_cognito_app/images/pic2.png
  javav2/usecases/creating_amazon_cognito_app/images/pic3.png
  javav2/usecases/creating_amazon_cognito_app/images/pic4.png
  javav2/usecases/creating_amazon_cognito_app/images/pic5.png
  javav2/usecases/creating_amazon_cognito_app/images/pic6.png
  javav2/usecases/creating_amazon_cognito_app/images/pic6a.png
  javav2/usecases/creating_amazon_cognito_app/images/pic7.png
  javav2/usecases/creating_amazon_cognito_app/images/pic8.png
  javav2/usecases/creating_amazon_cognito_app/images/pic9.png
Labels: Java

#1572 Add the GetQueueAttributes example for SQS
  javav2/README.rst
  javav2/example_code/sqs/src/main/java/com/example/sqs/GetQueueAttributes.java
  javav2/example_code/sqs/src/test/java/SQSServiceIntegrationTest.java
Labels: Java

#1534 Add upload object example
  dotnet3.5/S3/UploadObjectExample/UploadObject/UploadObject.cs
  dotnet3.5/S3/UploadObjectExample/UploadObject/UploadObject.csproj
  dotnet3.5/S3/UploadObjectExample/UploadObjectExample.sln
  dotnet3.5/S3/UploadObjectExample/UploadObjectTest/UploadObjectTest.cs
  dotnet3.5/S3/UploadObjectExample/UploadObjectTest/UploadObjectTest.csproj
  dotnet3.5/S3/UploadObjectExample/metadata.yaml
Labels: .NET

#1573 Added go v2 example of EC2 DescribeVPCEndpointConnections
  gov2/ec2/DescribeVpcEndpoints/DescribeVpcEndpointsv2.go
  gov2/ec2/DescribeVpcEndpoints/DescribeVpcEndpointsv2_test.go
  gov2/ec2/DescribeVpcEndpoints/README.md
  gov2/ec2/DescribeVpcEndpoints/go.mod
  gov2/ec2/DescribeVpcEndpoints/go.sum
  gov2/ec2/README.md
  gov2/ec2/metadata.yaml
Labels: Go, on review

#1574 Amazon Polly example
  javascriptv3/example_code/polly/general-examples/src/README.md
  javascriptv3/example_code/polly/general-examples/src/package.json
  javascriptv3/example_code/polly/general-examples/src/polly_synthesize_to_s3.ts
  javascriptv3/example_code/polly/general-examples/src/setup.yaml
  javascriptv3/example_code/tests/polly/polly_synthesize_to_s3.test.js
  resources/cdk/javascript_example_code_polly_aws_service/README.md
  resources/cdk/javascript_example_code_polly_aws_service/cdk.json
  resources/cdk/javascript_example_code_polly_aws_service/package.json
  resources/cdk/javascript_example_code_polly_aws_service/setup.ts
  resources/cdk/javascript_example_code_polly_aws_service/tsconfig.json
  resources/cdk/javascript_example_code_transcribe_demo/README.md
  resources/cdk/javascript_example_code_transcribe_demo/cdk.json
  resources/cdk/javascript_example_code_transcribe_demo/package.json
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
  resources/cdk/javascript_example_code_transcribe_demo/tsconfig.json
Labels: JavaScript, on review

#1559 Add synthesize speech example
  dotnet3.5/Polly/SynthesizeSpeechExample/SynthesizeSpeech/SynthesizeSpeech.cs
  dotnet3.5/Polly/SynthesizeSpeechExample/SynthesizeSpeech/SynthesizeSpeech.csproj
  dotnet3.5/Polly/SynthesizeSpeechExample/SynthesizeSpeechExample.sln
  dotnet3.5/Polly/SynthesizeSpeechExample/SynthesizeSpeechTest/SynthesizeSpeechTest.cs
  dotnet3.5/Polly/SynthesizeSpeechExample/SynthesizeSpeechTest/SynthesizeSpeechTest.csproj
  dotnet3.5/Polly/SynthesizeSpeechExample/metadata.yaml
Labels: .NET, on review

#1581 Finished cleaning up remaining Ruby getting started code examples for Amazon DynamoDB
  ruby/example_code/dynamodb/GettingStarted/MoviesCreateTable.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesDeleteTable.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps01.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps02.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps03.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps04.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps05.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps06.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesLoadData.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesQuery01.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesQuery02.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesScan.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesDeleteTable.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps04.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps05.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps06.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesQuery01.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesQuery02.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesScan.rb
  ruby/example_code/dynamodb/metadata.yaml
Labels: Ruby, on review

#1577 Tidy up CDK resources
  javascriptv3/example_code/cross-services/transcription-app/setup.yaml
  javascriptv3/example_code/polly/general-examples/src/setup.yaml
  resources/cdk/javascript_example_code_polly_aws_service/README.md
  resources/cdk/javascript_example_code_polly_aws_service/cdk.json
  resources/cdk/javascript_example_code_polly_aws_service/package.json
  resources/cdk/javascript_example_code_polly_aws_service/setup.ts
  resources/cdk/javascript_example_code_transcribe_demo/README.md
  resources/cdk/javascript_example_code_transcribe_demo/cdk.json
  resources/cdk/javascript_example_code_transcribe_demo/package.json
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
  tools/cdk_app_template/README.md
Labels: JavaScript

#1586 API Gateway websocket chat example
  python/example_code/apigateway/.metadata.yaml
  python/example_code/apigateway/websocket/README.md
  python/example_code/apigateway/websocket/lambda_chat.py
  python/example_code/apigateway/websocket/lambda_util.py
  python/example_code/apigateway/websocket/setup.yaml
  python/example_code/apigateway/websocket/test/conftest.py
  python/example_code/apigateway/websocket/test/test_lambda_chat.py
  python/example_code/apigateway/websocket/test/test_websocket_chat.py
  python/example_code/apigateway/websocket/websocket.py
  python/example_code/apigateway/websocket/websocket_chat.py
  python/example_code/apigateway/websocket/websocket_connect.py
  python/example_code/apigateway/websocket/websocket_disconnect.py
  python/example_code/apigateway/websocket/websocket_send_msg.js
  python/example_code/apigateway/websocket/websocket_send_msg.py
  python/test_tools/apigateway_v2_stubber.py
  python/test_tools/apigatewaymanagementapi_stubber.py
  python/test_tools/lambda_stubber.py
  python/test_tools/stubber_factory.py
  resources/cdk/python_example_code_apigateway_websocket/cdk.json
  resources/cdk/python_example_code_apigateway_websocket/package.json
  resources/cdk/python_example_code_apigateway_websocket/setup.ts
  resources/cdk/python_example_code_apigateway_websocket/tsconfig.json
Labels: Python, on review

#1587 getObject example for S3
  javascript/example_code/lambda/tutorial/slotassets.zip
  javascript/example_code/ses/ses_gettemplate.js
  javascriptv3/example_code/s3/photoExample/src/s3_PhotoExample.ts
  javascriptv3/example_code/s3/src/metadata.yaml
  javascriptv3/example_code/s3/src/s3_getobject.ts
  javascriptv3/example_code/s3/src/s3_putobject.ts
  javascriptv3/example_code/s3/src/s3_upload_putcommand.ts
  javascriptv3/example_code/ses/src/ses_gettemplate.ts
  javascriptv3/example_code/tests/metadata.yaml
  javascriptv3/example_code/tests/s3/s3_getobject.test.js
  javascriptv3/example_code/tests/s3/s3_putobject.test.js
Labels: JavaScript

#1585 Add Video Analyzer end to end and Quicksight examples
  javav2/README.rst
  javav2/example_code/quicksight/Readme.md
  javav2/example_code/quicksight/metadata.yaml
  javav2/example_code/quicksight/pom.xml
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/DescribeAnalysis.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/DescribeDashboard.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/DescribeTemplate.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/ListAnalyses.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/ListDashboards.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/ListDataSets.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/ListTemplates.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/ListThemes.java
  javav2/example_code/quicksight/src/main/java/com/example/quicksight/UpdateDashboard.java
  javav2/example_code/quicksight/src/main/resources/config.properties
  javav2/example_code/quicksight/src/test/java/QuickSightTest.java
  javav2/usecases/video_analyzer_application/Readme.md
  javav2/usecases/video_analyzer_application/images/pic0.png
  javav2/usecases/video_analyzer_application/images/pic1.png
  javav2/usecases/video_analyzer_application/images/pic2.png
  javav2/usecases/video_analyzer_application/images/pic3.png
  javav2/usecases/video_analyzer_application/images/pic4png.png
  javav2/usecases/video_analyzer_application/images/pic5.png
  javav2/usecases/video_analyzer_application/images/pic6.png
Labels: Java

#1589 Fixed a method name in a CloudWatch Java example
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/GetLogEvents.java
  javav2/example_code/cloudwatch/src/test/java/CloudWatchTest.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/CreateSecret.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/DeleteSecret.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/DescribeSecret.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/GetSecretValue.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/ListSecrets.java
  javav2/example_code/secretsmanager/src/main/java/com/example/secrets/UpdateSecret.java
  javav2/usecases/video_analyzer_application/Readme.md
Labels: Java

#1590 updates to setup.yaml for transcription app tutorial
  javascriptv3/example_code/cross-services/transcription-app/setup.yaml
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
Labels: JavaScript

#1591 Cleaning up next set of Ruby code examples for Amazon DynamoDB
  ruby/example_code/dynamodb/dynamodb_ruby_example_create_movies_item.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_create_movies_table.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_delete_movies_item.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_delete_movies_table.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_load_movies.rb
  ruby/example_code/dynamodb/metadata.yaml
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_create_movies_item.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_create_movies_table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_delete_movies_item.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_delete_movies_table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_load_movies.rb
Labels: Ruby

#1595 Add Java V2 examples for API Gateway
  javav2/README.rst
  javav2/example_code/apigateway/Readme.md
  javav2/example_code/apigateway/metadata.yaml
  javav2/example_code/apigateway/pom.xml
  javav2/example_code/apigateway/src/main/java/com/example/gateway/CreateDeployment.java
  javav2/example_code/apigateway/src/main/java/com/example/gateway/CreateRestApi.java
  javav2/example_code/apigateway/src/main/java/com/example/gateway/DeleteDeployment.java
  javav2/example_code/apigateway/src/main/java/com/example/gateway/DeleteRestApi.java
  javav2/example_code/apigateway/src/main/java/com/example/gateway/GetAPIKeys.java
  javav2/example_code/apigateway/src/main/java/com/example/gateway/GetDeployments.java
  javav2/example_code/apigateway/src/main/java/com/example/gateway/GetMethod.java
  javav2/example_code/apigateway/src/main/java/com/example/gateway/GetStages.java
  javav2/example_code/apigateway/src/main/resources/config.properties
  javav2/example_code/apigateway/src/test/java/APIGatewayTest.java
  javav2/example_code/route53/metadata.yaml
  javav2/example_code/route53/src/main/java/com/example/route/ListResourceRecordSets.java
  javav2/usecases/creating_lambda_apigateway/Readme.md
  javav2/usecases/creating_lambda_apigateway/images/PicNewAPI.png
  javav2/usecases/creating_lambda_apigateway/images/pic0.png
  javav2/usecases/creating_lambda_apigateway/images/pic00.png
  javav2/usecases/creating_lambda_apigateway/images/pic1.png
  javav2/usecases/creating_lambda_apigateway/images/pic10.png
  javav2/usecases/creating_lambda_apigateway/images/pic11.png
  javav2/usecases/creating_lambda_apigateway/images/pic2.png
  javav2/usecases/creating_lambda_apigateway/images/pic3.png
  javav2/usecases/creating_lambda_apigateway/images/pic4.png
  javav2/usecases/creating_lambda_apigateway/images/pic5.png
  javav2/usecases/creating_lambda_apigateway/images/pic6.png
  javav2/usecases/creating_lambda_apigateway/images/pic7.png
  javav2/usecases/creating_lambda_apigateway/images/pic8.png
  javav2/usecases/creating_lambda_apigateway/images/pic9.png
  javav2/usecases/creating_lambda_apigateway/images/picCreateResources.png
  javav2/usecases/creating_lambda_apigateway/images/picDeployMethod.png
  javav2/usecases/creating_lambda_apigateway/images/picEmployeeAPI.png
  javav2/usecases/creating_lambda_apigateway/images/picGet.png
  javav2/usecases/creating_lambda_apigateway/images/picGetDeploy.png
  javav2/usecases/creating_lambda_apigateway/images/picLambda.png
  javav2/usecases/creating_lambda_apigateway/images/picLogs.png
  javav2/usecases/creating_lambda_apigateway/images/picPhone.png
  javav2/usecases/creating_lambda_apigateway/images/picResources.png
  javav2/usecases/creating_lambda_apigateway/images/picRest.png
  javav2/usecases/creating_lambda_apigateway/images/picStage.png
  javav2/usecases/creating_lambda_apigateway/images/picTest.png
  javav2/usecases/creating_lambda_apigateway/images/picURL.png
  javav2/usecases/creating_lambda_apigateway/images/picURL2.png
Labels: Java

#1597 Update s3_list1000plusobjects.ts
  javascriptv3/example_code/s3/src/s3_list1000plusobjects.ts
Labels: JavaScript, bug

#1594 Adding new starter example for cpp sdk
  cpp/example_code/general/CMakeLists.txt
  cpp/example_code/general/main.cpp
Labels: C++

#1599 [javascript] fix put object example
  javascriptv3/example_code/s3/src/s3_putobject.ts
Labels: JavaScript, bug

#1601 Add the Building an Amazon Lex Chatbot that engages users in multiple languages tutorial
  javav2/README.rst
  javav2/example_code/transcribe/src/main/java/com/amazonaws/transcribestreaming/TranscribeStreamingDemoFile.java
  javav2/usecases/creating_lex_chatbot/Readme.md
  javav2/usecases/creating_lex_chatbot/images/ChatBotTest.png
  javav2/usecases/creating_lex_chatbot/images/LanChatBot2.png
  javav2/usecases/creating_lex_chatbot/images/LanChatBot3.png
  javav2/usecases/creating_lex_chatbot/images/chatintro.png
  javav2/usecases/creating_lex_chatbot/images/chatproject.png
  javav2/usecases/creating_lex_chatbot/images/pic1.png
  javav2/usecases/creating_lex_chatbot/images/pic2.png
  javav2/usecases/creating_lex_chatbot/images/pic3.png
  javav2/usecases/creating_lex_chatbot/images/pic4.png
  javav2/usecases/creating_lex_chatbot/images/pic5.png
  javav2/usecases/creating_lex_chatbot/images/pic6.png
  javav2/usecases/creating_lex_chatbot/images/pic7.png
  javav2/usecases/creating_lex_chatbot/images/pic8.png
  javav2/usecases/creating_lex_chatbot/metadata.yaml
  javav2/usecases/creating_lex_chatbot/pom.xml
  javav2/usecases/creating_lex_chatbot/src/main/java/com/aws/spring/BotController.java
  javav2/usecases/creating_lex_chatbot/src/main/java/com/aws/spring/BotExample.java
  javav2/usecases/creating_lex_chatbot/src/main/java/com/aws/spring/LexService.java
Labels: Java

#1598 AWS Step Functions state machine example
  python/README.md
  python/example_code/stepfunctions/.metadata.yaml
  python/example_code/stepfunctions/README.md
  python/example_code/stepfunctions/setup.yaml
  python/example_code/stepfunctions/sfn_create_state_machine.py
  python/example_code/stepfunctions/sfn_delete_state_machine.py
  python/example_code/stepfunctions/sfn_list_executions.py
  python/example_code/stepfunctions/sfn_new_invocation.py
  python/example_code/stepfunctions/sfn_stop_invocation.py
  python/example_code/stepfunctions/sfn_update_state_machine.py
  python/example_code/stepfunctions/state_definitions.py
  python/example_code/stepfunctions/stepfunctions_basics.py
  python/example_code/stepfunctions/stepfunctions_demo.py
  python/example_code/stepfunctions/test/conftest.py
  python/example_code/stepfunctions/test/test_stepfunctions_basics.py
  python/test_tools/stepfunctions_stubber.py
  python/test_tools/stubber_factory.py
  resources/cdk/python_example_code_stepfunctions_demo/cdk.json
  resources/cdk/python_example_code_stepfunctions_demo/package.json
  resources/cdk/python_example_code_stepfunctions_demo/setup.ts
  resources/cdk/python_example_code_stepfunctions_demo/tsconfig.json
Labels: Python, on review

#1602 Adding putbucketacl example
  javascript/example_code/glacier/uploadArchive.js
  javascript/example_code/s3/s3_PhotoViewer.js
  javascriptv3/example_code/dynamodb/src/ddb_scan.ts
  javascriptv3/example_code/s3/src/metadata.yaml
  javascriptv3/example_code/s3/src/s3_getbucketacl.ts
  javascriptv3/example_code/s3/src/s3_putbucketacl.ts
  javascriptv3/example_code/tests/s3/s3_putbucketacl.test.js
  typescript/example_code/s3/controller.ts
Labels: JavaScript

#1603 Cleanup of remaining Ruby code examples for Amazon DynamoDB
  ruby/example_code/dynamodb/dynamodb-ruby-example-add-index.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-add-item-users-table.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-create-users-table.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-list-50-users-table-items.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-list-item-123456-users-table.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-show-tables-names-and-item-count.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-update-users-table.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_read_movies_item.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_update_movies_item.rb
  ruby/example_code/dynamodb/metadata.yaml
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-add-index.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-add-item-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-create-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-list-50-users-table-items.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-list-item-123456-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-show-tables-names-and-item-count.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-update-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_read_movies_item.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_update_movies_item.rb
Labels: Ruby

#1611 AWS Secrets Manager example
  python/README.md
  python/example_code/secretsmanager/.metadata.yaml
  python/example_code/secretsmanager/README.md
  python/example_code/secretsmanager/secrets_manager.py
  python/example_code/secretsmanager/secretsmanager_basics.py
  python/example_code/secretsmanager/setup.yaml
  python/example_code/secretsmanager/test/conftest.py
  python/example_code/secretsmanager/test/test_secretsmanager_basics.py
  python/test_tools/secretsmanager_stubber.py
  resources/cdk/python_example_code_secretsmanager_demo/.gitignore
  resources/cdk/python_example_code_secretsmanager_demo/cdk.json
  resources/cdk/python_example_code_secretsmanager_demo/package.json
  resources/cdk/python_example_code_secretsmanager_demo/setup.ts
  resources/cdk/python_example_code_secretsmanager_demo/tsconfig.json
Labels: Python, on review

#1612 add function to describe CDK resources
  javascriptv3/example_code/dynamodb/src/ddb_scan.ts
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/lambda/lambda_create_function/README.md
  javascriptv3/example_code/lambda/lambda_create_function/describe-stack-resources.ts
  javascriptv3/example_code/lambda/lambda_create_function/metadata.yaml
  javascriptv3/example_code/lambda/lambda_create_function/package.json
  javascriptv3/example_code/lambda/lambda_create_function/src/LambdaApp/index.html
  javascriptv3/example_code/lambda/lambda_create_function/src/LambdaApp/index.ts
  javascriptv3/example_code/lambda/lambda_create_function/src/lambda-function-setup.ts
  javascriptv3/example_code/lambda/lambda_create_function/src/mylamdbafunction.ts
  javascriptv3/example_code/lambda/src/lambda-function-setup.ts
  javascriptv3/example_code/lambda/src/metadata.yaml
  javascriptv3/example_code/nodegetstarted/package.json
  javascriptv3/example_code/tests/lambda/lambda-create-function/desribe-stack-resources.test.js
Labels: JavaScript

#1613 updating describe-stack-resource file
  javascriptv3/example_code/lambda/lambda_create_function/describe-stack-resources.ts
Labels: JavaScript

#1616 Corrections to Scan DyamamoDB
  javascript/example_code/dynamodb/ddb_scan.js
  javascriptv3/example_code/dynamodb/src/ddb_scan.ts
Labels: JavaScript

#1617 updates to DynamoDB examples
  javascript/example_code/dynamodb/ddb_scan.js
  javascriptv3/example_code/dynamodb/src/ddb_scan.ts
Labels: JavaScript

#1618 Added information on using DynamoDB local
  gov2/dynamodb/README.md
Labels: Go, enhancement
