Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-12, with the labels that each got.

#2465 Add SoS for DynamoDB (JS)
  .doc_gen/metadata/dynamodb_metadata.yaml
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/dynamodb/src/QueryExample/ddb_batchwriteitem_tv.js
  javascriptv3/example_code/dynamodb/src/QueryExample/ddb_createtable_tv.js
  javascriptv3/example_code/dynamodb/src/ddb_batchgetitem.js
  javascriptv3/example_code/dynamodb/src/ddb_batchwriteitem.js
  javascriptv3/example_code/dynamodb/src/ddb_createtable.js
  javascriptv3/example_code/dynamodb/src/ddb_deleteitem.js
  javascriptv3/example_code/dynamodb/src/ddb_deletetable.js
  javascriptv3/example_code/dynamodb/src/ddb_describetable.js
  javascriptv3/example_code/dynamodb/src/ddb_getitem.js
  javascriptv3/example_code/dynamodb/src/ddb_listtables.js
  javascriptv3/example_code/dynamodb/src/ddb_putitem.js
  javascriptv3/example_code/dynamodb/src/ddb_query.js
  javascriptv3/example_code/dynamodb/src/ddb_scan.js
  javascriptv3/example_code/dynamodb/src/ddb_updateitem.js
  javascriptv3/example_code/dynamodb/src/ddbdoc_delete_item.js
  javascriptv3/example_code/dynamodb/src/ddbdoc_get_item.js
  javascriptv3/example_code/dynamodb/src/ddbdoc_put_item.js
  javascriptv3/example_code/dynamodb/src/ddbdoc_query_item.js
  javascriptv3/example_code/dynamodb/src/ddbdoc_update_item.js
  javascriptv3/example_code/dynamodb/src/libs/ddbDocClient.js
  javascriptv3/example_code/dynamodb/tests/QueryExample/ddb_batchwriteitem_tv.test.js
  javascriptv3/example_code/dynamodb/tests/QueryExample/ddb_createtable_tv.test.js
  javascriptv3/example_code/dynamodb/tests/babel.config.js
  javascriptv3/example_code/dynamodb/tests/ddb_batchgetitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_batchwriteitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_createtable.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_deleteitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_deletetable.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_describetable.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_getitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_listtables.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_putitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_query.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_scan.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_updateitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_delete_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_get_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_put_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_query_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_update_item.test.js
  javascriptv3/example_code/dynamodb/tests/jest.config.js
  javascriptv3/example_code/dynamodb/tests/package-lock.json
  javascriptv3/example_code/dynamodb/tests/package.json
Labels: JavaScript, SoS, Ready for merge

#2498 Added entities for API Gateway Management API
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: Ready for review, SoS

#2499 Doug new services
  .doc_gen/metadata/services.yaml
Labels: Back to author, SoS

#2464 Update build.gradle.kts
  kotlin/Readme.md
  kotlin/services/apigateway/build.gradle.kts
  kotlin/services/athena/build.gradle.kts
  kotlin/services/cloudformation/build.gradle.kts
  kotlin/services/cloudtrail/build.gradle.kts
  kotlin/services/cloudwatch/build.gradle.kts
  kotlin/services/codepipeline/build.gradle.kts
  kotlin/services/cognito/build.gradle.kts
  kotlin/services/comprehend/build.gradle.kts
  kotlin/services/dynamodb/build.gradle.kts
  kotlin/services/ec2/build.gradle.kts
  kotlin/services/ecs/build.gradle.kts
  kotlin/services/emr/build.gradle.kts
  kotlin/services/eventbridge/build.gradle.kts
  kotlin/services/firehose/build.gradle.kts
  kotlin/services/forecast/build.gradle.kts
  kotlin/services/glue/build.gradle.kts
  kotlin/services/iam/build.gradle.kts
  kotlin/services/kinesis/build.gradle.kts
  kotlin/services/kms/build.gradle.kts
  kotlin/services/lambda/build.gradle.kts
  kotlin/services/lex/build.gradle.kts
  kotlin/services/mediaconvert/build.gradle.kts
  kotlin/services/mediastore/build.gradle.kts
  kotlin/services/opensearch/build.gradle.kts
  kotlin/services/personalize/build.gradle.kts
  kotlin/services/pinpoint/build.gradle.kts
  kotlin/services/polly/build.gradle.kts
  kotlin/services/rds/build.gradle.kts
  kotlin/services/redshift/build.gradle.kts
  kotlin/services/rekognition/build.gradle.kts
  kotlin/services/route53/build.gradle.kts
  kotlin/services/s3/build.gradle.kts
  kotlin/services/sagemaker/build.gradle.kts
  kotlin/services/secretsmanager/build.gradle.kts
  kotlin/services/ses/build.gradle.kts
  kotlin/services/sns/build.gradle.kts
  kotlin/services/sqs/build.gradle.kts
  kotlin/services/stepfunctions/build.gradle.kts
  kotlin/services/sts/build.gradle.kts
  kotlin/services/textract/build.gradle.kts
  kotlin/services/translate/build.gradle.kts
  kotlin/services/xray/build.gradle.kts
  kotlin/usecases/creating_photo_analyzer_app/Readme.md
  kotlin/usecases/creating_photo_analyzer_app/build.gradle.kts
  kotlin/usecases/creating_redshift_application/Readme.md
  kotlin/usecases/creating_redshift_application/build.gradle.kts
  kotlin/usecases/creating_workflows_stepfunctions/pom.xml
  kotlin/usecases/first_android_app/Readme.md
  kotlin/usecases/itemtracker_dynamodb/Readme.md
  kotlin/usecases/itemtracker_dynamodb/build.gradle.kts
  kotlin/usecases/serverless_rds/Readme.md
  kotlin/usecases/serverless_rds/build.gradle.kts
  kotlin/usecases/subpub_app/Readme.md
  kotlin/usecases/subpub_app/build.gradle.kts
Labels: on review, Kotlin, Ready for merge

#2500 Python Device Farm SOS data, README update, and snippet tags
  .doc_gen/metadata/device-farm_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/example_code/devicefarm/browser_testing/README.md
  python/example_code/devicefarm/browser_testing/test_suite.py
  python/example_code/devicefarm/device_testing/README.md
  python/example_code/devicefarm/device_testing/run_tests.py
Labels: Python, SoS, Ready for merge

#2532 Tested Rust code example for API Gateway Management API against developer preview bits
  rust_dev_preview/apigatewaymanagement/Cargo.toml
  rust_dev_preview/apigatewaymanagement/README.md
  rust_dev_preview/apigatewaymanagement/src/bin/post_to_connection.rs
Labels: Rust, Back to author

#2526 Update the C++ DynamoDB code examples
  .doc_gen/metadata/dynamodb_metadata.yaml
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/Readme.md
  cpp/example_code/dynamodb/batch_get_item.cpp
  cpp/example_code/dynamodb/create_table.cpp
  cpp/example_code/dynamodb/create_table_composite_key.cpp
  cpp/example_code/dynamodb/delete_item.cpp
  cpp/example_code/dynamodb/delete_table.cpp
  cpp/example_code/dynamodb/describe_table.cpp
  cpp/example_code/dynamodb/get_item.cpp
  cpp/example_code/dynamodb/list_tables.cpp
  cpp/example_code/dynamodb/put_item.cpp
  cpp/example_code/dynamodb/query_items.cpp
  cpp/example_code/dynamodb/scan_table.cpp
  cpp/example_code/dynamodb/update_item.cpp
  cpp/example_code/dynamodb/update_table.cpp
Labels: C++, Ready for merge

#2535 Python Textract Comprehend entity detection notebook example
  .doc_gen/cross-content/cross_TextractComprehendDetectEntities_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  python/cross_service/textract_comprehend_notebook/README.md
  python/cross_service/textract_comprehend_notebook/test-texttract-comprehend.py
Labels: Python, SoS, Ready for merge

#2534 Vetted Rust code examples on dev preview bits
  rust_dev_preview/apigateway/Cargo.toml
  rust_dev_preview/applicationautoscaling/Cargo.toml
  rust_dev_preview/autoscaling/Cargo.toml
  rust_dev_preview/batch/Cargo.toml
  rust_dev_preview/cloudformation/Cargo.toml
  rust_dev_preview/cognitoidentity/Cargo.toml
  rust_dev_preview/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/cognitosync/Cargo.toml
  rust_dev_preview/config/Cargo.toml
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/custom_retries/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/ebs/Cargo.toml
  rust_dev_preview/ec2/Cargo.toml
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/iot/Cargo.toml
  rust_dev_preview/kinesis/Cargo.toml
  rust_dev_preview/kms/Cargo.toml
  rust_dev_preview/lambda/Cargo.toml
  rust_dev_preview/logging/logger/Cargo.toml
  rust_dev_preview/logging/tracing/Cargo.toml
  rust_dev_preview/medialive/Cargo.toml
  rust_dev_preview/mediapackage/Cargo.toml
  rust_dev_preview/polly/Cargo.toml
  rust_dev_preview/qldb/Cargo.toml
  rust_dev_preview/rds/Cargo.toml
  rust_dev_preview/rdsdata/Cargo.toml
  rust_dev_preview/route53/Cargo.toml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/sagemaker/Cargo.toml
  rust_dev_preview/secretsmanager/Cargo.toml
  rust_dev_preview/ses/Cargo.toml
  rust_dev_preview/snowball/Cargo.toml
  rust_dev_preview/sns/Cargo.toml
  rust_dev_preview/sqs/Cargo.toml
  rust_dev_preview/ssm/Cargo.toml
Labels: Rust, Ready for review

#2529 Created new code examples for ECR
  rust_dev_preview/ecr/Cargo.toml
  rust_dev_preview/ecr/README.md
  rust_dev_preview/ecr/src/bin/describe-repos.rs
  rust_dev_preview/ecr/src/bin/list-images.rs
Labels: Rust, Ready for review

#2540 Update pinpoint_metadata.yaml for Kotlin SOS
  .doc_gen/metadata/pinpoint_metadata.yaml
Labels: Kotlin, SoS, Ready for merge

#2543 Update cloudwatch_metadata.yaml
  .doc_gen/metadata/cloudwatch-logs_metadata.yaml
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/eventbridge_metadata.yaml
Labels: Kotlin, SoS, Ready for merge

#2538 Added Rust code example for Amazon CloudWatch Logs
  rust_dev_preview/cloudwatchlogs/Cargo.toml
  rust_dev_preview/cloudwatchlogs/README.md
  rust_dev_preview/cloudwatchlogs/src/bin/get-log-events.rs
  rust_dev_preview/cloudwatchlogs/src/bin/list-log-groups.rs
  rust_dev_preview/cloudwatchlogs/src/bin/list-log-streams.rs
Labels: Rust, Ready for review

#2533 Added Rust code examples for EKS
  rust_dev_preview/eks/Cargo.toml
  rust_dev_preview/eks/README.md
  rust_dev_preview/eks/src/bin/create-delete-cluster.rs
  rust_dev_preview/eks/src/bin/list-clusters.rs
Labels: Rust, Ready for review

#2554 Update iam_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/secrets-manager_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
Labels: Kotlin, SoS, Ready for merge

#2541 Change parameter references to use accessors. Also updated a readme t…
  rust_dev_preview/apigateway/src/bin/get_rest_apis.rs
  rust_dev_preview/custom_retries/src/bin/disable_retries.rs
  rust_dev_preview/custom_retries/src/bin/set_retries.rs
  rust_dev_preview/dynamodb/src/bin/crud.rs
  rust_dev_preview/dynamodb/src/bin/dynamodb-helloworld.rs
  rust_dev_preview/dynamodb/src/bin/list-tables.rs
  rust_dev_preview/dynamodb/src/bin/movies.rs
  rust_dev_preview/ebs/src/bin/get-snapshot-state.rs
  rust_dev_preview/ebs/src/bin/list-snapshots.rs
  rust_dev_preview/ec2/src/bin/describe-instances.rs
  rust_dev_preview/ec2/src/bin/ec2-helloworld.rs
  rust_dev_preview/ec2/src/bin/list-all-instance-events.rs
  rust_dev_preview/iam/README.md
  rust_dev_preview/iam/src/bin/create-role.rs
Labels: Rust, Ready for merge

#2523 Transcribe & Transcribe medical SoS (JS)
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/services.yaml
  .doc_gen/metadata/transcribe-medical_metadata.yaml
  .doc_gen/metadata/transcribe_metadata.yaml
  javascriptv3/example_code/transcribe/README.md
  javascriptv3/example_code/transcribe/src/metadata.yaml
  javascriptv3/example_code/transcribe/src/package.json
  javascriptv3/example_code/transcribe/src/transcribe_create_job.js
  javascriptv3/example_code/transcribe/src/transcribe_create_medical_job.js
  javascriptv3/example_code/transcribe/src/transcribe_delete_job.js
  javascriptv3/example_code/transcribe/src/transcribe_delete_medical_job.js
  javascriptv3/example_code/transcribe/src/transcribe_list_jobs.js
  javascriptv3/example_code/transcribe/src/transcribe_list_medical_jobs.js
  javascriptv3/example_code/transcribe/tests/babel.config.js
  javascriptv3/example_code/transcribe/tests/jest.config.js
  javascriptv3/example_code/transcribe/tests/package.json
  javascriptv3/example_code/transcribe/tests/transcribe_create_job.test.js
  javascriptv3/example_code/transcribe/tests/transcribe_create_medical_job.test.js
  javascriptv3/example_code/transcribe/tests/transcribe_delete_job.test.js
  javascriptv3/example_code/transcribe/tests/transcribe_delete_medical_job.test.js
  javascriptv3/example_code/transcribe/tests/transcribe_list_jobs.test.js
  javascriptv3/example_code/transcribe/tests/transcribe_list_medical_jobs.test.js
Labels: JavaScript, SoS, Ready for merge

#2294 Add samples for Go config (+AssumeRole config) & Secrets Manager
  gov2/sdk/README.md
  gov2/sdk/config.go
  gov2/sdk/go.mod
  gov2/sdk/go.sum
  gov2/secretsmanager/README.md
  gov2/secretsmanager/common/create.go
  gov2/secretsmanager/common/delete.go
  gov2/secretsmanager/common/get.go
  gov2/secretsmanager/common/list.go
  gov2/secretsmanager/common/update.go
  gov2/secretsmanager/go.mod
  gov2/secretsmanager/go.sum
  gov2/secretsmanager/main.go
Labels: Go, Ready for merge

#2578 Add Entities for Swift SoS
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/sdks.yaml
  .doc_gen/validation/example_schema.yaml
  .doc_gen/validation/sdks_schema.yaml
  scripts/checkin_tests.py
Labels: SoS, Ready for merge, swift

#2611 Log4j 2 16 fix
  lambda_functions/blank-java/pom.xml
Labels: Java, Ready for merge

#2530 Created Rust code examples for ECS
  rust_dev_preview/ecs/Cargo.toml
  rust_dev_preview/ecs/README.md
  rust_dev_preview/ecs/src/bin/cluster.rs
  rust_dev_preview/ecs/src/bin/describe-clusters.rs
Labels: Rust, Ready for merge

#2537 Added Rust code example for Amazon CloudWatch
  rust_dev_preview/cloudwatch/Cargo.toml
  rust_dev_preview/cloudwatch/README.md
  rust_dev_preview/cloudwatch/src/bin/list-metrics.rs
Labels: Rust, Ready for merge

#2544 Updated Rust logging/tracing code examples to use accessors
  rust_dev_preview/logging/README.md
  rust_dev_preview/logging/logger/src/main.rs
  rust_dev_preview/logging/tracing/src/main.rs
Labels: Rust, Ready for merge

#2552 Added Rust code example of creating a default S3 client
  rust_dev_preview/s3/README.md
  rust_dev_preview/s3/src/bin/client.rs
Labels: Rust, Ready for merge

#2555 Added DynamoDB code examples in Rust to replace those in dev guide.
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/dynamodb/README.md
  rust_dev_preview/dynamodb/src/bin/README.md
  rust_dev_preview/dynamodb/src/bin/list-tables-local.rs
  rust_dev_preview/dynamodb/src/bin/list-tables-main.rs
Labels: Rust, Ready for merge

#2584 Added LocalStack code example in Rust
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/localstack/README.md
  rust_dev_preview/localstack/src/bin/use-localstack.rs
Labels: Rust, Ready for merge

#2609 Added example of Rust SDK unit testing
  rust_dev_preview/testing/Cargo.toml
  rust_dev_preview/testing/README.md
  rust_dev_preview/testing/src/enums.rs
  rust_dev_preview/testing/src/intro.rs
  rust_dev_preview/testing/src/traits.rs
Labels: Rust, Ready for merge

#2610 Added S3 Object Lambda code example in Rust
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/s3/README.md
  rust_dev_preview/s3/src/bin/s3-object-lambda.rs
Labels: Rust, Ready for merge

#2612 Added Lambda runtime code example in Rust
  rust_dev_preview/lambda/src/main.rs
Labels: Rust, Ready for merge

#2616 Doug rust backfill
  rust_dev_preview/autoscalingplans/Cargo.toml
  rust_dev_preview/autoscalingplans/README.md
  rust_dev_preview/autoscalingplans/src/bin/describe-scaling-plans.rs
  rust_dev_preview/polly/README.md
  rust_dev_preview/polly/src/bin/synthesize-speech-presigned.rs
  rust_dev_preview/s3/README.md
  rust_dev_preview/s3/file.csv
  rust_dev_preview/s3/src/bin/get-object-presigned.rs
  rust_dev_preview/s3/src/bin/list-objects.rs
  rust_dev_preview/s3/src/bin/put-object-presigned.rs
  rust_dev_preview/s3/src/bin/select-object-content.rs
Labels: Rust, Ready for merge

#2617 Added metadata files for APIGateway Management API, ECR, ECS, EKS, with Rust entries
  .doc_gen/metadata/api-gateway-management-api_metadata.yaml
  .doc_gen/metadata/ecr_metadata.yaml
  .doc_gen/metadata/ecs_metadata.yaml
  .doc_gen/metadata/eks_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2618 Added S3 CopyObject code example in Rust.
  rust_dev_preview/s3/README.md
  rust_dev_preview/s3/src/bin/copy-object.rs
Labels: Rust, Ready for merge

#2556 Cognito - adminDeleteUser with JS SDK v2
  javascript/example_code/cognito/admin-delete-user.js
Labels: JavaScript, Ready for merge

#2624 Updated readme for S3 code examples
  rust_dev_preview/s3/README.md
Labels: Rust, Ready for review

#2625 Changed Rust API link to point to docs.rs
  .doc_gen/metadata/sdks.yaml
Labels: Rust, Ready for review, SoS

#2582 Update admin-create-user example (AWS for JS v2)
  javascript/example_code/cognito/admin-create-user.js
Labels: JavaScript, Ready for merge

#2580 Add SNS MS example
  .doc_gen/cross-content/cross_SNSSubPub_Net_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  cpp/example_code/s3/copy_object.cpp
  cpp/example_code/s3/create_bucket.cpp
  cpp/example_code/s3/delete_bucket.cpp
  cpp/example_code/s3/delete_bucket_policy.cpp
  cpp/example_code/s3/delete_object.cpp
  cpp/example_code/s3/delete_website_config.cpp
  cpp/example_code/s3/get_acl.cpp
  cpp/example_code/s3/get_bucket_policy.cpp
  cpp/example_code/s3/get_object.cpp
  cpp/example_code/s3/list_buckets.cpp
  cpp/example_code/s3/list_objects.cpp
  cpp/example_code/s3/put_object.cpp
  cpp/example_code/s3/s3-demo.cpp
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedQueryRecordsWithSortKey.java
  javav2/example_code/s3/src/main/java/com/example/s3/PresignedSwing.java
  javav2/example_code/textract/src/main/java/com/example/textract/StartDocumentAnalysis.java
Labels: Java, Kotlin, SoS, Ready for merge

#2581 Python KMS examples, unit tests, SOS and README
  .doc_gen/metadata/kms_metadata.yaml
  python/example_code/kms/README.md
  python/example_code/kms/alias_management.py
  python/example_code/kms/encrypt_decrypt_file.py
  python/example_code/kms/grant_management.py
  python/example_code/kms/key_encryption.py
  python/example_code/kms/key_management.py
  python/example_code/kms/key_policies.py
  python/example_code/kms/test/conftest.py
  python/example_code/kms/test/test_alias_management.py
  python/example_code/kms/test/test_grant_management.py
  python/example_code/kms/test/test_key_encryption.py
  python/example_code/kms/test/test_key_management.py
  python/example_code/kms/test/test_key_policies.py
  python/test_tools/fixtures/common.py
  python/test_tools/kms_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, Ready for merge

#2634 Updated Rust code examples to 0.3.0 release
  rust_dev_preview/apigateway/Cargo.toml
  rust_dev_preview/apigatewaymanagement/Cargo.toml
  rust_dev_preview/applicationautoscaling/Cargo.toml
  rust_dev_preview/autoscaling/Cargo.toml
  rust_dev_preview/autoscalingplans/Cargo.toml
  rust_dev_preview/autoscalingplans/src/bin/describe-scaling-plans.rs
  rust_dev_preview/batch/Cargo.toml
  rust_dev_preview/cloudformation/Cargo.toml
  rust_dev_preview/cloudwatch/Cargo.toml
  rust_dev_preview/cloudwatchlogs/Cargo.toml
  rust_dev_preview/cognitoidentity/Cargo.toml
  rust_dev_preview/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/cognitosync/Cargo.toml
  rust_dev_preview/config/Cargo.toml
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/custom_retries/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/dynamodb/src/bin/crud.rs
  rust_dev_preview/dynamodb/src/bin/movies.rs
  rust_dev_preview/ebs/Cargo.toml
  rust_dev_preview/ec2/Cargo.toml
  rust_dev_preview/ec2/src/bin/describe-instances.rs
  rust_dev_preview/ecr/Cargo.toml
  rust_dev_preview/ecs/Cargo.toml
  rust_dev_preview/eks/Cargo.toml
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/iam/src/bin/create-role.rs
  rust_dev_preview/iot/Cargo.toml
  rust_dev_preview/kinesis/Cargo.toml
  rust_dev_preview/kms/Cargo.toml
  rust_dev_preview/kms/src/bin/kms-helloworld.rs
  rust_dev_preview/lambda/Cargo.toml
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/logging/logger/Cargo.toml
  rust_dev_preview/logging/tracing/Cargo.toml
  rust_dev_preview/medialive/Cargo.toml
  rust_dev_preview/mediapackage/Cargo.toml
  rust_dev_preview/polly/Cargo.toml
  rust_dev_preview/qldb/Cargo.toml
  rust_dev_preview/rds/Cargo.toml
  rust_dev_preview/rdsdata/Cargo.toml
  rust_dev_preview/route53/Cargo.toml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/sagemaker/Cargo.toml
  rust_dev_preview/secretsmanager/Cargo.toml
  rust_dev_preview/ses/Cargo.toml
  rust_dev_preview/snowball/Cargo.toml
  rust_dev_preview/sns/Cargo.toml
  rust_dev_preview/sqs/Cargo.toml
  rust_dev_preview/ssm/Cargo.toml
  rust_dev_preview/testing/Cargo.toml
Labels: Rust, Ready for review

#2635 Updated Rust test to include Smithy crates
  scripts/testRust.sh
Labels: shell script, Ready for review

#2636 Updated readme for Rust unit test code examples
  rust_dev_preview/testing/README.md
Labels: Rust, Ready for review

#2638 Added Rust entries to SecretsManager metadata file
  .doc_gen/metadata/secrets-manager_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2631 Updated Rust readme.md files
  rust_dev_preview/README.md
  rust_dev_preview/apigateway/README.md
  rust_dev_preview/apigatewaymanagement/README.md
  rust_dev_preview/applicationautoscaling/README.md
  rust_dev_preview/autoscaling/README.md
  rust_dev_preview/batch/README.md
  rust_dev_preview/cloudformation/README.md
  rust_dev_preview/cognitoidentity/README.md
  rust_dev_preview/cognitoidentityprovider/README.md
  rust_dev_preview/cognitosync/README.md
  rust_dev_preview/config/README.md
  rust_dev_preview/cross_service/README.md
  rust_dev_preview/ebs/README.md
  rust_dev_preview/ec2/README.md
  rust_dev_preview/ecr/README.md
  rust_dev_preview/iam/README.md
  rust_dev_preview/iot/README.md
  rust_dev_preview/kinesis/README.md
  rust_dev_preview/kms/README.md
  rust_dev_preview/medialive/README.md
  rust_dev_preview/mediapackage/README.md
  rust_dev_preview/polly/README.md
  rust_dev_preview/qldb/README.md
  rust_dev_preview/rds/README.md
  rust_dev_preview/rdsdata/README.md
  rust_dev_preview/route53/README.md
  rust_dev_preview/route53/src/bin/route53-helloworld.rs
  rust_dev_preview/sagemaker/README.md
  rust_dev_preview/secretsmanager/README.md
  rust_dev_preview/ses/README.md
  rust_dev_preview/snowball/README.md
  rust_dev_preview/sns/README.md
  rust_dev_preview/sqs/README.md
  rust_dev_preview/ssm/README.md
Labels: Rust, Ready for merge

#2384 Cloudwatch updates (C++)
  .doc_gen/metadata/cloudwatch-logs_metadata.yaml
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/eventbridge_metadata.yaml
  cpp/example_code/cloudwatch-logs/README.md
  cpp/example_code/cloudwatch-logs/delete_subscription_filter.cpp
  cpp/example_code/cloudwatch-logs/describe_subscription_filters.cpp
  cpp/example_code/cloudwatch-logs/put_subscription_filter.cpp
  cpp/example_code/cloudwatch/README.md
  cpp/example_code/cloudwatch/delete_alarm.cpp
  cpp/example_code/cloudwatch/describe_alarms.cpp
  cpp/example_code/cloudwatch/disable_alarm_actions.cpp
  cpp/example_code/cloudwatch/enable_alarm_actions.cpp
  cpp/example_code/cloudwatch/list_metrics.cpp
  cpp/example_code/cloudwatch/put_metric_alarm.cpp
  cpp/example_code/cloudwatch/put_metric_data.cpp
  cpp/example_code/eventbridge/README.md
  cpp/example_code/eventbridge/put_events.cpp
  cpp/example_code/eventbridge/put_rule.cpp
  cpp/example_code/eventbridge/put_targets.cpp
Labels: C++, Back to author, SoS

#2637 Added SoS metadata for Route53 code example in Rust
  .doc_gen/metadata/route53_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2665 Accessors 20
  rust_dev_preview/dynamodb/src/bin/movies.rs
  rust_dev_preview/lambda/Cargo.toml
  rust_dev_preview/lambda/src/bin/list-all-function-runtimes.rs
  rust_dev_preview/lambda/src/bin/list-functions.rs
  rust_dev_preview/lambda/src/main.rs
  rust_dev_preview/medialive/src/bin/medialive-helloworld.rs
  rust_dev_preview/mediapackage/src/bin/list-endpoints.rs
  rust_dev_preview/mediapackage/src/bin/mediapackage-helloworld.rs
  rust_dev_preview/polly/src/bin/describe-voices.rs
  rust_dev_preview/polly/src/bin/list-lexicons.rs
  rust_dev_preview/polly/src/bin/polly-helloworld.rs
  rust_dev_preview/qldb/src/bin/create-ledger.rs
  rust_dev_preview/qldb/src/bin/list-ledgers.rs
  rust_dev_preview/qldb/src/bin/qldb-helloworld.rs
  rust_dev_preview/rds/src/bin/rds-helloworld.rs
  rust_dev_preview/route53/src/bin/route53-helloworld.rs
  rust_dev_preview/s3/src/bin/client.rs
  rust_dev_preview/s3/src/bin/list-buckets.rs
  rust_dev_preview/s3/src/bin/list-object-versions.rs
  rust_dev_preview/s3/src/bin/list-objects.rs
  rust_dev_preview/s3/src/bin/s3-helloworld.rs
  rust_dev_preview/sagemaker/src/bin/list-training-jobs.rs
  rust_dev_preview/sagemaker/src/bin/sagemaker-helloworld.rs
  rust_dev_preview/secretsmanager/src/bin/get-secret-value.rs
  rust_dev_preview/secretsmanager/src/bin/list-secrets.rs
  rust_dev_preview/ses/src/bin/is-email-verified.rs
  rust_dev_preview/ses/src/bin/list-contact-lists.rs
  rust_dev_preview/ses/src/bin/list-contacts.rs
  rust_dev_preview/ses/src/bin/send-email.rs
  rust_dev_preview/snowball/src/bin/create-address.rs
  rust_dev_preview/snowball/src/bin/describe-addresses.rs
  rust_dev_preview/snowball/src/bin/list-jobs.rs
  rust_dev_preview/sns/src/bin/create-topic.rs
  rust_dev_preview/sns/src/bin/list-topics.rs
  rust_dev_preview/sqs/src/bin/sqs-hello-world.rs
  rust_dev_preview/ssm/src/bin/create-parameter.rs
  rust_dev_preview/ssm/src/bin/describe-parameters.rs
Labels: Rust, Ready for review

#2666 Ran cargo fmt on Rust code examples
  rust_dev_preview/polly/src/bin/describe-voices.rs
  rust_dev_preview/polly/src/bin/list-lexicons.rs
  rust_dev_preview/rds/src/bin/rds-helloworld.rs
  rust_dev_preview/s3/src/bin/list-object-versions.rs
  rust_dev_preview/secretsmanager/src/bin/get-secret-value.rs
  rust_dev_preview/ses/src/bin/list-contact-lists.rs
  rust_dev_preview/sqs/src/bin/sqs-hello-world.rs
Labels: Rust, Ready for merge
