Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-07, with the labels that each got.

#1911 Added standard .gitignore file to Python folder.
  python/.gitignore
Labels: Python

#1912 Added Ruby .gitignore
  ruby/.gitignore
Labels: Ruby

#1913 Add versioned bucket examples
  dotnetv3/S3/versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample.sln
  dotnetv3/S3/versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample/DeleteMultipleObjects.cs
  dotnetv3/S3/versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample.csproj
  dotnetv3/S3/versioned-examples/DeleteObjectVersionExample/DeleteObjectVersionExample.sln
  dotnetv3/S3/versioned-examples/DeleteObjectVersionExample/DeleteObjectVersionExample/DeleteObjectVersion.cs
  dotnetv3/S3/versioned-examples/DeleteObjectVersionExample/DeleteObjectVersionExample/DeleteObjectVersionExample.csproj
  dotnetv3/S3/versioned-examples/ListObjectVersionsExample/ListObjectVersionsExample.sln
  dotnetv3/S3/versioned-examples/ListObjectVersionsExample/ListObjectVersionsExample/ListObjectVersions.cs
  dotnetv3/S3/versioned-examples/ListObjectVersionsExample/ListObjectVersionsExample/ListObjectVersionsExample.csproj
Labels: .NET

#1914 Adding two S3 examples that work with ACL.
  dotnetv3/S3/ManageACLsExample/ManageACLsExample.sln
  dotnetv3/S3/ManageACLsExample/ManageACLsExample/ManageACLs.cs
  dotnetv3/S3/ManageACLsExample/ManageACLsExample/ManageACLsExample.csproj
  dotnetv3/S3/ManageObjectACLExample/ManageObjectACLExample.sln
  dotnetv3/S3/ManageObjectACLExample/ManageObjectACLExample/ManageObjectACL.cs
  dotnetv3/S3/ManageObjectACLExample/ManageObjectACLExample/ManageObjectACLExample.csproj
Labels: .NET

#1923 SNS cross-service example application (JS)
  javascript/example_code/lambda/invokeLambda.html
  javascriptv3/example_code/cross-services/sns-sample-app/Readme.md
  javascriptv3/example_code/cross-services/sns-sample-app/css/styles.css
  javascriptv3/example_code/cross-services/sns-sample-app/images/cloud_formation_resources_tab.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/cloud_formation_stacks.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/identity_pool_ids.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic1.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic2.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic3.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic4.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic5.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic6.png
  javascriptv3/example_code/cross-services/sns-sample-app/index.html
  javascriptv3/example_code/cross-services/sns-sample-app/js/index.js
  javascriptv3/example_code/cross-services/sns-sample-app/libs/snsClient.js
  javascriptv3/example_code/cross-services/sns-sample-app/package.json
  javascriptv3/example_code/cross-services/sns-sample-app/setup.yaml
Labels: JavaScript

#1929 Updating similar readme titles to make them clearer
  cpp/example_code/s3-crt/README.md
  cpp/example_code/s3/README.md
  cpp/example_code/transfer-manager/README.md
Labels: C++

#1906 Add Java ECS V2 examples
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstanceTags.java
  javav2/example_code/ecs/Readme.md
  javav2/example_code/ecs/metadata.yaml
  javav2/example_code/ecs/pom.xml
  javav2/example_code/ecs/src/main/java/com/example/ecs/CreateCluster.java
  javav2/example_code/ecs/src/main/java/com/example/ecs/CreateService.java
  javav2/example_code/ecs/src/main/java/com/example/ecs/DeleteService.java
  javav2/example_code/ecs/src/main/java/com/example/ecs/DescribeClusters.java
  javav2/example_code/ecs/src/main/java/com/example/ecs/ListClusters.java
  javav2/example_code/ecs/src/main/java/com/example/ecs/ListTaskDefinitions.java
  javav2/example_code/ecs/src/main/java/com/example/ecs/UpdateService.java
  javav2/example_code/ecs/src/main/resources/config.properties
  javav2/example_code/ecs/src/test/java/EcsTest.java
  javav2/example_code/glacier/src/main/java/com/example/glacier/ArchiveDownload.java
  javav2/example_code/s3/src/main/java/com/example/s3/SetWebsiteConfiguration.java
Labels: Java

#1920 Add Golang AppRunner example
  resources/cdk/go-apprunner/README.md
  resources/cdk/go-apprunner/app/Dockerfile
  resources/cdk/go-apprunner/app/go.mod
  resources/cdk/go-apprunner/app/go.sum
  resources/cdk/go-apprunner/app/main.go
  resources/cdk/go-apprunner/cdk.json
  resources/cdk/go-apprunner/go-arcdk.go
  resources/cdk/go-apprunner/go.mod
  resources/cdk/go-apprunner/go.sum
Labels: Go

#1924 Add 12 Amazon Personalize operations, update readme, update test file
  javav2/example_code/personalize/Readme.md
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateBatchInferenceJob.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateDataset.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateDatasetExportJob.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateEventTracker.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateFilter.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateSchema.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/CreateSolutionVersion.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/DeleteEventTracker.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/FilterRecommendations.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/GetPersonalizedRanking.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/PutItems.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/PutUsers.java
  javav2/example_code/personalize/src/main/java/com/example/personalize/UpdateCampaign.java
  javav2/example_code/personalize/src/main/resources/config.properties
  javav2/example_code/personalize/src/test/java/PersonalizeTest.java
Labels: Java, on review

#1934 AWS CodeCommit samples (AWS SDK for JavaScript v3)
  javascriptv3/example_code/codecommit/README.md
  javascriptv3/example_code/codecommit/src/createBranch.js
  javascriptv3/example_code/codecommit/src/createCommit.js
  javascriptv3/example_code/codecommit/src/createPullRequest.js
  javascriptv3/example_code/codecommit/src/createRepository.js
  javascriptv3/example_code/codecommit/src/deleteBranch.js
  javascriptv3/example_code/codecommit/src/deleteRepository.js
  javascriptv3/example_code/codecommit/src/describePullRequestEvents.js
  javascriptv3/example_code/codecommit/src/getMergeOptions.js
  javascriptv3/example_code/codecommit/src/getPullRequest.js
  javascriptv3/example_code/codecommit/src/getRepository.js
  javascriptv3/example_code/codecommit/src/libs/codeCommitClient.js
  javascriptv3/example_code/codecommit/src/listRepositories.js
  javascriptv3/example_code/codecommit/src/mergeBranches.js
  javascriptv3/example_code/codecommit/src/package.json
  javascriptv3/example_code/codecommit/tests/babel.config.js
  javascriptv3/example_code/codecommit/tests/createBranch.test.js
  javascriptv3/example_code/codecommit/tests/createCommit.test.js
  javascriptv3/example_code/codecommit/tests/createPullRequest.test.js
  javascriptv3/example_code/codecommit/tests/createRepository.test.js
  javascriptv3/example_code/codecommit/tests/deleteBranch.test.js
  javascriptv3/example_code/codecommit/tests/deleteRepository.test.js
  javascriptv3/example_code/codecommit/tests/describePullRequestEvents.test.js
  javascriptv3/example_code/codecommit/tests/getMergeOptions.test.js
  javascriptv3/example_code/codecommit/tests/getPullRequest.test.js
  javascriptv3/example_code/codecommit/tests/getRepository.test.js
  javascriptv3/example_code/codecommit/tests/jest.config.js
  javascriptv3/example_code/codecommit/tests/listRepositories.js
  javascriptv3/example_code/codecommit/tests/mergeBranches.test.js
  javascriptv3/example_code/codecommit/tests/package.json
Labels: JavaScript

#1922 Updated six S3 examples.
  dotnetv3/S3/AbortMPUExample/AbortMPUExample.sln
  dotnetv3/S3/AbortMPUExample/AbortMPUExample/AbortMPU.cs
  dotnetv3/S3/AbortMPUExample/AbortMPUExample/AbortMPUExample.csproj
  dotnetv3/S3/SSECLowLevelMPUcopyObjectExample/SSECLowLevelMPUcopyObjectExample.sln
  dotnetv3/S3/SSECLowLevelMPUcopyObjectExample/SSECLowLevelMPUcopyObjectExample/SSECLowLevelMPUcopyObject.cs
  dotnetv3/S3/SSECLowLevelMPUcopyObjectExample/SSECLowLevelMPUcopyObjectExample/SSECLowLevelMPUcopyObjectExample.csproj
  dotnetv3/S3/SSEClientEncryptionExample/SSEClientEncryptionExample.sln
  dotnetv3/S3/SSEClientEncryptionExample/SSEClientEncryptionExample/SSEClientEncryption.cs
  dotnetv3/S3/SSEClientEncryptionExample/SSEClientEncryptionExample/SSEClientEncryptionExample.csproj
  dotnetv3/S3/ServerAccessLoggingExample/ServerAccessLoggingExample.sln
  dotnetv3/S3/ServerAccessLoggingExample/ServerAccessLoggingExample/ServerAccessLogging.cs
  dotnetv3/S3/ServerAccessLoggingExample/ServerAccessLoggingExample/ServerAccessLoggingExample.csproj
  dotnetv3/S3/ServerSideEncryptionExample/ServerSideEncryptionExample.sln
  dotnetv3/S3/ServerSideEncryptionExample/ServerSideEncryptionExample/ServerSideEncryption.cs
  dotnetv3/S3/ServerSideEncryptionExample/ServerSideEncryptionExample/ServerSideEncryptionExample.csproj
  dotnetv3/S3/UploadUsingPresignedURLExample/UploadUsingPresignedURLExample.sln
  dotnetv3/S3/UploadUsingPresignedURLExample/UploadUsingPresignedURLExample/UploadUsingPresignedURL.cs
  dotnetv3/S3/UploadUsingPresignedURLExample/UploadUsingPresignedURLExample/UploadUsingPresignedURLExample.csproj
Labels: .NET

#1940 AWS CodeBuild examples (AWS SDK for JS v3)
  javascriptv3/example_code/codebuild/README.md
  javascriptv3/example_code/codebuild/src/createProject.js
  javascriptv3/example_code/codebuild/src/libs/codeBuildClient.js
  javascriptv3/example_code/codebuild/src/package.json
  javascriptv3/example_code/codebuild/tests/babel.config.js
  javascriptv3/example_code/codebuild/tests/createProject.test.js
  javascriptv3/example_code/codebuild/tests/jest.config.js
  javascriptv3/example_code/codebuild/tests/package.json
  javascriptv3/example_code/codecommit/README.md
  javascriptv3/example_code/codecommit/src/package.json
  ruby/example_code/sns/README.md
  ruby/example_code/sns/sns-ruby-example-create-subscription.rb
  ruby/example_code/sns/sns-ruby-example-create-topic.rb
  ruby/example_code/sns/sns-ruby-example-enable-resource.rb
  ruby/example_code/sns/sns-ruby-example-send-message.rb
  ruby/example_code/sns/sns-ruby-example-show-subscriptions.rb
  ruby/example_code/sns/sns-ruby-example-show-topics.rb
  ruby/example_code/sns/tests/test-sns-ruby-example-create-subscription.rb
  ruby/example_code/sns/tests/test-sns-ruby-example-create-topic.rb
  ruby/example_code/sns/tests/test_create_bucket_snippet.rb
Labels: JavaScript

#1946 Final s3 updates
  .gitignore
  dotnetv3/.gitignore
  dotnetv3/S3/TempCredExplicitSessionStartExample/TempCredExplicitSessionStartExample.sln
  dotnetv3/S3/TempCredExplicitSessionStartExample/TempCredExplicitSessionStartExample/TempCredExplicitSessionStart.cs
  dotnetv3/S3/TempCredExplicitSessionStartExample/TempCredExplicitSessionStartExample/TempCredExplicitSessionStartExample.csproj
  dotnetv3/S3/TempFederatedCredentialsExample/TempFederatedCredentialsExample.sln
  dotnetv3/S3/TempFederatedCredentialsExample/TempFederatedCredentialsExample/TempFederatedCredentials.cs
  dotnetv3/S3/TempFederatedCredentialsExample/TempFederatedCredentialsExample/TempFederatedCredentialsExample.csproj
  dotnetv3/S3/TrackMPUUsingHighLevelAPIExample/TrackMPUUsingHighLevelAPIExample.sln
  dotnetv3/S3/TrackMPUUsingHighLevelAPIExample/TrackMPUUsingHighLevelAPIExample/TrackMPUUsingHighLevelAPI.cs
  dotnetv3/S3/TrackMPUUsingHighLevelAPIExample/TrackMPUUsingHighLevelAPIExample/TrackMPUUsingHighLevelAPIExample.csproj
  dotnetv3/S3/UploadDirMPUHighLevelAPIExample/UploadDirMPUHighLevelAPIExample.sln
  dotnetv3/S3/UploadDirMPUHighLevelAPIExample/UploadDirMPUHighLevelAPIExample/UploadDirMPUHighLevelAPI.cs
  dotnetv3/S3/UploadDirMPUHighLevelAPIExample/UploadDirMPUHighLevelAPIExample/UploadDirMPUHighLevelAPIExample.csproj
  dotnetv3/S3/UploadFileMPUHighLevelAPIExample/UploadFileMPUHighLevelAPIExample.sln
  dotnetv3/S3/UploadFileMPUHighLevelAPIExample/UploadFileMPUHighLevelAPIExample/UploadFileMPUHighLevelAPI.cs
  dotnetv3/S3/UploadFileMPUHighLevelAPIExample/UploadFileMPUHighLevelAPIExample/UploadFileMPUHighLevelAPIExample.csproj
  dotnetv3/S3/UploadFileMPULowLevelAPIExample/UploadFileMPULowLevelAPIExample.sln
  dotnetv3/S3/UploadFileMPULowLevelAPIExample/UploadFileMPULowLevelAPIExample/UploadFileMPULowLevelAPI.cs
  dotnetv3/S3/UploadFileMPULowLevelAPIExample/UploadFileMPULowLevelAPIExample/UploadFileMPULowLevelAPIExample.csproj
Labels: .NET

#1950 Deleted some low-quality Python examples, improved a few others.
  python/example_code/acm/certificate_basics.py
  python/example_code/cdk/app.py
  python/example_code/cdk/app2.py
  python/example_code/cdk/requirements.txt
  python/example_code/cloudfront/README.md
  python/example_code/cloudfront/list_distributions.py
  python/example_code/cloudfront/list_distributions_paginator.py
  python/example_code/cloudfront/update_distribution.py
  python/example_code/cloudfront/update_distribution_certificate.py
  python/example_code/config/README.md
  python/example_code/config/config_rules.py
  python/example_code/config/describe_config_rule.py
  python/example_code/config/describe_config_rules.py
  python/example_code/config/put_config_rule.py
  python/example_code/ecs/create_cluster.py
  python/example_code/eks/describe_cluster.py
  python/example_code/eks/list_clusters.py
  python/example_code/translate/TranslateText.py
Labels: Python

#1953 Added Cognito Sync code examples in Rust
  .rust_alpha/cognitosync/Cargo.toml
  .rust_alpha/cognitosync/README.md
  .rust_alpha/cognitosync/src/bin/list-identity-pool-usage.rs
Labels: Ready for review, Rust

#1952 Added Cognito identity provider code example in Rust
  .rust_alpha/cognitoidentityprovider/Cargo.toml
  .rust_alpha/cognitoidentityprovider/src/bin/list-user-pools.rs
Labels: Ready for review, Rust

#1932 Added Snowball code examples in Rust
  .rust_alpha/snowball/Cargo.toml
  .rust_alpha/snowball/README.md
  .rust_alpha/snowball/src/bin/create-address.rs
  .rust_alpha/snowball/src/bin/describe-addresses.rs
  .rust_alpha/snowball/src/bin/list-jobs.rs
Labels: Ready for review, Rust

#1935 Added Auto Scaling group code examples in Rust
  .rust_alpha/autoscaling/Cargo.toml
  .rust_alpha/autoscaling/README.md
  .rust_alpha/autoscaling/src/bin/create-autoscaling-group.rs
  .rust_alpha/autoscaling/src/bin/delete-autoscaling-group.rs
  .rust_alpha/autoscaling/src/bin/list-autoscaling-groups.rs
  .rust_alpha/autoscaling/src/bin/update-autoscaling-group.rs
Labels: Ready for review, Rust

#1936 Added EBS code examples in Rust
  .rust_alpha/ebs/Cargo.toml
  .rust_alpha/ebs/README.md
  .rust_alpha/ebs/src/bin/create-snapshot.rs
  .rust_alpha/ebs/src/bin/delete-snapshot.rs
  .rust_alpha/ebs/src/bin/get-snapshot-state.rs
  .rust_alpha/ebs/src/bin/list-snapshots.rs
Labels: Ready for review, Rust

#1937 Added AWS Batch code example in Rust
  .rust_alpha/batch/Cargo.toml
  .rust_alpha/batch/README.md
  .rust_alpha/batch/src/bin/batch-helloworld.rs
Labels: Ready for review, Rust

#1938 Updated Cloudformation code examples in Rust
  .rust_alpha/cloudformation/Cargo.toml
  .rust_alpha/cloudformation/src/bin/create-stack.rs
  .rust_alpha/cloudformation/src/bin/delete-stack.rs
  .rust_alpha/cloudformation/src/bin/describe-stack.rs
  .rust_alpha/cloudformation/src/bin/list-stacks.rs
Labels: Ready for review, Rust

#1960 Added AWS Config code examples in Rust
  .rust_alpha/config/Cargo.toml
  .rust_alpha/config/README.md
  .rust_alpha/config/src/bin/delete-configuration-recorder.rs
  .rust_alpha/config/src/bin/delete-delivery-channel.rs
  .rust_alpha/config/src/bin/enable-config.rs
  .rust_alpha/config/src/bin/list-configuration-recorders.rs
  .rust_alpha/config/src/bin/list-delivery-channels.rs
  .rust_alpha/config/src/bin/list-resources.rs
  .rust_alpha/config/src/bin/show-resource-history.rs
Labels: Ready for review, Rust

#1951 Updated DynamoDB code example in Rust
  .rust_alpha/dynamodb/Cargo.toml
  .rust_alpha/dynamodb/src/bin/add-item.rs
  .rust_alpha/dynamodb/src/bin/create-table.rs
  .rust_alpha/dynamodb/src/bin/crud.rs
  .rust_alpha/dynamodb/src/bin/delete-item.rs
  .rust_alpha/dynamodb/src/bin/delete-table.rs
  .rust_alpha/dynamodb/src/bin/dynamodb-helloworld.rs
  .rust_alpha/dynamodb/src/bin/list-items.rs
  .rust_alpha/dynamodb/src/bin/list-tables.rs
  .rust_alpha/dynamodb/src/bin/movies.rs
Labels: Ready for review, Rust

#1941 Added Cognito identity pool code examples in Rust.
  .rust_alpha/cognitoidentity/Cargo.toml
  .rust_alpha/cognitoidentity/README.md
  .rust_alpha/cognitoidentity/src/bin/describe-identity-pool.rs
  .rust_alpha/cognitoidentity/src/bin/list-identity-pools.rs
  .rust_alpha/cognitoidentity/src/bin/list-pool-identities.rs
Labels: Ready for review, Rust

#1939 Added IAM create-role code example in Rust
  .rust_alpha/iam/Cargo.toml
  .rust_alpha/iam/README.md
  .rust_alpha/iam/src/bin/create-role.rs
Labels: Ready for review, Rust
