Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-03, with the labels that each got.

#1664 Fixes README.md
  gov2/kinesis/README.md
Labels: Go

#1670 Removed go.mod and go.sum
  gov2/go.mod
  gov2/go.sum
Labels: Go, bug

#1697 add links to CDK readme
  resources/cdk/README.md
Labels: CloudFormation

#1675 Fixing a broken link
  javav2/README.rst
Labels: Java

#1679 Lookout for vision python
  python/example_code/lookoutvision/find_tag.py
Labels: Python

#1678 Update v4-signing-get-post.py
  python/example_code/signv4/v4-signing-get-post.py
Labels: Python

#1704 Amazon Textract explorer example
  python/README.md
  python/example_code/textract/.metadata.yaml
  python/example_code/textract/README.md
  python/example_code/textract/setup.yaml
  python/example_code/textract/test/conftest.py
  python/example_code/textract/test/test_textract_wrapper.py
  python/example_code/textract/textract_app.py
  python/example_code/textract/textract_demo_launcher.py
  python/example_code/textract/textract_python_analyze_document_text.py
  python/example_code/textract/textract_python_async.py
  python/example_code/textract/textract_python_detect_document_text.py
  python/example_code/textract/textract_python_kv_parser.py
  python/example_code/textract/textract_python_retry.py
  python/example_code/textract/textract_python_table_parser.py
  python/example_code/textract/textract_wrapper.py
  python/test_tools/s3_stubber.py
  python/test_tools/sqs_stubber.py
  python/test_tools/stubber_factory.py
  python/test_tools/textract_stubber.py
  resources/cdk/README.md
  resources/cdk/textract_example_s3_sns_sqs/cdk.json
  resources/cdk/textract_example_s3_sns_sqs/package.json
  resources/cdk/textract_example_s3_sns_sqs/setup.ts
  resources/cdk/textract_example_s3_sns_sqs/tsconfig.json
Labels: Python, on review

#1674 Update CMakeLists-minimal.txt
  cpp/example_code/general/CMakeLists-minimal.txt
Labels: C++

#1673 Update CMakeLists.txt
  cpp/example_code/general/CMakeLists.txt
Labels: C++

#1706 JavaScript v3 Rekognition
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/cognito/getCredentials/README.md
  javascriptv3/example_code/cross-services/lambda-step-functions/README.md
  javascriptv3/example_code/cross-services/lambda-step-functions/metadata.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/package.json
  javascriptv3/example_code/cross-services/lambda-step-functions/setup.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda1/getid.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda2/additem.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda3/sendemail.js
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/ec2/README.md
  javascriptv3/example_code/glacier/README.md
  javascriptv3/example_code/iam/README.md
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/mediaconvert/README.md
  javascriptv3/example_code/nodegetstarted/README.md
  javascriptv3/example_code/pinpoint/README.md
  javascriptv3/example_code/polly/README.md
  javascriptv3/example_code/polly/general-examples/src/README.md
  javascriptv3/example_code/redshift/README.md
  javascriptv3/example_code/rekognition/estimate-age-example/src/README.md
  javascriptv3/example_code/rekognition/estimate-age-example/src/estimate-age.html
  javascriptv3/example_code/rekognition/estimate-age-example/src/estimate-age.js
  javascriptv3/example_code/rekognition/estimate-age-example/src/package.json
  javascriptv3/example_code/s3/README.md
  javascriptv3/example_code/secrets/README.md
  javascriptv3/example_code/ses/README.md
  javascriptv3/example_code/sns/README.md
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/tests/cross-services/lambda-step-functions/additem.test.js
  javascriptv3/example_code/tests/cross-services/lambda-step-functions/sendemail.test.js
  javascriptv3/example_code/transcribe/README.md
  resources/cdk/README.md
  resources/cdk/kinesis-iam-unauthenticated-role/cdk.json
  resources/cdk/kinesis-iam-unauthenticated-role/package.json
  resources/cdk/kinesis-iam-unauthenticated-role/setup.ts
  resources/cdk/kinesis-iam-unauthenticated-role/tsconfig.json
  resources/cdk/lambda_using_api_gateway/setup.ts
Labels: JavaScript

#1714 Added readmes for IAM code examples in Go v2
  gov2/iam/AccessKeyLastUsed/README.md
  gov2/iam/AttachUserPolicy/README.md
  gov2/iam/CreateAccessKey/README.md
  gov2/iam/CreateAccountAlias/README.md
  gov2/iam/CreatePolicy/README.md
  gov2/iam/CreateUser/README.md
  gov2/iam/DeleteAccessKey/README.md
  gov2/iam/DeleteAccountAlias/README.md
  gov2/iam/DeleteServerCert/README.md
  gov2/iam/DeleteUser/README.md
  gov2/iam/DetachUserPolicy/README.md
  gov2/iam/GetPolicy/README.md
  gov2/iam/GetServerCert/README.md
  gov2/iam/ListAccessKeys/README.md
  gov2/iam/ListAccountAliases/README.md
  gov2/iam/ListAdmins/README.md
  gov2/iam/ListServerCerts/README.md
  gov2/iam/ListUsers/README.md
  gov2/iam/UpdateAccessKey/README.md
  gov2/iam/UpdateServerCert/README.md
  gov2/iam/UpdateUser/README.md
Labels: Go

#1715 Add multipartupload to S3 example
  javascriptv3/example_code/s3/src/metadata.yaml
  javascriptv3/example_code/s3/src/s3_multipartupload.ts
  javascriptv3/example_code/tests/s3/s3_multipartupload.test.js
Labels: JavaScript

#1720 Add sts assume role example
  dotnet3.5/STS/AssumeRole/AssumeRole.sln
  dotnet3.5/STS/AssumeRole/AssumeRoleExample/AssumeRole.cs
  dotnet3.5/STS/AssumeRole/AssumeRoleExample/AssumeRoleExample.csproj
  dotnet3.5/STS/AssumeRole/AssumeRoleExampleTest/AssumeRoleExampleTest.csproj
  dotnet3.5/STS/AssumeRole/AssumeRoleExampleTest/AssumeRoleTests.cs
  dotnet3.5/STS/AssumeRole/metadata.yaml
Labels: .NET

#1726 Use log.Fatalf for simpler and shorter handling of failures
  go/example_code/dynamodb/DynamoDBCreateItem.go
  go/example_code/dynamodb/DynamoDBCreateTable.go
  go/example_code/dynamodb/DynamoDBDeleteItem.go
  go/example_code/dynamodb/DynamoDBLoadItems.go
  go/example_code/dynamodb/DynamoDBReadItem.go
  go/example_code/dynamodb/DynamoDBScanItems.go
  go/example_code/dynamodb/DynamoDBUpdateItem.go
  go/example_code/dynamodb/load_items.go
  go/example_code/dynamodb/read_item.go
  go/example_code/dynamodb/scan_items.go
  go/example_code/dynamodb/update_item.go
Labels: Go, enhancement

#1729 Updated MyRdsDbStack-stack.ts
  typescript/example_code/cdk/MyRdsDbStack-stack.ts
Labels: CDK, bug

#1730 Update listbuckets
  dotnet3.5/S3/ListBucketsExample/ListBuckets/Program.cs
Labels: .NET

#1722 added go v1 example for faceDetection
  go/example_code/rekognition/detect_faces.go
Labels: Go, on review

#1731 Fix typo in javascriptv3 s3 photo example
  javascriptv3/example_code/s3/photoExample/src/s3_PhotoExample.ts
Labels: JavaScript, bug

#1733 Lex bot
  javascriptv3/example_code/cross-services/lex-bot/README.md
  javascriptv3/example_code/cross-services/lex-bot/metadata.yaml
  javascriptv3/example_code/cross-services/lex-bot/package.json
  javascriptv3/example_code/cross-services/lex-bot/setup.yaml
  javascriptv3/example_code/cross-services/lex-bot/src/index.html
  javascriptv3/example_code/cross-services/lex-bot/src/index.ts
  javascriptv3/example_code/cross-services/lex-bot/src/style.css
  javascriptv3/example_code/tests/cross-services/lex-bot/index.test.js
  resources/cdk/README.md
  resources/cdk/lex_bot_example_iam_unauth_role/cdk.json
  resources/cdk/lex_bot_example_iam_unauth_role/package.json
  resources/cdk/lex_bot_example_iam_unauth_role/setup.ts
  resources/cdk/lex_bot_example_iam_unauth_role/tsconfig.json
Labels: JavaScript

#1735 Adding two SQS examples
  dotnet3.5/SQS/CreateSendExample/CreateSendExample.sln
  dotnet3.5/SQS/CreateSendExample/CreateSendExample/CreateSendExample.cs
  dotnet3.5/SQS/CreateSendExample/CreateSendExample/CreateSendExample.csproj
  dotnet3.5/SQS/CreateSendExample/CreateSendExampleTests/CreateSendExampleTests.cs
  dotnet3.5/SQS/CreateSendExample/CreateSendExampleTests/CreateSendExampleTests.csproj
  dotnet3.5/SQS/CreateSendExample/metadata.yaml
  dotnet3.5/SQS/README.md
  dotnet3.5/SQS/ReceiveDeleteExample/ReceiveDeleteExample.sln
  dotnet3.5/SQS/ReceiveDeleteExample/ReceiveDeleteExample/ReceiveDeleteExample.cs
  dotnet3.5/SQS/ReceiveDeleteExample/ReceiveDeleteExample/ReceiveDeleteExample.csproj
  dotnet3.5/SQS/ReceiveDeleteExample/ReceiveDeleteExampleTests/ReceiveDeleteExampleTests.cs
  dotnet3.5/SQS/ReceiveDeleteExample/ReceiveDeleteExampleTests/ReceiveDeleteExampleTests.csproj
  dotnet3.5/SQS/ReceiveDeleteExample/metadata.yaml
Labels: .NET

#1732 AWS SDK for Java version 2.16.29
  javav2/example_code/apigateway/pom.xml
  javav2/example_code/athena/pom.xml
  javav2/example_code/cloudformation/pom.xml
  javav2/example_code/cloudtrail/pom.xml
  javav2/example_code/cloudwatch/pom.xml
  javav2/example_code/codecommit/pom.xml
  javav2/example_code/codedeploy/pom.xml
  javav2/example_code/cognito/pom.xml
  javav2/example_code/comprehend/pom.xml
  javav2/example_code/dynamodb/pom.xml
  javav2/example_code/dynamodbasync/pom.xml
  javav2/example_code/ec2/pom.xml
  javav2/example_code/emr/pom.xml
  javav2/example_code/eventbridge/pom.xml
  javav2/example_code/firehose/pom.xml
  javav2/example_code/forecast/pom.xml
  javav2/example_code/glacier/pom.xml
  javav2/example_code/glue/pom.xml
  javav2/example_code/guardduty/pom.xml
  javav2/example_code/iam/pom.xml
  javav2/example_code/kinesis/pom.xml
  javav2/example_code/kms/pom.xml
  javav2/example_code/lambda/pom.xml
  javav2/example_code/mediaconvert/pom.xml
  javav2/example_code/mediastore/pom.xml
  javav2/example_code/migrationhub/pom.xml
  javav2/example_code/personalize/pom.xml
  javav2/example_code/pinpoint/pom.xml
  javav2/example_code/polly/pom.xml
  javav2/example_code/quicksight/pom.xml
  javav2/example_code/rds/pom.xml
  javav2/example_code/redshift/pom.xml
  javav2/example_code/rekognition/pom.xml
  javav2/example_code/route53/pom.xml
  javav2/example_code/s3/pom.xml
  javav2/example_code/sagemaker/pom.xml
  javav2/example_code/secretsmanager/pom.xml
  javav2/example_code/ses/pom.xml
  javav2/example_code/sns/pom.xml
  javav2/example_code/sqs/pom.xml
  javav2/example_code/ssm/pom.xml
  javav2/example_code/stepfunctions/pom.xml
  javav2/example_code/sts/pom.xml
  javav2/example_code/swf/pom.xml
  javav2/example_code/textract/pom.xml
  javav2/example_code/transcribe/pom.xml
  javav2/example_code/translate/pom.xml
  javav2/example_code/workdocs/pom.xml
  javav2/usecases/creating_amazon_cognito_app/Readme.md
  javav2/usecases/workflow_multiple_channels/Readme.md
  javav2/usecases/workflow_multiple_channels/pom.xml
Labels: Java, enhancement
