Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2021-11, with the labels that each got.

#2264 codebuild gov2 examples added
  gov2/codebuild/ListBuilds/ListBuildsv2.go
  gov2/codebuild/ListBuilds/ListBuildsv2_test.go
  gov2/codebuild/ListBuilds/README.md
  gov2/codebuild/README.md
Labels: Go

#2304 Added go module files go.mod and go.sum
  gov2/s3/ListBuckets/go.mod
  gov2/s3/ListBuckets/go.sum
Labels: Go, Ready for review

#2302 Create Email Template
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/CreateEmailTemplate
Labels: Java, Ready for review

#2284 Refactored S3 code examples in Rust
  .rust_alpha/s3/README.md
  .rust_alpha/s3/src/bin/create-bucket.rs
  .rust_alpha/s3/src/bin/delete-object.rs
  .rust_alpha/s3/src/bin/delete-objects.rs
  .rust_alpha/s3/src/bin/list-buckets.rs
  .rust_alpha/s3/src/bin/list-object-versions.rs
  .rust_alpha/s3/src/bin/list-objects.rs
  .rust_alpha/s3/src/bin/s3-helloworld.rs
Labels: Rust, Back to author

#2289 Refactored SQS code example in Rust
  .rust_alpha/sqs/README.md
  .rust_alpha/sqs/src/bin/sqs-hello-world.rs
Labels: Rust, Back to author

#2303 Adding Glacier examples.
  dotnetv3/Glacier/AddTagsToVaultExample/AddTagsToVaule.cs
  dotnetv3/Glacier/AddTagsToVaultExample/AddTagsToVaultExample.csproj
  dotnetv3/Glacier/AddTagsToVaultExample/AddTagsToVaultExample.sln
  dotnetv3/Glacier/CreateVaultExample/CreateVault.cs
  dotnetv3/Glacier/CreateVaultExample/CreateVaultExample.csproj
  dotnetv3/Glacier/CreateVaultExample/CreateVaultExample.sln
  dotnetv3/Glacier/DescribeVaultExample/DescribeVault.cs
  dotnetv3/Glacier/DescribeVaultExample/DescribeVaultExample.csproj
  dotnetv3/Glacier/DescribeVaultExample/DescribeVaultExample.sln
  dotnetv3/Glacier/DownloadArchiveHighLevelExample/DownloadArchiveHighLevel.cs
  dotnetv3/Glacier/DownloadArchiveHighLevelExample/DownloadArchiveHighLevelExample.csproj
  dotnetv3/Glacier/DownloadArchiveHighLevelExample/DownloadArchiveHighLevelExample.sln
  dotnetv3/Glacier/ListJobsExample/ListJobs.cs
  dotnetv3/Glacier/ListJobsExample/ListJobsExample.csproj
  dotnetv3/Glacier/ListJobsExample/ListJobsExample.sln
  dotnetv3/Glacier/ListTagsForVaultExample/ListTagsForVault.cs
  dotnetv3/Glacier/ListTagsForVaultExample/ListTagsForVaultExample.csproj
  dotnetv3/Glacier/ListTagsForVaultExample/ListTagsForVaultExample.sln
  dotnetv3/Glacier/ListVaultsExample/ListVaults.cs
  dotnetv3/Glacier/ListVaultsExample/ListVaultsExample.csproj
  dotnetv3/Glacier/ListVaultsExample/ListVaultsExample.sln
  dotnetv3/Glacier/UploadArchiveHighLevelExample/UploadArchiveHighLevel.cs
  dotnetv3/Glacier/UploadArchiveHighLevelExample/UploadArchiveHighLevelExample.csproj
  dotnetv3/Glacier/UploadArchiveHighLevelExample/UploadArchiveHighLevelExample.sln
Labels: .NET, Back to author

#2306 Added a README file for Glacier.
  dotnetv3/Glacier/README.md
Labels: .NET, Back to author

#2309 Remove pinpoint-email from SOS data.
  .doc_gen/metadata/pinpoint-email_metadata.yaml
  .doc_gen/metadata/pinpoint_metadata.yaml
  .doc_gen/metadata/services.yaml
Labels: Ready for review, SoS

#2310 UpdateEmailChannel
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/UpdateEmailChannel
Labels: Java

#2295 Add SQS SOS for Java
  .doc_gen/metadata/rds_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  .doc_gen/metadata/textract_metadata.yaml
  javav2/README.rst
  javav2/usecases/Creating_serverless_aurora_app/Readme.md
  javav2/usecases/Creating_serverless_aurora_app/images/activeItems.png
  javav2/usecases/Creating_serverless_aurora_app/images/activeItems2.png
  javav2/usecases/Creating_serverless_aurora_app/images/archiveItems.png
  javav2/usecases/Creating_serverless_aurora_app/images/database.png
  javav2/usecases/Creating_serverless_aurora_app/images/home.png
  javav2/usecases/Creating_serverless_aurora_app/images/items.png
  javav2/usecases/Creating_serverless_aurora_app/images/package.png
  javav2/usecases/Creating_serverless_aurora_app/images/project.png
  javav2/usecases/Creating_serverless_aurora_app/images/report.png
  javav2/usecases/Creating_serverless_aurora_app/images/run.png
  javav2/usecases/Creating_serverless_aurora_app/images/t.txt
  javav2/usecases/Creating_serverless_aurora_app/pom.xml
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/InjectWorkService.java
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/MainController.java
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/RetrieveItems.java
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/SendMessage.java
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/WebApplication.java
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/WebSecurityConfig.java
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/WorkItem.java
  javav2/usecases/Creating_serverless_aurora_app/src/main/java/com/aws/rds/WriteExcel.java
Labels: SoS, Ready for merge

#2308 Refactored DynamoDB code examples in Rust
  .rust_alpha/dynamodb/src/bin/crud.rs
  .rust_alpha/dynamodb/src/bin/movies.rs
Labels: Rust, Ready for review

#2312 Added missing '.java' file extenstion to PinPoint code example in Java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/UpdateEmailChannel.java
Labels: Java, Ready for review

#2318 Python S3 SOS data, snippets, README update.
  .doc_gen/cross-content/scenario_S3BatchObjectVersioning_Python_block.xml
  .doc_gen/metadata/s3_metadata.yaml
  python/example_code/s3/.metadata.yaml
  python/example_code/s3/file_transfer/README.md
  python/example_code/s3/file_transfer/demo_file_transfer.py
  python/example_code/s3/file_transfer/file_transfer.py
  python/example_code/s3/s3_basics/ReadMe.md
  python/example_code/s3/s3_basics/bucket_wrapper.py
  python/example_code/s3/s3_basics/object_wrapper.py
  python/example_code/s3/s3_basics/presigned_url.py
  python/example_code/s3/s3_versioning/README.md
  python/example_code/s3/s3_versioning/batch_versioning.py
  python/example_code/s3/s3_versioning/test/test_batch_versioning.py
  python/example_code/s3/s3_versioning/versioning.py
Labels: Python, Ready for review, SoS

#2313 Adding examples and readme for KMS
  dotnetv3/KMS/CreateAliasExample/CreateAlias.cs
  dotnetv3/KMS/CreateAliasExample/CreateAliasExample.csproj
  dotnetv3/KMS/CreateAliasExample/CreateAliasExample.sln
  dotnetv3/KMS/CreateGrantExample/CreateGrant.cs
  dotnetv3/KMS/CreateGrantExample/CreateGrantExample.csproj
  dotnetv3/KMS/CreateGrantExample/CreateGrantExample.sln
  dotnetv3/KMS/CreateKeyExample/CreateKey.cs
  dotnetv3/KMS/CreateKeyExample/CreateKeyExample.csproj
  dotnetv3/KMS/CreateKeyExample/CreateKeyExample.sln
  dotnetv3/KMS/DescribeKeyExample/DescribeKey.cs
  dotnetv3/KMS/DescribeKeyExample/DescribeKeyExample.csproj
  dotnetv3/KMS/DescribeKeyExample/DescribeKeyExample.sln
  dotnetv3/KMS/DisableKeyExample/DisableKey.cs
  dotnetv3/KMS/DisableKeyExample/DisableKeyExample.csproj
  dotnetv3/KMS/DisableKeyExample/DisableKeyExample.sln
  dotnetv3/KMS/EnableKeyExample/EnableKey.cs
  dotnetv3/KMS/EnableKeyExample/EnableKeyExample.csproj
  dotnetv3/KMS/EnableKeyExample/EnableKeyExample.sln
  dotnetv3/KMS/ListAliasesExample/ListAliases.cs
  dotnetv3/KMS/ListAliasesExample/ListAliasesExample.csproj
  dotnetv3/KMS/ListAliasesExample/ListAliasesExample.sln
  dotnetv3/KMS/ListGrantsExample/ListGrants.cs
  dotnetv3/KMS/ListGrantsExample/ListGrantsExample.csproj
  dotnetv3/KMS/ListGrantsExample/ListGrantsExample.sln
  dotnetv3/KMS/ListKeysExample/ListKeys.cs
  dotnetv3/KMS/ListKeysExample/ListKeysExample.csproj
  dotnetv3/KMS/ListKeysExample/ListKeysExample.sln
  dotnetv3/KMS/README.md
Labels: .NET, Back to author

#2321 Added Rust to EC2 metadata
  .doc_gen/metadata/ec2_metadata.yaml
Labels: Ready for review, SoS

#2320 Added Rust to Dynamodb metadata
  .doc_gen/metadata/dynamodb_metadata.yaml
Labels: Rust, SoS

#2325 Update listobjects example
  dotnetv3/S3/ListObjectsExample/ListObjectsExample/ListObjects.cs
  dotnetv3/S3/ListObjectsExample/ListObjectsExampleTests/ListObjectsTests.cs
Labels: .NET, Ready for review

#2328 Added Rust to S3 metadata
  .doc_gen/metadata/s3_metadata.yaml
  .rust_alpha/s3/src/bin/s3-helloworld.rs
Labels: Rust, SoS, Ready for merge

#2322 Added Rust to IAM metadata
  .doc_gen/metadata/iam_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2330 Added Rust to SQS metadata
  .doc_gen/metadata/sqs_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2324 Added Rust to Kinesis metadata
  .doc_gen/metadata/kinesis_metadata.yaml
Labels: Rust, SoS

#2327 Adding code samples for route53-recovery-cluster with retry for cluster endpoints
  javav2/example_code/route53recoverycluster/pom.xml
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/ClusterEndpoints.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/Endpoint.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/GetRoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/RoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/RoutingControlStates.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlStates.java
  javav2/example_code/route53recoverycluster/src/main/resources/endpoints.json
  javav2/example_code/route53recoverycluster/src/main/resources/routingControlStates.json
  python/example_code/route53-recovery-cluster/get_routing_control_state.py
  python/example_code/route53-recovery-cluster/update_routing_control_state.py
  python/example_code/route53-recovery-cluster/update_routing_control_states.py
Labels: Java, Python, Ready for review

#2333 Added KMS to list of services
  .doc_gen/metadata/services.yaml
Labels: Rust, SoS, Ready for merge

#2334 Update Kotlin files with date value/gradle file
  .kotlin_alpha/services/apigateway/build.gradle.kts
  .kotlin_alpha/services/apigateway/src/main/kotlin/com/kotlin/gateway/CreateDeployment.kt
  .kotlin_alpha/services/apigateway/src/main/kotlin/com/kotlin/gateway/CreateRestApi.kt
  .kotlin_alpha/services/apigateway/src/main/kotlin/com/kotlin/gateway/DeleteRestApi.kt
  .kotlin_alpha/services/apigateway/src/main/kotlin/com/kotlin/gateway/GetAPIKeys.kt
  .kotlin_alpha/services/apigateway/src/main/kotlin/com/kotlin/gateway/GetDeployments.kt
  .kotlin_alpha/services/apigateway/src/main/kotlin/com/kotlin/gateway/GetMethod.kt
  .kotlin_alpha/services/apigateway/src/main/kotlin/com/kotlin/gateway/GetStages.kt
  .kotlin_alpha/services/athena/build.gradle.kts
  .kotlin_alpha/services/athena/src/main/kotlin/com/kotlin/athena/CreateNamedQueryExample.kt
  .kotlin_alpha/services/athena/src/main/kotlin/com/kotlin/athena/DeleteNamedQueryExample.kt
  .kotlin_alpha/services/athena/src/main/kotlin/com/kotlin/athena/ListNamedQueryExample.kt
  .kotlin_alpha/services/athena/src/main/kotlin/com/kotlin/athena/ListQueryExecutionsExample.kt
  .kotlin_alpha/services/athena/src/main/kotlin/com/kotlin/athena/StartQueryExample.kt
  .kotlin_alpha/services/cloudformation/build.gradle.kts
  .kotlin_alpha/services/cloudformation/src/main/kotlin/com/kotlin/cloudformation/CreateStack.kt
  .kotlin_alpha/services/cloudformation/src/main/kotlin/com/kotlin/cloudformation/DeleteStack.kt
  .kotlin_alpha/services/cloudformation/src/main/kotlin/com/kotlin/cloudformation/DescribeStacks.kt
  .kotlin_alpha/services/cloudformation/src/main/kotlin/com/kotlin/cloudformation/GetTemplate.kt
  .kotlin_alpha/services/cloudtrail/build.gradle.kts
  .kotlin_alpha/services/cloudtrail/src/main/kotlin/com/kotlin/cloudtrail/CreateTrail.kt
  .kotlin_alpha/services/cloudtrail/src/main/kotlin/com/kotlin/cloudtrail/DeleteTrail.kt
  .kotlin_alpha/services/cloudtrail/src/main/kotlin/com/kotlin/cloudtrail/DescribeTrails.kt
  .kotlin_alpha/services/cloudtrail/src/main/kotlin/com/kotlin/cloudtrail/GetEventSelectors.kt
  .kotlin_alpha/services/cloudtrail/src/main/kotlin/com/kotlin/cloudtrail/LookupEvents.kt
  .kotlin_alpha/services/cloudtrail/src/main/kotlin/com/kotlin/cloudtrail/PutEventSelectors.kt
  .kotlin_alpha/services/cloudtrail/src/main/kotlin/com/kotlin/cloudtrail/StartLogging.kt
Labels: Kotlin

#2337 Python Route 53 Application Recovery SOS
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/route53-recovery-cluster_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/example_code/route53-recovery-cluster/README.md
  python/example_code/route53-recovery-cluster/get_routing_control_state.py
  python/example_code/route53-recovery-cluster/routing_control_states.py
  python/example_code/route53-recovery-cluster/update_routing_control_state.py
  python/example_code/route53-recovery-cluster/update_routing_control_states.py
Labels: Python, Ready for review, SoS

#2335 Fixed issue with Go v2 EC2 CreateInstance code example
  gov2/ec2/CreateInstance/CreateInstancev2.go
  gov2/ec2/CreateInstance/CreateInstancev2_test.go
  gov2/ec2/CreateInstance/go.mod
  gov2/ec2/CreateInstance/go.sum
Labels: bug, Go, Ready for review

#2331 Added Rust to KMS metadata
  .doc_gen/metadata/kms_metadata.yaml
Labels: Rust, Back to author, SoS

#2329 Updating the snippet tags for SQS examples.
  dotnetv3/SQS/AuthorizeS3ToSendMessageExample/AuthorizeS3ToSendMessageExample/AuthorizeS3ToSendMessage.cs
  dotnetv3/SQS/CreateQueueExample/CreateQueueExample/CreateQueue.cs
  dotnetv3/SQS/CreateSendExample/CreateSendExample/CreateSendExample.cs
  dotnetv3/SQS/CreateSendExample/CreateSendExample/CreateSendExample.csproj
  dotnetv3/SQS/DeleteMessageExample/DeleteMessageExample/DeleteMessage.cs
  dotnetv3/SQS/DeleteQueueExample/DeleteQueueExample/DeleteQueue.cs
  dotnetv3/SQS/GetQueueAttributesExample/GetQueueAttributesExample/GetQueueAttributes.cs
  dotnetv3/SQS/GetQueueUrlExample/GetQueueUrlExample/GetQueueUrl.cs
  dotnetv3/SQS/ReceiveDeleteExample/ReceiveDeleteExample/ReceiveDeleteExample.cs
  dotnetv3/SQS/ReceiveDeleteExample/ReceiveDeleteExample/ReceiveDeleteExample.csproj
  dotnetv3/SQS/ReceiveFromQueueExample/ReceiveFromQueueExample/ReceiveFromQueue.cs
  dotnetv3/SQS/SendMessageToQueueExample/SendMessageToQueueExample/SendMessageToQueue.cs
Labels: .NET, Ready for review

#2332 Added .NET examples to SQS metadata.
  .doc_gen/metadata/sqs_metadata.yaml
Labels: .NET, SoS, Ready for merge

#2343 Sos cloudwatch
  .doc_gen/metadata/cloudwatch_metadata.yaml
Labels: .NET, SoS, Ready for merge

#2346 SOS Route53
  .doc_gen/metadata/route53-recovery-cluster_metadata.yaml
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/ClusterEndpoints.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/Endpoint.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/GetRoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/RoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/RoutingControlStates.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlStates.java
Labels: SoS, Ready for merge

#2347 Python SES SOS data, snippet tags, and README update
  .doc_gen/metadata/services.yaml
  .doc_gen/metadata/ses_metadata.yaml
  python/example_code/ses/.metadata.yaml
  python/example_code/ses/README.md
  python/example_code/ses/ses_email.py
  python/example_code/ses/ses_identities.py
  python/example_code/ses/ses_receipt_handler.py
  python/example_code/ses/ses_templates.py
Labels: Python, Ready for review, SoS

#2345 Updating KMS metadata.
  .doc_gen/metadata/kms_metadata.yaml
Labels: .NET, SoS, Ready for merge

#2352 Create Kinesis readme file.
  dotnetv3/Kinesis/README.md
Labels: .NET, Ready for review

#2353 SoS metadata for JS Glacier
  .doc_gen/metadata/glacier_metadata.yaml
Labels: JavaScript, SoS

#2243 Added Textract JS sample - detectDocumentText
  javascript/example_code/textract/detect_document_text.js
  javascript/example_code/textract/simple-document-image.jpg
Labels: JavaScript, Back to author

#2360 Added entities for RDS Data Service
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: Rust, Ready for review

#2356 Fix issue 2265 for assume role golang example
  gov2/sts/AssumeRole/AssumeRolev2.go
Labels: bug, Go

#2354 Python Textract SOS data, snippet tags, and README update
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/textract_metadata.yaml
  python/example_code/textract/.metadata.yaml
  python/example_code/textract/README.md
  python/example_code/textract/textract_wrapper.py
Labels: Python, Ready for review, SoS

#2362 Python Route 53 recovery: update code and title per feedback
  .doc_gen/metadata/route53-recovery-cluster_metadata.yaml
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/GetRoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlStates.java
  python/example_code/route53-recovery-cluster/README.md
  python/example_code/route53-recovery-cluster/routing_control_states.py
Labels: Python, SoS

#2361 Added entities for SES v2 and Cognito Identity Provider
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: Rust, SoS, Ready for merge

#2355 Added services for Rust code examples
  .doc_gen/metadata/services.yaml
Labels: Rust, SoS, Ready for merge

#2358 Add 2 Kotlin Use Cases
  .kotlin_alpha/usecases/Readme.md
  .kotlin_alpha/usecases/first_android_app/Readme.md
  .kotlin_alpha/usecases/first_android_app/images/app5.png
  .kotlin_alpha/usecases/first_android_app/images/projectBuild.png
  .kotlin_alpha/usecases/first_android_app/images/projectClasses.png
  .kotlin_alpha/usecases/first_android_app/images/projectNew.png
  .kotlin_alpha/usecases/first_android_app/images/projectUI.png
  .kotlin_alpha/usecases/first_android_app/images/table2.png
  .kotlin_alpha/usecases/first_android_app/src/main/kotlin/com/example/awsapp/Database.kt
  .kotlin_alpha/usecases/first_android_app/src/main/kotlin/com/example/awsapp/MainActivity.kt
  .kotlin_alpha/usecases/first_android_app/src/main/kotlin/com/example/awsapp/SendMessage.kt
  .kotlin_alpha/usecases/serverless_rds/Readme.md
  .kotlin_alpha/usecases/serverless_rds/images/activeitems.png
  .kotlin_alpha/usecases/serverless_rds/images/database.png
  .kotlin_alpha/usecases/serverless_rds/images/endpoint.png
  .kotlin_alpha/usecases/serverless_rds/images/home.png
  .kotlin_alpha/usecases/serverless_rds/images/kotlinpro3.png
  .kotlin_alpha/usecases/serverless_rds/images/kotlinproject5.png
  .kotlin_alpha/usecases/serverless_rds/images/kotlinreport.png
  .kotlin_alpha/usecases/serverless_rds/images/newitems.png
  .kotlin_alpha/usecases/serverless_rds/images/project.png
  .kotlin_alpha/usecases/serverless_rds/images/project0.png
  .kotlin_alpha/usecases/serverless_rds/images/projectSt.png
  .kotlin_alpha/usecases/serverless_rds/images/projectSt2.png
  .kotlin_alpha/usecases/serverless_rds/images/report.png
  .kotlin_alpha/usecases/serverless_rds/images/run.png
  .kotlin_alpha/usecases/serverless_rds/images/t.txt
  .kotlin_alpha/usecases/serverless_rds/images/worktable.png
  .kotlin_alpha/usecases/serverless_rds/src/main/kotlin/com/example/demo/DemoApplication.kt
  .kotlin_alpha/usecases/serverless_rds/src/main/kotlin/com/example/demo/InjectWorkService.kt
  .kotlin_alpha/usecases/serverless_rds/src/main/kotlin/com/example/demo/RetrieveItems.kt
  .kotlin_alpha/usecases/serverless_rds/src/main/kotlin/com/example/demo/SendMessage.kt
  .kotlin_alpha/usecases/serverless_rds/src/main/kotlin/com/example/demo/WorkItem.kt
  .kotlin_alpha/usecases/subpub_app/Readme.md
  .kotlin_alpha/usecases/subpub_app/images/french.png
  .kotlin_alpha/usecases/subpub_app/images/pic1.png
  .kotlin_alpha/usecases/subpub_app/images/pic2.png
  .kotlin_alpha/usecases/subpub_app/images/pic3.png
  .kotlin_alpha/usecases/subpub_app/images/pic4.png
  .kotlin_alpha/usecases/subpub_app/images/pic5.png
  .kotlin_alpha/usecases/subpub_app/images/pic6.png
  .kotlin_alpha/usecases/subpub_app/images/project.png
  .kotlin_alpha/usecases/subpub_app/images/project2.png
  .kotlin_alpha/usecases/subpub_app/images/run.png
  .kotlin_alpha/usecases/subpub_app/images/t.txt
  .kotlin_alpha/usecases/subpub_app/src/main/kotlin/com/aws/kotlin/SnsService.kt
  .kotlin_alpha/usecases/subpub_app/src/main/kotlin/com/aws/kotlin/SubApplication.kt
  javav2/example_code/route53recoverycluster/Readme.md
Labels: Kotlin, Ready for merge

#2357 SoS metadata for SQS (JavaScript)
  .doc_gen/metadata/sqs_metadata.yaml
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/sqs/src/sqs_deletemessage.js
Labels: JavaScript, SoS, Ready for merge

#2367 Route 53 ARC small code cleanup
  python/example_code/route53-recovery-cluster/routing_control_states.py
Labels: Python, Ready for review

#2368 Python Step Functions SOS data, snippet tags, and README update
  .doc_gen/metadata/sfn_metadata.yaml
  python/example_code/stepfunctions/.metadata.yaml
  python/example_code/stepfunctions/README.md
  python/example_code/stepfunctions/stepfunctions_basics.py
Labels: Python, Ready for review, SoS

#2370 Added entities for QLDB Session service
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: Rust, SoS, Ready for merge

#2369 KMS SOS
  .doc_gen/metadata/kms_metadata.yaml
Labels: SoS, Ready for merge

#2366 Added SoS metadata for Rust
  .doc_gen/metadata/iot_metadata.yaml
  .doc_gen/metadata/medialive_metadata.yaml
  .doc_gen/metadata/mediapackage_metadata.yaml
  .doc_gen/metadata/polly_metadata.yaml
  .doc_gen/metadata/qldb_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2365 Doug add rust sos part1
  .doc_gen/metadata/autoscaling_metadata.yaml
  .doc_gen/metadata/batch_metadata.yaml
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  .doc_gen/metadata/cognito-sync_metadata.yaml
  .doc_gen/metadata/ebs_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2372 Doug add rust logging
  .rust_alpha/logging/logger/Cargo.toml
  .rust_alpha/logging/logger/src/main.rs
  .rust_alpha/logging/tracing/Cargo.toml
  .rust_alpha/logging/tracing/src/main.rs
Labels: Rust, Ready for review

#2371 Added SoS metadata for Rust
  .doc_gen/metadata/rds-data_metadata.yaml
  .doc_gen/metadata/sagemaker_metadata.yaml
  .doc_gen/metadata/sesv2_metadata.yaml
  .doc_gen/metadata/ssm_metadata.yaml
  .rust_alpha/ses/src/bin/is-email-verified.rs
Labels: Rust, SoS, Ready for merge

#2363 Python STS SOS data, snippet tags, and README update
  .doc_gen/metadata/services.yaml
  .doc_gen/metadata/sts_metadata.yaml
  python/example_code/sts/.metadata.yaml
  python/example_code/sts/sts_temporary_credentials/README.md
  python/example_code/sts/sts_temporary_credentials/assume_role.py
  python/example_code/sts/sts_temporary_credentials/assume_role_mfa.py
  python/example_code/sts/sts_temporary_credentials/federated_url.py
  python/example_code/sts/sts_temporary_credentials/session_token.py
Labels: Python, SoS, Ready for merge

#2373 Add SoS metadata for PHP -> ApiGateway
  .doc_gen/metadata/api-gateway_metadata.yaml
  php/example_code/apigateway/Get_BasePathmapping.php
  php/example_code/apigateway/List_BasePathmapping.php
  php/example_code/apigateway/tests/Get_BasePathmappingTest.php
Labels: PHP, SoS, Ready for merge

#2375 Changes per feedback: accept JSON file, add error checking
  python/example_code/route53-recovery-cluster/README.md
  python/example_code/route53-recovery-cluster/routing_control_states.py
Labels: Python, Ready for merge

#2378 Remove UpdateRoutingControlStates examples.
  .doc_gen/metadata/route53-recovery-cluster_metadata.yaml
  javav2/example_code/route53recoverycluster/Readme.md
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/RoutingControlStates.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlStates.java
  javav2/example_code/route53recoverycluster/src/main/resources/routingControlStates.json
  python/example_code/route53-recovery-cluster/README.md
  python/example_code/route53-recovery-cluster/routing_control_states.py
Labels: Java, Python, Ready for merge

#2377 Updated Rust code examples to 0.0.25 alpha release
  .rust_alpha/apigateway/Cargo.toml
  .rust_alpha/applicationautoscaling/Cargo.toml
  .rust_alpha/autoscaling/Cargo.toml
  .rust_alpha/batch/Cargo.toml
  .rust_alpha/cloudformation/Cargo.toml
  .rust_alpha/cognitoidentity/Cargo.toml
  .rust_alpha/cognitoidentityprovider/Cargo.toml
  .rust_alpha/cognitosync/Cargo.toml
  .rust_alpha/config/Cargo.toml
  .rust_alpha/config/src/bin/config-helloworld.rs
  .rust_alpha/config/src/bin/delete-configuration-recorder.rs
  .rust_alpha/config/src/bin/delete-delivery-channel.rs
  .rust_alpha/config/src/bin/list-resources.rs
  .rust_alpha/config/src/bin/show-resource-history.rs
  .rust_alpha/cross_service/detect_faces/Cargo.toml
  .rust_alpha/cross_service/detect_labels/Cargo.toml
  .rust_alpha/cross_service/telephone/Cargo.toml
  .rust_alpha/dynamodb/Cargo.toml
  .rust_alpha/dynamodb/src/bin/crud.rs
  .rust_alpha/dynamodb/src/bin/movies.rs
  .rust_alpha/ebs/Cargo.toml
  .rust_alpha/ec2/Cargo.toml
  .rust_alpha/ec2/src/bin/describe-instances.rs
  .rust_alpha/ec2/src/bin/monitor-instance.rs
  .rust_alpha/iam/Cargo.toml
  .rust_alpha/iam/src/bin/create-role.rs
  .rust_alpha/iot/Cargo.toml
  .rust_alpha/kinesis/Cargo.toml
  .rust_alpha/kms/Cargo.toml
  .rust_alpha/kms/src/bin/kms-helloworld.rs
  .rust_alpha/lambda/Cargo.toml
  .rust_alpha/medialive/Cargo.toml
  .rust_alpha/mediapackage/Cargo.toml
  .rust_alpha/polly/Cargo.toml
  .rust_alpha/qldb/Cargo.toml
  .rust_alpha/rds/Cargo.toml
  .rust_alpha/rdsdata/Cargo.toml
  .rust_alpha/route53/Cargo.toml
  .rust_alpha/s3/Cargo.toml
  .rust_alpha/sagemaker/Cargo.toml
  .rust_alpha/secretsmanager/Cargo.toml
  .rust_alpha/ses/Cargo.toml
  .rust_alpha/snowball/Cargo.toml
  .rust_alpha/sns/Cargo.toml
  .rust_alpha/sqs/Cargo.toml
  .rust_alpha/ssm/Cargo.toml
Labels: Rust, Ready for review

#2379 Python Secrets Manager SOS data, snippet tags, and README update.
  .doc_gen/metadata/secrets-manager_metadata.yaml
  python/example_code/secretsmanager/.metadata.yaml
  python/example_code/secretsmanager/README.md
  python/example_code/secretsmanager/secretsmanager_basics.py
Labels: Python, Ready for review, SoS

#2385 Python Route 53 ARC content updates per feedback
  python/example_code/route53-recovery-cluster/README.md
  python/example_code/route53-recovery-cluster/routing_control_states.py
Labels: Python, on review

#2387 Added bash script to update and test Rust code examples
  scripts/README.md
  scripts/testRust.sh
Labels: shell script, Ready for review

#2390 Added Rust code examples for custom retries.
  .rust_alpha/custom_retries/Cargo.toml
  .rust_alpha/custom_retries/src/bin/default.rs
  .rust_alpha/custom_retries/src/bin/set_retries.rs
Labels: Rust, Ready for review

#2388 Updated remaining S3 example snippet tags.
  dotnetv3/S3/non-versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjects.cs
  dotnetv3/S3/non-versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample.csproj
  dotnetv3/S3/non-versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample.sln
  dotnetv3/S3/non-versioned-examples/DeleteObjectExample/DeleteObject.cs
  dotnetv3/S3/non-versioned-examples/DeleteObjectExample/DeleteObjectExample.csproj
  dotnetv3/S3/non-versioned-examples/DeleteObjectExample/DeleteObjectExample.sln
  dotnetv3/S3/versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjects.cs
  dotnetv3/S3/versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample.csproj
  dotnetv3/S3/versioned-examples/DeleteMultipleObjectsExample/DeleteMultipleObjectsExample.sln
  dotnetv3/S3/versioned-examples/DeleteObjectVersionExample/DeleteObjectVersion.cs
  dotnetv3/S3/versioned-examples/DeleteObjectVersionExample/DeleteObjectVersionExample.csproj
  dotnetv3/S3/versioned-examples/DeleteObjectVersionExample/DeleteObjectVersionExample.sln
  dotnetv3/S3/versioned-examples/ListObjectVersionsExample/ListObjectVersions.cs
  dotnetv3/S3/versioned-examples/ListObjectVersionsExample/ListObjectVersionsExample.csproj
  dotnetv3/S3/versioned-examples/ListObjectVersionsExample/ListObjectVersionsExample.sln
Labels: .NET, Ready for review

#2392 Add Secret Manager Java SOS
  .doc_gen/metadata/secrets-manager_metadata.yaml
Labels: Ready for review, SoS

#1916 Add Device Farm samples
  python/example_code/devicefarm/browser_testing/Pipfile
  python/example_code/devicefarm/browser_testing/Pipfile.lock
  python/example_code/devicefarm/browser_testing/README.md
  python/example_code/devicefarm/browser_testing/test_suite.py
  python/example_code/devicefarm/device_testing/Pipfile
  python/example_code/devicefarm/device_testing/README.md
  python/example_code/devicefarm/device_testing/run_tests.py
Labels: Python, Back to author

#2396 Fix validator bug: index out of range on explicit empty string.
  .doc_gen/validation/validate_doc_metadata.py
Labels: bug, SoS

#2241 Edits for polly example setup
  javascriptv3/example_code/dynamodb/src/ddbdoc_update_item.js
  javascriptv3/example_code/polly/general-examples/src/setup.yaml
  resources/cdk/javascript_example_code_polly_aws_service/setup.ts
  ruby/README.md
Labels: JavaScript, Ready for merge

#2399 Renamed Rust code example
  .rust_alpha/custom_retries/src/bin/disable_retries.rs
Labels: Rust, Ready for review

#2401 Python Audit Manager example cleanup
  .doc_gen/metadata/auditmanager_metadata.yaml
  .doc_gen/metadata/lookoutvision_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/example_code/auditmanager/README.md
  python/example_code/auditmanager/create_assessment_report.py
  python/example_code/auditmanager/framework_from_conformance_pack.py
  python/example_code/auditmanager/security_hub_custom_framework.py
  python/example_code/auditmanager/test/conftest.py
  python/example_code/auditmanager/test/test_create_assessment_report.py
  python/example_code/auditmanager/test/test_framework_from_conformance_pack.py
  python/example_code/auditmanager/test/test_security_hub_custom_framework.py
  python/test_tools/auditmanager_stubber.py
  python/test_tools/config_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, Ready for review, SoS

#2406 Change direct variable references to use accessors for Rust.
  .rust_alpha/apigateway/src/bin/get_rest_apis.rs
  .rust_alpha/applicationautoscaling/src/bin/describe-scaling-policies.rs
  .rust_alpha/autoscaling/src/bin/list-autoscaling-groups.rs
  .rust_alpha/batch/src/bin/batch-helloworld.rs
  .rust_alpha/cloudformation/src/bin/describe-stack.rs
  .rust_alpha/cloudformation/src/bin/list-stacks.rs
  .rust_alpha/cognitoidentity/src/bin/describe-identity-pool.rs
  .rust_alpha/cognitoidentity/src/bin/list-identity-pools.rs
  .rust_alpha/cognitoidentity/src/bin/list-pool-identities.rs
  .rust_alpha/cognitoidentityprovider/src/bin/list-user-pools.rs
  .rust_alpha/cognitosync/src/bin/list-identity-pool-usage.rs
  .rust_alpha/config/src/bin/config-helloworld.rs
  .rust_alpha/config/src/bin/enable-config.rs
  .rust_alpha/config/src/bin/list-configuration-recorders.rs
  .rust_alpha/config/src/bin/list-delivery-channels.rs
  .rust_alpha/config/src/bin/list-resources.rs
  .rust_alpha/config/src/bin/show-resource-history.rs
Labels: Rust, Ready for merge

#2404 SOS for Java - Pinpoint MS example
  .doc_gen/cross-content/cross_AuroraApp_Java_block.xml
  .doc_gen/cross-content/cross_NoticationsWF_Java_block.xml
  .doc_gen/cross-content/cross_RekognitionPhotoAnalyzer_Java_block.xml
  .doc_gen/metadata/cross_metadata.yaml
Labels: SoS, Ready for merge

#2409 Fixed bad links in CognitoIdentityProvider and DynamoDB readmes
  .rust_alpha/cognitoidentityprovider/README.md
  .rust_alpha/dynamodb/README.md
Labels: Rust, Ready for review

#2398 Added Cognito adminCreateUser for JS SDK v2
  javascript/example_code/cognito/admin-create-user.js
Labels: JavaScript

#2411 Renamed .rust_alpha directory as rust_dev_preview
  rust_dev_preview/logging/tracing/src/main.rs
Labels: Rust, Ready for review

#2393 Pinpoint templated message examples
  python/example_code/pinpoint/pinpoint_send_templated_email_message.py
  python/example_code/pinpoint/pinpoint_send_templated_sms_message.py
Labels: Python, Ready for merge

#2359 Refactor file names to be more explicit, removed duplicates
  typescript/example_code/cdk/HelloCdk-stack.ts
Labels: TypeScript, Back to author

#2415 Doug rust cross service
  .doc_gen/cross-content/cross_detect_faces_rust_block.xml
  .doc_gen/cross-content/cross_detect_labels_rust_block.xml
  .doc_gen/cross-content/cross_telephone_rust_block.xml
  .doc_gen/metadata/cross_metadata.yaml
Labels: Rust, SoS, Ready for merge

#2413 Kotlin checkin
  .kotlin_alpha/services/apigateway/Readme.md
  .kotlin_alpha/services/athena/Readme.md
  .kotlin_alpha/services/cloudformation/Readme.md
  .kotlin_alpha/services/cloudtrail/Readme.md
  .kotlin_alpha/services/cloudwatch/Readme.md
  .kotlin_alpha/services/codepipeline/Readme.md
  .kotlin_alpha/services/cognito/Readme.md
  .kotlin_alpha/services/comprehend/Readme.md
  .kotlin_alpha/services/dynamodb/Readme.md
  .kotlin_alpha/services/ec2/Readme.md
  .kotlin_alpha/services/ecs/Readme.md
  .kotlin_alpha/services/emr/Readme.md
  .kotlin_alpha/services/eventbridge/Readme.md
  .kotlin_alpha/services/firehose/Readme.md
  .kotlin_alpha/services/forecast/Readme.md
  .kotlin_alpha/services/glue/Readme.md
  .kotlin_alpha/services/iam/Readme.md
  .kotlin_alpha/services/kinesis/Readme.md
  .kotlin_alpha/services/kms/Readme.md
  .kotlin_alpha/services/lambda/Readme.md
  .kotlin_alpha/services/lex/Readme.md
  .kotlin_alpha/services/mediaconvert/Readme.md
  .kotlin_alpha/services/mediastore/Readme.md
  .kotlin_alpha/services/opensearch/Readme.md
  .kotlin_alpha/services/personalize/Readme.md
  .kotlin_alpha/services/pinpoint/Readme.md
  .kotlin_alpha/services/polly/Readme.md
  .kotlin_alpha/services/rds/Readme.md
  .kotlin_alpha/services/redshift/Readme.md
  .kotlin_alpha/services/rekognition/Readme.md
  .kotlin_alpha/services/route53/Readme.md
  .kotlin_alpha/services/s3/Readme.md
  .kotlin_alpha/services/sagemaker/Readme.md
  .kotlin_alpha/services/secretsmanager/Readme.md
  .kotlin_alpha/services/ses/Readme.md
  .kotlin_alpha/services/sns/Readme.md
  .kotlin_alpha/services/sqs/Readme.md
  .kotlin_alpha/services/stepfunctions/Readme.md
  .kotlin_alpha/services/sts/Readme.md
  .kotlin_alpha/services/textract/Readme.md
  .kotlin_alpha/services/translate/Readme.md
  .kotlin_alpha/services/xray/Readme.md
Labels: Kotlin, Ready for merge

#2419 Clean up old metadata, remove some low-value obsolete examples
  python/example_code/acm/.metadata.yaml
  python/example_code/apigateway/.metadata.yaml
  python/example_code/cloudwatch/.metadata.yaml
  python/example_code/comprehend/.metadata.yaml
  python/example_code/dynamodb/.metadata.yaml
  python/example_code/emr/.metadata.yaml
  python/example_code/greengrass/.metadata.yaml
  python/example_code/iam/.metadata.yaml
  python/example_code/kinesis/.metadata.yaml
  python/example_code/lambda/.metadata.yaml
  python/example_code/organizations/.metadata.yaml
  python/example_code/polly/.metadata.yaml
  python/example_code/redshift/authorize_cluster_access.py
  python/example_code/redshift/create_cluster.py
  python/example_code/redshift/create_cluster_subnet_group.py
  python/example_code/rekognition/.metadata.yaml
  python/example_code/sns/.metadata.yaml
  python/example_code/support/add_attachments_to_case.py
Labels: Python, Ready for review

#2421 Python Organizations examples SOS data, snippet tags, and README update
  .doc_gen/metadata/organizations_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/example_code/organizations/README.md
  python/example_code/organizations/organizations_policies.py
Labels: Python, Ready for review, SoS

#2433 Python Pinpoint templated message examples updates
  .doc_gen/metadata/pinpoint_metadata.yaml
  python/example_code/pinpoint/README.md
  python/example_code/pinpoint/pinpoint_send_templated_email_message.py
  python/example_code/pinpoint/pinpoint_send_templated_sms_message.py
  python/example_code/pinpoint/test/test_pinpoint.py
  python/test_tools/pinpoint_stubber.py
Labels: Python, Ready for review, SoS

#2420 Python Lambda example SOS data, snippet tags, and README update
  .doc_gen/cross-content/cross_LambdaAPIGateway_Python_block.xml
  .doc_gen/cross-content/cross_LambdaScheduledEvents_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/lambda_metadata.yaml
  python/example_code/lambda/README.md
  python/example_code/lambda/api_gateway_rest.py
  python/example_code/lambda/lambda_basics.py
  python/example_code/lambda/lambda_handler_basic.py
  python/example_code/lambda/lambda_handler_rest.py
  python/example_code/lambda/lambda_handler_scheduled.py
  python/example_code/lambda/scheduled_lambda.py
  python/example_code/lambda/test/conftest.py
  python/example_code/lambda/test/test_api_gateway_rest.py
  python/example_code/lambda/test/test_lambda_basics.py
  python/example_code/lambda/test/test_scheduled_lambda.py
Labels: Python, Ready for review, SoS

#2394 Update SOS for Gov2: SQS, KMS, IAM, S3
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/kms_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  gov2/kms/CreateKey/CreateKeyv2.go
Labels: Go, SoS, Ready for merge

#2434 SOS for Kotlin
  .doc_gen/cross-content/cross_Android_Kotlin_block.xml
  .doc_gen/cross-content/cross_RekognitionPhotoAnalyzer_Kotlin_block.xml
  .doc_gen/cross-content/cross_SNSSubPub_Kotlin_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/kms_metadata.yaml
  .doc_gen/metadata/rekognition_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/sns_metadata.yaml
Labels: Back to author, Kotlin, SoS

#2389 Added readme for S3 examples.
  dotnetv3/S3/README.md
Labels: .NET, Back to author

#2423 Added rekognition_content_moderation sample code
  python/cross_service/rekognition_content_moderation/README.md
  python/cross_service/rekognition_content_moderation/cloudformation.yaml
  python/cross_service/rekognition_content_moderation/images/moderation-backend-diagram.jpg
  python/cross_service/rekognition_content_moderation/src/rek-moderator.py
Labels: Python, Ready for merge

#2453 Updated Rust code examples to use 0.0.26 Alpha bits
  rust_dev_preview/apigateway/Cargo.toml
  rust_dev_preview/apigateway/src/bin/get_rest_apis.rs
  rust_dev_preview/applicationautoscaling/Cargo.toml
  rust_dev_preview/autoscaling/Cargo.toml
  rust_dev_preview/autoscaling/src/bin/list-autoscaling-groups.rs
  rust_dev_preview/batch/Cargo.toml
  rust_dev_preview/batch/src/bin/batch-helloworld.rs
  rust_dev_preview/cloudformation/Cargo.toml
  rust_dev_preview/cloudformation/src/bin/describe-stack.rs
  rust_dev_preview/cloudformation/src/bin/list-stacks.rs
  rust_dev_preview/cognitoidentity/Cargo.toml
  rust_dev_preview/cognitoidentity/src/bin/list-pool-identities.rs
  rust_dev_preview/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/cognitoidentityprovider/src/bin/list-user-pools.rs
  rust_dev_preview/cognitosync/Cargo.toml
  rust_dev_preview/cognitosync/src/bin/list-identity-pool-usage.rs
  rust_dev_preview/config/Cargo.toml
  rust_dev_preview/config/src/bin/enable-config.rs
  rust_dev_preview/config/src/bin/list-configuration-recorders.rs
  rust_dev_preview/config/src/bin/list-delivery-channels.rs
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/custom_retries/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/ebs/Cargo.toml
  rust_dev_preview/ec2/Cargo.toml
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/iot/Cargo.toml
  rust_dev_preview/kinesis/Cargo.toml
  rust_dev_preview/kms/Cargo.toml
  rust_dev_preview/lambda/Cargo.toml
  rust_dev_preview/logging/logger/Cargo.toml
  rust_dev_preview/logging/tracing/Cargo.toml
  rust_dev_preview/medialive/Cargo.toml
  rust_dev_preview/mediapackage/Cargo.toml
  rust_dev_preview/polly/Cargo.toml
  rust_dev_preview/qldb/Cargo.toml
  rust_dev_preview/rds/Cargo.toml
  rust_dev_preview/rdsdata/Cargo.toml
  rust_dev_preview/route53/Cargo.toml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/sagemaker/Cargo.toml
  rust_dev_preview/sagemaker/src/bin/list-training-jobs.rs
  rust_dev_preview/secretsmanager/Cargo.toml
  rust_dev_preview/ses/Cargo.toml
  rust_dev_preview/snowball/Cargo.toml
  rust_dev_preview/sns/Cargo.toml
  rust_dev_preview/sqs/Cargo.toml
  rust_dev_preview/ssm/Cargo.toml
  scripts/testRust.sh
Labels: Rust, Ready for merge

#2467 Polly Python example SOS data, snippet tags, and README update
  .doc_gen/cross-content/cross_telephone_rust_block.xml
  .doc_gen/cross-content/scenario_PollyLipSync_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/polly_metadata.yaml
  python/example_code/polly/README.md
  python/example_code/polly/polly_wrapper.py
Labels: Python, SoS, Ready for merge
