Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-06, with the labels that each got.

#3206 S3 Kotlin Style Change (No code changes)
  kotlin/services/s3/build.gradle.kts
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/CopyObject.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/CreateBucket.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteBucket.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteBucketPolicy.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteObjects.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetAcl.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetBucketPolicy.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetObjectData.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/ListObjects.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/PutObject.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/S3Operations.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/SetAcl.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/SetBucketPolicy.kt
Labels: lang/kotlin, status/ready-to-merge

#3210 Add Amazon EC2 Auto Scaling Java V2 Examples
  javav2/example_code/autoscale/Readme.md
  javav2/example_code/autoscale/pom.xml
  javav2/example_code/autoscale/src/main/java/com/example/autoscaling/AutoScalingScenario.java
  javav2/example_code/autoscale/src/main/java/com/example/autoscaling/CreateAutoScalingGroup.java
  javav2/example_code/autoscale/src/main/java/com/example/autoscaling/DeleteAutoScalingGroup.java
  javav2/example_code/autoscale/src/main/java/com/example/autoscaling/DescribeAutoScalingInstances.java
  javav2/example_code/autoscale/src/main/java/com/example/autoscaling/DetachInstances.java
  javav2/example_code/autoscale/src/main/resources/config.properties
  javav2/example_code/autoscale/src/test/java/AutoScaleTest.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedBatchDeleteItems.java
Labels: lang/java-v2, status/has-text-review, status/has-testing-review

#3233 Update the AutoScale MVP
  javav2/example_code/autoscale/src/main/java/com/example/autoscaling/AutoScalingScenario.java
  javav2/example_code/autoscale/src/test/java/AutoScaleTest.java
Labels: lang/java-v2, status/ready-to-merge, status/has-text-review, status/has-testing-review

#3234 Aurora sample app CDK and CFN scripts for deploying resources
  resources/cdk/aurora_serverless_app/README.md
  resources/cdk/aurora_serverless_app/cdk.json
  resources/cdk/aurora_serverless_app/package-lock.json
  resources/cdk/aurora_serverless_app/package.json
  resources/cdk/aurora_serverless_app/setup.ts
  resources/cdk/aurora_serverless_app/setup.yaml
  resources/cdk/aurora_serverless_app/tsconfig.json
Labels: tool/cdk

#3232 React item tracker web client for use with item tracker REST apps
  resources/clients/react/item-tracker/.gitignore
  resources/clients/react/item-tracker/README.md
  resources/clients/react/item-tracker/package-lock.json
  resources/clients/react/item-tracker/package.json
  resources/clients/react/item-tracker/public/index.html
  resources/clients/react/item-tracker/src/App.js
  resources/clients/react/item-tracker/src/RestService.js
  resources/clients/react/item-tracker/src/WorkItem.js
  resources/clients/react/item-tracker/src/WorkItems.js
  resources/clients/react/item-tracker/src/__test__/App.test.js
  resources/clients/react/item-tracker/src/__test__/WorkItem.test.js
  resources/clients/react/item-tracker/src/__test__/WorkItems.test.js
  resources/clients/react/item-tracker/src/config.json
  resources/clients/react/item-tracker/src/index.js
  resources/clients/react/item-tracker/src/setupTests.js
Labels: status/has-testing-review

#3243 correct typo in the path to javascriptv3/example_code/s3/photoViewer/src
  javascriptv3/example_code/s3/photoViewer/README.md
Labels: status/ready-to-merge, lang/javascript-v3

#3241 Add the Java Rest API example
  dotnetv3/cross-service/react_dotnet/ItemTrackerRDSRest/Program.cs
  dotnetv3/cross-service/react_dotnet/ItemTrackerRDSRest/RDSService.cs
  dotnetv3/cross-service/react_dotnet/ItemTrackerRDSRest/WorkItem.cs
  dotnetv3/cross-service/react_dotnet/Readme.md
  dotnetv3/cross-service/react_dotnet/images/Active.png
  dotnetv3/cross-service/react_dotnet/images/Active1.png
  dotnetv3/cross-service/react_dotnet/images/Active2.png
  dotnetv3/cross-service/react_dotnet/images/NuGetPic.png
  dotnetv3/cross-service/react_dotnet/images/activeItems.png
  dotnetv3/cross-service/react_dotnet/images/archive.png
  dotnetv3/cross-service/react_dotnet/images/archive2.png
  dotnetv3/cross-service/react_dotnet/images/archive3.png
  dotnetv3/cross-service/react_dotnet/images/browser.png
  dotnetv3/cross-service/react_dotnet/images/database.png
  dotnetv3/cross-service/react_dotnet/images/email.png
  dotnetv3/cross-service/react_dotnet/images/jsondata.png
  dotnetv3/cross-service/react_dotnet/images/jsondataBS.png
  dotnetv3/cross-service/react_dotnet/images/newitem.png
  dotnetv3/cross-service/react_dotnet/images/overview.png
  dotnetv3/cross-service/react_dotnet/images/packages.png
  dotnetv3/cross-service/react_dotnet/images/project.png
  dotnetv3/cross-service/react_dotnet/images/project1.png
  dotnetv3/cross-service/react_dotnet/images/projectclasses.png
  dotnetv3/cross-service/react_dotnet/images/reactfolders.png
  dotnetv3/cross-service/react_dotnet/images/reactproject.png
  dotnetv3/cross-service/react_dotnet/images/report.png
  dotnetv3/cross-service/react_dotnet/images/report2.png
  dotnetv3/cross-service/react_dotnet/images/t.txt
  javav2/usecases/Creating_Spring_RDS_ Rest/Readme.md
  javav2/usecases/Creating_Spring_RDS_ Rest/images/Active.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/Active1.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/Active2.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/archive.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/archive2.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/archive3.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/browser.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/database.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/email.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/jsondata.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/jsondataBS.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/newitem.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/overview.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/package.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/project.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/reactfolders.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/reactproject.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/report.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/report2.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/t.txt
  javav2/usecases/Creating_Spring_RDS_ Rest/pom.xml
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/App.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/InjectWorkService.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/MainController.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/RetrieveItems.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/SendMessage.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/WorkItem.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/WriteExcel.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/resources/config.properties
  javav2/usecases/Creating_Spring_RDS_ Rest/src/test/java/SpringTests.java
Labels: lang/java-v2, status/has-text-review, status/has-testing-review

#3245 Move GitHub link to Tip at top of example, make API ref a link in Actions page
  .doc_gen/metadata/services.yaml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  .doc_gen/validation/services_schema.yaml
Labels: type/sos, status/has-text-review

#3248 Add DynamoDB Batch SOS for Java and Kotlin
  .doc_gen/metadata/dynamodb_metadata.yaml
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedGetItemUsingIndex.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/Movies.java
Labels: lang/java-v2, lang/kotlin, status/ready-to-merge

#3249 Add Secondary Index Java example
  javav2/README.rst
  javav2/example_code/dynamodb/Readme.md
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/QueryItemsUsingIndex.java
Labels: lang/java-v2, status/ready-to-merge

#3242 Add Cognito example for Javav2
  javav2/example_code/cognito/Readme.md
  javav2/example_code/cognito/src/main/java/com/example/cognito/AdminInitAuth.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/ConfirmSignUp.java
  javav2/example_code/cognito/src/main/resources/config.properties
  javav2/example_code/cognito/src/test/java/AmazonCognitoTest.java
Labels: lang/java-v2, status/ready-to-merge

#3261 Add DynamoDB SOS for index examples
  .doc_gen/metadata/dynamodb_metadata.yaml
Labels: lang/java-v2

#3288 Update autoscaling_metadata.yaml SOS
  .doc_gen/metadata/autoscaling_metadata.yaml
Labels: lang/java-v2

#3283 Fix code library sort key
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
Labels: type/sos

#3289 Add Amazon SES SesV2Client examples
  javav2/example_code/ses/Readme.md
  javav2/example_code/ses/src/main/java/com/example/sesv2/ListEmailIdentities.java
  javav2/example_code/ses/src/main/java/com/example/sesv2/SendEmail.java
  javav2/example_code/ses/src/main/java/com/example/sesv2/SendMessageAttachment.java
  javav2/example_code/ses/src/test/java/SESTest.java
Labels: lang/java-v2

#3250 Add example code for cheking object integiryt in S3 with addtional ch…
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/CheckingObjectIntegrity.java
Labels: lang/java-v2, status/ready-to-merge

#3294 Add the SwiftUtilities module for use by samples
  swift/modules/SwiftUtilities/Package.swift
  swift/modules/SwiftUtilities/README.md
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/String+Fakery.swift
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/String+uniqueName.swift
  swift/modules/SwiftUtilities/Tests/SwiftUtilitiesTests/FakeryStringTests.swift
  swift/modules/SwiftUtilities/Tests/SwiftUtilitiesTests/UniqueNameStringTests.swift
Labels: lang/swift, status/needs-text-review, priority/medium, status/has-testing-review

#3299 Renamed files that contained '+' to contain '_' because the + breaks the catalog build
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/String_Fakery.swift
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/String_uniqueName.swift
Labels: type/bug
