Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-02, with the labels that each got.

#2777 Php s3 mvp
  .doc_gen/metadata/s3_metadata.yaml
  php/example_code/s3/s3_basics/GettingStartedWithS3.php
  php/example_code/s3/s3_basics/Readme.md
  php/example_code/s3/s3_basics/S3BasicsTests.php
  php/example_code/s3/s3_basics/composer.json
  php/example_code/s3/s3_basics/composer.lock
  php/example_code/s3/s3_basics/testfile.txt
Labels: PHP, Ready for merge

#2791 SOS YAML: Add github output flag to get better yamllint output.
  .github/workflows/validate-doc-metadata.yml
Labels: SoS, Ready for merge

#2797 Ruby S3 MVP scenario and examples
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  ruby/.rubocop.yml
  ruby/example_code/s3/README.md
  ruby/example_code/s3/bucket_cors.rb
  ruby/example_code/s3/bucket_create.rb
  ruby/example_code/s3/bucket_list.rb
  ruby/example_code/s3/bucket_list_objects.rb
  ruby/example_code/s3/bucket_policy.rb
  ruby/example_code/s3/bucket_put_encryption.rb
  ruby/example_code/s3/bucket_put_website.rb
  ruby/example_code/s3/encryption_v2/s3-ruby-example-add-cspk-item.rb
  ruby/example_code/s3/encryption_v2/s3-ruby-example-get-cspk-item.rb
  ruby/example_code/s3/encryption_v2/s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_get_cskms_decrypt_item.rb
  ruby/example_code/s3/object_copy.rb
  ruby/example_code/s3/object_copy_encrypt.rb
  ruby/example_code/s3/object_exists.rb
  ruby/example_code/s3/object_get.rb
  ruby/example_code/s3/object_get_encryption.rb
  ruby/example_code/s3/object_presigned_url_upload.rb
  ruby/example_code/s3/object_put.rb
  ruby/example_code/s3/object_put_sse.rb
  ruby/example_code/s3/object_upload_file.rb
  ruby/example_code/s3/scenario_getting_started.rb
  ruby/example_code/s3/spec/bucket_cors_spec.rb
  ruby/example_code/s3/spec/bucket_create_spec.rb
  ruby/example_code/s3/spec/bucket_list_objects_spec.rb
  ruby/example_code/s3/spec/bucket_list_spec.rb
  ruby/example_code/s3/spec/bucket_policy_spec.rb
  ruby/example_code/s3/spec/bucket_put_encryption_spec.rb
  ruby/example_code/s3/spec/bucket_put_website_spec.rb
  ruby/example_code/s3/spec/object_copy_encrypt_spec.rb
  ruby/example_code/s3/spec/object_copy_spec.rb
  ruby/example_code/s3/spec/object_exists_spec.rb
  ruby/example_code/s3/spec/object_get_encryption_spec.rb
  ruby/example_code/s3/spec/object_get_spec.rb
  ruby/example_code/s3/spec/object_presigned_url_upload_spec.rb
  ruby/example_code/s3/spec/object_put_spec.rb
  ruby/example_code/s3/spec/object_put_sse_spec.rb
  ruby/example_code/s3/spec/object_upload_file_spec.rb
  ruby/example_code/s3/spec/scenario_getting_started_spec.rb
Labels: Ruby, Ready for review

#2798 Added Pylint to superlinter
  .github/linters/.python-lint
  .github/workflows/super-linter.yml
  python/.pylintrc
  python/cross_service/dynamodb_item_tracker/report.py
  python/cross_service/dynamodb_item_tracker/storage.py
  python/cross_service/dynamodb_item_tracker/test/test_app.py
  python/cross_service/rekognition_content_moderation/src/rek-moderator.py
  python/cross_service/textract_comprehend_notebook/test-texttract-comprehend.py
  python/example_code/dynamodb/TryDax/03-getitem-test.py
  python/example_code/dynamodb/TryDax/04-query-test.py
  python/example_code/dynamodb/TryDax/05-scan-test.py
  python/example_code/lookoutvision/inference.py
  python/example_code/pinpoint/test/test_pinpoint.py
  python/example_code/polly/test/test_polly_wrapper.py
  python/example_code/rekognition/test/conftest.py
  python/example_code/s3/s3_basics/test/conftest.py
  python/example_code/s3/s3_versioning/test/conftest.py
  python/example_code/sqs/test/conftest.py
  python/example_code/sts/sts_temporary_credentials/test/conftest.py
Labels: Python

#2702 Cognito JS SDK v2 - Added enabling and disabling users
  javascript/example_code/cognito/admin-disable-user.js
  javascript/example_code/cognito/admin-enable-user.js
  javascript/example_code/cognito/admin-get-user.js
Labels: JavaScript

#2743 Adding S3 Scenario application.
  .doc_gen/metadata/s3_metadata.yaml
  dotnetv3/S3/README.md
  dotnetv3/S3/S3_Basics/S3Bucket.cs
  dotnetv3/S3/S3_Basics/S3_Basics.cs
  dotnetv3/S3/S3_Basics/S3_BasicsScenario.csproj
  dotnetv3/S3/S3_Basics/S3_BasicsScenario.sln
  dotnetv3/S3/S3_BasicsScenarioTests/S3BucketTests.cs
  dotnetv3/S3/S3_BasicsScenarioTests/S3_BasicsScenarioTests.csproj
Labels: .NET, Ready for review, SoS

#2789 SOS improvements: reorder, reword, regularize (zexi 0.5.0)
  .doc_gen/metadata/acm_metadata.yaml
  .doc_gen/metadata/api-gateway_metadata.yaml
  .doc_gen/metadata/auditmanager_metadata.yaml
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/comprehend_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/device-farm_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/emr_metadata.yaml
  .doc_gen/metadata/eventbridge_metadata.yaml
  .doc_gen/metadata/glacier_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/kms_metadata.yaml
  .doc_gen/metadata/lambda_metadata.yaml
  .doc_gen/metadata/lookoutvision_metadata.yaml
  .doc_gen/metadata/polly_metadata.yaml
  .doc_gen/metadata/rekognition_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/secrets-manager_metadata.yaml
  .doc_gen/metadata/ses_metadata.yaml
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  .doc_gen/metadata/sts_metadata.yaml
  .doc_gen/metadata/transcribe_metadata.yaml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: on review, SoS

#2760 Add/example demonstrating sending presigned requests
  rust_dev_preview/Cargo.toml
  rust_dev_preview/apigatewaymanagement/src/bin/post_to_connection.rs
  rust_dev_preview/cross_service/detect_faces/src/main.rs
  rust_dev_preview/cross_service/detect_labels/src/main.rs
  rust_dev_preview/cross_service/telephone/src/main.rs
  rust_dev_preview/ebs/src/bin/create-snapshot.rs
  rust_dev_preview/kinesis/src/bin/put-record.rs
  rust_dev_preview/kms/src/bin/decrypt.rs
  rust_dev_preview/kms/src/bin/encrypt.rs
  rust_dev_preview/kms/src/bin/reencrypt-data.rs
  rust_dev_preview/s3/src/bin/list-buckets.rs
  rust_dev_preview/s3/src/bin/s3-helloworld.rs
  rust_dev_preview/sending-presigned-requests/Cargo.toml
  rust_dev_preview/sending-presigned-requests/README.md
  rust_dev_preview/sending-presigned-requests/file.csv
  rust_dev_preview/sending-presigned-requests/src/main.rs
  rust_dev_preview/setting-timeouts/Cargo.toml
  rust_dev_preview/setting-timeouts/src/main.rs
  rust_dev_preview/transcribestreaming/src/main.rs
  rust_dev_preview/using-native-tls-instead-of-rustls/Cargo.toml
  rust_dev_preview/using-native-tls-instead-of-rustls/additional-ci
  rust_dev_preview/using-native-tls-instead-of-rustls/src/main.rs
Labels: Rust, Ready for merge

#2808 Rust s3 mvp
  .doc_gen/metadata/s3_metadata.yaml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/s3/README.md
  rust_dev_preview/s3/src/bin/s3-getting-started.rs
  rust_dev_preview/s3/src/bin/s3-helloworld.rs
  rust_dev_preview/s3/src/s3-service-lib.rs
  rust_dev_preview/s3/testfile.txt
  rust_dev_preview/s3/tests/test-s3-getting-started.rs
Labels: Rust, Ready for review, SoS

#2829 Adds reference to DeleteBucket to README file.
  rust_dev_preview/s3/README.md
Labels: Rust, Ready for review

#2828 Fixing links to S3 in SoS
  .doc_gen/metadata/s3_metadata.yaml
Labels: .NET, Ready for review, SoS

#2807 Fix errors in s3_put_presignedURL.js
  javascriptv3/example_code/s3/src/s3_put_presignedURL.js
Labels: JavaScript, Ready for review

#2836 Editorial feedback on 'for a complete list' blurb.
  .doc_gen/templates/zonbook/service_chapter_bundle_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: SoS

#2835 Add Amazon DynamoDB Scenario examples
  javav2/example_code/dynamodb/Readme.md
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/Scenario.java
Labels: Java

#2868 Add Scenario tags to match Python
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/Scenario.java
Labels: Java, Ready for merge

#2878 Update pom.xml
  javav2/example_code/dynamodb/pom.xml
Labels: Ready for merge

#2877 Add Go linting to the super linter
  .github/workflows/super-linter.yml
Labels: Go, Ready for review, Medium

#2875 Python DynamoDB MVP
  .doc_gen/metadata/dynamodb_metadata.yaml
  python/example_code/dynamodb/GettingStarted/README.md
  python/example_code/dynamodb/GettingStarted/question.py
  python/example_code/dynamodb/GettingStarted/scenario_getting_started_movies.py
  python/example_code/dynamodb/GettingStarted/test/.test.moviedata.json
  python/example_code/dynamodb/GettingStarted/test/test_scenario_getting_started_movies.py
  python/example_code/dynamodb/GettingStarted/test/test_update_and_query.py
  python/example_code/dynamodb/GettingStarted/update_and_query.py
  python/example_code/dynamodb/README.md
  python/example_code/dynamodb/TryDax/README.md
  python/example_code/dynamodb/batching/README.md
  python/example_code/dynamodb/batching/dynamo_batching.py
  python/example_code/dynamodb/requirements.txt
  python/example_code/s3/file_transfer/test/test_file_transfer.py
  python/test_tools/dynamodb_stubber.py
  python/test_tools/fixtures/common.py
  python/test_tools/run_all_tests.py
Labels: Python, Ready for review, Tests reviewed

#2887 Update dynamodb_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
Labels: Java, SoS

#2800 Add Swift SDK and first example for it
  .doc_gen/metadata/cognito-identity_metadata.yaml
  .doc_gen/metadata/sdks.yaml
  .gitignore
  LICENSE
  swift/README.md
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/.swiftpm/xcode/xcshareddata/xcschemes/CognitoIdentityHandler.xcscheme
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/.swiftpm/xcode/xcshareddata/xcschemes/FindOrCreateIdentityPool-Package.xcscheme
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/.swiftpm/xcode/xcshareddata/xcschemes/FindOrCreateIdentityPool.xcscheme
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/.swiftpm/xcode/xcuserdata/ericsh.xcuserdatad/xcschemes/FindOrCreateIdentityPool-Package (Sheppy AWS Info).xcscheme
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/.swiftpm/xcode/xcuserdata/ericsh.xcuserdatad/xcschemes/xcschememanagement.plist
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Package.resolved
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Package.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/CognitoIdentityHandler/CognitoIdentityHandler.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/FindOrCreateIdentityPool/FindOrCreateIdentityPool.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Tests/CognitoIdentityHandlerTests/CognitoIdentityDemoTests.swift
  swift/example_code/cognito-identity/README.md
Labels: Ready for review, swift

#2906 Fix Rust DynamoDB manual waiter examples
  rust_dev_preview/dynamodb/src/bin/crud.rs
  rust_dev_preview/dynamodb/src/bin/movies.rs
Labels: Rust, Ready for merge

#2901 Python ticket fixes
  python/example_code/s3/s3_basics/presigned_url.py
  python/example_code/signv4/v4-signing-get-querystring.py
Labels: Python, Ready for merge

#2900 Ran rubocop on ruby s3 folder.
  .github/linters/.ruby-lint.yml
  .github/workflows/super-linter.yml
  ruby/.rubocop.yml
  ruby/example_code/s3/auth_federation_token_request_test.rb
  ruby/example_code/s3/auth_request_object_keys.rb
  ruby/example_code/s3/auth_session_token_request_test.rb
  ruby/example_code/s3/bucket_cors.rb
  ruby/example_code/s3/bucket_create.rb
  ruby/example_code/s3/bucket_list.rb
  ruby/example_code/s3/bucket_list_objects.rb
  ruby/example_code/s3/bucket_policy.rb
  ruby/example_code/s3/bucket_put_encryption.rb
  ruby/example_code/s3/bucket_put_website.rb
  ruby/example_code/s3/encryption_v2/s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_get_cskms_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_ruby_example_add_cspk_item.rb
  ruby/example_code/s3/encryption_v2/s3_ruby_example_get_cspk_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_get_cskms_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_ruby_example_add_cspk_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_ruby_example_get_cspk_item.rb
  ruby/example_code/s3/object_copy.rb
  ruby/example_code/s3/object_copy_encrypt.rb
  ruby/example_code/s3/object_exists.rb
  ruby/example_code/s3/object_get.rb
  ruby/example_code/s3/object_get_encryption.rb
  ruby/example_code/s3/object_presigned_url_upload.rb
  ruby/example_code/s3/object_put.rb
  ruby/example_code/s3/object_put_sse.rb
  ruby/example_code/s3/object_upload_file.rb
  ruby/example_code/s3/s3.rb
  ruby/example_code/s3/scenario_getting_started.rb
  ruby/example_code/s3/spec/bucket_cors_spec.rb
  ruby/example_code/s3/spec/bucket_create_spec.rb
  ruby/example_code/s3/spec/bucket_list_objects_spec.rb
  ruby/example_code/s3/spec/bucket_list_spec.rb
  ruby/example_code/s3/spec/bucket_policy_spec.rb
  ruby/example_code/s3/spec/bucket_put_encryption_spec.rb
  ruby/example_code/s3/spec/bucket_put_website_spec.rb
  ruby/example_code/s3/spec/object_copy_encrypt_spec.rb
  ruby/example_code/s3/spec/object_copy_spec.rb
  ruby/example_code/s3/spec/object_exists_spec.rb
  ruby/example_code/s3/spec/object_get_encryption_spec.rb
  ruby/example_code/s3/spec/object_get_spec.rb
  ruby/example_code/s3/spec/object_presigned_url_upload_spec.rb
  ruby/example_code/s3/spec/object_put_spec.rb
  ruby/example_code/s3/spec/object_put_sse_spec.rb
  ruby/example_code/s3/spec/object_upload_file_spec.rb
  ruby/example_code/s3/spec/scenario_getting_started_spec.rb
Labels: Ruby, Ready for merge

#2899 Adds an ignore tag to the integ test.
  rust_dev_preview/s3/tests/test-s3-getting-started.rs
Labels: Rust, Ready for merge

#2886 Updated libraries and added AWS Region to the client constructor call.
  dotnetv3/cross-service/SubscribePublishTranslate/Readme.md
  dotnetv3/cross-service/SubscribePublishTranslate/SubscribePublishTranslate/Controllers/SnsService.cs
  dotnetv3/cross-service/SubscribePublishTranslate/SubscribePublishTranslate/Views/Shared/_Layout.cshtml
  dotnetv3/cross-service/SubscribePublishTranslate/SubscribePublishTranslate/Views/_Layout.cshtml
Labels: .NET, Cross-service example

#2891 Update AssumeRole.cs
  dotnetv3/STS/AssumeRole/AssumeRoleExample/AssumeRole.cs
Labels: .NET, Ready for merge

#2933 Add Swift SDK (again, without access keys)
  .doc_gen/metadata/cognito-identity_metadata.yaml
  .doc_gen/metadata/sdks.yaml
  .gitignore
  LICENSE
  swift/README.md
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Package.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/CognitoIdentityHandler/CognitoIdentityHandler.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/FindOrCreateIdentityPool/FindOrCreateIdentityPool.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Tests/CognitoIdentityHandlerTests/CognitoIdentityDemoTests.swift
  swift/example_code/cognito-identity/README.md
Labels: Ready for review, swift
