Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-07, with the labels that each got.

#3304 PHP DynamoDB MVP
  .doc_gen/metadata/dynamodb_metadata.yaml
  php/example_code/aws_utilities/AWSServiceClass.php
  php/example_code/aws_utilities/TestableReadline.php
  php/example_code/composer.json
  php/example_code/composer.lock
  php/example_code/dynamodb/DynamoDBAttribute.php
  php/example_code/dynamodb/DynamoDBService.php
  php/example_code/dynamodb/Readme.md
  php/example_code/dynamodb/dynamodb_basics/DynamoDBBasicsTests.php
  php/example_code/dynamodb/dynamodb_basics/GettingStartedWithDynamoDB.php
  php/example_code/dynamodb/dynamodb_basics/Runner.php
  php/example_code/dynamodb/dynamodb_basics/composer.json
  php/example_code/dynamodb/dynamodb_basics/composer.lock
  php/example_code/phpunit.xml
Labels: lang/php

#3313 Python Cognito MVP actions and scenario.
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  python/example_code/cognito/.gitignore
  python/example_code/cognito/README.md
  python/example_code/cognito/cognito_idp_actions.py
  python/example_code/cognito/requirements.txt
  python/example_code/cognito/scenario_signup_user_with_mfa.py
  python/example_code/cognito/test/conftest.py
  python/example_code/cognito/test/test_cognito_idp_actions.py
  python/example_code/cognito/test/test_scenario_signup_user_with_mfa.py
  python/test_tools/cognito_idp_stubber.py
  python/test_tools/stubber_factory.py
  resources/cdk/cognito_scenario_user_pool_with_mfa/README.md
  resources/cdk/cognito_scenario_user_pool_with_mfa/cdk.json
  resources/cdk/cognito_scenario_user_pool_with_mfa/package-lock.json
  resources/cdk/cognito_scenario_user_pool_with_mfa/package.json
  resources/cdk/cognito_scenario_user_pool_with_mfa/setup.ts
  resources/cdk/cognito_scenario_user_pool_with_mfa/setup.yaml
  resources/cdk/cognito_scenario_user_pool_with_mfa/tsconfig.json
Labels: lang/python, status/has-text-review, status/has-testing-review

#3322 Update package.json
  javascriptv3/example_code/cross-services/ddb-item-tracker/package.json
Labels: lang/javascript-v3

#3321 Update mod files for testtools to point to GitHub sources instead of local folders
  gov2/dynamodb/go.mod
  gov2/dynamodb/go.sum
  gov2/testtools/go.mod
  gov2/testtools/go.sum
Labels: type/bug, lang/go-v2

#3272 Aurora Serverless PHP Backend
  .doc_gen/cross-content/cross_RDSDataTracker_PHP_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .github/linters/phpcs.xml
  .github/workflows/super-linter.yml
  php/cross_service/aurora_item_tracker/.editorconfig
  php/cross_service/aurora_item_tracker/.env.example
  php/cross_service/aurora_item_tracker/.gitattributes
  php/cross_service/aurora_item_tracker/.styleci.yml
  php/cross_service/aurora_item_tracker/README.md
  php/cross_service/aurora_item_tracker/app/Console/Kernel.php
  php/cross_service/aurora_item_tracker/app/Exceptions/Handler.php
  php/cross_service/aurora_item_tracker/app/Http/Controllers/Controller.php
  php/cross_service/aurora_item_tracker/app/Http/Controllers/ItemsController.php
  php/cross_service/aurora_item_tracker/app/Http/Kernel.php
  php/cross_service/aurora_item_tracker/app/Http/Middleware/PreventRequestsDuringMaintenance.php
  php/cross_service/aurora_item_tracker/app/Http/Middleware/TrimStrings.php
  php/cross_service/aurora_item_tracker/app/Http/Middleware/TrustProxies.php
  php/cross_service/aurora_item_tracker/app/Models/Item.php
  php/cross_service/aurora_item_tracker/app/Providers/AppServiceProvider.php
  php/cross_service/aurora_item_tracker/app/Providers/AuthServiceProvider.php
  php/cross_service/aurora_item_tracker/app/Providers/BroadcastServiceProvider.php
  php/cross_service/aurora_item_tracker/app/Providers/EventServiceProvider.php
  php/cross_service/aurora_item_tracker/app/Providers/RouteServiceProvider.php
  php/cross_service/aurora_item_tracker/artisan
  php/cross_service/aurora_item_tracker/bootstrap/app.php
  php/cross_service/aurora_item_tracker/bootstrap/cache/.gitignore
  php/cross_service/aurora_item_tracker/composer.json
  php/cross_service/aurora_item_tracker/composer.lock
  php/cross_service/aurora_item_tracker/config/app.php
  php/cross_service/aurora_item_tracker/config/auth.php
  php/cross_service/aurora_item_tracker/config/aws.php
  php/cross_service/aurora_item_tracker/config/session.php
  php/cross_service/aurora_item_tracker/package.json
  php/cross_service/aurora_item_tracker/phpcs.xml
  php/cross_service/aurora_item_tracker/phpunit.xml
  php/cross_service/aurora_item_tracker/public/.htaccess
  php/cross_service/aurora_item_tracker/public/favicon.ico
  php/cross_service/aurora_item_tracker/public/index.php
  php/cross_service/aurora_item_tracker/public/robots.txt
  php/cross_service/aurora_item_tracker/routes/api.php
  php/cross_service/aurora_item_tracker/storage/app/.gitignore
  php/cross_service/aurora_item_tracker/storage/app/public/.gitignore
  php/cross_service/aurora_item_tracker/storage/framework/cache/.gitignore
  php/cross_service/aurora_item_tracker/storage/framework/cache/data/.gitignore
  php/cross_service/aurora_item_tracker/storage/framework/sessions/.gitignore
  php/cross_service/aurora_item_tracker/storage/framework/testing/.gitignore
  php/cross_service/aurora_item_tracker/storage/framework/views/.gitignore
  php/cross_service/aurora_item_tracker/storage/logs/.gitignore
  php/cross_service/aurora_item_tracker/tests/CreatesApplication.php
  php/cross_service/aurora_item_tracker/tests/Feature/ExampleTest.php
  php/cross_service/aurora_item_tracker/tests/TestCase.php
  php/cross_service/aurora_item_tracker/tests/Unit/ExampleTest.php
  resources/cdk/aurora_serverless_app/package-lock.json
  resources/cdk/aurora_serverless_app/package.json
  resources/clients/react/item-tracker/README.md
  resources/clients/react/item-tracker/package-lock.json
  resources/clients/react/item-tracker/src/RestService.js
  resources/clients/react/item-tracker/src/WorkItems.js
Labels: lang/php, status/has-text-review, status/has-testing-review

#3332 Missing tag in code.
  dotnetv3/dynamodb/scenarios/PartiQL_Basics_Scenario/PartiQL_Basics_Scenario/PartiQLMethods.cs
Labels: lang/dotnet-v3

#3108 add more sitewise code sample for RUST SDK
  rust_dev_preview/sitewise/README.md
  rust_dev_preview/sitewise/src/bin/describe-asset.rs
  rust_dev_preview/sitewise/src/bin/list-asset-models.rs
  rust_dev_preview/sitewise/src/bin/list-portals.rs
Labels: lang/rust

#3331 Python Aurora work item tracker app.
  .doc_gen/cross-content/cross_RDSDataTracker_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  python/cross_service/README.md
  python/cross_service/aurora_item_tracker/README.md
  python/cross_service/aurora_item_tracker/app.py
  python/cross_service/aurora_item_tracker/config.py
  python/cross_service/aurora_item_tracker/images/work_items_added.png
  python/cross_service/aurora_item_tracker/images/work_items_empty.png
  python/cross_service/aurora_item_tracker/item_list.py
  python/cross_service/aurora_item_tracker/report.py
  python/cross_service/aurora_item_tracker/requirements.txt
  python/cross_service/aurora_item_tracker/storage.py
  python/cross_service/aurora_item_tracker/templates/report.html
  python/cross_service/aurora_item_tracker/test/conftest.py
  python/cross_service/aurora_item_tracker/test/test_item_list.py
  python/cross_service/aurora_item_tracker/test/test_report.py
  resources/cdk/aurora_serverless_app/README.md
  resources/clients/react/item-tracker/README.md
Labels: lang/python, status/has-text-review, status/has-testing-review

#3168 update snippet tweaks for documentation and method name change to Delete.
  javav2/example_code/s3/src/main/java/com/example/s3/S3BucketDeletion.java
Labels: lang/java-v2

#3325 Add the Java V2 Cognito MVP
  javav2/example_code/cognito/Readme.md
  javav2/example_code/cognito/src/main/java/com/example/cognito/CognitoMVP.java
  javav2/example_code/cognito/src/main/resources/config.properties
  javav2/example_code/cognito/src/test/java/AmazonCognitoTest.java
Labels: lang/java-v2, status/has-text-review, status/has-testing-review

#3352 Update the Readme for the Kotlin Cognito examples
  kotlin/services/cognito/Readme.md
Labels: lang/kotlin

#3362 Update Aurora cluster to disable auto-pause.
  resources/cdk/aurora_serverless_app/setup.ts
  resources/cdk/aurora_serverless_app/setup.yaml
Labels: tool/cdk

#3338 Ford's first PR! 🚀
  .gitignore
  ruby/.rubocop.yml
  ruby/README.md
Labels: lang/ruby

#3359 Audit and update of all scenario metadata.
  .doc_gen/cross-content/cross_EmrLongLivedCluster_Python_block.xml
  .doc_gen/cross-content/cross_EmrShortLivedCluster_Python_block.xml
  .doc_gen/cross-content/usage_ComprehendClassifier_Python_block.xml
  .doc_gen/cross-content/usage_ComprehendTopicModeler_Python_block.xml
  .doc_gen/metadata/acm_metadata.yaml
  .doc_gen/metadata/api-gateway_metadata.yaml
  .doc_gen/metadata/auditmanager_metadata.yaml
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/comprehend_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/device-farm_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/emr_metadata.yaml
  .doc_gen/metadata/glacier_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/kms_metadata.yaml
  .doc_gen/metadata/rekognition_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/secrets-manager_metadata.yaml
  .doc_gen/metadata/ses_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  .doc_gen/metadata/sts_metadata.yaml
  .doc_gen/metadata/transcribe_metadata.yaml
  python/example_code/comprehend/comprehend_classifier_demo.py
  python/example_code/comprehend/comprehend_topic_modeler_demo.py
  python/example_code/s3/s3_versioning/README.md
Labels: type/sos, status/has-text-review

#3361 Replaces todo with example on how to use into_paginator.
  rust_dev_preview/qldb/Cargo.toml
  rust_dev_preview/qldb/src/bin/list-ledgers.rs
Labels: lang/rust

#3376 Add updated Kotlin Examples (No new code)
  kotlin/services/s3/build.gradle.kts
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/CopyObject.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/CreateBucket.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteBucket.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteBucketPolicy.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteObjects.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetAcl.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetBucketPolicy.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetObjectData.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/ListObjects.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/PutObject.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/S3Operations.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/SetAcl.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/SetBucketPolicy.kt
Labels: lang/kotlin

#3320 AWS .NET Glue scenario
  .doc_gen/metadata/glue_metadata.yaml
  dotnetv3/Glue/README.md
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/GlobalUsings.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/GlueBasics.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/GlueMethods.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/Glue_Basics.csproj
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_BasicsTests/GlueMethodsTests.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_BasicsTests/Glue_BasicsTests.csproj
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics_Scenario.sln
Labels: lang/dotnet-v3, status/has-text-review, status/has-testing-review, type/mvp

#3370 .NET TransferUtil scenario
  .doc_gen/metadata/s3_metadata.yaml
  dotnetv3/S3/README.md
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics.sln
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/GlobalUsings.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/TransferBasics.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/TransferMethods.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/TransferUtilityBasics.csproj
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/TestList.playlist
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/TransferMethodsTests.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/TransferUtilityBasicsTests.csproj
Labels: lang/dotnet-v3, status/has-text-review, status/has-testing-review, type/mvp
