Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-03, with the labels that each got.

#2832 Dot net update p58681876
  .dotnet/example_code/DynamoDB/TryDax/01-CreateTable.cs
  .dotnet/example_code/DynamoDB/TryDax/02-Write-Data.cs
  .dotnet/example_code/DynamoDB/TryDax/03-GetItem-Test.cs
  .dotnet/example_code/DynamoDB/TryDax/04-Query-Test.cs
  .dotnet/example_code/DynamoDB/TryDax/05-Scan-Test.cs
  .dotnet/example_code/DynamoDB/TryDax/06-DeleteTable.cs
Labels: .NET, Ready for merge

#2946 SOS: Wrap 'AWS' in an entity in markdown note.
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: SoS

#2896 Clean up root level README
  README.rst
Labels: Back to author

#2948 Updated section title for .NET code examples.
  .doc_gen/metadata/sdks.yaml
Labels: SoS

#2949 Add more SoS tags to Swift code example
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Package.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/CognitoIdentityHandler/CognitoIdentityHandler.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/FindOrCreateIdentityPool/FindOrCreateIdentityPool.swift
Labels: Ready for review, swift

#2894 CSV file to Lookout for Vision manifest file
  python/example_code/lookoutvision/csv_to_manifest.py
  python/example_code/lookoutvision/test/test_csv_to_manifest.py
  python/example_code/lookoutvision/test/test_csvs/test_dups_errors.csv
  python/example_code/lookoutvision/test/test_csvs/test_no_s3.csv
  python/example_code/lookoutvision/test/test_csvs/test_s3_supplied.csv
Labels: Python, Ready for merge

#2934 Add an example for using Rust SDK for Global Accelerator
  rust_dev_preview/Cargo.toml
  rust_dev_preview/globalaccelerator/Cargo.toml
  rust_dev_preview/globalaccelerator/README.md
  rust_dev_preview/globalaccelerator/src/bin/globalaccelerator-helloworld.rs
Labels: Rust, Ready for review

#2950 Ruby DynamoDB MVP scenario and service action examples.
  .doc_gen/metadata/dynamodb_metadata.yaml
  ruby/.rubocop.yml
  ruby/README.md
  ruby/example_code/dynamodb/Gemfile
  ruby/example_code/dynamodb/Gemfile.lock
  ruby/example_code/dynamodb/README.md
  ruby/example_code/dynamodb/dynamodb-ruby-example-add-index.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-add-item-users-table.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-create-users-table.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-create-users-table.yaml
  ruby/example_code/dynamodb/dynamodb-ruby-example-list-50-users-table-items.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-list-item-123456-users-table.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-show-tables-names-and-item-count.rb
  ruby/example_code/dynamodb/dynamodb-ruby-example-update-users-table.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_create_movies_item.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_create_movies_table.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_create_movies_table.yaml
  ruby/example_code/dynamodb/dynamodb_ruby_example_delete_movies_item.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_delete_movies_table.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_load_movies.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_read_movies_item.rb
  ruby/example_code/dynamodb/dynamodb_ruby_example_update_movies_item.rb
  ruby/example_code/dynamodb/movie_data.json
  ruby/example_code/dynamodb/question.rb
  ruby/example_code/dynamodb/scenario_getting_started_movies.rb
  ruby/example_code/dynamodb/spec/.test.moviedata.json
  ruby/example_code/dynamodb/spec/scenario_getting_started_movies_spec.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-add-index.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-add-item-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-create-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-list-50-users-table-items.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-list-item-123456-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-show-tables-names-and-item-count.rb
  ruby/example_code/dynamodb/tests/test_dynamodb-ruby-example-update-users-table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_create_movies_item.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_create_movies_table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_delete_movies_item.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_delete_movies_table.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_load_movies.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_read_movies_item.rb
  ruby/example_code/dynamodb/tests/test_dynamodb_ruby_example_update_movies_item.rb
Labels: Ruby, Ready for merge

#2955 Add PartiQL SOS
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/transcribe_metadata.yaml
  javav2/example_code/dynamodb/Readme.md
Labels: Java, Kotlin, SoS, Ready for test review, Editorial

#2966 Dynamodb SOS
  .doc_gen/metadata/dynamodb_metadata.yaml
Labels: Java, SoS, Ready for merge

#2968 Add DDB MVP for JS (V3)
  .doc_gen/metadata/dynamodb_metadata.yaml
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/libs/ddbClient.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/libs/ddbDocClient.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/package.json
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/src/dynamodb_basics.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/babel.config.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/dynamodb_basics.test.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/jest.config.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/moviedata.json
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/package.json
  javascriptv3/example_code/dynamodb/src/movies/createTable.js
  javascriptv3/example_code/dynamodb/src/movies/deleteItem.js
  javascriptv3/example_code/dynamodb/src/movies/deleteTable.js
  javascriptv3/example_code/dynamodb/src/movies/getItem.js
  javascriptv3/example_code/dynamodb/src/movies/putItem.js
  javascriptv3/example_code/dynamodb/src/movies/queryTable.js
  javascriptv3/example_code/dynamodb/src/movies/scanTable.js
  javascriptv3/example_code/dynamodb/src/movies/updateItem.js
  javascriptv3/example_code/dynamodb/src/movies/writeData.js
Labels: JavaScript, SoS, Ready for merge, Tests reviewed

#2951 Adds a Rust example showing how to force TLS 1.3 on outgoing connections.
  rust_dev_preview/Cargo.toml
  rust_dev_preview/tls/Cargo.toml
  rust_dev_preview/tls/README.md
  rust_dev_preview/tls/src/lib.rs
  rust_dev_preview/tls/src/main.rs
  rust_dev_preview/tls/tests/test-tls.rs
Labels: Rust, Back to author, Editorial, Tests reviewed

#2972 Add Java V2 Kendra files
  javav2/example_code/kendra/Readme.md
  javav2/example_code/kendra/pom.xml
  javav2/example_code/kendra/src/main/java/com/example/kendra/CreateIndexAndDataSourceExample.java
  javav2/example_code/kendra/src/main/java/com/example/kendra/DeleteDataSource.java
  javav2/example_code/kendra/src/main/java/com/example/kendra/DeleteIndex.java
  javav2/example_code/kendra/src/main/java/com/example/kendra/ListDataSourceSyncJobs.java
  javav2/example_code/kendra/src/main/java/com/example/kendra/QueryIndex.java
  javav2/example_code/kendra/src/main/resources/config.properties
  javav2/example_code/kendra/src/test/java/KendraTest.java
  javav2/usecases/creating_photo_analyzer_app/Readme.md
  javav2/usecases/creating_photo_analyzer_app/images/excel.png
  javav2/usecases/creating_photo_analyzer_app/images/excel2.png
  javav2/usecases/creating_photo_analyzer_app/images/excel3.png
  javav2/usecases/creating_photo_analyzer_app/images/lakesun.png
  javav2/usecases/creating_photo_analyzer_app/images/runapp.png
  javav2/usecases/creating_photo_analyzer_async/Readme.md
  javav2/usecases/creating_photo_analyzer_async/images/runapp.png
Labels: Java, Ready for merge

#2995 Fixes some typos.
  rust_dev_preview/cloudformation/README.md
Labels: Rust, Ready for review

#2985 Update super-linter for JavaScript
  .github/workflows/super-linter.yml
  javascriptv3/example_code/dynamodb/src/ddb_updateitem.js
Labels: Ready for review

#2988 update: Rust examples for breaking changes in SDK
  rust_dev_preview/localstack/src/bin/use-localstack.rs
  rust_dev_preview/setting-timeouts/Cargo.toml
  rust_dev_preview/setting-timeouts/src/main.rs
Labels: Rust, Editorial, High

#2883 Updating/adding new Polly examples.
  dotnetv3/Polly/DeleteLexiconExample/DeleteLexicon.cs
  dotnetv3/Polly/DeleteLexiconExample/DeleteLexiconExample.csproj
  dotnetv3/Polly/DeleteLexiconExample/DeleteLexiconExample.sln
  dotnetv3/Polly/DescribeVoicesExample/DescribeVoices.cs
  dotnetv3/Polly/DescribeVoicesExample/DescribeVoicesExample.csproj
  dotnetv3/Polly/DescribeVoicesExample/DescribeVoicesExample.sln
  dotnetv3/Polly/GetLexiconExample/GetLexicon.cs
  dotnetv3/Polly/GetLexiconExample/GetLexiconExample.csproj
  dotnetv3/Polly/GetLexiconExample/GetLexiconExample.sln
  dotnetv3/Polly/ListLexiconsExample/ListLexicons.cs
  dotnetv3/Polly/ListLexiconsExample/ListLexiconsExample.csproj
  dotnetv3/Polly/ListLexiconsExample/ListLexiconsExample.sln
  dotnetv3/Polly/PutLexiconExample/PutLexicon.cs
  dotnetv3/Polly/PutLexiconExample/PutLexiconExample.csproj
  dotnetv3/Polly/PutLexiconExample/PutLexiconExample.sln
  dotnetv3/Polly/README.md
  dotnetv3/Polly/SynthesizeSpeechExample/SynthesizeSpeech.cs
  dotnetv3/Polly/SynthesizeSpeechExample/SynthesizeSpeechExample.csproj
  dotnetv3/Polly/SynthesizeSpeechExample/SynthesizeSpeechExample.sln
  dotnetv3/Polly/SynthesizeSpeechExample/SynthesizeSpeechTest/SynthesizeSpeechTest.cs
  dotnetv3/Polly/SynthesizeSpeechExample/SynthesizeSpeechTest/SynthesizeSpeechTest.csproj
  dotnetv3/Polly/SynthesizeSpeechMarksExample/SynthesizeSpeechMarks.cs
  dotnetv3/Polly/SynthesizeSpeechMarksExample/SynthesizeSpeechMarksExample.csproj
  dotnetv3/Polly/SynthesizeSpeechMarksExample/SynthesizeSpeechMarksExample.sln
Labels: .NET, Ready for merge, Editorial

#2719 S3 Go MVP examples refinement (address #2657)
  .doc_gen/metadata/s3_metadata.yaml
  .github/workflows/super-linter.yml
  gov2/s3/CopyObject/CopyObjectv2.go
  gov2/s3/CopyObject/CopyObjectv2_test.go
  gov2/s3/CopyObject/README.md
  gov2/s3/CopyObject/config.json
  gov2/s3/CreateBucket/CreateBucketv2.go
  gov2/s3/CreateBucket/CreateBucketv2_test.go
  gov2/s3/CreateBucket/README.md
  gov2/s3/CreateBucket/config.json
  gov2/s3/DeleteBucket/DeleteBucketv2.go
  gov2/s3/DeleteBucket/DeleteBucketv2_test.go
  gov2/s3/DeleteBucket/README.md
  gov2/s3/DeleteBucket/config.json
  gov2/s3/DeleteObject/DeleteObjectv2.go
  gov2/s3/DeleteObject/DeleteObjectv2_test.go
  gov2/s3/DeleteObject/README.md
  gov2/s3/DeleteObject/config.json
  gov2/s3/GeneratePresignedURL/GeneratePresignedURLv2.go
  gov2/s3/GeneratePresignedURL/GeneratePresignedURLv2_test.go
  gov2/s3/GeneratePresignedURL/README.md
  gov2/s3/GeneratePresignedURL/config.json
  gov2/s3/ListBuckets/ListBucketsv2.go
  gov2/s3/ListBuckets/ListBucketsv2_test.go
  gov2/s3/ListBuckets/README.md
  gov2/s3/ListBuckets/go.mod
  gov2/s3/ListBuckets/go.sum
  gov2/s3/ListObjects/ListObjectsv2.go
  gov2/s3/ListObjects/ListObjectsv2_test.go
  gov2/s3/ListObjects/README.md
  gov2/s3/ListObjects/config.json
  gov2/s3/PutObject/PutObjectv2.go
  gov2/s3/PutObject/PutObjectv2_test.go
  gov2/s3/PutObject/README.md
  gov2/s3/PutObject/config.json
  gov2/s3/README.md
  gov2/s3/common/.nocitest
  gov2/s3/common/go.mod
  gov2/s3/common/go.sum
  gov2/s3/common/image.jpg
  gov2/s3/common/main.go
  gov2/s3/common/main_test.go
  gov2/s3/go.mod
Labels: Go, Ready for merge, Tests reviewed

#3004 Added 'using AWS SDKs' to the end of titles.
  .doc_gen/templates/zonbook/service_chapter_bundle_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: SoS, Ready for merge

#2994 Python Glue MVP scenario and single-action examples
  .doc_gen/metadata/glue_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/README.md
  python/example_code/glue/README.md
  python/example_code/glue/flight_etl_job_script.py
  python/example_code/glue/glue_wrapper.py
  python/example_code/glue/question.py
  python/example_code/glue/scaffold.py
  python/example_code/glue/scenario_getting_started_crawlers_and_jobs.py
  python/example_code/glue/setup_scenario_getting_started.yaml
  python/example_code/glue/test/conftest.py
  python/example_code/glue/test/test_integ_scenario.py
  python/example_code/glue/test/test_scaffold.py
  python/example_code/glue/test/test_scenario_getting_started_crawlers_and_jobs.py
  python/test_tools/cloudformation_stubber.py
  python/test_tools/glue_stubber.py
  python/test_tools/stubber_factory.py
  resources/cdk/glue_role_bucket/cdk.json
  resources/cdk/glue_role_bucket/package-lock.json
  resources/cdk/glue_role_bucket/package.json
  resources/cdk/glue_role_bucket/setup.ts
  resources/cdk/glue_role_bucket/setup.yaml
  resources/cdk/glue_role_bucket/tsconfig.json
Labels: Python, Ready for merge, Tests reviewed

#2799 Fix a broken link in rust_dev_preview/dynamodb/README.md
  rust_dev_preview/dynamodb/README.md
Labels: Rust, Ready for merge, Low

#2890 Typos
  rust_dev_preview/cloudformation/README.md
Labels: Rust, Ready for merge

#2992 Add the AWS Glue MVP and updated Readme
  GlueScenario.java
  javav2/README.rst
  javav2/example_code/eventbridge/src/main/java/com/example/eventbridge/PutEvents.java
  javav2/example_code/glue/Readme.md
  javav2/example_code/glue/src/main/java/com/example/glue/GlueScenario.java
  javav2/example_code/glue/src/main/resources/config.properties
  javav2/example_code/glue/src/test/java/GlueTest.java
  javav2/usecases/Creating_rds_item_tracker/Readme.md
  javav2/usecases/Creating_rds_item_tracker/images/runapp.png
  javav2/usecases/Creating_rds_item_tracker/images/trackEndpoint2.png
  javav2/usecases/Creating_rds_item_tracker/src/main/java/com/aws/services/SendMessages.java
  javav2/usecases/creating_dynamodb_web_app/Readme.md
  javav2/usecases/creating_dynamodb_web_app/images/runapp.png
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/example/services/DynamoDBService.java
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/example/services/SendMessages.java
  javav2/usecases/creating_redshift_application/Readme.md
  javav2/usecases/creating_redshift_application/images/runapp.png
Labels: Java, Ready for merge, Tests reviewed

#2957 add sitewise code sample for RUST SDK
  rust_dev_preview/Cargo.toml
  rust_dev_preview/sitewise/Cargo.toml
  rust_dev_preview/sitewise/README.md
  rust_dev_preview/sitewise/src/bin/list-assets.rs
Labels: Rust, Ready for merge, Editorial

#3014 Updates npm run script to correctly build main.js
  javascriptv3/example_code/polly/package.json
Labels: JavaScript

#3008 Add Kotlin Glue and other Services for the AWS SDK for Kotlin
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/Contact.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedHandleList.java
  javav2/example_code/rekognition/Readme.md
  kotlin/services/elasticbeanstalk/Readme.md
  kotlin/services/elasticbeanstalk/build.gradle.kts
  kotlin/services/elasticbeanstalk/src/main/kotlin/com/aws/example/CreateApplication.kt
  kotlin/services/elasticbeanstalk/src/main/kotlin/com/aws/example/CreateEnvironment.kt
  kotlin/services/elasticbeanstalk/src/main/kotlin/com/aws/example/DeleteApplication.kt
  kotlin/services/elasticbeanstalk/src/main/kotlin/com/aws/example/DescribeApplications.kt
  kotlin/services/elasticbeanstalk/src/main/kotlin/com/aws/example/DescribeConfigurationOptions.kt
  kotlin/services/elasticbeanstalk/src/main/kotlin/com/aws/example/DescribeEnvironment.kt
  kotlin/services/elasticbeanstalk/src/main/resources/config.properties
  kotlin/services/elasticbeanstalk/src/test/kotlin/ElasticBeanstalkTest.kt
  kotlin/services/glue/Readme.md
  kotlin/services/glue/src/main/kotlin/com/kotlin/glue/GlueScenario.kt
  kotlin/services/kendra/Readme.md
  kotlin/services/kendra/build.gradle.kts
  kotlin/services/kendra/src/main/kotlin/com/example/kendra/CreateIndexAndDataSourceExample.kt
  kotlin/services/kendra/src/main/kotlin/com/example/kendra/DeleteDataSource.kt
  kotlin/services/kendra/src/main/kotlin/com/example/kendra/DeleteIndex.kt
  kotlin/services/kendra/src/main/kotlin/com/example/kendra/ListDataSourceSyncJobs.kt
  kotlin/services/kendra/src/main/kotlin/com/example/kendra/QueryIndex.kt
  kotlin/services/kendra/src/main/resources/config.properties
  kotlin/services/kendra/src/test/kotlin/KendraTest.kt
Labels: Kotlin, Tests reviewed

#3024 Check in Elastic Beanstalk Java V2 examples
  javav2/example_code/elasticbeanstalk/Readme.md
  javav2/example_code/elasticbeanstalk/pom.xml
  javav2/example_code/elasticbeanstalk/src/main/java/com/aws/example/CreateApplication.java
  javav2/example_code/elasticbeanstalk/src/main/java/com/aws/example/CreateEnvironment.java
  javav2/example_code/elasticbeanstalk/src/main/java/com/aws/example/DeleteApplication.java
  javav2/example_code/elasticbeanstalk/src/main/java/com/aws/example/DescribeApplications.java
  javav2/example_code/elasticbeanstalk/src/main/java/com/aws/example/DescribeConfigurationOptions.java
  javav2/example_code/elasticbeanstalk/src/main/java/com/aws/example/DescribeEnvironment.java
  javav2/example_code/elasticbeanstalk/src/main/resources/config.properties
  javav2/example_code/elasticbeanstalk/src/test/java/ElasticBeanstalkTest.java
  javav2/usecases/Creating_serverless_aurora_app/Readme.md
Labels: Java, Ready for merge

#2980 Adding new IAM examples and scenarios
  .github/workflows/super-linter.yml
  dotnetv3/IAM/AttachRolePolicyExample/AttachRolePolicyExample/AttachRolePolicy.cs
  dotnetv3/IAM/CreateAccessKeyExample/CreateAccessKeyExample/CreateAccessKey.cs
  dotnetv3/IAM/CreatePolicyExample/CreatePolicy.cs
  dotnetv3/IAM/CreatePolicyExample/CreatePolicyExample.csproj
  dotnetv3/IAM/CreatePolicyExample/CreatePolicyExample.sln
  dotnetv3/IAM/CreateRoleExample/CreateRole.cs
  dotnetv3/IAM/CreateRoleExample/CreateRoleExample.csproj
  dotnetv3/IAM/CreateRoleExample/CreateRoleExample.sln
  dotnetv3/IAM/CreateServiceLinkedRoleExample/CreateServiceLinkedRole.cs
  dotnetv3/IAM/CreateServiceLinkedRoleExample/CreateServiceLinkedRole.csproj
  dotnetv3/IAM/CreateServiceLinkedRoleExample/CreateServiceLinkedRoleExample.sln
  dotnetv3/IAM/CreateUserExample/CreateUserExample/CreateUser.cs
  dotnetv3/IAM/DeleteAccessKeyExample/DeleteAccessKeyExample/DeleteAccessKey.cs
  dotnetv3/IAM/DeleteRolePolicyExample/DeleteRolePolicyExample/DeleteRolePolicy.cs
  dotnetv3/IAM/DeleteUserExample/DeleteUserExample/DeleteUser.cs
  dotnetv3/IAM/DetachRolePolicyExample/DetachRolePolicyExample/DetachRolePolicy.cs
  dotnetv3/IAM/GetAccountPasswordPolicyExample/GetAccountPasswordPolicy.cs
  dotnetv3/IAM/GetAccountPasswordPolicyExample/GetAccountPasswordPolicy.csproj
  dotnetv3/IAM/GetAccountPasswordPolicyExample/GetAccountPasswordPolicy.sln
  dotnetv3/IAM/GetPolicyExample/GetPolicy.cs
  dotnetv3/IAM/GetPolicyExample/GetPolicyExample.csproj
  dotnetv3/IAM/GetPolicyExample/GetPolicyExample.sln
  dotnetv3/IAM/GetRoleExample/GetRole.cs
  dotnetv3/IAM/GetRoleExample/GetRoleExample.csproj
  dotnetv3/IAM/GetRoleExample/GetRoleExample.sln
  dotnetv3/IAM/IAMUserExample/IAMUserExample.sln
  dotnetv3/IAM/IAMUserExample/IAMUserExample/IAMUser.cs
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_Scenario.sln
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_Scenario/IAM_Basics.cs
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_Scenario/IAM_Basics_Scenario.csproj
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_ScenarioTests/IAM_BasicsTests.cs
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_ScenarioTests/IAM_Basics_ScenarioTests.csproj
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_ScenarioTests/PriorityOrderer.cs
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_ScenarioTests/TestPriorityAttribute.cs
  dotnetv3/IAM/ListAttachedRolePoliciesExample/ListAttachedRolePolicies.cs
  dotnetv3/IAM/ListAttachedRolePoliciesExample/ListAttachedRolePoliciesExample.csproj
  dotnetv3/IAM/ListAttachedRolePoliciesExample/ListAttachedRolePoliciesExample.sln
  dotnetv3/IAM/ListGroupsExample/ListGroups.cs
  dotnetv3/IAM/ListGroupsExample/ListGroupsExample.csproj
  dotnetv3/IAM/ListGroupsExample/ListGroupsExample.sln
  dotnetv3/IAM/ListPoliciesExample/ListPolicies.cs
  dotnetv3/IAM/ListPoliciesExample/ListPoliciesExample.csproj
  dotnetv3/IAM/ListPoliciesExample/ListPoliciesExample.sln
  dotnetv3/IAM/ListRolePoliciesExample/ListRolePoliciesExample.csproj
  dotnetv3/IAM/ListRolePoliciesExample/ListRolePoliciesExample.sln
  dotnetv3/IAM/ListRolePoliciesExample/Program.cs
  dotnetv3/IAM/ListRolesExample/ListRoles.cs
  dotnetv3/IAM/ListRolesExample/ListRolesExample.csproj
  dotnetv3/IAM/ListRolesExample/ListRolesExample.sln
  dotnetv3/IAM/ListSAMLProvidersExample/ListSAMLProviders.cs
  dotnetv3/IAM/ListSAMLProvidersExample/ListSAMLProvidersExample.csproj
  dotnetv3/IAM/ListSAMLProvidersExample/ListSAMLProvidersExample.sln
  dotnetv3/IAM/ListUsersExample/ListUsers.cs
  dotnetv3/IAM/ListUsersExample/ListUsersExample.csproj
  dotnetv3/IAM/ListUsersExample/ListUsersExample.sln
  dotnetv3/IAM/README.md
Labels: .NET, Ready for test review, Editorial

#3031 Updated section title for PHP code examples.
  .doc_gen/metadata/sdks.yaml
Labels: status/ready-to-merge
