Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-10, with the labels that each got.

#3725 Fix 2
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
Labels: lang/cpp

#3732 C++ dynamodb mvp fix
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/Readme.md
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/dynamodb_samples.h
  cpp/example_code/dynamodb/gtests/CMakeLists.txt
  cpp/example_code/dynamodb/gtests/dynamodb_gtests.cpp
  cpp/example_code/dynamodb/gtests/dynamodb_gtests.h
  cpp/example_code/dynamodb/gtests/gtest_dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/gtests/test_main.cpp
  cpp/example_code/dynamodb/utilities/dynamodb_utilities.cpp
  cpp/example_code/dynamodb/utilities/dynamodb_utilities.h
Labels: lang/cpp

#3737 test with snippet code halved
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/dyanamodb_samples.h
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/gtests/CMakeLists.txt
  cpp/example_code/dynamodb/gtests/gtest_dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/utilities/dynamodb_utilities.cpp
  cpp/example_code/dynamodb/utilities/dynamodb_utilities.h
Labels: lang/cpp

#3738 c++-dynamodb-mvp-fix3
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
Labels: lang/cpp

#3750 c++-dynamo-mvp-fix4
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
Labels: lang/cpp

#3751 Previous removal did not fail pipeline.
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
Labels: lang/cpp

#3669 Add the Java RDS Scenatio and updated Readme
  .doc_gen/metadata/pinpoint_metadata.yaml
  javav2/example_code/pinpoint/Readme.md
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/SendMessageBatch.java
  javav2/example_code/pinpoint/src/main/resources/config.properties
  javav2/example_code/pinpoint/src/test/java/AmazonPinpointTest.java
  javav2/example_code/rds/Readme.md
  javav2/example_code/rds/src/main/java/com/example/rds/RDSScenario.java
  javav2/example_code/rds/src/main/resources/config.properties
  javav2/example_code/rds/src/test/java/AmazonRDSTest.java
  javav2/usecases/CreatingSpringRedshiftRest/Readme.md
  javav2/usecases/CreatingSpringRedshiftRest/images/activeItems2.png
  javav2/usecases/CreatingSpringRedshiftRest/images/browserData.png
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/App.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/InjectWorkService.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/MainController.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/RetrieveItems.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/SendMessage.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/WorkItem.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/WriteExcel.java
  javav2/usecases/Creating_Spring_RDS_ Rest/Readme.md
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/App.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/InjectWorkService.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/MainController.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/RetrieveItems.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/SendMessage.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/WorkItem.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/WriteExcel.java
Labels: lang/java-v2, status/has-text-review

#3703 Add 'Elwing' cloudscape bootstrap and convert SQS Chat to a plugin.
  javav2/usecases/creating_message_application/Readme.md
  kotlin/usecases/creating_message_application/Readme.md
  resources/clients/react/elwing/README.md
  resources/clients/react/elwing/libs/ext-ramda.ts
  resources/clients/react/elwing/libs/utils/util-fs.ts
  resources/clients/react/elwing/libs/utils/util-string.ts
  resources/clients/react/elwing/libs/validator.ts
  resources/clients/react/elwing/package-lock.json
  resources/clients/react/elwing/package.json
  resources/clients/react/elwing/public/index.html
  resources/clients/react/elwing/public/logo192.png
  resources/clients/react/elwing/public/logo512.png
  resources/clients/react/elwing/public/manifest.json
  resources/clients/react/elwing/public/robots.txt
  resources/clients/react/elwing/src/App.test.tsx
  resources/clients/react/elwing/src/App.tsx
  resources/clients/react/elwing/src/components/Content.tsx
  resources/clients/react/elwing/src/components/Navigation.tsx
  resources/clients/react/elwing/src/default-plugins/develop-plugin/DevelopPluginComponent.tsx
  resources/clients/react/elwing/src/default-plugins/develop-plugin/index.ts
  resources/clients/react/elwing/src/default-plugins/get-started-plugin/GetStarted.md
  resources/clients/react/elwing/src/default-plugins/get-started-plugin/GetStartedPluginComponent.tsx
  resources/clients/react/elwing/src/default-plugins/get-started-plugin/index.ts
  resources/clients/react/elwing/src/index.tsx
  resources/clients/react/elwing/src/plugin-creator/content-builder.ts
  resources/clients/react/elwing/src/plugin-creator/copyright.ts
  resources/clients/react/elwing/src/plugin-creator/index.ts
  resources/clients/react/elwing/src/plugin-creator/path-builder.ts
  resources/clients/react/elwing/src/plugin-creator/register.ts
  resources/clients/react/elwing/src/plugin-creator/validations.ts
  resources/clients/react/elwing/src/plugins/AppPlugin.ts
  resources/clients/react/elwing/src/plugins/manifest.ts
  resources/clients/react/elwing/src/plugins/sqs-message/README.md
  resources/clients/react/elwing/src/plugins/sqs-message/index.ts
  resources/clients/react/elwing/src/plugins/sqs-message/package-lock.json
  resources/clients/react/elwing/src/plugins/sqs-message/package.json
  resources/clients/react/elwing/src/plugins/sqs-message/src/AwsService.js
  resources/clients/react/elwing/src/plugins/sqs-message/src/ChatItems.js
  resources/clients/react/elwing/src/plugins/sqs-message/src/MessageForm.js
  resources/clients/react/elwing/src/plugins/sqs-message/src/SqsChatComponent.js
  resources/clients/react/elwing/src/plugins/sqs-message/src/SqsChatComponent.unit.test.js
  resources/clients/react/elwing/src/plugins/sqs-message/src/config.json
  resources/clients/react/elwing/src/react-app-env.d.ts
  resources/clients/react/elwing/src/reportWebVitals.ts
  resources/clients/react/elwing/src/setupTests.ts
  resources/clients/react/elwing/src/store/selectors.ts
  resources/clients/react/elwing/src/store/store.ts
  resources/clients/react/elwing/tsconfig.json
  resources/clients/react/sqs-chat/babel.config.js
  resources/clients/react/sqs-chat/jest.config.js
  resources/clients/react/sqs-chat/public/favicon.ico
  resources/clients/react/sqs-chat/src/App.js
  resources/clients/react/sqs-chat/src/App.test.js
  resources/clients/react/sqs-chat/src/setupTests.js
Labels: lang/java-v2, lang/kotlin, status/has-text-review

#3640 Adding Ruby Lambda MVP
  .doc_gen/metadata/lambda_metadata.yaml
  ruby/.gitignore
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/example_code/lambda/README.md
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-configure-function-for-notification.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-create-function.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-run-function.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-show-functions.rb
  ruby/example_code/lambda/lambda_basics.rb
  ruby/example_code/lambda/lambda_function.rb
  ruby/example_code/lambda/lambda_function_updated.rb
  ruby/example_code/lambda/scenario_getting_started_functions.rb
  ruby/example_code/lambda/spec/scenario_getting_started_functions_spec.rb
  ruby/helpers/banner.txt
  ruby/helpers/colorizer.rb
  ruby/helpers/decorators.rb
  ruby/helpers/disclaimers.rb
Labels: lang/ruby, status/ready-to-merge, status/has-text-review, status/has-testing-review

#3766 Revert "Adding Ruby Lambda MVP"
  .doc_gen/metadata/lambda_metadata.yaml
  ruby/.gitignore
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/example_code/lambda/README.md
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-configure-function-for-notification.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-create-function.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-run-function.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-show-functions.rb
  ruby/example_code/lambda/lambda_basics.rb
  ruby/example_code/lambda/lambda_function.rb
  ruby/example_code/lambda/lambda_function_updated.rb
  ruby/example_code/lambda/scenario_getting_started_functions.rb
  ruby/example_code/lambda/spec/scenario_getting_started_functions_spec.rb
  ruby/helpers/banner.txt
  ruby/helpers/colorizer.rb
  ruby/helpers/decorators.rb
  ruby/helpers/disclaimers.rb
Labels: lang/ruby

#3764 Bugfix: path to .ent file in snapshot version of SOS templates
  .doc_gen/templates/zonbook/example_description_template.xml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_tag_chapter.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_bundle_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: type/bug, type/sos

#3767 Revert "Revert "Adding Ruby Lambda MVP""
  .doc_gen/metadata/lambda_metadata.yaml
  ruby/.gitignore
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/example_code/lambda/README.md
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-configure-function-for-notification.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-create-function.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-run-function.rb
  ruby/example_code/lambda/aws-ruby-sdk-lambda-example-show-functions.rb
  ruby/example_code/lambda/lambda_basics.rb
  ruby/example_code/lambda/lambda_function.rb
  ruby/example_code/lambda/lambda_function_updated.rb
  ruby/example_code/lambda/scenario_getting_started_functions.rb
  ruby/example_code/lambda/spec/scenario_getting_started_functions_spec.rb
  ruby/helpers/banner.txt
  ruby/helpers/colorizer.rb
  ruby/helpers/decorators.rb
  ruby/helpers/disclaimers.rb
Labels: lang/ruby

#3675 Refactor RDS code and add Integration tests
  ruby/example_code/rds/README.md
  ruby/example_code/rds/create_cluster_snapshot.rb
  ruby/example_code/rds/create_snapshot.rb
  ruby/example_code/rds/list_cluster_snapshots.rb
  ruby/example_code/rds/list_instance_snapshots.rb
  ruby/example_code/rds/list_instances.rb
  ruby/example_code/rds/list_parameter_groups.rb
  ruby/example_code/rds/list_security_groups.rb
  ruby/example_code/rds/list_subnet_groups.rb
  ruby/example_code/rds/rds-ruby-example-create-cluster-snapshot.rb
  ruby/example_code/rds/rds-ruby-example-create-snapshot.rb
  ruby/example_code/rds/rds-ruby-example-list-all-instances.rb
  ruby/example_code/rds/rds-ruby-example-list-cluster-snapshots.rb
  ruby/example_code/rds/rds-ruby-example-list-instance-snapshots.rb
  ruby/example_code/rds/rds-ruby-example-list-parameter-groups.rb
  ruby/example_code/rds/rds-ruby-example-list-security-groups.rb
  ruby/example_code/rds/rds-ruby-example-list-subnet-groups.rb
  ruby/example_code/rds/spec/rds_examples_spec.rb
Labels: lang/ruby, status/ready-to-merge, status/has-text-review, status/has-testing-review

#3756 Rust/dev smithy 0.50
  rust_dev_preview/autoscaling/src/bin/delete-autoscaling-group.rs
  rust_dev_preview/kms/src/bin/kms-helloworld.rs
  rust_dev_preview/sdk-config/Cargo.toml
  rust_dev_preview/sdk-config/src/bin/disable_retries.rs
  rust_dev_preview/sdk-config/src/bin/set_retries.rs
  rust_dev_preview/sdk-config/src/bin/timeouts.rs
Labels: lang/rust

#3762 Add Kotlin RDS MVP
  javav2/usecases/CreatingSpringRedshiftRest/Readme.md
  javav2/usecases/CreatingSpringRedshiftRest/images/overviewred2.png
  kotlin/services/rds/Readme.md
  kotlin/services/rds/src/main/kotlin/com/kotlin/rds/RDSScenario.kt
  kotlin/services/rds/src/main/resources/config.properties
  kotlin/services/rds/src/test/kotlin/RDSTest.kt
Labels: lang/java-v2, lang/kotlin, status/has-text-review

#3798 Ruby Cleanup : CloudTrail Errors
  ruby/example_code/cloudtrail/create_trail.rb
Labels: lang/ruby

#3734 Verify triggers and add unit tests.
  javascriptv3/example_code/cognito/README.md
  javascriptv3/example_code/cognito/admin-create-user.js
  javascriptv3/example_code/cognito/getCredentials/LICENSE
  javascriptv3/example_code/cognito/getCredentials/README.md
  javascriptv3/example_code/cognito/getCredentials/package.json
  javascriptv3/example_code/cognito/getCredentials/src/cognito_getcreds.html
  javascriptv3/example_code/cognito/getCredentials/src/cognito_getcreds.js
  javascriptv3/example_code/cognito/getCredentials/yarn.lock
  javascriptv3/example_code/cognito/lambda-trigger-auth-challenge-create.js
  javascriptv3/example_code/cognito/lambda-trigger-auth-challenge-define.js
  javascriptv3/example_code/cognito/lambda-trigger-auth-challenge-verify.js
  javascriptv3/example_code/cognito/lambda-trigger-custom-message-admin-create-user.js
  javascriptv3/example_code/cognito/lambda-trigger-custom-message-sign-up.js
  javascriptv3/example_code/cognito/lambda-trigger-migrate-user.js
  javascriptv3/example_code/cognito/lambda-trigger-post-authentication.js
  javascriptv3/example_code/cognito/lambda-trigger-post-confirmation.js
  javascriptv3/example_code/cognito/lambda-trigger-pre-authentication.js
  javascriptv3/example_code/cognito/lambda-trigger-pre-sign-up-auto-confirm-and-verify.js
  javascriptv3/example_code/cognito/lambda-trigger-pre-sign-up-auto-confirm-front-end.js
  javascriptv3/example_code/cognito/lambda-trigger-pre-sign-up-auto-confirm.js
  javascriptv3/example_code/cognito/lambda-trigger-pre-token-generation-add-suppress-claims.js
  javascriptv3/example_code/cognito/lambda-trigger-pre-token-generation-group-membership.js
  javascriptv3/example_code/cognito/metadata.yaml
  javascriptv3/example_code/cognito/package.json
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/custom-auth-example.js
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/auth-challenge-create.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/auth-challenge-define.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/auth-challenge-verify.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/authentication-post.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/authentication-pre.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/confirmation-post.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/custom-message-admin-create.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/custom-message-sign-up.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/migrate-user.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/sign-up-pre-auto-confirm-domain.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/sign-up-pre-auto-confirm-verify.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/token-generation-pre-add-suppress-claim.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/token-generation-pre-modify-group.mjs
  javascriptv3/example_code/cognito/tests/auth-challenge-create.unit.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-define.unit.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-verify.unit.test.js
  javascriptv3/example_code/cognito/tests/authentication-post.unit.test.js
  javascriptv3/example_code/cognito/tests/authentication-pre.unit.test.js
  javascriptv3/example_code/cognito/tests/confirmation-post.unit.test.js
  javascriptv3/example_code/cognito/tests/custom-message-admin-create.unit.test.js
  javascriptv3/example_code/cognito/tests/custom-message-sign-up.unit.test.js
  javascriptv3/example_code/cognito/tests/migrate-user.unit.test.js
  javascriptv3/example_code/cognito/tests/sign-up-pre-auto-confirm-domain.unit.test.js
  javascriptv3/example_code/cognito/tests/sign-up-pre-auto-confirm-verify.unit.test.js
  javascriptv3/example_code/cognito/tests/token-generation-pre-add-suppress-claim.unit.test.js
  javascriptv3/example_code/cognito/tests/token-generation-pre-modify-group.unit.test.js
  javascriptv3/example_code/cognito/yarn.lock
Labels: lang/javascript-v3, status/has-testing-review

#3774 [BUGFIX] Fix code block to warp caused by .RST format
  javascriptv3/example_code/README.md
  javascriptv3/example_code/README.rst
Labels: lang/javascript-v3

#3800 Python EC2 MVP actions and scenario
  .doc_gen/metadata/ec2_metadata.yaml
  python/demo_tools/__init__.py
  python/example_code/ec2/README.md
  python/example_code/ec2/ec2_basics_demo.py
  python/example_code/ec2/ec2_instance_management.py
  python/example_code/ec2/ec2_setup.py
  python/example_code/ec2/ec2_teardown.py
  python/example_code/ec2/elastic_ip.py
  python/example_code/ec2/hello.py
  python/example_code/ec2/instance.py
  python/example_code/ec2/key_pair.py
  python/example_code/ec2/scenario_get_started_instances.py
  python/example_code/ec2/security_group.py
  python/example_code/ec2/test/conftest.py
  python/example_code/ec2/test/test_associate_elastic_ip.py
  python/example_code/ec2/test/test_cleanup.py
  python/example_code/ec2/test/test_create_and_list_key_pairs.py
  python/example_code/ec2/test/test_create_instance.py
  python/example_code/ec2/test/test_create_security_group.py
  python/example_code/ec2/test/test_ec2_instance_management.py
  python/example_code/ec2/test/test_ec2_setup.py
  python/example_code/ec2/test/test_ec2_teardown.py
  python/example_code/ec2/test/test_scenario_get_started_instances_integ.py
  python/example_code/ec2/test/test_stop_and_start_instance.py
  python/example_code/lambda/scenario_getting_started_functions.py
  python/test_tools/ec2_stubber.py
  python/test_tools/ssm_stubber.py
Labels: lang/python

#3776 Refactor and bug fixes
  javascriptv3/example_code/cross-services/transcribe-streaming-app/README.md
  javascriptv3/example_code/cross-services/transcribe-streaming-app/package.json
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/index.html
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/index.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/libs/awsID.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/libs/comprehendClient.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/libs/emailClient.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/libs/sesClient.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/libs/transcribeClient.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/libs/translateClient.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/recorder.css
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/style.css
  javascriptv3/example_code/cross-services/transcribe-streaming-app/webpack.config.cjs
Labels: lang/javascript-v3

#3775 Elwing/rest aurora ses
  resources/clients/react/elwing/package-lock.json
  resources/clients/react/elwing/package.json
  resources/clients/react/elwing/src/components/Content.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/ItemTrackerComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/ItemTrackerReadmeComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/ItemTrackerStore.ts
  resources/clients/react/elwing/src/plugins/item-tracker/RestService.ts
  resources/clients/react/elwing/src/plugins/item-tracker/config.json
  resources/clients/react/elwing/src/plugins/item-tracker/index.ts
  resources/clients/react/elwing/src/plugins/item-tracker/package.json
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/AddWorkItemComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/WorkItemControlsComponent.test.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/WorkItemControlsComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/WorkItemListComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/WorkItemService.ts
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/testing/MockWorkItemService.ts
  resources/clients/react/elwing/src/plugins/manifest.ts
Labels: status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#3815 Fix incorrect example.
  javascriptv3/example_code/pinpoint/package.json
  javascriptv3/example_code/pinpoint/src/libs/pinClient.js
  javascriptv3/example_code/pinpoint/src/pinpoint_send_email_message.js
  javascriptv3/example_code/tests/pinpoint/package.json
  javascriptv3/example_code/tests/pinpoint/pinpoint_send_email_message.test.js
  javascriptv3/example_code/tests/pinpoint/pinpoint_send_sms_message.test.js
Labels: lang/javascript-v3, status/has-testing-review

#3768 Dynamodb/scenario
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/dynamodb/README.md
  rust_dev_preview/dynamodb/moviedata.json
  rust_dev_preview/dynamodb/src/bin/movies.rs
  rust_dev_preview/dynamodb/src/scenario/mod.rs
  rust_dev_preview/dynamodb/src/scenario/movies/mod.rs
  rust_dev_preview/dynamodb/src/scenario/movies/server.rs
  rust_dev_preview/dynamodb/src/scenario/movies/shutdown.rs
  rust_dev_preview/dynamodb/src/scenario/movies/startup.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#3805 Add RDS Aurora Sceneario
  .doc_gen/metadata/rds_metadata.yaml
  javav2/example_code/rds/Readme.md
  javav2/example_code/rds/src/main/java/com/example/rds/AuroraScenario.java
  javav2/usecases/Creating_Spring_RDS_ Rest/Readme.md
  kotlin/services/rds/Readme.md
  kotlin/services/rds/src/main/kotlin/com/kotlin/rds/AuroraScenario.kt
  scripts/checkin_tests.py
Labels: lang/java-v2, lang/kotlin, status/has-text-review

#3820 Fixed dep snippet
  javav2/example_code/rds/src/main/java/com/example/rds/AuroraScenario.java
Labels: lang/java-v2

#3823 Add files via upload
  javav2/example_code/rds/src/main/java/com/example/rds/AuroraScenario.java
Labels: lang/java-v2

#3781 .NET Support MVP
  .doc_gen/metadata/services.yaml
  .doc_gen/metadata/support_metadata.yaml
  .github/workflows/super-linter.yml
  dotnetv3/Support/Actions/HelloSupport.cs
  dotnetv3/Support/Actions/SupportActions.csproj
  dotnetv3/Support/Actions/SupportWrapper.cs
  dotnetv3/Support/README.md
  dotnetv3/Support/Scenarios/SupportCaseScenario.cs
  dotnetv3/Support/Scenarios/SupportCaseScenario.csproj
  dotnetv3/Support/SupportExamples.sln
  dotnetv3/Support/Tests/SupportIntegrationTests.cs
  dotnetv3/Support/Tests/SupportTests.csproj
  dotnetv3/Support/Tests/Usings.cs
  dotnetv3/Support/Tests/testsettings.json
  scripts/checkin_tests.py
Labels: lang/dotnet-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#3828 Move elwing libs to main js libs folder.
  javascriptv3/example_code/libs/ext-ramda.js
  javascriptv3/example_code/libs/utils/util-fs.js
  javascriptv3/example_code/libs/utils/util-string.js
  resources/clients/react/elwing/libs/ext-ramda.ts
  resources/clients/react/elwing/libs/utils/util-fs.ts
  resources/clients/react/elwing/libs/utils/util-string.ts
  resources/clients/react/elwing/package-lock.json
  resources/clients/react/elwing/package.json
  resources/clients/react/elwing/src/plugin-creator/content-builder.ts
  resources/clients/react/elwing/src/plugin-creator/index.ts
  resources/clients/react/elwing/src/plugin-creator/path-builder.ts
  resources/clients/react/elwing/src/plugin-creator/register.ts
  resources/clients/react/elwing/src/plugin-creator/validations.ts
  resources/clients/react/elwing/tsconfig.json
Labels: lang/javascript-v3

#3833 Update the Kotlin SDK Build files to recent version (No Code Changes)
  .doc_gen/metadata/autoscaling_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/autoscale/src/main/java/com/example/autoscaling/AutoScalingScenario.java
  kotlin/services/apigateway/build.gradle.kts
  kotlin/services/appsync/build.gradle.kts
  kotlin/services/athena/build.gradle.kts
  kotlin/services/autoscale/build.gradle.kts
  kotlin/services/cloudformation/build.gradle.kts
  kotlin/services/cloudtrail/build.gradle.kts
  kotlin/services/cloudwatch/build.gradle.kts
  kotlin/services/codepipeline/build.gradle.kts
  kotlin/services/cognito/build.gradle.kts
  kotlin/services/comprehend/build.gradle.kts
  kotlin/services/dynamodb/build.gradle.kts
  kotlin/services/ec2/build.gradle.kts
  kotlin/services/ecs/build.gradle.kts
  kotlin/services/elasticbeanstalk/build.gradle.kts
  kotlin/services/emr/build.gradle.kts
  kotlin/services/eventbridge/build.gradle.kts
  kotlin/services/firehose/build.gradle.kts
  kotlin/services/forecast/build.gradle.kts
  kotlin/services/glue/build.gradle.kts
  kotlin/services/iam/build.gradle.kts
  kotlin/services/kendra/build.gradle.kts
  kotlin/services/kinesis/build.gradle.kts
  kotlin/services/kms/build.gradle.kts
  kotlin/services/lambda/build.gradle.kts
  kotlin/services/lex/build.gradle.kts
  kotlin/services/mediaconvert/build.gradle.kts
  kotlin/services/mediastore/build.gradle.kts
  kotlin/services/opensearch/build.gradle.kts
  kotlin/services/personalize/build.gradle.kts
  kotlin/services/pinpoint/build.gradle.kts
  kotlin/services/polly/build.gradle.kts
  kotlin/services/rds/build.gradle.kts
  kotlin/services/redshift/build.gradle.kts
  kotlin/services/rekognition/build.gradle.kts
  kotlin/services/route53/build.gradle.kts
  kotlin/services/s3/build.gradle.kts
  kotlin/services/sagemaker/build.gradle.kts
  kotlin/services/secretsmanager/build.gradle.kts
  kotlin/services/ses/build.gradle.kts
  kotlin/services/sns/build.gradle.kts
  kotlin/services/sqs/build.gradle.kts
  kotlin/services/stepfunctions/build.gradle.kts
  kotlin/services/sts/build.gradle.kts
  kotlin/services/textract/build.gradle.kts
  kotlin/services/translate/build.gradle.kts
  kotlin/services/xray/build.gradle.kts
Labels: lang/java-v2, lang/kotlin

#3848 Update Message App to reference updated React app (no code changes)
  javav2/usecases/creating_message_application/Readme.md
  javav2/usecases/creating_message_application/images/app.png
  javav2/usecases/creating_message_application/images/app1.png
Labels: lang/java-v2

#3835 Update scenario readme
  javascriptv3/example_code/README.md
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/dynamodb/package.json
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/libs/ddbClient.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/libs/ddbDocClient.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/package.json
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/src/dynamodb_basics.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/dynamodb_basics.test.js
  resources/sample_files/movies.json
Labels: lang/javascript-v3

#3851 update media file terms
  javascriptv3/example_code/dynamodb/README.md
  resources/sample_files/movies.json
Labels: lang/javascript-v3

#3822 Correct dynamodb snippet name
  .doc_gen/metadata/dynamodb_metadata.yaml
  rust_dev_preview/dynamodb/src/scenario/movies/startup.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#3817 SOS improvements to Hello and 'more code'
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: type/sos, status/has-text-review

#3849 Add transcribe streaming yaml entry
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/transcribe_metadata.yaml
  cpp/example_code/iam/README.md
  cpp/example_code/iam/create_role.cpp
  cpp/example_code/iam/delete_policy.cpp
  cpp/example_code/iam/delete_user.cpp
  cpp/example_code/iam/detach_role_policy.cpp
  cpp/example_code/iam/get_policy.cpp
  cpp/example_code/iam/get_server_certificate.cpp
  cpp/example_code/iam/gtests/gtest_delete_server_certificate.cpp
  cpp/example_code/iam/gtests/gtest_get_policy.cpp
  cpp/example_code/iam/gtests/gtest_get_server_certificate.cpp
  cpp/example_code/iam/gtests/gtest_update_server_certificate.cpp
  cpp/example_code/iam/iam_create_user_assume_role_scenario.cpp
  cpp/example_code/iam/put_role_policy.cpp
  cpp/example_code/secretsmanager/README.md
  cpp/example_code/secretsmanager/create_secret_with_string.cpp
  cpp/example_code/secretsmanager/get_secret_value.cpp
  cpp/example_code/sts/CMakeLists.txt
  cpp/example_code/sts/README.md
  cpp/example_code/sts/assume_role.cpp
  cpp/example_code/sts/gtests/CMakeLists.txt
  cpp/example_code/transcribe/CMakeLists.txt
Labels: lang/cpp

#3854 Kotlin SOS PR
  .doc_gen/metadata/autoscaling_metadata.yaml
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateUser.java
  kotlin/services/autoscale/src/main/kotlin/com/example/autoscaling/AutoScalingScenario.kt
Labels: lang/java-v2, lang/kotlin

#3771 change comment to accurately state three items
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedBatchWriteItems.java
Labels: lang/java-v2

#3682 Dotnet lambda mvp
  .doc_gen/metadata/lambda_metadata.yaml
  dotnetv3/Lambda/LambdaCalculator/LambdaCalculator.sln
  dotnetv3/Lambda/LambdaCalculator/LambdaCalculator/Function.cs
  dotnetv3/Lambda/LambdaCalculator/LambdaCalculator/LambdaCalculator.csproj
  dotnetv3/Lambda/LambdaCalculator/LambdaCalculator/Properties/launchSettings.json
  dotnetv3/Lambda/LambdaCalculator/LambdaCalculator/aws-lambda-tools-defaults.json
  dotnetv3/Lambda/LambdaIncrement/LambdaIncrement.sln
  dotnetv3/Lambda/LambdaIncrement/src/LambdaIncrement/Function.cs
  dotnetv3/Lambda/LambdaIncrement/src/LambdaIncrement/LambdaIncrement.csproj
  dotnetv3/Lambda/LambdaIncrement/src/LambdaIncrement/Properties/launchSettings.json
  dotnetv3/Lambda/LambdaIncrement/src/LambdaIncrement/aws-lambda-tools-defaults.json
  dotnetv3/Lambda/ListFunctionsExample/ListFunctionsExample/ListFunctions.cs
  dotnetv3/Lambda/README.md
  dotnetv3/Lambda/scenarios/LambdaCalculator.zip
  dotnetv3/Lambda/scenarios/LambdaIncrement.zip
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_Basics.sln
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_Basics/GlobalUsings.cs
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_Basics/LambdaBasics.cs
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_Basics/LambdaMethods.cs
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_Basics/LambdaRoleMethods.cs
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_Basics/Lambda_Basics.csproj
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_Basics/settings.json
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_BasicsTests/GlobalUsings.cs
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_BasicsTests/LambdaMethodsTests.cs
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_BasicsTests/Lambda_BasicsTests.csproj
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_BasicsTests/testsettings.json
Labels: lang/dotnet-v3, status/has-text-review, status/has-testing-review, type/mvp

#3819 move the DynamoDbClient example to the correct place
  javav2/example_code/dynamodb/Readme.md
Labels: lang/java-v2

#3865 Update Java XSS examples to use ELWING app
  javav2/usecases/CreatingSpringRedshiftRest/Readme.md
  javav2/usecases/CreatingSpringRedshiftRest/images/button.png
  javav2/usecases/CreatingSpringRedshiftRest/images/elapp1.png
  javav2/usecases/CreatingSpringRedshiftRest/images/elapp2.png
  javav2/usecases/CreatingSpringRedshiftRest/images/elapp3.png
  javav2/usecases/CreatingSpringRedshiftRest/images/elapp4.png
  javav2/usecases/CreatingSpringRedshiftRest/images/json.png
  javav2/usecases/CreatingSpringRedshiftRest/images/react1.png
  javav2/usecases/CreatingSpringRedshiftRest/images/react2.png
  javav2/usecases/CreatingSpringRedshiftRest/images/react3.png
  javav2/usecases/CreatingSpringRedshiftRest/images/react4.png
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/App.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/InjectWorkService.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/MainController.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/ReportController.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/RetrieveItems.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/SendMessage.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/WorkItem.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/WorkItemRepository.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/WriteExcel.java
  javav2/usecases/Creating_Spring_RDS_ Rest/Readme.md
  javav2/usecases/Creating_Spring_RDS_ Rest/images/button.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/elapp1.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/elapp2.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/elapp3.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/elapp4.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/json.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/project.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/projectClasses.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/react1.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/react2.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/react3.png
  javav2/usecases/Creating_Spring_RDS_ Rest/images/react4.png
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/App.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/InjectWorkService.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/MainController.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/ReportController.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/RetrieveItems.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/SendMessage.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/WorkItem.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/WorkItemRepository.java
  javav2/usecases/Creating_Spring_RDS_ Rest/src/main/java/com/aws/rest/WriteExcel.java
  javav2/usecases/creating_dynamodb_web_app/Readme.md
  javav2/usecases/creating_dynamodb_web_app/images/button.png
  javav2/usecases/creating_dynamodb_web_app/images/elapp1.png
  javav2/usecases/creating_dynamodb_web_app/images/elapp2.png
  javav2/usecases/creating_dynamodb_web_app/images/elapp3.png
  javav2/usecases/creating_dynamodb_web_app/images/elapp4.png
  javav2/usecases/creating_dynamodb_web_app/images/json.png
  javav2/usecases/creating_dynamodb_web_app/images/react1.png
  javav2/usecases/creating_dynamodb_web_app/images/react2.png
  javav2/usecases/creating_dynamodb_web_app/images/react3.png
  javav2/usecases/creating_dynamodb_web_app/images/react4.png
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/aws/rest/DynamoDBService.java
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/aws/rest/MainController.java
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/aws/rest/ReportController.java
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/aws/rest/SendMessage.java
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/aws/rest/Work.java
  javav2/usecases/creating_dynamodb_web_app/src/main/java/com/aws/rest/WriteExcel.java
Labels: lang/java-v2

#3858 Aurora/SES Cross-Service Example for JS (v3)
  .doc_gen/cross-content/cross_RDSDataTracker_JavaScriptV3_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .github/linters/.eslintrc
  javascriptv3/example_code/.eslintrc
  javascriptv3/example_code/cross-services/aurora-serverless-app/README.md
  javascriptv3/example_code/cross-services/aurora-serverless-app/env.json
  javascriptv3/example_code/cross-services/aurora-serverless-app/jest.config.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/package.json
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/client.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/get-items-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/parse-item.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/post-items-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/post-items-report-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/put-items-archive-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/index.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/middleware/validate-db.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/statement-commands/command-helper.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/statement-commands/create-table.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/statement-commands/get-active-items.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/statement-commands/get-all-items.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/statement-commands/get-archived-items.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/db-record.d.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/handler.d.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/item.d.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/sendable.d.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tests/command-helper.unit.test.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tests/get-items-handler.unit.test.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tests/parse-item.unit.test.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tests/post-items-report-handler.unit.test.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tests/validate-db.unit.test.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tsconfig.json
  javascriptv3/example_code/cross-services/aurora-serverless-app/watch.js
  javascriptv3/example_code/cross-services/aurora-serverless-app/yarn.lock
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/AddWorkItemComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/WorkItemListComponent.tsx
Labels: lang/javascript-v3, status/has-text-review, status/has-testing-review

#3877 Update README.rst
  javav2/README.rst
Labels: lang/java-v2

#3876 Update GetObject example to use new transform util.
  javascriptv3/example_code/s3/src/package.json
  javascriptv3/example_code/s3/src/s3_getobject.js
  javascriptv3/example_code/s3/tests/s3_getobject.test.js
Labels: lang/javascript-v3

#3826 JavaScript (v3) Cognito MVP
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  .github/linters/.eslintrc
  javascriptv3/example_code/.eslintrc
  javascriptv3/example_code/cognito/README.md
  javascriptv3/example_code/cognito/actions/admin-get-user.js
  javascriptv3/example_code/cognito/actions/admin-initiate-auth.js
  javascriptv3/example_code/cognito/actions/admin-respond-to-auth-challenge.js
  javascriptv3/example_code/cognito/actions/associate-software-token.js
  javascriptv3/example_code/cognito/actions/confirm-device.js
  javascriptv3/example_code/cognito/actions/confirm-sign-up.js
  javascriptv3/example_code/cognito/actions/create-user-pool-client.js
  javascriptv3/example_code/cognito/actions/create-user-pool.js
  javascriptv3/example_code/cognito/actions/delete-user-pool.js
  javascriptv3/example_code/cognito/actions/initiate-auth.js
  javascriptv3/example_code/cognito/actions/list-users.js
  javascriptv3/example_code/cognito/actions/resend-confirmation-code.js
  javascriptv3/example_code/cognito/actions/respond-to-auth-challenge.js
  javascriptv3/example_code/cognito/actions/set-user-pool-mfa-config.js
  javascriptv3/example_code/cognito/actions/sign-up.js
  javascriptv3/example_code/cognito/actions/verify-software-token.js
  javascriptv3/example_code/cognito/package.json
  javascriptv3/example_code/cognito/scenarios/basic/README.md
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/admin-get-user-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/admin-initiate-auth-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/admin-respond-to-auth-challenge-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/clean-up-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/confirm-sign-up-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/constants.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/create-user-pool-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/list-users-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/resend-confirmation-code-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/sign-up-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/command-handlers/verify-software-token-handler.js
  javascriptv3/example_code/cognito/scenarios/basic/index.js
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/README.md
  javascriptv3/example_code/cognito/tests/actions.integration.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-create.unit.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-define.unit.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-verify.unit.test.js
  javascriptv3/example_code/cognito/tests/authentication-post.unit.test.js
  javascriptv3/example_code/cognito/tests/authentication-pre.unit.test.js
  javascriptv3/example_code/cognito/tests/confirmation-post.unit.test.js
  javascriptv3/example_code/cognito/tests/custom-message-admin-create.unit.test.js
  javascriptv3/example_code/cognito/tests/custom-message-sign-up.unit.test.js
  javascriptv3/example_code/cognito/tests/migrate-user.unit.test.js
  javascriptv3/example_code/cognito/tests/sign-up-pre-auto-confirm-domain.unit.test.js
  javascriptv3/example_code/cognito/tests/sign-up-pre-auto-confirm-verify.unit.test.js
  javascriptv3/example_code/cognito/tests/token-generation-pre-add-suppress-claim.unit.test.js
  javascriptv3/example_code/cognito/tests/token-generation-pre-modify-group.unit.test.js
  javascriptv3/example_code/cognito/yarn.lock
  javascriptv3/example_code/libs/cmd-runner.js
  javascriptv3/example_code/libs/ext-ramda.js
  javascriptv3/example_code/libs/tests/cmd-runner.unit.test.js
  javascriptv3/example_code/libs/tests/ext-ramda.unit.test.js
  javascriptv3/example_code/libs/tests/util-csv.unit.test.js
  javascriptv3/example_code/libs/utils/util-csv.js
  javascriptv3/example_code/libs/utils/util-fs.js
  javascriptv3/example_code/package.json
  javascriptv3/example_code/yarn.lock
Labels: lang/javascript-v3, status/has-testing-review

#3886 Use the "https" protocol instead of "http" in SubscribeHTTPS.java
  javav2/example_code/sns/src/main/java/com/example/sns/SubscribeHTTPS.java
Labels: lang/java-v2

#3804 fix(sec): upgrade mysql:mysql-connector-java to 8.0.28
  javav2/example_code/rds/pom.xml
  javav2/usecases/Creating_amazon_aurora_app/pom.xml
  javav2/usecases/workflow_multiple_channels/pom.xml
Labels: lang/java-v2

#3859 Python Keyspaces get started scenario and actions
  .doc_gen/metadata/keyspaces_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/demo_tools/__init__.py
  python/example_code/keyspaces/.gitignore
  python/example_code/keyspaces/README.md
  python/example_code/keyspaces/hello.py
  python/example_code/keyspaces/keyspace.py
  python/example_code/keyspaces/query.py
  python/example_code/keyspaces/requirements.txt
  python/example_code/keyspaces/scenario_get_started_keyspaces.py
  python/example_code/keyspaces/test/conftest.py
  python/example_code/keyspaces/test/test_cleanup.py
  python/example_code/keyspaces/test/test_create_keyspace.py
  python/example_code/keyspaces/test/test_create_table.py
  python/example_code/keyspaces/test/test_ensure_tls_cert.py
  python/example_code/keyspaces/test/test_get_started_keyspaces_integ.py
  python/example_code/keyspaces/test/test_query_table.py
  python/example_code/keyspaces/test/test_update_and_restore_table.py
  python/test_tools/keyspaces_stubber.py
  python/test_tools/stubber_factory.py
Labels: lang/python, status/has-text-review, status/has-testing-review

#3888 New example file for s3 transfer mgr with snippets created for Java Dev Guide
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/CheckingObjectIntegrity.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3BucketDeletion.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/FileUpDownOps.java
  javav2/example_code/s3/src/main/resources/checkstyle.xml
  javav2/example_code/s3/src/main/resources/s3tm.properties
  javav2/example_code/s3/src/test/java/AmazonS3Test.java
  javav2/example_code/s3/src/test/java/com/example/s3/transfermanager/FileUpDownOpsTest.java
Labels: lang/java-v2

#3893 Revert "New example file for s3 transfer mgr with snippets created for Java Dev Guide"
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/CheckingObjectIntegrity.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3BucketDeletion.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/FileUpDownOps.java
  javav2/example_code/s3/src/main/resources/checkstyle.xml
  javav2/example_code/s3/src/main/resources/s3tm.properties
  javav2/example_code/s3/src/test/java/AmazonS3Test.java
  javav2/example_code/s3/src/test/java/com/example/s3/transfermanager/FileUpDownOpsTest.java
Labels: lang/java-v2
