Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-09, with the labels that each got.

#3526 Fix retry config example after breaking change in the Rust SDK
  rust_dev_preview/custom_retries/src/bin/set_retries.rs
Labels: lang/rust

#3563 Add comments to clarify when Boto3 high-level resources are used.
  python/example_code/s3/s3_basics/bucket_wrapper.py
  python/example_code/s3/s3_basics/object_wrapper.py
Labels: lang/python, status/has-text-review

#3568 3411 task fix failed s3 tests
  .github/workflows/cpp-lint.yml
  cpp/.gitignore
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/gtests/CMakeLists.txt
  cpp/example_code/s3/gtests/test_main.cpp
  cpp/example_code/s3/include/awsdoc/s3/s3_examples.h
  cpp/example_code/s3/list_buckets_disabling_dns_cache.cpp
  cpp/example_code/s3/tests/test_delete_bucket_policy.cpp
  cpp/example_code/s3/tests/test_get_put_bucket_acl.cpp
  cpp/example_code/s3/tests/test_list_buckets_disabling_dns_cache.cpp
  cpp/example_code/s3/tests/test_utils.cpp
  cpp/example_code/s3/tests/test_utils.h
Labels: lang/cpp, status/has-testing-review

#3564 Add React front-end for SQS chat examples
  resources/clients/react/sqs-chat/README.md
  resources/clients/react/sqs-chat/babel.config.js
  resources/clients/react/sqs-chat/jest.config.js
  resources/clients/react/sqs-chat/package.json
  resources/clients/react/sqs-chat/public/favicon.ico
  resources/clients/react/sqs-chat/public/index.html
  resources/clients/react/sqs-chat/public/logo192.png
  resources/clients/react/sqs-chat/public/logo512.png
  resources/clients/react/sqs-chat/public/manifest.json
  resources/clients/react/sqs-chat/public/robots.txt
  resources/clients/react/sqs-chat/src/App.js
  resources/clients/react/sqs-chat/src/App.test.js
  resources/clients/react/sqs-chat/src/AwsService.js
  resources/clients/react/sqs-chat/src/ChatItems.js
  resources/clients/react/sqs-chat/src/MessageForm.js
  resources/clients/react/sqs-chat/src/config.json
  resources/clients/react/sqs-chat/src/index.js
  resources/clients/react/sqs-chat/src/reportWebVitals.js
  resources/clients/react/sqs-chat/src/setupTests.js
Labels: lang/all-languages, status/has-text-review, status/has-testing-review

#3571 Update the Java V2 SQS example to use React (No Code Changes on backend)
  javav2/usecases/creating_message_application/Readme.md
  javav2/usecases/creating_message_application/images/clientReact.png
  javav2/usecases/creating_message_application/images/clientReact2.png
  javav2/usecases/creating_message_application/images/messages.png
  javav2/usecases/creating_message_application/images/overview.png
  javav2/usecases/creating_message_application/images/project.png
  javav2/usecases/creating_message_application/pom.xml
  javav2/usecases/creating_message_application/src/main/java/com/example/Message.java
  javav2/usecases/creating_message_application/src/main/java/com/example/MessageApplication.java
  javav2/usecases/creating_message_application/src/main/java/com/example/MessageController.java
  javav2/usecases/creating_message_application/src/main/java/com/example/SendReceiveMessages.java
  javav2/usecases/creating_message_application/src/main/java/com/example/sqs/App.java
  javav2/usecases/creating_message_application/src/main/java/com/example/sqs/MainController.java
  javav2/usecases/creating_message_application/src/main/java/com/example/sqs/MessageData.java
  javav2/usecases/creating_message_application/src/main/java/com/example/sqs/SendReceiveMessages.java
  javav2/usecases/creating_message_application/src/main/resources/public/css/styles.css
  javav2/usecases/creating_message_application/src/main/resources/public/images/av1.png
  javav2/usecases/creating_message_application/src/main/resources/public/images/av2.png
  javav2/usecases/creating_message_application/src/main/resources/public/images/foo.txt
  javav2/usecases/creating_message_application/src/main/resources/public/images/site-logo.png
  javav2/usecases/creating_message_application/src/main/resources/public/js/message.js
  javav2/usecases/creating_message_application/src/main/resources/templates/index.html
  javav2/usecases/creating_message_application/src/main/resources/templates/layout.html
  javav2/usecases/creating_message_application/src/main/resources/templates/message.html
Labels: lang/java-v2, status/has-text-review

#3246 add code snippet to clarify how to set location constraint directly
  cpp/example_code/s3/create_bucket.cpp
Labels: lang/cpp

#3575 Update the Kotlin Aurora Serverless example to use React (No Backend changes)
  .doc_gen/metadata/rds_metadata.yaml
  cross_RDSDataTracker_Kotlin_block.xml
  kotlin/Readme.md
  kotlin/usecases/Readme.md
  kotlin/usecases/serverless_rds/Readme.md
  kotlin/usecases/serverless_rds/build.gradle.kts
  kotlin/usecases/serverless_rds/images/Active.png
  kotlin/usecases/serverless_rds/images/Active1.png
  kotlin/usecases/serverless_rds/images/Active2.png
  kotlin/usecases/serverless_rds/images/activeItems.png
  kotlin/usecases/serverless_rds/images/archive.png
  kotlin/usecases/serverless_rds/images/archive2.png
  kotlin/usecases/serverless_rds/images/archive3.png
  kotlin/usecases/serverless_rds/images/browser.png
  kotlin/usecases/serverless_rds/images/email.png
  kotlin/usecases/serverless_rds/images/jsondata.png
  kotlin/usecases/serverless_rds/images/jsondataBS.png
  kotlin/usecases/serverless_rds/images/newitem.png
  kotlin/usecases/serverless_rds/images/overview.png
  kotlin/usecases/serverless_rds/images/report2.png
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/DemoApplication.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/InjectWorkService.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/RetrieveItems.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/SendMessage.kt
Labels: lang/kotlin, status/has-text-review

#3591 SOS Pull Request
  .doc_gen/cross-content/cross_RDSDataTracker_Kotlin_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/pinpoint-sms-voice_metadata.yaml
  .doc_gen/metadata/sesv2_metadata.yaml
  .doc_gen/metadata/sfn_metadata.yaml
  kotlin/Readme.md
Labels: lang/kotlin

#3603 Updated SNS Java examples
  .doc_gen/cross-content/cross_RDSDataTracker_Java_block.xml
  javav2/example_code/sns/src/main/java/com/example/sns/CreateFIFOTopic.java
  javav2/example_code/sns/src/main/java/com/example/sns/RegistrationExample.java
  kotlin/usecases/serverless_rds/images/activeitems.png
Labels: lang/java-v2, lang/kotlin

#3606 Update sns_metadata.yaml
  .doc_gen/cross-content/cross_SQSMessage_Java_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sns_metadata.yaml
  javav2/usecases/creating_message_application/Readme.md
  javav2/usecases/creating_message_application/src/main/java/com/example/sqs/SendReceiveMessages.java
Labels: lang/java-v2

#3599 Php glue mvp
  .doc_gen/metadata/glue_metadata.yaml
  .gitignore
  php/example_code/aws_utilities/AWSServiceClass.php
  php/example_code/composer.json
  php/example_code/glue/GettingStartedWithGlue.php
  php/example_code/glue/GlueBasicsTests.php
  php/example_code/glue/GlueService.php
  php/example_code/glue/Readme.md
  php/example_code/glue/Runner.php
  php/example_code/glue/composer.json
  php/example_code/glue/composer.lock
  php/example_code/glue/flight_etl_job_script.py
  php/example_code/glue/setup_scenario_getting_started.yaml
  php/example_code/phpunit.xml
Labels: lang/php

#3593 Simplify waiting logic in Rust DynamoDB examples
  rust_dev_preview/dynamodb/src/bin/crud.rs
  rust_dev_preview/dynamodb/src/bin/movies.rs
Labels: lang/rust

#3619 Add the SQS MS App to SOS
  .doc_gen/cross-content/cross_SQSMessage_Java_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sns_metadata.yaml
  javav2/example_code/sns/src/main/java/com/example/sns/RegistrationExample.java
  javav2/usecases/creating_message_application/Readme.md
  javav2/usecases/creating_message_application/src/main/java/com/example/sqs/SendReceiveMessages.java
Labels: lang/java-v2

#3602 Fixing V3 Typo in S3 Readme
  gov2/s3/README.md
Labels: lang/go-v2

#3622 Fixed misspellings
  javascriptv3/example_code/dynamodb/README.md
Labels: lang/javascript-v3

#3627 Add comments from Todd into SQS example
  javav2/usecases/creating_message_application/Readme.md
  javav2/usecases/creating_message_application/pom.xml
  javav2/usecases/creating_message_application/src/main/java/com/example/sqs/SendReceiveMessages.java
Labels: lang/java-v2

#3394 Transcribe example scenario for cpp
  cpp/example_code/transcribe/CMakeLists.txt
  cpp/example_code/transcribe/README.md
  cpp/example_code/transcribe/get_transcript.cpp
  cpp/example_code/transcribe/transcribe-test-file.wav
Labels: lang/cpp, priority/medium

#3598 Dotnetv3 Transcribe examples
  .doc_gen/metadata/transcribe-medical_metadata.yaml
  .doc_gen/metadata/transcribe_metadata.yaml
  dotnetv3/Transcribe/Actions/.media/Jabberwocky.mp3
  dotnetv3/Transcribe/Actions/ActionExamples.cs
  dotnetv3/Transcribe/Actions/TranscribeActions.csproj
  dotnetv3/Transcribe/Actions/TranscribeWrapper.MedicalTranscriptions.cs
  dotnetv3/Transcribe/Actions/TranscribeWrapper.Vocabularies.cs
  dotnetv3/Transcribe/Actions/TranscribeWrapper.cs
  dotnetv3/Transcribe/README.md
  dotnetv3/Transcribe/Tests/TranscribeExampleTests.cs
  dotnetv3/Transcribe/Tests/TranscribeTests.csproj
  dotnetv3/Transcribe/Tests/Usings.cs
  dotnetv3/Transcribe/Tests/testsettings.json
  dotnetv3/Transcribe/TranscribeExamples.sln
  scripts/checkin_tests.py
Labels: lang/dotnet-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#3631 Redshift yaml
  .doc_gen/metadata/redshift_metadata.yaml
  .doc_gen/metadata/services.yaml
  javascriptv3/example_code/redshift/README.md
Labels: lang/javascript-v3

#3604 Update SOS templates to include a Hello <service> example
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  python/example_code/s3/s3_basics/README.md
  python/example_code/s3/s3_basics/hello.py
Labels: lang/python, status/has-text-review

#3633 Revert "Transcribe example scenario for cpp"
  cpp/example_code/transcribe/CMakeLists.txt
  cpp/example_code/transcribe/README.md
  cpp/example_code/transcribe/get_transcript.cpp
  cpp/example_code/transcribe/transcribe-test-file.wav
Labels: lang/cpp

#3634 Add the Kotlin SQS Example
  kotlin/Readme.md
  kotlin/usecases/creating_message_application/Readme.md
  kotlin/usecases/creating_message_application/build.gradle.kts
  kotlin/usecases/creating_message_application/images/clientReact.png
  kotlin/usecases/creating_message_application/images/clientReact2.png
  kotlin/usecases/creating_message_application/images/messages.png
  kotlin/usecases/creating_message_application/images/overview.png
  kotlin/usecases/creating_message_application/images/overviewred.png
  kotlin/usecases/creating_message_application/images/t.txt
  kotlin/usecases/creating_message_application/src/main/kotlin/com/example/sqs/App.kt
  kotlin/usecases/creating_message_application/src/main/kotlin/com/example/sqs/MessageData.kt
  kotlin/usecases/creating_message_application/src/main/kotlin/com/example/sqs/SendReceiveMessages.kt
Labels: lang/kotlin, status/has-text-review

#3625 EnhancedGetItem edited to make parameter type explicit
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedGetItem.java
  javav2/example_code/dynamodb/src/main/resources/config.properties
  javav2/example_code/dynamodb/src/test/java/EnhancedClientTest.java
Labels: lang/java-v2

#3626 Rust s3 multiupload
  .doc_gen/metadata/s3_metadata.yaml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/s3/README.md
  rust_dev_preview/s3/src/bin/s3-getting-started.rs
  rust_dev_preview/s3/src/bin/s3-multipart-upload.rs
  rust_dev_preview/s3/src/s3-service-lib.rs
  rust_dev_preview/s3/tests/test-s3-getting-started.rs
  rust_dev_preview/s3/tests/test-s3-multipart-upload.rs
Labels: lang/rust, status/has-text-review, status/has-testing-review

#3650 Redshift Java/Kotlin SOS
  .doc_gen/cross-content/cross_RedshiftDataTracker_Java_block.xml
  .doc_gen/cross-content/cross_RedshiftDataTracker_Kotlin_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/redshift_metadata.yaml
  javav2/example_code/redshift/src/main/java/com/example/redshift/CreateAndModifyCluster.java
  kotlin/services/redshift/src/main/kotlin/com/kotlin/redshift/CreateAndModifyCluster.kt
Labels: lang/java-v2, lang/kotlin

#3648 Amazon Lookout for Vision image segmentation Java 2 examples
  javav2/example_code/lookoutvision/Readme.md
  javav2/example_code/lookoutvision/pom.xml
  javav2/example_code/lookoutvision/src/main/java/com/example/lookoutvision/DetectAnomalies.java
  javav2/example_code/lookoutvision/src/main/java/com/example/lookoutvision/ShowAnomalies.java
  javav2/example_code/lookoutvision/src/main/resources/analysis-config.json
  javav2/example_code/lookoutvision/src/main/resources/config.properties
  javav2/example_code/lookoutvision/src/test/java/LookoutVisionTest.java
Labels: lang/java-v2

#3646 Adjust DynamoDB Batch Write Request to work with 2 tables
  javav2/example_code/dynamodb/pom.xml
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedBatchWriteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedPutItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/Music.java
  javav2/example_code/dynamodb/src/main/resources/config.properties
  javav2/example_code/dynamodb/src/test/java/DynamoDBTest.java
  javav2/example_code/dynamodb/src/test/java/EnhancedClientTest.java
Labels: lang/java-v2

#3654 Bugfixes for Ruby examples: Transcoder, CloudTrail, & S3
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/example_code/cloudtrail/README.md
  ruby/example_code/cloudtrail/aws-ruby-sdk-cloudtrail-example-create-trail.rb
  ruby/example_code/cloudtrail/aws-ruby-sdk-cloudtrail-example-delete-trail.rb
  ruby/example_code/cloudtrail/aws-ruby-sdk-cloudtrail-example-describe-trails.rb
  ruby/example_code/cloudtrail/aws-ruby-sdk-cloudtrail-example-lookup-events.rb
  ruby/example_code/cloudtrail/create_trail.rb
  ruby/example_code/cloudtrail/delete_trail.rb
  ruby/example_code/cloudtrail/describe_trails.rb
  ruby/example_code/cloudtrail/lookup_events.rb
  ruby/example_code/cloudtrail/specs/cloudtrail_spec.rb
  ruby/example_code/demo.txt
  ruby/example_code/elastictranscoder/.Jabberwocky.mp3
  ruby/example_code/elastictranscoder/HlsJobCreationSample.rb
  ruby/example_code/elastictranscoder/JobStatusNotificationSample.rb
  ruby/example_code/elastictranscoder/README.md
  ruby/example_code/elastictranscoder/create_job.rb
  ruby/example_code/elastictranscoder/create_job_status_notification.rb
  ruby/example_code/elastictranscoder/specs/elastictranscoder_spec.rb
  ruby/example_code/elastictranscoder/sqs_queue_notification_worker.rb
  ruby/example_code/s3/scenario_getting_started.rb
  ruby/example_code/s3/spec/scenario_getting_started_spec.rb
Labels: lang/ruby, status/has-testing-review

#3643 Refactor lambda example client creation
  rust_dev_preview/lambda/README.md
  rust_dev_preview/lambda/src/bin/change-java-runtime.rs
  rust_dev_preview/lambda/src/bin/invoke-function.rs
  rust_dev_preview/lambda/src/bin/list-all-function-runtimes.rs
  rust_dev_preview/lambda/src/bin/list-functions.rs
  rust_dev_preview/lambda/src/lib.rs
Labels: lang/rust

#3653 Update Opts handling for DynamoDB legacy MVPs
  rust_dev_preview/dynamodb/src/bin/add-item.rs
  rust_dev_preview/dynamodb/src/bin/are-more-tables.rs
  rust_dev_preview/dynamodb/src/bin/create-table.rs
  rust_dev_preview/dynamodb/src/bin/delete-item.rs
  rust_dev_preview/dynamodb/src/bin/delete-table.rs
  rust_dev_preview/dynamodb/src/bin/list-items.rs
  rust_dev_preview/dynamodb/src/bin/list-more-tables.rs
  rust_dev_preview/dynamodb/src/bin/list-tables-local.rs
  rust_dev_preview/dynamodb/src/bin/list-tables.rs
  rust_dev_preview/dynamodb/src/bin/list10-tables.rs
  rust_dev_preview/dynamodb/src/lib.rs
  rust_dev_preview/dynamodb/src/scenario/add.rs
  rust_dev_preview/dynamodb/src/scenario/create.rs
  rust_dev_preview/dynamodb/src/scenario/delete.rs
  rust_dev_preview/dynamodb/src/scenario/list.rs
  rust_dev_preview/dynamodb/src/scenario/mod.rs
Labels: lang/rust

#3666 Fix link extension
  rust_dev_preview/cognitoidentity/README.md
Labels: lang/rust

#3671 Consolidate several retry examples into sdk_config folder
  rust_dev_preview/Cargo.toml
  rust_dev_preview/sdk-config/Cargo.toml
  rust_dev_preview/sdk-config/src/bin/disable_retries.rs
  rust_dev_preview/sdk-config/src/bin/set_retries.rs
  rust_dev_preview/sdk-config/src/bin/timeouts.rs
Labels: lang/rust

#3629 Break hello_world into find_first_queue, list, and receive
  .doc_gen/metadata/sqs_metadata.yaml
  rust_dev_preview/sqs/src/bin/sqs-hello-world.rs
Labels: lang/rust

#3644 Python RDS and Aurora MVPs
  .doc_gen/metadata/aurora_metadata.yaml
  .doc_gen/metadata/rds_metadata.yaml
  .doc_gen/metadata/services.yaml
  .github/linters/.python-lint
  python/demo_tools/question.py
  python/example_code/aurora/README.md
  python/example_code/aurora/aurora_wrapper.py
  python/example_code/aurora/scenario_get_started_aurora.py
  python/example_code/aurora/test/conftest.py
  python/example_code/aurora/test/test_get_started_aurora_cleanup.py
  python/example_code/aurora/test/test_get_started_aurora_create_cluster.py
  python/example_code/aurora/test/test_get_started_aurora_create_instance.py
  python/example_code/aurora/test/test_get_started_aurora_create_parameter_group.py
  python/example_code/aurora/test/test_get_started_aurora_create_snapshot.py
  python/example_code/aurora/test/test_get_started_aurora_display_connection.py
  python/example_code/aurora/test/test_get_started_aurora_integ.py
  python/example_code/aurora/test/test_get_started_aurora_set_user_parameters.py
  python/example_code/rds/README.md
  python/example_code/rds/instance_wrapper.py
  python/example_code/rds/scenario_get_started_instances.py
  python/example_code/rds/test/conftest.py
  python/example_code/rds/test/test_get_started_instances_cleanup.py
  python/example_code/rds/test/test_get_started_instances_create_instance.py
  python/example_code/rds/test/test_get_started_instances_create_parameter_group.py
  python/example_code/rds/test/test_get_started_instances_create_snapshot.py
  python/example_code/rds/test/test_get_started_instances_display_connection.py
  python/example_code/rds/test/test_get_started_instances_integ.py
  python/example_code/rds/test/test_get_started_instances_update_parameters.py
  python/test_tools/fixtures/common.py
  python/test_tools/rds_stubber.py
  python/test_tools/run_all_tests.py
Labels: lang/python, status/has-testing-review

#3678 Fix empty project with Cargo.toml
  rust_dev_preview/setting-timeouts/Cargo.toml
Labels: lang/rust

#3683 Add s3.cpp.put_bucket_policy01.code back
  .doc_gen/metadata/s3_metadata.yaml
  cpp/example_code/s3/put_bucket_policy.cpp
Labels: type/bug, lang/cpp

#3645 Transcribe annapan
  cpp/example_code/transcribe/.media/transcribe-test-file.wav
  cpp/example_code/transcribe/CMakeLists.txt
  cpp/example_code/transcribe/README.md
  cpp/example_code/transcribe/get_transcript.cpp
Labels: lang/cpp, status/has-text-review

#3672 Updating Go URL presigning with expiration
  gov2/s3/common/main.go
Labels: lang/go-v2

#3684 RDS instance scenario for .NET
  .doc_gen/metadata/rds_metadata.yaml
  dotnetv3/RDS/Actions/RDSActions.csproj
  dotnetv3/RDS/Actions/RDSWrapper.Instances.cs
  dotnetv3/RDS/Actions/RDSWrapper.ParameterGroups.cs
  dotnetv3/RDS/Actions/RDSWrapper.Snapshots.cs
  dotnetv3/RDS/RDSExamples.sln
  dotnetv3/RDS/README.md
  dotnetv3/RDS/Scenarios/RDSInstanceScenario/RDSInstanceScenario.cs
  dotnetv3/RDS/Scenarios/RDSInstanceScenario/RDSInstanceScenario.csproj
  dotnetv3/RDS/Tests/RDSInstanceScenarioTests.cs
  dotnetv3/RDS/Tests/RDSTests.csproj
  dotnetv3/RDS/Tests/Usings.cs
  dotnetv3/RDS/Tests/testsettings.json
Labels: lang/dotnet-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#3709 Rust/edition/2021
  rust_dev_preview/apigateway/Cargo.toml
  rust_dev_preview/apigatewaymanagement/Cargo.toml
  rust_dev_preview/applicationautoscaling/Cargo.toml
  rust_dev_preview/autoscaling/Cargo.toml
  rust_dev_preview/autoscaling/src/bin/delete-autoscaling-group.rs
  rust_dev_preview/autoscalingplans/Cargo.toml
  rust_dev_preview/batch/Cargo.toml
  rust_dev_preview/ca-certs/Cargo.toml
  rust_dev_preview/cloudformation/Cargo.toml
  rust_dev_preview/cloudwatch/Cargo.toml
  rust_dev_preview/cloudwatchlogs/Cargo.toml
  rust_dev_preview/cognitoidentity/Cargo.toml
  rust_dev_preview/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/cognitosync/Cargo.toml
  rust_dev_preview/config/Cargo.toml
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/ebs/Cargo.toml
  rust_dev_preview/ec2/Cargo.toml
  rust_dev_preview/ecr/Cargo.toml
  rust_dev_preview/ecs/Cargo.toml
  rust_dev_preview/eks/Cargo.toml
  rust_dev_preview/globalaccelerator/Cargo.toml
  rust_dev_preview/greengrassv2/Cargo.toml
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/iot/Cargo.toml
  rust_dev_preview/kinesis/Cargo.toml
  rust_dev_preview/kms/Cargo.toml
  rust_dev_preview/lambda/Cargo.toml
  rust_dev_preview/lambda/src/bin/list-all-function-runtimes.rs
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/logging/logger/Cargo.toml
  rust_dev_preview/logging/tracing/Cargo.toml
  rust_dev_preview/medialive/Cargo.toml
  rust_dev_preview/mediapackage/Cargo.toml
  rust_dev_preview/polly/Cargo.toml
  rust_dev_preview/qldb/Cargo.toml
  rust_dev_preview/rds/Cargo.toml
  rust_dev_preview/rdsdata/Cargo.toml
  rust_dev_preview/route53/Cargo.toml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/sagemaker/Cargo.toml
  rust_dev_preview/sdk-config/Cargo.toml
  rust_dev_preview/secretsmanager/Cargo.toml
  rust_dev_preview/sending-presigned-requests/Cargo.toml
  rust_dev_preview/ses/Cargo.toml
  rust_dev_preview/snowball/Cargo.toml
  rust_dev_preview/sns/Cargo.toml
  rust_dev_preview/sqs/Cargo.toml
  rust_dev_preview/ssm/Cargo.toml
  rust_dev_preview/stepfunction/Cargo.toml
  rust_dev_preview/testing/Cargo.toml
  rust_dev_preview/tls/Cargo.toml
  rust_dev_preview/transcribestreaming/Cargo.toml
  rust_dev_preview/using-native-tls-instead-of-rustls/Cargo.toml
Labels: lang/rust

#3251 Add new code examples for get/create secrets in Secrets Manager with C++ SDK
  .doc_gen/metadata/secrets-manager_metadata.yaml
  cpp/example_code/secretsmanager/CMakeLists.txt
  cpp/example_code/secretsmanager/README.md
  cpp/example_code/secretsmanager/create_secret_with_string.cpp
  cpp/example_code/secretsmanager/get_secret_value.cpp
Labels: lang/cpp

#3710 Fix broken unit DDB item tracker unit test.
  python/cross_service/dynamodb_item_tracker/test/test_app.py
Labels: type/bug, lang/python

#3673 Swift test modules: Add ValueList type for displaying output
  swift/modules/SwiftUtilities/Package.swift
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/ValueList.swift
  swift/modules/SwiftUtilities/Tests/SwiftUtilitiesTests/ValueListTests.swift
Labels: lang/swift, status/has-text-review, status/has-testing-review

#3704 Php lambda mvp
  .doc_gen/metadata/lambda_metadata.yaml
  php/example_code/composer.json
  php/example_code/composer.lock
  php/example_code/iam/iam_basics/tests/IAMBasicsTests.php
  php/example_code/lambda/GettingStartedWithLambda.php
  php/example_code/lambda/LambdaService.php
  php/example_code/lambda/LambdaTests.php
  php/example_code/lambda/Readme.md
  php/example_code/lambda/Runner.php
  php/example_code/lambda/composer.json
  php/example_code/lambda/composer.lock
  php/example_code/lambda/lambda_handler_basic.zip
  php/example_code/lambda/lambda_handler_calculator.zip
  php/example_code/phpunit.xml
Labels: lang/php

#3705 3498 c++ dynamodb mvp
  .doc_gen/metadata/dynamodb_metadata.yaml
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/Readme.md
  cpp/example_code/dynamodb/dyanamodb_samples.h
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/gtests/CMakeLists.txt
  cpp/example_code/dynamodb/gtests/dynamodb_gtests.cpp
  cpp/example_code/dynamodb/gtests/dynamodb_gtests.h
  cpp/example_code/dynamodb/gtests/gtest_dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/gtests/test_main.cpp
Labels: lang/cpp, status/has-text-review, status/has-testing-review

#3713 Update Lambda MVP readme to fix incorrect instructions.
  javascriptv3/example_code/lambda/scenarios/basic/README.md
Labels: lang/javascript-v3
