Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-12, with the labels that each got.

#4028 Revert "Clean up CloudWatch examples."
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/cloudwatch/actions/delete-alarms.js
  javascriptv3/example_code/cloudwatch/actions/describe-alarms.js
  javascriptv3/example_code/cloudwatch/actions/disable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/enable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/list-metrics.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-alarm.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-data.js
  javascriptv3/example_code/cloudwatch/libs/client.js
  javascriptv3/example_code/cloudwatch/libs/cloudwatch-helper.js
  javascriptv3/example_code/cloudwatch/libs/ec2-helper.js
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/cloudwatch/src/deleteAlarms.js
  javascriptv3/example_code/cloudwatch/src/describeAlarms.js
  javascriptv3/example_code/cloudwatch/src/disableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/enableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/libs/cloudWatchClient.js
  javascriptv3/example_code/cloudwatch/src/listMetrics.js
  javascriptv3/example_code/cloudwatch/src/package.json
  javascriptv3/example_code/cloudwatch/src/putMetricAlarm.js
  javascriptv3/example_code/cloudwatch/src/putMetricData.js
  javascriptv3/example_code/cloudwatch/tests/babel.config.js
  javascriptv3/example_code/cloudwatch/tests/delete-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/deleteAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/describe-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/describeAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/disable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/disableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/enable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/enableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/jest.config.js
  javascriptv3/example_code/cloudwatch/tests/list-metrics.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/listMetrics.test.js
  javascriptv3/example_code/cloudwatch/tests/package.json
  javascriptv3/example_code/cloudwatch/tests/put-metric-alarm.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/put-metric-data.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/putMetricAlarm.test.js
  javascriptv3/example_code/cloudwatch/yarn.lock
  javascriptv3/example_code/tests/cloudwatch/cw_deletealarms.test.js
  javascriptv3/example_code/tests/cloudwatch/cw_describealarms.test.js
  javascriptv3/example_code/tests/cloudwatch/cw_disablealarmactions.test.js
  javascriptv3/example_code/tests/cloudwatch/cw_enablealarmactions.test.js
  javascriptv3/example_code/tests/cloudwatch/cw_listmetrics.test.js
  javascriptv3/example_code/tests/cloudwatch/cw_putmetricalarm.test.js
  javascriptv3/example_code/tests/cloudwatch/cw_putmetricdata.test.js
  javascriptv3/example_code/tests/cloudwatch/package.json
Labels: type/sos, lang/javascript-v3

#4006 Add Route 53 Domain MVP
  .doc_gen/metadata/route53domains_metadata.yaml
  javav2/example_code/ec2/src/main/java/com/example/ec2/Route53Scenario.java
  javav2/example_code/route53/Readme.md
  javav2/example_code/route53/src/main/java/com/example/route/Route53Hello.java
  javav2/example_code/route53/src/main/java/com/example/route/Route53Scenario.java
  javav2/example_code/route53/src/main/resources/config.properties
  javav2/example_code/route53/src/test/java/Route53Test.java
Labels: lang/java-v2, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review

#4016 3587 c++ glue mvp
  .doc_gen/metadata/glue_metadata.yaml
  cpp/example_code/dynamodb/dynamodb_utils.cpp
  cpp/example_code/glue/CMakeLists.txt
  cpp/example_code/glue/README.md
  cpp/example_code/glue/flight_etl_job_script.py
  cpp/example_code/glue/glue_getting_started_scenario.cpp
  cpp/example_code/glue/glue_samples.h
  cpp/example_code/glue/glue_utilities.cpp
  cpp/example_code/glue/tests/CMakeLists.txt
  cpp/example_code/glue/tests/glue_gtests.cpp
  cpp/example_code/glue/tests/glue_gtests.h
  cpp/example_code/glue/tests/gtest_glue_getting_started_scenario.cpp
  cpp/example_code/glue/tests/test_main.cpp
Labels: lang/cpp, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review

#4001 Go S3 MVP + presigning + cleanup
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .github/workflows/golangci-lint.yml
  gov2/s3/.gitignore
  gov2/s3/.nocitest
  gov2/s3/GetBucketAcl/GetBucketAclv2.go
  gov2/s3/GetBucketAcl/GetBucketAclv2_test.go
  gov2/s3/GetBucketAcl/README.md
  gov2/s3/GetBucketAcl/config.json
  gov2/s3/GetObjectAcl/GetObjectAclv2.go
  gov2/s3/GetObjectAcl/GetObjectAclv2_test.go
  gov2/s3/GetObjectAcl/README.md
  gov2/s3/GetObjectAcl/config.json
  gov2/s3/README.md
  gov2/s3/actions/bucket_basics.go
  gov2/s3/actions/presigner.go
  gov2/s3/cmd/main.go
  gov2/s3/common/.nocitest
  gov2/s3/common/go.mod
  gov2/s3/common/go.sum
  gov2/s3/common/image.jpg
  gov2/s3/common/main.go
  gov2/s3/common/main_test.go
  gov2/s3/go.mod
  gov2/s3/go.sum
  gov2/s3/hello/hello.go
  gov2/s3/metadata.yaml
  gov2/s3/scenarios/scenario_get_started.go
  gov2/s3/scenarios/scenario_get_started_integ_test.go
  gov2/s3/scenarios/scenario_get_started_test.go
  gov2/s3/scenarios/scenario_presigning.go
  gov2/s3/scenarios/scenario_presigning_integ_test.go
  gov2/s3/scenarios/scenario_presigning_test.go
  gov2/s3/stubs/bucket_basics_stubs.go
Labels: lang/go-v2, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review, type/github-settings

#4012 Fix typos
  javascriptv3/example_code/pinpoint/README.md
Labels: lang/javascript-v3, status/has-code-review

#4059 Fix some Python gitignore issues
  python/.gitignore
  python/cross_service/dynamodb_item_tracker/.gitignore
  python/cross_service/dynamodb_item_tracker/config.py
Labels: type/bug, lang/python

#4014 New Checkin test for sample files
  resources/sample_files/.sample_media/speech_sample.mp3
  resources/sample_files/README.md
  scripts/checkin_tests.py
Labels: status/has-code-review, status/has-text-review

#4025 Fix Rust examples after breaking changes
  rust_dev_preview/apigatewaymanagement/Cargo.toml
  rust_dev_preview/apigatewaymanagement/src/bin/post_to_connection.rs
  rust_dev_preview/ca-certs/Cargo.toml
  rust_dev_preview/ca-certs/src/main.rs
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/tests/api/startup.rs
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/localstack/src/bin/use-localstack.rs
  rust_dev_preview/tls/Cargo.toml
  rust_dev_preview/tls/src/lib.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4024 Abap sdk edits (round 2)
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.abap
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.testclasses.abap
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.xml
  sap-abap/services/lambda/zcl_aws1_lmd_scenario.clas.abap
  sap-abap/services/lambda/zcl_aws1_lmd_scenario.clas.xml
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.xml
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.xml
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.testclasses.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.xml
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.testclasses.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.xml
Labels: status/has-text-review

#4032 Abap edits 3
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.abap
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.xml
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.abap
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.testclasses.abap
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.xml
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.abap
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.testclasses.abap
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.xml
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.abap
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.testclasses.abap
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.xml
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.testclasses.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.xml
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.abap
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.testclasses.abap
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.xml
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.abap
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.testclasses.abap
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.xml
Labels: status/has-text-review

#3986 Aurora app for Ruby
  .github/linters/.ruby-lint.yml
  ruby/.ruby-version
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/cross_service_examples/item_tracker/.gitignore
  ruby/cross_service_examples/item_tracker/README.md
  ruby/cross_service_examples/item_tracker/architecture_diagram.png
  ruby/cross_service_examples/item_tracker/env/config.yml
  ruby/cross_service_examples/item_tracker/env/setup_scripts/create_table.rb
  ruby/cross_service_examples/item_tracker/env/setup_scripts/populate_table.rb
  ruby/cross_service_examples/item_tracker/spec/aurora_actions_spec.rb
  ruby/cross_service_examples/item_tracker/src/app.rb
  ruby/cross_service_examples/item_tracker/src/aurora.rb
  ruby/cross_service_examples/item_tracker/src/report.rb
  ruby/cross_service_examples/item_tracker/templates/report.html.erb
  ruby/cross_service_examples/item_tracker/templates/report.txt
Labels: lang/ruby, status/ready-to-merge, status/has-code-review, status/has-text-review

#4033 Fix compile error in one test in S3 C++
  cpp/example_code/s3/gtests/gtest_s3_demo_for_cloud9.cpp
Labels: lang/cpp, status/needs-code-review

#4037 Add Kotlin Route53 MVP
  .doc_gen/metadata/route53domains_metadata.yaml
  kotlin/services/route53/Readme.md
  kotlin/services/route53/build.gradle.kts
  kotlin/services/route53/src/main/kotlin/com/kotlin/route/HelloRoute53.kt
  kotlin/services/route53/src/main/kotlin/com/kotlin/route/Route53Scenario.kt
  kotlin/services/route53/src/main/resources/config.properties
  kotlin/services/route53/src/test/kotlin/Route53Test.kt
Labels: lang/kotlin, type/sos, status/has-text-review, type/mvp

#4060 3996 c++ lambda mvp
  .doc_gen/metadata/lambda_metadata.yaml
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/glue/glue_getting_started_scenario.cpp
  cpp/example_code/lambda/CMakeLists.txt
  cpp/example_code/lambda/README.md
  cpp/example_code/lambda/doc_example_lambda_calculator.zip
  cpp/example_code/lambda/doc_example_lambda_increment.zip
  cpp/example_code/lambda/get_started_with_functions_scenario.cpp
  cpp/example_code/lambda/helloLambdaWorld.zip
  cpp/example_code/lambda/lambda_example.cpp
  cpp/example_code/lambda/lambda_samples.h
  cpp/example_code/lambda/tests/CMakeLists.txt
  cpp/example_code/lambda/tests/gtest_get_started_with_functions_scenario.cpp
  cpp/example_code/lambda/tests/lambda_gtests.cpp
  cpp/example_code/lambda/tests/lambda_gtests.h
  cpp/example_code/lambda/tests/test_main.cpp
Labels: lang/cpp, type/sos, status/ready-to-merge, status/has-text-review, status/has-testing-review

#4061 Add maximum length option for unique names
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/String_uniqueName.swift
  swift/modules/SwiftUtilities/Tests/SwiftUtilitiesTests/UniqueNameStringTests.swift
Labels: status/ready-to-merge, lang/swift, status/has-code-review, status/has-text-review, status/has-testing-review

#4063 adding RDS examples for Ruby to SOS
  .doc_gen/metadata/rds_metadata.yaml
Labels: type/sos, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4073 Add Java V2 Keyspaces examples
  .doc_gen/metadata/keyspaces_metadata.yaml
  javav2/example_code/keyspaces/Readme.md
  javav2/example_code/keyspaces/pom.xml
  javav2/example_code/keyspaces/src/main/java/com/example/keyspace/HelloKeyspaces.java
  javav2/example_code/keyspaces/src/main/java/com/example/keyspace/ScenarioKeyspaces.java
  javav2/example_code/keyspaces/src/test/java/KeyspaceTest.java
Labels: lang/java-v2, type/sos, status/has-text-review

#4031 Bug/rust/s3/if modified since
  .doc_gen/metadata/s3_metadata.yaml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/s3/src/bin/if-modified-since.rs
  rust_dev_preview/s3/tests/test-s3-getting-started.rs
Labels: lang/rust, type/sos, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4077 Update Kotlin Gradle Build files (No Code changes)
  kotlin/services/appsync/build.gradle.kts
  kotlin/services/athena/build.gradle.kts
  kotlin/services/autoscale/build.gradle.kts
  kotlin/services/cloudformation/build.gradle.kts
  kotlin/services/cloudtrail/build.gradle.kts
  kotlin/services/cloudwatch/build.gradle.kts
  kotlin/services/codepipeline/build.gradle.kts
  kotlin/services/cognito/build.gradle.kts
  kotlin/services/comprehend/build.gradle.kts
  kotlin/services/dynamodb/build.gradle.kts
  kotlin/services/ec2/build.gradle.kts
Labels: lang/kotlin

#4078 fix: examples that were preventing SDK release
  .github/workflows/rust.yml
  rust-toolchain.toml
  rust_dev_preview/eks/src/bin/create-cluster.rs
  rust_dev_preview/eks/src/bin/create-delete-cluster.rs
  rust_dev_preview/eks/src/bin/list-clusters.rs
  rust_dev_preview/glue/Cargo.toml
  rust_dev_preview/glue/src/cleanup.rs
  rust_dev_preview/glue/src/prepare.rs
  rust_dev_preview/glue/src/run.rs
  rust_dev_preview/greengrassv2/src/bin/list-core-devices.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review, type/github-settings

#4080 Revert "fix: examples that were preventing SDK release"
  .github/workflows/rust.yml
  rust-toolchain.toml
  rust_dev_preview/eks/src/bin/create-cluster.rs
  rust_dev_preview/eks/src/bin/create-delete-cluster.rs
  rust_dev_preview/eks/src/bin/list-clusters.rs
  rust_dev_preview/glue/Cargo.toml
  rust_dev_preview/glue/src/cleanup.rs
  rust_dev_preview/glue/src/prepare.rs
  rust_dev_preview/glue/src/run.rs
  rust_dev_preview/greengrassv2/src/bin/list-core-devices.rs
Labels: lang/rust, type/github-settings

#4084 Update Kotlin Build files (No Code Changes)
  kotlin/services/mediastore/build.gradle.kts
  kotlin/services/opensearch/build.gradle.kts
  kotlin/services/personalize/build.gradle.kts
  kotlin/services/pinpoint/build.gradle.kts
  kotlin/services/polly/build.gradle.kts
  kotlin/services/rds/build.gradle.kts
  kotlin/services/redshift/build.gradle.kts
  kotlin/services/rekognition/build.gradle.kts
  kotlin/services/route53/build.gradle.kts
  kotlin/services/s3/build.gradle.kts
  kotlin/services/sagemaker/build.gradle.kts
  kotlin/services/secretsmanager/build.gradle.kts
  kotlin/services/ses/build.gradle.kts
  kotlin/services/sns/build.gradle.kts
  kotlin/services/sqs/build.gradle.kts
  kotlin/services/stepfunctions/build.gradle.kts
  kotlin/services/sts/build.gradle.kts
  kotlin/services/support/build.gradle.kts
  kotlin/services/textract/build.gradle.kts
  kotlin/services/translate/build.gradle.kts
  kotlin/services/xray/build.gradle.kts
Labels: lang/kotlin

#4083 update: Rust example CI to target 1.62.1
  .github/workflows/rust.yml
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/eks/src/bin/create-cluster.rs
  rust_dev_preview/eks/src/bin/create-delete-cluster.rs
  rust_dev_preview/eks/src/bin/list-clusters.rs
  rust_dev_preview/glue/Cargo.toml
  rust_dev_preview/greengrassv2/src/bin/list-core-devices.rs
  rust_dev_preview/rust-toolchain.toml
  rust_dev_preview/tls/tests/test-tls.rs
Labels: lang/rust, type/github-settings

#4081 Fix S3 multipart upload example
  javascriptv3/example_code/s3/src/s3_multipartupload.js
  javascriptv3/example_code/s3/tests/s3_delete_all_objects.test.js
  javascriptv3/example_code/s3/tests/s3_multipartupload.test.js
  javascriptv3/example_code/s3/tests/yarn.lock
Labels: lang/javascript-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#4087 fix: glue example
  rust_dev_preview/glue/Cargo.toml
  rust_dev_preview/glue/src/cleanup.rs
  rust_dev_preview/glue/src/prepare.rs
  rust_dev_preview/glue/src/run.rs
Labels: lang/rust

#3916 update Rust "ca-certs" example to work with changes from smithy-rs#1918
  rust_dev_preview/Cargo.toml
  rust_dev_preview/custom-root-certificates/Cargo.toml
  rust_dev_preview/custom-root-certificates/src/main.rs
Labels: lang/rust

#4008 Lookout for Vision dataset export example
  .doc_gen/metadata/lookoutvision_metadata.yaml
  python/example_code/lookoutvision/README.md
  python/example_code/lookoutvision/export_datasets.py
  python/example_code/lookoutvision/test.manifest
  python/example_code/lookoutvision/test/test_export_datasets.py
  python/example_code/lookoutvision/train.manifest
  python/test_tools/lookoutvision_stubber.py
Labels: lang/python, type/sos, status/has-text-review

#4090 Update filenames
  javascriptv3/example_code/dynamodb/README.md
Labels: lang/javascript-v3

#4088 Add requested VPC endpoint example to .NET
  .doc_gen/metadata/ec2_metadata.yaml
  dotnetv3/EC2/CreateVPCExample/CreateVPCExample.sln
  dotnetv3/EC2/README.md
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCExample.sln
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCExample/CreateVPC.cs
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCExample/CreateVPCExample.csproj
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCTests/CreateVPCTests.csproj
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCTests/CreateVPCforS3Tests.cs
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCTests/Usings.cs
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCTests/testsettings.json
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCforS3Example/CreateVPCforS3.cs
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCforS3Example/CreateVPCforS3Example.csproj
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCforS3Example/appsettings.json
Labels: lang/dotnet-v3, type/sos, status/has-text-review, status/has-testing-review

#4104 minor typo fixes
  javascriptv3/example_code/cross-services/photo_analyzer/Readme.md
Labels: lang/javascript-v3

#4096 3584 c++ legacy cleanup dynamodb
  .doc_gen/metadata/dynamodb_metadata.yaml
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/Readme.md
  cpp/example_code/dynamodb/batch_get_item.cpp
  cpp/example_code/dynamodb/batch_write_item.cpp
  cpp/example_code/dynamodb/create_table.cpp
  cpp/example_code/dynamodb/create_table_composite_key.cpp
  cpp/example_code/dynamodb/delete_item.cpp
  cpp/example_code/dynamodb/delete_table.cpp
  cpp/example_code/dynamodb/describe_table.cpp
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/dynamodb_partiql_batch_scenario.cpp
  cpp/example_code/dynamodb/dynamodb_partiql_single_scenario.cpp
  cpp/example_code/dynamodb/dynamodb_samples.h
  cpp/example_code/dynamodb/dynamodb_utils.cpp
  cpp/example_code/dynamodb/get_item.cpp
  cpp/example_code/dynamodb/list_tables.cpp
  cpp/example_code/dynamodb/put_item.cpp
  cpp/example_code/dynamodb/query_items.cpp
  cpp/example_code/dynamodb/scan_table.cpp
  cpp/example_code/dynamodb/tests/CMakeLists.txt
  cpp/example_code/dynamodb/tests/Forum.json
  cpp/example_code/dynamodb/tests/ProductCatalog.json
  cpp/example_code/dynamodb/tests/dynamodb_gtests.cpp
  cpp/example_code/dynamodb/tests/dynamodb_gtests.h
  cpp/example_code/dynamodb/tests/gtest_batch_get_item.cpp
  cpp/example_code/dynamodb/tests/gtest_batch_write_item.cpp
  cpp/example_code/dynamodb/tests/gtest_create_table.cpp
  cpp/example_code/dynamodb/tests/gtest_create_table_composite_key.cpp
  cpp/example_code/dynamodb/tests/gtest_delete_item.cpp
  cpp/example_code/dynamodb/tests/gtest_delete_table.cpp
  cpp/example_code/dynamodb/tests/gtest_describe_table.cpp
  cpp/example_code/dynamodb/tests/gtest_dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/tests/gtest_dynamodb_partiql_batch_scenario.cpp
  cpp/example_code/dynamodb/tests/gtest_dynamodb_partiql_single_scenario.cpp
  cpp/example_code/dynamodb/tests/gtest_get_item.cpp
  cpp/example_code/dynamodb/tests/gtest_list_tables.cpp
  cpp/example_code/dynamodb/tests/gtest_put_item.cpp
  cpp/example_code/dynamodb/tests/gtest_query_items.cpp
  cpp/example_code/dynamodb/tests/gtest_scan_table.cpp
  cpp/example_code/dynamodb/tests/gtest_update_item.cpp
  cpp/example_code/dynamodb/tests/gtest_update_table.cpp
  cpp/example_code/dynamodb/tests/test_main.cpp
  cpp/example_code/dynamodb/update_item.cpp
  cpp/example_code/dynamodb/update_table.cpp
Labels: lang/cpp, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review

#4065 Add Rust concurrency examples for S3 and SQS
  rust_dev_preview/Cargo.toml
  rust_dev_preview/concurrency/Cargo.toml
  rust_dev_preview/concurrency/examples/s3.rs
  rust_dev_preview/concurrency/examples/sqs.rs
  rust_dev_preview/concurrency/src/lib.rs
  rust_dev_preview/tls/tests/test-tls.rs
Labels: lang/rust

#4118 Fords branch
  resources/cdk/batch_fargate/.npmignore
  resources/cdk/batch_fargate/README.md
  resources/cdk/batch_fargate/bin/batch_fargate.ts
  resources/cdk/batch_fargate/cdk.json
  resources/cdk/batch_fargate/jest.config.js
  resources/cdk/batch_fargate/lib/batch_fargate-stack.ts
  resources/cdk/batch_fargate/package.json
  resources/cdk/batch_fargate/test/batch_fargate.test.ts
  resources/cdk/batch_fargate/tsconfig.json
Labels: tool/cdk

#4103 Dotnet EC2 MVP
  .doc_gen/metadata/ec2_metadata.yaml
  dotnetv3/EC2/Actions/EC2Actions.csproj
  dotnetv3/EC2/Actions/EC2Wrapper.cs
  dotnetv3/EC2/Actions/HelloEC2.cs
  dotnetv3/EC2/Actions/SsmWrapper.cs
  dotnetv3/EC2/Actions/Usings.cs
  dotnetv3/EC2/CreateKeyPairExample/CreateKeyPairExample.sln
  dotnetv3/EC2/CreateKeyPairExample/CreateKeyPairExample/CreateKeyPair.cs
  dotnetv3/EC2/CreateKeyPairExample/CreateKeyPairExample/CreateKeyPairExample.csproj
  dotnetv3/EC2/CreateSecurityGroupExample/CreateSecurityGroupExample.sln
  dotnetv3/EC2/CreateSecurityGroupExample/CreateSecurityGroupExample/CreateSecurityGroup.cs
  dotnetv3/EC2/CreateSecurityGroupExample/CreateSecurityGroupExample/CreateSecurityGroupExample.csproj
  dotnetv3/EC2/DeleteKeyPairExample/DeleteKeyPairExample.sln
  dotnetv3/EC2/DeleteKeyPairExample/DeleteKeyPairExample/DeleteKeyPair.cs
  dotnetv3/EC2/DeleteKeyPairExample/DeleteKeyPairExample/DeleteKeyPairExample.csproj
  dotnetv3/EC2/DeleteSecurityGroupExample/DeleteSecurityGroupExample.sln
  dotnetv3/EC2/DeleteSecurityGroupExample/DeleteSecurityGroupExample/DeleteSecurityGroup.cs
  dotnetv3/EC2/DeleteSecurityGroupExample/DeleteSecurityGroupExample/DeleteSecurityGroupExample.csproj
  dotnetv3/EC2/DeleteVPCExample/DeleteVPCExample.sln
  dotnetv3/EC2/DeleteVPCExample/DeleteVPCExample/DeleteVPC.cs
  dotnetv3/EC2/DeleteVPCExample/DeleteVPCExample/DeleteVPCExample.csproj
  dotnetv3/EC2/DescribeInstancesExample/DescribeInstancesExample.sln
  dotnetv3/EC2/DescribeInstancesExample/DescribeInstancesExample/DescribeInstances.cs
  dotnetv3/EC2/DescribeInstancesExample/DescribeInstancesExample/DescribeInstancesExample.csproj
  dotnetv3/EC2/EC2Examples.sln
  dotnetv3/EC2/README.md
  dotnetv3/EC2/RebootInstancesExample/RebootInstancesExample.sln
  dotnetv3/EC2/RebootInstancesExample/RebootInstancesExample/RebootInstances.cs
  dotnetv3/EC2/RebootInstancesExample/RebootInstancesExample/RebootInstancesExample.csproj
  dotnetv3/EC2/Scenarios/EC2_Basics/EC2Basics.cs
  dotnetv3/EC2/Scenarios/EC2_Basics/Ec2_Basics.csproj
  dotnetv3/EC2/Scenarios/EC2_Basics/UIMethods.cs
  dotnetv3/EC2/Scenarios/EC2_Basics/Usings.cs
  dotnetv3/EC2/StartInstancesExample/StartInstancesExample.sln
  dotnetv3/EC2/StartInstancesExample/StartInstancesExample/StartInstances.cs
  dotnetv3/EC2/StartInstancesExample/StartInstancesExample/StartInstancesExample.csproj
  dotnetv3/EC2/StopInstancesExample/StopInstancesExample.sln
  dotnetv3/EC2/StopInstancesExample/StopInstancesExample/StopInstances.cs
  dotnetv3/EC2/StopInstancesExample/StopInstancesExample/StopInstancesExample.csproj
  dotnetv3/EC2/Tests/EC2Tests.csproj
  dotnetv3/EC2/Tests/EC2WrapperTests.cs
  dotnetv3/EC2/Tests/Usings.cs
  dotnetv3/EC2/Tests/testsettings.json
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCExample/CreateVPC.cs
Labels: lang/dotnet-v3, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review, type/mvp

#4113 Fix Rust `apigatewaymanagement` example
  rust_dev_preview/apigateway/Cargo.toml
  rust_dev_preview/apigatewaymanagement/src/bin/post_to_connection.rs
  rust_dev_preview/cognitoidentity/Cargo.toml
  rust_dev_preview/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/cognitosync/Cargo.toml
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/custom-root-certificates/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/glue/Cargo.toml
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/sagemaker/Cargo.toml
  rust_dev_preview/sitewise/Cargo.toml
  rust_dev_preview/tls/Cargo.toml
Labels: lang/rust

#4107 Add docker image production workflow to repo 🔥
  .doc_gen/images/README.md
  .doc_gen/images/render-blurbs.py
  .doc_gen/images/template.txt
  .github/workflows/docker-push.yml
  cpp/Dockerfile
  cpp/README.rst
  dotnetv3/Dockerfile
  dotnetv3/README.md
  gov2/Dockerfile
  gov2/README.md
  javascriptv3/Dockerfile
  javascriptv3/example_code/README.md
  javav2/Dockerfile
  javav2/README.rst
  kotlin/Dockerfile
  kotlin/Readme.md
  php/Dockerfile
  php/example_code/README.md
  python/Dockerfile
  python/README.md
  resources/cdk/ecr_repositories/bin/ecr_repositories.ts
  resources/cdk/ecr_repositories/cdk.json
  resources/cdk/ecr_repositories/lib/ecr_repositories-stack.ts
  resources/cdk/ecr_repositories/package-lock.json
  resources/cdk/ecr_repositories/package.json
  resources/package-lock.json
  ruby/Dockerfile
  ruby/README.md
  rust_dev_preview/Dockerfile
  rust_dev_preview/README.md
  swift/Dockerfile
  swift/README.md
Labels: lang/cpp, lang/java-v2, lang/dotnet-v3, lang/go-v2, lang/ruby, lang/python, lang/php, tool/cdk, lang/rust, lang/kotlin, lang/swift, lang/javascript-v3, type/github-settings
