Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-11, with the labels that each got.

#3895 Rust SDK: use main after release
  rust_dev_preview/sdk-config/Cargo.toml
Labels: status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#3889 Python DynamoDB item tracker REST example
  .doc_gen/cross-content/cross_DynamoDBDataTracker_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  gov2/dynamodb/.gitignore
  javascriptv3/example_code/cross-services/textract-react/.gitignore
  python/cross_service/aurora_rest_lending_library/library_api/.gitignore
  python/cross_service/dynamodb_item_tracker/README.md
  python/cross_service/dynamodb_item_tracker/app.py
  python/cross_service/dynamodb_item_tracker/images/item-tracker-add-item.png
  python/cross_service/dynamodb_item_tracker/images/item-tracker-all-items.png
  python/cross_service/dynamodb_item_tracker/images/item-tracker-archived-items.png
  python/cross_service/dynamodb_item_tracker/images/item-tracker-send-report.png
  python/cross_service/dynamodb_item_tracker/images/item-tracker-start.png
  python/cross_service/dynamodb_item_tracker/item_list.py
  python/cross_service/dynamodb_item_tracker/report.py
  python/cross_service/dynamodb_item_tracker/requirements.txt
  python/cross_service/dynamodb_item_tracker/setup.py
  python/cross_service/dynamodb_item_tracker/storage.py
  python/cross_service/dynamodb_item_tracker/templates/email.html
  python/cross_service/dynamodb_item_tracker/templates/email.txt
  python/cross_service/dynamodb_item_tracker/templates/item.html
  python/cross_service/dynamodb_item_tracker/templates/items.html
  python/cross_service/dynamodb_item_tracker/templates/report.html
  python/cross_service/dynamodb_item_tracker/templates/report.txt
  python/cross_service/dynamodb_item_tracker/templates/work_items.csv
  python/cross_service/dynamodb_item_tracker/test/test_app.py
  python/cross_service/photo_analyzer/frontend/.gitignore
  python/example_code/dynamodb/.gitignore
  python/test_tools/dynamodb_stubber.py
  python/test_tools/ses_stubber.py
  resources/cdk/dynamodb-item-tracker/README.md
  resources/cdk/dynamodb-item-tracker/setup.ts
  resources/cdk/dynamodb-item-tracker/setup.yaml
Labels: lang/python, tool/cdk, status/has-text-review, status/has-testing-review

#3894 fix missing snippet-end tag
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/FileUpDownOps.java
Labels: lang/java-v2

#3803 Add label (and automation) for GitHub settings
  .github/allowed-labels.yml
  .github/label-ruleset.yml
Labels: status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#3802 fix(sec): upgrade com.fasterxml.jackson.core:jackson-databind to 2.13.2.1
  javav2/example_code/codepipeline/pom.xml
  javav2/example_code/dynamodb/pom.xml
  javav2/example_code/firehose/pom.xml
  javav2/example_code/kendra/pom.xml
  javav2/example_code/kinesis/pom.xml
  javav2/example_code/lookoutvision/pom.xml
  javav2/example_code/memorydb/pom.xml
  javav2/example_code/opensearch/pom.xml
  javav2/example_code/rekognition/pom.xml
  javav2/example_code/s3/pom.xml
Labels: lang/java-v2

#3808 fix(sec): upgrade org.webjars:bootstrap to 3.4.1
  javav2/usecases/Creating_amazon_aurora_app/pom.xml
  javav2/usecases/creating_mongoDB_app/pom.xml
  javav2/usecases/creating_redshift_application/pom.xml
Labels: lang/java-v2

#3847 fix(sec): upgrade commons-io:commons-io to 2.7
  javav2/usecases/creating_photo_analyzer_app/pom.xml
Labels: lang/java-v2

#3890 fix(sec): upgrade com.amazonaws:aws-java-sdk-s3 to 1.12.261
  javav2/usecases/create_amazon_personalize_app/pom.xml
Labels: lang/java-v2

#3891 fix(sec): upgrade org.webjars:jquery to 3.5.0
  javav2/usecases/Creating_amazon_aurora_app/pom.xml
  javav2/usecases/creating_mongoDB_app/pom.xml
  javav2/usecases/creating_redshift_application/pom.xml
Labels: lang/java-v2

#3903 Spin off Rust linting
  .github/workflows/super-linter.yml
Labels: status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review, type/github-settings

#3909 Clippy 1.65
  rust_dev_preview/cross_service/detect_labels/src/main.rs
  rust_dev_preview/cross_service/telephone/src/main.rs
  rust_dev_preview/dynamodb/src/scenario/list.rs
  rust_dev_preview/eks/src/bin/create-cluster.rs
  rust_dev_preview/eks/src/bin/create-delete-cluster.rs
  rust_dev_preview/eks/src/bin/list-clusters.rs
  rust_dev_preview/greengrassv2/src/bin/list-core-devices.rs
  rust_dev_preview/iam/tests/test-iam-service-lib.rs
  rust_dev_preview/kms/src/bin/encrypt.rs
  rust_dev_preview/kms/src/bin/generate-data-key-without-plaintext.rs
  rust_dev_preview/kms/src/bin/generate-data-key.rs
  rust_dev_preview/kms/src/bin/generate-random.rs
  rust_dev_preview/kms/src/bin/reencrypt-data.rs
  rust_dev_preview/polly/src/bin/synthesize-speech.rs
  rust_dev_preview/s3/tests/test-s3-getting-started.rs
  rust_dev_preview/tls/tests/test-tls.rs
Labels: lang/rust, status/has-text-review, status/has-testing-review

#3896 Rust SdkConfig loading using lazy_static and AsyncOnce
  rust_dev_preview/sdk-config/Cargo.toml
  rust_dev_preview/sdk-config/src/bin/lazy_static.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#3901 .NET Aurora Item Tracker
  .doc_gen/cross-content/cross_RDSDataTracker_Net_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  dotnetv3/.gitignore
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker.sln
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/AuroraItemTracker.csproj
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/Program.cs
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/Properties/launchSettings.json
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/ReportRequest.cs
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/ReportService.cs
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/WorkItem.cs
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/WorkItemService.cs
  dotnetv3/cross-service/AuroraItemTracker/AuroraItemTracker/appsettings.json
  dotnetv3/cross-service/AuroraItemTracker/ItemTrackerTests/ItemTrackerTests.csproj
  dotnetv3/cross-service/AuroraItemTracker/ItemTrackerTests/ReportServiceTests.cs
  dotnetv3/cross-service/AuroraItemTracker/ItemTrackerTests/Usings.cs
  dotnetv3/cross-service/AuroraItemTracker/ItemTrackerTests/WorkItemServiceTests.cs
  dotnetv3/cross-service/AuroraItemTracker/ItemTrackerTests/testsettings.json
  dotnetv3/cross-service/AuroraItemTracker/Readme.md
  dotnetv3/cross-service/AuroraItemTracker/images/aurora_item_tracker_response.png
  dotnetv3/cross-service/AuroraItemTracker/images/elapp1.png
  dotnetv3/cross-service/AuroraItemTracker/images/elapp2.png
  dotnetv3/cross-service/AuroraItemTracker/images/elapp3.png
  dotnetv3/cross-service/AuroraItemTracker/images/elapp4.png
  dotnetv3/cross-service/AuroraItemTracker/images/email.png
  dotnetv3/cross-service/AuroraItemTracker/images/excel_spreadsheet.png
  dotnetv3/cross-service/AuroraItemTracker/images/item_tracker_add_item.png
  dotnetv3/cross-service/README.md
  dotnetv3/cross-service/react_dotnet/ItemTrackerRDSRest/Program.cs
  dotnetv3/cross-service/react_dotnet/ItemTrackerRDSRest/RDSService.cs
  dotnetv3/cross-service/react_dotnet/ItemTrackerRDSRest/WorkItem.cs
  dotnetv3/cross-service/react_dotnet/Readme.md
  dotnetv3/cross-service/react_dotnet/images/Active.png
  dotnetv3/cross-service/react_dotnet/images/Active1.png
  dotnetv3/cross-service/react_dotnet/images/Active2.png
  dotnetv3/cross-service/react_dotnet/images/NuGetPic.png
  dotnetv3/cross-service/react_dotnet/images/activeItems.png
  dotnetv3/cross-service/react_dotnet/images/archive.png
  dotnetv3/cross-service/react_dotnet/images/archive2.png
  dotnetv3/cross-service/react_dotnet/images/archive3.png
  dotnetv3/cross-service/react_dotnet/images/browser.png
  dotnetv3/cross-service/react_dotnet/images/database.png
  dotnetv3/cross-service/react_dotnet/images/email.png
  dotnetv3/cross-service/react_dotnet/images/jsondata.png
  dotnetv3/cross-service/react_dotnet/images/jsondataBS.png
  dotnetv3/cross-service/react_dotnet/images/newitem.png
  dotnetv3/cross-service/react_dotnet/images/overview.png
  dotnetv3/cross-service/react_dotnet/images/packages.png
  dotnetv3/cross-service/react_dotnet/images/project.png
  dotnetv3/cross-service/react_dotnet/images/project1.png
  dotnetv3/cross-service/react_dotnet/images/projectclasses.png
  dotnetv3/cross-service/react_dotnet/images/reactfolders.png
  dotnetv3/cross-service/react_dotnet/images/reactproject.png
  dotnetv3/cross-service/react_dotnet/images/report.png
  dotnetv3/cross-service/react_dotnet/images/report2.png
  dotnetv3/cross-service/react_dotnet/images/t.txt
Labels: lang/dotnet-v3, type/sos, status/has-text-review, status/has-testing-review

#3915 Weathertop foundations - Ruby
  ruby/Gemfile.lock
  ruby/README.md
  ruby/example_code/cloudtrail/spec/cloudtrail_spec.rb
  ruby/example_code/cloudwatch/alarm_actions.rb
  ruby/example_code/cloudwatch/alarm_basics.rb
  ruby/example_code/cloudwatch/create_alarm.rb
  ruby/example_code/cloudwatch/metrics_basics.rb
  ruby/example_code/cloudwatch/show_alarms.rb
  ruby/example_code/cloudwatch/spec/alarm_actions_spec.rb
  ruby/example_code/cloudwatch/spec/alarm_basics_spec.rb
  ruby/example_code/cloudwatch/spec/create_alarm_spec.rb
  ruby/example_code/cloudwatch/spec/metrics_basic_spec.rb
  ruby/example_code/cloudwatch/spec/send_events_ec2_spec.rb
  ruby/example_code/cloudwatch/spec/show_alarms_spec.rb
Labels: lang/ruby

#3899 Add the Java V2 Support MVP
  .doc_gen/metadata/rds_metadata.yaml
  .doc_gen/metadata/support_metadata.yaml
  javav2/example_code/support/Readme.md
  javav2/example_code/support/pom.xml
  javav2/example_code/support/src/main/java/com/example/support/HelloSupport.java
  javav2/example_code/support/src/main/java/com/example/support/SupportScenario.java
  javav2/example_code/support/src/main/resources/config.properties
  javav2/example_code/support/src/test/java/SupportTest.java
Labels: lang/java-v2, type/sos, status/has-text-review

#3914 3790 c++ serverless aurora app
  .doc_gen/cross-content/cross_RDSDataTracker_cpp_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  cpp/example_code/cross-service/README.md
  cpp/example_code/cross-service/serverless-aurora/CMakeLists.txt
  cpp/example_code/cross-service/serverless-aurora/HTTPReceiver.h
  cpp/example_code/cross-service/serverless-aurora/ItemTrackerHTTPHandler.cpp
  cpp/example_code/cross-service/serverless-aurora/ItemTrackerHTTPHandler.h
  cpp/example_code/cross-service/serverless-aurora/PocoHTTPServer.cpp
  cpp/example_code/cross-service/serverless-aurora/PocoHTTPServer.h
  cpp/example_code/cross-service/serverless-aurora/RDSDataHandler.cpp
  cpp/example_code/cross-service/serverless-aurora/RDSDataHandler.h
  cpp/example_code/cross-service/serverless-aurora/README.md
  cpp/example_code/cross-service/serverless-aurora/SESV2EmailHandler.cpp
  cpp/example_code/cross-service/serverless-aurora/SESV2EmailHandler.h
  cpp/example_code/cross-service/serverless-aurora/conanfile.txt
  cpp/example_code/cross-service/serverless-aurora/serverless_aurora.cpp
  cpp/example_code/cross-service/serverless-aurora/tests/CMakeLists.txt
  cpp/example_code/cross-service/serverless-aurora/tests/gtest_serverless_aurora.cpp
  cpp/example_code/cross-service/serverless-aurora/tests/serverless_aurora_gtests.cpp
  cpp/example_code/cross-service/serverless-aurora/tests/serverless_aurora_gtests.h
  cpp/example_code/s3/s3_getting_started_scenario.cpp
  resources/clients/react/elwing/src/plugins/item-tracker/ItemTrackerReadmeComponent.tsx
  resources/clients/react/elwing/src/plugins/sqs-message/README.md
Labels: lang/cpp, type/sos, status/has-text-review, status/has-testing-review

#3935 Add the Kotlin Support Code examples
  .doc_gen/metadata/support_metadata.yaml
  javav2/example_code/support/Readme.md
  kotlin/services/support/Readme.md
  kotlin/services/support/build.gradle.kts
  kotlin/services/support/src/main/kotlin/com/example/support/HelloSupport.kt
  kotlin/services/support/src/main/kotlin/com/example/support/SupportScenario.kt
  kotlin/services/support/src/main/resources/config.properties
  kotlin/services/support/src/test/kotlin/SupportTest.kt
Labels: lang/java-v2, lang/kotlin, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review

#3874 Rust/cross service/rest aurora ses actix
  .github/workflows/rust.yml
  .github/workflows/super-linter.yml
  resources/clients/react/elwing/src/plugins/item-tracker/README.md
  resources/clients/react/elwing/src/plugins/item-tracker/images/item-tracker-add-item.png
  resources/clients/react/elwing/src/plugins/item-tracker/images/item-tracker-all-items.png
  resources/clients/react/elwing/src/plugins/item-tracker/images/item-tracker-archived-items.png
  resources/clients/react/elwing/src/plugins/item-tracker/images/item-tracker-send-report.png
  resources/clients/react/elwing/src/plugins/item-tracker/images/item-tracker-start.png
  rust_dev_preview/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/.dockerignore
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/Dockerfile
  rust_dev_preview/cross_service/rest_ses/README.md
  rust_dev_preview/cross_service/rest_ses/configuration/.gitignore
  rust_dev_preview/cross_service/rest_ses/configuration/base.yaml
  rust_dev_preview/cross_service/rest_ses/src/client.rs
  rust_dev_preview/cross_service/rest_ses/src/configuration.rs
  rust_dev_preview/cross_service/rest_ses/src/healthz.rs
  rust_dev_preview/cross_service/rest_ses/src/lib.rs
  rust_dev_preview/cross_service/rest_ses/src/main.rs
  rust_dev_preview/cross_service/rest_ses/src/report.rs
  rust_dev_preview/cross_service/rest_ses/src/startup.rs
  rust_dev_preview/cross_service/rest_ses/src/telemetry.rs
  rust_dev_preview/cross_service/rest_ses/src/work_item/collection.rs
  rust_dev_preview/cross_service/rest_ses/src/work_item/mod.rs
  rust_dev_preview/cross_service/rest_ses/src/work_item/repository.rs
  rust_dev_preview/cross_service/rest_ses/src/work_item/work_item_archived.rs
  rust_dev_preview/cross_service/rest_ses/tests/api/healthz.rs
  rust_dev_preview/cross_service/rest_ses/tests/api/main.rs
  rust_dev_preview/cross_service/rest_ses/tests/api/startup.rs
  rust_dev_preview/cross_service/rest_ses/tests/api/work_item/happy.rs
  rust_dev_preview/cross_service/rest_ses/tests/api/work_item/mocked.rs
  rust_dev_preview/cross_service/rest_ses/tests/api/work_item/mod.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review, type/github-settings

#3910 Python Aurora item tracker update
  .doc_gen/cross-content/cross_RDSDataTracker_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  python/cross_service/README.md
  python/cross_service/aurora_item_tracker/README.md
  python/cross_service/aurora_item_tracker/app.py
  python/cross_service/aurora_item_tracker/images/item-tracker-add-item.png
  python/cross_service/aurora_item_tracker/images/item-tracker-all-items.png
  python/cross_service/aurora_item_tracker/images/item-tracker-archived-items.png
  python/cross_service/aurora_item_tracker/images/item-tracker-send-report.png
  python/cross_service/aurora_item_tracker/images/item-tracker-start.png
  python/cross_service/aurora_item_tracker/images/work_items_added.png
  python/cross_service/aurora_item_tracker/images/work_items_empty.png
  python/cross_service/aurora_item_tracker/item_list.py
  python/cross_service/aurora_item_tracker/report.py
  python/cross_service/aurora_item_tracker/requirements.txt
  python/cross_service/aurora_item_tracker/storage.py
  python/cross_service/aurora_item_tracker/templates/report.html
  python/cross_service/aurora_item_tracker/templates/report.txt
  python/cross_service/aurora_item_tracker/test/test_app.py
  python/cross_service/aurora_item_tracker/test/test_item_list.py
  python/cross_service/aurora_item_tracker/test/test_report.py
  python/cross_service/dynamodb_item_tracker/app.py
  python/test_tools/example_stubber.py
  python/test_tools/rdsdata_stubber.py
Labels: lang/python, type/sos, type/cross-service, status/has-text-review

#3942 Add 'Shirriff' action to manage stale issues and PRs.
  .github/workflows/shirriff.yml
Labels: type/github-settings

#3945 Turn off Shirriff debug mode.
  .github/workflows/shirriff.yml
Labels: type/github-settings

#3951 Remove punctuation to fix failing notifications.
  .github/workflows/shirriff.yml
Labels: type/github-settings

#3939 Add JavaScript (v3) Glue MVP.
  .doc_gen/metadata/glue_metadata.yaml
  javascriptv3/example_code/.eslintrc
  javascriptv3/example_code/README.md
  javascriptv3/example_code/glue/README.md
  javascriptv3/example_code/glue/actions/create-crawler.js
  javascriptv3/example_code/glue/actions/create-job.js
  javascriptv3/example_code/glue/actions/delete-crawler.js
  javascriptv3/example_code/glue/actions/delete-database.js
  javascriptv3/example_code/glue/actions/delete-job.js
  javascriptv3/example_code/glue/actions/delete-table.js
  javascriptv3/example_code/glue/actions/get-crawler.js
  javascriptv3/example_code/glue/actions/get-database.js
  javascriptv3/example_code/glue/actions/get-databases.js
  javascriptv3/example_code/glue/actions/get-job-run.js
  javascriptv3/example_code/glue/actions/get-job-runs.js
  javascriptv3/example_code/glue/actions/get-job.js
  javascriptv3/example_code/glue/actions/get-tables.js
  javascriptv3/example_code/glue/actions/list-jobs.js
  javascriptv3/example_code/glue/actions/start-crawler.js
  javascriptv3/example_code/glue/actions/start-job-run.js
  javascriptv3/example_code/glue/non-glue-actions/s3-list-objects.js
  javascriptv3/example_code/glue/package.json
  javascriptv3/example_code/glue/scenarios/basic/index.js
  javascriptv3/example_code/glue/scenarios/basic/log.js
  javascriptv3/example_code/glue/scenarios/basic/steps/clean-up-crawler.js
  javascriptv3/example_code/glue/scenarios/basic/steps/clean-up-databases.js
  javascriptv3/example_code/glue/scenarios/basic/steps/clean-up-jobs.js
  javascriptv3/example_code/glue/scenarios/basic/steps/clean-up-tables.js
  javascriptv3/example_code/glue/scenarios/basic/steps/create-crawler.js
  javascriptv3/example_code/glue/scenarios/basic/steps/create-job.js
  javascriptv3/example_code/glue/scenarios/basic/steps/delete-stack-reminder.js
  javascriptv3/example_code/glue/scenarios/basic/steps/get-database.js
  javascriptv3/example_code/glue/scenarios/basic/steps/get-tables.js
  javascriptv3/example_code/glue/scenarios/basic/steps/pick-job-run.js
  javascriptv3/example_code/glue/scenarios/basic/steps/pick-job.js
  javascriptv3/example_code/glue/scenarios/basic/steps/start-crawler.js
  javascriptv3/example_code/glue/scenarios/basic/steps/start-job-run.js
  javascriptv3/example_code/glue/scenarios/basic/steps/validate-env.js
  javascriptv3/example_code/glue/scenarios/basic/steps/validate-python-script.js
  javascriptv3/example_code/glue/tests/actions.integration.test.js
  javascriptv3/example_code/glue/tests/clean-up-crawler.unit.test.js
  javascriptv3/example_code/glue/tests/clean-up-databases.unit.test.js
  javascriptv3/example_code/glue/tests/clean-up-jobs.unit.test.js
  javascriptv3/example_code/glue/tests/clean-up-tables.unit.test.js
  javascriptv3/example_code/glue/tests/create-crawler.unit.test.js
  javascriptv3/example_code/glue/tests/create-job.unit.test.js
  javascriptv3/example_code/glue/tests/get-database.unit.test.js
  javascriptv3/example_code/glue/tests/get-tables.unit.test.js
  javascriptv3/example_code/glue/tests/mock-prompter.js
  javascriptv3/example_code/glue/tests/pick-job-run.unit.test.js
  javascriptv3/example_code/glue/tests/start-crawler.unit.test.js
  javascriptv3/example_code/glue/tests/start-job-run.unit.test.js
  javascriptv3/example_code/glue/tests/validate-env.unit.test.js
  javascriptv3/example_code/glue/tests/validate-python-script.unit.test.js
  javascriptv3/example_code/glue/vite.config.js
  javascriptv3/example_code/glue/yarn.lock
  resources/cdk/glue_role_bucket/package-lock.json
Labels: tool/cdk, type/sos, lang/javascript-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#3936 Update cpp linter
  .github/sd-cpp-linter/Dockerfile
  .github/sd-cpp-linter/LICENSE
  .github/sd-cpp-linter/action.yml
  .github/sd-cpp-linter/clang-tidy-config.txt
  .github/sd-cpp-linter/requirements.txt
  .github/sd-cpp-linter/sd_review.py
  .github/workflows/sd-cpp-lint.yml
Labels: type/github-settings

#3940 Update transcribe_basics.py
  python/example_code/transcribe/transcribe_basics.py
Labels: lang/python

#3952 Add the EC2 Java V2 Scenario
  .doc_gen/metadata/ec2_metadata.yaml
  javav2/example_code/ec2/Readme.md
  javav2/example_code/ec2/pom.xml
  javav2/example_code/ec2/src/main/java/com/example/ec2/EC2Scenario.java
  javav2/example_code/ec2/src/test/java/AWSEC2ServiceIntegrationTest.java
  javav2/example_code/ec2/src/test/java/EC2Test.java
Labels: lang/java-v2, type/sos, status/has-text-review

#3947 3740-transcribe-streaming-service-example-clarification
  cpp/example_code/transcribe/get_transcript.cpp
Labels: lang/cpp

#3905 Refresh top-level README
  CONTRIBUTING.md
  README.md
Labels: status/ready-to-merge, status/has-text-review, status/has-testing-review

#3958 Update Shirriff to mention the correct group.
  .github/workflows/shirriff.yml
Labels: type/github-settings

#3911 added data type to updated values
  javascriptv3/example_code/dynamodb/src/ddb_updateitem.js
Labels: lang/javascript-v3

#3963 3925 c++ dynamodb partiql mvp
  .doc_gen/metadata/dynamodb_metadata.yaml
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/Readme.md
  cpp/example_code/dynamodb/dyanamodb_samples.h
  cpp/example_code/dynamodb/dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/dynamodb_partiql_batch_scenario.cpp
  cpp/example_code/dynamodb/dynamodb_partiql_single_scenario.cpp
  cpp/example_code/dynamodb/dynamodb_samples.h
  cpp/example_code/dynamodb/dynamodb_utils.cpp
  cpp/example_code/dynamodb/tests/CMakeLists.txt
  cpp/example_code/dynamodb/tests/dynamodb_gtests.cpp
  cpp/example_code/dynamodb/tests/dynamodb_gtests.h
  cpp/example_code/dynamodb/tests/gtest_dynamodb_getting_started_scenario.cpp
  cpp/example_code/dynamodb/tests/gtest_dynamodb_partiql_batch_scenario.cpp
  cpp/example_code/dynamodb/tests/gtest_dynamodb_partiql_single_scenario.cpp
  cpp/example_code/dynamodb/tests/test_main.cpp
Labels: lang/cpp, type/sos, status/has-text-review, status/has-testing-review

#3957 Refactor DynamoDB MVP.
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/dynamodb/package.json
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/libs/ddbClient.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/libs/ddbDocClient.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/src/dynamodb_basics.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/babel.config.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/dynamodb_basics.test.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/jest.config.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/moviedata.json
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/package.json
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/vite.config.js
  javascriptv3/example_code/dynamodb/scenarios/dynamodb_basics/tests/yarn.lock
  javascriptv3/example_code/dynamodb/src/metadata.yaml
  javascriptv3/example_code/dynamodb/tests/QueryExample/ddb_batchwriteitem_tv.test.js
  javascriptv3/example_code/dynamodb/tests/QueryExample/ddb_createtable_tv.test.js
  javascriptv3/example_code/dynamodb/tests/babel.config.js
  javascriptv3/example_code/dynamodb/tests/ddb_batchgetitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_batchwriteitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_createtable.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_deleteitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_deletetable.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_describetable.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_getitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_listtables.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_putitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_query.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_scan.test.js
  javascriptv3/example_code/dynamodb/tests/ddb_updateitem.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_delete_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_get_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_put_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_query_item.test.js
  javascriptv3/example_code/dynamodb/tests/ddbdoc_update_item.test.js
  javascriptv3/example_code/dynamodb/tests/jest.config.js
  javascriptv3/example_code/dynamodb/tests/package-lock.json
  javascriptv3/example_code/dynamodb/tests/package.json
  javascriptv3/example_code/dynamodb/yarn.lock
Labels: lang/javascript-v3, status/has-text-review, status/has-testing-review

#3955 Dotnet transferutil update
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics.sln
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/TransferBasics.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/TransferMethods.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/TransferUtilityBasics.csproj
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasics/settings.json
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/GlobalUsings.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/TestList.playlist
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/TransferMethodsTests.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/TransferUtilityBasicsTests.csproj
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/testsettings.json
Labels: lang/dotnet-v3, status/has-text-review, status/has-testing-review

#3923 Amazon Route 53 Scenario and Actions
  .doc_gen/metadata/route53domains_metadata.yaml
  .doc_gen/metadata/services.yaml
  dotnetv3/Route53/Actions/HelloRoute53.cs
  dotnetv3/Route53/Actions/Route53Actions.csproj
  dotnetv3/Route53/Actions/Route53Wrapper.cs
  dotnetv3/Route53/README.md
  dotnetv3/Route53/Route53Examples.sln
  dotnetv3/Route53/Scenarios/Route53DomainScenario.cs
  dotnetv3/Route53/Scenarios/Route53DomainScenario.csproj
  dotnetv3/Route53/Scenarios/settings.json
  dotnetv3/Route53/Tests/Route53ServiceTests.cs
  dotnetv3/Route53/Tests/Route53Tests.csproj
  dotnetv3/Route53/Tests/Usings.cs
  dotnetv3/Route53/Tests/testsettings.json
Labels: lang/dotnet-v3, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review

#3972 Elwing Item Tracker QOL and JS fixes.
  javascriptv3/example_code/cross-services/aurora-serverless-app/README.md
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/post-items-report-handler.ts
  resources/clients/react/elwing/src/plugins/item-tracker/ItemTrackerComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/ItemTrackerStore.ts
  resources/clients/react/elwing/src/plugins/item-tracker/RestService.ts
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/AddWorkItemComponent.tsx
  resources/clients/react/elwing/src/plugins/item-tracker/work-item/WorkItemListComponent.tsx
Labels: status/needs-code-review, lang/javascript-v3

#3985 Fixed an error in DeleteBucketContents method of S3_Basics
  dotnetv3/S3/S3_Basics/GlobalUsings.cs
  dotnetv3/S3/S3_Basics/S3Bucket.cs
  dotnetv3/S3/S3_Basics/S3_Basics.cs
  dotnetv3/S3/S3_Basics/S3_BasicsScenario.csproj
  dotnetv3/S3/S3_BasicsScenarioTests/GlobalUsings.cs
  dotnetv3/S3/S3_BasicsScenarioTests/S3BucketTests.cs
  dotnetv3/S3/S3_BasicsScenarioTests/S3_BasicsScenarioTests.csproj
Labels: lang/dotnet-v3

#3987 Update ec2_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
Labels: type/sos

#3967 Fix the Rust examples after the errors refactor
  rust_dev_preview/apigateway/Cargo.toml
  rust_dev_preview/apigateway/src/bin/get_rest_apis.rs
  rust_dev_preview/apigateway/src/lib.rs
  rust_dev_preview/cognitoidentity/Cargo.toml
  rust_dev_preview/cognitoidentity/src/bin/list-pool-identities.rs
  rust_dev_preview/cognitoidentity/src/lib.rs
  rust_dev_preview/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/cognitoidentityprovider/src/bin/list-user-pools.rs
  rust_dev_preview/cognitoidentityprovider/src/lib.rs
  rust_dev_preview/cognitosync/Cargo.toml
  rust_dev_preview/cognitosync/src/bin/list-identity-pool-usage.rs
  rust_dev_preview/cognitosync/src/lib.rs
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/dynamodb/src/bin/add-item.rs
  rust_dev_preview/dynamodb/src/bin/create-table.rs
  rust_dev_preview/dynamodb/src/bin/delete-item.rs
  rust_dev_preview/dynamodb/src/bin/delete-table.rs
  rust_dev_preview/dynamodb/src/bin/movies.rs
  rust_dev_preview/dynamodb/src/scenario/create.rs
  rust_dev_preview/dynamodb/src/scenario/delete.rs
  rust_dev_preview/dynamodb/src/scenario/error.rs
  rust_dev_preview/dynamodb/src/scenario/mod.rs
  rust_dev_preview/dynamodb/src/scenario/movies/startup.rs
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/s3/src/bin/s3-getting-started.rs
  rust_dev_preview/s3/src/bin/s3-multipart-upload.rs
  rust_dev_preview/s3/src/error.rs
  rust_dev_preview/s3/src/s3-service-lib.rs
  rust_dev_preview/s3/tests/test-s3-getting-started.rs
  rust_dev_preview/sagemaker/Cargo.toml
  rust_dev_preview/sagemaker/src/bin/list-training-jobs.rs
  rust_dev_preview/sagemaker/src/lib.rs
  rust_dev_preview/sitewise/Cargo.toml
  rust_dev_preview/sitewise/src/bin/describe-asset.rs
  rust_dev_preview/sitewise/src/bin/list-asset-models.rs
  rust_dev_preview/sitewise/src/bin/list-assets.rs
  rust_dev_preview/sitewise/src/bin/list-portals.rs
  rust_dev_preview/sitewise/src/lib.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#3988 Update Go demotools: variadic validators and default validation behavior
  .github/linters/.golangci.yml
  .github/workflows/golangci-lint.yml
  gov2/demotools/question.go
Labels: lang/go-v2, type/github-settings

#3994 Update Go test tools
  .github/workflows/golangci-lint.yml
  gov2/demotools/mocks.go
  gov2/testtools/awsm_stubber.go
  gov2/testtools/go.mod
  gov2/testtools/go.sum
  gov2/testtools/scenarios.go
Labels: lang/go-v2, type/github-settings

#3993 Add missing SES snippet tags to SOS.
  .doc_gen/metadata/ses_metadata.yaml
  javascriptv3/example_code/ses/README.md
Labels: type/sos, lang/javascript-v3

#3991 Move SES tests, convert to vitest
  javascriptv3/example_code/package.json
  javascriptv3/example_code/ses/package.json
  javascriptv3/example_code/ses/src/ses_listidentities.js
  javascriptv3/example_code/ses/tests/create-receipt-filter.integration.test.js
  javascriptv3/example_code/ses/tests/create-receipt-rule.integration.test.js
  javascriptv3/example_code/ses/tests/create-receipt-ruleset.integration.test.js
  javascriptv3/example_code/ses/tests/create-template.integration.test.js
  javascriptv3/example_code/ses/tests/delete-identity.integration.test.js
  javascriptv3/example_code/ses/tests/delete-receipt-filter.integration.test.js
  javascriptv3/example_code/ses/tests/delete-receipt-rule.integration.test.js
  javascriptv3/example_code/ses/tests/delete-receipt-ruleset.integration.test.js
  javascriptv3/example_code/ses/tests/delete-template.integration.test.js
  javascriptv3/example_code/ses/tests/get-template.integration.test.js
  javascriptv3/example_code/ses/tests/list-identities.integration.test.js
  javascriptv3/example_code/ses/tests/list-receiptfilters.integration.test.js
  javascriptv3/example_code/ses/tests/list-templates.integration.test.js
  javascriptv3/example_code/ses/tests/send-bulk-templated-email.integration.test.js
  javascriptv3/example_code/ses/tests/send-email.integration.test.js
  javascriptv3/example_code/ses/tests/send-templated-email.integration.test.js
  javascriptv3/example_code/ses/tests/update-template.integration.test.js
  javascriptv3/example_code/ses/tests/verify-domain-identity.integration.test.js
  javascriptv3/example_code/ses/tests/verify-email-identity.integration.test.js
  javascriptv3/example_code/ses/yarn.lock
  javascriptv3/example_code/tests/ses/babel.config.js
  javascriptv3/example_code/tests/ses/package.json
  javascriptv3/example_code/tests/ses/ses_sendemail.test.js
Labels: lang/javascript-v3, status/has-testing-review

#3974 Add Elwing reference to Aurora XS readme.
  javascriptv3/example_code/cross-services/aurora-serverless-app/README.md
Labels: lang/javascript-v3, status/has-text-review

#4011 Endpoint::immutable now returns a Result
  rust_dev_preview/dynamodb/src/bin/list-tables-local.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4004 Fixes #4003 javav2/example_code/kinesis add reactor dependency, correct Makefile path
  javav2/example_code/kinesis/Makefile
  javav2/example_code/kinesis/pom.xml
Labels: lang/java-v2
