Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2022-08, with the labels that each got.

#3415 Add the Java V2 Redshift/React Example
  javav2/usecases/CreatingSpringRedshiftRest/Readme.md
  javav2/usecases/CreatingSpringRedshiftRest/images/Active.png
  javav2/usecases/CreatingSpringRedshiftRest/images/Active1.png
  javav2/usecases/CreatingSpringRedshiftRest/images/Active2.png
  javav2/usecases/CreatingSpringRedshiftRest/images/activeItems.png
  javav2/usecases/CreatingSpringRedshiftRest/images/arcItems.png
  javav2/usecases/CreatingSpringRedshiftRest/images/archive.png
  javav2/usecases/CreatingSpringRedshiftRest/images/archive2.png
  javav2/usecases/CreatingSpringRedshiftRest/images/browser.png
  javav2/usecases/CreatingSpringRedshiftRest/images/creds.png
  javav2/usecases/CreatingSpringRedshiftRest/images/creds2.png
  javav2/usecases/CreatingSpringRedshiftRest/images/database.png
  javav2/usecases/CreatingSpringRedshiftRest/images/email.png
  javav2/usecases/CreatingSpringRedshiftRest/images/jsondata.png
  javav2/usecases/CreatingSpringRedshiftRest/images/jsondataBS.png
  javav2/usecases/CreatingSpringRedshiftRest/images/newitem.png
  javav2/usecases/CreatingSpringRedshiftRest/images/overview.png
  javav2/usecases/CreatingSpringRedshiftRest/images/overviewred.png
  javav2/usecases/CreatingSpringRedshiftRest/images/projectRedshift.png
  javav2/usecases/CreatingSpringRedshiftRest/images/report.png
  javav2/usecases/CreatingSpringRedshiftRest/images/report2.png
  javav2/usecases/CreatingSpringRedshiftRest/images/reportUI.png
  javav2/usecases/CreatingSpringRedshiftRest/images/t.txt
  javav2/usecases/CreatingSpringRedshiftRest/images/worktable.png
  javav2/usecases/CreatingSpringRedshiftRest/pom.xml
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/App.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/InjectWorkService.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/MainController.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/RetrieveItems.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/SendMessage.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/WorkItem.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/java/com/aws/rest/WriteExcel.java
  javav2/usecases/CreatingSpringRedshiftRest/src/main/resources/config.properties
  javav2/usecases/CreatingSpringRedshiftRest/src/test/java/RedshiftRestTest.java
Labels: lang/java-v2, status/has-text-review, status/has-testing-review

#3358 New version of the S3 Basics example
  .doc_gen/metadata/s3_metadata.yaml
  swift/example_code/s3/README.md
  swift/example_code/s3/basics/Package.swift
  swift/example_code/s3/basics/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/basics/Sources/basics/basics.swift
  swift/example_code/s3/basics/Tests/basics-tests/S3DemoCleanup.swift
  swift/example_code/s3/basics/Tests/basics-tests/TestWaiter.swift
  swift/example_code/s3/basics/Tests/basics-tests/basics-tests.swift
Labels: status/ready-to-merge, lang/swift, status/has-text-review, status/has-testing-review

#3435 Fixed Go linter action and fixed a few linting issues.
  .github/workflows/golangci-lint.yml
  gov2/dynamodb/scenarios/scenario_movie_table_integ_test.go
  gov2/dynamodb/scenarios/scenario_partiql_batch_integ_test.go
  gov2/dynamodb/scenarios/scenario_partiql_single_integ_test.go
Labels: type/bug

#3396 2656 s3 c++ mvp examples
  .doc_gen/metadata/s3_metadata.yaml
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/README.md
  cpp/example_code/s3/copy_object.cpp
  cpp/example_code/s3/create_bucket.cpp
  cpp/example_code/s3/delete_bucket.cpp
  cpp/example_code/s3/delete_bucket_policy.cpp
  cpp/example_code/s3/delete_object.cpp
  cpp/example_code/s3/delete_website_config.cpp
  cpp/example_code/s3/get_acl.cpp
  cpp/example_code/s3/get_bucket_policy.cpp
  cpp/example_code/s3/get_object.cpp
  cpp/example_code/s3/gtests/CMakeLists.txt
  cpp/example_code/s3/gtests/gtest_s3_getting_started_scenario.cpp
  cpp/example_code/s3/include/awsdoc/s3/s3_examples.h
  cpp/example_code/s3/list_buckets.cpp
  cpp/example_code/s3/metadata.yaml
  cpp/example_code/s3/put_object.cpp
  cpp/example_code/s3/s3-demo.cpp
  cpp/example_code/s3/s3_getting_started_scenario.cpp
  cpp/example_code/s3/tests/test_copy_object.cpp
  cpp/example_code/s3/tests/test_create_bucket.cpp
  cpp/example_code/s3/tests/test_delete_bucket.cpp
  cpp/example_code/s3/tests/test_delete_bucket_policy.cpp
  cpp/example_code/s3/tests/test_delete_object.cpp
  cpp/example_code/s3/tests/test_delete_website_config.cpp
  cpp/example_code/s3/tests/test_get_acl.cpp
  cpp/example_code/s3/tests/test_get_bucket_policy.cpp
  cpp/example_code/s3/tests/test_get_object.cpp
  cpp/example_code/s3/tests/test_get_put_bucket_acl.cpp
  cpp/example_code/s3/tests/test_get_put_object_acl.cpp
  cpp/example_code/s3/tests/test_get_website_config.cpp
  cpp/example_code/s3/tests/test_list_objects.cpp
  cpp/example_code/s3/tests/test_put_bucket_policy.cpp
  cpp/example_code/s3/tests/test_put_object.cpp
  cpp/example_code/s3/tests/test_put_object_async.cpp
  cpp/example_code/s3/tests/test_put_object_buffer.cpp
  cpp/example_code/s3/tests/test_put_website_config.cpp
Labels: lang/cpp, status/has-testing-review

#3430 Add two new SES V2 code examples based on community feedback
  .doc_gen/metadata/ses_metadata.yaml
  javav2/example_code/redshift/src/main/java/com/example/redshiftdata/InsertData.java
  javav2/example_code/rekognition/src/main/java/com/example/rekognition/VideoDetectSegment.java
  javav2/example_code/ses/Readme.md
  javav2/example_code/ses/src/main/java/com/example/sesv2/ListTemplates.java
  javav2/example_code/ses/src/main/java/com/example/sesv2/SendEmailTemplate.java
  javav2/example_code/ses/src/test/java/SESTest.java
  kotlin/usecases/subpub_app_android/Readme.md
Labels: lang/java-v2, lang/kotlin, status/has-text-review, status/has-testing-review

#3437 S3 bucket deletion changes
  javav2/example_code/s3/src/main/java/com/example/s3/S3BucketDeletion.java
Labels: lang/java-v2

#3441 Add return statement to fix unit tests
  javascriptv3/example_code/s3/src/s3_putbucketpolicy.js
  javascriptv3/example_code/s3/src/s3_setbucketwebsite.js
Labels: lang/javascript-v3

#3400 New issue templates!
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/pull-request.md
  .github/ISSUE_TEMPLATE/request-new-code-example.md
  .github/ISSUE_TEMPLATE/story.yaml
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/user-story.md
Labels: status/ready-to-merge, status/has-code-review, status/has-text-review

#3443 Move Swift TestWaiter into module
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/TestWaiter.swift
  swift/modules/SwiftUtilities/Tests/SwiftUtilitiesTests/TestWaiterTests.swift
Labels: status/ready-to-merge, lang/swift, status/has-code-review, status/has-text-review, status/has-testing-review

#3398 Added Gov2 GetLogEvents example
  gov2/cloudwatch/GetLogEvents/GetLogEventsv2.go
  gov2/cloudwatch/GetLogEvents/GetLogEventsv2_test.go
  gov2/cloudwatch/GetLogEvents/README.md
  gov2/cloudwatch/GetLogEvents/config.json
Labels: lang/go-v2

#3455 Adding SoS tags to .NET examples for Glacier
  .doc_gen/metadata/glacier_metadata.yaml
  dotnetv3/Glacier/AddTagsToVaultExample/AddTagsToVault.cs
  dotnetv3/Glacier/ListTagsForVaultExample/ListTagsForVault.cs
  dotnetv3/Glacier/README.md
Labels: lang/dotnet-v3, type/sos, status/has-code-review, status/has-text-review

#3491 Fixed an EventBridge example to show use of creating a rule based on a schedule.
  .doc_gen/metadata/eventbridge_metadata.yaml
  javav2/example_code/eventbridge/src/main/java/com/example/eventbridge/CreateRuleSchedule.java
  kotlin/services/eventbridge/src/main/kotlin/com/kotlin/eventbridge/CreateRuleSchedule.kt
Labels: lang/java-v2, lang/kotlin

#3475 2645 iam c++ mvp examples
  .doc_gen/metadata/iam_metadata.yaml
  cpp/example_code/iam/CMakeLists.txt
  cpp/example_code/iam/README.md
  cpp/example_code/iam/gtests/CMakeLists.txt
  cpp/example_code/iam/gtests/gtest_iam_create_user_assume_role_scenario.cpp
  cpp/example_code/iam/gtests/test_main.cpp
  cpp/example_code/iam/iam_create_user_assume_role_scenario.cpp
  cpp/example_code/iam/iam_samples.h
Labels: lang/cpp, status/has-text-review, status/has-testing-review

#3487 Add non-maintenance notice to Python signv4 files.
  python/example_code/signv4/v4-signing-get-authheader.py
  python/example_code/signv4/v4-signing-get-post.py
  python/example_code/signv4/v4-signing-get-querystring.py
Labels: type/bug, lang/python

#3507 Add snapshot paths to SOS templates
  .doc_gen/templates/zonbook/example_description_template.xml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/example_tablist_template.xml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_tag_chapter.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_bundle_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: type/sos

#3509 Fix typo in Python S3 example.
  python/example_code/s3/s3_basics/object_wrapper.py
Labels: type/bug, lang/python

#3472 Add Swift DeleteObjects example
  .doc_gen/metadata/s3_metadata.yaml
  swift/example_code/s3/DeleteObjects/Package.swift
  swift/example_code/s3/DeleteObjects/Sources/DeleteObjects/DeleteObjects.swift
  swift/example_code/s3/DeleteObjects/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/DeleteObjectsTests.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/S3DemoCleanup.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/ServiceHandler_Ext.swift
  swift/example_code/s3/README.md
Labels: status/ready-to-merge, lang/swift, status/has-code-review, status/has-text-review, status/has-testing-review

#3449 Updated inference example for segmentation support
  python/example_code/lookoutvision/README.md
  python/example_code/lookoutvision/config.json
  python/example_code/lookoutvision/inference.py
  python/example_code/lookoutvision/test/test_inference.py
Labels: lang/python, priority/high

#3231 Adds AWS Javascript SDKv3 example of SetQueueAttributes API call
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/sqs/src/sqs_setqueueattributes.js
  javascriptv3/example_code/tests/sqs/sqs_setqueueattributes.test.js
Labels: lang/javascript-v3

#3488 .NET Glacier Readme update
  dotnetv3/Glacier/README.md
  scripts/checkin_tests.py
Labels: lang/dotnet-v3

#3501 Remove Epic link requirement from Story template
  .github/ISSUE_TEMPLATE/story.yaml
Labels: type/chore

#3514 Remove obsolete Python DynamoDB code examples.
  .doc_gen/metadata/dynamodb_metadata.yaml
  python/example_code/dynamodb/GettingStarted/MoviesCreateTable.py
  python/example_code/dynamodb/GettingStarted/MoviesDeleteTable.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps01.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps02.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps03.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps03a.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps04.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps05.py
  python/example_code/dynamodb/GettingStarted/MoviesItemOps06.py
  python/example_code/dynamodb/GettingStarted/MoviesListTables.py
  python/example_code/dynamodb/GettingStarted/MoviesLoadData.py
  python/example_code/dynamodb/GettingStarted/MoviesQuery01.py
  python/example_code/dynamodb/GettingStarted/MoviesQuery02.py
  python/example_code/dynamodb/GettingStarted/MoviesScan.py
  python/example_code/dynamodb/GettingStarted/scenario_getting_started_movies.py
  python/example_code/dynamodb/GettingStarted/test/test_dynamodb_getting_started.py
  python/example_code/dynamodb/GettingStarted/test/test_scenario_getting_started_movies.py
  python/example_code/dynamodb/README.md
Labels: type/bug, lang/python

#3506 #3473 Add integration tests for JavaScript/SES
  javascriptv3/example_code/.gitignore
  javascriptv3/example_code/libs/index.js
  javascriptv3/example_code/package.json
  javascriptv3/example_code/s3/src/libs/s3Client.js
  javascriptv3/example_code/s3/src/libs/s3Utils.js
  javascriptv3/example_code/ses/README.md
  javascriptv3/example_code/ses/package.json
  javascriptv3/example_code/ses/src/libs/sesClient.js
  javascriptv3/example_code/ses/src/libs/sesUtils.js
  javascriptv3/example_code/ses/src/metadata.yaml
  javascriptv3/example_code/ses/src/ses_createreceiptfilter.js
  javascriptv3/example_code/ses/src/ses_createreceiptrule.js
  javascriptv3/example_code/ses/src/ses_createreceiptruleset.js
  javascriptv3/example_code/ses/src/ses_createtemplate.js
  javascriptv3/example_code/ses/src/ses_deleteidentity.js
  javascriptv3/example_code/ses/src/ses_deletereceiptfilter.js
  javascriptv3/example_code/ses/src/ses_deletereceiptrule.js
  javascriptv3/example_code/ses/src/ses_deletereceiptruleset.js
  javascriptv3/example_code/ses/src/ses_deletetemplate.js
  javascriptv3/example_code/ses/src/ses_gettemplate.js
  javascriptv3/example_code/ses/src/ses_listidentities.js
  javascriptv3/example_code/ses/src/ses_listreceiptfilters.js
  javascriptv3/example_code/ses/src/ses_listtemplates.js
  javascriptv3/example_code/ses/src/ses_sendbulktemplatedemail.js
  javascriptv3/example_code/ses/src/ses_sendemail.js
  javascriptv3/example_code/ses/src/ses_sendtemplatedemail.js
  javascriptv3/example_code/ses/src/ses_updatetemplate.js
  javascriptv3/example_code/ses/src/ses_verifydomainidentity.js
  javascriptv3/example_code/ses/src/ses_verifyemailidentity.js
  javascriptv3/example_code/tests/ses/babel.config.js
  javascriptv3/example_code/tests/ses/package.json
  javascriptv3/example_code/tests/ses/ses_createreceiptfilter.test.js
  javascriptv3/example_code/tests/ses/ses_createreceiptrule.test.js
  javascriptv3/example_code/tests/ses/ses_createreceiptruleset.test.js
  javascriptv3/example_code/tests/ses/ses_createtemplate.test.js
  javascriptv3/example_code/tests/ses/ses_deleteidentity.test.js
  javascriptv3/example_code/tests/ses/ses_deletereceiptfilter.test.js
  javascriptv3/example_code/tests/ses/ses_deletereceiptrule.test.js
  javascriptv3/example_code/tests/ses/ses_deletereceiptruleset.test.js
  javascriptv3/example_code/tests/ses/ses_deletetemplate.test.js
  javascriptv3/example_code/tests/ses/ses_gettemplate.test.js
  javascriptv3/example_code/tests/ses/ses_listidentities.test.js
  javascriptv3/example_code/tests/ses/ses_listreceiptfilters.test.js
  javascriptv3/example_code/tests/ses/ses_listtemplates.test.js
  javascriptv3/example_code/tests/ses/ses_sendbulktemplatedemail.test.js
  javascriptv3/example_code/tests/ses/ses_sendemail.test.js
  javascriptv3/example_code/tests/ses/ses_sendtemplatedemail.test.js
  javascriptv3/example_code/tests/ses/ses_updatetemplate.test.js
  javascriptv3/example_code/tests/ses/ses_verifydomainidentity.test.js
  javascriptv3/example_code/tests/ses/ses_verifyemailidentity.test.js
Labels: lang/javascript-v3, status/has-text-review, status/has-testing-review

#3529 3367-c++-research-linters
  .github/cpp-linter/Dockerfile
  .github/cpp-linter/LICENSE
  .github/cpp-linter/action.yml
  .github/cpp-linter/clang-tidy-config.txt
  .github/cpp-linter/requirements.txt
  .github/cpp-linter/review.py
  .github/workflows/cpp-lint.yml
  cpp/.gitignore
Labels: status/has-text-review

#3510 First steps for Ruby cleanup
  .github/linters/.ruby-lint.yml
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/Rakefile
  ruby/example_code/dynamodb/Gemfile
  ruby/example_code/dynamodb/Gemfile.lock
Labels: lang/ruby

#3535 #3516: Update SES CreateTemplate example for JS
  javascriptv3/example_code/package.json
  javascriptv3/example_code/ses/README.md
  javascriptv3/example_code/ses/src/ses_createtemplate.js
  javascriptv3/example_code/ses/src/ses_deletetemplate.js
  javascriptv3/example_code/ses/src/ses_sendtemplatedemail.js
Labels: lang/javascript-v3, status/has-text-review

#3547 change deprecated method
  javav2/example_code/s3/src/main/java/com/example/s3/CopyObject.java
Labels: lang/java-v2

#3528 Ggv2 examples
  rust_dev_preview/Cargo.toml
  rust_dev_preview/greengrassv2/Cargo.toml
  rust_dev_preview/greengrassv2/README.md
  rust_dev_preview/greengrassv2/src/bin/list-core-devices.rs
Labels: lang/rust

#3266 fix: fix class name of AdminInitAuth and add test code
  javav2/example_code/cognito/metadata.yaml
  javav2/example_code/cognito/src/main/java/com/example/cognito/AdminInitiateAuth.java
  javav2/example_code/cognito/src/main/resources/config.properties
  javav2/example_code/cognito/src/test/java/AmazonCognitoTest.java
Labels: lang/java-v2, priority/medium

#3537 Add .NET SES Single Action Examples
  .doc_gen/metadata/ses_metadata.yaml
  dotnetv3/.gitignore
  dotnetv3/SES/Actions/SESActionExamples.cs
  dotnetv3/SES/Actions/SESActions.csproj
  dotnetv3/SES/Actions/SESWrapper.cs
  dotnetv3/SES/README.md
  dotnetv3/SES/SESExamples.sln
  dotnetv3/SES/Tests/SESExampleTests.cs
  dotnetv3/SES/Tests/SESTests.csproj
  dotnetv3/SES/Tests/Usings.cs
  dotnetv3/SES/Tests/testsettings.json
  scripts/checkin_tests.py
Labels: lang/dotnet-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#3527 Update Rust dependencies
  rust_dev_preview/apigateway/Cargo.toml
  rust_dev_preview/apigatewaymanagement/Cargo.toml
  rust_dev_preview/applicationautoscaling/Cargo.toml
  rust_dev_preview/autoscaling/Cargo.toml
  rust_dev_preview/autoscalingplans/Cargo.toml
  rust_dev_preview/batch/Cargo.toml
  rust_dev_preview/ca-certs/Cargo.toml
  rust_dev_preview/cloudformation/Cargo.toml
  rust_dev_preview/cloudwatch/Cargo.toml
  rust_dev_preview/cloudwatchlogs/Cargo.toml
  rust_dev_preview/cognitoidentity/Cargo.toml
  rust_dev_preview/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/cognitosync/Cargo.toml
  rust_dev_preview/config/Cargo.toml
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/custom_retries/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/ebs/Cargo.toml
  rust_dev_preview/ec2/Cargo.toml
  rust_dev_preview/ecr/Cargo.toml
  rust_dev_preview/ecs/Cargo.toml
  rust_dev_preview/eks/Cargo.toml
  rust_dev_preview/globalaccelerator/Cargo.toml
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/iot/Cargo.toml
  rust_dev_preview/kinesis/Cargo.toml
  rust_dev_preview/kms/Cargo.toml
  rust_dev_preview/lambda/Cargo.toml
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/logging/logger/Cargo.toml
  rust_dev_preview/logging/tracing/Cargo.toml
  rust_dev_preview/medialive/Cargo.toml
  rust_dev_preview/mediapackage/Cargo.toml
  rust_dev_preview/polly/Cargo.toml
  rust_dev_preview/qldb/Cargo.toml
  rust_dev_preview/rds/Cargo.toml
  rust_dev_preview/rdsdata/Cargo.toml
  rust_dev_preview/route53/Cargo.toml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/sagemaker/Cargo.toml
  rust_dev_preview/secretsmanager/Cargo.toml
  rust_dev_preview/sending-presigned-requests/Cargo.toml
  rust_dev_preview/ses/Cargo.toml
  rust_dev_preview/setting-timeouts/Cargo.toml
  rust_dev_preview/sitewise/Cargo.toml
  rust_dev_preview/snowball/Cargo.toml
  rust_dev_preview/sns/Cargo.toml
  rust_dev_preview/sqs/Cargo.toml
  rust_dev_preview/ssm/Cargo.toml
  rust_dev_preview/stepfunction/Cargo.toml
  rust_dev_preview/testing/Cargo.toml
  rust_dev_preview/tls/Cargo.toml
  rust_dev_preview/transcribestreaming/Cargo.toml
  rust_dev_preview/using-native-tls-instead-of-rustls/Cargo.toml
Labels: lang/rust, status/ready-to-merge
