Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-03, with the labels that each got.

#4469 Bump MSRV, ensure SDK branches are main, TLS test moved to smithy-rs
  .github/workflows/rust.yml
  rust_dev_preview/Cargo.toml
  rust_dev_preview/dynamodb/src/scenario/movies/mod.rs
  rust_dev_preview/rust-toolchain.toml
  rust_dev_preview/using-native-tls-instead-of-rustls/Cargo.toml
  rust_dev_preview/using-native-tls-instead-of-rustls/additional-ci
  rust_dev_preview/using-native-tls-instead-of-rustls/src/main.rs
Labels: lang/rust, status/ready-to-merge, status/code-review-complete, status/test-review-complete, type/github-settings, status/no-text-review-needed

#4468 fix email creation/verification instructions
  javascriptv3/example_code/cross-services/transcribe-streaming-app/README.md
Labels: status/ready-to-merge, lang/javascript-v3, status/code-review-complete, status/text-review-complete, status/no-test-review-needed

#4452 Minor typo in rust Glue README
  rust_dev_preview/glue/README.md
Labels: lang/rust, status/ready-to-merge, status/code-review-complete, status/test-review-complete, status/no-text-review-needed

#4400 fix Rust link
  rust_dev_preview/README.md
Labels: lang/rust, status/ready-to-merge, status/code-review-complete, status/test-review-complete, status/no-text-review-needed

#4414 Updates to WRITEME configurations for .NET, updating Aurora README
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/services.yaml
  .doc_gen/readmes/includes/run_instructions.jinja2
  dotnetv3/Aurora/README.md
  dotnetv3/CloudWatch/Actions/HelloCloudWatch.cs
Labels: lang/dotnet-v3, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/no-test-review-needed

#4410 Dotnet glue update
  .doc_gen/metadata/glue_metadata.yaml
  dotnetv3/Glue/Actions/GlueActions.csproj
  dotnetv3/Glue/Actions/GlueWrapper.cs
  dotnetv3/Glue/Actions/HelloGlue.cs
  dotnetv3/Glue/Actions/Usings.cs
  dotnetv3/Glue/GlueExamples.sln
  dotnetv3/Glue/README.md
  dotnetv3/Glue/Scenarios/Glue_Basics/GlueBasics.cs
  dotnetv3/Glue/Scenarios/Glue_Basics/GlueBasics.csproj
  dotnetv3/Glue/Scenarios/Glue_Basics/UIWrapper.cs
  dotnetv3/Glue/Scenarios/Glue_Basics/Usings.cs
  dotnetv3/Glue/Scenarios/Glue_Basics/settings.json
  dotnetv3/Glue/Tests/GlueTests.cs
  dotnetv3/Glue/Tests/GlueTests.csproj
  dotnetv3/Glue/Tests/Usings.cs
  dotnetv3/Glue/Tests/testsettings.json
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/GlobalUsings.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/GlueBasics.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/GlueMethods.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics/Glue_Basics.csproj
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_BasicsTests/GlueMethodsTests.cs
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_BasicsTests/Glue_BasicsTests.csproj
  dotnetv3/Glue/scenarios/Glue_Basics_Scenario/Glue_Basics_Scenario.sln
Labels: lang/dotnet-v3, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4455 DynamoDB PartiQL MVP 🚀 (plus refactoring on DynamoDB MVP)
  .doc_gen/metadata/dynamodb_metadata.yaml
  ruby/example_code/dynamodb/.gitignore
  ruby/example_code/dynamodb/GettingStarted/MoviesCreateTable.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesDeleteTable.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps01.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps02.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps03.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps04.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps05.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesItemOps06.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesLoadData.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesQuery01.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesQuery02.rb
  ruby/example_code/dynamodb/GettingStarted/MoviesScan.rb
  ruby/example_code/dynamodb/GettingStarted/README.md
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesCreateTable.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesDeleteTable.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps01.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps02.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps03.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps04.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps05.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesItemOps06.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesLoadData.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesQuery01.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesQuery02.rb
  ruby/example_code/dynamodb/GettingStarted/tests/test_MoviesScan.rb
  ruby/example_code/dynamodb/README.md
  ruby/example_code/dynamodb/basics/dynamodb_basics.rb
  ruby/example_code/dynamodb/basics/scenario_getting_started_dynamodb.rb
  ruby/example_code/dynamodb/basics/spec/scenario_getting_started_dynamodb_spec.rb
  ruby/example_code/dynamodb/partiql/partiql_batch.rb
  ruby/example_code/dynamodb/partiql/partiql_single.rb
  ruby/example_code/dynamodb/partiql/scenario_partiql_batch.rb
  ruby/example_code/dynamodb/partiql/scenario_partiql_single.rb
  ruby/example_code/dynamodb/partiql/spec/scenario_partiql_batch_spec.rb
  ruby/example_code/dynamodb/partiql/spec/scenario_partiql_single_spec.rb
  ruby/example_code/dynamodb/scaffold.rb
  ruby/example_code/dynamodb/scenario_getting_started_movies.rb
  ruby/example_code/dynamodb/spec/.test.moviedata.json
  ruby/example_code/dynamodb/spec/scenario_getting_started_movies_spec.rb
  ruby/helpers/question.rb
Labels: lang/ruby, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4479 Add Step Functions Java V2 code
  javav2/example_code/stepfunctions/Readme.md
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/StepFunctionsScenario.java
  javav2/example_code/stepfunctions/src/test/java/StepFunctionsTest.java
Labels: lang/java-v2, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4325 feat(rust): add webassembly example
  rust_dev_preview/Cargo.toml
  rust_dev_preview/webassembly/.cargo/config.toml
  rust_dev_preview/webassembly/Cargo.toml
  rust_dev_preview/webassembly/README.md
  rust_dev_preview/webassembly/src/lib.rs
  rust_dev_preview/webassembly/www/.gitignore
  rust_dev_preview/webassembly/www/env/credentials.js
  rust_dev_preview/webassembly/www/env/index.js
  rust_dev_preview/webassembly/www/env/package.json
  rust_dev_preview/webassembly/www/package-lock.json
  rust_dev_preview/webassembly/www/package.json
  rust_dev_preview/webassembly/www/src/index.js
  rust_dev_preview/webassembly/www/static/index.html
  rust_dev_preview/webassembly/www/webpack.config.js
Labels: lang/rust, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4420 Add examples for STS and Firehose
  .doc_gen/metadata/firehose_metadata.yaml
  .doc_gen/metadata/services.yaml
  .doc_gen/metadata/sts_metadata.yaml
  rust_dev_preview/Cargo.toml
  rust_dev_preview/firehose/Cargo.toml
  rust_dev_preview/firehose/README.md
  rust_dev_preview/firehose/src/bin/put-records-batch.rs
  rust_dev_preview/sts/Cargo.toml
  rust_dev_preview/sts/README.md
  rust_dev_preview/sts/src/bin/assume-role.rs
  rust_dev_preview/sts/src/bin/get-caller-identity.rs
Labels: lang/rust, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4487 Fix link to java2 examples
  README.md
Labels: status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4495 Update sts_metadata.yaml
  .doc_gen/metadata/sts_metadata.yaml
Labels: status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4496 Updates labels for new process.
  .github/allowed-labels.yml
  .github/workflows/label-checker.yml
  .github/workflows/label-linter.yml
Labels: status/ready-to-merge, priority/high, status/code-review-complete, type/github-settings, status/no-text-review-needed, status/no-test-review-needed

#4499 Add elros and elros-pam
  resources/clients/react/elros-pam/.env
  resources/clients/react/elros-pam/.gitignore
  resources/clients/react/elros-pam/README.md
  resources/clients/react/elros-pam/index.html
  resources/clients/react/elros-pam/package-lock.json
  resources/clients/react/elros-pam/package.json
  resources/clients/react/elros-pam/public/vite.svg
  resources/clients/react/elros-pam/src/App.css
  resources/clients/react/elros-pam/src/App.tsx
  resources/clients/react/elros-pam/src/FileUpload.tsx
  resources/clients/react/elros-pam/src/LoginModal.tsx
  resources/clients/react/elros-pam/src/LoginNavigation.tsx
  resources/clients/react/elros-pam/src/S3Transfer.tsx
  resources/clients/react/elros-pam/src/TagsLayout.tsx
  resources/clients/react/elros-pam/src/auth.ts
  resources/clients/react/elros-pam/src/cognito-auth.ts
  resources/clients/react/elros-pam/src/main.tsx
  resources/clients/react/elros-pam/src/pam-api.ts
  resources/clients/react/elros-pam/src/polyfills.ts
  resources/clients/react/elros-pam/src/store-auth.ts
  resources/clients/react/elros-pam/src/store-tags.ts
  resources/clients/react/elros-pam/src/store-ui.ts
  resources/clients/react/elros-pam/src/vite-env.d.ts
  resources/clients/react/elros-pam/tsconfig.json
  resources/clients/react/elros-pam/tsconfig.node.json
  resources/clients/react/elros-pam/vite.config.ts
  resources/clients/react/elros/.env
  resources/clients/react/elros/.gitignore
  resources/clients/react/elros/README.md
  resources/clients/react/elros/index.html
  resources/clients/react/elros/package-lock.json
  resources/clients/react/elros/package.json
  resources/clients/react/elros/public/vite.svg
  resources/clients/react/elros/src/App.css
  resources/clients/react/elros/src/App.tsx
  resources/clients/react/elros/src/LoginModal.tsx
  resources/clients/react/elros/src/WelcomeUser.tsx
  resources/clients/react/elros/src/auth.ts
  resources/clients/react/elros/src/cognito-auth.ts
  resources/clients/react/elros/src/main.tsx
  resources/clients/react/elros/src/polyfills.ts
  resources/clients/react/elros/src/store-auth.ts
  resources/clients/react/elros/src/store-ui.ts
  resources/clients/react/elros/src/vite-env.d.ts
  resources/clients/react/elros/tsconfig.json
  resources/clients/react/elros/tsconfig.node.json
  resources/clients/react/elros/vite.config.ts
Labels: status/no-text-review-needed, status/no-test-review-needed

#4502 Fixes the label checker to look for the new, correct, label.
  .github/workflows/label-checker.yml
Labels: status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed

#4408 Added PartiQL examples for Rust DDB CRUD.
  .doc_gen/metadata/dynamodb_metadata.yaml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/dynamodb/README.md
  rust_dev_preview/dynamodb/src/bin/partiql.rs
Labels: lang/rust, status/ready-to-merge, status/on-call-review-complete, status/test-review-complete, status/no-text-review-needed

#4505 Adds internal label and updates ready-to-merge color
  .github/allowed-labels.yml
Labels: status/ready-to-merge, status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#4489 Refined Python Docker image and updated script to run all tests
  python/Dockerfile
  python/README.md
  python/test_tools/run_all_tests.py
Labels: lang/python, status/ready-to-merge, status/on-call-review-complete, status/text-review-complete, status/no-test-review-needed

#4503 Update Cargo.toml
  rust_dev_preview/Cargo.toml
  rust_dev_preview/webassembly/Cargo.toml
Labels: lang/rust, status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4506 IAM best practices update
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/kms_metadata.yaml
  .doc_gen/metadata/sts_metadata.yaml
  .doc_gen/validation/example_schema.yaml
  .doc_gen/validation/validate_doc_metadata.py
  dotnetv3/Rekognition/ListCollectionsExample/ListCollections.cs
  dotnetv3/SNS/ListSNSTopicsExample/ListSNSTopicsExample/ListSNSTopics.cs
  gov2/iam/actions/users.go
  python/example_code/kms/grant_management.py
  python/example_code/kms/key_policies.py
  python/example_code/ses/ses_generate_smtp_credentials.py
Labels: lang/dotnet-v3, lang/go-v2, lang/python, status/ready-to-merge, status/on-call-review-complete, status/text-review-complete, status/no-test-review-needed

#4512 Stepfunctions SOS
  .doc_gen/metadata/sfn_metadata.yaml
Labels: lang/java-v2, status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4473 IdentityStore - Java Code for APIs
  javav2/example_code/identitystore/Makefile
  javav2/example_code/identitystore/Readme.md
  javav2/example_code/identitystore/checkstyle.xml
  javav2/example_code/identitystore/metadata.yaml
  javav2/example_code/identitystore/pom.xml
  javav2/example_code/identitystore/run_example.sh
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/CreateGroup.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/CreateGroupMembership.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/CreateUser.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/DeleteGroup.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/DeleteGroupMembership.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/DeleteUser.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/DescribeGroup.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/DescribeGroupMembership.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/DescribeUser.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/GetGroupId.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/GetGroupMembershipId.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/GetUserId.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/IsMemberInGroups.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/ListGroupMemberships.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/ListGroupMembershipsForMember.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/ListGroups.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/ListUsers.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/UpdateGroup.java
  javav2/example_code/identitystore/src/main/java/com/example/identitystore/UpdateUser.java
  javav2/example_code/identitystore/src/main/resources/config.properties
  javav2/example_code/identitystore/src/test/java/IdentitystoreServiceTest.java
Labels: lang/java-v2, status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4493 EventBridge MVP in .NET
  .doc_gen/metadata/eventbridge_metadata.yaml
  .doc_gen/metadata/services.yaml
  dotnetv3/CloudWatch/Scenarios/CloudWatchScenario.cs
  dotnetv3/EventBridge/Actions/EventBridgeActions.csproj
  dotnetv3/EventBridge/Actions/EventBridgeWrapper.cs
  dotnetv3/EventBridge/Actions/HelloEventBridge.cs
  dotnetv3/EventBridge/EventBridgeExamples.sln
  dotnetv3/EventBridge/README.md
  dotnetv3/EventBridge/Scenarios/EventBridgeScenario.cs
  dotnetv3/EventBridge/Scenarios/EventBridgeScenario.csproj
  dotnetv3/EventBridge/Scenarios/settings.json
  dotnetv3/EventBridge/Tests/EventBridgeTests.cs
  dotnetv3/EventBridge/Tests/EventBridgeTests.csproj
  dotnetv3/EventBridge/Tests/Usings.cs
  dotnetv3/EventBridge/Tests/testsettings.json
Labels: lang/dotnet-v3, status/ready-to-merge, status/on-call-review-complete, status/text-review-complete, status/test-review-complete

#4403 Swift basic scenario example for DynamoDB
  .doc_gen/metadata/dynamodb_metadata.yaml
  swift/example_code/ddb/README.md
  swift/example_code/ddb/basics/MovieList/Movie.swift
  swift/example_code/ddb/basics/MovieList/MovieTable.swift
  swift/example_code/ddb/basics/Package.swift
  swift/example_code/ddb/basics/Sources/basics.swift
  swift/example_code/ddb/basics/Tests/MovieTableTests.swift
  swift/example_code/ddb/basics/Tests/MovieTests.swift
Labels: status/ready-to-merge, lang/swift, status/on-call-review-complete, status/text-review-complete, status/test-review-complete

#4515 Updates versions in our workflows to fix the Node.js version 12 deprecation.
  .github/workflows/ciTest.yml
  .github/workflows/extract-snippets-dryrun.yml
  .github/workflows/extract-snippets.yml
  .github/workflows/label-linter.yml
  .github/workflows/pre-validate.yml
  .github/workflows/rust.yml
  .github/workflows/super-linter.yml
  .github/workflows/validate-doc-metadata.yml
Labels: status/ready-to-merge, status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#4524 Update allowed-labels.yml
  .github/allowed-labels.yml
  .github/workflows/label-checker.yml
Labels: status/ready-to-merge, status/on-call-review-complete, type/github-settings, status/no-text-review-needed, status/no-test-review-needed

#4404 Update routing control state examples to recommend accessing a random…
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/GetRoutingControlState.java
  javav2/example_code/route53recoverycluster/src/main/java/com/example/route53recoverycluster/UpdateRoutingControlState.java
  python/example_code/route53-recovery-cluster/routing_control_states.py
Labels: lang/java-v2, lang/python, status/ready-to-merge, status/on-call-review-complete, status/text-review-complete, status/no-test-review-needed

#4529 Allow some routes to be events
  resources/cdk/photo_asset_manager/lib/backend/api.ts
  resources/cdk/photo_asset_manager/lib/backend/api_models.ts
Labels: tool/cdk

#4531 Glacier -> Intelligent Tier
  resources/cdk/photo_asset_manager/lib/backend/api.ts
  resources/cdk/photo_asset_manager/lib/backend/api_models.ts
  resources/cdk/photo_asset_manager/lib/backend/resources.ts
  resources/clients/react/elros-pam/src/TagsLayout.tsx
  resources/clients/react/elros-pam/src/pam-api.ts
  resources/clients/react/elros-pam/src/store-auth.ts
Labels: tool/cdk

#4532 Pamsourcefiles2
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/PhotoApplicationResources.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/DownloadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/handlers/RestoreHandler.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/S3Service.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/SnsService.java
Labels: lang/java-v2, lang/dotnet-v3, lang/go-v2, lang/python, tool/cdk, lang/rust, type/github-settings

#4534 Pam/dev
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/DownloadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/RestoreEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/handlers/RestoreHandler.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/S3Service.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/SnsService.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/springboot/RestoreController.java
  resources/cdk/photo_asset_manager/lib/backend/api.ts
  resources/cdk/photo_asset_manager/lib/backend/lambdas.ts
  resources/cdk/photo_asset_manager/lib/backend/resources.ts
  resources/cdk/photo_asset_manager/lib/backend/stack.ts
  resources/cdk/photo_asset_manager/lib/frontend/infra-stack.ts
Labels: lang/java-v2, tool/cdk

#4540 Fix download.
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/PhotoApplicationResources.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/DownloadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/handlers/RestoreHandler.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/S3Service.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/SnsService.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/springboot/PhotoController.java
  resources/cdk/photo_asset_manager/lib/backend/api.ts
  resources/cdk/photo_asset_manager/lib/backend/stack.ts
Labels: lang/java-v2, lang/dotnet-v3, lang/go-v2, lang/python, tool/cdk, lang/rust, type/github-settings

#4542 Pam/login
  resources/cdk/photo_asset_manager/lib/frontend/asset-stack.ts
  resources/clients/react/elros-pam/.env
  resources/clients/react/elros-pam/src/LoginNavigation.tsx
Labels: tool/cdk

#4544 David's code review and edits
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/Job.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/Label.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/LabelCount.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/PhotoApplicationResources.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/DownloadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/UploadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/handlers/RestoreHandler.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/handlers/S3Handler.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/AnalyzePhotos.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/DynamoDBService.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/S3Service.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/SnsService.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/springboot/PhotoController.java
  resources/cdk/photo_asset_manager/lib/backend/api.ts
  resources/cdk/photo_asset_manager/lib/backend/lambdas.ts
  resources/cdk/photo_asset_manager/lib/backend/resources.ts
  resources/cdk/photo_asset_manager/lib/backend/stack.ts
  resources/cdk/photo_asset_manager/lib/backend/strategies.ts
  resources/cdk/photo_asset_manager/lib/frontend/infra-stack.ts
  resources/clients/react/elros-pam/src/App.tsx
  resources/clients/react/elros-pam/src/FileUpload.tsx
  resources/clients/react/elros-pam/src/LoginNavigation.tsx
  resources/clients/react/elros-pam/src/S3Transfer.tsx
  resources/clients/react/elros-pam/src/TagsLayout.tsx
  resources/clients/react/elros-pam/src/pam-api.ts
  resources/clients/react/elros-pam/src/store-auth.ts
Labels: lang/java-v2, tool/cdk

#4545 Remove springboot and a couple other cleanups
  javav2/usecases/pam_source_files/pom.xml
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/PhotoApplication.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/PhotoApplicationResources.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/DownloadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/AnalyzePhotos.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/DynamoDBService.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/S3Service.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/SnsService.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/springboot/PhotoController.java
Labels: lang/java-v2

#4546 Pam/instructions
  resources/cdk/photo_asset_manager/DEVELOPMENT.md
  resources/cdk/photo_asset_manager/README.md
  resources/cdk/photo_asset_manager/lib/backend/lambdas.ts
  resources/cdk/photo_asset_manager/lib/backend/resources.ts
  resources/cdk/photo_asset_manager/lib/backend/strategies.ts
Labels: tool/cdk

#4554 Remove invalid reference.
  resources/cdk/photo_asset_manager/lib/backend/stack.ts
Labels: tool/cdk, cross-service-team

#4570 Add SPECIFICATION.md
  resources/cdk/photo_asset_manager/SPECIFICATION.md
  resources/cdk/photo_asset_manager/lib/backend/lambdas.ts
Labels: tool/cdk

#4553 Bump rust toolchain to 1.66.1
  .github/workflows/rust.yml
  rust_dev_preview/eks/src/bin/create-cluster.rs
  rust_dev_preview/eks/src/bin/create-delete-cluster.rs
  rust_dev_preview/eks/src/bin/list-clusters.rs
  rust_dev_preview/greengrassv2/src/bin/list-core-devices.rs
  rust_dev_preview/iam/src/bin/create-role.rs
  rust_dev_preview/iam/src/iam-service-lib.rs
  rust_dev_preview/rust-toolchain.toml
  rust_dev_preview/s3/src/s3-service-lib.rs
  rust_dev_preview/transcribestreaming/src/main.rs
Labels: lang/rust, status/ready-to-merge, status/on-call-review-complete, type/github-settings, status/no-text-review-needed, status/no-test-review-needed

#4485 Update README.md
  swift/example_code/s3/README.md
Labels: status/ready-to-merge, lang/swift, status/on-call-review-complete, status/text-review-complete, status/no-test-review-needed

#4539 Add BatchGetItem sample for Swift
  .doc_gen/metadata/dynamodb_metadata.yaml
  swift/.gitignore
  swift/example_code/ddb/BatchGetItem/Package.swift
  swift/example_code/ddb/BatchGetItem/Sources/Movie.swift
  swift/example_code/ddb/BatchGetItem/Sources/MovieDatabase.swift
  swift/example_code/ddb/BatchGetItem/Sources/batchgetitem.swift
  swift/example_code/ddb/BatchGetItem/Tests/MovieDatabaseTests.swift
  swift/example_code/ddb/BatchGetItem/Tests/MovieTests.swift
  swift/example_code/ddb/README.md
Labels: status/ready-to-merge, lang/swift, status/on-call-review-complete, status/text-review-complete, status/test-review-complete

#4578 Fix typo in IAM SoS
  .doc_gen/metadata/iam_metadata.yaml
Labels: status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4421 Update Readme.md
  javav2/example_code/rekognition/Readme.md
Labels: lang/java-v2, status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4581 Rearranging snippet comments of DynamoDBMapper examples
  java/example_code/dynamodb/src/main/java/com/amazonaws/codesamples/datamodeling/DynamoDBMapperBatchWriteExample.java
  java/example_code/dynamodb/src/main/java/com/amazonaws/codesamples/datamodeling/DynamoDBMapperCRUDExample.java
  java/example_code/dynamodb/src/main/java/com/amazonaws/codesamples/datamodeling/DynamoDBMapperExample.java
  java/example_code/dynamodb/src/main/java/com/amazonaws/codesamples/datamodeling/DynamoDBMapperQueryScanExample.java
Labels: status/ready-to-merge, lang/java-v1, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4580 Add MediaConvert examples to metadata and other metadata miscellany
  .doc_gen/cross-content/cross_SQSMessage_Java_block.xml
  .doc_gen/cross-content/cross_SQSMessage_Kotlin_block.xml
  .doc_gen/cross-content/cross_detect_faces_rust_block.xml
  .doc_gen/cross-content/cross_detect_labels_rust_block.xml
  .doc_gen/cross-content/cross_telephone_rust_block.xml
  .doc_gen/metadata/aurora_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/glue_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/keyspaces_metadata.yaml
  .doc_gen/metadata/lookoutvision_metadata.yaml
  .doc_gen/metadata/mediaconvert_metadata.yaml
  .doc_gen/metadata/route53domains_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/services.yaml
Labels: status/ready-to-merge, status/on-call-review-complete, status/text-review-complete

#4543 Updates to use the constant values for DyanmoDB definitions
  dotnetv3/Lambda/CreateDynamoDBTableExample/CreateDynamoDBTableExample/Function.cs
  dotnetv3/dynamodb/CreateTablesLoadDataExample/CreateTablesLoadDataExample/CreateTablesLoadData.cs
  dotnetv3/dynamodb/low-level-api/LowLevelTableExample/LowLevelTableExample.cs
  dotnetv3/dynamodb/low-level-api/LowLevelTableExample/LowLevelTableExample.csproj
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_Scenario/DynamoDbMethods.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Basics_Scenario/PartiQL_Basics_Scenario/DynamoDBMethods.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Batch_Scenario/PartiQL_Batch_Scenario/DynamoDBMethods.cs
Labels: lang/dotnet-v3, status/ready-to-merge, status/on-call-review-complete, status/text-review-complete, status/no-test-review-needed

#4587 rolled in edits
  javav2/usecases/pam_source_files/Readme.md
  javav2/usecases/pam_source_files/images/EventJSON.png
  javav2/usecases/pam_source_files/images/email.png
  javav2/usecases/pam_source_files/images/lcRule.png
  javav2/usecases/pam_source_files/images/packages.png
  javav2/usecases/pam_source_files/images/pam.png
  javav2/usecases/pam_source_files/images/pam2.png
  javav2/usecases/pam_source_files/images/pamDownload.png
  javav2/usecases/pam_source_files/images/pamOverview.png
  javav2/usecases/pam_source_files/images/pamSignin.png
  javav2/usecases/pam_source_files/images/pic1.png
  javav2/usecases/pam_source_files/images/pic2.png
  javav2/usecases/pam_source_files/images/pic3.png
  javav2/usecases/pam_source_files/images/restore.png
  javav2/usecases/pam_source_files/images/s3tag.png
  javav2/usecases/pam_source_files/images/storageMessage.png
  javav2/usecases/pam_source_files/images/storageMessage1.png
  javav2/usecases/pam_source_files/images/storageMessage2.png
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/DownloadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/endpoints/UploadEndpoint.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/handlers/S3Handler.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/AnalyzePhotos.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/DynamoDBService.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/S3Service.java
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/services/SnsService.java
Labels: lang/java-v2

#4588 Scenario edits
  .doc_gen/metadata/auditmanager_metadata.yaml
  .doc_gen/metadata/aurora_metadata.yaml
  .doc_gen/metadata/auto-scaling_metadata.yaml
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  .doc_gen/metadata/comprehend_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/device-farm_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/emr_metadata.yaml
  .doc_gen/metadata/eventbridge_metadata.yaml
  .doc_gen/metadata/glue_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/keyspaces_metadata.yaml
  .doc_gen/metadata/kinesis_metadata.yaml
  .doc_gen/metadata/lambda_metadata.yaml
  .doc_gen/metadata/lookoutvision_metadata.yaml
  .doc_gen/metadata/route53domains_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/sagemaker_metadata.yaml
  .doc_gen/metadata/secrets-manager_metadata.yaml
  .doc_gen/metadata/ses_metadata.yaml
  .doc_gen/metadata/sfn_metadata.yaml
Labels: status/ready-to-merge, status/on-call-review-complete, status/text-review-complete

#4594 Add Swift ListTables DynamoDB example
  .doc_gen/metadata/dynamodb_metadata.yaml
  swift/example_code/ddb/ListTables/Package.swift
  swift/example_code/ddb/ListTables/Sources/DatabaseManager.swift
  swift/example_code/ddb/ListTables/Sources/listtables.swift
  swift/example_code/ddb/ListTables/Tests/ListTablesTests.swift
  swift/example_code/ddb/README.md
Labels: status/ready-to-merge, lang/swift, status/on-call-review-complete, status/text-review-complete, status/test-review-complete

#4604 update Elros after learnings from PAM
  resources/clients/react/elros-pam/README.md
  resources/clients/react/elros-pam/src/LabelsLayout.tsx
  resources/clients/react/elros-pam/src/S3Transfer.tsx
  resources/clients/react/elros/.env
  resources/clients/react/elros/README.md
  resources/clients/react/elros/index.html
  resources/clients/react/elros/package-lock.json
  resources/clients/react/elros/package.json
  resources/clients/react/elros/src/App.tsx
  resources/clients/react/elros/src/FileUpload.tsx
  resources/clients/react/elros/src/HelpPanel.tsx
  resources/clients/react/elros/src/LoginModal.tsx
  resources/clients/react/elros/src/LoginNavigation.tsx
  resources/clients/react/elros/src/WelcomeUser.tsx
  resources/clients/react/elros/src/auth.ts
  resources/clients/react/elros/src/cognito-auth.ts
  resources/clients/react/elros/src/store-auth.ts
  resources/clients/react/elros/src/store-ui.ts
  resources/clients/react/elros/src/store.ts
Labels: status/ready-to-merge, status/on-call-review-complete, status/text-review-complete

#4607 Update Readme.md
  javav2/usecases/pam_source_files/Readme.md
Labels: lang/java-v2

#4608 Removed a Java file
  javav2/usecases/pam_source_files/src/main/java/com/example/photo/handlers/CopyHandler.java
Labels: lang/java-v2, status/ready-to-merge, status/no-text-review-needed, status/no-test-review-needed

#4617 Update docker-push.yml
  .github/workflows/docker-push.yml
Labels: status/ready-to-merge, status/on-call-review-complete, type/github-settings, status/no-text-review-needed, status/no-test-review-needed

#4616 Update Dockerfile
  ruby/Dockerfile
Labels: lang/ruby, status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4618 Update Dockerfile
  ruby/Dockerfile
Labels: lang/ruby, status/ready-to-merge, status/on-call-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4612 4162 document c++ dependencies build steps
  cpp/Dockerfile
  cpp/README.rst
Labels: lang/cpp, status/ready-to-merge, status/on-call-review-complete, status/text-review-complete, status/no-test-review-needed

#4605 4497 c++ legacy cleanup sns
  cpp/example_code/aurora/tests/gtest_getting_started_with_db_clusters.cpp
  cpp/example_code/sns/CMakeLists.txt
  cpp/example_code/sns/README.md
  cpp/example_code/sns/create_topic.cpp
  cpp/example_code/sns/delete_topic.cpp
  cpp/example_code/sns/get_sms_type.cpp
  cpp/example_code/sns/get_topic_attributes.cpp
  cpp/example_code/sns/list_subscriptions.cpp
  cpp/example_code/sns/list_topics.cpp
  cpp/example_code/sns/publish_sms.cpp
  cpp/example_code/sns/publish_to_topic.cpp
  cpp/example_code/sns/set_sms_type.cpp
  cpp/example_code/sns/sns_samples.h
  cpp/example_code/sns/subscribe_app.cpp
  cpp/example_code/sns/subscribe_email.cpp
  cpp/example_code/sns/subscribe_lambda.cpp
  cpp/example_code/sns/tests/CMakeLists.txt
  cpp/example_code/sns/tests/gtest_create_topic.cpp
  cpp/example_code/sns/tests/gtest_delete_topic.cpp
  cpp/example_code/sns/tests/gtest_get_sms_type.cpp
  cpp/example_code/sns/tests/gtest_get_topic_attributes.cpp
  cpp/example_code/sns/tests/gtest_list_subscriptions.cpp
  cpp/example_code/sns/tests/gtest_list_topics.cpp
  cpp/example_code/sns/tests/gtest_publish_sms.cpp
  cpp/example_code/sns/tests/gtest_publish_to_topic.cpp
  cpp/example_code/sns/tests/gtest_set_sms_type.cpp
  cpp/example_code/sns/tests/gtest_subscribe_app.cpp
  cpp/example_code/sns/tests/gtest_subscribe_email.cpp
  cpp/example_code/sns/tests/gtest_subscribe_lambda.cpp
  cpp/example_code/sns/tests/gtest_unsubscribe.cpp
  cpp/example_code/sns/tests/mock_input/subscribe_app.xml
  cpp/example_code/sns/tests/mock_input/subscribe_email.xml
  cpp/example_code/sns/tests/mock_input/subscribe_lambda.xml
  cpp/example_code/sns/tests/sns_gtests.cpp
  cpp/example_code/sns/tests/sns_gtests.h
  cpp/example_code/sns/tests/test_main.cpp
  cpp/example_code/sns/unsubscribe.cpp
Labels: lang/cpp, status/ready-to-merge, status/on-call-review-complete, status/text-review-complete, status/test-review-complete

#4622 Add SOS files
  .doc_gen/cross-content/cross_PAM_Java_block.xml
  .doc_gen/metadata/cross_metadata.yaml
Labels: lang/java-v2, status/on-call-review-complete, status/text-review-complete
