Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-02, with the labels that each got.

#4326 Add Kotlin CloudWatch MVP
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/glacier_metadata.yaml
  javav2/example_code/cloudwatch/Readme.md
  javav2/example_code/glacier/src/main/java/com/example/glacier/DeleteArchive.java
  kotlin/services/cloudwatch/CloudDashboard.json
  kotlin/services/cloudwatch/Readme.md
  kotlin/services/cloudwatch/build.gradle.kts
  kotlin/services/cloudwatch/jsonWidgets.json
  kotlin/services/cloudwatch/settings.json
  kotlin/services/cloudwatch/src/main/kotlin/com/kotlin/cloudwatch/CloudWatchScenario.kt
  kotlin/services/cloudwatch/src/main/kotlin/com/kotlin/cloudwatch/HelloService.kt
  kotlin/services/cloudwatch/src/main/resources/config.properties
  kotlin/services/cloudwatch/src/test/kotlin/CloudWatchTest.kt
Labels: lang/java-v2, lang/kotlin, type/sos, status/has-text-review

#4324 Fix Java SDK v2 CopyObject example
  javav2/example_code/s3/src/main/java/com/example/s3/CopyObject.java
Labels: lang/java-v2, status/ready-to-merge

#4319 .NET Aurora MVP
  .doc_gen/metadata/aurora_metadata.yaml
  .github/pre_validate/pre_validate.py
  dotnetv3/Aurora/Actions/AuroraActions.csproj
  dotnetv3/Aurora/Actions/AuroraWrapper.cs
  dotnetv3/Aurora/Actions/HelloAurora.cs
  dotnetv3/Aurora/AuroraExamples.sln
  dotnetv3/Aurora/README.md
  dotnetv3/Aurora/Scenarios/AuroraScenario.cs
  dotnetv3/Aurora/Scenarios/AuroraScenario.csproj
  dotnetv3/Aurora/Tests/AuroraScenarioTests.cs
  dotnetv3/Aurora/Tests/AuroraTests.csproj
  dotnetv3/Aurora/Tests/Usings.cs
  dotnetv3/Aurora/Tests/testsettings.json
Labels: lang/dotnet-v3, type/sos, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review, type/mvp, type/github-settings

#4345 Update Java Cognito MVP/Kotlin Sub/Pub build Gradle file
  javav2/example_code/cognito/src/main/java/com/example/cognito/CognitoMVP.java
  javav2/example_code/cognito/src/test/java/AmazonCognitoTest.java
  kotlin/usecases/subpub_app/Readme.md
  kotlin/usecases/subpub_app/build.gradle.kts
  kotlin/usecases/subpub_app/src/main/kotlin/com/aws/kotlin/SnsService.kt
  kotlin/usecases/subpub_app/src/main/kotlin/com/aws/kotlin/SubApplication.kt
Labels: lang/java-v2, lang/kotlin

#4322 Update table_basics.go
  gov2/dynamodb/actions/table_basics.go
Labels: lang/go-v2

#4323 Fixed URL in link to dev guide
  javascriptv3/example_code/cross-services/transcription-app/README.md
Labels: lang/javascript-v3

#4368 Fix broken links found by link checker.
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/personalize-events_metadata.yaml
  .doc_gen/metadata/personalize-runtime_metadata.yaml
  .doc_gen/metadata/personalize_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
Labels: type/sos

#4371 Update docker-push.yml
  .github/workflows/docker-push.yml
Labels: status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review, type/github-settings

#4348 Updates the allow-labels.yml file to use better labels and colors.
  .github/allowed-labels.yml
Labels: type/github-settings

#4349 Adds the Label Checker action to prevent merging unless labels are correct.
  .github/workflows/label-checker.yml
Labels: status/ready-to-merge, status/code-review-complete, type/github-settings, status/no-text-review-needed, status/no-test-review-needed

#4367 Refine Cpp docker image and mark as GA
  cpp/.dockerignore
  cpp/Dockerfile
Labels: lang/cpp, status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4376 Fixes to build examples with latest SDK
  cpp/build_all_examples.sh
  cpp/example_code/autoscaling/groups_and_instances_scenario.cpp
  cpp/example_code/cloudwatch/CMakeLists.txt
  cpp/example_code/dynamodb/dynamodb_utils.cpp
  cpp/example_code/elasticfilesystem/create_file_system_with_modeled_exceptions.cpp
  cpp/example_code/glue/glue_getting_started_scenario.cpp
  cpp/example_code/glue/glue_samples.h
  cpp/example_code/glue/glue_utilities.cpp
  cpp/example_code/iam/iam_create_user_assume_role_scenario.cpp
  cpp/example_code/lambda/get_started_with_functions_scenario.cpp
  cpp/example_code/s3/list_objects_with_aws_global_region.cpp
  cpp/example_code/s3/tests/gtest_get_object_acl.cpp
  cpp/example_code/s3/tests/gtest_put_object_acl.cpp
  cpp/example_code/s3encryption/tests/test_s3Encryption.cpp
  cpp/example_code/sts/gtests/gtest_assume_role.cpp
Labels: lang/cpp, status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4296 Lookout for Vision Python examples update
  .doc_gen/metadata/lookoutvision_metadata.yaml
  javav2/example_code/lookoutvision/.gitignore
  javav2/example_code/rekognition/.gitignore
  python/example_code/lookoutvision/README.md
  python/example_code/lookoutvision/datasets.py
  python/example_code/lookoutvision/export_datasets.py
  python/example_code/lookoutvision/find_running_models.py
  python/example_code/lookoutvision/find_tag.py
  python/example_code/lookoutvision/hello.py
  python/example_code/lookoutvision/inference.py
  python/example_code/lookoutvision/test.manifest
  python/example_code/lookoutvision/test/test_find_running_models.py
  python/example_code/lookoutvision/test/test_hello.py
  python/example_code/lookoutvision/train_host.py
  python/example_code/lookoutvision/update_dataset.py
Labels: lang/python, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/no-test-review-needed

#4347 .NET EventBridge single example
  dotnetv3/EventBridge/CreateRule/CreateRule.csproj
  dotnetv3/EventBridge/CreateRule/Program.cs
Labels: lang/dotnet-v3, status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4380 Add SQS Create Queue to SOS
  .doc_gen/metadata/sqs_metadata.yaml
  ruby/example_code/sqs/create_queue.rb
  ruby/example_code/sqs/dead_letter_queue.rb
  ruby/example_code/sqs/delete_queue.rb
  ruby/example_code/sqs/enable_long_polling.rb
  ruby/example_code/sqs/enable_resource.rb
  ruby/example_code/sqs/get_messages.rb
  ruby/example_code/sqs/get_messages_with_long_polling.rb
  ruby/example_code/sqs/long_polling.rb
  ruby/example_code/sqs/message_visibility_timeout.rb
  ruby/example_code/sqs/poll_messages.rb
  ruby/example_code/sqs/redirect_deadletter_queue.rb
  ruby/example_code/sqs/send_message.rb
  ruby/example_code/sqs/send_message_batch.rb
  ruby/example_code/sqs/send_receive_messages.rb
  ruby/example_code/sqs/show_queues.rb
  ruby/example_code/sqs/using_queues.rb
  ruby/example_code/sqs/visibility_timeout.rb
  ruby/example_code/sqs/visibility_timeout_2.rb
Labels: lang/ruby, status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4383 Clean up Ruby SQS examples (Part 1 of 2)
  .doc_gen/metadata/sqs_metadata.yaml
  ruby/example_code/sqs/README.md
  ruby/example_code/sqs/delete_queue.rb
  ruby/example_code/sqs/enable_resource.rb
  ruby/example_code/sqs/message_visibility_timeout.rb
  ruby/example_code/sqs/receive_messages.rb
  ruby/example_code/sqs/scenario_dead_letter_queue.rb
  ruby/example_code/sqs/scenario_getting_started.rb
  ruby/example_code/sqs/scenario_polling.rb
  ruby/example_code/sqs/send_message.rb
  ruby/example_code/sqs/send_message_batch.rb
  ruby/example_code/sqs/show_queues.rb
  ruby/example_code/sqs/tests/test_create_queue.rb
  ruby/example_code/sqs/tests/test_receive_messages.rb
  ruby/example_code/sqs/tests/test_send_message.rb
  ruby/example_code/sqs/tests/test_send_message_batch.rb
  ruby/example_code/sqs/tests/test_show_queues.rb
Labels: lang/ruby, status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4387 Updates to dockerfile and instructions
  dotnetv3/Aurora/README.md
  dotnetv3/CloudWatch/README.md
  dotnetv3/Dockerfile
  dotnetv3/Keyspaces/README.md
  dotnetv3/Kinesis/README.md
  dotnetv3/RDS/README.md
  dotnetv3/README.md
  dotnetv3/Route53/README.md
  dotnetv3/Support/README.md
Labels: lang/dotnet-v3, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/no-test-review-needed

#4381 add checkstyle.xml to linters for global access.
  .github/linters/checkstyle.xml
Labels: status/ready-to-merge, status/code-review-complete, type/github-settings, status/no-text-review-needed, status/no-test-review-needed

#4385 DynamoDB developer guide SOS - show only standard client examples
  .doc_gen/metadata/dynamodb_metadata.yaml
Labels: status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4392 fixing rebase chaos
  ruby/example_code/sqs/README.md
  ruby/example_code/sqs/dead_letter_queue.rb
  ruby/example_code/sqs/enable_long_polling.rb
  ruby/example_code/sqs/get_messages.rb
  ruby/example_code/sqs/get_messages_with_long_polling.rb
  ruby/example_code/sqs/long_polling.rb
  ruby/example_code/sqs/poll_messages.rb
  ruby/example_code/sqs/redirect_deadletter_queue.rb
  ruby/example_code/sqs/scenario_getting_started.rb
  ruby/example_code/sqs/send_receive_messages.rb
  ruby/example_code/sqs/using_queues.rb
  ruby/example_code/sqs/visibility_timeout.rb
  ruby/example_code/sqs/visibility_timeout_2.rb
Labels: lang/ruby, status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4384 Php docker
  php/Dockerfile
  php/example_code/aws_utilities/AWSServiceClass.php
  php/example_code/aws_utilities/RunnableExample.php
  php/example_code/aws_utilities/TestableReadline.php
  php/example_code/composer.lock
  php/example_code/dynamodb/DynamoDBService.php
  php/example_code/dynamodb/dynamodb_basics/GettingStartedWithDynamoDB.php
  php/example_code/dynamodb/partiql_basics/GettingStartedWithPartiQL.php
  php/example_code/dynamodb/partiql_basics/GettingStartedWithPartiQLBatch.php
  php/example_code/glue/GettingStartedWithGlue.php
  php/example_code/glue/GlueBasicsTests.php
  php/example_code/glue/GlueService.php
  php/example_code/glue/Runner.php
  php/example_code/glue/composer.json
  php/example_code/glue/composer.lock
  php/example_code/iam/IAMService.php
  php/example_code/iam/composer.json
  php/example_code/iam/iam_basics/GettingStartedWithIAM.php
  php/example_code/iam/iam_basics/Readme.md
  php/example_code/iam/iam_basics/composer.json
  php/example_code/iam/iam_basics/tests/IAMBasicsTests.php
  php/example_code/iam/tests/IAMServiceTest.php
  php/example_code/lambda/GettingStartedWithLambda.php
  php/example_code/lambda/LambdaTests.php
  php/example_code/phpunit.xml
Labels: lang/php, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4395 Update CognitoMVP.kt
  kotlin/services/cognito/src/main/kotlin/com/kotlin/cognito/CognitoMVP.kt
  kotlin/services/cognito/src/test/kotlin/CognitoKotlinTest.kt
Labels: lang/kotlin, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4386 Fix incorrect aliases
  cpp/README.rst
  dotnetv3/README.md
  gov2/README.md
  javascriptv3/README.md
  javav2/README.rst
  kotlin/README.md
  php/example_code/README.md
  python/README.md
  ruby/README.md
  swift/README.md
Labels: lang/cpp, lang/java-v2, lang/dotnet-v3, lang/go-v2, lang/ruby, lang/python, lang/php, lang/kotlin, status/ready-to-merge, lang/swift, lang/javascript-v3, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4405 Updates to Swift S3 examples
  swift/example_code/s3/DeleteObjects/Package.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/S3DemoCleanup.swift
  swift/example_code/s3/basics/Package.swift
  swift/example_code/s3/basics/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/basics/Tests/basics-tests/S3DemoCleanup.swift
Labels: status/ready-to-merge, lang/swift, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4453 Restore aws-cli folder because it's referenced in the AWS CLI guide
  aws-cli/README.md
  aws-cli/bash-linux/README.md
  aws-cli/bash-linux/ec2/change-ec2-instance-type/README.md
  aws-cli/bash-linux/ec2/change-ec2-instance-type/awsdocs_general.sh
  aws-cli/bash-linux/ec2/change-ec2-instance-type/change_ec2_instance_type.sh
  aws-cli/bash-linux/ec2/change-ec2-instance-type/test_change_ec2_instance_type.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/README.md
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/awsdocs_general.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/bucket_operations.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/test_bucket_operations.sh
Labels: tool/cli, status/ready-to-merge, priority/high, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4407 Fix comment describing function
  go/example_code/dynamodb/DynamoDBScanItems.go
Labels: status/ready-to-merge, lang/go-v1, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4454 Update Glue title overrides per Glue team
  .doc_gen/metadata/services.yaml
  .doc_gen/validation/services_schema.yaml
Labels: status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4228 Adding Cognito examples for SRP Authentication
  javav2/example_code/cognito/src/main/java/com/example/cognito/ConfirmSignUp.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/SRPDemo.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/usecases/AdminAuthDemo.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/usecases/DeviceAuthDemo.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/usecases/DeviceTrackingDemo.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/usecases/SoftwareTokenMFADemo.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/usecases/UserAuthDemo.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/utils/HashUtils.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/srp/utils/SRPUtils.java
  javav2/example_code/cognito/src/test/java/AmazonCognitoTest.java
Labels: lang/java-v2, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4423 Adding tags to test methods.
  dotnetv3/AutoScaling/scenarios/AutoScale_Basics/AutoScale_BasicsTests/AutoScaleMethodsTests.cs
  dotnetv3/AutoScaling/scenarios/AutoScale_Basics/AutoScale_BasicsTests/CloudWatchMethodsTests.cs
  dotnetv3/AutoScaling/scenarios/AutoScale_Basics/AutoScale_BasicsTests/EC2MethodsTests.cs
  dotnetv3/EC2/Tests/EC2WrapperTests.cs
  dotnetv3/IAM/IAMUserExample/IAMUserExampleTests/IAMUserTests.cs
  dotnetv3/IAM/IAM_Basics_Scenario/IAM_Basics_ScenarioTests/IAM_BasicsTests.cs
  dotnetv3/Lambda/scenarios/Lambda_Basics/Lambda_BasicsTests/LambdaMethodsTests.cs
  dotnetv3/RDS/Tests/RDSInstanceScenarioTests.cs
  dotnetv3/S3/S3_BasicsScenarioTests/S3BucketTests.cs
  dotnetv3/S3/scenarios/TransferUtilityBasics/TransferUtilityBasicsTests/TransferMethodsTests.cs
  dotnetv3/SES/Tests/SESExampleTests.cs
  dotnetv3/Support/Tests/SupportIntegrationTests.cs
  dotnetv3/Transcribe/Tests/TranscribeExampleTests.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_ScenarioTests/DynamoDbMethodsTests.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Basics_Scenario/PartiQL_Basics_Tests/PartiQLMethodsTests.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Batch_Scenario/PartiQLBatch_Tests/PartiQLBatchMethodsTests.cs
Labels: lang/dotnet-v3, status/ready-to-merge, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed

#4425 Python Step Functions scenario, actions, and hello
  .doc_gen/metadata/sfn_metadata.yaml
  .doc_gen/readmes/config.py
  .doc_gen/readmes/includes/run_instructions.jinja2
  .github/pre_validate/pre_validate.py
  python/example_code/stepfunctions/README.md
  python/example_code/stepfunctions/activities.py
  python/example_code/stepfunctions/get_started_state_machines.py
  python/example_code/stepfunctions/hello.py
  python/example_code/stepfunctions/requirements.txt
  python/example_code/stepfunctions/state_machines.py
  python/example_code/stepfunctions/stepfunctions_basics.py
  python/example_code/stepfunctions/test/conftest.py
  python/example_code/stepfunctions/test/test_cleanup.py
  python/example_code/stepfunctions/test/test_find_or_create_activity.py
  python/example_code/stepfunctions/test/test_find_or_create_state_machine.py
  python/example_code/stepfunctions/test/test_finish_state_machine_run.py
  python/example_code/stepfunctions/test/test_get_started_state_machines_integ.py
  python/example_code/stepfunctions/test/test_prerequisites.py
  python/example_code/stepfunctions/test/test_run_state_machine.py
  python/example_code/stepfunctions/test/test_stepfunctions_basics.py
  python/test_tools/stepfunctions_stubber.py
  resources/sample_files/chat_sfn_state_machine.json
Labels: lang/python, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete, type/github-settings

#4377 Dockerfile fixes
  swift/Dockerfile
  swift/tools/swiftbuild.py
Labels: status/ready-to-merge, lang/swift, status/code-review-complete, status/text-review-complete, status/no-test-review-needed

#4413 Add Java S3 v2 code examples that show how to handle DEEP_ARCHIVE use cases
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/CopyObjectStorage.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectRestoreStatus.java
  javav2/example_code/s3/src/main/resources/config.properties
  javav2/example_code/s3/src/test/java/AmazonS3Test.java
Labels: lang/java-v2, status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/test-review-complete

#4465 Updated the Java v2 Glue MVP
  javav2/example_code/glue/src/main/java/com/example/glue/GlueScenario.java
  javav2/example_code/glue/src/test/java/GlueTest.java
Labels: lang/java-v2, status/ready-to-merge, status/code-review-complete, status/test-review-complete, status/no-text-review-needed

#4466 WRITEME updates: command help, snippet finding, and long service names.
  .doc_gen/metadata/services.yaml
  .doc_gen/readmes/scanner.py
  .doc_gen/readmes/writeme.py
  .doc_gen/templates/zonbook/utility/sdk_api_examples.xml
  .doc_gen/validation/services_schema.yaml
Labels: status/ready-to-merge, status/code-review-complete, status/text-review-complete, status/no-test-review-needed

#4401 Update IAM examples for recent Swift SDK changes
  swift/example_code/iam/AttachRolePolicy/Package.swift
  swift/example_code/iam/AttachRolePolicy/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/AttachRolePolicy/Tests/AttachRolePolicyTests/AttachRolePolicyTests.swift
  swift/example_code/iam/AttachRolePolicy/Tests/AttachRolePolicyTests/ServiceHandler_Ext.swift
  swift/example_code/iam/CreateServiceLinkedRole/Sources/CreateServiceLinkedRole/CreateServiceLinkedRole.swift
  swift/example_code/iam/CreateServiceLinkedRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateServiceLinkedRole/Tests/CreateServiceLinkedRoleTests/ServiceHandler_Ext.swift
  swift/example_code/iam/CreateUser/Sources/CreateUser/CreateUser.swift
  swift/example_code/iam/CreateUser/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/GetPolicy/Sources/GetPolicy/GetPolicy.swift
  swift/example_code/iam/GetPolicy/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/GetPolicy/Tests/GetPolicyTests/GetPolicyTests.swift
  swift/example_code/iam/GetPolicy/Tests/GetPolicyTests/ServiceHandler_Ext.swift
  swift/example_code/iam/GetRole/Sources/GetRole/GetRole.swift
  swift/example_code/iam/GetRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/GetRole/Tests/GetRoleTests/ServiceHandler_Ext.swift
  swift/example_code/iam/ListAttachedRolePolicies/Sources/ListAttachedRolePolicies/ListAttachedRolePolicies.swift
  swift/example_code/iam/ListAttachedRolePolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListAttachedRolePolicies/Tests/ListAttachedRolePoliciesTests/ServiceHandler_Ext.swift
  swift/example_code/iam/ListGroups/Package.swift
  swift/example_code/iam/ListGroups/Sources/ListGroups/ListGroups.swift
  swift/example_code/iam/ListGroups/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListPolicies/Sources/ListPolicies/ListPolicies.swift
  swift/example_code/iam/ListPolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListRolePolicies/Sources/ListRolePolicies/ListRolePolicies.swift
  swift/example_code/iam/ListRolePolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListRolePolicies/Tests/ListRolePoliciesTests/ServiceHandler_Ext.swift
  swift/example_code/iam/ListRoles/Sources/ListRoles/ListRoles.swift
  swift/example_code/iam/ListRoles/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListRoles/Tests/ListRolesTests/ServiceHandler_Ext.swift
  swift/example_code/iam/ListUsers/Sources/ListUsers/ListUsers.swift
  swift/example_code/iam/ListUsers/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/basics/Package.swift
Labels: status/ready-to-merge, lang/swift, status/code-review-complete, status/no-text-review-needed, status/no-test-review-needed
