Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-10, with the labels that each got.

#5433 JavaScript (v3): Task - Cleanup nodegetstarted
  javascriptv3/example_code/nodegetstarted/README.md
  javascriptv3/example_code/nodegetstarted/index.js
  javascriptv3/example_code/nodegetstarted/package.json
  javascriptv3/example_code/nodegetstarted/src/libs/s3Client.js
  javascriptv3/example_code/nodegetstarted/src/metadata.yaml
  javascriptv3/example_code/nodegetstarted/src/sample.js
  javascriptv3/example_code/nodegetstarted/tests/index.integration.test.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review complete, Task

#5447 .NET: fixes for docker run
  dotnetv3/CloudWatch/Scenarios/CloudWatchScenario.csproj
  dotnetv3/Cognito/Tests/CognitoWrapperTests.cs
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCforS3Example/CreateVPCforS3Example.csproj
  dotnetv3/Glue/Scenarios/Glue_Basics/GlueBasics.csproj
  dotnetv3/Glue/Tests/GlueTests.csproj
  dotnetv3/IAM/Scenarios/IAMGroups/IAMGroups.csproj
  dotnetv3/README.md
  dotnetv3/SageMaker/Actions/SageMakerWrapper.cs
  dotnetv3/SageMaker/Scenarios/SageMakerScenario.csproj
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Task

#5455 JavaScript (v3): EventBridge - Clean Up
  .doc_gen/metadata/eventbridge_metadata.yaml
  javascriptv3/example_code/eventbridge/README.md
  javascriptv3/example_code/eventbridge/actions/put-events.js
  javascriptv3/example_code/eventbridge/actions/put-rule.js
  javascriptv3/example_code/eventbridge/actions/put-targets.js
  javascriptv3/example_code/eventbridge/client.js
  javascriptv3/example_code/eventbridge/package.json
  javascriptv3/example_code/eventbridge/src/libs/eventBridgeClient.js
  javascriptv3/example_code/eventbridge/src/package.json
  javascriptv3/example_code/eventbridge/src/putEvents.js
  javascriptv3/example_code/eventbridge/src/putRule.js
  javascriptv3/example_code/eventbridge/src/putTargets.js
  javascriptv3/example_code/eventbridge/tests/babel.config.js
  javascriptv3/example_code/eventbridge/tests/eventbridge.integration.test.js
  javascriptv3/example_code/eventbridge/tests/jest.config.js
  javascriptv3/example_code/eventbridge/tests/package.json
  javascriptv3/example_code/eventbridge/tests/putEvents.test.js
  javascriptv3/example_code/eventbridge/tests/putRule.test.js
  javascriptv3/example_code/eventbridge/tests/putTargets.test.js
  javascriptv3/example_code/eventbridge/vite.config.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5435 PHP: Update CloudFront signing URL examples to a supported API version
  php/example_code/cloudfront/SignCookie.php
  php/example_code/cloudfront/SignCookiePolicy.php
  php/example_code/cloudfront/SignPrivateDistribution.php
  php/example_code/cloudfront/SignPrivateDistributionPolicy.php
Labels: PHP, On Call Review complete, Text Review not needed, Task

#5416 Testing - All languages - Remediate Dockerfiles
  cpp/Dockerfile
  cpp/README.rst
  cpp/run_automated_tests.py
  dotnetv3/Dockerfile
  gov2/Dockerfile
  javascriptv3/Dockerfile
  javascriptv3/package.json
  javascriptv3/scripts/run_tests.sh
  javav2/Dockerfile
  javav2/run_tests.sh
  kotlin/Dockerfile
  kotlin/run_tests.sh
  php/Dockerfile
  python/Dockerfile
  python/README.md
  ruby/Dockerfile
  rust_dev_preview/Dockerfile
  swift/Dockerfile
Labels: C++, DotNet-v3, Go-v2, Javascript-v3, Kotlin, PHP, Python, Ruby, Rust, Swift, Testing, On Call Review complete, Text Review not needed, Java-v2, Task

#5461 JavaScript (v3): Task - Remove metadata.yaml files.
  javascriptv3/example_code/glacier/src/metadata.yaml
  javascriptv3/example_code/mediaconvert/src/metadata.yaml
  javascriptv3/example_code/polly/src/metadata.yaml
  javascriptv3/example_code/redshift/src/metadata.yaml
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5471 JavaScript (v3): Update test script for better usability and error reporting.
  javascriptv3/.gitignore
  javascriptv3/README.md
  javascriptv3/scripts/run_tests.sh
Labels: Javascript-v3, On Call Review complete, Text Review complete, Task

#5391 SAP ABAP: Add new example in dynamo db
  .doc_gen/metadata/dynamodb_metadata.yaml
  sap-abap/services/dyn/package.devc.xml
  sap-abap/services/dyn/zcl_aws1_dyn_actions.clas.abap
  sap-abap/services/dyn/zcl_aws1_dyn_actions.clas.testclasses.abap
  sap-abap/services/dyn/zcl_aws1_dyn_actions.clas.xml
  sap-abap/services/dyn/zcl_aws1_dyn_scenario.clas.abap
  sap-abap/services/dyn/zcl_aws1_dyn_scenario.clas.testclasses.abap
  sap-abap/services/dyn/zcl_aws1_dyn_scenario.clas.xml
Labels: On Call Review complete, Text Review not needed, Follow, Task, SAP ABAP

#5367 Rust: ec2 autoscaling scenario
  .doc_gen/metadata/auto-scaling_metadata.yaml
  rust_dev_preview/.gitignore
  rust_dev_preview/examples/Cargo.toml
  rust_dev_preview/examples/auto-scaling/Cargo.toml
  rust_dev_preview/examples/auto-scaling/README.md
  rust_dev_preview/examples/auto-scaling/src/bin/create-autoscaling-group.rs
  rust_dev_preview/examples/auto-scaling/src/bin/delete-autoscaling-group.rs
  rust_dev_preview/examples/auto-scaling/src/bin/list-autoscaling-groups.rs
  rust_dev_preview/examples/auto-scaling/src/bin/scenario.rs
  rust_dev_preview/examples/auto-scaling/src/bin/update-autoscaling-group.rs
  rust_dev_preview/examples/auto-scaling/src/lib.rs
  rust_dev_preview/examples/auto-scaling/src/scenario.rs
  rust_dev_preview/examples/autoscaling/README.md
  rust_dev_preview/examples/ec2/Cargo.toml
Labels: Rust, On Call Review complete, Text Review complete, MVP

#5449 Tools: Add `Tools` label
  .github/allowed-labels.yml
  .github/label-ruleset.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings, Task

#5477 Rust: Move running the code instructions to a more prominent location.
  rust_dev_preview/README.md
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5384 Testing - Update Weathertop with new data ingestion pipeline
  test/architecture_diagrams/pdf/weathertop-comp-1.pdf
  test/architecture_diagrams/pdf/weathertop-comp-2.pdf
  test/architecture_diagrams/pdf/weathertop-high-level-architecture.pdf
  test/architecture_diagrams/png/weathertop-comp-2.png
  test/architecture_diagrams/png/weathertop-high-level-architecture.png
  test/config/README.md
  test/config/resources.yaml
  test/config/targets.yaml
  test/eventbridge_rule_with_sns_fanout/README.md
  test/eventbridge_rule_with_sns_fanout/app.py
  test/eventbridge_rule_with_sns_fanout/producer_stack/__init__.py
  test/eventbridge_rule_with_sns_fanout/producer_stack/producer_stack.py
  test/eventbridge_rule_with_sns_fanout/requirements.txt
  test/eventbridge_rule_with_sns_fanout/store_system_parameters.py
  test/public_ecr_repositories/app.py
  test/public_ecr_repositories/public_ecr_repositories_stack/public_ecr_repositories_stack.py
  test/sqs_lambda_to_batch_fargate/.gitignore
  test/sqs_lambda_to_batch_fargate/__init__.py
  test/sqs_lambda_to_batch_fargate/app.py
  test/sqs_lambda_to_batch_fargate/cdk.context.json
  test/sqs_lambda_to_batch_fargate/consumer_stack/__init__.py
  test/sqs_lambda_to_batch_fargate/consumer_stack/consumer_stack.py
  test/sqs_lambda_to_batch_fargate/lambda/__init__.py
  test/sqs_lambda_to_batch_fargate/lambda/export_logs.py
  test/sqs_lambda_to_batch_fargate/lambda/lambda_handler.py
  test/sqs_lambda_to_batch_fargate/lambda/submit_job.py
  test/sqs_lambda_to_batch_fargate/requirements.txt
Labels: Testing, On Call Review complete, Text Review not needed, Task

#5482 JavaScript (v3): Add snippets to FSA guide entry.
  .doc_gen/cross-content/cross_FSA_JavaScript_block.xml
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/AnalyzeSentiment/src/index.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/ExtractText/src/index.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/SynthesizeAudio/src/index.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/TranslateText/src/index.js
Labels: Javascript-v3, On Call Review complete, Text Review complete, Task

#5488 JavaScript (v3): Fix broken link in S3 metadata.
  .doc_gen/metadata/s3_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5489 Fix resilient service region
  python/cross_service/resilient_service/auto_scaler.py
  python/cross_service/resilient_service/test/resources/server.py
  workflows/resilient_service/SPECIFICATION.md
  workflows/resilient_service/resources/server.py
  workflows/resilient_service/resources/server_startup_script.sh
Labels: Python, On Call Review complete, Text Review not needed, Task

#5485 JavaScript (v3): Formatting and linting fixes (CodeCommit, CloudWatch)
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javascriptv3/example_code/cloudwatch-logs/README.md
  javascriptv3/example_code/cloudwatch-logs/libs/iam-helper.js
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/cloudwatch/actions/list-metrics.js
  javascriptv3/example_code/cloudwatch/tests/list-metrics.integration.test.js
  javascriptv3/example_code/codecommit/package.json
  javascriptv3/example_code/codecommit/src/MyCodeCommitFunction.js
  javascriptv3/example_code/codecommit/src/createBranch.js
  javascriptv3/example_code/codecommit/src/createCommit.js
  javascriptv3/example_code/codecommit/src/createPullRequest.js
  javascriptv3/example_code/codecommit/src/createRepository.js
  javascriptv3/example_code/codecommit/src/deleteBranch.js
  javascriptv3/example_code/codecommit/src/deleteRepository.js
  javascriptv3/example_code/codecommit/src/describePullRequestEvents.js
  javascriptv3/example_code/codecommit/src/getMergeOptions.js
  javascriptv3/example_code/codecommit/src/getPullRequest.js
  javascriptv3/example_code/codecommit/src/getRepository.js
  javascriptv3/example_code/codecommit/src/libs/codeCommitClient.js
  javascriptv3/example_code/codecommit/src/listRepositories.js
  javascriptv3/example_code/codecommit/src/mergeBranches.js
  javascriptv3/example_code/codecommit/src/package.json
  javascriptv3/example_code/codecommit/tests/babel.config.js
  javascriptv3/example_code/codecommit/tests/createBranch.test.js
  javascriptv3/example_code/codecommit/tests/createBranch.unit.test.js
  javascriptv3/example_code/codecommit/tests/createCommit.test.js
  javascriptv3/example_code/codecommit/tests/createCommit.unit.test.js
  javascriptv3/example_code/codecommit/tests/createPullRequest.test.js
  javascriptv3/example_code/codecommit/tests/createPullRequest.unit.test.js
  javascriptv3/example_code/codecommit/tests/createRepository.test.js
  javascriptv3/example_code/codecommit/tests/createRepository.unit.test.js
  javascriptv3/example_code/codecommit/tests/deleteBranch.test.js
  javascriptv3/example_code/codecommit/tests/deleteBranch.unit.test.js
  javascriptv3/example_code/codecommit/tests/deleteRepository.test.js
  javascriptv3/example_code/codecommit/tests/deleteRepository.unit.test.js
  javascriptv3/example_code/codecommit/tests/describePullRequestEvents.test.js
  javascriptv3/example_code/codecommit/tests/describePullRequestEvents.unit.test.js
  javascriptv3/example_code/codecommit/tests/getMergeOptions.test.js
  javascriptv3/example_code/codecommit/tests/getMergeOptions.unit.test.js
  javascriptv3/example_code/codecommit/tests/getPullRequest.test.js
  javascriptv3/example_code/codecommit/tests/getPullRequest.unit.test.js
  javascriptv3/example_code/codecommit/tests/getRepository.test.js
  javascriptv3/example_code/codecommit/tests/getRepository.unit.test.js
  javascriptv3/example_code/codecommit/tests/jest.config.js
  javascriptv3/example_code/codecommit/tests/listRepositories.js
  javascriptv3/example_code/codecommit/tests/listRepositories.unit.test.js
  javascriptv3/example_code/codecommit/tests/mergeBranches.test.js
  javascriptv3/example_code/codecommit/tests/mergeBranches.unit.test.js
  javascriptv3/example_code/codecommit/tests/package.json
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5490 PHP: Update PostObjectV4 example
  php/example_code/composer.json
  php/example_code/composer.lock
  php/example_code/s3/PresignedPost.php
Labels: PHP, On Call Review complete, Text Review not needed, Task

#5500 Python v3: Update READMEs in Python folder with WriteMe.
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/readmes/config.py
  python/example_code/acm/README.md
  python/example_code/api-gateway/README.md
  python/example_code/auditmanager/README.md
  python/example_code/aurora/README.md
  python/example_code/auto-scaling/README.md
  python/example_code/cloudfront/README.md
  python/example_code/cloudwatch/README.md
  python/example_code/cognito/README.md
  python/example_code/comprehend/README.md
  python/example_code/config/README.md
  python/example_code/devicefarm/README.md
  python/example_code/dynamodb/README.md
  python/example_code/ec2/README.md
  python/example_code/elastic-load-balancing/README.md
  python/example_code/emr/README.md
  python/example_code/glacier/README.md
  python/example_code/glue/README.md
  python/example_code/iam/README.md
  python/example_code/keyspaces/README.md
  python/example_code/kinesis/README.md
  python/example_code/kms/README.md
  python/example_code/lambda/README.md
  python/example_code/lookoutvision/README.md
  python/example_code/medical-imaging/README.md
  python/example_code/organizations/README.md
  python/example_code/pinpoint-sms-voice/README.md
  python/example_code/pinpoint/README.md
  python/example_code/polly/README.md
  python/example_code/rds/README.md
  python/example_code/rekognition/README.md
  python/example_code/route53-recovery-cluster/README.md
  python/example_code/s3/README.md
  python/example_code/ses/README.md
  python/example_code/sns/README.md
  python/example_code/sqs/ReadMe.md
  python/example_code/sts/README.md
  python/example_code/support/README.md
  python/example_code/textract/README.md
  python/example_code/transcribe/README.md
Labels: Python, On Call Review complete, Text Review not needed, Task

#5156 gov2: create example code for cloudfront
  gov2/cloudfront/CreateDistribution/CreateDistribution.go
  gov2/cloudfront/CreateDistribution/CreateDistribution_test.go
  gov2/cloudfront/go.mod
  gov2/cloudfront/go.sum
Labels: Go-v2, On Call Review complete, Text Review not needed, Task

#5498 Swift: Updates for Swift SDK 0.28.0
  swift/example_code/ddb/ListTables/Package.swift
  swift/example_code/ddb/ListTables/Sources/DatabaseManager.swift
  swift/example_code/ddb/ListTables/Tests/ListTablesTests.swift
  swift/example_code/s3/ListBuckets/Package.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/S3Session.swift
  swift/example_code/s3/ListBuckets/Tests/ListBucketsTests/ListBucketsTests.swift
  swift/example_code/swift-sdk/mocking/Package.swift
  swift/example_code/swift-sdk/mocking/Sources/S3Session.swift
  swift/example_code/swift-sdk/mocking/Tests/MockS3Session.swift
Labels: Swift, On Call Review complete, Text Review not needed, Task

#5483 Rust: Update for SDK HttpConnector changes.
  rust_dev_preview/cross_service/photo_asset_management/Cargo.toml
  rust_dev_preview/cross_service/photo_asset_management/src/handlers/labels.rs
  rust_dev_preview/cross_service/photo_asset_management/src/lib.rs
  rust_dev_preview/cross_service/photo_asset_management/src/test_utils/macros.rs
  rust_dev_preview/cross_service/photo_asset_management/src/test_utils/mod.rs
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/src/client.rs
  rust_dev_preview/examples/cognitoidentity/src/bin/describe-identity-pool.rs
  rust_dev_preview/examples/custom-root-certificates/Cargo.toml
  rust_dev_preview/examples/dynamodb/Cargo.toml
  rust_dev_preview/examples/dynamodb/src/scenario/list.rs
  rust_dev_preview/examples/glue/Cargo.toml
  rust_dev_preview/examples/kms/Cargo.toml
  rust_dev_preview/examples/s3/Cargo.toml
  rust_dev_preview/examples/s3/src/bin/put-object-progress.rs
  rust_dev_preview/examples/s3/src/s3-service-lib.rs
  rust_dev_preview/examples/sending-presigned-requests/Cargo.toml
  rust_dev_preview/examples/sending-presigned-requests/src/main.rs
  rust_dev_preview/examples/testing/Cargo.toml
  rust_dev_preview/examples/tls/Cargo.toml
  rust_dev_preview/examples/tls/src/lib.rs
  rust_dev_preview/run_all.sh
  rust_dev_preview/test-utils/Cargo.toml
  rust_dev_preview/test-utils/src/macros.rs
  rust_dev_preview/test-utils/src/mod.rs
  rust_dev_preview/webassembly/Cargo.toml
  rust_dev_preview/webassembly/src/lib.rs
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5492 JavaScript (v3): libs - Refactor and add new utility.
  javascriptv3/example_code/cross-services/wkflw-topics-queues/TopicsQueuesWkflw.js
  javascriptv3/example_code/cross-services/wkflw-topics-queues/tests/TopicsQueuesWkflw.unit.test.js
  javascriptv3/example_code/libs/logger.js
  javascriptv3/example_code/libs/prompter.js
  javascriptv3/example_code/libs/scenario.js
  javascriptv3/example_code/libs/slow-logger.js
  javascriptv3/example_code/sagemaker/scenarios/wkflw-sagemaker-geospatial-pipeline/SageMakerPipelinesWkflw.js
  javascriptv3/example_code/sagemaker/tests/wkflw-sagemaker-geospatial-pipeline.integration.test.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5494 Update GetPDFandSave.java
  java/example_code/s3/src/main/java/aws/example/s3/GetPDFandSave.java
Labels: Java-v1, On Call Review complete, Text Review not needed, Task

#5499 Java V2 Add Java rel workflow
  javav2/usecases/resilient_service/README.md
  javav2/usecases/resilient_service/pom.xml
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5497 Java: import healthimaging step 2
  .doc_gen/metadata/medical-imaging_metadata.yaml
  .doc_gen/readmes/config.py
  javav2/example_code/medicalimaging/README.md
  javav2/example_code/medicalimaging/pom.xml
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/CopyImageSet.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/DeleteImageSet.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/GetDicomImportJob.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/GetImageFrame.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/GetImageSet.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/GetImageSetMetadata.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/ListDatastores.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/ListDicomImportJobs.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/ListImageSetVersions.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/ListTagsForResource.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/SearchImageSets.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/StartDicomImportJob.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/TagResource.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/TaggingDatastores.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/TaggingImageSets.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/UntagResource.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/UpdateImageSetMetadata.java
  javav2/example_code/medicalimaging/src/test/java/AWSMedicalImagingTest.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5507 Python: Resilient Workflow - Add SSH option and fix parameter check.
  python/cross_service/resilient_service/auto_scaler.py
  python/cross_service/resilient_service/parameters.py
  python/cross_service/resilient_service/runner.py
  workflows/resilient_service/resources/server.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5521 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: On Call Review complete, Text Review not needed, Task

#5515 .NET v3: Fix for incorrect value in DynamoDB metadata and related README.
  .doc_gen/metadata/cross_metadata.yaml
  dotnetv3/dynamodb/README.md
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Task

#5518 Python HealthImaging additions
  .doc_gen/metadata/medical-imaging_metadata.yaml
  python/example_code/medical-imaging/README.md
  python/example_code/medical-imaging/medical_imaging_basics.py
  python/example_code/medical-imaging/tagging_data_stores.py
  python/example_code/medical-imaging/tagging_image_sets.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5516 Tools: Moved tools to .tools from .doc_gen and added Python tools rules.
  .doc_gen/images/render-blurbs.py
  .doc_gen/readmes/.gitignore
  .doc_gen/readmes/config.py
  .doc_gen/readmes/render.py
  .doc_gen/readmes/writeme.py
  .doc_gen/readmes/writeme.sh
  .flake8
  .github/linters/checkstyle.xml
  .github/pre_validate/pre_validate.py
  .github/pre_validate/test/test_pre_validate.py
  .github/pre_validate/words.py
  .github/workflows/pre-validate.yml
  .github/workflows/validate-doc-metadata.yml
  .tools/.flake8
  .tools/.gitignore
  .tools/README.md
  .tools/base_requirements.txt
  .tools/images/README.md
  .tools/images/__init__.py
  .tools/images/render-blurbs.py
  .tools/images/template.txt
  .tools/pre_validate/README.md
  .tools/pre_validate/pre_validate.py
  .tools/pre_validate/test/test_pre_validate.py
  .tools/pre_validate/words.py
  .tools/readmes/README.md
  .tools/readmes/config.py
  .tools/readmes/includes/code_examples.jinja2
  .tools/readmes/includes/copyright.jinja2
  .tools/readmes/includes/important.jinja2
  .tools/readmes/includes/macros.jinja2
  .tools/readmes/includes/overview.jinja2
  .tools/readmes/includes/prerequisites.jinja2
  .tools/readmes/includes/resources.jinja2
  .tools/readmes/includes/run_instructions.jinja2
  .tools/readmes/includes/tests.jinja2
  .tools/readmes/multi.py
  .tools/readmes/render.py
  .tools/readmes/requirements.txt
  .tools/readmes/scanner.py
  .tools/readmes/service_readme.jinja2
  .tools/readmes/snippets.py
  .tools/readmes/writeme.py
  .tools/validation/.flake8
  .tools/validation/.yamllint.yaml
  .tools/validation/schema/curated_example_schema.yaml
  .tools/validation/schema/curated_sources_schema.yaml
  .tools/validation/schema/example_schema.yaml
  .tools/validation/schema/sdks_schema.yaml
  .tools/validation/schema/services_schema.yaml
  .tools/validation/validate_doc_metadata.py
  .tools/verify_python.bat
  .tools/verify_python.ps
  .tools/verify_python.sh
Labels: On Call Review complete, Text Review complete, GitHub settings, Task, Tools

#5531 Tools: Fix validation error
  .tools/readmes/snippets.py
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5529 JavaScript (v3): Scenarios - Update Scenario utility.
  javascriptv3/example_code/libs/prompter.js
  javascriptv3/example_code/libs/scenario/index.js
  javascriptv3/example_code/libs/scenario/scenario-example.js
  javascriptv3/example_code/libs/scenario/scenario-parser.js
  javascriptv3/example_code/libs/scenario/scenario.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5547 JavaScript (v3): Make scenario logging better.
  javascriptv3/example_code/libs/logger.js
  javascriptv3/example_code/libs/package.json
  javascriptv3/example_code/libs/scenario/scenario-example.js
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/package-lock.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5552 Move Weathertop to tools directory
  .tools/test/README.md
  .tools/test/architecture_diagrams/pdf/weathertop-comp-1.pdf
  .tools/test/architecture_diagrams/pdf/weathertop-comp-2.pdf
  .tools/test/architecture_diagrams/pdf/weathertop-high-level-architecture.pdf
  .tools/test/architecture_diagrams/png/weathertop-comp-1.png
  .tools/test/architecture_diagrams/png/weathertop-comp-2.png
  .tools/test/architecture_diagrams/png/weathertop-high-level-architecture.png
  .tools/test/config/README.md
  .tools/test/config/resources.yaml
  .tools/test/config/targets.yaml
  .tools/test/eventbridge_rule_with_sns_fanout/.gitignore
  .tools/test/eventbridge_rule_with_sns_fanout/README.md
  .tools/test/eventbridge_rule_with_sns_fanout/app.py
  .tools/test/eventbridge_rule_with_sns_fanout/cdk.json
  .tools/test/eventbridge_rule_with_sns_fanout/producer_stack/producer_stack.py
  .tools/test/eventbridge_rule_with_sns_fanout/requirements.txt
  .tools/test/eventbridge_rule_with_sns_fanout/source.bat
  .tools/test/public_ecr_repositories/.gitignore
  .tools/test/public_ecr_repositories/README.md
  .tools/test/public_ecr_repositories/__init__.py
  .tools/test/public_ecr_repositories/app.py
  .tools/test/public_ecr_repositories/cdk.json
  .tools/test/public_ecr_repositories/public_ecr_repositories_stack/__init__.py
  .tools/test/public_ecr_repositories/public_ecr_repositories_stack/public_ecr_repositories_stack.py
  .tools/test/public_ecr_repositories/requirements.txt
  .tools/test/public_ecr_repositories/scripts/upload_image.sh
  .tools/test/public_ecr_repositories/source.bat
  .tools/test/sqs_lambda_to_batch_fargate/.gitignore
  .tools/test/sqs_lambda_to_batch_fargate/README.md
  .tools/test/sqs_lambda_to_batch_fargate/app.py
  .tools/test/sqs_lambda_to_batch_fargate/cdk.json
  .tools/test/sqs_lambda_to_batch_fargate/consumer_stack/consumer_stack.py
  .tools/test/sqs_lambda_to_batch_fargate/lambda/export_logs.py
  .tools/test/sqs_lambda_to_batch_fargate/lambda/submit_job.py
  .tools/test/sqs_lambda_to_batch_fargate/requirements.txt
  .tools/test/sqs_lambda_to_batch_fargate/source.bat
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5548 Rust: Fix changes in http wrapper
  rust_dev_preview/examples/s3/Cargo.toml
  rust_dev_preview/examples/s3/src/bin/put-object-progress.rs
  rust_dev_preview/examples/sending-presigned-requests/src/main.rs
  rust_dev_preview/webassembly/Cargo.toml
  rust_dev_preview/webassembly/README.md
  rust_dev_preview/webassembly/src/lib.rs
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5546 Tools, Rust: Allow finding snippets in rust src/bin
  .tools/readmes/snippets.py
  rust_dev_preview/examples/auto-scaling/README.md
  rust_dev_preview/examples/batch/README.md
  rust_dev_preview/examples/cloudwatch/README.md
  rust_dev_preview/examples/dynamodb/README.md
  rust_dev_preview/examples/ebs/README.md
  rust_dev_preview/examples/ec2/README.md
  rust_dev_preview/examples/ecr/README.md
  rust_dev_preview/examples/ecs/README.md
  rust_dev_preview/examples/eks/README.md
  rust_dev_preview/examples/firehose/README.md
  rust_dev_preview/examples/glue/README.md
  rust_dev_preview/examples/iam/README.md
  rust_dev_preview/examples/iot/README.md
  rust_dev_preview/examples/kinesis/README.md
  rust_dev_preview/examples/kms/README.md
  rust_dev_preview/examples/lambda/README.md
  rust_dev_preview/examples/medialive/README.md
  rust_dev_preview/examples/mediapackage/README.md
  rust_dev_preview/examples/polly/README.md
  rust_dev_preview/examples/qldb/README.md
  rust_dev_preview/examples/rds/README.md
  rust_dev_preview/examples/s3/README.md
  rust_dev_preview/examples/sagemaker/README.md
  rust_dev_preview/examples/ses/README.md
  rust_dev_preview/examples/sns/README.md
  rust_dev_preview/examples/sqs/README.md
  rust_dev_preview/examples/ssm/README.md
  rust_dev_preview/examples/sts/README.md
  rust_dev_preview/examples/textract/README.md
Labels: Rust, On Call Review complete, Text Review not needed, Task, Tools

#5553 JavaScript (v3): Add -y to Scenario parser.
  javascriptv3/example_code/libs/scenario/scenario-parser.js
  javascriptv3/example_code/libs/scenario/scenario.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5520 Python: Update runtimes in cross-service examples using 3.7
  python/cross_service/apigateway_websocket_chat/setup.yaml
  python/cross_service/rekognition_content_moderation/cloudformation.yaml
  python/cross_service/stepfunctions_messenger/setup.yaml
Labels: Python, On Call Review complete, Text Review not needed, Task

#5555 .NET v3: CloudWatch logs - fix logic so it will iterate over NextToken
  dotnetv3/CloudWatchLogs/DescribeLogGroupsExample/DescribeLogGroups.cs
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Task

#5556 JavaScript (v3): Add --verbose|-v flag to scenario parser.
  javascriptv3/example_code/libs/scenario/scenario-parser.js
  javascriptv3/example_code/libs/scenario/scenario.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5558 Java v2: Update presign URL with PUT to show file and update other examples
  javav2/example_code/s3/metadata.yaml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlAndPutFileWithMetadata.java
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlAndUploadObject.java
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlMetadata.java
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlUploadImage.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/PresignUrlUtils.java
  javav2/example_code/s3/src/test/java/AmazonS3Test.java
  javav2/example_code/s3/src/test/java/com/example/s3/presignurl/GeneratePresignedUrlAndPutTests.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5572 Cpp: Removed superceded starter project
  cpp/example_code/general/CMakeLists-minimal.txt
  cpp/example_code/general/CMakeLists.txt
  cpp/example_code/general/main.cpp
Labels: C++, On Call Review complete, Text Review not needed, Task

#5560 SAP ABAP: Add new code examples for Amazon Bedrock Runtime
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .doc_gen/metadata/services.yaml
  sap-abap/services/bdr/package.devc.xml
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.abap
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.testclasses.abap
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.xml
  sap-abap/services/cloudwatch/zcl_aws1_cwt_actions.clas.xml
  sap-abap/services/cloudwatch/zcl_aws1_cwt_scenario.clas.xml
  sap-abap/services/dyn/zcl_aws1_dyn_actions.clas.xml
  sap-abap/services/dyn/zcl_aws1_dyn_scenario.clas.xml
  sap-abap/services/ec2/zcl_aws1_ec2_actions.clas.xml
  sap-abap/services/kinesis/zcl_aws1_kns_actions.clas.xml
  sap-abap/services/kinesis/zcl_aws1_kns_scenario.clas.xml
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.xml
  sap-abap/services/lambda/zcl_aws1_lmd_scenario.clas.xml
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.xml
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.xml
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.xml
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.xml
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.xml
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.xml
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.xml
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.xml
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.xml
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.xml
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.xml
Labels: On Call Review complete, Text Review not needed, Task, SAP ABAP

#5557 Java V2 Add java files Resilient Service
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/elastic-load-balancing-v2_metadata.yaml
  javav2/usecases/resilient_service/README.md
  javav2/usecases/resilient_service/pom.xml
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/AutoScaler.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/Database.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/GroupInfo.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/HelloLoadBalancer.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/LaunchTemplateCreator.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/LoadBalancer.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/Main.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/ParameterHelper.java
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/Recommendation.java
  javav2/usecases/resilient_service/src/main/resources/config.properties
  javav2/usecases/resilient_service/src/test/java/ResilientTests.java
Labels: On Call Review complete, Text Review complete, Java-v2, Workflow

#5587 Tools: Weathertop - Adds new docs
  .tools/test/SPECIFICATION.md
  .tools/test/docs/validation-flow-1.jpg
  .tools/test/docs/validation-flow-2.jpg
  .tools/test/docs/validation-flow-3.jpg
  .tools/test/docs/validation-flow-4.jpg
  .tools/test/docs/validation-flow-5.jpg
  .tools/test/docs/validation-flow-6.jpg
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5586 Tools: Weathertop - Update Config
  .tools/test/config/targets.yaml
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5543 Adding bedrock to SoS
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5573 Tools: Documented example schema for SOS guide
  .tools/validation/schema/curated_example_schema.yaml
  .tools/validation/schema/curated_sources_schema.yaml
  .tools/validation/schema/example_schema.yaml
  .tools/validation/schema/example_strict_schema.yaml
  .tools/validation/schema/sdks_schema.yaml
  .tools/validation/schema/services_schema.yaml
  .tools/validation/validate_doc_metadata.py
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5566 Rust: Added replay and wrapper testing
  rust_dev_preview/examples/testing/Cargo.toml
  rust_dev_preview/examples/testing/src/enums.rs
  rust_dev_preview/examples/testing/src/main.rs
  rust_dev_preview/examples/testing/src/replay.rs
  rust_dev_preview/examples/testing/src/testing/response_1.xml
  rust_dev_preview/examples/testing/src/testing/response_multi_1.xml
  rust_dev_preview/examples/testing/src/testing/response_multi_2.xml
  rust_dev_preview/examples/testing/src/traits.rs
  rust_dev_preview/examples/testing/src/wrapper.rs
Labels: Rust, On Call Review complete, Text Review not needed, Task
