Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-05, with the labels that each got.

#4738 Scripts updates
  .github/sd-cpp-linter/sd_review.py
  cpp/Dockerfile
  cpp/run_automated_tests.py
Labels: lang/cpp, status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#4755 Fixed S3 issues
  .doc_gen/metadata/s3_metadata.yaml
  java/example_code/s3/src/main/java/aws/example/s3/GetPDFandSave.java
  javav2/example_code/s3/pom.xml
Labels: lang/java-v2, lang/java-v1, status/on-call-review-complete, status/text-review-complete

#4756 Update metadata to better support developer center output
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/services.yaml
  .doc_gen/validation/example_schema.yaml
Labels: status/on-call-review-complete, status/no-text-review-needed

#4764 4757 test fixes for c++
  cpp/Dockerfile
  cpp/example_code/aurora/tests/aurora_gtests.h
  cpp/example_code/aurora/tests/gtest_getting_started_with_db_clusters.cpp
  cpp/example_code/mediaconvert/create_job.cpp
  cpp/example_code/mediaconvert/describe_endpoints.cpp
  cpp/example_code/mediaconvert/get_job.cpp
  cpp/example_code/mediaconvert/list_jobs.cpp
  cpp/example_code/mediaconvert/tests/MediaConvert_gtests.cpp
  cpp/example_code/mediaconvert/utils.cpp
  cpp/example_code/rds/tests/gtest_getting_started_with_db_instances.cpp
  cpp/example_code/s3/tests/S3_GTests.cpp
  cpp/run_automated_tests.py
Labels: lang/cpp, status/on-call-review-complete, status/no-text-review-needed

#4754 Update Cognito sample for Swift
  .doc_gen/metadata/cognito-identity_metadata.yaml
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/CognitoIdentityHandler/CognitoIdentityHandler.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/FindOrCreateIdentityPool/FindOrCreateIdentityPool.swift
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Tests/CognitoIdentityHandlerTests/CognitoIdentityDemoTests.swift
Labels: lang/swift, status/on-call-review-complete, status/text-review-complete

#4763 Wrong json String in event detail
  javav2/example_code/eventbridge/src/main/java/com/example/eventbridge/EventbridgeMVP.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4768 Update to pycognito instead of warrant
  python/example_code/cognito/cognito_idp_actions.py
  python/example_code/cognito/requirements.txt
  python/example_code/cognito/scenario_signup_user_with_mfa.py
  python/example_code/cognito/test/test_cognito_idp_actions.py
  python/example_code/cognito/test/test_scenario_signup_user_with_mfa.py
  python/test_tools/requirements.txt
Labels: lang/python, status/on-call-review-complete, status/no-text-review-needed

#4648 Add support for SESv2 email client
  ruby/example_code/ses/README.md
  ruby/example_code/ses/v1/ses_get_statistics.rb
  ruby/example_code/ses/v1/ses_list_emails.rb
  ruby/example_code/ses/v1/ses_send_email.rb
  ruby/example_code/ses/v1/ses_send_verification.rb
  ruby/example_code/ses/v2/config.rb
  ruby/example_code/ses/v2/send_email.rb
Labels: lang/ruby, status/on-call-review-complete, status/text-review-complete

#4759 4739 c++ legacy cleanup sqs
  .doc_gen/metadata/sqs_metadata.yaml
  cpp/example_code/sqs/CMakeLists.txt
  cpp/example_code/sqs/README.md
  cpp/example_code/sqs/change_message_visibility.cpp
  cpp/example_code/sqs/create_queue.cpp
  cpp/example_code/sqs/dead_letter_queue.cpp
  cpp/example_code/sqs/delete_message.cpp
  cpp/example_code/sqs/delete_queue.cpp
  cpp/example_code/sqs/get_queue_url.cpp
  cpp/example_code/sqs/list_queues.cpp
  cpp/example_code/sqs/long_polling_on_create_queue.cpp
  cpp/example_code/sqs/long_polling_on_existing_queue.cpp
  cpp/example_code/sqs/long_polling_on_message_receipt.cpp
  cpp/example_code/sqs/purge_queue.cpp
  cpp/example_code/sqs/receive_message.cpp
  cpp/example_code/sqs/send_message.cpp
  cpp/example_code/sqs/set_queue_attributes.cpp
  cpp/example_code/sqs/sqs_samples.h
  cpp/example_code/sqs/tests/CMakeLists.txt
  cpp/example_code/sqs/tests/gtest_change_message_visibility.cpp
  cpp/example_code/sqs/tests/gtest_create_queue.cpp
  cpp/example_code/sqs/tests/gtest_dead_letter_queue.cpp
  cpp/example_code/sqs/tests/gtest_delete_message.cpp
  cpp/example_code/sqs/tests/gtest_delete_queue.cpp
  cpp/example_code/sqs/tests/gtest_get_queue_url.cpp
  cpp/example_code/sqs/tests/gtest_list_queues.cpp
  cpp/example_code/sqs/tests/gtest_long_polling_on_create_queue.cpp
  cpp/example_code/sqs/tests/gtest_long_polling_on_existing_queue.cpp
  cpp/example_code/sqs/tests/gtest_long_polling_on_message_receipt.cpp
  cpp/example_code/sqs/tests/gtest_purge_queue.cpp
  cpp/example_code/sqs/tests/gtest_receive_message.cpp
  cpp/example_code/sqs/tests/gtest_send_message.cpp
  cpp/example_code/sqs/tests/gtest_set_queue_attributes.cpp
  cpp/example_code/sqs/tests/sqs_gtests.cpp
  cpp/example_code/sqs/tests/sqs_gtests.h
  cpp/example_code/sqs/tests/test_main.cpp
Labels: lang/cpp, status/on-call-review-complete, status/text-review-complete

#4778 Update allowed-labels.yml with tracker label
  .github/allowed-labels.yml
Labels: status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#4783 Requested updates to .NET S3 server logging example.
  dotnetv3/S3/ServerAccessLoggingExample/ServerAccessLogging.cs
  dotnetv3/S3/ServerAccessLoggingExample/ServerAccessLoggingExample.csproj
  dotnetv3/S3/ServerAccessLoggingExample/settings.json
Labels: lang/dotnet-v3, status/on-call-review-complete, status/text-review-complete

#4772 S3 uri2
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/ParseUri.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/MemoryLog4jAppender.java
  javav2/example_code/s3/src/main/resources/log4j2.xml
  javav2/example_code/s3/src/test/java/AmazonS3Test.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4790 Updates IAM tests to use better policies and to clean up after itself.
  php/example_code/iam/GettingStartedWithIAM.php
  php/example_code/iam/IAMService.php
  php/example_code/iam/README.md
  php/example_code/iam/phpunit.xml
  php/example_code/iam/tests/IAMBasicsTest.php
  php/example_code/iam/tests/IAMServiceTest.php
Labels: lang/php, status/on-call-review-complete, status/text-review-complete

#4794 Add ddb client example
  javascriptv3/example_code/dynamodb/client.js
Labels: lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4799 add ddb doc client
  javascriptv3/example_code/dynamodb/doc-client.js
Labels: lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4795 Update PAM headers
  resources/clients/react/elros-pam/src/pam-api.ts
Labels: status/on-call-review-complete, status/no-text-review-needed

#4802 test fix
  cpp/example_code/ec2/create_security_group.cpp
  cpp/example_code/ec2/tests/gtest_create_security_group.cpp
Labels: lang/cpp, status/on-call-review-complete, status/no-text-review-needed

#4805 indicate resources have a unique suffix
  resources/cdk/photo_asset_manager/SPECIFICATION.md
Labels: tool/cdk, status/on-call-review-complete, status/text-review-complete

#4781 fix(go/s3): url.QueryEscape for URL encoding of CopySource
  go/example_code/s3/s3_copy_object.go
  go/s3/CopyObject/CopyObject.go
Labels: lang/go-v1, status/on-call-review-complete, status/no-text-review-needed

#4793 Ensure Python and Go unit and integration tests run in Docker.
  gov2/Dockerfile
  gov2/run_all_tests.sh
  python/Dockerfile
  python/cross_service/apigateway_covid-19_tracker/test/test_app.py
  python/cross_service/stepfunctions_messenger/test/test_stepfunctions_statemachine.py
  python/example_code/aurora/scenario_get_started_aurora.py
  python/example_code/aurora/test/test_get_started_aurora_integ.py
  python/example_code/auto-scaling/scenario_groups_and_instances.py
  python/example_code/auto-scaling/test/test_scenario_groups_and_instances.py
  python/example_code/emr/test/test_emr_usage_demo.py
  python/example_code/keyspaces/scenario_get_started_keyspaces.py
  python/example_code/keyspaces/test/test_cleanup.py
  python/example_code/keyspaces/test/test_ensure_tls_cert.py
  python/example_code/keyspaces/test/test_get_started_keyspaces_integ.py
  python/example_code/lookoutvision/find_running_models.py
  python/example_code/lookoutvision/test/test_find_running_models.py
  python/test_tools/cloudfront_stubber.py
  python/test_tools/ec2_stubber.py
  python/test_tools/run_all_tests.py
  python/test_tools/stepfunctions_stubber.py
Labels: lang/go-v2, lang/python, status/on-call-review-complete, status/text-review-complete

#4743 words checker
  .dotnet/example_code_legacy/SNS/SNSSample1/SNSSample1/Program.cs
  .github/pre_validate/pre_validate.py
  .github/pre_validate/words.py
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutSubscriptionFilter.java
  javav2/example_code/codecommit/metadata.yaml
  javav2/example_code/dynamodb/metadata.yaml
  javav2/example_code/glue/metadata.yaml
  javav2/example_code/iam/metadata.yaml
  javav2/example_code/kms/metadata.yaml
  javav2/example_code/sns/metadata.yaml
  javav2/example_code/sqs/metadata.yaml
  javav2/example_code/ssm/metadata.yaml
  javav2/example_code/sts/metadata.yaml
  javav2/usecases/Creating_etl_workflow/metadata.yaml
  javav2/usecases/Creating_rds_item_tracker/metadata.yaml
  javav2/usecases/creating_lambda_ppe/metadata.yaml
  javav2/usecases/creating_lambda_tag_assets/metadata.yaml
  javav2/usecases/creating_photo_analyzer_app/metadata.yaml
  javav2/usecases/workflow_multiple_channels/metadata.yaml
  python/example_code/devicefarm/browser_testing/test_suite.py
Labels: lang/java-v2, lang/python, status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#4814 SQS Cleanup
  .doc_gen/metadata/sqs_metadata.yaml
  javascriptv3/README.md
  javascriptv3/example_code/cloudwatch-logs/actions/describe-log-groups.js
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/sqs/actions/change-message-visibility.js
  javascriptv3/example_code/sqs/actions/create-queue.js
  javascriptv3/example_code/sqs/actions/delete-queue.js
  javascriptv3/example_code/sqs/actions/get-queue-url.js
  javascriptv3/example_code/sqs/actions/list-queues.js
  javascriptv3/example_code/sqs/actions/receive-delete-message.js
  javascriptv3/example_code/sqs/actions/send-message.js
  javascriptv3/example_code/sqs/actions/set-queue-attributes.js
  javascriptv3/example_code/sqs/client.js
  javascriptv3/example_code/sqs/guide_supplements/guide-js-create-queue-long-polling.js
  javascriptv3/example_code/sqs/guide_supplements/guide-js-receive-long-polling.js
  javascriptv3/example_code/sqs/guide_supplements/guide-js-set-dead-letter-queue.js
  javascriptv3/example_code/sqs/guide_supplements/guide-js-update-queue-long-polling.js
  javascriptv3/example_code/sqs/package.json
  javascriptv3/example_code/sqs/src/libs/sqsClient.js
  javascriptv3/example_code/sqs/src/metadata.yaml
  javascriptv3/example_code/sqs/src/package.json
  javascriptv3/example_code/sqs/src/sqs_changingvisibility.js
  javascriptv3/example_code/sqs/src/sqs_createqueue.js
  javascriptv3/example_code/sqs/src/sqs_deadletterqueue.js
  javascriptv3/example_code/sqs/src/sqs_deletemessage.js
  javascriptv3/example_code/sqs/src/sqs_deletequeue.js
  javascriptv3/example_code/sqs/src/sqs_getqueueurl.js
  javascriptv3/example_code/sqs/src/sqs_listqueues.js
  javascriptv3/example_code/sqs/src/sqs_longpolling_createqueue.js
  javascriptv3/example_code/sqs/src/sqs_longpolling_existingqueue.js
  javascriptv3/example_code/sqs/src/sqs_longpolling_receivemessage.js
  javascriptv3/example_code/sqs/src/sqs_sendmessage.js
  javascriptv3/example_code/sqs/src/sqs_setqueueattributes.js
  javascriptv3/example_code/sqs/tests/change-visibility.integration.test.js
  javascriptv3/example_code/sqs/tests/queue-actions.integration.test.js
  javascriptv3/example_code/sqs/vite.config.ts
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4817 remove sos editor POC
  .doc_gen/metadata/sos_editor/README.md
  .doc_gen/metadata/sos_editor/create_json.js
  .doc_gen/metadata/sos_editor/index.html
  .doc_gen/metadata/sos_editor/package.json
  .doc_gen/metadata/sos_editor/styles.css
  .doc_gen/metadata/sos_editor/update_yaml.js
Labels: status/on-call-review-complete, status/no-text-review-needed

#4758 Update Ruby README's w/ WRITEME ✍️
  .gitignore
  ruby/example_code/cloudtrail/README.md
  ruby/example_code/cloudwatch/README.md
  ruby/example_code/codebuild/README.md
  ruby/example_code/dynamodb/README.md
  ruby/example_code/ec2/README.md
  ruby/example_code/elasticbeanstalk/README.md
  ruby/example_code/elastictranscoder/README.md
  ruby/example_code/eventbridge/README.md
  ruby/example_code/iam/README.md
  ruby/example_code/kms/README.md
  ruby/example_code/lambda/README.md
  ruby/example_code/polly/README.md
  ruby/example_code/rds/README.md
  ruby/example_code/s3/README.md
  ruby/example_code/secretsmanager/README.md
  ruby/example_code/ses/README.md
  ruby/example_code/sns/README.md
  ruby/example_code/sqs/README.md
  ruby/example_code/workdocs/README.md
Labels: lang/ruby, status/on-call-review-complete, status/text-review-complete

#4821 change package type to 'module'
  javascriptv3/example_code/sqs/package.json
Labels: lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4796 Add Kotlin Pam files
  .doc_gen/cross-content/cross_PAM_Kotlin_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  kotlin/usecases/creating_pam/Readme.md
  kotlin/usecases/creating_pam/build.gradle.kts
  kotlin/usecases/creating_pam/gradle/wrapper/gradle-wrapper.jar
  kotlin/usecases/creating_pam/gradle/wrapper/gradle-wrapper.properties
  kotlin/usecases/creating_pam/gradlew
  kotlin/usecases/creating_pam/gradlew.bat
  kotlin/usecases/creating_pam/images/EventJSON.png
  kotlin/usecases/creating_pam/images/KotlinShawdow.png
  kotlin/usecases/creating_pam/images/email.png
  kotlin/usecases/creating_pam/images/kotlinJarS3.png
  kotlin/usecases/creating_pam/images/kotlinProgram.png
  kotlin/usecases/creating_pam/images/kotlinproject.png
  kotlin/usecases/creating_pam/images/lcRule.png
  kotlin/usecases/creating_pam/images/newPamTable.png
  kotlin/usecases/creating_pam/images/packages.png
  kotlin/usecases/creating_pam/images/pam.png
  kotlin/usecases/creating_pam/images/pam2.png
  kotlin/usecases/creating_pam/images/pamOverview.png
  kotlin/usecases/creating_pam/images/pamSignin.png
  kotlin/usecases/creating_pam/images/pic1.png
  kotlin/usecases/creating_pam/images/pic2.png
  kotlin/usecases/creating_pam/images/pic3.png
  kotlin/usecases/creating_pam/images/restore.png
  kotlin/usecases/creating_pam/images/s3tag.png
  kotlin/usecases/creating_pam/images/storageMessage.png
  kotlin/usecases/creating_pam/images/storageMessage1.png
  kotlin/usecases/creating_pam/images/storageMessage2.png
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/LabelCount.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/PhotoApplicationResources.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/WorkCount.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/endpoints/DownloadEndpoint.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/endpoints/UploadEndpoint.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/handlers/GetHandler.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/handlers/RestoreHandler.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/handlers/S3Handler.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/handlers/UploadHandler.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/services/AnalyzePhotos.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/services/DynamoDBService.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/services/S3Service.kt
  kotlin/usecases/creating_pam/src/main/kotlin/com/example/photo/services/SnsService.kt
Labels: lang/kotlin, status/on-call-review-complete, status/text-review-complete

#4818 Make Cognito a virtual bundle owner.
  .doc_gen/metadata/services.yaml
Labels: status/on-call-review-complete, status/no-text-review-needed

#4825 4571 bash s3 mvp example
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/sdks.yaml
  .doc_gen/readmes/config.py
  .doc_gen/validation/example_schema.yaml
  .doc_gen/validation/sdks_schema.yaml
  aws-cli/bash-linux/s3/README.md
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/awsdocs_general.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/bucket_operations.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/test_bucket_operations.sh
  aws-cli/bash-linux/s3/s3_getting_started.sh
Labels: tool/cli, status/on-call-review-complete, status/text-review-complete

#4826 Fixes and cleanups for the PartiQL examples.
  .doc_gen/metadata/dynamodb_metadata.yaml
  dotnetv3/dynamodb/scenarios/PartiQL_Batch_Scenario/PartiQL_Batch_Scenario/PartiQLBatchMethods.cs
Labels: lang/dotnet-v3, status/on-call-review-complete, status/text-review-complete

#4804 Updates to the pagination code examples used in the v2 Java dev. guide.
  javav2/example_code/dynamodbasync/pom.xml
  javav2/example_code/dynamodbasync/src/main/java/com/example/dynamodbasync/AsyncPagination.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectData.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3ObjectOperations.java
Labels: lang/java-v2, status/on-call-review-complete, status/text-review-complete

#4831 update s3 readme
  javascriptv3/example_code/s3/README.md
Labels: lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4838 Add related example list to template.
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/templates/zonbook/utility/notes.xml
  .doc_gen/templates/zonbook/utility/service_examples.xml
Labels: status/on-call-review-complete, status/text-review-complete

#4843 GH Configuration: Added some more details to the PR Template comments.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: status/on-call-review-complete, status/text-review-complete, type/github-settings
