Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-01, with the labels that each got.

#4141 Update README.md
  ruby/README.md
Labels: lang/ruby

#4142 [BUGFIX] Slight change to REAMDE#docker-image-beta
  cpp/README.rst
  dotnetv3/README.md
  gov2/README.md
  javascriptv3/example_code/README.md
  javav2/README.rst
  kotlin/README.md
  php/example_code/README.md
  python/README.md
  ruby/README.md
  rust_dev_preview/Dockerfile
  rust_dev_preview/README.md
  swift/README.md
Labels: lang/cpp, lang/java-v2, lang/dotnet-v3, lang/go-v2, lang/ruby, lang/python, lang/php, lang/rust, lang/kotlin, lang/swift, lang/javascript-v3

#4145 Hotfix ford
  .github/workflows/docker-push.yml
Labels: lang/cpp, lang/java-v2, lang/dotnet-v3, lang/go-v2, lang/ruby, lang/python, lang/php, lang/rust, lang/kotlin, lang/swift, lang/javascript-v3, type/github-settings

#4146 Update README.md
  kotlin/README.md
Labels: lang/kotlin

#4112 Fix some link markdown
  rust_dev_preview/README.md
Labels: lang/rust, status/has-text-review

#4154 Added choice of C++
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
Labels: type/github-settings

#4120 Update Rust Examples
  rust_dev_preview/concurrency/Cargo.toml
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/Dockerfile
  rust_dev_preview/cross_service/rest_ses/src/client.rs
  rust_dev_preview/cross_service/rest_ses/tests/api/startup.rs
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/dynamodb/src/bin/list-tables-local.rs
  rust_dev_preview/glue/Cargo.toml
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/iam/src/bin/iam-getting-started.rs
  rust_dev_preview/lambda/Cargo.toml
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/localstack/src/bin/use-localstack.rs
  rust_dev_preview/s3/README.md
  rust_dev_preview/s3/src/bin/if-modified-since.rs
  rust_dev_preview/s3/src/bin/s3-object-lambda.rs
  rust_dev_preview/sdk-config/Cargo.toml
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4185 Restore rust_dev_preview/s3/src/bin/s3-object-lambda.rs
  rust_dev_preview/s3/src/bin/s3-object-lambda.rs
Labels: lang/rust, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4089 add/update examples for GA release of TransferManager
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/checkstyle.xml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/CheckingObjectIntegrity.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3BucketDeletion.java
  javav2/example_code/s3/src/main/java/com/example/s3/S3Scenario.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/DownloadFile.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/DownloadToDirectory.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/FileUpDownOps.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/GetObject.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/ObjectCopy.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/S3ClientFactory.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/UploadADirectory.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/UploadFile.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/UploadObject.java
  javav2/example_code/s3/src/main/resources/downloadDirectory/dummy.txt
  javav2/example_code/s3/src/main/resources/image.png
  javav2/example_code/s3/src/main/resources/log4j2.xml
  javav2/example_code/s3/src/main/resources/uploadDirectory/file1.txt
  javav2/example_code/s3/src/main/resources/uploadDirectory/file2.txt
  javav2/example_code/s3/src/main/resources/uploadDirectory/file3.txt
  javav2/example_code/s3/src/test/java/S3TestWatcher.java
  javav2/example_code/s3/src/test/java/TransferManagerTest.java
Labels: lang/java-v2, status/needs-code-review, type/sos, status/has-text-review, status/has-testing-review

#4135 enable `assumeRole` method for use in IAM STS documentation
  javav2/example_code/iam/checkstyle.xml
  javav2/example_code/iam/pom.xml
  javav2/example_code/iam/src/main/java/com/example/iam/IAMScenario.java
  javav2/example_code/iam/src/main/java/com/example/iam/UpdateServerCertificate.java
  javav2/example_code/iam/src/test/java/IAMServiceTest.java
Labels: lang/java-v2

#4102 Add metadata for rds generation auth token action.
  .doc_gen/metadata/rds_metadata.yaml
Labels: type/sos

#4187 Add lerna and add cleaned up examples to lerna packages.
  javascriptv3/.gitignore
  javascriptv3/example_code/cognito/README.md
  javascriptv3/example_code/cognito/package.json
  javascriptv3/example_code/cognito/tests/actions.integration.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-create.unit.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-define.unit.test.js
  javascriptv3/example_code/cognito/tests/auth-challenge-verify.unit.test.js
  javascriptv3/example_code/cognito/tests/authentication-post.unit.test.js
  javascriptv3/example_code/cognito/tests/authentication-pre.unit.test.js
  javascriptv3/example_code/cognito/tests/confirmation-post.unit.test.js
  javascriptv3/example_code/cognito/tests/custom-message-admin-create.unit.test.js
  javascriptv3/example_code/cognito/tests/custom-message-sign-up.unit.test.js
  javascriptv3/example_code/cognito/tests/migrate-user.unit.test.js
  javascriptv3/example_code/cognito/tests/sign-up-pre-auto-confirm-domain.unit.test.js
  javascriptv3/example_code/cognito/tests/sign-up-pre-auto-confirm-verify.unit.test.js
  javascriptv3/example_code/cognito/tests/token-generation-pre-add-suppress-claim.unit.test.js
  javascriptv3/example_code/cognito/tests/token-generation-pre-modify-group.unit.test.js
  javascriptv3/example_code/cognito/yarn.lock
  javascriptv3/example_code/lambda/.gitignore
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/lambda/actions/create-function.js
  javascriptv3/example_code/lambda/actions/update-function-code.js
  javascriptv3/example_code/lambda/actions/update-function-configuration.js
  javascriptv3/example_code/lambda/functions/config.json
  javascriptv3/example_code/lambda/functions/func-math.zip
  javascriptv3/example_code/lambda/functions/func-math/index.js
  javascriptv3/example_code/lambda/functions/func-math/package.json
  javascriptv3/example_code/lambda/functions/func-math/yarn.lock
  javascriptv3/example_code/lambda/functions/func-update.zip
  javascriptv3/example_code/lambda/functions/func-update/config.json
  javascriptv3/example_code/lambda/functions/func-update/index.js
  javascriptv3/example_code/lambda/functions/func-update/package.json
  javascriptv3/example_code/lambda/functions/func-update/yarn.lock
  javascriptv3/example_code/lambda/package.json
  javascriptv3/example_code/lambda/tests/lambda-actions.integration.test.js
  javascriptv3/example_code/lambda/vite.config.ts
  javascriptv3/example_code/lambda/yarn.lock
  javascriptv3/example_code/libs/package.json
  javascriptv3/example_code/libs/tests/cmd-runner.unit.test.js
  javascriptv3/example_code/libs/tests/ext-ramda.unit.test.js
  javascriptv3/example_code/libs/tests/util-aws-sdk.unit.test.js
  javascriptv3/example_code/libs/tests/util-csv.unit.test.js
  javascriptv3/example_code/libs/tests/util-log.unit.test.js
  javascriptv3/example_code/libs/tests/util-string.unit.test.js
  javascriptv3/example_code/libs/tests/util-timers.test.js
  javascriptv3/example_code/libs/tests/util-timers.unit.test.js
  javascriptv3/example_code/libs/utils/util-fs.js
  javascriptv3/example_code/libs/utils/util-test.js
  javascriptv3/example_code/libs/yarn.lock
  javascriptv3/lerna.json
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: lang/javascript-v3, status/has-code-review, status/has-testing-review

#4034 Cleanup Cloudwatch examples
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/cloudwatch/actions/delete-alarms.js
  javascriptv3/example_code/cloudwatch/actions/describe-alarms.js
  javascriptv3/example_code/cloudwatch/actions/disable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/enable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/list-metrics.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-alarm.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-data.js
  javascriptv3/example_code/cloudwatch/libs/client.js
  javascriptv3/example_code/cloudwatch/libs/cloudwatch-helper.js
  javascriptv3/example_code/cloudwatch/libs/ec2-helper.js
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/cloudwatch/src/deleteAlarms.js
  javascriptv3/example_code/cloudwatch/src/describeAlarms.js
  javascriptv3/example_code/cloudwatch/src/disableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/enableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/libs/cloudWatchClient.js
  javascriptv3/example_code/cloudwatch/src/listMetrics.js
  javascriptv3/example_code/cloudwatch/src/package.json
  javascriptv3/example_code/cloudwatch/src/putMetricAlarm.js
  javascriptv3/example_code/cloudwatch/src/putMetricData.js
  javascriptv3/example_code/cloudwatch/tests/babel.config.js
  javascriptv3/example_code/cloudwatch/tests/delete-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/deleteAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/describe-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/describeAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/disable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/disableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/enable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/enableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/jest.config.js
  javascriptv3/example_code/cloudwatch/tests/list-metrics.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/listMetrics.test.js
  javascriptv3/example_code/cloudwatch/tests/package.json
  javascriptv3/example_code/cloudwatch/tests/put-metric-alarm.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/put-metric-data.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/putMetricAlarm.test.js
  javascriptv3/example_code/cloudwatch/vite.config.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: type/sos, lang/javascript-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#4190 Revert "Cleanup Cloudwatch examples"
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/cloudwatch/actions/delete-alarms.js
  javascriptv3/example_code/cloudwatch/actions/describe-alarms.js
  javascriptv3/example_code/cloudwatch/actions/disable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/enable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/list-metrics.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-alarm.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-data.js
  javascriptv3/example_code/cloudwatch/libs/client.js
  javascriptv3/example_code/cloudwatch/libs/cloudwatch-helper.js
  javascriptv3/example_code/cloudwatch/libs/ec2-helper.js
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/cloudwatch/src/deleteAlarms.js
  javascriptv3/example_code/cloudwatch/src/describeAlarms.js
  javascriptv3/example_code/cloudwatch/src/disableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/enableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/libs/cloudWatchClient.js
  javascriptv3/example_code/cloudwatch/src/listMetrics.js
  javascriptv3/example_code/cloudwatch/src/package.json
  javascriptv3/example_code/cloudwatch/src/putMetricAlarm.js
  javascriptv3/example_code/cloudwatch/src/putMetricData.js
  javascriptv3/example_code/cloudwatch/tests/babel.config.js
  javascriptv3/example_code/cloudwatch/tests/delete-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/deleteAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/describe-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/describeAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/disable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/disableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/enable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/enableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/jest.config.js
  javascriptv3/example_code/cloudwatch/tests/list-metrics.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/listMetrics.test.js
  javascriptv3/example_code/cloudwatch/tests/package.json
  javascriptv3/example_code/cloudwatch/tests/put-metric-alarm.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/put-metric-data.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/putMetricAlarm.test.js
  javascriptv3/example_code/cloudwatch/vite.config.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: type/sos, lang/javascript-v3

#4195 Revert "Cloudwatch Cleanup"
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/cloudwatch/actions/delete-alarms.js
  javascriptv3/example_code/cloudwatch/actions/describe-alarms.js
  javascriptv3/example_code/cloudwatch/actions/disable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/enable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/list-metrics.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-alarm.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-data.js
  javascriptv3/example_code/cloudwatch/libs/client.js
  javascriptv3/example_code/cloudwatch/libs/cloudwatch-helper.js
  javascriptv3/example_code/cloudwatch/libs/ec2-helper.js
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/cloudwatch/src/deleteAlarms.js
  javascriptv3/example_code/cloudwatch/src/describeAlarms.js
  javascriptv3/example_code/cloudwatch/src/disableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/enableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/libs/cloudWatchClient.js
  javascriptv3/example_code/cloudwatch/src/listMetrics.js
  javascriptv3/example_code/cloudwatch/src/package.json
  javascriptv3/example_code/cloudwatch/src/putMetricAlarm.js
  javascriptv3/example_code/cloudwatch/src/putMetricData.js
  javascriptv3/example_code/cloudwatch/tests/babel.config.js
  javascriptv3/example_code/cloudwatch/tests/delete-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/deleteAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/describe-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/describeAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/disable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/disableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/enable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/enableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/jest.config.js
  javascriptv3/example_code/cloudwatch/tests/list-metrics.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/listMetrics.test.js
  javascriptv3/example_code/cloudwatch/tests/package.json
  javascriptv3/example_code/cloudwatch/tests/put-metric-alarm.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/put-metric-data.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/putMetricAlarm.test.js
  javascriptv3/example_code/cloudwatch/vite.config.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: type/sos, lang/javascript-v3

#4189 Updates to Swift examples for S3
  .vscode/launch.json
  swift/example_code/s3/DeleteObjects/Package.swift
  swift/example_code/s3/DeleteObjects/Sources/DeleteObjects/DeleteObjects.swift
  swift/example_code/s3/DeleteObjects/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/DeleteObjectsTests.swift
Labels: status/ready-to-merge, lang/swift, status/has-code-review, status/has-text-review

#4122 IAM Basics for Swift
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/sts_metadata.yaml
  swift/example_code/iam/CreateRole/Sources/CreateRole/CreateRole.swift
  swift/example_code/iam/CreateRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateRole/Tests/CreateRoleTests/CreateRoleTests.swift
  swift/example_code/iam/README.md
  swift/example_code/iam/basics/Package.swift
  swift/example_code/iam/basics/Sources/Basics/Basics.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerError.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerIAM.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerIAM_Ext.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerS3.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerSTS.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerSTS_Ext.swift
  swift/example_code/iam/basics/Tests/BasicsTests/BasicsTests.swift
Labels: type/sos, status/ready-to-merge, lang/swift, status/has-code-review, status/has-text-review, status/has-testing-review

#4147 4053 c++ autoscaling mvp
  .doc_gen/metadata/autoscaling_metadata.yaml
  cpp/example_code/autoscaling/CMakeLists.txt
  cpp/example_code/autoscaling/README.md
  cpp/example_code/autoscaling/autoscaling_samples.h
  cpp/example_code/autoscaling/groups_and_instances_scenario.cpp
  cpp/example_code/autoscaling/tests/CMakeLists.txt
  cpp/example_code/autoscaling/tests/autoscaling_gtests.cpp
  cpp/example_code/autoscaling/tests/autoscaling_gtests.h
  cpp/example_code/autoscaling/tests/gtest_groups_and_instances_scenario.cpp
  cpp/example_code/autoscaling/tests/test_main.cpp
  cpp/example_code/iam/list_users.cpp
Labels: lang/cpp, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review

#4186 Refactor SOS templates to use nested templates and add curated example templates
  .doc_gen/metadata/curated/sources.yaml
  .doc_gen/templates/zonbook/example_curated_template.xml
  .doc_gen/templates/zonbook/example_description_template.xml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/example_tablist_template.xml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_tag_chapter.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_bundle_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  .doc_gen/templates/zonbook/utility/curated_examples.xml
  .doc_gen/templates/zonbook/utility/hello.xml
  .doc_gen/templates/zonbook/utility/notes.xml
  .doc_gen/templates/zonbook/utility/prologue.xml
  .doc_gen/templates/zonbook/utility/sdk_api_examples.xml
  .doc_gen/templates/zonbook/utility/sdk_cross_examples.xml
  .doc_gen/templates/zonbook/utility/service_examples.xml
  .doc_gen/templates/zonbook/utility/synopsis.xml
  .doc_gen/validation/curated_example_schema.yaml
  .doc_gen/validation/curated_sources_schema.yaml
  .doc_gen/validation/validate_doc_metadata.py
  .github/workflows/validate-doc-metadata.yml
Labels: type/sos, status/has-code-review, type/github-settings

#4035 Clean up Cloudwatch Logs examples
  .doc_gen/metadata/cloudwatch-logs_metadata.yaml
  javascriptv3/example_code/cloudwatch-logs/README.md
  javascriptv3/example_code/cloudwatch-logs/actions/create-log-group.js
  javascriptv3/example_code/cloudwatch-logs/actions/delete-log-group.js
  javascriptv3/example_code/cloudwatch-logs/actions/delete-subscription-filter.js
  javascriptv3/example_code/cloudwatch-logs/actions/describe-log-groups.js
  javascriptv3/example_code/cloudwatch-logs/actions/describe-subscription-filters.js
  javascriptv3/example_code/cloudwatch-logs/actions/put-subscription-filter.js
  javascriptv3/example_code/cloudwatch-logs/libs/client.js
  javascriptv3/example_code/cloudwatch-logs/libs/constants.js
  javascriptv3/example_code/cloudwatch-logs/libs/iam-helper.js
  javascriptv3/example_code/cloudwatch-logs/libs/lambda-helper.js
  javascriptv3/example_code/cloudwatch-logs/package.json
  javascriptv3/example_code/cloudwatch-logs/src/deleteSubscriptionFilter.js
  javascriptv3/example_code/cloudwatch-logs/src/describeSubscriptionFilters.js
  javascriptv3/example_code/cloudwatch-logs/src/libs/cloudWatchLogsClient.js
  javascriptv3/example_code/cloudwatch-logs/src/package.json
  javascriptv3/example_code/cloudwatch-logs/src/putSubscriptionFilter.js
  javascriptv3/example_code/cloudwatch-logs/tests/babel.config.js
  javascriptv3/example_code/cloudwatch-logs/tests/cloudwatch-logs.integration.test.js
  javascriptv3/example_code/cloudwatch-logs/tests/data/lambda-function.zip
  javascriptv3/example_code/cloudwatch-logs/tests/deleteSubscriptionFilter.test.js
  javascriptv3/example_code/cloudwatch-logs/tests/describeSubscriptionFilters.test.js
  javascriptv3/example_code/cloudwatch-logs/tests/jest.config.js
  javascriptv3/example_code/cloudwatch-logs/tests/package.json
  javascriptv3/example_code/cloudwatch-logs/tests/putSubscriptionFilter.test.js
  javascriptv3/example_code/libs/tests/util-timers.unit.test.js
  javascriptv3/example_code/libs/utils/util-node.js
  javascriptv3/example_code/libs/utils/util-timers.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: type/sos, lang/javascript-v3, status/has-code-review, status/has-testing-review

#4197 Add timer delay feature to SwiftUtilities module
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/STimer.swift
  swift/modules/SwiftUtilities/Sources/SwiftUtilities/TestWaiter.swift
  swift/modules/SwiftUtilities/Tests/SwiftUtilitiesTests/STimerTests.swift
Labels: status/needs-code-review, lang/swift, status/needs-testing-review, status/has-text-review

#4086 Clean up Cloudwatch Events examples.
  .doc_gen/metadata/cloudwatch-events_metadata.yaml
  javascriptv3/example_code/cloudwatch-events/README.md
  javascriptv3/example_code/cloudwatch-events/actions/put-events.js
  javascriptv3/example_code/cloudwatch-events/actions/put-rule.js
  javascriptv3/example_code/cloudwatch-events/actions/put-targets.js
  javascriptv3/example_code/cloudwatch-events/libs/client.js
  javascriptv3/example_code/cloudwatch-events/package.json
  javascriptv3/example_code/cloudwatch-events/src/libs/cloudWatchEventsClient.js
  javascriptv3/example_code/cloudwatch-events/src/package.json
  javascriptv3/example_code/cloudwatch-events/src/putEvents.js
  javascriptv3/example_code/cloudwatch-events/src/putRule.js
  javascriptv3/example_code/cloudwatch-events/src/putTargets.js
  javascriptv3/example_code/cloudwatch-events/tests/babel.config.js
  javascriptv3/example_code/cloudwatch-events/tests/cloudwatch-events.integration.test.js
  javascriptv3/example_code/cloudwatch-events/tests/jest.config.js
  javascriptv3/example_code/cloudwatch-events/tests/package.json
  javascriptv3/example_code/cloudwatch-events/tests/putEvents.test.js
  javascriptv3/example_code/cloudwatch-events/tests/putRule.test.js
  javascriptv3/example_code/cloudwatch-events/tests/putTargets.test.js
  javascriptv3/package.json
Labels: type/sos, lang/javascript-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#4211 CloudWatch Events legacy clean-up (typo fix)
  .doc_gen/metadata/cloudwatch-events_metadata.yaml
Labels: status/needs-code-review, type/sos

#4155 Add Amazon Connect Java/Kotlin Keyspace Examples
  .doc_gen/metadata/keyspaces_metadata.yaml
  javav2/example_code/connect/Readme.md
  javav2/example_code/connect/pom.xml
  javav2/example_code/connect/src/main/java/com/example/connect/CreateInstance.java
  javav2/example_code/connect/src/main/java/com/example/connect/DeleteInstance.java
  javav2/example_code/connect/src/main/java/com/example/connect/DescribeContact.java
  javav2/example_code/connect/src/main/java/com/example/connect/DescribeInstance.java
  javav2/example_code/connect/src/main/java/com/example/connect/DescribeInstanceAttribute.java
  javav2/example_code/connect/src/main/java/com/example/connect/GetContactAttributes.java
  javav2/example_code/connect/src/main/java/com/example/connect/GetMetricData.java
  javav2/example_code/connect/src/main/java/com/example/connect/ListInstances.java
  javav2/example_code/connect/src/main/java/com/example/connect/ListPhoneNumbers.java
  javav2/example_code/connect/src/main/java/com/example/connect/ListUsers.java
  javav2/example_code/connect/src/main/java/com/example/connect/SearchQueues.java
  javav2/example_code/connect/src/main/resources/config.properties
  javav2/example_code/connect/src/test/java/ConnectTest.java
  kotlin/services/keyspaces/Readme.md
  kotlin/services/keyspaces/build.gradle.kts
  kotlin/services/keyspaces/src/main/kotlin/com/example/keyspace/HelloKeyspaces.kt
  kotlin/services/keyspaces/src/main/kotlin/com/example/keyspace/ScenarioKeyspaces.kt
  kotlin/services/keyspaces/src/test/kotlin/KeyspaceTest.kt
Labels: lang/java-v2, lang/kotlin, type/sos, status/has-text-review

#4151 Rust TestConnectors
  rust_dev_preview/.dockerignore
  rust_dev_preview/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/src/client.rs
  rust_dev_preview/cross_service/rest_ses/src/work_item/repository.rs
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/iam/src/bin/create-role.rs
  rust_dev_preview/iam/src/iam-service-lib.rs
  rust_dev_preview/iam/testing/test_create_policy_response_malformed.xml
  rust_dev_preview/iam/testing/test_create_policy_response_success.xml
  rust_dev_preview/test-utils/Cargo.toml
  rust_dev_preview/test-utils/README.md
  rust_dev_preview/test-utils/src/macros.rs
  rust_dev_preview/test-utils/src/mod.rs
  rust_dev_preview/testing/Cargo.toml
  rust_dev_preview/testing/README.md
Labels: lang/rust, status/has-text-review, status/has-testing-review

#4198 Cloudwatch Cleanup
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/cloudwatch/actions/delete-alarms.js
  javascriptv3/example_code/cloudwatch/actions/describe-alarms.js
  javascriptv3/example_code/cloudwatch/actions/disable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/enable-alarm-actions.js
  javascriptv3/example_code/cloudwatch/actions/list-metrics.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-alarm.js
  javascriptv3/example_code/cloudwatch/actions/put-metric-data.js
  javascriptv3/example_code/cloudwatch/libs/client.js
  javascriptv3/example_code/cloudwatch/libs/cloudwatch-helper.js
  javascriptv3/example_code/cloudwatch/libs/ec2-helper.js
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/cloudwatch/src/deleteAlarms.js
  javascriptv3/example_code/cloudwatch/src/describeAlarms.js
  javascriptv3/example_code/cloudwatch/src/disableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/enableAlarmActions.js
  javascriptv3/example_code/cloudwatch/src/libs/cloudWatchClient.js
  javascriptv3/example_code/cloudwatch/src/listMetrics.js
  javascriptv3/example_code/cloudwatch/src/package.json
  javascriptv3/example_code/cloudwatch/src/putMetricAlarm.js
  javascriptv3/example_code/cloudwatch/src/putMetricData.js
  javascriptv3/example_code/cloudwatch/tests/babel.config.js
  javascriptv3/example_code/cloudwatch/tests/delete-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/deleteAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/describe-alarms.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/describeAlarms.test.js
  javascriptv3/example_code/cloudwatch/tests/disable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/disableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/enable-alarm-actions.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/enableAlarmActions.test.js
  javascriptv3/example_code/cloudwatch/tests/jest.config.js
  javascriptv3/example_code/cloudwatch/tests/list-metrics.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/listMetrics.test.js
  javascriptv3/example_code/cloudwatch/tests/package.json
  javascriptv3/example_code/cloudwatch/tests/put-metric-alarm.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/put-metric-data.integration.test.js
  javascriptv3/example_code/cloudwatch/tests/putMetricAlarm.test.js
  javascriptv3/example_code/cloudwatch/vite.config.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: type/sos, lang/javascript-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#4199 fixing dockerfiles
  cpp/Dockerfile
  dotnetv3/Dockerfile
  gov2/Dockerfile
  javascriptv3/Dockerfile
  javav2/Dockerfile
  kotlin/Dockerfile
  php/Dockerfile
  python/Dockerfile
  ruby/Dockerfile
  rust_dev_preview/Dockerfile
  swift/Dockerfile
Labels: lang/cpp, lang/java-v2, lang/dotnet-v3, lang/go-v2, lang/ruby, lang/python, lang/php, lang/rust, lang/kotlin, lang/swift, lang/javascript-v3

#4225 Update README.md
  ruby/README.md
Labels: lang/ruby

#4215 Update Kotlin Database examples to use React EWING app (screen shots mods)
  kotlin/usecases/creating_redshift_application/Readme.md
  kotlin/usecases/creating_redshift_application/images/activeNew.png
  kotlin/usecases/creating_redshift_application/images/archiveNew.png
  kotlin/usecases/creating_redshift_application/images/archiveShow.png
  kotlin/usecases/creating_redshift_application/images/json2.png
  kotlin/usecases/creating_redshift_application/images/newItem.png
  kotlin/usecases/creating_redshift_application/images/newReport.png
  kotlin/usecases/creating_redshift_application/src/main/kotlin/com/aws/rest/App.kt
  kotlin/usecases/creating_redshift_application/src/main/kotlin/com/aws/rest/InjectWorkService.kt
  kotlin/usecases/creating_redshift_application/src/main/kotlin/com/aws/rest/RedshiftService.kt
  kotlin/usecases/creating_redshift_application/src/main/kotlin/com/aws/rest/RetrieveItems.kt
  kotlin/usecases/creating_redshift_application/src/main/kotlin/com/aws/rest/SendMessage.kt
  kotlin/usecases/creating_redshift_application/src/main/kotlin/com/aws/rest/WorkItem.kt
  kotlin/usecases/serverless_rds/Readme.md
  kotlin/usecases/serverless_rds/images/activeNew.png
  kotlin/usecases/serverless_rds/images/archiveNew.png
  kotlin/usecases/serverless_rds/images/archiveShow.png
  kotlin/usecases/serverless_rds/images/json2.png
  kotlin/usecases/serverless_rds/images/newItem.png
  kotlin/usecases/serverless_rds/images/newReport.png
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/DemoApplication.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/InjectWorkService.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/RetrieveItems.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/SendMessage.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/WorkItem.kt
  kotlin/usecases/serverless_rds/src/main/kotlin/com/example/demo/WorkItemRepository.kt
Labels: lang/kotlin, status/has-text-review

#4227 Fix examples for Rust SDK release
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/s3/src/bin/s3-object-lambda.rs
  rust_dev_preview/testing/Cargo.toml
Labels: lang/rust

#4238 Pin clap to 4.0
  rust_dev_preview/concurrency/Cargo.toml
  rust_dev_preview/glue/Cargo.toml
Labels: lang/rust

#4237 .NET Keyspaces MVP Scenario
  .doc_gen/metadata/keyspaces_metadata.yaml
  dotnetv3/Keyspaces/Actions/HelloKeyspaces.cs
  dotnetv3/Keyspaces/Actions/KeyspacesActions.csproj
  dotnetv3/Keyspaces/Actions/KeyspacesWrapper.cs
  dotnetv3/Keyspaces/Actions/Usings.cs
  dotnetv3/Keyspaces/KeyspacesExamples.sln
  dotnetv3/Keyspaces/README.md
  dotnetv3/Keyspaces/Scenarios/CassandraWrapper.cs
  dotnetv3/Keyspaces/Scenarios/KeyspacesBasics.cs
  dotnetv3/Keyspaces/Scenarios/KeyspacesScenario.csproj
  dotnetv3/Keyspaces/Scenarios/Movie.cs
  dotnetv3/Keyspaces/Scenarios/MovieInfo.cs
  dotnetv3/Keyspaces/Scenarios/UIMethods.cs
  dotnetv3/Keyspaces/Scenarios/Usings.cs
  dotnetv3/Keyspaces/Scenarios/settings.json
  dotnetv3/Keyspaces/Tests/CassandraWrapperTests.cs
  dotnetv3/Keyspaces/Tests/KeyspacesTests.csproj
  dotnetv3/Keyspaces/Tests/KeyspacesWrapperTests.cs
  dotnetv3/Keyspaces/Tests/Usings.cs
  dotnetv3/Keyspaces/Tests/testsettings.json
Labels: lang/dotnet-v3, type/sos, status/has-code-review, status/has-text-review, status/has-testing-review, type/mvp

#4236 Updates to build with Docker
  swift/.dockerignore
  swift/Dockerfile
  swift/README.md
  swift/tools/swiftbuild
Labels: status/ready-to-merge, lang/swift, status/has-code-review

#4242 Add metadata for Java v2 ECS examples
  .doc_gen/metadata/ecs_metadata.yaml
Labels: type/sos

#4241 Add a S3 pagination example
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/src/main/java/com/example/s3/ListObjectsPaginated.java
Labels: lang/java-v2, type/sos

#4196 add metadata for STS assumeRole action for Java v2
  .doc_gen/metadata/sts_metadata.yaml
Labels: type/sos

#4240 Improve error output in StockTradesWriter.java
  javav2/example_code/kinesis/src/main/java/com/example/kinesis/StockTradesWriter.java
Labels: lang/java-v2

#4149 2962s3 example using deleteobjectsrequest
  .doc_gen/metadata/s3_metadata.yaml
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/README.md
  cpp/example_code/s3/delete_objects.cpp
  cpp/example_code/s3/include/awsdoc/s3/s3_examples.h
  cpp/example_code/s3/tests/CMakeLists.txt
  cpp/example_code/s3/tests/S3_GTests.cpp
  cpp/example_code/s3/tests/S3_GTests.h
  cpp/example_code/s3/tests/gtest_copy_object.cpp
  cpp/example_code/s3/tests/gtest_create_bucket.cpp
  cpp/example_code/s3/tests/gtest_delete_bucket.cpp
  cpp/example_code/s3/tests/gtest_delete_bucket_policy.cpp
  cpp/example_code/s3/tests/gtest_delete_object.cpp
  cpp/example_code/s3/tests/gtest_delete_objects.cpp
  cpp/example_code/s3/tests/gtest_delete_website_config.cpp
  cpp/example_code/s3/tests/gtest_get_bucket_acl.cpp
  cpp/example_code/s3/tests/gtest_get_bucket_policy.cpp
  cpp/example_code/s3/tests/gtest_get_object.cpp
  cpp/example_code/s3/tests/gtest_get_object_acl.cpp
  cpp/example_code/s3/tests/gtest_get_put_bucket_acl.cpp
  cpp/example_code/s3/tests/gtest_get_website_config.cpp
  cpp/example_code/s3/tests/gtest_list_buckets.cpp
  cpp/example_code/s3/tests/gtest_list_buckets_disabling_dns_cache.cpp
  cpp/example_code/s3/tests/gtest_list_objects.cpp
  cpp/example_code/s3/tests/gtest_list_objects_with_aws_global_region.cpp
  cpp/example_code/s3/tests/gtest_put_bucket_acl.cpp
  cpp/example_code/s3/tests/gtest_put_bucket_policy.cpp
  cpp/example_code/s3/tests/gtest_put_object.cpp
  cpp/example_code/s3/tests/gtest_put_object_acl.cpp
  cpp/example_code/s3/tests/gtest_put_object_async.cpp
  cpp/example_code/s3/tests/gtest_put_object_buffer.cpp
  cpp/example_code/s3/tests/gtest_put_website_config.cpp
  cpp/example_code/s3/tests/gtest_s3_demo_for_cloud9.cpp
  cpp/example_code/s3/tests/gtest_s3_getting_started_scenario.cpp
  cpp/example_code/s3/tests/test_main.cpp
Labels: lang/cpp, type/sos, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4266 Placed the DynamoDB examples into a sub package (no code changes)
  README.md
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedCreateTable.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedQueryRecordsWithFilter.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedBatchDeleteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedBatchWriteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedGetItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedGetItemUsingIndex.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedHandleList.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedModifyItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedPutItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedQueryRecords.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedQueryRecordsWithFilter.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedQueryRecordsWithSortKey.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedScanRecords.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedScanRecordsWithExpression.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedTableSchema.java
Labels: lang/java-v2

#4140 Delete selected files within the /scripts directory
  .github/pre_validate/.gitignore
  .github/pre_validate/README.md
  .github/pre_validate/pre_validate.py
  .github/pre_validate/test/test_pre_validate.py
  .github/workflows/pre-validate.yml
  scripts/cleanup_report.py
  scripts/legacy/README.md
  scripts/legacy/api_report.py
  scripts/legacy/check_metadata.py
  scripts/legacy/test/test_api_report.py
  scripts/legacy/test/test_api_report_yamls/bad_metadata.yaml
  scripts/legacy/test/test_api_report_yamls/complex_metadata.yaml
  scripts/legacy/test/test_api_report_yamls/missing_key_metadata.yaml
  scripts/legacy/test/test_api_report_yamls/multi_file_metadata.yaml
  scripts/legacy/test/test_api_report_yamls/simpler_metadata.yaml
  scripts/run_go_tests.sh
  scripts/summarizer.py
  scripts/testRust.sh
  scripts/tests/__init__.py
  scripts/tests/test_cleanup_report.py
  scripts/tests/test_cleanup_report_yamls/bad_metadata.yaml
  scripts/tests/test_cleanup_report_yamls/complex_metadata.yaml
  scripts/tests/test_cleanup_report_yamls/missing_key_metadata.yaml
  scripts/tests/test_cleanup_report_yamls/multi_file_metadata.yaml
  scripts/update-gomod.sh
  scripts/vetCDK.sh
Labels: type/github-settings

#4192 Delete CloudFormation directory
  .github/workflows/cfn-lint.yml
  cloudformation/LICENSE
  cloudformation/README
  cloudformation/appstream2/athena-sample-queries-appstream-usage-data_template.yml
  cloudformation/codepipeline/template-codepipeline-codecommit-events-json.json
  cloudformation/codepipeline/template-codepipeline-codecommit-events-yaml.yml
  cloudformation/codepipeline/template-codepipeline-github-events-json.json
  cloudformation/codepipeline/template-codepipeline-github-events-yaml.yml
  cloudformation/codepipeline/template-codepipeline-s3-cloudtrail-json.json
  cloudformation/codepipeline/template-codepipeline-s3-cloudtrail-yaml.yml
  cloudformation/codepipeline/template-codepipeline-s3-events-json.json
  cloudformation/codepipeline/template-codepipeline-s3-events-yaml.yml
  cloudformation/codestar/template-create-codestar-toolchain-codecommit.yml
Labels: tool/cloudformation, type/github-settings

#4138 Delete unused/unsupported TypeScript examples
  typescript/example_code/README.rst
  typescript/example_code/cdk/BucketResource-stack.ts
  typescript/example_code/cdk/BucketResource.json
  typescript/example_code/cdk/BucketResource.ts
  typescript/example_code/cdk/HelloCdk-stack.ts
  typescript/example_code/cdk/HelloCdk.ts
  typescript/example_code/cdk/MyApp-stack.ts
  typescript/example_code/cdk/MyApp.ts
  typescript/example_code/cdk/MyRdsDbStack-stack.ts
  typescript/example_code/cdk/MyRdsDbStack.ts
  typescript/example_code/cdk/SecretsManager-stack.ts
  typescript/example_code/cdk/SecretsManager.ts
  typescript/example_code/cdk/hello-cdk-stack.ts
  typescript/example_code/cdk/hello-cdk-stack2.ts
  typescript/example_code/cdk/hello-cdk.ts
  typescript/example_code/cdk/hello-cdk2.ts
  typescript/example_code/cdk/integ.event-task.lit.ts
  typescript/example_code/cdk/my_ecs_construct-stack.ts
  typescript/example_code/cdk/my_ecs_construct.ts
  typescript/example_code/cdk/my_widget_service-stack.ts
  typescript/example_code/cdk/my_widget_service.ts
  typescript/example_code/cdk/widget_service.ts
  typescript/example_code/codepipeline/hello_world.ts
  typescript/example_code/codepipeline/index.ts
  typescript/example_code/s3/controller.ts
Labels: lang/typescript

#4262 ECS describe clusters now lists them first.
  rust_dev_preview/ecs/src/bin/describe-clusters.rs
Labels: lang/rust

#4267 hotfixing back in 2 files that are causing the build to break
  resources/cdk/ecs-fargate-with-alb/my_ecs_construct-stack.ts
  resources/cdk/ecs-fargate-with-alb/my_ecs_construct.ts
Labels: tool/cdk

#4269 Revert "Placed the DynamoDB examples into a sub package (no code changes)"
  README.md
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedBatchDeleteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedBatchWriteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedCreateTable.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedGetItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedGetItemUsingIndex.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedHandleList.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedModifyItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedPutItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedQueryRecords.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedQueryRecordsWithFilter.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedQueryRecordsWithSortKey.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedScanRecords.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedScanRecordsWithExpression.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/EnhancedTableSchema.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedQueryRecordsWithFilter.java
Labels: lang/java-v2

#4244 4136 add cpp lambda runtime
  cpp/example_code/lambda/README.md
  cpp/example_code/lambda/cpp_lambda/Dockerfile
  cpp/example_code/lambda/cpp_lambda/README.md
  cpp/example_code/lambda/cpp_lambda/calculator/CMakeLists.txt
  cpp/example_code/lambda/cpp_lambda/calculator/main.cpp
  cpp/example_code/lambda/cpp_lambda/increment/CMakeLists.txt
  cpp/example_code/lambda/cpp_lambda/increment/main.cpp
  cpp/example_code/lambda/get_started_with_functions_scenario.cpp
Labels: lang/cpp, status/ready-to-merge, status/has-code-review, status/has-text-review

#4233 Update migrate-user.mjs
  javascriptv3/example_code/cognito/scenarios/lambda-triggers/functions/migrate-user.mjs
Labels: lang/javascript-v3, status/has-code-review

#4243 4137 fix c++ s3 file reference in c++ sdk guide
  .doc_gen/metadata/s3_metadata.yaml
  cpp/example_code/s3/README.md
  cpp/example_code/s3/get_object_acl.cpp
  cpp/example_code/s3/get_put_object_acl.cpp
  cpp/example_code/s3/put_object_acl.cpp
  cpp/example_code/s3/tests/S3_GTests.cpp
  cpp/example_code/s3/tests/gtest_get_put_object_acl.cpp
Labels: lang/cpp, status/needs-code-review, type/sos

#4265 Draft version of WRITEME, a tool to automatically generate READMEs
  .doc_gen/metadata/api-gateway_metadata.yaml
  .doc_gen/metadata/auto-scaling_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sdks.yaml
  .doc_gen/metadata/services.yaml
  .doc_gen/readmes/.gitignore
  .doc_gen/readmes/README.md
  .doc_gen/readmes/config.py
  .doc_gen/readmes/general.yml
  .doc_gen/readmes/includes/code_examples.jinja2
  .doc_gen/readmes/includes/copyright.jinja2
  .doc_gen/readmes/includes/important.jinja2
  .doc_gen/readmes/includes/macros.jinja2
  .doc_gen/readmes/includes/overview.jinja2
  .doc_gen/readmes/includes/prerequisites.jinja2
  .doc_gen/readmes/includes/resources.jinja2
  .doc_gen/readmes/includes/run_instructions.jinja2
  .doc_gen/readmes/includes/tests.jinja2
  .doc_gen/readmes/language.yml
  .doc_gen/readmes/readme.txt
  .doc_gen/readmes/render.py
  .doc_gen/readmes/requirements.txt
  .doc_gen/readmes/scanner.py
  .doc_gen/readmes/service_readme.jinja2
  .doc_gen/readmes/services.yml
  .doc_gen/readmes/writeme.py
  .doc_gen/validation/sdks_schema.yaml
  .doc_gen/validation/services_schema.yaml
  python/example_code/acm/README.md
  python/example_code/acm/requirements.txt
  python/example_code/api-gateway/README.md
  python/example_code/api-gateway/aws_service/README.md
  python/example_code/api-gateway/aws_service/aws_service.py
  python/example_code/api-gateway/aws_service/setup.yaml
  python/example_code/api-gateway/aws_service/test/conftest.py
  python/example_code/api-gateway/aws_service/test/test_aws_service.py
  python/example_code/api-gateway/requirements.txt
  python/example_code/apigateway/aws_service/README.md
  python/example_code/auditmanager/README.md
  python/example_code/auditmanager/requirements.txt
Labels: lang/python, type/sos

#4276 Replace 'require' with 'import'.
  javascriptv3/example_code/s3/src/s3_get_presignedURL.js
Labels: lang/javascript-v3

#4239 Amazon CloudWatch .NET MVP
  .doc_gen/metadata/cloudwatch_metadata.yaml
  dotnetv3/CloudWatch/Actions/CloudWatchActions.csproj
  dotnetv3/CloudWatch/Actions/CloudWatchClasses.cs
  dotnetv3/CloudWatch/Actions/CloudWatchWrapper.cs
  dotnetv3/CloudWatch/Actions/HelloCloudWatch.cs
  dotnetv3/CloudWatch/CloudWatchExamples.sln
  dotnetv3/CloudWatch/DeleteAlarmsExample/DeleteAlarmsExample.sln
  dotnetv3/CloudWatch/DeleteAlarmsExample/DeleteAlarmsExample/DeleteAlarms.cs
  dotnetv3/CloudWatch/DeleteAlarmsExample/DeleteAlarmsExample/DeleteAlarmsExample.csproj
  dotnetv3/CloudWatch/DescribeAlarmHistoriesExample/DescribeAlarmHistoriesExample.sln
  dotnetv3/CloudWatch/DescribeAlarmHistoriesExample/DescribeAlarmHistoriessExample/DescribeAlarmHistories.cs
  dotnetv3/CloudWatch/DescribeAlarmHistoriesExample/DescribeAlarmHistoriessExample/DescribeAlarmHistoriesExample.csproj
  dotnetv3/CloudWatch/DisableAlarmActionsExample/DisableAlarmActionsExample.sln
  dotnetv3/CloudWatch/DisableAlarmActionsExample/DisableAlarmActionsExample/DisableAlarmActions.cs
  dotnetv3/CloudWatch/DisableAlarmActionsExample/DisableAlarmActionsExample/DisableAlarmActionsExample.csproj
  dotnetv3/CloudWatch/EnableAlarmActionsExample/EnableAlarmActionsExample.sln
  dotnetv3/CloudWatch/EnableAlarmActionsExample/EnableAlarmActionsExample/EnableAlarmActions.cs
  dotnetv3/CloudWatch/EnableAlarmActionsExample/EnableAlarmActionsExample/EnableAlarmActionsExample.csproj
  dotnetv3/CloudWatch/GetDashboardExample/GetDashboardExample.sln
  dotnetv3/CloudWatch/GetDashboardExample/GetDashboardExample/GetDashboard.cs
  dotnetv3/CloudWatch/GetDashboardExample/GetDashboardExample/GetDashboardExample.csproj
  dotnetv3/CloudWatch/ListDashboardsExample/ListDashboardsExample.sln
  dotnetv3/CloudWatch/ListDashboardsExample/ListDashboardsExample/ListDashboards.cs
  dotnetv3/CloudWatch/ListDashboardsExample/ListDashboardsExample/ListDashboardsExample.csproj
  dotnetv3/CloudWatch/ListMetricsExample/ListMetricsExample.sln
  dotnetv3/CloudWatch/ListMetricsExample/ListMetricsExample/ListMetrics.cs
  dotnetv3/CloudWatch/ListMetricsExample/ListMetricsExample/ListMetricsExample.csproj
  dotnetv3/CloudWatch/README.md
  dotnetv3/CloudWatch/Scenarios/CloudWatchScenario.cs
  dotnetv3/CloudWatch/Scenarios/CloudWatchScenario.csproj
  dotnetv3/CloudWatch/Scenarios/settings.json
  dotnetv3/CloudWatch/Tests/CloudWatchTests.cs
  dotnetv3/CloudWatch/Tests/CloudWatchTests.csproj
  dotnetv3/CloudWatch/Tests/Usings.cs
  dotnetv3/CloudWatch/Tests/testsettings.json
Labels: lang/dotnet-v3, type/sos, status/has-code-review, status/has-text-review

#4274 Replace invalid S3 bucket name in comment.
  javascriptv3/example_code/nodegetstarted/src/sample.js
Labels: status/needs-code-review, lang/javascript-v3

#4271 Create legacy CDK folder in order to quarantine legacy CDK examples
  resources/cdk/legacy/README.md
  resources/cdk/legacy/basic-rds-aurora/MyRdsDbStack-stack.ts
  resources/cdk/legacy/basic-rds-aurora/MyRdsDbStack.ts
  resources/cdk/legacy/basic-s3-bucket/BucketResource-stack.ts
  resources/cdk/legacy/basic-s3-bucket/BucketResource.json
  resources/cdk/legacy/basic-s3-bucket/BucketResource.ts
  resources/cdk/legacy/basic-s3-bucket/hello-cdk-stack.ts
  resources/cdk/legacy/basic-s3-bucket/hello-cdk-stack2.ts
  resources/cdk/legacy/basic-s3-bucket/hello-cdk.ts
  resources/cdk/legacy/basic-s3-bucket/hello-cdk2.ts
  resources/cdk/legacy/basic-sqs/HelloCdk-stack.ts
  resources/cdk/legacy/basic-sqs/HelloCdk.ts
  resources/cdk/legacy/dual-region-s3-buckets/MyApp-stack.ts
  resources/cdk/legacy/dual-region-s3-buckets/MyApp.ts
  resources/cdk/legacy/ecs-fargate-with-alb/my_ecs_construct-stack.ts
  resources/cdk/legacy/ecs-fargate-with-alb/my_ecs_construct.ts
  resources/cdk/legacy/ecs-task-definition/integ.event-task.lit.ts
  resources/cdk/legacy/lambda-with-api-gateway/my_widget_service-stack.ts
  resources/cdk/legacy/lambda-with-api-gateway/my_widget_service.ts
  resources/cdk/legacy/lambda-with-api-gateway/widget_service.ts
  resources/cdk/legacy/secrets-manager/SecretsManager-stack.ts
  resources/cdk/legacy/secrets-manager/SecretsManager.ts
Labels: tool/cdk

#4261 Dockerfile updates and git hooks
  .git-hooks/README.md
  .git-hooks/pre-commit
  .github/extract-snippets/extract-snippets.sh
  javascriptv3/.dockerignore
  javascriptv3/Dockerfile
  javascriptv3/README.md
  javascriptv3/hook_scripts/pre-commit.sh
  javascriptv3/scripts/test.sh
Labels: status/needs-code-review, status/needs-text-review, lang/javascript-v3, type/github-settings

#4279 Rust Dockerfile GA
  rust_dev_preview/.dockerignore
  rust_dev_preview/Dockerfile
Labels: lang/rust

#4109 Update DeleteItem.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/DeleteItem.java
  javav2/example_code/dynamodb/src/test/java/DynamoDBTest.java
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/DeleteItem.kt
Labels: lang/java-v2, lang/kotlin

#4203 Update GetObjectData.java
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectData.java
Labels: lang/java-v2

#4284 Update Dockerfile
  rust_dev_preview/Dockerfile
Labels: lang/rust

#4285 Update Dockerfile
  rust_dev_preview/Dockerfile
Labels: lang/rust

#4286 Update Dockerfile
  dotnetv3/Dockerfile
Labels: lang/dotnet-v3

#4287 Full Cargo.toml path for Rust Docker
  rust_dev_preview/Dockerfile
Labels: lang/rust

#4289 Fix grammatical and clarity issues.
  .git-hooks/README.md
  javascriptv3/README.md
Labels: status/needs-code-review, lang/javascript-v3

#4288 STS Cleanup
  .doc_gen/metadata/sts_metadata.yaml
  javascriptv3/example_code/sts/README.md
  javascriptv3/example_code/sts/actions/assume-role.js
  javascriptv3/example_code/sts/libs/client.js
  javascriptv3/example_code/sts/package.json
  javascriptv3/example_code/sts/src/libs/stsClient.js
  javascriptv3/example_code/sts/src/package.json
  javascriptv3/example_code/sts/src/sts_assumerole.js
  javascriptv3/example_code/sts/tests/assume-role.unit.test.js
  javascriptv3/example_code/sts/tests/babel.config.js
  javascriptv3/example_code/sts/tests/jest.config.js
  javascriptv3/example_code/sts/tests/package.json
  javascriptv3/example_code/sts/tests/sts_assumerole.test.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: status/needs-code-review, type/sos, status/needs-text-review, lang/javascript-v3, status/has-testing-review

#4226 Rust/dev/testing/dynamodb
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/dynamodb/src/bin/list-more-tables.rs
  rust_dev_preview/dynamodb/src/bin/list-tables-local.rs
  rust_dev_preview/dynamodb/src/bin/list-tables.rs
  rust_dev_preview/dynamodb/src/scenario/add.rs
  rust_dev_preview/dynamodb/src/scenario/create.rs
  rust_dev_preview/dynamodb/src/scenario/delete.rs
  rust_dev_preview/dynamodb/src/scenario/list.rs
  rust_dev_preview/dynamodb/src/scenario/movies/mod.rs
Labels: lang/rust, status/has-text-review, status/has-testing-review

#4290 fix(sec): upgrade com.fasterxml.jackson.core:jackson-databind to 2.14.0-rc1
  javav2/example_code/kinesis/pom.xml
  javav2/example_code/lookoutvision/pom.xml
Labels: lang/java-v2

#4273 Add AWS Support MVP (#3867)
  .doc_gen/metadata/support_metadata.yaml
  javascriptv3/example_code/libs/tests/util-string.unit.test.js
  javascriptv3/example_code/libs/utils/util-string.js
  javascriptv3/example_code/libs/utils/util-test.js
  javascriptv3/example_code/s3/src/s3_getobject.js
  javascriptv3/example_code/support/README.md
  javascriptv3/example_code/support/actions/add-attachments-to-set.js
  javascriptv3/example_code/support/actions/add-communication-to-case.js
  javascriptv3/example_code/support/actions/create-case.js
  javascriptv3/example_code/support/actions/describe-attachment.js
  javascriptv3/example_code/support/actions/describe-cases.js
  javascriptv3/example_code/support/actions/describe-communications.js
  javascriptv3/example_code/support/actions/describe-services.js
  javascriptv3/example_code/support/actions/describe-severity-levels.js
  javascriptv3/example_code/support/actions/resolve-case.js
  javascriptv3/example_code/support/hello.js
  javascriptv3/example_code/support/libs/client.js
  javascriptv3/example_code/support/package.json
  javascriptv3/example_code/support/scenarios/basic.js
  javascriptv3/example_code/support/tests/basic.unit.test.js
  javascriptv3/example_code/support/tests/hello.unit.test.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: type/sos, lang/javascript-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#4258 Use Rust SDK main
  rust_dev_preview/apigatewaymanagement/Cargo.toml
  rust_dev_preview/cross_service/rest_ses/Cargo.toml
  rust_dev_preview/dynamodb/Cargo.toml
  rust_dev_preview/iam/Cargo.toml
  rust_dev_preview/localstack/Cargo.toml
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/test-utils/Cargo.toml
  rust_dev_preview/testing/Cargo.toml
Labels: lang/rust, status/has-text-review, status/has-testing-review

#4300 Bundle Cognito service clients under IDP client.
  .doc_gen/metadata/services.yaml
Labels: type/sos

#4301 Fix lambda_basics calls missed when code was refactored to use Lambda Wrapper
  python/example_code/lambda/api_gateway_rest.py
  python/example_code/lambda/scheduled_lambda.py
Labels: lang/python

#4278 4098 c++ cognito mvp
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  cpp/example_code/cognito/CMakeLists.txt
  cpp/example_code/cognito/README.md
  cpp/example_code/cognito/cognito_samples.h
  cpp/example_code/cognito/conanfile.txt
  cpp/example_code/cognito/getting_started_with_user_pools.cpp
  cpp/example_code/cognito/tests/CMakeLists.txt
  cpp/example_code/cognito/tests/cognito_gtests.cpp
  cpp/example_code/cognito/tests/cognito_gtests.h
  cpp/example_code/cognito/tests/gtest_getting_started_with_user_pools.cpp
  cpp/example_code/cognito/tests/test_main.cpp
Labels: lang/cpp, type/sos, status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review

#4298 Add comment about using SigV4 authentication where possible.
  dotnetv3/Keyspaces/Actions/HelloKeyspaces.cs
  dotnetv3/Keyspaces/Scenarios/CassandraWrapper.cs
Labels: lang/dotnet-v3, status/has-text-review, type/mvp

#4114 Fix mismatched regions for rek and s3
  rust_dev_preview/cross_service/detect_faces/src/main.rs
Labels: lang/rust, status/has-code-review, status/has-text-review, status/has-testing-review

#4299 Rust S3 unit tests
  rust_dev_preview/s3/Cargo.toml
  rust_dev_preview/s3/src/bin/copy-object.rs
  rust_dev_preview/s3/src/bin/create-bucket.rs
  rust_dev_preview/s3/src/bin/s3-multipart-upload.rs
  rust_dev_preview/s3/src/s3-service-lib.rs
  rust_dev_preview/s3/tests/test-s3-getting-started.rs
  rust_dev_preview/test-utils/src/macros.rs
  rust_dev_preview/test-utils/src/mod.rs
Labels: lang/rust, status/has-text-review

#4295 Fix extra character, service naming, and extra header.
  javascriptv3/example_code/sts/README.md
  javascriptv3/example_code/sts/libs/client.js
Labels: lang/javascript-v3, status/has-code-review

#4315 Remvove /aws-cli directory and update README
  README.md
  aws-cli/README.md
  aws-cli/bash-linux/README.md
  aws-cli/bash-linux/ec2/change-ec2-instance-type/README.md
  aws-cli/bash-linux/ec2/change-ec2-instance-type/awsdocs_general.sh
  aws-cli/bash-linux/ec2/change-ec2-instance-type/change_ec2_instance_type.sh
  aws-cli/bash-linux/ec2/change-ec2-instance-type/test_change_ec2_instance_type.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/README.md
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/awsdocs_general.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/bucket_operations.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/test_bucket_operations.sh
  javascriptv3/example_code/codecommit/src/MyCodeCommitFunction.js
  javascriptv3/example_code/codepipeline/MyCodePipelineFunction.js
  javascriptv3/example_code/codepipeline/MyCodePipelineFunction.py
  lambda_functions/config/EvaluateResourcesForConfigChanges.js
  lambda_functions/config/PeriodicEvaluations.js
  python/example_code/codecommit/MyCodeCommitFunction.py
  python/example_code/codepipeline/MyCodePipelineFunction.py
Labels: lang/python, tool/cli, status/ready-to-merge, lang/javascript-v3, status/has-code-review, status/has-text-review, status/has-testing-review

#4282 CloudWatch Java V2 MVP
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javav2/example_code/cloudwatch/CloudDashboard.json
  javav2/example_code/cloudwatch/Readme.md
  javav2/example_code/cloudwatch/jsonWidgets.json
  javav2/example_code/cloudwatch/settings.json
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/CloudWatchScenario.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/HelloService.java
  javav2/example_code/cloudwatch/src/test/java/CloudWatchTest.java
Labels: lang/java-v2, type/sos, status/has-code-review, status/has-text-review

#4320 Fixing bad references in pre_validate file.
  .github/pre_validate/README.md
  .github/pre_validate/pre_validate.py
  .github/pre_validate/test/test_pre_validate.py
Labels: status/ready-to-merge, status/has-code-review, status/has-text-review, status/has-testing-review, type/github-settings
