Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-07, with the labels that each got.

#5012 JavaScript: Change v2 status
  README.md
Labels: On Call Review complete, Text Review not needed

#4991 Meta: Allow &AWS-Region; style entities
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/validation/validate_doc_metadata.py
Labels: On Call Review complete, Text Review not needed

#5018 Revert "Meta: Allow &AWS-Region; style entities"
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/validation/validate_doc_metadata.py
Labels: On Call Review complete, Text Review not needed, Bug

#5011 PHP: Update Secrets Manager examples.
  php/example_code/composer.lock
  php/example_code/secretsmanager/AddNewSecretValue.php
  php/example_code/secretsmanager/AttachLabel.php
  php/example_code/secretsmanager/CreateSecret.php
  php/example_code/secretsmanager/CreateSecretRotation.php
  php/example_code/secretsmanager/DeleteSecret.php
  php/example_code/secretsmanager/DescribeSecret.php
  php/example_code/secretsmanager/GetSecretValue.php
  php/example_code/secretsmanager/ListSecretVersions.php
  php/example_code/secretsmanager/ListSecrets.php
  php/example_code/secretsmanager/RemoveLabel.php
  php/example_code/secretsmanager/RestoreSecret.php
  php/example_code/secretsmanager/RotateSecret.php
Labels: PHP, On Call Review complete, Text Review not needed

#5003 PAM: Create README_TEMPLATE.md
  applications/photo-asset-manager/README_TEMPLATE.md
  applications/photo-asset-manager/images/ddb_sample.png
  applications/photo-asset-manager/images/email.png
  applications/photo-asset-manager/images/pam_architecture.png
  applications/photo-asset-manager/images/pam_download.png
  applications/photo-asset-manager/images/pam_page.png
  applications/photo-asset-manager/images/s3_uploads.png
  applications/photo-asset-manager/images/upload_event_JSON.png
Labels: On Call Review complete, Text Review complete

#5006 SOS: Treat Bash as an SDK in metdata
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/sdks.yaml
  .doc_gen/validation/example_schema.yaml
  .doc_gen/validation/sdks_schema.yaml
Labels: On Call Review complete, Text Review not needed

#5021 Add page_size to limit DynamoDB list items
  rust_dev_preview/examples/dynamodb/src/bin/list-items.rs
  rust_dev_preview/examples/dynamodb/src/scenario/list.rs
Labels: Rust, On Call Review complete, Text Review not needed, Bug

#5025 Rust: Add to PAM cross service metadata
  .doc_gen/cross-content/cross_PAM_rust_block.xml
  .doc_gen/metadata/cross_metadata.yaml
Labels: On Call Review complete, Text Review not needed

#5020 Update README.md to include correct status names
  README.md
Labels: On Call Review complete, Text Review not needed

#5031 Migrate cpp Dockerfile to AL2023
  cpp/Dockerfile
Labels: C++, On Call Review complete, Text Review not needed

#5027 .NET (v3): Autoscaling MVP updates
  .github/CODEOWNERS
  dotnetv3/AutoScaling/Actions/AutoScalingWrapper.cs
  dotnetv3/AutoScaling/Actions/EC2Wrapper.cs
  dotnetv3/AutoScaling/README.md
  dotnetv3/AutoScaling/Scenarios/AutoScalingBasics/AutoScalingBasics.cs
  dotnetv3/AutoScaling/Scenarios/AutoScalingBasics/settings.json
  dotnetv3/AutoScaling/Tests/AutoScalingWrapperTests.cs
  dotnetv3/AutoScaling/Tests/testsettings.json
Labels: DotNet-v3, On Call Review complete, GitHub settings, Text Review not needed, Bug

#5033 Metadata: Add &Serverless; Entity
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: On Call Review complete, Text Review not needed

#5037 .NET (v3): Add Hello DynamoDB example
  .doc_gen/metadata/dynamodb_metadata.yaml
  dotnetv3/dynamodb/README.md
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Actions/DynamoDB_Actions.csproj
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Actions/DynamoDbMethods.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Actions/HelloDynamoDB.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Actions/Movie.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Actions/MovieInfo.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_Scenario.sln
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_Scenario/DynamoDB_Basics.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_Scenario/DynamoDB_Basics_Scenario.csproj
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_Scenario/DynamoDB_Basics_Scenario.sln
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_ScenarioTests/DynamoDB_Basics_ScenarioTests.csproj
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_ScenarioTests/DynamoDbMethodsTests.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_ScenarioTests/PriorityOrderer.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Basics_ScenarioTests/TestPriorityAttribute.cs
Labels: DotNet-v3, On Call Review complete, Text Review complete

#5040 FSA: Fix failing media playback.
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-api-models.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-routes.ts
  applications/feedback_sentiment_analyzer/cdk/lib/stack.ts
  applications/feedback_sentiment_analyzer/client/src/App.tsx
  applications/feedback_sentiment_analyzer/client/src/Audio.tsx
  applications/feedback_sentiment_analyzer/client/src/FeedbackLayout.tsx
  applications/feedback_sentiment_analyzer/client/src/FileUpload.tsx
  applications/feedback_sentiment_analyzer/client/src/api.ts
  applications/feedback_sentiment_analyzer/client/src/store.ts
Labels: Application

#4983 Swift: Simplified example for Swift guide intro
  swift/example_code/s3/ListBuckets-Simple/Package.swift
  swift/example_code/s3/ListBuckets-Simple/Sources/main.swift
Labels: Swift, On Call Review complete, Text Review complete

#5013 Java V2 add Open Search code examples to the Code Lib
  .doc_gen/metadata/opensearch_metadata.yaml
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Text Review complete

#5022 .NET (v3): Adding SageMaker workflow example
  .doc_gen/metadata/sagemaker_metadata.yaml
  dotnetv3/SageMaker/Actions/HelloSageMaker.cs
  dotnetv3/SageMaker/Actions/SageMakerActions.csproj
  dotnetv3/SageMaker/Actions/SageMakerWrapper.cs
  dotnetv3/SageMaker/Images/Pipeline.PNG
  dotnetv3/SageMaker/Lambdas/PipelineRequest.cs
  dotnetv3/SageMaker/Lambdas/Properties/launchSettings.json
  dotnetv3/SageMaker/Lambdas/QueuePayload.cs
  dotnetv3/SageMaker/Lambdas/SageMakerLambda.csproj
  dotnetv3/SageMaker/Lambdas/SageMakerLambdaFunction.cs
  dotnetv3/SageMaker/Lambdas/aws-lambda-tools-defaults.json
  dotnetv3/SageMaker/README.md
  dotnetv3/SageMaker/SageMakerExamples.sln
  dotnetv3/SageMaker/Scenarios/GeoSpatialPipeline.json
  dotnetv3/SageMaker/Scenarios/PipelineWorkflow.cs
  dotnetv3/SageMaker/Scenarios/README.md
  dotnetv3/SageMaker/Scenarios/SageMakerLambda.zip
  dotnetv3/SageMaker/Scenarios/SageMakerScenario.csproj
  dotnetv3/SageMaker/Scenarios/latlongtest.csv
  dotnetv3/SageMaker/Scenarios/settings.json
  dotnetv3/SageMaker/Tests/SageMakerTests.cs
  dotnetv3/SageMaker/Tests/SageMakerTests.csproj
  dotnetv3/SageMaker/Tests/Usings.cs
  dotnetv3/SageMaker/Tests/testsettings.json
Labels: DotNet-v3, On Call Review complete, Text Review complete, Workflow, Scout

#5029 .NET (v3): Add Hello RDS example
  .doc_gen/metadata/rds_metadata.yaml
  dotnetv3/RDS/Actions/HelloRDS.cs
  dotnetv3/RDS/Actions/RDSActions.csproj
  dotnetv3/RDS/README.md
Labels: DotNet-v3, On Call Review complete, Text Review complete

#5034 PHP-Add clarifying comment to ObjectUploader example
  php/example_code/s3/ObjectUploader.php
Labels: PHP, On Call Review complete, Text Review not needed

#5035 PHP Fix deleteObjects example; 'Key' is not a valid parameter for the deleteObjects method
  php/example_code/s3/s3_basics/GettingStartedWithS3.php
Labels: PHP, On Call Review complete, Text Review not needed

#5048 Java V2 Updated Java Tests
  javav2/example_code/apigateway/pom.xml
  javav2/example_code/apigateway/src/test/java/APIGatewayTest.java
  javav2/example_code/appsync/pom.xml
  javav2/example_code/appsync/src/test/java/AppSyncTest.java
  javav2/example_code/autoscale/src/test/java/AutoScaleTest.java
  javav2/example_code/cloudformation/pom.xml
  javav2/example_code/cloudformation/src/test/java/CloudFormationTest.java
  javav2/example_code/cloudfront/pom.xml
  javav2/example_code/cloudfront/src/test/java/CloudFrontTest.java
  javav2/example_code/cloudfront/src/test/java/com/example/cloudfront/CloudFrontSigningTest.java
  javav2/example_code/cloudfront/src/test/java/com/example/cloudfront/CloudFrontTest.java
  javav2/example_code/cloudfront/src/test/java/com/example/cloudfront/S3TestUtils.java
  javav2/example_code/cloudtrail/pom.xml
  javav2/example_code/cloudtrail/src/test/java/CloudTrailTest.java
  javav2/example_code/cloudwatch/pom.xml
  javav2/example_code/cloudwatch/src/test/java/CloudWatchTest.java
  javav2/example_code/codedeploy/pom.xml
  javav2/example_code/codedeploy/src/test/java/CodeDeployTest.java
  javav2/example_code/cognito/pom.xml
  javav2/example_code/cognito/src/test/java/AmazonCognitoTest.java
  javav2/example_code/comprehend/pom.xml
  javav2/example_code/comprehend/src/test/java/AmazonComprehendTest.java
Labels: Java-v2, On Call Review complete, Text Review complete

#5019 Java V2: Add examples for uploading a stream of unkown size in S3
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/async/PutObjectFromStreamAsync.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/UploadStream.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/AsyncExampleUtils.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/MemoryLog4jAppender.java
  javav2/example_code/s3/src/test/java/TransferManagerTest.java
  javav2/example_code/s3/src/test/java/com/example/s3/async/AsyncTests.java
Labels: Java-v2, On Call Review complete, Text Review complete

#5030 Go: RDS get started with instances scenario
  .doc_gen/metadata/rds_metadata.yaml
  gov2/rds/README.md
  gov2/rds/actions/instances.go
  gov2/rds/cmd/main.go
  gov2/rds/go.mod
  gov2/rds/go.sum
  gov2/rds/hello/hello.go
  gov2/rds/scenarios/get_started_instances.go
  gov2/rds/scenarios/get_started_instances_integ_test.go
  gov2/rds/scenarios/get_started_instances_test.go
  gov2/rds/stubs/instances_stubs.go
  gov2/run_all_tests.bat
  gov2/run_all_tests.sh
Labels: Go-v2, On Call Review complete, Text Review complete

#5067 Java V2 Update Java tests
  javav2/example_code/connect/pom.xml
  javav2/example_code/connect/src/test/java/ConnectTest.java
  javav2/example_code/dynamodb/pom.xml
  javav2/example_code/dynamodb/src/test/java/DynamoDBTest.java
  javav2/example_code/ec2/pom.xml
  javav2/example_code/ec2/src/test/java/EC2Test.java
  javav2/example_code/ecs/pom.xml
  javav2/example_code/ecs/src/test/java/EcsTest.java
  javav2/example_code/elasticbeanstalk/pom.xml
  javav2/example_code/elasticbeanstalk/src/test/java/ElasticBeanstalkTest.java
  javav2/example_code/emr/pom.xml
  javav2/example_code/emr/src/test/java/EMRTest.java
  javav2/example_code/eventbridge/pom.xml
  javav2/example_code/eventbridge/src/test/java/EventBridgeTest.java
  javav2/example_code/firehose/pom.xml
  javav2/example_code/firehose/src/test/java/FirehoseTest.java
  javav2/example_code/forecast/pom.xml
  javav2/example_code/forecast/src/test/java/ForecastTest.java
Labels: Java-v2, On Call Review complete, Text Review not needed

#5072 Java V2 Added forecast YAML
  .doc_gen/metadata/forecast_metadata.yaml
Labels: On Call Review complete, Text Review not needed

#5065 PAM: Bug fix and upload restrictions.
  applications/photo-asset-manager/cdk/lib/backend/api.ts
  applications/photo-asset-manager/cdk/lib/backend/strategies.ts
  applications/photo-asset-manager/elros-pam/src/FileUpload.tsx
  applications/photo-asset-manager/elros-pam/src/pam-api.ts
Labels: On Call Review complete, Text Review not needed

#5070 Meta: Remove paragraph tag from itemized lists in the RDS data tracker
  .doc_gen/cross-content/cross_RDSDataTracker_JavaScriptV3_block.xml
  .doc_gen/cross-content/cross_RDSDataTracker_Net_block.xml
  .doc_gen/cross-content/cross_RDSDataTracker_PHP_block.xml
  .doc_gen/cross-content/cross_RDSDataTracker_Python_block.xml
Labels: On Call Review complete, Text Review not needed, Bug

#5077 Java V2 Add Java examples for Polly
  .doc_gen/metadata/polly_metadata.yaml
Labels: On Call Review complete, Text Review not needed

#5068 Update docker-push.yml to update labels
  .github/workflows/docker-push.yml
Labels: On Call Review complete, GitHub settings, Text Review not needed

#5038 Improve SPECIFICATION.md for PAM
  applications/photo-asset-manager/SPECIFICATION.md
Labels: On Call Review complete, Text Review not needed, Application

#5076 FSA: Add DEVELOPMENT.md
  applications/feedback_sentiment_analyzer/DEVELOPMENT.md
  applications/feedback_sentiment_analyzer/cdk/lib/functions.ts
Labels: Application

#5083 cpp_PAM_cross_service
  .doc_gen/cross-content/cross_PAM_cpp_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .github/pre_validate/pre_validate.py
  applications/photo-asset-manager/cdk/lib/backend/strategies.ts
  cpp/Dockerfile
  cpp/example_code/cross-service/README.md
  cpp/example_code/cross-service/photo_asset_manager/CMakeLists.txt
  cpp/example_code/cross-service/photo_asset_manager/Dockerfile
  cpp/example_code/cross-service/photo_asset_manager/README.md
  cpp/example_code/cross-service/photo_asset_manager/README_images/pam_overview.png
  cpp/example_code/cross-service/photo_asset_manager/README_images/pam_ui.png
  cpp/example_code/cross-service/photo_asset_manager/cpp_lambda_functions.cpp
  cpp/example_code/cross-service/photo_asset_manager/cpp_lambda_functions.h
  cpp/example_code/cross-service/photo_asset_manager/cpp_pam_lambdas.cpp
  cpp/example_code/cross-service/photo_asset_manager/tests/CMakeLists.txt
  cpp/example_code/cross-service/photo_asset_manager/tests/cpp_lambda_tests.cpp
  cpp/example_code/cross-service/photo_asset_manager/tests/pam_gtests.cpp
  cpp/example_code/cross-service/photo_asset_manager/tests/pam_gtests.h
  cpp/example_code/cross-service/photo_asset_manager/tests/test_image.jpg
  cpp/example_code/cross-service/photo_asset_manager/tests/test_main.cpp
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Text Review complete, GitHub settings, Application

#5088 SOS: Honor absolute GitHub URL for tributary examples.
  .doc_gen/templates/zonbook/example_language_template.xml
Labels: On Call Review complete, Text Review not needed

#5093 .NET: Cross-Service example update package versions
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/PamApiAnnotations.csproj
Labels: DotNet-v3, On Call Review complete, Text Review not needed

#5092 JavaScript (V3): Update API ref in metadata.
  .doc_gen/metadata/sdks.yaml
Labels: On Call Review complete, Text Review not needed

#5097 Update all Swift example package files
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Package.swift
  swift/example_code/ddb/BatchGetItem/Package.swift
  swift/example_code/ddb/basics/Package.swift
  swift/example_code/iam/AttachRolePolicy/Package.swift
  swift/example_code/iam/CreateRole/Package.swift
  swift/example_code/iam/CreateServiceLinkedRole/Package.swift
  swift/example_code/iam/CreateUser/Package.swift
  swift/example_code/iam/GetPolicy/Package.swift
  swift/example_code/iam/GetRole/Package.swift
  swift/example_code/iam/ListAttachedRolePolicies/Package.swift
  swift/example_code/iam/ListGroups/Package.swift
  swift/example_code/iam/ListPolicies/Package.swift
  swift/example_code/iam/ListRolePolicies/Package.swift
  swift/example_code/iam/ListRoles/Package.swift
  swift/example_code/iam/ListUsers/Package.swift
  swift/example_code/iam/basics/Package.swift
  swift/example_code/iam/basics/Sources/Basics/Basics.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerIAM.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerIAM_Ext.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerS3.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerSTS.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerSTS_Ext.swift
  swift/example_code/s3/DeleteObjects/Package.swift
  swift/example_code/s3/DeleteObjects/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/ListBuckets/Package.swift
  swift/example_code/s3/basics/Package.swift
Labels: Swift, On Call Review complete, Text Review not needed

#5099 JavaScript (v3): Update and refactor lambda-for-browser example.
  javascriptv3/example_code/cross-services/lambda-for-browser/README.md
  javascriptv3/example_code/cross-services/lambda-for-browser/app01.png
  javascriptv3/example_code/cross-services/lambda-for-browser/app02.png
  javascriptv3/example_code/cross-services/lambda-for-browser/backend-js/lambda.js
  javascriptv3/example_code/cross-services/lambda-for-browser/frontend/dist/index.html
  javascriptv3/example_code/cross-services/lambda-for-browser/frontend/package.json
  javascriptv3/example_code/cross-services/lambda-for-browser/frontend/src/index.js
  javascriptv3/example_code/cross-services/lambda-for-browser/frontend/src/lambdaClient.js
  javascriptv3/example_code/cross-services/lambda-for-browser/frontend/webpack.config.js
  javascriptv3/example_code/cross-services/lambda-for-browser/index.html
  javascriptv3/example_code/cross-services/lambda-for-browser/lambda/package.json
  javascriptv3/example_code/cross-services/lambda-for-browser/lambda/src/ddbClient.js
  javascriptv3/example_code/cross-services/lambda-for-browser/lambda/src/ddbDocClient.js
  javascriptv3/example_code/cross-services/lambda-for-browser/lambda/src/index.js
  javascriptv3/example_code/cross-services/lambda-for-browser/lambda/webpack.config.js
  javascriptv3/example_code/cross-services/lambda-for-browser/libs/ddbClient.js
  javascriptv3/example_code/cross-services/lambda-for-browser/libs/lambdaClient.js
  javascriptv3/example_code/cross-services/lambda-for-browser/package.json
Labels: Javascript-v3, On Call Review complete, Text Review complete

#5107 SAP ABAP: Replace ABAP listobjects example with listobjectsv2 in S3
  .abapgit.xml
  .doc_gen/metadata/s3_metadata.yaml
  sap-abap/package.devc.xml
  sap-abap/services/cloudwatch/package.devc.xml
  sap-abap/services/cloudwatch/zcl_aws1_cwt_actions.clas.xml
  sap-abap/services/cloudwatch/zcl_aws1_cwt_scenario.clas.xml
  sap-abap/services/ec2/package.devc.xml
  sap-abap/services/ec2/zcl_aws1_ec2_actions.clas.xml
  sap-abap/services/kinesis/package.devc.xml
  sap-abap/services/kinesis/zcl_aws1_kns_actions.clas.xml
  sap-abap/services/kinesis/zcl_aws1_kns_scenario.clas.xml
  sap-abap/services/package.devc.xml
  sap-abap/services/s3/package.devc.xml
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.xml
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.xml
  sap-abap/services/sagemaker/package.devc.xml
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.xml
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.xml
  sap-abap/services/sns/package.devc.xml
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.xml
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.xml
  sap-abap/services/sqs/package.devc.xml
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.xml
  sap-abap/services/textract/package.devc.xml
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.xml
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.xml
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.xml
Labels: On Call Review complete, Text Review not needed

#5116 Update S3 metadata from ListObjects to ListObjectsV2 to match what the examples show.
  .doc_gen/metadata/s3_metadata.yaml
Labels: On Call Review complete, Text Review not needed

#5127 Removes pull_request_target from the label linter.
  .github/workflows/label-linter.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings, Bug

#5121 Java V2 Update Java files to address tags
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateUser.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateVolume.java
  javav2/example_code/iam/src/main/java/com/example/iam/GetRole.java
  javav2/example_code/lookoutvision/src/main/java/com/example/lookoutvision/DeleteModel.java
  javav2/example_code/rds/src/main/java/com/example/rds/CreateDBSnapshot.java
  javav2/example_code/route53/src/main/java/com/example/route/Route53Hello.java
  javav2/example_code/s3/src/main/java/com/example/s3/CheckingObjectIntegrity.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/DeleteQueue.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/SendMessages.java
  javav2/example_code/sqs/src/main/java/com/example/sqs/SendReceiveMessages.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/CreateStateMachine.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/DeleteStateMachine.java
  javav2/example_code/stepfunctions/src/main/java/com/example/stepfunctions/StartExecution.java
Labels: lang/java-v2, On Call Review complete, Text Review not needed, Java-v2

#5123 PAM: Update xml block to include link to blog.
  .doc_gen/cross-content/cross_PAM_JavaScript_block.xml
  .doc_gen/cross-content/cross_PAM_Java_block.xml
  .doc_gen/cross-content/cross_PAM_Kotlin_block.xml
  .doc_gen/cross-content/cross_PAM_cpp_block.xml
  .doc_gen/cross-content/cross_PAM_dotnet_block.xml
  .doc_gen/cross-content/cross_PAM_rust_block.xml
Labels: On Call Review complete, Text Review complete

#5136 Improvements to swiftbuild.py tool
  swift/example_code/s3/ListBuckets-Simple/test.sh
  swift/example_code/s3/basics/Package.swift
  swift/tools/swiftbuild.py
Labels: Swift, On Call Review complete, Text Review not needed

#5105 Add Java test script
  javav2/run_test.sh
Labels: Testing, On Call Review complete, Text Review not needed, Java-v2

#5163 Add Internal label
  .github/allowed-labels.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings, Bug

#5164 GitHub: Fix Internal label color code
  .github/allowed-labels.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings, Bug

#5143 cpp_recategorize_sns_workflow
  .doc_gen/cross-content/workflow_MessagesTopicsAndQueues_cpp_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  cpp/example_code/cross-service/topics_and_queues/messaging_with_topics_and_queues.cpp
  cpp/example_code/cross-service/topics_and_queues/topics_and_queues_samples.h
Labels: C++, On Call Review complete, Text Review not needed, Bug

#5162 Add test config script & fix stack config error
  test/eventbridge_rule_with_sns_fanout/.gitignore
  test/eventbridge_rule_with_sns_fanout/README.md
  test/eventbridge_rule_with_sns_fanout/producer_stack/producer_stack.py
  test/eventbridge_rule_with_sns_fanout/store_system_parameters.py
  test/sqs_lambda_to_batch_fargate/app.py
  test/sqs_lambda_to_batch_fargate/consumer_stack/consumer_stack.py
  test/sqs_lambda_to_batch_fargate/requirements.txt
Labels: Testing, On Call Review complete, Text Review not needed, Bug

#5169 Testing: Update Dockerfile to invoke tests in Batch
  javav2/Dockerfile
  javav2/run_test.sh
Labels: Testing, On Call Review complete, Text Review not needed, Java-v2

#5170 Update run_test.sh
  javav2/run_test.sh
Labels: Testing, On Call Review complete, Text Review not needed, Java-v2, Bug

#5172 Modify Java tests to only run Comprehend
  javav2/example_code/comprehend/src/test/java/AmazonComprehendTest.java
  javav2/run_test.sh
Labels: Testing, On Call Review complete, Text Review not needed, Java-v2, Bug

#5175 Update docker-push.yml to use non-main branch
  .github/workflows/docker-push.yml
Labels: Testing, On Call Review complete, Text Review not needed, GitHub settings

#5177 Update Dockerfile
  dotnetv3/Dockerfile
Labels: DotNet-v3

#5179 Update Dockerfile to remove beta flag
  dotnetv3/Dockerfile
Labels: DotNet-v3

#5183 Update Dockerfile
  dotnetv3/Dockerfile
Labels: DotNet-v3

#5184 Update run_test.sh
  javav2/run_test.sh
Labels: Java-v2

#5180 Remove duplicate snippet tags found by snexii.
  java/example_code/comprehend/BatchProcessing.java
  java/example_code/comprehend/CreateTrainandRunCustomEntityDetector.java
  java/example_code/comprehend/CreateandTrainCustomClassifier.java
  java/example_code/comprehend/DetectEntities.java
  java/example_code/comprehend/DetectKeyPhrases.java
  java/example_code/comprehend/DetectSentiment.java
  java/example_code/comprehend/DetectSyntax.java
  java/example_code/comprehend/TopicModeling.java
  java/example_code/redshift/ConnectToClusterExample.java
  java/example_code/s3/src/main/java/aws/example/s3/GetObjectTags.java
  javascriptv3/example_code/codepipeline/MyCodePipelineFunction.py
  php/example_code/glue/flight_etl_job_script.py
Labels: On Call Review complete, Text Review not needed, Bug

#5157 JavaScript (v3): Update ReactNativeApp dependencies.
  javascriptv3/example_code/reactnative/ReactNativeApp/App.tsx
  javascriptv3/example_code/reactnative/ReactNativeApp/__tests__/App-test.tsx
  javascriptv3/example_code/reactnative/ReactNativeApp/jest.config.js
  javascriptv3/example_code/reactnative/ReactNativeApp/metro.config.js
  javascriptv3/example_code/reactnative/ReactNativeApp/package.json
  javascriptv3/example_code/reactnative/ReactNativeApp/yarn.lock
  javascriptv3/package-lock.json
Labels: On Call Review complete, Text Review not needed

#5190 Fix title of Personalize Events putItems example.
  .doc_gen/metadata/personalize-events_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Bug

#5159 cpp_tech_debt_hello_world
  .doc_gen/metadata/aurora_metadata.yaml
  .doc_gen/metadata/auto-scaling_metadata.yaml
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/glue_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/lambda_metadata.yaml
  .doc_gen/metadata/rds_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .github/pre_validate/pre_validate.py
  cpp/example_code/aurora/hello_aurora/CMakeLists.txt
  cpp/example_code/aurora/hello_aurora/README.md
  cpp/example_code/aurora/hello_aurora/hello_aurora.cpp
  cpp/example_code/autoscaling/hello_autoscaling/CMakeLists.txt
  cpp/example_code/autoscaling/hello_autoscaling/README.md
  cpp/example_code/autoscaling/hello_autoscaling/hello_autoscaling.cpp
  cpp/example_code/cognito/hello_cognito/CMakeLists.txt
  cpp/example_code/cognito/hello_cognito/README.md
  cpp/example_code/cognito/hello_cognito/hello_cognito.cpp
  cpp/example_code/dynamodb/hello_dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/hello_dynamodb/README.md
  cpp/example_code/dynamodb/hello_dynamodb/hello_dynamodb.cpp
  cpp/example_code/ec2/hello_ec2/CMakeLists.txt
  cpp/example_code/ec2/hello_ec2/README.md
  cpp/example_code/ec2/hello_ec2/hello_ec2.cpp
  cpp/example_code/glue/hello_glue/CMakeLists.txt
  cpp/example_code/glue/hello_glue/README.md
  cpp/example_code/glue/hello_glue/hello_glue.cpp
  cpp/example_code/iam/hello_iam/CMakeLists.txt
  cpp/example_code/iam/hello_iam/README.md
  cpp/example_code/iam/hello_iam/hello_iam.cpp
  cpp/example_code/lambda/hello_lambda/CMakeLists.txt
  cpp/example_code/lambda/hello_lambda/README.md
  cpp/example_code/lambda/hello_lambda/hello_lambda.cpp
  cpp/example_code/rds/CMakeLists.txt
  cpp/example_code/rds/getting_started_with_db_instances.cpp
  cpp/example_code/rds/hello_rds/CMakeLists.txt
  cpp/example_code/rds/hello_rds/README.md
  cpp/example_code/rds/hello_rds/hello_rds.cpp
  cpp/example_code/rds/tests/CMakeLists.txt
  cpp/example_code/s3/hello_s3/CMakeLists.txt
  cpp/example_code/s3/hello_s3/README.md
  cpp/example_code/s3/hello_s3/hello_s3.cpp
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Text Review complete

#5174 JavaScript (v3): SNS - Cleanup
  .doc_gen/readmes/config.py
  javascriptv3/example_code/sns/README.md
  javascriptv3/example_code/sns/actions/check-if-phone-number-is-opted-out.js
  javascriptv3/example_code/sns/actions/confirm-subscription.js
  javascriptv3/example_code/sns/actions/create-topic.js
  javascriptv3/example_code/sns/actions/delete-topic.js
  javascriptv3/example_code/sns/actions/get-sms-attributes.js
  javascriptv3/example_code/sns/actions/get-topic-attributes.js
  javascriptv3/example_code/sns/actions/list-phone-numbers-opted-out.js
  javascriptv3/example_code/sns/actions/list-subscriptions-by-topic.js
  javascriptv3/example_code/sns/actions/list-topics.js
  javascriptv3/example_code/sns/actions/publish-sms.js
  javascriptv3/example_code/sns/actions/publish-topic.js
  javascriptv3/example_code/sns/actions/set-sms-attribute-type.js
  javascriptv3/example_code/sns/actions/set-topic-attributes.js
  javascriptv3/example_code/sns/actions/subscribe-app.js
  javascriptv3/example_code/sns/actions/subscribe-email.js
  javascriptv3/example_code/sns/actions/subscribe-lambda.js
  javascriptv3/example_code/sns/actions/unsubscribe.js
  javascriptv3/example_code/sns/libs/snsClient.js
  javascriptv3/example_code/sns/package.json
  javascriptv3/example_code/sns/src/libs/snsClient.js
  javascriptv3/example_code/sns/src/metadata.yaml
  javascriptv3/example_code/sns/src/sns_checkphoneoptout.js
  javascriptv3/example_code/sns/src/sns_confirmsubscription.js
  javascriptv3/example_code/sns/src/sns_createtopic.js
  javascriptv3/example_code/sns/src/sns_deletetopic.js
  javascriptv3/example_code/sns/src/sns_getsmstype.js
  javascriptv3/example_code/sns/src/sns_gettopicattributes.js
  javascriptv3/example_code/sns/src/sns_listnumbersoptedout.js
  javascriptv3/example_code/sns/src/sns_listsubscriptions.js
  javascriptv3/example_code/sns/src/sns_listtopics.js
  javascriptv3/example_code/sns/src/sns_publishsms.js
  javascriptv3/example_code/sns/src/sns_publishtotopic.js
  javascriptv3/example_code/sns/src/sns_setsmstype.js
  javascriptv3/example_code/sns/src/sns_settopicattributes.js
  javascriptv3/example_code/sns/src/sns_subscribeapp.js
  javascriptv3/example_code/sns/src/sns_subscribeemail.js
  javascriptv3/example_code/sns/src/sns_subscribelambda.js
  javascriptv3/example_code/sns/src/sns_unsubscribe.js
  javascriptv3/example_code/sns/tests/check-if-phone-number-is-opted-out.integration.test.js
  javascriptv3/example_code/sns/tests/confirm-subscription.integration.test.js
  javascriptv3/example_code/sns/tests/create-delete-topic.integration.test.js
  javascriptv3/example_code/sns/tests/get-sms-attributes.integration.test.js
  javascriptv3/example_code/sns/tests/get-topic-attributes.integration.test.js
  javascriptv3/example_code/sns/tests/list-phone-numbers-opted-out.integration.test.js
  javascriptv3/example_code/sns/tests/list-subscriptions-by-topic.integration.test.js
  javascriptv3/example_code/sns/tests/list-topics.integration.test.js
  javascriptv3/example_code/sns/tests/publish.integration.test.js
  javascriptv3/example_code/sns/tests/set-sms-attribute-type.integration.test.js
  javascriptv3/example_code/sns/tests/set-topic-attributes.integration.test.js
  javascriptv3/example_code/sns/tests/subscribe.integration.test.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Bug
