Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-09, with the labels that each got.

#5351 Kotlin Added updated kotlin build files
  kotlin/services/emr/build.gradle.kts
  kotlin/services/eventbridge/build.gradle.kts
  kotlin/services/firehose/build.gradle.kts
  kotlin/services/forecast/build.gradle.kts
  kotlin/services/glue/build.gradle.kts
  kotlin/services/iam/build.gradle.kts
  kotlin/services/kendra/build.gradle.kts
  kotlin/services/keyspaces/build.gradle.kts
  kotlin/services/kinesis/build.gradle.kts
  kotlin/services/kms/build.gradle.kts
  kotlin/services/lambda/build.gradle.kts
  kotlin/services/lex/build.gradle.kts
  kotlin/services/mediaconvert/build.gradle.kts
  kotlin/services/mediastore/build.gradle.kts
  kotlin/services/opensearch/build.gradle.kts
  kotlin/services/personalize/build.gradle.kts
  kotlin/services/pinpoint/build.gradle.kts
  kotlin/services/polly/build.gradle.kts
  kotlin/services/rds/build.gradle.kts
  kotlin/services/redshift/build.gradle.kts
  kotlin/services/rekognition/build.gradle.kts
  kotlin/services/route53/build.gradle.kts
  kotlin/services/s3/build.gradle.kts
  kotlin/services/sagemaker/build.gradle.kts
  kotlin/services/secretsmanager/build.gradle.kts
  kotlin/services/ses/build.gradle.kts
  kotlin/services/sns/build.gradle.kts
  kotlin/services/sqs/build.gradle.kts
  kotlin/services/stepfunctions/build.gradle.kts
  kotlin/services/sts/build.gradle.kts
  kotlin/services/textract/build.gradle.kts
  kotlin/services/translate/build.gradle.kts
  kotlin/services/xray/build.gradle.kts
Labels: Kotlin, On Call Review complete, Text Review not needed

#5345 Bash: fix errecho for multiple services
  aws-cli/bash-linux/ec2/change-ec2-instance-type/awsdocs_general.sh
  aws-cli/bash-linux/iam/awsdocs_general.sh
  aws-cli/bash-linux/iam/tests/include_tests.sh
  aws-cli/bash-linux/iam/tests/test_iam_examples.sh
  aws-cli/bash-linux/medical-imaging/awsdocs_general.sh
  aws-cli/bash-linux/medical-imaging/tests/include_tests.sh
  aws-cli/bash-linux/medical-imaging/tests/test_medical_imaging_examples.sh
  aws-cli/bash-linux/run_tests.sh
  aws-cli/bash-linux/s3/bucket-lifecycle-operations/awsdocs_general.sh
Labels: Shell, CLI, On Call Review complete, Text Review not needed

#5343 Workflow: build and manage a resilient service using Python
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/cross_service/resilient_service/README.md
  python/cross_service/resilient_service/auto_scaler.py
  python/cross_service/resilient_service/load_balancer.py
  python/cross_service/resilient_service/parameters.py
  python/cross_service/resilient_service/recommendation_service.py
  python/cross_service/resilient_service/requirements.txt
  python/cross_service/resilient_service/runner.py
  workflows/resilient_service/README.md
  workflows/resilient_service/resources/instance_policy.json
  workflows/resilient_service/resources/recommendations.json
  workflows/resilient_service/resources/server.py
  workflows/resilient_service/resources/server_startup_script.sh
  workflows/resilient_service/resources/ssm_only_policy.json
Labels: Python, On Call Review complete, Text Review complete, Workflow, Scout

#5171 Rust: Update WebAssembly Example
  rust_dev_preview/webassembly/Cargo.toml
  rust_dev_preview/webassembly/src/lib.rs
  rust_dev_preview/webassembly/www/package-lock.json
  rust_dev_preview/webassembly/www/package.json
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5340 Go - Testing - Update Go test config
  gov2/Dockerfile
Labels: Go-v2, On Call Review complete, Text Review not needed, Task

#5341 Ruby - DynamoDB - Fixes per user feedback, plus a few minor tweaks
  ruby/example_code/dynamodb/basics/dynamodb_basics.rb
  ruby/example_code/dynamodb/basics/scenario_getting_started_dynamodb.rb
Labels: Ruby, On Call Review complete, Text Review not needed, Task

#5355 Update Java FIFO SNS Topic subscription
  .doc_gen/metadata/sns_metadata.yaml
  javav2/example_code/sns/pom.xml
  javav2/example_code/sns/src/main/java/com/example/sns/PriceUpdateExample.java
  javav2/example_code/sns/src/test/java/com/example/sns/PriceUpdateExampleTest.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5357 Rust: s3 metadata for presigning
  .doc_gen/metadata/s3_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5368 Re-enable Docker image updates on main branch
  .github/workflows/docker-push.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings, Task

#5352 Applications: Add "Highlighted Services" summary
  applications/README.md
  applications/photo-asset-manager/README.md
Labels: On Call Review complete, Text Review not needed

#5380 Add .prettierrc.yaml to set bracket spacing for metadata.
  .doc_gen/metadata/.prettierrc.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5350 Fix: remove unused parameter
  javav2/usecases/creating_lex_chatbot/Readme.md
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5386 Rust: Bump stable cross services.
  rust_dev_preview/cross_service/rest_ses/src/report.rs
  rust_dev_preview/cross_service/rust-toolchain.toml
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5360 TOOLS: Add experimental multi.py WRITEME front end
  .doc_gen/readmes/README.md
  .doc_gen/readmes/config.py
  .doc_gen/readmes/includes/important.jinja2
  .doc_gen/readmes/includes/macros.jinja2
  .doc_gen/readmes/multi.py
  .doc_gen/readmes/render.py
  .doc_gen/readmes/scanner.py
Labels: On Call Review complete, Text Review not needed, Task

#5378 Python: Updates to comments and snippet excerpts from feedback on DynamoDB and SNS
  python/example_code/dynamodb/GettingStarted/scenario_getting_started_movies.py
  python/example_code/dynamodb/README.md
  python/example_code/sns/README.md
  python/example_code/sns/sns_basics.py
Labels: Python, On Call Review complete, Text Review not needed, Internal, Task

#5366 Python: SNS FIFO topic and standard queue scenario
  .doc_gen/metadata/sns_metadata.yaml
  python/example_code/sns/README.md
  python/example_code/sns/sns_fifo_topic.py
  python/example_code/sns/test/test_sns_fifo_topic.py
  python/test_tools/sns_stubber.py
Labels: Python, On Call Review complete, Text Review complete, Task

#5363 Bash: DynamoDB MVP
  .doc_gen/metadata/dynamodb_metadata.yaml
  aws-cli/bash-linux/dynamodb/README.md
  aws-cli/bash-linux/dynamodb/awsdocs_general.sh
  aws-cli/bash-linux/dynamodb/dynamodb_operations.sh
  aws-cli/bash-linux/dynamodb/movie_files/movies_0.json
  aws-cli/bash-linux/dynamodb/movie_files/movies_1.json
  aws-cli/bash-linux/dynamodb/movie_files/movies_2.json
  aws-cli/bash-linux/dynamodb/movie_files/movies_3.json
  aws-cli/bash-linux/dynamodb/movie_files/movies_4.json
  aws-cli/bash-linux/dynamodb/movie_files/movies_5.json
  aws-cli/bash-linux/dynamodb/scenario_getting_started_movies.sh
  aws-cli/bash-linux/dynamodb/tests/include_tests.sh
  aws-cli/bash-linux/dynamodb/tests/test_dynamodb_examples.sh
  aws-cli/bash-linux/iam/iam_create_user_assume_role_scenario.sh
Labels: Shell, CLI, On Call Review complete, Text Review not needed, MVP, Follow

#5394 GitHub labels add sap abap
  .github/allowed-labels.yml
  .github/label-ruleset.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings

#5396 Zexi template change to make unique title IDs
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  .doc_gen/templates/zonbook/utility/hello.xml
  .doc_gen/templates/zonbook/utility/sdk_api_examples.xml
  .doc_gen/templates/zonbook/utility/service_examples.xml
Labels: On Call Review complete, Text Review not needed, Task

#5397 Fix a couple metadata bobbles
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5392 WRITEME: Link to snippets anywhere
  .doc_gen/readmes/config.py
  .doc_gen/readmes/render.py
  .doc_gen/readmes/scanner.py
  .doc_gen/readmes/snippets.py
Labels: On Call Review complete, Text Review not needed, Task

#5389 Multi: Updates to SageMaker workflow READMEs and metadata
  .doc_gen/metadata/sagemaker_metadata.yaml
  .github/pre_validate/pre_validate.py
  dotnetv3/SageMaker/Scenarios/GeoSpatialPipeline.json
  dotnetv3/SageMaker/Scenarios/README.md
  dotnetv3/SageMaker/Scenarios/SageMakerScenario.csproj
  dotnetv3/SageMaker/Scenarios/latlongtest.csv
  javav2/usecases/workflow_sagemaker_pipes/Readme.md
  javav2/usecases/workflow_sagemaker_pipes/images/pipes.png
  kotlin/usecases/workflow_sagemaker_pipes/Readme.md
  kotlin/usecases/workflow_sagemaker_pipes/images/pipes.png
  workflows/sagemaker_pipelines/README.md
  workflows/sagemaker_pipelines/SPECIFICATION.md
  workflows/sagemaker_pipelines/resources/GeoSpatialPipeline.json
  workflows/sagemaker_pipelines/resources/latlongtest.csv
  workflows/sagemaker_pipelines/resources/pipeline.png
  workflows/sagemaker_pipelines/resources/workflow.png
Labels: DotNet-v3, Kotlin, On Call Review complete, Text Review complete, Java-v2, GitHub settings, Task

#5405 Python: HealthImaging Actions step 2
  .doc_gen/metadata/medical-imaging_metadata.yaml
  python/example_code/medical-imaging/README.md
  python/example_code/medical-imaging/medical_imaging_basics.py
  python/example_code/medical-imaging/requirements.txt
  python/example_code/medical-imaging/test/test_medical_imaging_basics.py
  python/test_tools/medical_imaging_stubber.py
Labels: Python, On Call Review complete, Text Review complete, Task

#5418 [Metadata] Serverless snippets -> Serverless examples name change.
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: On Call Review complete, Text Review not needed, Task

#5426 Allow non-entity entries in expanded.short for SDKS
  .doc_gen/validation/sdks_schema.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5362 Java V2 FSA
  .doc_gen/cross-content/cross_FSA_Java_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .github/pre_validate/pre_validate.py
  applications/feedback_sentiment_analyzer/README.md
  applications/feedback_sentiment_analyzer/cdk/lib/functions.ts
  javav2/README.md
  javav2/usecases/creating_fsa_app/README.md
  javav2/usecases/creating_fsa_app/images/app.png
  javav2/usecases/creating_fsa_app/images/dbtable.png
  javav2/usecases/creating_fsa_app/images/overview.png
  javav2/usecases/creating_fsa_app/images/role.png
  javav2/usecases/creating_fsa_app/images/workflow.png
  javav2/usecases/creating_fsa_app/pom.xml
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/handlers/AnalyzeSentimentHandler.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/handlers/ExtractTextHandler.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/handlers/SynthesizeAudioHandler.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/handlers/TranslateTextHandler.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/services/DetectSentimentService.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/services/ExtractTextService.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/services/PollyService.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/services/S3Service.java
  javav2/usecases/creating_fsa_app/src/main/java/com/example/fsa/services/TranslateService.java
  javav2/usecases/creating_fsa_app/src/test/java/FSATests.java
Labels: On Call Review complete, Text Review complete, Java-v2, GitHub settings, Application, Follow

#5402 Update AWS CLI entries in sdks.yaml
  .doc_gen/metadata/sdks.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5413 Cpp: Fixed bug on S3 scenario
  cpp/example_code/s3/s3_getting_started_scenario.cpp
Labels: C++, On Call Review complete, Text Review not needed, Task

#5417 [Python] Refactor tests to use local resources
  python/example_code/keyspaces/scenario_get_started_keyspaces.py
  python/example_code/keyspaces/test/test_get_started_keyspaces_integ.py
  python/example_code/keyspaces/test/test_query_table.py
  python/example_code/stepfunctions/get_started_state_machines.py
  python/example_code/stepfunctions/test/test_find_or_create_state_machine.py
  python/example_code/stepfunctions/test/test_get_started_state_machines_integ.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5419 Fix autoescape fo Jinja template
  .doc_gen/images/__init__.py
  .doc_gen/images/render-blurbs.py
Labels: On Call Review complete, Text Review not needed, Task

#5427 JavaScript (v3): SNS - Add metadata for publishing with attributes.
  .doc_gen/metadata/sns_metadata.yaml
  javascriptv3/example_code/cross-services/wkflw-topics-queues/TopicsQueuesWkflw.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5428 JavaScript (v3): Task - Replace lerna with npm command.
  javascriptv3/lerna.json
  javascriptv3/package-lock.json
  javascriptv3/package.json
  javascriptv3/scripts/test.sh
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5383 Ruby - WorkDocs - Update README links
  .github/pre_validate/pre_validate.py
  ruby/example_code/workdocs/README.md
Labels: Ruby, On Call Review complete, Text Review not needed, GitHub settings, Task

#5421 Swift Fix incorrect comment in mocking sample
  swift/example_code/swift-sdk/mocking/Sources/BucketManager.swift
Labels: Swift, On Call Review complete, Text Review not needed, Task

#5425 Swift: Client configuration example
  swift/example_code/swift-sdk/config/Package.swift
  swift/example_code/swift-sdk/config/Sources/ConfigExample.swift
  swift/example_code/swift-sdk/config/test-cfn.yaml
  swift/example_code/swift-sdk/config/test.sh
  swift/tools/swiftbuild.py
Labels: Swift, On Call Review complete, Text Review not needed, Task
