Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-12, with the labels that each got.

#5679 Go: Add code examples to demonstrate the InvokeModel and InvokeModelWithResponseStream actions
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  gov2/bedrock-runtime/.gitignore
  gov2/bedrock-runtime/README.md
  gov2/bedrock-runtime/actions/invoke_model.go
  gov2/bedrock-runtime/actions/invoke_model_test.go
  gov2/bedrock-runtime/actions/invoke_model_with_response_stream.go
  gov2/bedrock-runtime/cmd/main.go
  gov2/bedrock-runtime/go.mod
  gov2/bedrock-runtime/go.sum
  gov2/bedrock-runtime/hello/hello.go
  gov2/bedrock-runtime/scenarios/scenario_invoke_models.go
  gov2/bedrock-runtime/stubs/invoke_model_stubs.go
  php/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/README.md
Labels: Go-v2, PHP, Python, On Call Review complete, Text Review not needed, Task

#5723 Python: Add example for AI-based image generation with Amazon Titan on Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
  python/example_code/bedrock-runtime/test/test_bedrock_runtime_wrapper.py
  python/test_tools/bedrock_runtime_stubber.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5747 Rust, Kotlin: Update versions for README.md
  README.md
Labels: On Call Review complete, Text Review not needed, Task

#5751 Fix AWS service names in Amazon Bedrock stubbers
  python/test_tools/bedrock_runtime_stubber.py
  python/test_tools/bedrock_stubber.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5752 C#: code example for calling the ListFoundationModels action Amazon Bedrock
  .doc_gen/metadata/bedrock_metadata.yaml
  dotnetv3/Bedrock/Actions/BedrockActions.csproj
  dotnetv3/Bedrock/Actions/HelloBedrock.cs
  dotnetv3/Bedrock/BedrockExamples.sln
  dotnetv3/Bedrock/Tests/BedrockTest.cs
  dotnetv3/Bedrock/Tests/BedrockTests.csproj
  dotnetv3/Bedrock/Tests/GlobalUsings.cs
  dotnetv3/DotNetV3Examples.sln
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Task

#5724 Java: Add example for AI-based image generation with Amazon Titan on Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javav2/example_code/bedrock-runtime/Readme.md
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/BedrockRuntimeUsageDemo.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModel.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelAsync.java
  javav2/example_code/bedrock-runtime/src/test/java/TextToImageAsyncTest.java
  javav2/example_code/bedrock-runtime/src/test/java/TextToImageSyncTest.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5755 Adding Bedrock Agents to SoS
  .doc_gen/metadata/bedrock-agent-runtime.yaml
  .doc_gen/metadata/bedrock-agent.yaml
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5629 Tools: metadata dataclasses and validators
  .doc_gen/metadata/emr_metadata.yaml
  .doc_gen/metadata/lookoutvision_metadata.yaml
  .doc_gen/metadata/polly_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .github/workflows/validate.yml
  .tools/validation/__init__.py
  .tools/validation/doc_gen.py
  .tools/validation/file_utils.py
  .tools/validation/metadata.py
  .tools/validation/metadata_errors.py
  .tools/validation/metadata_test.py
  .tools/validation/metadata_validator.py
  .tools/validation/project_validator.py
  .tools/validation/project_validator_test.py
  .tools/validation/sdks.py
  .tools/validation/sdks_test.py
  .tools/validation/services.py
  .tools/validation/services_test.py
  .tools/validation/snippets.py
  .tools/validation/test_resources/awsentity_metadata.yaml
  .tools/validation/test_resources/curated/curated_examples_metadata.yaml
  .tools/validation/test_resources/curated/sources.yaml
  .tools/validation/test_resources/empty_metadata.yaml
  .tools/validation/test_resources/empty_sdks.yaml
  .tools/validation/test_resources/empty_services.yaml
  .tools/validation/test_resources/entityusage_sdks.yaml
  .tools/validation/test_resources/entityusage_services.yaml
  .tools/validation/test_resources/errors_metadata.yaml
  .tools/validation/test_resources/formaterror_metadata.yaml
  .tools/validation/test_resources/malformed_metadata.yaml
  .tools/validation/test_resources/sdks.yaml
  .tools/validation/test_resources/services.yaml
  .tools/validation/test_resources/valid_metadata.yaml
  .tools/validation/validate.py
  .tools/validation/validator_config.py
  .tools/validation/words.py
  javascriptv3/example_code/medical-imaging/actions/list-tags-for-resource.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, GitHub settings, Task, Tools

#5746 .NET v3: Fix for bug with StepFunctions example, fixes #5745.
  .tools/readmes/config.py
  dotnetv3/StepFunctions/Actions/StepFunctionsWrapper.cs
  dotnetv3/StepFunctions/README.md
  dotnetv3/StepFunctions/Scenarios/StepFunctionsBasics.cs
  dotnetv3/StepFunctions/Tests/StepFunctionsWrapperTests.cs
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Bug, Task, Tools

#5770 Python: Updated two mislabeled logger.error lines in bedrock_runtime_wrapper.py sample file.
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5782 Java: Fix Bedrock and BedrockRuntime package and artifact IDs
  javav2/example_code/bedrock-runtime/pom.xml
  javav2/example_code/bedrock/pom.xml
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5689 Add Transcribe Java examples to SOS
  .doc_gen/metadata/transcribe_metadata.yaml
  javav2/example_code/transcribe/src/main/java/com/amazonaws/transcribe/ListTranscriptionJobs.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5788 [Cygni] Fix some <programlisting> descriptions and add version to CLI
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/sdks.yaml
  .doc_gen/metadata/services.yaml
  .doc_gen/templates/zonbook/example_language_template.xml
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5791 update to thing_performance.py example due to SDK update
  python/example_code/iot/thing_performance.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5789 C#: Add code example for InvokeModelAsync action when invoking Claude - Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/BedrockRuntime/Actions/BedrockRuntimeActions.csproj
  dotnetv3/BedrockRuntime/Actions/HelloBedrockRuntime.cs
  dotnetv3/BedrockRuntime/Actions/InvokeModelAsync.cs
  dotnetv3/BedrockRuntime/BedrockRuntimeExamples.sln
  dotnetv3/BedrockRuntime/Tests/BedrockRuntimeTests.csproj
  dotnetv3/BedrockRuntime/Tests/GlobalUsings.cs
  dotnetv3/BedrockRuntime/Tests/TextToTextAsyncTest.cs
  dotnetv3/DotNetV3Examples.sln
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Task

#5790 NPP: Improve presigned URL example
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedGetUrlAndRetrieve.java
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlAndPutFileWithMetadata.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/MemoryLog4jAppender.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/PresignUrlUtils.java
  javav2/example_code/s3/src/test/java/com/example/s3/presignurl/GeneratePresignedGetUrlTests.java
  javav2/example_code/s3/src/test/java/com/example/s3/presignurl/GeneratePresignedPutUrlTests.java
  javav2/example_code/s3/src/test/java/com/example/s3/presignurl/GeneratePresignedUrlAndPutTests.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5798 Metadata - Add PAM to API Gateway scenarios page
  .doc_gen/metadata/cross_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5806 Update S3 example for more in-depth use of SelectObject Content
  rustv1/examples/s3/Cargo.toml
  rustv1/examples/s3/file.csv
  rustv1/examples/s3/src/bin/select-object-content.rs
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5810 Fixes PHP Weathertop initial command path issue
  php/Dockerfile
Labels: PHP, Testing, On Call Review complete, Text Review not needed, Bug, Task

#5817 Fix typo in template snaphots.
  .doc_gen/templates/zonbook/example_curated_template.xml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/utility/curated_examples.xml
  .doc_gen/templates/zonbook/utility/hello.xml
  .doc_gen/templates/zonbook/utility/sdk_api_examples.xml
  .doc_gen/templates/zonbook/utility/sdk_cross_examples.xml
  .doc_gen/templates/zonbook/utility/service_examples.xml
Labels: On Call Review complete, Text Review not needed, Task

#5792 .NET v3: C# bedrock runtime new actions and bedrock runtime outline refactoring - Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/BedrockRuntime/Actions/InvokeModelAsync.cs
  dotnetv3/BedrockRuntime/Tests/TextToTextAsyncTest.cs
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Task

#5814 Fix the issue of Java v2 CloudWatch FilterLogEvents sending multiple …
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/FilterLogEvents.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5816 Weathertop - ProducerStack - Adding back trigger rule
  .tools/test/eventbridge_rule_with_sns_fanout/cdk.json
  .tools/test/eventbridge_rule_with_sns_fanout/producer_stack/producer_stack.py
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5812 Python: Bedrock agent scenario - Simplify Lambda function
  python/example_code/bedrock-agent/scenario_resources/lambda_function.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5786 Add Java Media Store in SOS
  .doc_gen/metadata/mediastore_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5827 Further updates to select-object content
  rustv1/examples/s3/file.csv
  rustv1/examples/s3/src/bin/select-object-content.rs
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5828 Python - Running black on files
  .github/extract-snippets/extract-snippets.py
  .github/sd-cpp-linter/sd_review.py
  applications/photo-asset-manager/cdk/rekognition_photo_analyzer/rekfunction.py
  cpp/example_code/glue/flight_etl_job_script.py
  gov2/lambda/handlers/lambda_handler_basic.py
  gov2/lambda/handlers/lambda_handler_calculator.py
  javascriptv3/example_code/codepipeline/MyCodePipelineFunction.py
  php/example_code/glue/flight_etl_job_script.py
  ruby/example_code/glue/job_script.py
  ruby/example_code/glue/spec/test_job_script.py
  swift/tools/swiftbuild.py
  workflows/resilient_service/resources/server.py
Labels: C++, Go-v2, Javascript-v3, PHP, Ruby, Swift, On Call Review complete, Text Review not needed, GitHub settings, Task

#5830 Add examples to SOS that are being dropped from the guided examples in the Dev. guide.
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  .doc_gen/metadata/cognito-identity_metadata.yaml
  javav2/example_code/cognito/src/main/java/com/example/cognito/CreateUserPoolClient.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/GetIdentityCredentials.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5832 Tools: README updates for enforced languages.
  .tools/readmes/config.py
  .tools/readmes/includes/code_examples.jinja2
  .tools/readmes/includes/macros.jinja2
  .tools/readmes/includes/overview.jinja2
  .tools/readmes/includes/prerequisites.jinja2
  .tools/readmes/includes/resources.jinja2
  .tools/readmes/includes/run_instructions.jinja2
  .tools/readmes/multi.py
  .tools/readmes/render.py
  .tools/readmes/service_readme.jinja2
Labels: On Call Review complete, Text Review not needed, Task, Tools
