Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-06, with the labels that each got.

#4860 PAM: Update strategies.ts with missing empty code asset
  resources/cdk/photo_asset_manager/lib/backend/strategies.ts
Labels: status/on-call-review-complete, status/no-text-review-needed

#4870 Rust: Replace actions-rs/* with dtolnay/rust-toolchain@stable
  .github/workflows/rust.yml
Labels: status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#4869 Introduce new cross-service structure
  README.md
  applications/README.md
  applications/photo-asset-manager/DEVELOPMENT.md
  applications/photo-asset-manager/README.md
  applications/photo-asset-manager/SPECIFICATION.md
  applications/photo-asset-manager/cdk/.gitignore
  applications/photo-asset-manager/cdk/.npmignore
  applications/photo-asset-manager/cdk/README.md
  applications/photo-asset-manager/cdk/bin/app.ts
  applications/photo-asset-manager/cdk/cdk.json
  applications/photo-asset-manager/cdk/lib/backend/api.ts
  applications/photo-asset-manager/cdk/lib/backend/api_models.ts
  applications/photo-asset-manager/cdk/lib/backend/auth.ts
  applications/photo-asset-manager/cdk/lib/backend/lambdas.ts
  applications/photo-asset-manager/cdk/lib/backend/resources.ts
  applications/photo-asset-manager/cdk/lib/backend/stack.ts
  applications/photo-asset-manager/cdk/lib/backend/strategies.ts
  applications/photo-asset-manager/cdk/lib/common.ts
  applications/photo-asset-manager/cdk/lib/frontend/asset-stack.ts
  applications/photo-asset-manager/cdk/lib/frontend/infra-stack.ts
  applications/photo-asset-manager/cdk/package-lock.json
  applications/photo-asset-manager/cdk/package.json
  applications/photo-asset-manager/cdk/rekognition_photo_analyzer/__init__.py
  applications/photo-asset-manager/cdk/rekognition_photo_analyzer/rekfunction.py
  applications/photo-asset-manager/cdk/tsconfig.json
  applications/photo-asset-manager/elros-pam/.gitignore
  applications/photo-asset-manager/elros-pam/README.md
  applications/photo-asset-manager/elros-pam/index.html
  applications/photo-asset-manager/elros-pam/package-lock.json
  applications/photo-asset-manager/elros-pam/package.json
  applications/photo-asset-manager/elros-pam/public/vite.svg
  applications/photo-asset-manager/elros-pam/src/App.css
  applications/photo-asset-manager/elros-pam/src/App.tsx
  applications/photo-asset-manager/elros-pam/src/FileUpload.tsx
  applications/photo-asset-manager/elros-pam/src/LabelsLayout.tsx
  applications/photo-asset-manager/elros-pam/src/LoginNavigation.tsx
  applications/photo-asset-manager/elros-pam/src/main.tsx
  applications/photo-asset-manager/elros-pam/src/pam-api.ts
  applications/photo-asset-manager/elros-pam/src/polyfills.ts
  applications/photo-asset-manager/elros-pam/src/store.ts
  applications/photo-asset-manager/elros-pam/src/vite-env.d.ts
  applications/photo-asset-manager/elros-pam/tsconfig.json
  applications/photo-asset-manager/elros-pam/tsconfig.node.json
  applications/photo-asset-manager/elros-pam/vite.config.ts
  resources/clients/react/elros-pam/.env
Labels: status/on-call-review-complete, status/no-text-review-needed

#4819 Remove unnecessary object declaration
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/S3ClientFactory.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4859 Update sdks.yaml
  .doc_gen/metadata/sdks.yaml
Labels: status/on-call-review-complete, status/no-text-review-needed

#4905 PAM: Fix bug and vulnerability.
  applications/photo-asset-manager/cdk/lib/common.ts
  applications/photo-asset-manager/cdk/package-lock.json
Labels: status/on-call-review-complete, status/no-text-review-needed

#4906 JavaScript (v3): Fix vulnerable deps with caveat*.
  javascriptv3/example_code/cross-services/lex-bot/package.json
  javascriptv3/package-lock.json
Labels: lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4909 Removed title override for .NET content.
  .doc_gen/metadata/sdks.yaml
Labels: status/on-call-review-complete, status/no-text-review-needed

#4769 .Net Core ECS Example Update
  dotnetv3/ECS/ECS.sln
  dotnetv3/ECS/ECSActions/ECSActions.csproj
  dotnetv3/ECS/ECSActions/ECSWrapper.cs
  dotnetv3/ECS/ECSActions/HelloECS.cs
  dotnetv3/ECS/ECSScenario/ECSScenario.cs
  dotnetv3/ECS/ECSScenario/ECSScenario.csproj
  dotnetv3/ECS/ECSTests/ECSTests.cs
  dotnetv3/ECS/ECSTests/ECSTests.csproj
  dotnetv3/ECS/ECSTests/Usings.cs
  dotnetv3/ECS/readme.md
Labels: lang/dotnet-v3, status/on-call-review-complete, status/no-text-review-needed

#4904 Java V2 Updated mysql item tracker to use Secrets Manager
  javav2/usecases/Creating_rds_item_tracker/Readme.md
  javav2/usecases/Creating_rds_item_tracker/images/databaseCreds.png
  javav2/usecases/Creating_rds_item_tracker/pom.xml
  javav2/usecases/Creating_rds_item_tracker/src/main/java/com/aws/rest/ConnectionHelper.java
  javav2/usecases/Creating_rds_item_tracker/src/main/java/com/aws/rest/DatabaseService.java
  javav2/usecases/Creating_rds_item_tracker/src/main/java/com/aws/rest/ReportController.java
  javav2/usecases/Creating_rds_item_tracker/src/main/java/com/aws/rest/User.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4907 Added warning about SNS breaking presigned URLs
  applications/photo-asset-manager/DEVELOPMENT.md
  applications/photo-asset-manager/SPECIFICATION.md
Labels: status/on-call-review-complete, status/no-text-review-needed

#4847 .NET (v3): Photo Asset Management (PAM) cross-service example
  .doc_gen/cross-content/cross_PAM_dotnet_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  applications/photo-asset-manager/cdk/README.md
  applications/photo-asset-manager/cdk/lib/backend/strategies.ts
  dotnetv3/cross-service/PhotoAssetManager/PamApi/Controllers/ApiController.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/DetectLabelsFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/DownloadFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/LambdaEntryPoint.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/LocalEntryPoint.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/PamApi.csproj
  dotnetv3/cross-service/PhotoAssetManager/PamApi/Properties/launchSettings.json
  dotnetv3/cross-service/PhotoAssetManager/PamApi/Startup.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/appsettings.json
  dotnetv3/cross-service/PhotoAssetManager/PamApi/aws-lambda-tools-defaults.json
  dotnetv3/cross-service/PhotoAssetManager/PamApi/serverless.template
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/DetectLabelsFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/DownloadFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/Functions.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/PamApiAnnotations.csproj
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/Properties/launchSettings.json
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/Startup.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/appsettings.json
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/aws-lambda-tools-defaults.json
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/serverless.template
  dotnetv3/cross-service/PhotoAssetManager/PamServices.Test/ImageServiceTests.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices.Test/LabelServiceTests.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices.Test/NotificationServiceTests.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices.Test/PamServices.Test.csproj
  dotnetv3/cross-service/PhotoAssetManager/PamServices.Test/StorageServiceTests.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices.Test/Usings.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/DownloadRequest.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/ImageService.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/Label.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/LabelService.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/LabelsResponse.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/NotificationService.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/PamServices.csproj
  dotnetv3/cross-service/PhotoAssetManager/PamServices/StorageService.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/UploadRequest.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/UploadResponse.cs
  dotnetv3/cross-service/PhotoAssetManager/PhotoAssetManager.sln
  dotnetv3/cross-service/PhotoAssetManager/README.md
  dotnetv3/cross-service/PhotoAssetManager/pam_api_swagger.png
  dotnetv3/cross-service/PhotoAssetManager/pam_mock_lambda.png
  dotnetv3/cross-service/PhotoAssetManager/pam_overview.png
  dotnetv3/cross-service/PhotoAssetManager/pam_ui.png
  dotnetv3/cross-service/README.md
Labels: lang/dotnet-v3, status/on-call-review-complete, status/text-review-complete

#4856 Adds Ruby Glue MVP 🚀
  .doc_gen/metadata/glue_metadata.yaml
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/example_code/cloudtrail/README.md
  ruby/example_code/ec2/README.md
  ruby/example_code/elasticbeanstalk/README.md
  ruby/example_code/glue/README.md
  ruby/example_code/glue/getting_started.rb
  ruby/example_code/glue/glue_wrapper.rb
  ruby/example_code/glue/job_script.py
  ruby/example_code/glue/resource_names.yaml
  ruby/example_code/glue/spec/getting_started_scenario_spec.rb
  ruby/example_code/glue/spec/test_job_script.py
  ruby/example_code/lambda/lambda_basics.rb
  ruby/example_code/polly/README.md
  ruby/example_code/ses/README.md
  ruby/helpers/decorators.rb
  ruby/helpers/waiters.rb
Labels: lang/ruby, status/on-call-review-complete, status/no-text-review-needed

#4912 SAP ABAP: add `.abapgit.xml` file to make code examples repository compatible with abapGit
  .abapgit.xml
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.abap
Labels: status/on-call-review-complete, status/no-text-review-needed

#4855 Kotlin: create request presigning examples for S3
  .doc_gen/metadata/s3_metadata.yaml
  kotlin/services/s3/build.gradle.kts
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/PresigningExamples.kt
  kotlin/services/s3/src/main/resources/log4j2.xml
  kotlin/services/s3/src/test/kotlin/com/kotlin/s3/PresignTests.kt
Labels: lang/kotlin, status/on-call-review-complete, status/no-text-review-needed

#4877 Rust: add create instance example in ec2.
  rust_dev_preview/ec2/src/bin/create-instance.rs
  rust_dev_preview/ec2/src/bin/start-instance.rs
Labels: lang/rust, status/on-call-review-complete, status/no-text-review-needed

#4900 Rust: hello example metadata (Glue, Autoscaling)
  .doc_gen/metadata/auto-scaling_metadata.yaml
  .doc_gen/metadata/glue_metadata.yaml
  rust_dev_preview/autoscaling/src/bin/list-autoscaling-groups.rs
  rust_dev_preview/glue/resources/setup_scenario_getting_started.yaml
  writeme.sh
Labels: lang/rust, status/on-call-review-complete, status/no-text-review-needed

#4857 PAM: Add ARCHITECTURE and DESIGN files.
  applications/photo-asset-manager/DESIGN.md
  applications/photo-asset-manager/README.md
  applications/photo-asset-manager/SPECIFICATION.md
  applications/photo-asset-manager/cdk/README.md
Labels: status/on-call-review-complete, status/no-text-review-needed

#4858 Code Library: improve descriptions and resources on top-level pages
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  .doc_gen/templates/zonbook/utility/notes.xml
  .doc_gen/templates/zonbook/utility/sdk_cross_examples.xml
Labels: status/on-call-review-complete, status/text-review-complete

#4902 Rust: WRITEMEd all READMEs
  rust_dev_preview/apigateway/README.md
  rust_dev_preview/autoscaling/README.md
  rust_dev_preview/batch/README.md
  rust_dev_preview/cloudwatch/README.md
  rust_dev_preview/cloudwatchlogs/README.md
  rust_dev_preview/cognitoidentity/README.md
  rust_dev_preview/cognitosync/README.md
  rust_dev_preview/dynamodb/README.md
  rust_dev_preview/ebs/README.md
  rust_dev_preview/ec2/README.md
  rust_dev_preview/ecr/README.md
  rust_dev_preview/ecs/README.md
  rust_dev_preview/eks/README.md
  rust_dev_preview/firehose/README.md
  rust_dev_preview/glue/README.md
  rust_dev_preview/iam/README.md
  rust_dev_preview/iot/README.md
  rust_dev_preview/kinesis/README.md
  rust_dev_preview/kms/README.md
  rust_dev_preview/lambda/README.md
  rust_dev_preview/medialive/README.md
  rust_dev_preview/mediapackage/README.md
  rust_dev_preview/polly/README.md
  rust_dev_preview/qldb/README.md
  rust_dev_preview/rds/README.md
  rust_dev_preview/rdsdata/README.md
  rust_dev_preview/s3/README.md
  rust_dev_preview/sagemaker/README.md
  rust_dev_preview/secretsmanager/README.md
  rust_dev_preview/ses/README.md
  rust_dev_preview/sns/README.md
  rust_dev_preview/sqs/README.md
  rust_dev_preview/ssm/README.md
  rust_dev_preview/sts/README.md
  rust_dev_preview/textract/README.md
Labels: lang/rust, status/on-call-review-complete, status/no-text-review-needed

#4914 Java V2 Update the Photo App/Async Photo App examples
  javav2/usecases/creating_photo_analyzer_app/Readme.md
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/AnalyzePhotos.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/BucketItem.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/PhotoApplication.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/PhotoController.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/S3Service.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/SendMessages.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/WorkItem.java
  javav2/usecases/creating_photo_analyzer_app/src/main/java/com/example/photo/WriteExcel.java
  javav2/usecases/creating_photo_analyzer_async/Readme.md
  javav2/usecases/creating_photo_analyzer_async/src/main/java/com/example/photo/AnalyzePhotos.java
  javav2/usecases/creating_photo_analyzer_async/src/main/java/com/example/photo/PhotoApplication.java
  javav2/usecases/creating_photo_analyzer_async/src/main/java/com/example/photo/PhotoController.java
  javav2/usecases/creating_photo_analyzer_async/src/main/java/com/example/photo/S3Service.java
  javav2/usecases/creating_photo_analyzer_async/src/main/java/com/example/photo/SendMessages.java
  javav2/usecases/creating_photo_analyzer_async/src/main/java/com/example/photo/WorkItem.java
  javav2/usecases/creating_photo_analyzer_async/src/main/java/com/example/photo/WriteExcel.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4915 PAM: Update dependencies.
  applications/photo-asset-manager/elros-pam/package-lock.json
  applications/photo-asset-manager/elros-pam/package.json
Labels: status/on-call-review-complete, status/no-text-review-needed

#4916 Java V2 Update the Sub/Pub example
  javav2/usecases/creating_sns_async/Readme.md
  javav2/usecases/creating_sns_async/src/main/java/com/spring/sns/SnsService.java
  javav2/usecases/creating_sns_async/src/main/java/com/spring/sns/SubApplication.java
  javav2/usecases/creating_sns_async/src/main/java/com/spring/sns/SubController.java
  javav2/usecases/creating_sns_sample_app/Readme.md
  javav2/usecases/creating_sns_sample_app/pom.xml
  javav2/usecases/creating_sns_sample_app/src/main/java/com/spring/sns/SnsService.java
  javav2/usecases/creating_sns_sample_app/src/main/java/com/spring/sns/SubApplication.java
  javav2/usecases/creating_sns_sample_app/src/main/java/com/spring/sns/SubController.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4918 Java V2 Update the ETL Workflow example
  javav2/usecases/Creating_etl_workflow/Readme.md
  javav2/usecases/Creating_etl_workflow/pom.xml
  javav2/usecases/Creating_etl_workflow/src/main/java/com/etl/example/DocumentHandler.java
  javav2/usecases/Creating_etl_workflow/src/main/java/com/etl/example/DynamoDBService.java
  javav2/usecases/Creating_etl_workflow/src/main/java/com/etl/example/ExcelService.java
  javav2/usecases/Creating_etl_workflow/src/main/java/com/etl/example/HandlerStoreData.java
  javav2/usecases/Creating_etl_workflow/src/main/java/com/etl/example/PopData.java
  javav2/usecases/Creating_etl_workflow/src/main/java/com/etl/example/Population.java
  javav2/usecases/Creating_etl_workflow/src/main/java/com/etl/example/S3Service.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4922 Kotlin update the Sub/Pub example
  kotlin/usecases/creating_photo_analyzer_app/Readme.md
  kotlin/usecases/creating_photo_analyzer_app/src/main/kotlin/com/aws/photo/BucketItem.kt
  kotlin/usecases/creating_photo_analyzer_app/src/main/kotlin/com/aws/photo/PhotoApp.kt
  kotlin/usecases/creating_photo_analyzer_app/src/main/kotlin/com/aws/photo/S3Service.kt
  kotlin/usecases/creating_photo_analyzer_app/src/main/kotlin/com/aws/photo/WorkItem.kt
  kotlin/usecases/creating_photo_analyzer_app/src/main/kotlin/com/aws/photo/WriteExcel.kt
  kotlin/usecases/subpub_app/Readme.md
  kotlin/usecases/subpub_app/src/main/kotlin/com/aws/kotlin/SnsService.kt
Labels: lang/kotlin, status/on-call-review-complete, status/no-text-review-needed

#4920 Java V2 Update the Spring Video Streaming app
  javav2/usecases/create_spring_stream_app/Readme.md
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/VideoStreamController.java
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/VideoStreamService.java
  javav2/usecases/video_analyzer_application/Readme.md
  javav2/usecases/video_analyzer_application/src/main/java/com/example/video/S3Service.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4926 WRITEME: Turn on autoescape for Jinja, per best practice recommendations.
  .doc_gen/readmes/render.py
Labels: status/on-call-review-complete, status/no-text-review-needed

#4933 CDK: Update Dockerfile used in my_ecs_construct-stack.ts to resolve security incident
  resources/cdk/legacy/ecs-fargate-with-alb/my_ecs_construct-stack.ts
Labels: tool/cdk, status/on-call-review-complete, status/no-text-review-needed

#4931 Javascriptv3: fix Polly Example failure.
  javascriptv3/example_code/polly/general-examples/src/setup.yaml
Labels: lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4921 Docs: Explain non-language directories in top-level README.md
  README.md
Labels: lang/all-languages, status/on-call-review-complete, status/text-review-complete

#4935 CDK: Removed unused redshift_item_tracker CDK script.
  resources/cdk/redshift_item_tracker/.gitignore
  resources/cdk/redshift_item_tracker/README.md
  resources/cdk/redshift_item_tracker/cdk.json
  resources/cdk/redshift_item_tracker/package-lock.json
  resources/cdk/redshift_item_tracker/package.json
  resources/cdk/redshift_item_tracker/redshift_item_tracker.ts
  resources/cdk/redshift_item_tracker/redshift_item_tracker.yaml
  resources/cdk/redshift_item_tracker/tsconfig.json
Labels: tool/cdk, status/on-call-review-complete, status/no-text-review-needed

#4936 CDK: Updated CDK-generated SNS topics to use SSE with default KMS key
  javascriptv3/example_code/cross-services/sns-sample-app/setup.yaml
  javascriptv3/example_code/cross-services/textract-react/setup.yaml
  javascriptv3/example_code/cross-services/video-analyzer/setup.yaml
  python/cross_service/textract_explorer/setup.yaml
  resources/cdk/go_example_lambda/.npmignore
  resources/cdk/go_example_lambda/DynamoDBRecord.bat
  resources/cdk/go_example_lambda/DynamoDBRecord.sh
  resources/cdk/go_example_lambda/README.md
  resources/cdk/go_example_lambda/S3Record.bat
  resources/cdk/go_example_lambda/S3Record.sh
  resources/cdk/go_example_lambda/SNSRecord.bat
  resources/cdk/go_example_lambda/SNSRecord.sh
  resources/cdk/go_example_lambda/SQSRecord.bat
  resources/cdk/go_example_lambda/SQSRecord.sh
  resources/cdk/go_example_lambda/cdk.json
  resources/cdk/go_example_lambda/dynamodb-payload.json
  resources/cdk/go_example_lambda/package.json
  resources/cdk/go_example_lambda/s3-payload.json
  resources/cdk/go_example_lambda/setup.ts
  resources/cdk/go_example_lambda/sns-payload.json
  resources/cdk/go_example_lambda/sqs-payload.json
  resources/cdk/go_example_lambda/src/dynamodb/main.go
  resources/cdk/go_example_lambda/src/s3/main.go
  resources/cdk/go_example_lambda/src/sns/main.go
  resources/cdk/go_example_lambda/src/sqs/main.go
  resources/cdk/go_example_lambda/tsconfig.json
  resources/cdk/rekognition-sns-video-analyzer/package.json
  resources/cdk/rekognition-sns-video-analyzer/setup.ts
  resources/cdk/textract_example_s3_sns_sqs/package.json
  resources/cdk/textract_example_s3_sns_sqs/setup.ts
  resources/cdk/textract_example_s3_sns_sqs_cognito/package.json
  resources/cdk/textract_example_s3_sns_sqs_cognito/setup.ts
  resources/cfn/go_example_lambda/GoCdkStack.template.json
  resources/cfn/go_example_lambda/README.md
Labels: lang/python, tool/cdk, lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4940 Ruby: S3 - Update bucket_policy.rb to make Deny instead of Allow
  ruby/example_code/s3/bucket_policy.rb
Labels: lang/ruby, status/on-call-review-complete, status/no-text-review-needed

#4942 Require SSL for textract explorer bucket.
  python/cross_service/textract_explorer/setup.yaml
  resources/cdk/textract_example_s3_sns_sqs/package.json
  resources/cdk/textract_example_s3_sns_sqs/setup.ts
Labels: lang/python, tool/cdk, status/on-call-review-complete, status/no-text-review-needed

#4854 JavaScript (v3): Add PAM cross-service example.
  .doc_gen/cross-content/cross_PAM_JavaScript_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  applications/photo-asset-manager/DEVELOPMENT.md
  applications/photo-asset-manager/cdk/README.md
  applications/photo-asset-manager/cdk/lib/backend/strategies.ts
  applications/photo-asset-manager/elros-pam/README.md
  javascriptv3/example_code/cross-services/photo-asset-manager/.gitignore
  javascriptv3/example_code/cross-services/photo-asset-manager/README.md
  javascriptv3/example_code/cross-services/photo-asset-manager/package.json
  javascriptv3/example_code/cross-services/photo-asset-manager/rollup.config.js
  javascriptv3/example_code/cross-services/photo-asset-manager/src/common.js
  javascriptv3/example_code/cross-services/photo-asset-manager/src/functions/detect-labels.js
  javascriptv3/example_code/cross-services/photo-asset-manager/src/functions/download.js
  javascriptv3/example_code/cross-services/photo-asset-manager/src/functions/labels.js
  javascriptv3/example_code/cross-services/photo-asset-manager/src/functions/upload.js
  javascriptv3/example_code/cross-services/photo-asset-manager/src/index.js
  javascriptv3/example_code/cross-services/photo-asset-manager/src/lambda-env.js
  javascriptv3/example_code/cross-services/photo-asset-manager/tests/detect-labels-handler.unit.test.js
  javascriptv3/example_code/cross-services/photo-asset-manager/tests/download.unit.test.js
  javascriptv3/example_code/cross-services/photo-asset-manager/tests/labels.unit.test.js
  javascriptv3/example_code/cross-services/photo-asset-manager/tests/upload-handler.unit.test.js
  javascriptv3/hook_scripts/pre-commit.sh
  javascriptv3/package-lock.json
  javascriptv3/package.json
  javascriptv3/scripts/test.sh
  resources/clients/react/elros-pam/screenshots/download.png
  resources/clients/react/elros-pam/screenshots/link.png
  resources/clients/react/elros-pam/screenshots/sign_in_1.png
  resources/clients/react/elros-pam/screenshots/sign_in_2.png
  resources/clients/react/elros-pam/screenshots/upload.png
Labels: lang/javascript-v3, status/on-call-review-complete, status/text-review-complete

#4948 .NET V3: Text edits for Photo Asset Manager cross-service example files
  dotnetv3/cross-service/PhotoAssetManager/PamApi/Controllers/ApiController.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/DetectLabelsFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/DownloadFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/LambdaEntryPoint.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/LocalEntryPoint.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/Startup.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApi/aws-lambda-tools-defaults.json
  dotnetv3/cross-service/PhotoAssetManager/PamApi/serverless.template
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/DetectLabelsFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/DownloadFunction.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/Functions.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/PamApiAnnotations.csproj
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/Startup.cs
  dotnetv3/cross-service/PhotoAssetManager/PamApiAnnotations/aws-lambda-tools-defaults.json
  dotnetv3/cross-service/PhotoAssetManager/PamServices.Test/StorageServiceTests.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/NotificationService.cs
  dotnetv3/cross-service/PhotoAssetManager/PamServices/StorageService.cs
  dotnetv3/cross-service/PhotoAssetManager/README.md
  dotnetv3/cross-service/README.md
Labels: lang/dotnet-v3, status/on-call-review-complete, status/text-review-complete

#4927 Kotlin SNS/SQS Workflow
  kotlin/services/sns/src/main/kotlin/com/kotlin/sns/HelloSNS.kt
  kotlin/services/sqs/src/main/kotlin/com/kotlin/sqs/HelloSQS.kt
  kotlin/usecases/topics_and_queues/Readme.md
  kotlin/usecases/topics_and_queues/build.gradle.kts
  kotlin/usecases/topics_and_queues/images/fifo_topics_diagram.png
  kotlin/usecases/topics_and_queues/src/main/kotlin/com/example/sns/SNSWorkflow.kt
  kotlin/usecases/topics_and_queues/src/test/kotlin/AWSSNSTest.kt
Labels: lang/kotlin, status/on-call-review-complete, status/text-review-complete

#4919 Swift: Add standalone sample for ListBuckets in S3
  .doc_gen/metadata/s3_metadata.yaml
  swift/example_code/s3/ListBuckets/Package.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/S3Session.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/listbuckets.swift
  swift/example_code/s3/ListBuckets/Tests/ListBucketsTests/ListBucketsTests.swift
Labels: lang/swift, status/on-call-review-complete, status/text-review-complete

#4682 Rust Photo Asset Management lambdas
  applications/photo-asset-manager/cdk/lib/backend/lambdas.ts
  applications/photo-asset-manager/cdk/lib/backend/strategies.ts
  resources/clients/react/elros/.env
  rust_dev_preview/Cargo.toml
  rust_dev_preview/cross_service/photo_asset_management/.gitignore
  rust_dev_preview/cross_service/photo_asset_management/Cargo.toml
  rust_dev_preview/cross_service/photo_asset_management/README.md
  rust_dev_preview/cross_service/photo_asset_management/examples/detect_labels.json
  rust_dev_preview/cross_service/photo_asset_management/examples/download.json
  rust_dev_preview/cross_service/photo_asset_management/examples/labels.json
  rust_dev_preview/cross_service/photo_asset_management/examples/upload.json
  rust_dev_preview/cross_service/photo_asset_management/integration/Cargo.toml
  rust_dev_preview/cross_service/photo_asset_management/integration/tests/update_label.rs
  rust_dev_preview/cross_service/photo_asset_management/src/bin/detect_labels.rs
  rust_dev_preview/cross_service/photo_asset_management/src/bin/download.rs
  rust_dev_preview/cross_service/photo_asset_management/src/bin/hello.rs
  rust_dev_preview/cross_service/photo_asset_management/src/bin/labels.rs
  rust_dev_preview/cross_service/photo_asset_management/src/bin/pam.rs
  rust_dev_preview/cross_service/photo_asset_management/src/bin/upload.rs
  rust_dev_preview/cross_service/photo_asset_management/src/chunked_uploader.rs
  rust_dev_preview/cross_service/photo_asset_management/src/common.rs
  rust_dev_preview/cross_service/photo_asset_management/src/handlers/detect_labels.rs
  rust_dev_preview/cross_service/photo_asset_management/src/handlers/download.rs
  rust_dev_preview/cross_service/photo_asset_management/src/handlers/hello.rs
  rust_dev_preview/cross_service/photo_asset_management/src/handlers/labels.rs
  rust_dev_preview/cross_service/photo_asset_management/src/handlers/mod.rs
  rust_dev_preview/cross_service/photo_asset_management/src/handlers/upload.rs
  rust_dev_preview/cross_service/photo_asset_management/src/lib.rs
  rust_dev_preview/cross_service/photo_asset_management/src/test_utils/macros.rs
  rust_dev_preview/cross_service/photo_asset_management/src/test_utils/mod.rs
  rust_dev_preview/cross_service/photo_asset_management/src/uploader.rs
  rust_dev_preview/cross_service/photo_asset_management/tests/test_pipe.rs
  rust_dev_preview/cross_service/photo_asset_management/tests/test_upload_part.rs
Labels: lang/rust, status/on-call-review-complete, status/text-review-complete

#4959 FSA: Resolve environment configuration.
  applications/feedback_sentiment_analyzer/cdk/.gitignore
  applications/feedback_sentiment_analyzer/cdk/bin/cdk.ts
  applications/feedback_sentiment_analyzer/cdk/cdk.context.json
  applications/feedback_sentiment_analyzer/cdk/lib/backend-stack.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-api-models.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-auth.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-cloud-front-website.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-env-lambda.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-routes.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-state-machine.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/cloud-front-website-assets.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/cloud-front-website.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/website-env-fn.js
  applications/feedback_sentiment_analyzer/cdk/lib/functions.ts
  applications/feedback_sentiment_analyzer/cdk/lib/stack.ts
  applications/feedback_sentiment_analyzer/cdk/package-lock.json
  applications/feedback_sentiment_analyzer/cdk/package.json
  applications/feedback_sentiment_analyzer/client/.gitignore
  applications/feedback_sentiment_analyzer/client/README.md
  applications/feedback_sentiment_analyzer/client/index.html
  applications/feedback_sentiment_analyzer/client/package-lock.json
  applications/feedback_sentiment_analyzer/client/package.json
  applications/feedback_sentiment_analyzer/client/public/vite.svg
  applications/feedback_sentiment_analyzer/client/src/App.css
  applications/feedback_sentiment_analyzer/client/src/App.tsx
  applications/feedback_sentiment_analyzer/client/src/FileUpload.tsx
  applications/feedback_sentiment_analyzer/client/src/LoginNavigation.tsx
  applications/feedback_sentiment_analyzer/client/src/api.ts
  applications/feedback_sentiment_analyzer/client/src/env.ts
  applications/feedback_sentiment_analyzer/client/src/main.tsx
  applications/feedback_sentiment_analyzer/client/src/polyfills.ts
  applications/feedback_sentiment_analyzer/client/src/store.ts
  applications/feedback_sentiment_analyzer/client/src/vite-env.d.ts
  applications/feedback_sentiment_analyzer/client/tsconfig.json
  applications/feedback_sentiment_analyzer/client/tsconfig.node.json
  applications/feedback_sentiment_analyzer/client/vite.config.ts
Labels: cross-service-team

#4954 Go: Aurora MVP scenario "Get started with clusters"
  .doc_gen/metadata/aurora_metadata.yaml
  .doc_gen/metadata/services.yaml
  .doc_gen/validation/services_schema.yaml
  .github/pre_validate/pre_validate.py
  gov2/aurora/README.md
  gov2/aurora/actions/clusters.go
  gov2/aurora/cmd/main.go
  gov2/aurora/go.mod
  gov2/aurora/go.sum
  gov2/aurora/hello/hello.go
  gov2/aurora/scenarios/get_started_clusters.go
  gov2/aurora/scenarios/get_started_clusters_integ_test.go
  gov2/aurora/scenarios/get_started_clusters_test.go
  gov2/aurora/stubs/clusters_stubs.go
  gov2/lint_all_go.bat
  gov2/lint_all_go.sh
Labels: lang/go-v2, status/on-call-review-complete, status/text-review-complete, type/github-settings

#4967 fix simple typo
  javav2/example_code/lookoutvision/src/main/java/com/example/lookoutvision/ShowAnomalies.java
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#4976 FSA: Implement working upload.
  applications/feedback_sentiment_analyzer/cdk/README.md
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-api-models.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-routes.ts
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/app-s3-website.ts
  applications/feedback_sentiment_analyzer/cdk/lib/stack.ts
  applications/feedback_sentiment_analyzer/client/src/App.tsx
  applications/feedback_sentiment_analyzer/client/src/api.ts
  applications/feedback_sentiment_analyzer/client/src/store.ts
Labels: cross-service-team

#4980 FSA: Add Lambda functions in Ruby SDK
  applications/feedback_sentiment_analyzer/cdk/step-function.json
  ruby/cross_service_examples/feedback_sentiment_analyzer/comprehend_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/polly_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/texact_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/translate_lambda_handler.rb
Labels: status/in-progress

#4981 GitHub: Shoot the Shirriff
  .github/workflows/shirriff.yml
Labels: status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#4950 EC2: Remove VPC examples
  .doc_gen/metadata/ec2_metadata.yaml
Labels: status/on-call-review-complete, status/no-text-review-needed

#4993 FSA: Update lambda functions and step function definitions with working code
  applications/feedback_sentiment_analyzer/cdk/lib/constructs/step-function.json
  ruby/cross_service_examples/feedback_sentiment_analyzer/comprehend_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/polly_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/texact_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/translate_lambda_handler.rb
Labels: lang/ruby

#4988 Java V2 Updated RDS examples
  javav2/example_code/rds/pom.xml
  javav2/example_code/rds/src/main/java/com/example/rds/AuroraScenario.java
  javav2/example_code/rds/src/main/java/com/example/rds/CreateDBInstance.java
  javav2/example_code/rds/src/main/java/com/example/rds/RDSScenario.java
  javav2/example_code/rds/src/main/java/com/example/rds/User.java
  javav2/example_code/rds/src/test/java/AmazonRDSTest.java
  javav2/example_code/redshift/pom.xml
  javav2/example_code/redshift/src/main/java/com/example/redshift/CreateAndModifyCluster.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/User.java
  javav2/example_code/redshift/src/test/java/AmazonRedshiftTest.java
Labels: lang/java-v2, status/on-call-review-complete, status/text-review-complete

#4945 CPP: Lambda - update Dockerfile
  cpp/example_code/lambda/cpp_lambda/Dockerfile
  cpp/example_code/lambda/cpp_lambda/README.md
  cpp/example_code/lambda/cpp_lambda/calculator/main.cpp
  cpp/example_code/lambda/cpp_lambda/increment/CMakeLists.txt
  cpp/example_code/lambda/cpp_lambda/increment/main.cpp
  cpp/example_code/lambda/get_started_with_functions_scenario.cpp
  cpp/example_code/lambda/lambda_samples.h
Labels: lang/cpp, status/on-call-review-complete, status/text-review-complete

#4966 Kotlin Workflow SOS
  .doc_gen/cross-content/workflow_MessagesTopicsAndQueues_kotlin_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
Labels: status/on-call-review-complete, status/no-text-review-needed

#4995 Kotlin modified Kotlin database examples
  kotlin/services/rds/build.gradle.kts
  kotlin/services/rds/src/main/kotlin/com/kotlin/rds/AuroraScenario.kt
  kotlin/services/rds/src/main/kotlin/com/kotlin/rds/CreateDBInstance.kt
  kotlin/services/rds/src/main/kotlin/com/kotlin/rds/RDSScenario.kt
  kotlin/services/rds/src/main/kotlin/com/kotlin/rds/User.kt
  kotlin/services/rds/src/test/kotlin/RDSTest.kt
  kotlin/services/redshift/build.gradle.kts
  kotlin/services/redshift/src/main/kotlin/com/kotlin/redshift/CreateAndModifyCluster.kt
  kotlin/services/redshift/src/main/kotlin/com/kotlin/redshift/User.kt
  kotlin/services/redshift/src/test/kotlin/RedshiftKotlinTest.kt
Labels: lang/kotlin, status/on-call-review-complete, status/text-review-complete

#4962 JavaScript (v3): Fix broken GitHub link in PAM guide entry.
  .doc_gen/cross-content/cross_PAM_JavaScript_block.xml
Labels: status/on-call-review-complete, status/no-text-review-needed

#4990 Rust: Fix wrong service name in output
  rust_dev_preview/ssm/src/bin/create-parameter.rs
  rust_dev_preview/ssm/src/bin/describe-parameters.rs
Labels: lang/rust, status/on-call-review-complete, status/no-text-review-needed

#4960 JavaScript (v3): Enforce SSL on buckets created with the CDK.
  javascriptv3/example_code/cross-services/photo_analyzer/setup.yaml
  javascriptv3/example_code/cross-services/textract-react/setup.yaml
  javascriptv3/example_code/cross-services/transcription-app/setup.yaml
  javascriptv3/example_code/cross-services/video-analyzer/setup.yaml
  resources/cdk/javascript_example_code_transcribe_demo/package-lock.json
  resources/cdk/javascript_example_code_transcribe_demo/package.json
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
  resources/cdk/rekognition-sns-video-analyzer/package-lock.json
  resources/cdk/rekognition-sns-video-analyzer/setup.ts
  resources/cdk/textract_example_s3_sns_sqs_cognito/package-lock.json
  resources/cdk/textract_example_s3_sns_sqs_cognito/setup.ts
Labels: tool/cdk, lang/javascript-v3, status/on-call-review-complete, status/no-text-review-needed

#4985 Go: demotools: Add AskPassword, improve AskChoice, and add unit tests.
  gov2/demotools/go.mod
  gov2/demotools/go.sum
  gov2/demotools/mocks.go
  gov2/demotools/question.go
  gov2/demotools/question_test.go
Labels: lang/go-v2, status/on-call-review-complete, status/no-text-review-needed

#4947 Amazon Personalize - Replace jquery and carousel with cdns
  javav2/usecases/create_amazon_personalize_app/pom.xml
  javav2/usecases/create_amazon_personalize_app/static/web/assets/jquery.min.js
  javav2/usecases/create_amazon_personalize_app/static/web/assets/owl.carousel.min.js
  javav2/usecases/create_amazon_personalize_app/static/web/homepage.html
Labels: lang/java-v2, status/on-call-review-complete, status/no-text-review-needed

#5005 GitHub: Updates the labels, associated colors, and actions referencing those labels.
  .github/allowed-labels.yml
  .github/label-ruleset.yml
  .github/workflows/label-checker.yml
  .github/workflows/label-linter.yml
Labels: status/on-call-review-complete, type/github-settings, status/no-text-review-needed

#5010 Remove caveat banner
  .doc_gen/metadata/sdks.yaml
Labels: On Call Review complete, Text Review not needed
