Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2023-08, with the labels that each got.

#5185 Add SSM Java examples to the Code Lib
  .doc_gen/metadata/ssm_metadata.yaml
  javav2/example_code/ssm/src/main/java/com/example/ssm/PutParameter.java
Labels: On Call Review complete, Text Review not needed, Java-v2

#5212 Split auto labels and label auditing for better permission control.
  .github/workflows/label-auditor.yml
  .github/workflows/label-auto-language.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings, Bug

#5208 bash_cli_mvp_iam
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/sts_metadata.yaml
  .doc_gen/readmes/config.py
  aws-cli/bash-linux/iam/README.md
  aws-cli/bash-linux/iam/awsdocs_general.sh
  aws-cli/bash-linux/iam/iam_create_user_assume_role_scenario.sh
  aws-cli/bash-linux/iam/iam_operations.sh
  aws-cli/bash-linux/iam/tests/test_general.sh
  aws-cli/bash-linux/iam/tests/test_iam_examples.sh
Labels: CLI, On Call Review complete, Text Review not needed, MVP

#5209 C++: Add hello world documentation to language level README
  cpp/README.rst
  cpp/example_code/aurora/hello_aurora/hello_aurora.cpp
  cpp/example_code/autoscaling/hello_autoscaling/hello_autoscaling.cpp
  cpp/example_code/cognito/hello_cognito/hello_cognito.cpp
  cpp/example_code/dynamodb/hello_dynamodb/hello_dynamodb.cpp
  cpp/example_code/ec2/hello_ec2/hello_ec2.cpp
  cpp/example_code/glue/hello_glue/hello_glue.cpp
  cpp/example_code/iam/hello_iam/hello_iam.cpp
  cpp/example_code/lambda/hello_lambda/hello_lambda.cpp
  cpp/example_code/rds/hello_rds/hello_rds.cpp
  cpp/example_code/s3/hello_s3/hello_s3.cpp
  cpp/example_code/sns/hello_sns/hello_sns.cpp
  cpp/example_code/sqs/hello_sqs/hello_sqs.cpp
Labels: C++, On Call Review complete, Text Review complete

#5214 JavaScript (v3): Topics and Queues workflow
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  javascriptv3/example_code/cross-services/wkflw-topics-queues/Prompter.js
  javascriptv3/example_code/cross-services/wkflw-topics-queues/README.md
  javascriptv3/example_code/cross-services/wkflw-topics-queues/SlowLogger.js
  javascriptv3/example_code/cross-services/wkflw-topics-queues/TopicsQueuesWkflw.js
  javascriptv3/example_code/cross-services/wkflw-topics-queues/index.js
  javascriptv3/example_code/cross-services/wkflw-topics-queues/messages.js
  javascriptv3/example_code/cross-services/wkflw-topics-queues/package.json
  javascriptv3/example_code/cross-services/wkflw-topics-queues/tests/TopicsQueuesWkflw.unit.test.js
  javascriptv3/example_code/sns/README.md
  javascriptv3/example_code/sns/actions/subscribe-queue-filtered.js
  javascriptv3/example_code/sns/actions/subscribe-queue.js
  javascriptv3/example_code/sns/hello.js
  javascriptv3/example_code/sns/package.json
  javascriptv3/example_code/sns/tests/subscribe-queue.integration.test.js
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/sqs/actions/get-queue-attributes.js
  javascriptv3/example_code/sqs/actions/receive-delete-message.js
  javascriptv3/example_code/sqs/actions/set-queue-attributes.js
  javascriptv3/example_code/sqs/hello.js
  javascriptv3/example_code/sqs/tests/queue-actions.integration.test.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review complete

#5222 JavaScript (v3): Use @smithy namespace for internal packages.
  javascriptv3/example_code/eventbridge/src/package.json
  javascriptv3/example_code/eventbridge/tests/package.json
  javascriptv3/example_code/glacier/package.json
  javascriptv3/example_code/kinesis/package.json
  javascriptv3/example_code/mediaconvert/package.json
  javascriptv3/example_code/nodegetstarted/package.json
  javascriptv3/example_code/personalize/tests/package.json
  javascriptv3/example_code/polly/general-examples/src/package.json
  javascriptv3/example_code/polly/package.json
  javascriptv3/example_code/redshift/package.json
  javascriptv3/example_code/rekognition/estimate-age-example/src/package.json
  javascriptv3/example_code/s3/package.json
  javascriptv3/example_code/s3/scenarios/presigned-url-download.js
  javascriptv3/example_code/s3/scenarios/presigned-url-upload.js
  javascriptv3/package-lock.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed

#5223 JavaScript (v3): Update READMEs to reflect latest API ref location.
  javascriptv3/example_code/cloudwatch-events/README.md
  javascriptv3/example_code/cloudwatch-logs/README.md
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/codebuild/README.md
  javascriptv3/example_code/codecommit/README.md
  javascriptv3/example_code/cognito/README.md
  javascriptv3/example_code/cross-services/aurora-serverless-app/README.md
  javascriptv3/example_code/cross-services/textract-react/README.md
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/ec2/README.md
  javascriptv3/example_code/eventbridge/README.md
  javascriptv3/example_code/glacier/README.md
  javascriptv3/example_code/glue/README.md
  javascriptv3/example_code/iam/README.md
  javascriptv3/example_code/kinesis/README.md
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/mediaconvert/README.md
  javascriptv3/example_code/personalize/README.md
  javascriptv3/example_code/pinpoint/README.md
  javascriptv3/example_code/polly/README.md
  javascriptv3/example_code/redshift/README.md
  javascriptv3/example_code/rekognition/estimate-age-example/src/README.md
  javascriptv3/example_code/s3/README.md
  javascriptv3/example_code/ses/README.md
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/sts/README.md
  javascriptv3/example_code/support/README.md
  javascriptv3/example_code/transcribe/README.md
Labels: Javascript-v3, On Call Review complete, Text Review not needed

#5234 Fix metadata validator check for non-entity uses of AWS.
  .doc_gen/validation/validate_doc_metadata.py
Labels: On Call Review complete, Text Review not needed

#5221 JavaScript (v3): Clean up secrets manager.
  .doc_gen/metadata/secrets-manager_metadata.yaml
  javascriptv3/example_code/secrets-manager/README.md
  javascriptv3/example_code/secrets-manager/actions/get-secret-value.js
  javascriptv3/example_code/secrets-manager/package.json
  javascriptv3/example_code/secrets-manager/tests/secrets-manager.integration.test.js
  javascriptv3/example_code/secrets/README.md
  javascriptv3/example_code/secrets/package.json
  javascriptv3/example_code/secrets/src/libs/secretsClient.js
  javascriptv3/example_code/secrets/src/metadata.yaml
  javascriptv3/example_code/secrets/src/secrets_getsecretvalue.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed

#5244 FSA: Fix Ruby github link.
  .doc_gen/cross-content/cross_FSA_Ruby_block.xml
Labels: On Call Review complete, Text Review not needed

#5245 Moved the 2 files for Sagemaker pipelines example to under resources
  .github/pre_validate/pre_validate.py
  resources/sample_files/GeoSpatialPipeline.json
  resources/sample_files/latlongtest.csv
Labels: On Call Review complete, Text Review not needed, GitHub settings

#5250 Java v2: Update Readme.md to fix a minor typo
  javav2/usecases/workflow_sagemaker_lambda/Readme.md
Labels: On Call Review complete, Text Review complete, Java-v2

#5233 JavaScript (v3): Add links to document client in dynamodb
  .doc_gen/metadata/dynamodb_metadata.yaml
Labels: On Call Review complete, Text Review not needed

#5188 Java v2: Add IAM Policy Builder API examples
  .doc_gen/metadata/iam_metadata.yaml
  javav2/example_code/iam/Readme.md
  javav2/example_code/iam/pom.xml
  javav2/example_code/iam/src/main/java/com/example/iam/IamPolicyBuilderExamples.java
  javav2/example_code/iam/src/main/resources/log4j2.xml
  javav2/example_code/iam/src/test/java/com/example/iam/IamPolicyBuilderExamplesTest.java
Labels: On Call Review complete, Text Review complete, Java-v2

#5249 C++: Updates to SNS and SQS metadata and Readme files
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sns_metadata.yaml
  cpp/example_code/cross-service/topics_and_queues/messaging_with_topics_and_queues.cpp
  cpp/example_code/sns/README.md
  cpp/example_code/sqs/README.md
Labels: C++, On Call Review complete, Text Review not needed

#5253 Bash: Remove pagination from IAM example
  aws-cli/bash-linux/iam/iam_operations.sh
Labels: CLI, On Call Review complete, Text Review not needed

#5255 JavaScript (v3): FSA
  .doc_gen/cross-content/cross_FSA_JavaScript_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  applications/feedback_sentiment_analyzer/README.md
  applications/feedback_sentiment_analyzer/SPECIFICATION.md
  applications/feedback_sentiment_analyzer/cdk/lib/functions.ts
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/AnalyzeSentiment/.gitignore
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/AnalyzeSentiment/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/AnalyzeSentiment/rollup.config.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/AnalyzeSentiment/src/index.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/AnalyzeSentiment/tests/analyze-sentiment-handler.unit.test.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/ExtractText/.gitignore
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/ExtractText/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/ExtractText/rollup.config.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/ExtractText/src/index.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/ExtractText/tests/extract-text-handler.unit.test.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/README.md
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/SynthesizeAudio/.gitignore
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/SynthesizeAudio/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/SynthesizeAudio/rollup.config.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/SynthesizeAudio/src/index.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/SynthesizeAudio/tests/synthesize-audio-handler.unit.test.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/TranslateText/.gitignore
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/TranslateText/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/TranslateText/rollup.config.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/TranslateText/src/index.js
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/TranslateText/tests/translate-text-handler.unit.test.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review complete

#5109 cpp; update tests, all services
  cpp/.gitignore
  cpp/example_code/aurora/getting_started_with_db_clusters.cpp
  cpp/example_code/iam/CMakeLists.txt
  cpp/example_code/iam/iam_create_user_assume_role_scenario.cpp
  cpp/example_code/iam/tests/CMakeLists.txt
  cpp/example_code/iam/tests/gtest_access_key_last_used.cpp
  cpp/example_code/iam/tests/gtest_attach_role_policy.cpp
  cpp/example_code/iam/tests/gtest_create_access_key.cpp
  cpp/example_code/iam/tests/gtest_create_account_alias.cpp
  cpp/example_code/iam/tests/gtest_create_policy.cpp
  cpp/example_code/iam/tests/gtest_create_role.cpp
  cpp/example_code/iam/tests/gtest_create_user.cpp
  cpp/example_code/iam/tests/gtest_delete_access_key.cpp
  cpp/example_code/iam/tests/gtest_delete_account_alias.cpp
  cpp/example_code/iam/tests/gtest_delete_policy.cpp
  cpp/example_code/iam/tests/gtest_delete_server_certificate.cpp
  cpp/example_code/iam/tests/gtest_delete_user.cpp
  cpp/example_code/iam/tests/gtest_detach_role_policy.cpp
  cpp/example_code/iam/tests/gtest_get_policy.cpp
  cpp/example_code/iam/tests/gtest_get_server_certificate.cpp
  cpp/example_code/iam/tests/gtest_iam_create_user_assume_role_scenario.cpp
  cpp/example_code/iam/tests/gtest_list_access_keys.cpp
  cpp/example_code/iam/tests/gtest_list_account_aliases.cpp
  cpp/example_code/iam/tests/gtest_list_policies.cpp
  cpp/example_code/iam/tests/gtest_list_server_certificates.cpp
  cpp/example_code/iam/tests/gtest_list_users.cpp
  cpp/example_code/iam/tests/gtest_put_role_policy.cpp
  cpp/example_code/iam/tests/gtest_update_access_key.cpp
  cpp/example_code/iam/tests/gtest_update_server_certificate.cpp
  cpp/example_code/iam/tests/gtest_update_user.cpp
  cpp/example_code/iam/tests/iam_gtests.cpp
  cpp/example_code/iam/tests/iam_gtests.h
  cpp/example_code/iam/tests/test_main.cpp
  cpp/example_code/rds/getting_started_with_db_instances.cpp
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/list_objects.cpp
  cpp/example_code/s3/tests/CMakeLists.txt
  cpp/example_code/sts/tests/CMakeLists.txt
  cpp/example_code/sts/tests/gtest_assume_role.cpp
  cpp/example_code/sts/tests/sts_gtests.cpp
  cpp/example_code/sts/tests/sts_gtests.h
  cpp/example_code/sts/tests/test_main.cpp
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Text Review not needed

#5266 cpp; modify build all, adding hello service
  cpp/build_all_examples.sh
Labels: C++, On Call Review complete, Text Review not needed

#5265 cpp; Update minimum cmake, all services
  cpp/example_code/acm/CMakeLists.txt
  cpp/example_code/aurora/CMakeLists.txt
  cpp/example_code/aurora/hello_aurora/CMakeLists.txt
  cpp/example_code/autoscaling/CMakeLists.txt
  cpp/example_code/autoscaling/hello_autoscaling/CMakeLists.txt
  cpp/example_code/cloudtrail/CMakeLists.txt
  cpp/example_code/cloudwatch/CMakeLists.txt
  cpp/example_code/codebuild/CMakeLists.txt
  cpp/example_code/codecommit/CMakeLists.txt
  cpp/example_code/cognito/CMakeLists.txt
  cpp/example_code/cognito/hello_cognito/CMakeLists.txt
  cpp/example_code/cross-service/photo_asset_manager/CMakeLists.txt
  cpp/example_code/cross-service/serverless-aurora/CMakeLists.txt
  cpp/example_code/cross-service/topics_and_queues/CMakeLists.txt
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/hello_dynamodb/CMakeLists.txt
  cpp/example_code/ebs/CMakeLists.txt
  cpp/example_code/ec2/CMakeLists.txt
  cpp/example_code/ec2/hello_ec2/CMakeLists.txt
  cpp/example_code/efs/CMakeLists.txt
  cpp/example_code/elasticache/CMakeLists.txt
  cpp/example_code/elasticfilesystem/CMakeLists.txt
  cpp/example_code/general/CMakeLists.txt
  cpp/example_code/glacier/CMakeLists.txt
  cpp/example_code/glue/CMakeLists.txt
  cpp/example_code/glue/hello_glue/CMakeLists.txt
  cpp/example_code/guardduty/CMakeLists.txt
  cpp/example_code/iam/CMakeLists.txt
  cpp/example_code/iam/hello_iam/CMakeLists.txt
  cpp/example_code/kinesis/CMakeLists.txt
  cpp/example_code/lambda/CMakeLists.txt
  cpp/example_code/lambda/cpp_lambda/calculator/CMakeLists.txt
  cpp/example_code/lambda/cpp_lambda/increment/CMakeLists.txt
  cpp/example_code/lambda/hello_lambda/CMakeLists.txt
  cpp/example_code/mediaconvert/CMakeLists.txt
  cpp/example_code/neptune/CMakeLists.txt
  cpp/example_code/rds/CMakeLists.txt
  cpp/example_code/rds/hello_rds/CMakeLists.txt
  cpp/example_code/redshift/CMakeLists.txt
  cpp/example_code/s3-crt/CMakeLists.txt
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/hello_s3/CMakeLists.txt
  cpp/example_code/s3encryption/CMakeLists.txt
  cpp/example_code/secretsmanager/CMakeLists.txt
  cpp/example_code/ses/CMakeLists.txt
  cpp/example_code/sns/CMakeLists.txt
  cpp/example_code/sns/hello_sns/CMakeLists.txt
  cpp/example_code/sqs/CMakeLists.txt
  cpp/example_code/sqs/hello_sqs/CMakeLists.txt
  cpp/example_code/storage_gateway/CMakeLists.txt
  cpp/example_code/sts/CMakeLists.txt
  cpp/example_code/transcribe/CMakeLists.txt
  cpp/example_code/transfer-manager/CMakeLists.txt
Labels: C++, On Call Review complete, Text Review not needed

#5280 .NET v3: Update package references for S3 basics scenario.
  dotnetv3/S3/S3_Basics/S3_BasicsScenario.csproj
  dotnetv3/S3/S3_BasicsScenarioTests/S3_BasicsScenarioTests.csproj
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Bug

#5263 JavaScript (v3): FSA - Add JS to implementation lists.
  applications/README.md
  applications/feedback_sentiment_analyzer/README.md
Labels: On Call Review complete, Text Review not needed, Application

#5283 .NET v3: updating S3 and S3 Glacier broken links.
  .doc_gen/metadata/glacier_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Bug, Internal

#5278 Python: Updating broken links for APIs and removed bucket
  .doc_gen/cross-content/cross_EmrLongLivedCluster_Python_block.xml
  .doc_gen/metadata/emr_metadata.yaml
  .doc_gen/metadata/services.yaml
  python/example_code/emr/README.md
  python/example_code/emr/pyspark_top_product_keyword.py
Labels: Python, On Call Review complete, Text Review not needed, Bug, Internal

#5259 Metadata: Fix broken links.
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
Labels: On Call Review complete, Text Review not needed

#5261 bash; adding service, healthimaging
  .doc_gen/metadata/medical-imaging_metadata.yaml
  .doc_gen/metadata/services.yaml
  aws-cli/README.md
  aws-cli/bash-linux/README.md
  aws-cli/bash-linux/iam/iam_create_user_assume_role_scenario.sh
  aws-cli/bash-linux/iam/tests/test_iam_examples.sh
  aws-cli/bash-linux/medical-imaging/README.md
  aws-cli/bash-linux/medical-imaging/awsdocs_general.sh
  aws-cli/bash-linux/medical-imaging/medical_imaging_operations.sh
  aws-cli/bash-linux/medical-imaging/tests/test_general.sh
  aws-cli/bash-linux/medical-imaging/tests/test_medical_imaging_examples.sh
Labels: CLI, On Call Review complete, Text Review not needed

#5284 .NET v3: Adding additional action for SNS publishing with attributes
  .doc_gen/metadata/sns_metadata.yaml
  dotnetv3/SNS/README.md
  dotnetv3/cross-service/TopicsAndQueues/Scenarios/TopicsAndQueuesScenario/TopicsAndQueues.cs
Labels: DotNet-v3, On Call Review complete, Text Review not needed

#5282 C++: updated windows build with curl lib
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/list_buckets_disabling_dns_cache.cpp
  cpp/example_code/s3/tests/CMakeLists.txt
  cpp/example_code/transcribe/get_transcript.cpp
Labels: C++, On Call Review complete, Text Review not needed

#5204 gov2: made changes to return non nil error for UploadFile method, s3
  gov2/s3/actions/bucket_basics.go
Labels: Go-v2, On Call Review complete, Text Review not needed

#5287 .NET v3: SNS fix List the subscribes of a topic example.
  dotnetv3/SNS/ListSNSSubscriptionsExample/ListSNSSubscriptionsExample/ListSNSSubscriptionsExample.csproj
  dotnetv3/SNS/ListSNSSubscriptionsExample/ListSNSSubscriptionsExample/ListSubscriptions.cs
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Bug

#5292 Ruby - SQS - Fixes for long polling
  ruby/example_code/sqs/scenario_polling.rb
Labels: Ruby, On Call Review complete, Text Review not needed

#5290 JavaScript (v3): CodeBuild - Cleanup
  .doc_gen/metadata/codebuild_metadata.yaml
  .doc_gen/metadata/services.yaml
  javascriptv3/example_code/codebuild/README.md
  javascriptv3/example_code/codebuild/actions/create-project.js
  javascriptv3/example_code/codebuild/client.js
  javascriptv3/example_code/codebuild/package.json
  javascriptv3/example_code/codebuild/src/createProject.js
  javascriptv3/example_code/codebuild/src/libs/codeBuildClient.js
  javascriptv3/example_code/codebuild/src/package.json
  javascriptv3/example_code/codebuild/tests/babel.config.js
  javascriptv3/example_code/codebuild/tests/create-project.integration.test.js
  javascriptv3/example_code/codebuild/tests/createProject.test.js
  javascriptv3/example_code/codebuild/tests/jest.config.js
  javascriptv3/example_code/codebuild/tests/package.json
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review complete

#5291 JavaScript (v3): Add SES SendRawEmail example using nodemailer.
  .doc_gen/metadata/ses_metadata.yaml
  javascriptv3/example_code/ses/package.json
  javascriptv3/example_code/ses/src/send-with-attachments.js
  javascriptv3/example_code/ses/yarn.lock
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review complete, Bug

#5302 JavaScript (v3) - Add Hello examples.
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  .doc_gen/metadata/glue_metadata.yaml
  .doc_gen/metadata/lambda_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  javascriptv3/example_code/cognito/hello.js
  javascriptv3/example_code/cognito/tests/actions.integration.test.js
  javascriptv3/example_code/glue/hello.js
  javascriptv3/example_code/glue/tests/actions.integration.test.js
  javascriptv3/example_code/lambda/hello.js
  javascriptv3/example_code/lambda/tests/lambda-actions.integration.test.js
  javascriptv3/example_code/s3/hello.js
  javascriptv3/example_code/s3/package.json
  javascriptv3/example_code/s3/tests/hello.integration.test.js
  javascriptv3/package-lock.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Follow

#5311 Ruby - KMS, EC2, CloudWatch SoS additions
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/kms_metadata.yaml
  ruby/example_code/ec2/ec2-ruby-example-elastic-ips.rb
Labels: Ruby, On Call Review complete, Text Review not needed

#5320 Ruby - KMS, EC2, CloudWatch SoS additions - Fix
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/kms_metadata.yaml
  ruby/example_code/ec2/ec2-ruby-example-elastic-ips.rb
Labels: Ruby, On Call Review complete, Text Review not needed

#5318 .NET v3: add signature version information to presigned URL examples.
  dotnetv3/S3/GenPresignedURLExample/GenPresignedUrl.cs
  dotnetv3/S3/GenPresignedURLExample/GenPresignedUrlExample.csproj
  dotnetv3/S3/UploadUsingPresignedURLExample/UploadUsingPresignedURL.cs
  dotnetv3/S3/UploadUsingPresignedURLExample/UploadUsingPresignedURLExample.csproj
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Bug

#5300 python: add 4 single actions for medical-imaging
  .doc_gen/metadata/medical-imaging_metadata.yaml
  python/example_code/medical-imaging/README.md
  python/example_code/medical-imaging/medical_imaging_basics.py
  python/example_code/medical-imaging/requirements.txt
  python/example_code/medical-imaging/test/conftest.py
  python/example_code/medical-imaging/test/test_medical_imaging_basics.py
  python/test_tools/medical_imaging_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, On Call Review complete, Text Review not needed

#5322 Fix broken IAM basics links
  .doc_gen/metadata/iam_metadata.yaml
Labels: On Call Review complete, Text Review not needed

#5325 Ruby - Docs: Updating README's with WRITEME after adding them to SoS
  ruby/example_code/cloudwatch/README.md
  ruby/example_code/ec2/README.md
  ruby/example_code/kms/README.md
Labels: Ruby, On Call Review complete, Text Review not needed

#5321 Java: add 4 actions for HealthImaging
  .doc_gen/metadata/medical-imaging_metadata.yaml
  applications/README.md
  javav2/example_code/medicalimaging/README.md
  javav2/example_code/medicalimaging/pom.xml
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/CreateDatastore.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/DeleteDatastore.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/GetDatastore.java
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/ListDatastores.java
  javav2/example_code/medicalimaging/src/test/java/AWSMedicalImagingTest.java
Labels: On Call Review complete, Text Review not needed, Java-v2

#5328 Go - Testing - Making Go test script executable
  gov2/run_all_tests.sh
Labels: Go-v2, On Call Review complete, Text Review not needed

#5330 Rust: Restrict `clap` dependency to 4.2.x to avoid MSRV update
  .github/workflows/rust.yml
  rust_dev_preview/cross_service/detect_faces/Cargo.toml
  rust_dev_preview/cross_service/detect_labels/Cargo.toml
  rust_dev_preview/cross_service/telephone/Cargo.toml
  rust_dev_preview/examples/apigateway/Cargo.toml
  rust_dev_preview/examples/apigatewaymanagement/Cargo.toml
  rust_dev_preview/examples/applicationautoscaling/Cargo.toml
  rust_dev_preview/examples/autoscaling/Cargo.toml
  rust_dev_preview/examples/autoscalingplans/Cargo.toml
  rust_dev_preview/examples/batch/Cargo.toml
  rust_dev_preview/examples/cloudformation/Cargo.toml
  rust_dev_preview/examples/cloudwatch/Cargo.toml
  rust_dev_preview/examples/cloudwatchlogs/Cargo.toml
  rust_dev_preview/examples/cognitoidentity/Cargo.toml
  rust_dev_preview/examples/cognitoidentityprovider/Cargo.toml
  rust_dev_preview/examples/cognitosync/Cargo.toml
  rust_dev_preview/examples/concurrency/Cargo.toml
  rust_dev_preview/examples/config/Cargo.toml
  rust_dev_preview/examples/dynamodb/Cargo.toml
  rust_dev_preview/examples/ebs/Cargo.toml
  rust_dev_preview/examples/ec2/Cargo.toml
  rust_dev_preview/examples/ecr/Cargo.toml
  rust_dev_preview/examples/ecs/Cargo.toml
  rust_dev_preview/examples/eks/Cargo.toml
  rust_dev_preview/examples/firehose/Cargo.toml
  rust_dev_preview/examples/globalaccelerator/Cargo.toml
  rust_dev_preview/examples/glue/Cargo.toml
  rust_dev_preview/examples/greengrassv2/Cargo.toml
  rust_dev_preview/examples/iam/Cargo.toml
  rust_dev_preview/examples/iot/Cargo.toml
  rust_dev_preview/examples/kinesis/Cargo.toml
  rust_dev_preview/examples/kms/Cargo.toml
  rust_dev_preview/examples/lambda/Cargo.toml
  rust_dev_preview/examples/logging/logger/Cargo.toml
  rust_dev_preview/examples/logging/tracing/Cargo.toml
  rust_dev_preview/examples/medialive/Cargo.toml
  rust_dev_preview/examples/mediapackage/Cargo.toml
  rust_dev_preview/examples/polly/Cargo.toml
  rust_dev_preview/examples/qldb/Cargo.toml
  rust_dev_preview/examples/rds/Cargo.toml
  rust_dev_preview/examples/rdsdata/Cargo.toml
  rust_dev_preview/examples/route53/Cargo.toml
  rust_dev_preview/examples/s3/Cargo.toml
  rust_dev_preview/examples/sagemaker/Cargo.toml
  rust_dev_preview/examples/sdk-config/Cargo.toml
  rust_dev_preview/examples/secretsmanager/Cargo.toml
  rust_dev_preview/examples/sending-presigned-requests/Cargo.toml
  rust_dev_preview/examples/ses/Cargo.toml
  rust_dev_preview/examples/sitewise/Cargo.toml
  rust_dev_preview/examples/snowball/Cargo.toml
  rust_dev_preview/examples/sns/Cargo.toml
  rust_dev_preview/examples/sqs/Cargo.toml
  rust_dev_preview/examples/ssm/Cargo.toml
  rust_dev_preview/examples/stepfunction/Cargo.toml
  rust_dev_preview/examples/sts/Cargo.toml
  rust_dev_preview/examples/testing/Cargo.toml
  rust_dev_preview/examples/transcribestreaming/Cargo.toml
  rust_dev_preview/lambda/calculator/Cargo.toml
Labels: Rust, On Call Review complete, Text Review not needed, GitHub settings

#5335 Version defaults
  php/example_code/s3/CreateClient.php
  php/example_code/s3/ErrorHandling.php
  php/example_code/s3/ListBucketsAsync.php
  php/example_code/s3/ListBucketsResultObject.php
  php/example_code/s3/PutObjectServiceOperations.php
Labels: PHP, On Call Review complete, Text Review not needed, Bug

#5337 Fix the use of the wrong parameter.
  php/example_code/s3/CreateClient.php
Labels: PHP, On Call Review complete, Text Review not needed, Bug

#5336 .NET v3: Updates and fixes to Cognito MVP.
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  dotnetv3/Cognito/Actions/CognitoWrapper.cs
  dotnetv3/Cognito/README.md
  dotnetv3/Cognito/Scenarios/Cognito_Basics/CognitoBasics.cs
  dotnetv3/Cognito/Scenarios/Cognito_Basics/UIMethods.cs
  dotnetv3/Cognito/Scenarios/Cognito_Basics/settings.json
  resources/cdk/cognito_scenario_user_pool_with_mfa/package-lock.json
Labels: DotNet-v3, CDK, On Call Review complete, Text Review not needed, Bug

#5346 GitHub labels for stats
  .github/allowed-labels.yml
  .github/workflows/label-checker.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings
