Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-05, with the labels that each got.

#6395 .NET v3: Fixes for MediaConvert examples.
  dotnetv3/MediaConvert/Actions/HelloMediaConvert.cs
  dotnetv3/MediaConvert/Actions/MediaConvertWrapper.cs
  dotnetv3/MediaConvert/README.md
  dotnetv3/MediaConvert/Scenarios/CreateJob/CreateJob.cs
  dotnetv3/MediaConvert/Scenarios/CreateJob/settings.json
  dotnetv3/MediaConvert/Tests/MediaConvertTests.cs
  dotnetv3/MediaConvert/Tests/testsettings.json
Labels: DotNet-v3, On Call Review complete, Bug

#6396 Cpp: Multi-service update CMake for Windows static builds
  cpp/example_code/acm/CMakeLists.txt
  cpp/example_code/acm/tests/CMakeLists.txt
  cpp/example_code/aurora/CMakeLists.txt
  cpp/example_code/aurora/tests/CMakeLists.txt
  cpp/example_code/autoscaling/CMakeLists.txt
  cpp/example_code/autoscaling/tests/CMakeLists.txt
  cpp/example_code/cloudtrail/CMakeLists.txt
  cpp/example_code/cloudtrail/tests/CMakeLists.txt
  cpp/example_code/cloudwatch/CMakeLists.txt
  cpp/example_code/codebuild/CMakeLists.txt
  cpp/example_code/codebuild/tests/CMakeLists.txt
  cpp/example_code/cognito/CMakeLists.txt
  cpp/example_code/cognito/tests/CMakeLists.txt
  cpp/example_code/cross-service/serverless-aurora/CMakeLists.txt
  cpp/example_code/cross-service/serverless-aurora/tests/CMakeLists.txt
  cpp/example_code/cross-service/topics_and_queues/tests/CMakeLists.txt
  cpp/example_code/dynamodb/CMakeLists.txt
  cpp/example_code/dynamodb/tests/CMakeLists.txt
  cpp/example_code/ec2/CMakeLists.txt
  cpp/example_code/ec2/tests/CMakeLists.txt
  cpp/example_code/glue/CMakeLists.txt
  cpp/example_code/glue/tests/CMakeLists.txt
  cpp/example_code/iam/tests/CMakeLists.txt
  cpp/example_code/iot/CMakeLists.txt
  cpp/example_code/iot/hello_iot/CMakeLists.txt
  cpp/example_code/iot/tests/CMakeLists.txt
  cpp/example_code/iot/things_and_shadows_workflow/CMakeLists.txt
  cpp/example_code/lambda/CMakeLists.txt
  cpp/example_code/lambda/hello_lambda/CMakeLists.txt
  cpp/example_code/lambda/tests/CMakeLists.txt
  cpp/example_code/mediaconvert/CMakeLists.txt
  cpp/example_code/mediaconvert/tests/CMakeLists.txt
  cpp/example_code/medical-imaging/CMakeLists.txt
  cpp/example_code/medical-imaging/hello_health_imaging/CMakeLists.txt
  cpp/example_code/medical-imaging/imaging_set_and_frames_workflow/CMakeLists.txt
  cpp/example_code/medical-imaging/tests/CMakeLists.txt
  cpp/example_code/rds/CMakeLists.txt
  cpp/example_code/rds/hello_rds/CMakeLists.txt
  cpp/example_code/rds/tests/CMakeLists.txt
  cpp/example_code/s3-crt/CMakeLists.txt
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/hello_s3/CMakeLists.txt
  cpp/example_code/s3/tests/CMakeLists.txt
  cpp/example_code/s3encryption/CMakeLists.txt
  cpp/example_code/ses/CMakeLists.txt
  cpp/example_code/ses/tests/CMakeLists.txt
  cpp/example_code/sns/CMakeLists.txt
  cpp/example_code/sns/hello_sns/CMakeLists.txt
  cpp/example_code/sns/tests/CMakeLists.txt
  cpp/example_code/sqs/CMakeLists.txt
  cpp/example_code/sqs/hello_sqs/CMakeLists.txt
  cpp/example_code/sqs/tests/CMakeLists.txt
  cpp/example_code/sts/CMakeLists.txt
  cpp/example_code/sts/tests/CMakeLists.txt
  cpp/example_code/transcribe/CMakeLists.txt
  cpp/example_code/transfer-manager/CMakeLists.txt
Labels: C++, On Call Review complete, Task

#6401 JavaScript (v3): Update transcribe-streaming-app to use Webpack 5
  javascriptv3/example_code/cross-services/transcribe-streaming-app/.gitignore
  javascriptv3/example_code/cross-services/transcribe-streaming-app/README.md
  javascriptv3/example_code/cross-services/transcribe-streaming-app/package.json
  javascriptv3/example_code/cross-services/transcribe-streaming-app/public/index.html
  javascriptv3/example_code/cross-services/transcribe-streaming-app/public/style.css
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/index.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/src/libs/transcribeClient.js
  javascriptv3/example_code/cross-services/transcribe-streaming-app/webpack.config.cjs
  javascriptv3/example_code/cross-services/transcribe-streaming-app/webpack.config.js
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task

#6402 Tools: Add ailly prompts.yaml for --template-view.
  .tools/ailly/prompts.yaml
Labels: On Call Review complete, Task, Tools

#6405 Cpp: Remove some secrets manager code
  cpp/example_code/secrets-manager/CMakeLists.txt
  cpp/example_code/secrets-manager/README.md
  cpp/example_code/secrets-manager/get_secret_value.cpp
  cpp/example_code/secrets-manager/secretsmanager_samples.h
  cpp/example_code/secrets-manager/tests/CMakeLists.txt
  cpp/example_code/secrets-manager/tests/gtest_get_secret_value.cpp
  cpp/example_code/secrets-manager/tests/mock_input/GetSecretValue.json
  cpp/example_code/secrets-manager/tests/secretsmanager_gtests.cpp
  cpp/example_code/secrets-manager/tests/secretsmanager_gtests.h
  cpp/example_code/secrets-manager/tests/test_main.cpp
  cpp/example_code/secretsmanager/CMakeLists.txt
  cpp/example_code/secretsmanager/README.md
  cpp/example_code/secretsmanager/create_secret_with_string.cpp
  cpp/example_code/secretsmanager/get_secret_value.cpp
Labels: C++, On Call Review complete, Task

#6407 sap-abap: Remove UTF-8 BOM from ABAP code and fix licensing comment
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.abap
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.testclasses.abap
  sap-abap/services/cloudwatch/zcl_aws1_cwt_actions.clas.abap
  sap-abap/services/cloudwatch/zcl_aws1_cwt_actions.clas.testclasses.abap
  sap-abap/services/cloudwatch/zcl_aws1_cwt_scenario.clas.abap
  sap-abap/services/cloudwatch/zcl_aws1_cwt_scenario.clas.testclasses.abap
  sap-abap/services/dyn/zcl_aws1_dyn_actions.clas.abap
  sap-abap/services/dyn/zcl_aws1_dyn_actions.clas.testclasses.abap
  sap-abap/services/dyn/zcl_aws1_dyn_scenario.clas.abap
  sap-abap/services/dyn/zcl_aws1_dyn_scenario.clas.testclasses.abap
  sap-abap/services/ec2/zcl_aws1_ec2_actions.clas.abap
  sap-abap/services/ec2/zcl_aws1_ec2_actions.clas.testclasses.abap
  sap-abap/services/kinesis/zcl_aws1_kns_actions.clas.abap
  sap-abap/services/kinesis/zcl_aws1_kns_actions.clas.testclasses.abap
  sap-abap/services/kinesis/zcl_aws1_kns_scenario.clas.abap
  sap-abap/services/kinesis/zcl_aws1_kns_scenario.clas.testclasses.abap
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.abap
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.testclasses.abap
  sap-abap/services/lambda/zcl_aws1_lmd_scenario.clas.abap
  sap-abap/services/lambda/zcl_aws1_lmd_scenario.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.testclasses.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.testclasses.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.testclasses.abap
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.abap
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.testclasses.abap
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.abap
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.testclasses.abap
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.abap
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.testclasses.abap
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.abap
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.testclasses.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.testclasses.abap
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.abap
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.testclasses.abap
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.abap
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.testclasses.abap
Labels: On Call Review complete, Task, SAP ABAP

#6420 Python + Java: Amazon Titan Text Embeddings G1 and V2
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelAsync.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/ScenarioRunner.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/embeddings/text/G1InvokeModelQuickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/embeddings/text/G1InvokeModelScenarios.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/embeddings/text/V2InvokeModelQuickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/embeddings/text/V2InvokeModelScenarios.java
  javav2/example_code/bedrock-runtime/src/test/java/amazontitan/TestTitanEmbeddingsG1.java
  javav2/example_code/bedrock-runtime/src/test/java/amazontitan/TestTitanEmbeddingsV2.java
  python/example_code/bedrock-agent/requirements.txt
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/models/amazon/titan_embeddings_text/g1_invoke_model_quickstart.py
  python/example_code/bedrock-runtime/models/amazon/titan_embeddings_text/g1_invoke_model_scenarios.py
  python/example_code/bedrock-runtime/models/amazon/titan_embeddings_text/v2_invoke_model_quickstart.py
  python/example_code/bedrock-runtime/models/amazon/titan_embeddings_text/v2_invoke_model_scenarios.py
  python/example_code/bedrock-runtime/models/meta/llama3/invoke_model_quickstart.py
  python/example_code/bedrock-runtime/requirements.txt
  python/example_code/bedrock-runtime/test/models/amazon_titan/test_invoke_model.py
  python/example_code/bedrock-runtime/test/models/amazon_titan/test_invoke_model_quickstarts.py
  python/test_tools/bedrock_runtime_stubber.py
Labels: Python, On Call Review complete, Java-v2, Task

#6438 JavaScript (v3) - Add skip logic to Scenario in prep for object locking.
  .doc_gen/metadata/medical-imaging_metadata.yaml
  javascriptv3/example_code/libs/scenario/scenario-parser.js
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/clean-up-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/dataset-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/deploy-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/image-frame-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/image-set-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/import-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/index.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/state-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-1.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/verify-steps.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-clean-up.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-dataset.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-deploy.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-image-frame.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-import.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-verify.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/htl-img-image-set.unit.test.js
Labels: Javascript-v3, On Call Review complete, Task

#6422 Update README.md with list of Tributaries
  README.md
Labels: On Call Review complete, Task

#6442 6238 cpp s3 getobject custom response stream
  cpp/example_code/sdk-customization/CMakeLists.txt
  cpp/example_code/sdk-customization/README.md
  cpp/example_code/sdk-customization/custom_response_stream.cpp
  cpp/example_code/sdk-customization/override_default_logger.cpp
  cpp/example_code/sdk-customization/sdk_customization_samples.h
  cpp/example_code/sdk-customization/tests/CMakeLists.txt
  cpp/example_code/sdk-customization/tests/customization_gtests.cpp
  cpp/example_code/sdk-customization/tests/customization_gtests.h
  cpp/example_code/sdk-customization/tests/gtest_custom_response_stream.cpp
  cpp/example_code/sdk-customization/tests/test_main.cpp
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Task

#6441 Javav2: Monitor DDB performance
  .doc_gen/cross-content/cross_MonitorDynamoDB_Java_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  javav2/README.md
  javav2/usecases/monitor_dynamodb/README.md
  javav2/usecases/monitor_dynamodb/checkstyle.xml
  javav2/usecases/monitor_dynamodb/images/00_folder_setup.png
  javav2/usecases/monitor_dynamodb/images/01_cloudwatch_dyanamodb_browse2.png
  javav2/usecases/monitor_dynamodb/images/02_server_side_cloudwatch_latency.png
  javav2/usecases/monitor_dynamodb/images/03_sdk_api_call_duration_metric_p99.png
  javav2/usecases/monitor_dynamodb/images/04_cloudwatch_contributor_insights.png
  javav2/usecases/monitor_dynamodb/pom.xml
  javav2/usecases/monitor_dynamodb/src/main/java/org/example/DynamoDbMetricsExample.java
  javav2/usecases/monitor_dynamodb/src/main/java/org/example/Greeting.java
  javav2/usecases/monitor_dynamodb/src/main/java/org/example/GreetingsSender.java
  javav2/usecases/monitor_dynamodb/src/main/resources/log4j2.xml
  javav2/usecases/monitor_dynamodb/src/test/java/org/example/GreetingsSenderTest.java
Labels: On Call Review complete, Java-v2, Task

#6444 Java: Amazon Bedrock - Titan Text Premier
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/Bedrock-runtime/README.md
  gov2/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/pom.xml
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/ScenarioRunner.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/TriFunction.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/demo/DemoRunner.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/demo/Utils.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/demo/scenarios/ConversationScenario.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/demo/scenarios/Scenario.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/demo/scenarios/SystemPromptScenario.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/demo/scenarios/TextEmbeddingScenario.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/demo/scenarios/TitanConversationScenario.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/titan/TextEmbeddingsG1Quickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/titan/TextEmbeddingsG1Scenarios.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/titan/TextEmbeddingsV2Quickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/titan/TextEmbeddingsV2Scenarios.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/titan/TextG1Quickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/titan/TextG1Scenarios.java
  javav2/example_code/bedrock-runtime/src/test/java/models/amazon/titan/TestTitanTextEmbeddingsG1.java
  javav2/example_code/bedrock-runtime/src/test/java/models/amazon/titan/TestTitanTextEmbeddingsV2.java
  javav2/example_code/bedrock-runtime/src/test/java/models/amazon/titan/TestTitanTextG1.java
Labels: DotNet-v3, Go-v2, Javascript-v3, On Call Review complete, Java-v2, Task

#6450 Python Ruby - Linting: Move SuperLinter into standalone linters
  .github/linters/.ruby-lint.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
  .github/workflows/super-linter.yml
  python/README.md
  python/flake8.txt
  ruby/README.md
Labels: Python, Ruby, On Call Review complete, GitHub settings, Task

#6455 Revert "PHP: Remove content that shows use of account-specific endpoints"
  php/example_code/mediaconvert/CancelJob.php
  php/example_code/mediaconvert/CreateJob.php
  php/example_code/mediaconvert/CreateJobTemplate.php
  php/example_code/mediaconvert/CreateJobwPresets.php
  php/example_code/mediaconvert/GetEndpoint.php
  php/example_code/mediaconvert/GetJob.php
  php/example_code/mediaconvert/ListJobs.php
Labels: PHP, On Call Review complete, Bug

#6456 Python - Bedrock: Remove FordGPT references and make chatbot application generic.
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/0_get_models.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/0_try_claude3.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/README.md
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/REAMDE.md
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/config.yaml
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/fordgpt.jpg
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/fordgpt_v1.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/utils/einstein_resume.pdf
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/utils/upload_document.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/with_document.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/with_knowledgebase.py
Labels: Python, On Call Review complete, Task

#6460 .NET: Add Linting instructions
  dotnetv3/README.md
Labels: DotNet-v3, On Call Review complete, Task

#6459 .NET v3: SESv2 Coupon Newsletter Workflow
  .doc_gen/metadata/sesv2_metadata.yaml
  dotnetv3/SESv2/NewsLetterWorkflow/NewsLetterWorkflow.sln
  dotnetv3/SESv2/NewsLetterWorkflow/README.md
  dotnetv3/SESv2/NewsLetterWorkflow/Sesv2Scenario/NewsletterWorkflow.cs
  dotnetv3/SESv2/NewsLetterWorkflow/Sesv2Scenario/SESv2Wrapper.cs
  dotnetv3/SESv2/NewsLetterWorkflow/Sesv2Scenario/Sesv2Scenario.csproj
  dotnetv3/SESv2/NewsLetterWorkflow/Sesv2Tests/SESv2WrapperTests.cs
  dotnetv3/SESv2/NewsLetterWorkflow/Sesv2Tests/Sesv2Tests.csproj
  dotnetv3/SESv2/README.md
  workflows/sesv2_weekly_mailer/SPECIFICATION.md
Labels: DotNet-v3, On Call Review complete, Workflow, Follow

#6457 PHP: Remove content that shows use of account-specific endpoints
  php/example_code/mediaconvert/CancelJob.php
  php/example_code/mediaconvert/CreateJob.php
  php/example_code/mediaconvert/CreateJobTemplate.php
  php/example_code/mediaconvert/CreateJobwPresets.php
  php/example_code/mediaconvert/GetEndpoint.php
  php/example_code/mediaconvert/GetJob.php
  php/example_code/mediaconvert/ListJobs.php
Labels: PHP, On Call Review complete, Task

#6462 Kotlin fixed a SOS tag issue
  .doc_gen/metadata/sfn_metadata.yaml
Labels: Kotlin, On Call Review complete, Bug

#6469 JavaScript (v3): Task - Update vitest.
  javascriptv3/example_code/auto-scaling/package.json
  javascriptv3/example_code/bedrock-agent-runtime/package.json
  javascriptv3/example_code/bedrock-agent/package.json
  javascriptv3/example_code/bedrock-runtime/package.json
  javascriptv3/example_code/bedrock/package.json
  javascriptv3/example_code/cloudwatch-events/package.json
  javascriptv3/example_code/cloudwatch-logs/package.json
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/codebuild/package.json
  javascriptv3/example_code/codecommit/package.json
  javascriptv3/example_code/cognito-identity-provider/package.json
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/package.json
  javascriptv3/example_code/cross-services/aurora-serverless-app/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/AnalyzeSentiment/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/ExtractText/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/SynthesizeAudio/package.json
  javascriptv3/example_code/cross-services/feedback-sentiment-analyzer/TranslateText/package.json
  javascriptv3/example_code/cross-services/photo-asset-manager/package.json
  javascriptv3/example_code/cross-services/transcribe-streaming-app/package.json
  javascriptv3/example_code/cross-services/wkflw-resilient-service/package.json
  javascriptv3/example_code/cross-services/wkflw-topics-queues/package.json
  javascriptv3/example_code/dynamodb/package.json
  javascriptv3/example_code/ec2/package.json
  javascriptv3/example_code/elastic-load-balancing-v2/package.json
  javascriptv3/example_code/eventbridge/package.json
  javascriptv3/example_code/glue/package.json
  javascriptv3/example_code/iam/package.json
  javascriptv3/example_code/lambda/package.json
  javascriptv3/example_code/libs/package.json
  javascriptv3/example_code/mediaconvert/package.json
  javascriptv3/example_code/medical-imaging/package.json
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/package.json
  javascriptv3/example_code/nodegetstarted/package.json
  javascriptv3/example_code/personalize/package.json
  javascriptv3/example_code/pinpoint/package.json
  javascriptv3/example_code/polly/package.json
  javascriptv3/example_code/redshift/package.json
  javascriptv3/example_code/s3/package.json
  javascriptv3/example_code/sagemaker/package.json
  javascriptv3/example_code/secrets-manager/package.json
  javascriptv3/example_code/ses/package.json
  javascriptv3/example_code/sfn/package.json
  javascriptv3/example_code/sns/package.json
  javascriptv3/example_code/sqs/package.json
  javascriptv3/example_code/sts/package.json
  javascriptv3/example_code/support/package.json
  javascriptv3/example_code/transcribe/package.json
  javascriptv3/example_code/web/s3/list-objects/package.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task

#6473 Rust: remove non-idiomatic secrets manager examples.
  rustv1/examples/secretsmanager/README.md
  rustv1/examples/secretsmanager/src/bin/create-secret.rs
  rustv1/examples/secretsmanager/src/bin/list-secrets.rs
Labels: Rust, On Call Review complete, Task

#6476 Removes PHP linting from the superlinter and moves it to it's own action.
  .github/workflows/php-lint.yml
  .github/workflows/super-linter.yml
Labels: On Call Review complete, GitHub settings, Task

#6477 Tools: Update to latest -tools release.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6480 Bedrock: Add bootstrapping script for Amazon Bedrock Studio
  python/example_code/bedrock/requirements.txt
  python/example_code/bedrock/scenarios/bedrock_studio_bootstrapper.py
Labels: Python, On Call Review complete, Task

#6470 Tools: Remove writeme.py because it's no longer used and update README.md to reflect current usage
  .github/workflows/writeme.yml
  .tools/readmes/README.md
  .tools/readmes/multi.py
  .tools/readmes/writeme.py
Labels: On Call Review complete, GitHub settings, Task, Tools

#6475 Tools: Add services for cli
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/services.yaml
  javascriptv3/example_code/elastic-load-balancing-v2/README.md
  python/example_code/elastic-load-balancing/README.md
Labels: Javascript-v3, Python, On Call Review complete, Task

#6483 Hotfix: Bedrock Studio Bootstrapper
  python/example_code/bedrock/scenarios/bedrock_studio_bootstrapper.py
Labels: Python, On Call Review complete, Bug

#6484 Bedrock Studio Hotfix # 2
  .doc_gen/validation.yaml
  python/example_code/bedrock/scenarios/bedrock_studio_bootstrapper.py
Labels: Python, On Call Review complete, Bug

#6474 .NET: Code Example for AWS Message Processing Framework for .NET.
  .doc_gen/cross-content/cross_MessageProcessingFramework_Net_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  dotnetv3/SQS/README.md
  dotnetv3/cross-service/MessageProcessingFramework/Handler/Handler.csproj
  dotnetv3/cross-service/MessageProcessingFramework/Handler/Program.cs
  dotnetv3/cross-service/MessageProcessingFramework/MessageProcessingFramework.sln
  dotnetv3/cross-service/MessageProcessingFramework/Publisher/Program.cs
  dotnetv3/cross-service/MessageProcessingFramework/Publisher/Properties/launchSettings.json
  dotnetv3/cross-service/MessageProcessingFramework/Publisher/Publisher.csproj
  dotnetv3/cross-service/MessageProcessingFramework/README.md
  dotnetv3/cross-service/MessageProcessingFramework/Tests/HandlerTests.cs
  dotnetv3/cross-service/MessageProcessingFramework/Tests/MessageProcessingFrameworkTests.csproj
  dotnetv3/cross-service/MessageProcessingFramework/Tests/PublisherTests.cs
  dotnetv3/cross-service/MessageProcessingFramework/Tests/Usings.cs
  dotnetv3/cross-service/README.md
Labels: DotNet-v3, On Call Review complete, Task

#6478 Multi: Fixes for comments and duplicate selection options for Aurora and Media Convert examples.
  .doc_gen/metadata/mediaconvert_metadata.yaml
  dotnetv3/Aurora/Scenarios/AuroraScenario.cs
  python/example_code/aurora/scenario_get_started_aurora.py
Labels: DotNet-v3, Python, On Call Review complete, Bug

#6486 Adds the PHP linting instructions to the language level README.
  php/README.md
  php/composer.json
  php/composer.lock
Labels: PHP, On Call Review complete, Task

#6471 JavaScript (v3): Add S3 Object-Lock workflow.
  .doc_gen/metadata/s3_metadata.yaml
  .tools/ailly/javascript-prompts.yaml
  javascriptv3/example_code/cross-services/wkflw-resilient-service/steps-demo.js
  javascriptv3/example_code/libs/scenario/scenario-parser.js
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/example_code/libs/scenario/steps-common.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/index.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/state-steps.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-deploy.unit.test.js
  javascriptv3/example_code/s3/README.md
  javascriptv3/example_code/s3/actions/get-object-legal-hold.js
  javascriptv3/example_code/s3/actions/get-object-lock-configuration.js
  javascriptv3/example_code/s3/actions/get-object-retention.js
  javascriptv3/example_code/s3/actions/put-default-object-lock-configuration.js
  javascriptv3/example_code/s3/actions/put-object-legal-hold.js
  javascriptv3/example_code/s3/actions/put-object-lock-configuration.js
  javascriptv3/example_code/s3/actions/put-object-retention.js
  javascriptv3/example_code/s3/libs/s3Utils.js
  javascriptv3/example_code/s3/package.json
  javascriptv3/example_code/s3/scenarios/object-locking/.gitignore
  javascriptv3/example_code/s3/scenarios/object-locking/README.md
  javascriptv3/example_code/s3/scenarios/object-locking/clean.steps.js
  javascriptv3/example_code/s3/scenarios/object-locking/clean.steps.unit.test.js
  javascriptv3/example_code/s3/scenarios/object-locking/index.js
  javascriptv3/example_code/s3/scenarios/object-locking/index.unit.test.js
  javascriptv3/example_code/s3/scenarios/object-locking/object-locking.integration.test.js
  javascriptv3/example_code/s3/scenarios/object-locking/repl.steps.js
  javascriptv3/example_code/s3/scenarios/object-locking/repl.steps.unit.test.js
  javascriptv3/example_code/s3/scenarios/object-locking/setup.steps.js
  javascriptv3/example_code/s3/scenarios/object-locking/setup.steps.unit.test.js
  javascriptv3/example_code/s3/scenarios/object-locking/welcome.steps.js
  javascriptv3/example_code/s3/tests/get-object-legal-hold.integration.test.js
  javascriptv3/example_code/s3/tests/get-object-lock-configuration.integration.test.js
  javascriptv3/example_code/s3/tests/get-object-retention.integration.test.js
  javascriptv3/example_code/s3/tests/put-default-object-lock-configuration.integration.test.js
  javascriptv3/example_code/s3/tests/put-object-legal-hold.integration.test.js
  javascriptv3/example_code/s3/tests/put-object-lock-configuration.integration.test.js
  javascriptv3/example_code/s3/tests/put-object-retention.integration.test.js
  javascriptv3/example_code/s3/vite.config.js
  workflows/s3_object_lock/README.md
Labels: Javascript-v3, On Call Review complete, Workflow, Follow, Tools

#6490 Go: Added missing parameter in example usage of DynamoDB
  go/dynamodb/README.md
Labels: Go-v1, On Call Review complete, Task

#6495 Java:S3 replacement v2 examples for working with incomplete multipart uploads
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/validation.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/AbortMultipartUpload.java
  javav2/example_code/s3/src/main/java/com/example/s3/AbortMultipartUploadExamples.java
  javav2/example_code/s3/src/main/java/com/example/s3/PerformMultiPartUpload.java
  javav2/example_code/s3/src/test/java/com/example/s3/AbortMultipartUploadExamplesTest.java
Labels: On Call Review complete, Java-v2, Task

#6497 Revert "Java:S3 replacement v2 examples for working with incomplete multipart uploads"
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/validation.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/AbortMultipartUpload.java
  javav2/example_code/s3/src/main/java/com/example/s3/AbortMultipartUploadExamples.java
  javav2/example_code/s3/src/main/java/com/example/s3/PerformMultiPartUpload.java
  javav2/example_code/s3/src/test/java/com/example/s3/AbortMultipartUploadExamplesTest.java
Labels: On Call Review complete, Task

#6498 Java (v2): S3 Replace multipart upload examples.
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/validation.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/AbortMultipartUpload.java
  javav2/example_code/s3/src/main/java/com/example/s3/AbortMultipartUploadExamples.java
  javav2/example_code/s3/src/main/java/com/example/s3/PerformMultiPartUpload.java
  javav2/example_code/s3/src/test/java/com/example/s3/AbortMultipartUploadExamplesTest.java
Labels: On Call Review complete, Java-v2, Task

#6496 Fixes the location in the secrets manager yaml file
  .doc_gen/metadata/secrets-manager_metadata.yaml
Labels: On Call Review complete, Bug

#6503 Tools: Bump -tools version in metadata validator.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task
