Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-01, with the labels that each got.

#5855 Revert "JavaScript (v3): CloudWatch Logs Wkflw"
  .doc_gen/metadata/cloudwatch-logs_metadata.yaml
  .tools/validation/validator_config.py
  javascriptv3/example_code/cloudwatch-logs/package.json
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/README.md
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/cloud-watch-query.js
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/index.js
  javascriptv3/example_code/cloudwatch-logs/tests/cloudwatch-query.unit.test.js
  javascriptv3/example_code/cloudwatch-logs/vite.config.js
  javascriptv3/example_code/libs/tests/util-date.unit.test.js
  javascriptv3/example_code/libs/utils/util-date.js
  javascriptv3/example_code/libs/utils/util-timers.js
  workflows/cloudwatch_logs_large_query/README.md
  workflows/cloudwatch_logs_large_query/SPECIFICATION.md
  workflows/cloudwatch_logs_large_query/resources/.gitignore
  workflows/cloudwatch_logs_large_query/resources/make-log-files.sh
  workflows/cloudwatch_logs_large_query/resources/put-log-events.sh
  workflows/cloudwatch_logs_large_query/resources/stack.yaml
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task, Tools

#5797 Python - SecretsManager : Remove snippets from Code Library & delete unused files
  .doc_gen/metadata/secrets-manager_metadata.yaml
  python/cross_service/aurora_rest_lending_library/README.md
  python/cross_service/aurora_rest_lending_library/config.yml
  python/cross_service/aurora_rest_lending_library/library_api/chalicelib/library_data.py
  python/cross_service/aurora_rest_lending_library/library_demo.py
  python/cross_service/aurora_rest_lending_library/rds_tools/aurora_tools.py
  python/cross_service/aurora_rest_lending_library/rds_tools/test/conftest.py
  python/cross_service/aurora_rest_lending_library/rds_tools/test/test_aurora_tools.py
  python/cross_service/dynamodb_item_tracker/README.md
  resources/cdk/aurora_serverless_app/package-lock.json
  resources/cdk/aurora_serverless_app/package.json
Labels: Python, CDK, On Call Review complete, Text Review not needed, Task

#5858 JavaScript (v3): CloudWatch Logs - Large query
  .doc_gen/metadata/cloudwatch-logs_metadata.yaml
  .tools/validation/validator_config.py
  javascriptv3/example_code/cloudwatch-logs/package.json
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/README.md
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/cloud-watch-query.js
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/index.js
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/scouts/python/cloud-watch-query.py
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/scouts/rust/cloud-watch-query.rs
  javascriptv3/example_code/cloudwatch-logs/tests/cloudwatch-query.unit.test.js
  javascriptv3/example_code/cloudwatch-logs/vite.config.js
  javascriptv3/example_code/libs/tests/util-date.unit.test.js
  javascriptv3/example_code/libs/utils/util-date.js
  javascriptv3/example_code/libs/utils/util-timers.js
  workflows/cloudwatch_logs_large_query/README.md
  workflows/cloudwatch_logs_large_query/SPECIFICATION.md
  workflows/cloudwatch_logs_large_query/resources/.gitignore
  workflows/cloudwatch_logs_large_query/resources/make-log-files.sh
  workflows/cloudwatch_logs_large_query/resources/put-log-events.sh
  workflows/cloudwatch_logs_large_query/resources/stack.yaml
Labels: Javascript-v3, On Call Review complete, Text Review complete, Workflow, Scout, Tools

#5849 Tools: Drop query params on pricing links.
  .tools/readmes/includes/important.jinja2
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5850 Tools: Identify custom sdk_api_refs.
  .tools/readmes/render.py
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5842 Tools: WRITEME for javav2
  .tools/validation/validator_config.py
  javav2/README.md
  javav2/example_code/bedrock-runtime/Readme.md
  javav2/example_code/bedrock/Readme.md
  javav2/example_code/cloudfront/Readme.md
  javav2/example_code/cloudwatch/Readme.md
  javav2/example_code/comprehend/Readme.md
  javav2/example_code/dynamodb/Readme.md
  javav2/example_code/ec2/Readme.md
  javav2/example_code/ecs/Readme.md
  javav2/example_code/emr/README.md
  javav2/example_code/eventbridge/Readme.md
  javav2/example_code/firehose/Readme.md
  javav2/example_code/forecast/Readme.md
  javav2/example_code/glacier/Readme.md
  javav2/example_code/glue/Readme.md
  javav2/example_code/iam/Readme.md
  javav2/example_code/keyspaces/Readme.md
  javav2/example_code/kinesis/Readme.md
  javav2/example_code/kms/Readme.md
  javav2/example_code/lambda/Readme.md
  javav2/example_code/lookoutvision/Readme.md
  javav2/example_code/mediaconvert/Readme.md
  javav2/example_code/mediastore/Readme.md
  javav2/example_code/medicalimaging/README.md
  javav2/example_code/opensearch/Readme.md
  javav2/example_code/personalize/Readme.md
  javav2/example_code/pinpoint/Readme.md
  javav2/example_code/polly/Readme.md
  javav2/example_code/rds/Readme.md
  javav2/example_code/redshift/Readme.md
  javav2/example_code/rekognition/Readme.md
  javav2/example_code/s3/README.md
  javav2/example_code/sagemaker/Readme.md
  javav2/example_code/ses/Readme.md
  javav2/example_code/sns/Readme.md
  javav2/example_code/sqs/Readme.md
  javav2/example_code/ssm/Readme.md
  javav2/example_code/sts/Readme.md
  javav2/example_code/support/Readme.md
  javav2/example_code/textract/Readme.md
  javav2/example_code/transcribe/Readme.md
  javav2/example_code/translate/Readme.md
Labels: On Call Review complete, Text Review not needed, Java-v2, Task, Tools

#5848 Tools: WRITEME for swift
  swift/README.md
  swift/example_code/cognito-identity/README.md
  swift/example_code/iam/README.md
  swift/example_code/s3/README.md
Labels: Swift, On Call Review complete, Text Review not needed, Task

#5846 Tools: WRITEME for ruby
  ruby/example_code/cloudwatch/README.md
  ruby/example_code/codebuild/README.md
  ruby/example_code/dynamodb/README.md
  ruby/example_code/ec2/README.md
  ruby/example_code/eventbridge/README.md
  ruby/example_code/glue/README.md
  ruby/example_code/iam/README.md
  ruby/example_code/kms/README.md
  ruby/example_code/lambda/README.md
  ruby/example_code/polly/README.md
  ruby/example_code/rds/README.md
  ruby/example_code/s3/README.md
  ruby/example_code/ses/README.md
  ruby/example_code/sns/README.md
  ruby/example_code/sqs/README.md
Labels: Ruby, On Call Review complete, Text Review not needed, Task

#5851 Tools: WRITEME for rustv1.
  rustv1/examples/aurora/README.md
  rustv1/examples/auto-scaling/README.md
  rustv1/examples/batch/README.md
  rustv1/examples/cloudwatch/README.md
  rustv1/examples/dynamodb/README.md
  rustv1/examples/ebs/README.md
  rustv1/examples/ec2/README.md
  rustv1/examples/ecr/README.md
  rustv1/examples/ecs/README.md
  rustv1/examples/eks/README.md
  rustv1/examples/firehose/README.md
  rustv1/examples/glue/README.md
  rustv1/examples/iam/README.md
  rustv1/examples/iot/README.md
  rustv1/examples/kinesis/README.md
  rustv1/examples/kms/README.md
  rustv1/examples/lambda/README.md
  rustv1/examples/medialive/README.md
  rustv1/examples/mediapackage/README.md
  rustv1/examples/polly/README.md
  rustv1/examples/qldb/README.md
  rustv1/examples/rds/README.md
  rustv1/examples/s3/README.md
  rustv1/examples/sagemaker/README.md
  rustv1/examples/ses/README.md
  rustv1/examples/sns/README.md
  rustv1/examples/sqs/README.md
  rustv1/examples/ssm/README.md
  rustv1/examples/sts/README.md
  rustv1/examples/textract/README.md
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5843 Tools: WRITEME for kotlin
  .tools/validation/validator_config.py
  kotlin/README.md
  kotlin/services/bedrock/README.md
  kotlin/services/cloudwatch/Readme.md
  kotlin/services/comprehend/Readme.md
  kotlin/services/dynamodb/Readme.md
  kotlin/services/ec2/Readme.md
  kotlin/services/ecs/Readme.md
  kotlin/services/emr/Readme.md
  kotlin/services/eventbridge/Readme.md
  kotlin/services/firehose/Readme.md
  kotlin/services/forecast/Readme.md
  kotlin/services/glue/Readme.md
  kotlin/services/iam/Readme.md
  kotlin/services/keyspaces/Readme.md
  kotlin/services/kinesis/Readme.md
  kotlin/services/kms/Readme.md
  kotlin/services/lambda/Readme.md
  kotlin/services/mediaconvert/Readme.md
  kotlin/services/mediastore/Readme.md
  kotlin/services/opensearch/Readme.md
  kotlin/services/personalize/Readme.md
  kotlin/services/pinpoint/Readme.md
  kotlin/services/polly/Readme.md
  kotlin/services/rds/Readme.md
  kotlin/services/redshift/Readme.md
  kotlin/services/rekognition/Readme.md
  kotlin/services/s3/Readme.md
  kotlin/services/sagemaker/Readme.md
  kotlin/services/ses/Readme.md
  kotlin/services/sns/Readme.md
  kotlin/services/sqs/Readme.md
  kotlin/services/sts/Readme.md
  kotlin/services/support/Readme.md
  kotlin/services/textract/Readme.md
  kotlin/services/translate/Readme.md
Labels: Kotlin, On Call Review complete, Text Review not needed, Task, Tools

#5771 CFN: Resilient Workflow
  aws-cfn/cross-service/resilient-workflow/README.md
  aws-cfn/cross-service/resilient-workflow/params.json
  aws-cfn/cross-service/resilient-workflow/resilient-service.yaml
  workflows/resilient_service/resources/server.py
Labels: On Call Review complete, Text Review complete, Workflow, Follow

#5868 JavaScript (v3): DynamoDB - Update partiql list examples.
  javascriptv3/example_code/dynamodb/scenarios/partiql-batch.js
  javascriptv3/example_code/dynamodb/scenarios/partiql-single.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5870 [Metadata] Fix typos and add services
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/route53domains_metadata.yaml
  .doc_gen/metadata/sdks.yaml
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5878 JavaScript (v3): Remove some duplicated utils and refactor.
  .doc_gen/metadata/s3_metadata.yaml
  javascriptv3/example_code/cloudwatch-events/libs/client.js
  javascriptv3/example_code/cloudwatch-events/tests/cloudwatch-events.integration.test.js
  javascriptv3/example_code/cloudwatch-logs/libs/iam-helper.js
  javascriptv3/example_code/cloudwatch-logs/tests/cloudwatch-logs.integration.test.js
  javascriptv3/example_code/cloudwatch/libs/client.js
  javascriptv3/example_code/cloudwatch/libs/ec2-helper.js
  javascriptv3/example_code/ec2/scenarios/basic.js
  javascriptv3/example_code/glue/actions/create-crawler.js
  javascriptv3/example_code/glue/actions/create-job.js
  javascriptv3/example_code/glue/actions/delete-crawler.js
  javascriptv3/example_code/glue/actions/delete-database.js
  javascriptv3/example_code/glue/actions/delete-job.js
  javascriptv3/example_code/glue/actions/delete-table.js
  javascriptv3/example_code/glue/actions/get-crawler.js
  javascriptv3/example_code/glue/actions/get-database.js
  javascriptv3/example_code/glue/actions/get-databases.js
  javascriptv3/example_code/glue/actions/get-job-run.js
  javascriptv3/example_code/glue/actions/get-job-runs.js
  javascriptv3/example_code/glue/actions/get-job.js
  javascriptv3/example_code/glue/actions/get-tables.js
  javascriptv3/example_code/glue/actions/list-jobs.js
  javascriptv3/example_code/glue/actions/start-crawler.js
  javascriptv3/example_code/glue/actions/start-job-run.js
  javascriptv3/example_code/glue/non-glue-actions/s3-list-objects.js
  javascriptv3/example_code/glue/scenarios/basic/steps/start-job-run.js
  javascriptv3/example_code/glue/tests/actions.integration.test.js
  javascriptv3/example_code/lambda/tests/lambda-actions.integration.test.js
  javascriptv3/example_code/lambda/waiters/index.js
  javascriptv3/example_code/libs/prompter.js
  javascriptv3/example_code/libs/tests/util-aws-sdk.unit.test.js
  javascriptv3/example_code/libs/tests/util-io.unit.test.js
  javascriptv3/example_code/libs/utils/util-aws-sdk.js
  javascriptv3/example_code/libs/utils/util-io.js
  javascriptv3/example_code/s3/scenarios/basic.js
  javascriptv3/example_code/s3/tests/basic.unit.test.js
  javascriptv3/example_code/support/libs/client.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5809 Python - Secrets Manager - Add get_secret_value and batch single actions
  .doc_gen/metadata/secrets-manager_metadata.yaml
  .tools/readmes/config.py
  python/example_code/s3/requirements.txt
  python/example_code/secretsmanager/README.md
  python/example_code/secretsmanager/batch_get_secret_value.py
  python/example_code/secretsmanager/get_secret_value.py
  python/example_code/secretsmanager/requirements.txt
  python/example_code/secretsmanager/scenario_get_batch_secrets.py
  python/example_code/secretsmanager/scenario_get_secret.py
  python/example_code/secretsmanager/secretsmanager_basics.py
  python/example_code/secretsmanager/setup.yaml
  python/example_code/secretsmanager/test/conftest.py
  python/example_code/secretsmanager/test/test_get_secrets.py
  python/example_code/secretsmanager/test/test_secretsmanager_basics.py
  resources/cdk/python_example_code_secretsmanager_demo/.gitignore
  resources/cdk/python_example_code_secretsmanager_demo/cdk.json
  resources/cdk/python_example_code_secretsmanager_demo/package.json
  resources/cdk/python_example_code_secretsmanager_demo/setup.ts
  resources/cdk/secrets-manager/README.md
  resources/cdk/secrets-manager/bin/secrets-manager.ts
  resources/cdk/secrets-manager/cdk.json
  resources/cdk/secrets-manager/lib/secrets-manager-stack.ts
  resources/cdk/secrets-manager/package.json
  resources/cdk/secrets-manager/secretsstack.json
  resources/cdk/secrets-manager/tsconfig.json
Labels: Python, CDK, On Call Review complete, Text Review not needed, Task, Tools

#5854 .NET v3: Resilient Architecture Workflow
  .doc_gen/metadata/auto-scaling_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/elastic-load-balancing-v2_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .tools/readmes/README.md
  dotnetv3/AutoScaling/README.md
  dotnetv3/EC2/README.md
  dotnetv3/Glacier/README.md
  dotnetv3/IAM/README.md
  dotnetv3/cross-service/ResilientService/AutoScalerActions/AutoScalerActions.csproj
  dotnetv3/cross-service/ResilientService/AutoScalerActions/AutoScalerWrapper.cs
  dotnetv3/cross-service/ResilientService/ElasticLoadBalancerActions/ElasticLoadBalancerActions.csproj
  dotnetv3/cross-service/ResilientService/ElasticLoadBalancerActions/ElasticLoadBalancerWrapper.cs
  dotnetv3/cross-service/ResilientService/ParameterActions/ParameterActions.csproj
  dotnetv3/cross-service/ResilientService/ParameterActions/SMParameterWrapper.cs
  dotnetv3/cross-service/ResilientService/README.md
  dotnetv3/cross-service/ResilientService/RecommendationService/RecommendationModel.cs
  dotnetv3/cross-service/ResilientService/RecommendationService/RecommendationService.csproj
  dotnetv3/cross-service/ResilientService/RecommendationService/Recommendations.cs
  dotnetv3/cross-service/ResilientService/ResilientService.sln
  dotnetv3/cross-service/ResilientService/ResilientServiceWorkflow/ResilientService.csproj
  dotnetv3/cross-service/ResilientService/ResilientServiceWorkflow/ResilientServiceWorkflow.cs
  dotnetv3/cross-service/ResilientService/ResilientServiceWorkflow/settings.json
  dotnetv3/cross-service/ResilientService/Tests/ResilientServiceTests.cs
  dotnetv3/cross-service/ResilientService/Tests/ResilientServiceTests.csproj
  dotnetv3/cross-service/ResilientService/Tests/Usings.cs
  dotnetv3/cross-service/ResilientService/Tests/testsettings.json
  workflows/resilient_service/resources/recommendations_objects.json
Labels: DotNet-v3, On Call Review complete, Text Review not needed, Workflow, Tools

#5885 Fixed a typo in Event Bridge MVP
  javav2/example_code/eventbridge/src/main/java/com/example/eventbridge/EventbridgeMVP.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Bug, Task

#5867 JavaScript (v3): SFN - StartExecution
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sfn_metadata.yaml
  javascriptv3/example_code/sfn/README.md
  javascriptv3/example_code/sfn/actions/start-execution.js
  javascriptv3/example_code/sfn/package.json
  javascriptv3/example_code/sfn/tests/start-execution.unit.test.js
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5887 Tools: Update Python functions
  .tools/test/config/resources.yaml
  .tools/test/config/targets.yaml
  .tools/test/eventbridge_rule_with_sns_fanout/producer_stack/producer_stack.py
  .tools/test/sqs_lambda_to_batch_fargate/consumer_stack/consumer_stack.py
  .tools/test/sqs_lambda_to_batch_fargate/lambda/export_logs.py
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5889 Tools: Update docker-push.yml
  .github/workflows/docker-push.yml
Labels: Javascript-v3, On Call Review complete, Text Review not needed, GitHub settings, Task

#5888 Ruby: Glue - Quarantining test
  ruby/.gitignore
  ruby/Gemfile
  ruby/example_code/ec2/ec2-ruby-example-regions-availability-zones.rb
  ruby/example_code/elasticbeanstalk/eb_list_stacks.rb
  ruby/example_code/glue/spec/getting_started_scenario_spec.rb
  ruby/example_code/rds/list_cluster_snapshots.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_get_cskms_decrypt_item.rb
  ruby/example_code/sns/sns-ruby-example-create-subscription.rb
  ruby/example_code/sns/sns-ruby-example-enable-resource.rb
Labels: Ruby, On Call Review complete, Text Review not needed, Task

#5898 JavaScript (v3): Task - Update dockerfile
  javascriptv3/Dockerfile
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5866 Tools: Fix writeme to write render output
  .tools/readmes/multi.py
  .tools/readmes/render.py
  .tools/readmes/writeme.py
Labels: On Call Review complete, Text Review not needed, Bug, Task, Tools

#5853 Rust: Improved comments and added SoS tags
  rustv1/examples/s3/src/bin/if-modified-since.rs
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5879 removed message_group_id from example
  rustv1/examples/sqs/src/bin/sqs-hello-world.rs
Labels: Rust, On Call Review complete, Text Review not needed, Task

#5891 Delete php/example_code/cloudfront/my-private-key.pem
  php/example_code/cloudfront/my-private-key.pem
Labels: PHP, On Call Review complete, Text Review not needed, Bug, Task

#5892 Tools - Fix typo in .tools/readmes/README.md
  .tools/readmes/README.md
Labels: On Call Review complete, Text Review not needed, Task, Tools

#5890 JavaScript (v3): Task - Fix outdated cert; test improvements.
  .tools/validation/validator_config.py
  javascriptv3/example_code/cross-services/wkflw-resilient-service/tests/wkflw.integration.test.js
  javascriptv3/example_code/iam/actions/upload-server-certificate.js
  javascriptv3/example_code/iam/tests/server-certificate.integration.test.js
  resources/sample_files/README.md
  resources/sample_files/sample_cert.pem
  resources/sample_files/sample_private_key.pem
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task, Tools

#5815 Python: Requested additions to Bedrock Agents scenario
  .doc_gen/metadata/bedrock-agent_metadata.yaml
  python/example_code/bedrock-agent-runtime/README.md
  python/example_code/bedrock-agent/README.md
  python/example_code/bedrock-agent/bedrock_agent_wrapper.py
  python/example_code/bedrock-agent/scenario_get_started_with_agents.py
  python/example_code/bedrock-agent/test/test_bedrock_agent_wrapper.py
  python/test_tools/bedrock_agent_stubber.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5924 Remove text label checks and add Bug to stats
  .github/workflows/label-checker.yml
Labels: On Call Review complete, Text Review not needed, GitHub settings, Task

#5877 C++: HealthImaging scout
  .doc_gen/metadata/medical-imaging_metadata.yaml
  .tools/readmes/includes/run_instructions.jinja2
  .tools/validation/validator_config.py
  cpp/.gitignore
  cpp/Dockerfile
  cpp/example_code/acm/acm_basic_operations.cpp
  cpp/example_code/medical-imaging/CMakeLists.txt
  cpp/example_code/medical-imaging/README.md
  cpp/example_code/medical-imaging/delete_image_set.cpp
  cpp/example_code/medical-imaging/get_dicom_import_job.cpp
  cpp/example_code/medical-imaging/get_image_frame.cpp
  cpp/example_code/medical-imaging/get_image_set_metadata.cpp
  cpp/example_code/medical-imaging/hello_health_imaging/CMakeLists.txt
  cpp/example_code/medical-imaging/hello_health_imaging/README.md
  cpp/example_code/medical-imaging/hello_health_imaging/hello_health_imaging.cpp
  cpp/example_code/medical-imaging/imaging_set_and_frames_workflow/CMakeLists.txt
  cpp/example_code/medical-imaging/imaging_set_and_frames_workflow/CMakePresets.json
  cpp/example_code/medical-imaging/imaging_set_and_frames_workflow/README.md
  cpp/example_code/medical-imaging/imaging_set_and_frames_workflow/cfn_template.yaml
  cpp/example_code/medical-imaging/imaging_set_and_frames_workflow/medical_image_sets_and_frames_workflow.cpp
  cpp/example_code/medical-imaging/imaging_set_and_frames_workflow/vcpkg.json
  cpp/example_code/medical-imaging/medical-imaging_samples.h
  cpp/example_code/medical-imaging/search_image_sets.cpp
  cpp/example_code/medical-imaging/start_dicom_import_job.cpp
  cpp/example_code/medical-imaging/tests/CMakeLists.txt
  cpp/example_code/medical-imaging/tests/gtest_delete_image_set.cpp
  cpp/example_code/medical-imaging/tests/gtest_get_dicom_import_job.cpp
  cpp/example_code/medical-imaging/tests/gtest_get_image_frame.cpp
  cpp/example_code/medical-imaging/tests/gtest_get_image_set_metadata.cpp
  cpp/example_code/medical-imaging/tests/gtest_search_image_sets.cpp
  cpp/example_code/medical-imaging/tests/gtest_start_dicom_import_job.cpp
  cpp/example_code/medical-imaging/tests/medical-imaging_gtests.cpp
  cpp/example_code/medical-imaging/tests/medical-imaging_gtests.h
  cpp/example_code/medical-imaging/tests/mock_input/1-searchImageSets.json
  cpp/example_code/medical-imaging/tests/mock_input/2-searchImageSets.json
  cpp/example_code/medical-imaging/tests/mock_input/deleteImageSet.json
  cpp/example_code/medical-imaging/tests/mock_input/deleteImageSet.json.gz
  cpp/example_code/medical-imaging/tests/mock_input/getDICOMImportJob.json
  cpp/example_code/medical-imaging/tests/mock_input/startDICOMImportJob.json
  cpp/example_code/medical-imaging/tests/mock_input/test.jph
  cpp/example_code/medical-imaging/tests/test_main.cpp
  cpp/example_code/ses/CMakeLists.txt
  workflows/healthimaging_image_sets/.images/cfn_stack.png
  workflows/healthimaging_image_sets/.images/copy_dicom.png
  workflows/healthimaging_image_sets/.images/dicom_import.png
  workflows/healthimaging_image_sets/.images/get_image_frame_ids.png
  workflows/healthimaging_image_sets/README.md
  workflows/healthimaging_image_sets/SPECIFICATION.md
  workflows/healthimaging_image_sets/resources/.gitignore
  workflows/healthimaging_image_sets/resources/cdk/cdk.json
  workflows/healthimaging_image_sets/resources/cdk/package.json
  workflows/healthimaging_image_sets/resources/cdk/setup.ts
  workflows/healthimaging_image_sets/resources/cdk/tsconfig.json
  workflows/healthimaging_image_sets/resources/cfn_template.yaml
Labels: C++, On Call Review complete, Text Review not needed, Workflow, Scout, Tools

#5901 Update Pinpoint email examples to use PinpointEmailClient
  .doc_gen/metadata/pinpoint_metadata.yaml
  javav2/example_code/pinpoint/pom.xml
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/SendEmailMessage.java
  javav2/example_code/pinpoint/src/main/java/com/example/pinpoint/SendEmailMessageCC.java
  javav2/example_code/pinpoint/src/test/java/AmazonPinpointTest.java
Labels: On Call Review complete, Java-v2, Task

#5904 [Go] Updated linting scripts to run on all Go V2 folders
  gov2/bedrock-runtime/actions/invoke_model_test.go
  gov2/bedrock-runtime/actions/invoke_model_with_response_stream.go
  gov2/bedrock-runtime/hello/hello.go
  gov2/bedrock-runtime/scenarios/scenario_invoke_models.go
  gov2/bedrock/actions/foundation_model_test.go
  gov2/bedrock/hello/hello.go
  gov2/lint_all_go.bat
  gov2/lint_all_go.sh
Labels: Go-v2, On Call Review complete, Task

#5922 .NET v3: Disable failing EventBridge tests
  dotnetv3/EventBridge/Tests/EventBridgeTests.cs
Labels: DotNet-v3, Testing, On Call Review complete, Task

#5926 Java - Fix Dockerfile
  javav2/Dockerfile
Labels: On Call Review complete, Java-v2, Task

#5927 Kotlin - Fix Dockerfile
  kotlin/Dockerfile
  kotlin/run_tests.sh
Labels: Kotlin, On Call Review complete, Task

#5928 JavaScript (v3) - Fix integration tests
  javascriptv3/example_code/cross-services/wkflw-resilient-service/steps-destroy.js
  javascriptv3/example_code/sqs/tests/queue-actions.integration.test.js
Labels: Javascript-v3, On Call Review complete, Task

#5912 Tools - Fix error in CDK
  .tools/test/sqs_lambda_to_batch_fargate/consumer_stack/consumer_stack.py
Labels: On Call Review complete, Task, Tools

#5925 Go - Fix Docker run command
  gov2/Dockerfile
  gov2/run_all_tests.sh
Labels: Go-v2, On Call Review complete, Task

#5933 Workflows - Adds links to Resilient Service workflows
  workflows/resilient_service/README.md
Labels: On Call Review complete, Task

#5894 JavaScript v3: Add Examples for Basic Amazon Bedrock Actions
  .doc_gen/metadata/bedrock_metadata.yaml
  javascriptv3/example_code/bedrock/README.md
  javascriptv3/example_code/bedrock/actions/get-foundation-model.js
  javascriptv3/example_code/bedrock/actions/list-foundation-models.js
  javascriptv3/example_code/bedrock/hello.js
  javascriptv3/example_code/bedrock/package.json
  javascriptv3/example_code/bedrock/tests/get-foundation-model.integration.test.js
  javascriptv3/example_code/bedrock/tests/list-foundation-models.integration.test.js
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5932 Java V1: Added Note to Javav1 Readme
  java/README.rst
Labels: Java-v1, On Call Review complete, Task

#5929 Python: Critical bugfix for Bedrock Agent scenario
  python/example_code/bedrock-agent/scenario_get_started_with_agents.py
  python/example_code/bedrock-agent/scenario_resources/lambda_function.py
Labels: Python, On Call Review complete, Bug

#5920 Fix incorrect variable name use in two places
  rustv1/examples/s3/src/bin/if-modified-since.rs
Labels: Rust, On Call Review complete, Text Review not needed, Bug

#5863 Tools: ailly index plugin
  .tools/ailly/.gitignore
  .tools/ailly/package-lock.json
  .tools/ailly/package.json
  .tools/ailly/plugin.mjs
Labels: On Call Review complete, Task, Tools

#5931 Java V2: Update the Using Amazon Cognito to require a user to log into a Java web application to use JDK 17
  javav2/usecases/creating_amazon_cognito_app/Readme.md
  javav2/usecases/creating_amazon_cognito_app/images/clientapp.png
  javav2/usecases/creating_amazon_cognito_app/images/clientapp1.png
  javav2/usecases/creating_amazon_cognito_app/images/clientapp10.png
  javav2/usecases/creating_amazon_cognito_app/images/clientapp2.png
  javav2/usecases/creating_amazon_cognito_app/images/clientapp3.png
  javav2/usecases/creating_amazon_cognito_app/images/clientapp4.png
  javav2/usecases/creating_amazon_cognito_app/images/clientapp5.png
  javav2/usecases/creating_amazon_cognito_app/images/pic4a.png
  javav2/usecases/creating_amazon_cognito_app/images/user.png
  javav2/usecases/creating_amazon_cognito_app/images/user1.png
  javav2/usecases/creating_amazon_cognito_app/images/user5.png
  javav2/usecases/creating_amazon_cognito_app/images/userpool.png
  javav2/usecases/creating_amazon_cognito_app/images/userpool1.png
  javav2/usecases/creating_amazon_cognito_app/images/userpool2.png
  javav2/usecases/creating_amazon_cognito_app/images/webui1.png
  javav2/usecases/creating_amazon_cognito_app/pom.xml
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/GreetingApplication.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/DynamoDBEnhanced.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/Greeting.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/GreetingController.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/GreetingItems.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/PublishTextSMS.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/WebSecurityConfig.java
  javav2/usecases/creating_amazon_cognito_app/src/main/resources/application.yml
  javav2/usecases/creating_amazon_cognito_app/src/main/resources/templates/greeting.html
  javav2/usecases/creating_amazon_cognito_app/src/main/resources/templates/result.html
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5938 JavaScript (v3): Tests - Check all queue names instead of just first in SQS test; increase wait time on resilient wkflw.
  javascriptv3/example_code/cross-services/wkflw-resilient-service/steps-destroy.js
  javascriptv3/example_code/cross-services/wkflw-resilient-service/vite.config.js
  javascriptv3/example_code/sqs/tests/queue-actions.integration.test.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5944 Tools: Rust dockerfile
  rustv1/Dockerfile
  rustv1/examples/s3/src/bin/select-object-content.rs
  rustv1/run_all.sh
Labels: Rust, On Call Review complete, Task

#5947 JavaScript (v3): Fix broken link in cloudwatch workflow.
  .doc_gen/metadata/cloudwatch-logs_metadata.yaml
Labels: On Call Review complete, Bug

#5959 Kotlin updated Kotlin S3 Build file and test for presign
  kotlin/services/s3/build.gradle.kts
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/CopyObject.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/CreateBucket.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteBucket.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteBucketPolicy.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/DeleteObjects.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetAcl.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetBucketPolicy.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/GetObjectData.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/ListObjects.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/PutObject.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/S3Operations.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/SetAcl.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/SetBucketPolicy.kt
  kotlin/services/s3/src/test/kotlin/com/kotlin/s3/PresignTests.kt
Labels: Kotlin, On Call Review complete, Text Review not needed, Task

#5946 Fix: Typo in Bedrock Runtime readmes
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  gov2/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/Readme.md
  php/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/README.md
Labels: Go-v2, PHP, Python, On Call Review complete, Java-v2, Bug

#5910 Update the Kotlin pinpoint example to use pinpoint email client
  kotlin/services/pinpoint/build.gradle.kts
  kotlin/services/pinpoint/src/main/kotlin/com/kotlin/pinpoint/SendEmailMessage.kt
Labels: Kotlin, On Call Review complete, Text Review not needed, Task

#5945 Tools: Enforce SPDX headers
  .tools/validation/add_spdx.py
  .tools/validation/project_validator.py
  .tools/validation/spdx.py
  .tools/validation/validate.py
  .tools/validation/validator_config.py
  javascriptv3/example_code/bedrock/actions/get-foundation-model.js
  javascriptv3/example_code/bedrock/actions/list-foundation-models.js
  javascriptv3/example_code/bedrock/hello.js
  javascriptv3/example_code/bedrock/tests/get-foundation-model.integration.test.js
  javascriptv3/example_code/bedrock/tests/list-foundation-models.integration.test.js
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/GreetingApplication.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/DynamoDBEnhanced.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/Greeting.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/GreetingController.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/GreetingItems.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/PublishTextSMS.java
  javav2/usecases/creating_amazon_cognito_app/src/main/java/com/example/handlingformsubmission/WebSecurityConfig.java
Labels: Javascript-v3, On Call Review complete, Java-v2, Task, Tools

#5958 PHP: Updates the linting settings to be consistent with the rest of the languages.
  .github/linters/phpcs.xml
Labels: On Call Review complete, GitHub settings, Bug

#5961 GitHub: Deprecates the text labels enforcement
  .github/allowed-labels.yml
Labels: On Call Review complete, GitHub settings, Task

#5964 Java V1 Update the Readme to make it clear about Java V1 maintenance path
  README.md
Labels: On Call Review complete, Task

#5859 Tools: Snippet extractor and validator
  .doc_gen/metadata/curated/sources.yaml
  .github/workflows/validate.yml
  .gitignore
  .tools/.gitignore
  .tools/readmes/multi.py
  .tools/readmes/scanner.py
  .tools/readmes/writeme.py
  .tools/validation/doc_gen.py
  .tools/validation/file_utils.py
  .tools/validation/metadata.py
  .tools/validation/metadata_errors.py
  .tools/validation/metadata_test.py
  .tools/validation/metadata_validator.py
  .tools/validation/project_validator.py
  .tools/validation/project_validator_test.py
  .tools/validation/schema/curated_sources_schema.yaml
  .tools/validation/sdks.py
  .tools/validation/sdks.yaml
  .tools/validation/sdks_test.py
  .tools/validation/services.py
  .tools/validation/services.yaml
  .tools/validation/services_test.py
  .tools/validation/snippets.py
  .tools/validation/snippets_test.py
  .tools/validation/validate.py
  .tools/validation/validate_test.py
  .tools/validation/validator_config.py
Labels: On Call Review complete, Text Review not needed, GitHub settings, Task, Tools

#5965 Revert "Tools: Snippet extractor and validator"
  .doc_gen/metadata/curated/sources.yaml
  .doc_gen/metadata/sdks.yaml
  .doc_gen/metadata/services.yaml
  .github/workflows/validate.yml
  .gitignore
  .tools/.gitignore
  .tools/readmes/multi.py
  .tools/readmes/scanner.py
  .tools/readmes/writeme.py
  .tools/validation/doc_gen.py
  .tools/validation/file_utils.py
  .tools/validation/metadata.py
  .tools/validation/metadata_errors.py
  .tools/validation/metadata_test.py
  .tools/validation/metadata_validator.py
  .tools/validation/project_validator.py
  .tools/validation/project_validator_test.py
  .tools/validation/schema/curated_sources_schema.yaml
  .tools/validation/sdks.py
  .tools/validation/sdks_test.py
  .tools/validation/services.py
  .tools/validation/services_test.py
  .tools/validation/snippets.py
  .tools/validation/snippets_test.py
  .tools/validation/validate.py
  .tools/validation/validate_test.py
  .tools/validation/validator_config.py
Labels: On Call Review complete, GitHub settings, Task, Tools

#5967 Revert "Revert "Tools: Snippet extractor and validator""
  .doc_gen/metadata/curated/sources.yaml
  .github/workflows/validate.yml
  .gitignore
  .tools/.gitignore
  .tools/validation/doc_gen.py
  .tools/validation/file_utils.py
  .tools/validation/metadata.py
  .tools/validation/metadata_errors.py
  .tools/validation/metadata_test.py
  .tools/validation/metadata_validator.py
  .tools/validation/project_validator.py
  .tools/validation/project_validator_test.py
  .tools/validation/schema/curated_sources_schema.yaml
  .tools/validation/sdks.py
  .tools/validation/sdks_test.py
  .tools/validation/services.py
  .tools/validation/services_test.py
  .tools/validation/snippets.py
  .tools/validation/snippets_test.py
  .tools/validation/validate.py
  .tools/validation/validate_test.py
  .tools/validation/validator_config.py
Labels: On Call Review complete, GitHub settings, Task, Tools

#5911 Rust: DynamoDB Local snippet missing key details
  rustv1/examples/dynamodb/src/bin/list-tables-local.rs
Labels: Rust, On Call Review complete, Text Review not needed, Bug

#5916 Fix and consolidate Bedrock example structure
  .doc_gen/metadata/bedrock-agent_metadata.yaml
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .doc_gen/metadata/bedrock_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  gov2/bedrock/README.md
  javav2/example_code/bedrock/Readme.md
  kotlin/services/bedrock/README.md
  php/example_code/bedrock-runtime/README.md
  php/example_code/bedrock/README.md
  python/example_code/bedrock/README.md
Labels: Go-v2, Kotlin, PHP, Python, On Call Review complete, Java-v2, Task

#5969 Revert "Fix and consolidate Bedrock example structure"
  .doc_gen/metadata/bedrock-agent_metadata.yaml
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .doc_gen/metadata/bedrock_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  gov2/bedrock/README.md
  javav2/example_code/bedrock/Readme.md
  kotlin/services/bedrock/README.md
  php/example_code/bedrock-runtime/README.md
  php/example_code/bedrock/README.md
  python/example_code/bedrock/README.md
Labels: Go-v2, Kotlin, PHP, Python, On Call Review complete, Java-v2, Task

#5930 JavaScript v3: Add code examples to demonstrate the InvokeModel actions with multiple foundation models
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/actions/invoke-claude.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-jurassic2.js
  javascriptv3/example_code/bedrock-runtime/package.json
  javascriptv3/example_code/bedrock-runtime/tests/invoke-model.integration.test.js
  javascriptv3/example_code/bedrock-runtime/vite.config.js
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#5970 Workaround for doc build
  .doc_gen/metadata/bedrock-agent_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Task

#5962 [Go] Added pagination to all Go DynamoDB examples that can be paginated.
  gov2/dynamodb/README.md
  gov2/dynamodb/actions/partiql.go
  gov2/dynamodb/actions/partiql_test.go
  gov2/dynamodb/actions/table_basics.go
  gov2/dynamodb/scenarios/scenario_partiql_batch.go
  gov2/dynamodb/scenarios/scenario_partiql_batch_test.go
  gov2/dynamodb/scenarios/scenario_partiql_single_test.go
  gov2/dynamodb/stubs/partiql_stubs.go
Labels: Go-v2, On Call Review complete, Text Review not needed, Task

#5976 Rust: add empty check in delete multiple objects example for S3
  rustv1/examples/s3/src/s3-service-lib.rs
Labels: Rust, On Call Review complete, Bug

#5981 .NET v3: Fix for bug with parameters listing and add paginator in EC2 example
  dotnetv3/EC2/Actions/SsmWrapper.cs
  dotnetv3/EC2/Scenarios/EC2_Basics/EC2Basics.cs
  dotnetv3/IAM/Scenarios/IamScenariosCommon/S3Wrapper.cs
Labels: DotNet-v3, On Call Review complete, Bug

#5986 Update Go V1 README so it's not so cryptic and terse.
  go/Readme.md
Labels: Go-v1, On Call Review complete, Text Review not needed, Task

#5972 [Go] Example updates: S3 CopyObject and DeleteObjects
  .doc_gen/metadata/s3_metadata.yaml
  gov2/s3/README.md
  gov2/s3/actions/bucket_basics.go
  gov2/s3/actions/bucket_basics_test.go
  gov2/s3/scenarios/scenario_presigning_test.go
Labels: Go-v2, On Call Review complete, Text Review not needed, Task

#5955 CFN: Add resilient service rolling update mechanism
  aws-cfn/cross-service/resilient-workflow/README.md
  aws-cfn/cross-service/resilient-workflow/resilient-service.yaml
Labels: On Call Review complete, Task

#5985 Rust: Per request configuration examples
  rustv1/examples/sdk-config/src/bin/per-request-credentials.rs
  rustv1/examples/sdk-config/src/bin/per-request-retries.rs
  rustv1/examples/sdk-config/src/bin/pre-request-region.rs
Labels: Rust, On Call Review complete, Task

#5948 Java V2 Updated the S3 video render example
  javav2/usecases/create_spring_stream_app/Readme.md
  javav2/usecases/create_spring_stream_app/pom.xml
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/Application.java
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/Tags.java
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/VideoStreamController.java
  javav2/usecases/create_spring_stream_app/src/main/java/com/example/VideoStreamService.java
  kotlin/services/s3/gradle/wrapper/gradle-wrapper.jar
  kotlin/services/s3/gradle/wrapper/gradle-wrapper.properties
  kotlin/services/s3/gradlew
  kotlin/services/s3/gradlew.bat
Labels: Kotlin, On Call Review complete, Text Review not needed, Java-v2, Task

#5987 [Go] Add Movies struct to examples that use it
  .doc_gen/metadata/dynamodb_metadata.yaml
  gov2/dynamodb/README.md
  gov2/dynamodb/actions/movie.go
Labels: Go-v2, On Call Review complete, Text Review not needed, Task

#5988 Python: Fix typo in Bedrock Agents scenario comment
  python/example_code/bedrock-agent/scenario_get_started_with_agents.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#5989 JavaV2_crossservice_Fix broken link to github code base
  .doc_gen/cross-content/cross_RDSDataTracker_Java_block.xml
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#5994 Update Bedrock service names to the approved ones.
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/services.yaml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  python/example_code/bedrock-agent-runtime/README.md
  python/example_code/bedrock-agent/README.md
Labels: Python, On Call Review complete, Text Review not needed, Task

#5915 Python: Add prompt chaining scenario for Amazon Bedrock and AWS Step Functions
  .doc_gen/cross-content/cross_ServerlessPromptChaining_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  python/example_code/bedrock/README.md
Labels: Python, On Call Review complete, Text Review not needed, Task

#5995 Tools - Update Python functions & CDK
  .tools/test/eventbridge_rule_with_sns_fanout/producer_stack/producer_stack.py
  .tools/test/eventbridge_rule_with_sns_fanout/results-bucket/consolidated-results.csv
  .tools/test/eventbridge_rule_with_sns_fanout/results-bucket/results-manifest.json
  .tools/test/sqs_lambda_to_batch_fargate/README.md
  .tools/test/sqs_lambda_to_batch_fargate/app.py
  .tools/test/sqs_lambda_to_batch_fargate/consumer_stack/consumer_stack.py
  .tools/test/sqs_lambda_to_batch_fargate/lambda/export_logs.py
  ruby/example_code/s3/scenario_getting_started.rb
Labels: Ruby, On Call Review complete, Task, Tools

#5990 JavaScript v3: Add code examples to demonstrate the InvokeModel actions for Llama2 Chat & Titan Text
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/actions/invoke-llama2.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-titan-text-express-v1.js
  javascriptv3/example_code/bedrock-runtime/package.json
  javascriptv3/example_code/bedrock-runtime/tests/invoke-model.integration.test.js
Labels: Javascript-v3, On Call Review complete, Text Review not needed, Task

#6004 Python: Bedrock fix metadata
  .doc_gen/cross-content/cross_ServerlessPromptChaining_Python_block.xml
Labels: Python, On Call Review complete, Text Review not needed, Bug

#6002 Cpp: HealthImaging, text fixes
  .doc_gen/metadata/medical-imaging_metadata.yaml
  cpp/example_code/medical-imaging/hello_health_imaging/README.md
Labels: C++, On Call Review complete, Text Review not needed, Bug, revie2w

#6009 Fix service name
  .doc_gen/metadata/cross_metadata.yaml
Labels: Python, On Call Review complete, Text Review not needed, Bug

#5998 Rust: Document lint and static checks.
  rustv1/README.md
Labels: Rust, On Call Review complete, Task

#6006 [PowerShell] Add PowerShell to sdks.yaml.
  .doc_gen/metadata/sdks.yaml
Labels: On Call Review complete, Text Review not needed, Task

#6013 [Tools] Add mapped services to Go v2 SDK so that API ref links are correct.
  .doc_gen/metadata/sdks.yaml
Labels: On Call Review complete, Text Review not needed, Task

#6011 Fix: Typo in Bedrock Python example metadata
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Bug

#5999 Update sap-abap Textract sample to parse responses
  .abapgit.xml
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.abap
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.testclasses.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.testclasses.abap
Labels: On Call Review complete, Text Review not needed, Task, SAP ABAP

#6010 Java V2 Fixed a ticket and added ListBuckets example
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/src/main/java/com/example/s3/GetObjectUrl.java
  javav2/example_code/s3/src/main/java/com/example/s3/ListBuckets.java
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#6017 [Kotlin] Fix broken links in kotlin sagemaker examples.
  .doc_gen/metadata/sagemaker_metadata.yaml
Labels: On Call Review complete, Text Review not needed, Task

#6018 [Tools] Add HTML-only list of SDKs that will not be included in the PDF build
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
Labels: On Call Review complete, Text Review not needed, Task

#6020 [Tools] Add Generative AI product category to Bedrock service clients
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Text Review not needed, Task

#6028 Rust - Delete migrate_rust_dev_preview.sh
  migrate_rust_dev_preview.sh
Labels: On Call Review complete, Task

#6012 Update Aurora Serverless Spring REST app for Aurora Serverless v2
  javav2/usecases/Creating_Spring_RDS_Rest/Readme.md
  javav2/usecases/Creating_Spring_RDS_Rest/pom.xml
Labels: On Call Review complete, Text Review not needed, Java-v2, Task

#6024 Use -tools github action for validation
  .github/workflows/super-linter.yml
  .github/workflows/validate-doc-metadata.yml
  .github/workflows/validate.yml
Labels: On Call Review complete, GitHub settings, Task

#6030 Ruby - Fixes for bug caused by copyright updates
  ruby/cross_service_examples/feedback_sentiment_analyzer/comprehend_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/polly_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/textract_lambda_handler.rb
  ruby/cross_service_examples/feedback_sentiment_analyzer/translate_lambda_handler.rb
  ruby/example_code/glue/glue_wrapper.rb
  ruby/example_code/rds/spec/rds_examples_spec.rb
  ruby/example_code/ses/v2/config.rb
  ruby/helpers/waiters.rb
Labels: Ruby, On Call Review complete, Task

#6029 Cpp: Tests, debug logging
  cpp/example_code/ses/tests/ses_gtests.cpp
Labels: C++, On Call Review complete, Text Review not needed, Task

#6022 Java V2 Added Requested Batch Examples that use DynamoDB Service Client
  .doc_gen/metadata/dynamodb_metadata.yaml
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/BatchDeleteItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/BatchGetItemsPaginator.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/BatchReadItems.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/BatchWriteItems.java
Labels: On Call Review complete, Java-v2, Task

#6026 [Tools] Add service prefix to bundled examples to avoid naming collisions
  .doc_gen/cross-content/cross_ServerlessPromptChaining_Python_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/templates/zonbook/service_chapter_template.xml
Labels: On Call Review complete, Text Review not needed, Task

#6033 Kotlin: Add MRAP examples for S3
  .doc_gen/metadata/s3_metadata.yaml
  kotlin/services/s3/build.gradle.kts
  kotlin/services/s3/gradle/wrapper/gradle-wrapper.jar
  kotlin/services/s3/gradle/wrapper/gradle-wrapper.properties
  kotlin/services/s3/gradlew
  kotlin/services/s3/gradlew.bat
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/MrapExample.kt
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/S3Operations.kt
  kotlin/services/s3/src/test/kotlin/com/kotlin/s3/MrapExampleTest.kt
  kotlin/services/s3/src/test/kotlin/com/kotlin/s3/PresignTests.kt
Labels: Kotlin, On Call Review complete, Task
