Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-09, with the labels that each got.

#6805 Rust: Bump toolchain to 1.80.1
  .github/workflows/lint-rust.yml
  rustv1/cross_service/rust-toolchain.toml
  rustv1/examples/bedrock-runtime/src/bin/converse-stream.rs
  rustv1/examples/bedrock-runtime/src/bin/tool-use.rs
  rustv1/examples/cloudwatchlogs/src/bin/large-query.rs
  rustv1/examples/eks/src/bin/create-cluster.rs
  rustv1/examples/lambda/src/actions.rs
  rustv1/examples/rust-toolchain.toml
  rustv1/examples/s3/src/bin/select-object-content.rs
  rustv1/tools/set_rust_version.py
Labels: Rust, On Call Review complete, GitHub settings, Task

#6785 Update KMS scenario
  .doc_gen/metadata/kms_metadata.yaml
  javav2/example_code/kms/README.md
  javav2/example_code/kms/pom.xml
  javav2/example_code/kms/src/main/java/com/example/kms/HelloKMS.java
  javav2/example_code/kms/src/main/java/com/example/kms/scenario/KMSActions.java
  javav2/example_code/kms/src/main/java/com/example/kms/scenario/KMSScenario.java
  javav2/example_code/kms/src/main/resources/log4j2.xml
  javav2/example_code/kms/src/test/java/AmazonKMSTest.java
Labels: On Call Review complete, Java-v2, Basics

#6809 Rust: Bump Weathertop Dockerfile
  rustv1/Dockerfile
Labels: Rust, On Call Review complete, Task

#6810 JavaScript (v3) - Remove deprecated jquery usages.
  javascript/example_code/lambda/invokeLambda.html
  javascript/example_code/lambda/tutorial/slotassets.zip
  javascriptv3/example_code/cross-services/photo_analyzer/.gitignore
  javascriptv3/example_code/cross-services/photo_analyzer/README.md
  javascriptv3/example_code/cross-services/photo_analyzer/css/col.css
  javascriptv3/example_code/cross-services/photo_analyzer/css/common.css
  javascriptv3/example_code/cross-services/photo_analyzer/css/styles.css
  javascriptv3/example_code/cross-services/photo_analyzer/dist/index.html
  javascriptv3/example_code/cross-services/photo_analyzer/images/Lake1.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/Photo1.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/cloud_formation_resources_tab.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/cloud_formation_stacks.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/identity_pool_ids.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo10.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo11.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo12.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo2.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo3.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo4.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo5.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo6.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo7.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo8.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/photo9.png
  javascriptv3/example_code/cross-services/photo_analyzer/images/test.txt
  javascriptv3/example_code/cross-services/photo_analyzer/index.html
  javascriptv3/example_code/cross-services/photo_analyzer/js/index.js
  javascriptv3/example_code/cross-services/photo_analyzer/libs/rekognitionClient.js
  javascriptv3/example_code/cross-services/photo_analyzer/libs/s3Client.js
  javascriptv3/example_code/cross-services/photo_analyzer/libs/sesClient.js
  javascriptv3/example_code/cross-services/photo_analyzer/package.json
  javascriptv3/example_code/cross-services/photo_analyzer/scripts/deploy.sh
  javascriptv3/example_code/cross-services/photo_analyzer/scripts/destroy.sh
  javascriptv3/example_code/cross-services/photo_analyzer/src/constants.js
  javascriptv3/example_code/cross-services/photo_analyzer/src/index.js
  javascriptv3/example_code/cross-services/photo_analyzer/stack.yaml
  javascriptv3/example_code/cross-services/photo_analyzer/webpack.config.js
  javascriptv3/example_code/cross-services/sns-sample-app/README.md
  javascriptv3/example_code/cross-services/sns-sample-app/css/styles.css
  javascriptv3/example_code/cross-services/sns-sample-app/images/cloud_formation_resources_tab.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/cloud_formation_stacks.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/identity_pool_ids.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic1.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic2.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic3.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic4.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic5.png
  javascriptv3/example_code/cross-services/sns-sample-app/images/pic6.png
  javascriptv3/example_code/cross-services/sns-sample-app/index.html
  javascriptv3/example_code/cross-services/sns-sample-app/js/index.js
  javascriptv3/example_code/cross-services/sns-sample-app/libs/snsClient.js
  javascriptv3/example_code/cross-services/sns-sample-app/package.json
  javascriptv3/example_code/cross-services/sns-sample-app/setup.yaml
  javascriptv3/example_code/libs/package.json
  javascriptv3/example_code/libs/sdk/cfn-outputs.js
  javascriptv3/package.json
Labels: Javascript-v2, Javascript-v3, On Call Review complete, Task

#6812 JavaScript (v3): S3 - Add 'delete all objects' scenario.
  .doc_gen/metadata/s3_metadata.yaml
  javascriptv3/example_code/s3/README.md
  javascriptv3/example_code/s3/scenarios/delete-all-objects.js
Labels: Javascript-v3, On Call Review complete, Workflow

#6814 JavaScript (v3): Integration test fixes
  javascriptv3/example_code/cloudwatch-events/tests/cloudwatch-events.integration.test.js
  javascriptv3/example_code/dynamodb/scenarios/partiql-batch.js
  javascriptv3/example_code/dynamodb/scenarios/partiql-single.js
  javascriptv3/example_code/ses/vite.config.js
Labels: Javascript-v3, On Call Review complete, Task

#6778 .NET: Add S3 bucket encryption example
  .doc_gen/metadata/s3_metadata.yaml
  dotnetv3/S3/PutBucketEncryption/PutBucketEncryption.sln
  dotnetv3/S3/PutBucketEncryption/ServerSideEncryption/ServerSideEncryption.cs
  dotnetv3/S3/PutBucketEncryption/ServerSideEncryption/ServerSideEncryption.csproj
  dotnetv3/S3/PutBucketEncryption/ServerSideEncryptionTests/ServerSideEncryptionTests.cs
  dotnetv3/S3/PutBucketEncryption/ServerSideEncryptionTests/ServerSideEncryptionTests.csproj
  dotnetv3/S3/README.md
Labels: DotNet-v3, On Call Review complete, Task

#6734 Python - EC2: Audit results implemented
  python/cross_service/resilient_service/.gitignore
  python/example_code/ec2/README.md
  python/example_code/ec2/elastic_ip.py
  python/example_code/ec2/hello/hello_ec2.py
  python/example_code/ec2/instance.py
  python/example_code/ec2/key_pair.py
  python/example_code/ec2/requirements.txt
  python/example_code/ec2/scenario_get_started_instances.py
  python/example_code/ec2/security_group.py
  python/example_code/ec2/test/conftest.py
  python/example_code/ec2/test/test_associate_elastic_ip.py
  python/example_code/ec2/test/test_cleanup.py
  python/example_code/ec2/test/test_create_and_list_key_pairs.py
  python/example_code/ec2/test/test_create_instance.py
  python/example_code/ec2/test/test_create_security_group.py
  python/example_code/ec2/test/test_scenario_get_started_instances.py
  python/example_code/ec2/test/test_scenario_get_started_instances_integ.py
  python/example_code/ec2/test/test_stop_and_start_instance.py
Labels: Python, On Call Review complete, Task

#6815 JavaScript (v3): Remove messaging app
  javascriptv3/example_code/cross-services/message-app/README.md
  javascriptv3/example_code/cross-services/message-app/css/styles.css
  javascriptv3/example_code/cross-services/message-app/images/av1.png
  javascriptv3/example_code/cross-services/message-app/images/av2.png
  javascriptv3/example_code/cross-services/message-app/images/client.png
  javascriptv3/example_code/cross-services/message-app/images/client1a.png
  javascriptv3/example_code/cross-services/message-app/images/client2.png
  javascriptv3/example_code/cross-services/message-app/images/client2a.png
  javascriptv3/example_code/cross-services/message-app/images/client2b.png
  javascriptv3/example_code/cross-services/message-app/images/client2c.png
  javascriptv3/example_code/cross-services/message-app/images/client3.png
  javascriptv3/example_code/cross-services/message-app/images/client4.png
  javascriptv3/example_code/cross-services/message-app/images/client5.png
  javascriptv3/example_code/cross-services/message-app/images/client6.png
  javascriptv3/example_code/cross-services/message-app/images/foo.txt
  javascriptv3/example_code/cross-services/message-app/images/site-logo.png
  javascriptv3/example_code/cross-services/message-app/index.html
  javascriptv3/example_code/cross-services/message-app/js/index.js
  javascriptv3/example_code/cross-services/message-app/js/libs/sqsClient.js
  javascriptv3/example_code/cross-services/message-app/package.json
  javascriptv3/example_code/cross-services/message-app/setup.yaml
Labels: Javascript-v3, On Call Review complete, Task

#6726 Python: Bedrock Runtime async streaming example.
  python/example_code/bedrock-runtime/models/anthropic_claude/converse_async.py
Labels: Python, On Call Review complete, Task

#6816 Go: Remove obsolete Go App Runner CDK example.
  resources/cdk/go-apprunner/README.md
  resources/cdk/go-apprunner/app/Dockerfile
  resources/cdk/go-apprunner/app/go.mod
  resources/cdk/go-apprunner/app/go.sum
  resources/cdk/go-apprunner/app/main.go
  resources/cdk/go-apprunner/cdk.json
  resources/cdk/go-apprunner/go-arcdk.go
  resources/cdk/go-apprunner/go.mod
  resources/cdk/go-apprunner/go.sum
Labels: CDK, On Call Review complete, Task

#6789 Python - EC2: Audit results implemented (Pt. 2)
  python/cross_service/resilient_service/.gitignore
  python/cross_service/resilient_service/auto_scaler.py
  python/cross_service/resilient_service/conftest.py
  python/cross_service/resilient_service/load_balancer.py
  python/cross_service/resilient_service/parameters.py
  python/cross_service/resilient_service/recommendation_service.py
  python/cross_service/resilient_service/requirements.txt
  python/cross_service/resilient_service/runner.py
  python/cross_service/resilient_service/test/pytest.ini
  python/cross_service/resilient_service/test/resources/server.py
  python/cross_service/resilient_service/test/test_demo.py
  python/cross_service/resilient_service/test/test_deploy.py
  python/cross_service/resilient_service/test/test_destroy.py
  python/cross_service/resilient_service/test/test_runner_integ.py
  python/example_code/auto-scaling/README.md
  python/example_code/auto-scaling/action_wrapper.py
  python/example_code/auto-scaling/hello/hello_autoscaling.py
  python/example_code/auto-scaling/scenario_groups_and_instances.py
  python/example_code/auto-scaling/test/conftest.py
  python/example_code/auto-scaling/test/test_action_wrapper.py
  python/example_code/auto-scaling/test/test_scenario_groups_and_instances.py
  python/example_code/ec2/README.md
  python/example_code/elastic-load-balancing/README.md
  python/example_code/iam/README.md
Labels: Python, On Call Review complete, Task

#6760 Rust: Update localstack and dynamodb-local examples for Guide updates.
  .doc_gen/metadata/dynamodb_metadata.yaml
  rustv1/examples/dynamodb/README.md
  rustv1/examples/dynamodb/src/bin/list-tables-local.rs
  rustv1/examples/localstack/Cargo.toml
  rustv1/examples/localstack/aws_config
  rustv1/examples/localstack/src/bin/use-localstack.rs
Labels: Rust, On Call Review complete, Task

#6821 Go: Updated Go version and imported modules for demotools and testtools.
  gov2/demotools/go.mod
  gov2/demotools/go.sum
  gov2/testtools/go.mod
  gov2/testtools/go.sum
Labels: Go-v2, On Call Review complete, Task

#6827 JavaScript (v3): Refactor integration test names.
  javascriptv3/example_code/cognito-identity-provider/tests/cognito-idp-actions.integration.test.js
  javascriptv3/example_code/cross-services/wkflw-resilient-service/tests/wkflw-resilient-service.integration.test.js
  javascriptv3/example_code/dynamodb/tests/dynamodb-hello.integration.test.js
  javascriptv3/example_code/ec2/tests/ec2-basic.integration.test.js
  javascriptv3/example_code/elastic-load-balancing-v2/tests/elb-v2-hello.integration.test.js
  javascriptv3/example_code/glue/tests/glue-actions.integration.test.js
  javascriptv3/example_code/iam/tests/iam-client.integration.test.js
  javascriptv3/example_code/iam/tests/iam-hello.integration.test.js
  javascriptv3/example_code/nodegetstarted/tests/nodegetstarted-index.integration.test.js
  javascriptv3/example_code/s3/tests/s3-hello.integration.test.js
Labels: Javascript-v3, On Call Review complete, Task

#6828 Python: Add additional snippet tags for setup.
  python/example_code/secretsmanager/scenario_get_secret.py
Labels: Python, On Call Review complete, Task

#6829 JavaScript (v3): Glue - Make clean up more robust.
  javascriptv3/example_code/glue/package.json
  javascriptv3/example_code/glue/tests/glue-actions.integration.test.js
  javascriptv3/example_code/glue/vite.config.js
Labels: Javascript-v3, On Call Review complete, Task

#6833 Bring service configuration sample up-to-date
  swift/example_code/swift-sdk/config/Package.swift
  swift/example_code/swift-sdk/config/Sources/ConfigExample.swift
Labels: Swift, On Call Review complete, Task

#6834 Change "Agents for Amazon Bedrock" to "Amazon Bedrock Agents"
  .doc_gen/cross-content/cross_ServerlessPromptChaining_Python_block.xml
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/bedrock-agent_metadata.yaml
  .github/workflows/validate-doc-metadata.yml
  .gitignore
  javascriptv3/example_code/bedrock-agent-runtime/README.md
  javascriptv3/example_code/bedrock-agent/README.md
  python/example_code/bedrock-agent-runtime/README.md
  python/example_code/bedrock-agent-runtime/bedrock_agent_runtime_wrapper.py
  python/example_code/bedrock-agent/README.md
  python/example_code/bedrock-agent/bedrock_agent_wrapper.py
  python/example_code/bedrock-agent/scenario_get_started_with_agents.py
  python/test_tools/bedrock_agent_runtime_stubber.py
  python/test_tools/bedrock_agent_stubber.py
Labels: Javascript-v3, Python, On Call Review complete, GitHub settings, Task

#6791 JavaV2: Update sns RegistrationExample formatting
  javav2/example_code/sns/src/main/java/com/example/sns/RegistrationExample.java
Labels: On Call Review complete, Java-v2, Bug

#6836 Swift:S3 update basics
  .doc_gen/metadata/s3_metadata.yaml
  swift/example_code/s3/DeleteObjects/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/S3Session.swift
  swift/example_code/s3/README.md
  swift/example_code/s3/basics/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/basics/Sources/basics/basics.swift
  swift/example_code/s3/basics/Tests/basics-tests/basics-tests.swift
  swift/modules/SwiftUtilities/Package.swift
Labels: Swift, On Call Review complete, Task

#6695 English: Updated callIndex for awsm_stubber for testtools
  gov2/testtools/awsm_stubber.go
Labels: Go-v2, On Call Review complete, Task

#6840 Update Swift waiters example to work on latest SDK
  swift/example_code/swift-sdk/Waiters/Package.swift
  swift/example_code/swift-sdk/Waiters/Sources/S3Session.swift
  swift/example_code/swift-sdk/Waiters/Sources/waiters.swift
  swift/example_code/swift-sdk/Waiters/Tests/Waiters-Tests.swift
Labels: Swift, On Call Review complete, Task

#6843 Update retry example for latest SDK (Prep for GA)
  swift/example_code/swift-sdk/retry/Package.swift
  swift/example_code/swift-sdk/retry/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#6844 Update writeme workflow to include diff
  .github/workflows/writeme.yml
Labels: On Call Review complete, GitHub settings, Task

#6848 Tools: Allow skipping writeme update with --no-update
  .tools/readmes/runner.py
  .tools/readmes/snippets.py
  .tools/readmes/update.py
  .tools/readmes/writeme.py
Labels: On Call Review complete, Task, Tools

#6849 Tools: Refactor writeme scanner snippet
  .tools/readmes/scanner.py
Labels: On Call Review complete, Task, Tools

#6845 Fix example used for Getting Started chapter
  swift/example_code/s3/ListBuckets-Simple/Package.swift
  swift/example_code/s3/ListBuckets-Simple/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#6851 Weathertop: Pause JSV3 runs
  javascriptv3/Dockerfile
Labels: Javascript-v3, On Call Review complete, Task

#6852 .NET: Scheduler example update SNS topic.
  workflows/eventbridge_scheduler/resources/cfn_template.yaml
Labels: On Call Review complete, Bug

#6854 tools: Update tools to 2024-09-13-B
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6856 Tools - Weathertop - Change cadence
  .tools/test/stacks/admin/typescript/admin_stack.ts
Labels: On Call Review complete, Task, Tools

#6853 JavaScript (v3): Integration test fixes.
  javascriptv3/Dockerfile
  javascriptv3/example_code/dynamodb/scenarios/partiql-batch.js
  javascriptv3/example_code/iam/scenarios/basic.js
  javascriptv3/example_code/iam/vite.config.js
  javascriptv3/example_code/s3/libs/s3Utils.js
  javascriptv3/example_code/ses/tests/create-receipt-rule.integration.test.js
  javascriptv3/example_code/ses/tests/send-bulk-templated-email.integration.test.js
  javascriptv3/example_code/ses/tests/send-templated-email.integration.test.js
  javascriptv3/example_code/ses/vite.config.js
Labels: Javascript-v3, On Call Review complete, Task

#6850 Tools: Bug in writeme snippet link order
  .tools/readmes/scanner.py
  aws-cli/bash-linux/s3/README.md
  cpp/example_code/aurora/README.md
  cpp/example_code/dynamodb/README.md
  cpp/example_code/ec2/README.md
  cpp/example_code/iam/README.md
  cpp/example_code/rds/README.md
  cpp/example_code/s3/README.md
  cpp/example_code/sqs/README.md
  dotnetv3/AutoScaling/README.md
  dotnetv3/IAM/README.md
  dotnetv3/Keyspaces/README.md
  dotnetv3/S3/README.md
  dotnetv3/StepFunctions/README.md
  dotnetv3/dynamodb/README.md
  gov2/s3/README.md
  javascriptv3/example_code/cognito-identity-provider/README.md
  javascriptv3/example_code/glue/README.md
  php/example_code/dynamodb/README.md
  php/example_code/glue/README.md
  php/example_code/iam/README.md
  php/example_code/s3/README.md
  python/example_code/cognito/README.md
  python/example_code/kms/README.md
  python/example_code/polly/README.md
  python/example_code/rekognition/README.md
  python/example_code/s3/README.md
  python/example_code/ssm/README.md
  python/example_code/support/README.md
  ruby/example_code/dynamodb/README.md
  rustv1/examples/aurora/README.md
  rustv1/examples/auto-scaling/README.md
  rustv1/examples/lambda/README.md
  swift/example_code/cognito-identity/README.md
  swift/example_code/dynamodb/README.md
  swift/example_code/iam/README.md
Labels: C++, DotNet-v3, Go-v2, Javascript-v3, PHP, Python, Ruby, Rust, Swift, CLI, On Call Review complete, Bug, Tools

#6865 Add Basics Scenario for OpenSearch
  .doc_gen/metadata/opensearch_metadata.yaml
  basics_scenarios/opensearch_scenario/README.md
  basics_scenarios/opensearch_scenario/SPECIFICATION.md
  javav2/example_code/opensearch/README.md
  javav2/example_code/opensearch/pom.xml
  javav2/example_code/opensearch/src/main/java/com/example/search/CreateDomain.java
  javav2/example_code/opensearch/src/main/java/com/example/search/DeleteDomain.java
  javav2/example_code/opensearch/src/main/java/com/example/search/HelloOpenSearch.java
  javav2/example_code/opensearch/src/main/java/com/example/search/ListDomainNames.java
  javav2/example_code/opensearch/src/main/java/com/example/search/UpdateDomain.java
  javav2/example_code/opensearch/src/main/java/com/example/search/scenario/OpenSearchActions.java
  javav2/example_code/opensearch/src/main/java/com/example/search/scenario/OpenSearchScenario.java
  javav2/example_code/opensearch/src/main/resources/log4j2.xml
  javav2/example_code/opensearch/src/test/java/OpenSearchTest.java
Labels: On Call Review complete, Java-v2, Basics

#6866 JavaScript (v3): Tests: Ensure integ test exit code comes from tests not outputs.
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task

#6872 JavaScript (v3): Kinesis - Replace web example with single action
  .doc_gen/metadata/kinesis_metadata.yaml
  javascriptv3/.eslintignore
  javascriptv3/example_code/kinesis/README.md
  javascriptv3/example_code/kinesis/actions/put-records.js
  javascriptv3/example_code/kinesis/kinesis-cdk/.gitignore
  javascriptv3/example_code/kinesis/kinesis-cdk/.npmignore
  javascriptv3/example_code/kinesis/kinesis-cdk/README.md
  javascriptv3/example_code/kinesis/kinesis-cdk/bin/kinesis-cdk.ts
  javascriptv3/example_code/kinesis/kinesis-cdk/cdk.json
  javascriptv3/example_code/kinesis/kinesis-cdk/lib/kinesis-cdk-stack.ts
  javascriptv3/example_code/kinesis/kinesis-cdk/package.json
  javascriptv3/example_code/kinesis/kinesis-cdk/tsconfig.json
  javascriptv3/example_code/kinesis/package.json
  javascriptv3/example_code/kinesis/src/blog_page.html
  javascriptv3/example_code/kinesis/src/kinesis-example.js
  javascriptv3/example_code/kinesis/src/libs/kinesisClient.js
  javascriptv3/example_code/kinesis/src/setup.yaml
  javascriptv3/example_code/kinesis/stack.yaml
  javascriptv3/example_code/kinesis/tests/kinesis-actions.integration.test.js
  javascriptv3/example_code/kinesis/vite.config.js
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task

#6867 Changes to build and pass tests
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Package.swift
  swift/example_code/dynamodb/BatchGetItem/Package.swift
  swift/example_code/dynamodb/BatchGetItem/Sources/batchgetitem.swift
  swift/example_code/dynamodb/BatchGetItem/Tests/MovieTests.swift
  swift/example_code/dynamodb/ListTables/Package.swift
  swift/example_code/dynamodb/ListTables/Sources/listtables.swift
  swift/example_code/dynamodb/ListTables/Tests/ListTablesTests.swift
  swift/example_code/dynamodb/basics/Package.swift
  swift/example_code/dynamodb/basics/Tests/MovieTableTests.swift
  swift/example_code/iam/AttachRolePolicy/Package.swift
  swift/example_code/iam/AttachRolePolicy/Tests/AttachRolePolicyTests/AttachRolePolicyTests.swift
  swift/example_code/iam/CreateRole/Package.swift
  swift/example_code/iam/CreateRole/Tests/CreateRoleTests/CreateRoleTests.swift
  swift/example_code/iam/CreateServiceLinkedRole/Package.swift
  swift/example_code/iam/CreateServiceLinkedRole/Tests/CreateServiceLinkedRoleTests/CreateServiceLinkedRoleTests.swift
  swift/example_code/iam/CreateUser/Package.swift
  swift/example_code/iam/CreateUser/Tests/CreateUserTests/CreateUserTests.swift
  swift/example_code/iam/GetPolicy/Package.swift
  swift/example_code/iam/GetPolicy/Tests/GetPolicyTests/GetPolicyTests.swift
  swift/example_code/iam/GetRole/Package.swift
  swift/example_code/iam/GetRole/Tests/GetRoleTests/GetRoleTests.swift
  swift/example_code/iam/ListAttachedRolePolicies/Package.swift
  swift/example_code/iam/ListAttachedRolePolicies/Tests/ListAttachedRolePoliciesTests/ListAttachedRolePoliciesTests.swift
  swift/example_code/iam/ListGroups/Package.swift
  swift/example_code/iam/ListGroups/Tests/ListGroupsTests/ListGroupsTests.swift
  swift/example_code/iam/ListPolicies/Package.swift
  swift/example_code/iam/ListPolicies/Tests/ListPoliciesTests/ListPoliciesTests.swift
  swift/example_code/iam/ListRolePolicies/Package.swift
  swift/example_code/iam/ListRolePolicies/Tests/ListRolePoliciesTests/ListRolePoliciesTests.swift
  swift/example_code/iam/ListRoles/Package.swift
  swift/example_code/iam/ListRoles/Tests/ListRolesTests/ListRolesTests.swift
  swift/example_code/iam/ListUsers/Package.swift
  swift/example_code/iam/ListUsers/Tests/ListUsersTests/ListUsersTests.swift
  swift/example_code/iam/basics/Tests/BasicsTests/BasicsTests.swift
  swift/example_code/lambda/using-lambda-runtime/Package.swift
  swift/example_code/lambda/using-lambda-runtime/test.sh
  swift/example_code/s3/DeleteObjects/Package.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/DeleteObjectsTests.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/ServiceHandler_Ext.swift
  swift/example_code/s3/ListBuckets/Package.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/S3Session.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/listbuckets.swift
  swift/example_code/s3/ListBuckets/Tests/ListBucketsTests/ListBucketsTests.swift
  swift/example_code/s3/basics/Package.swift
  swift/example_code/swift-sdk/ErrorHandling/Package.swift
  swift/example_code/swift-sdk/ErrorHandling/Sources/entry.swift
  swift/example_code/swift-sdk/ErrorHandling/test.sh
  swift/example_code/swift-sdk/Waiters/Package.swift
  swift/example_code/swift-sdk/Waiters/test.sh
  swift/example_code/swift-sdk/config/Package.swift
  swift/example_code/swift-sdk/mocking/Package.swift
  swift/example_code/swift-sdk/mocking/Tests/mocking-tests.swift
  swift/example_code/swift-sdk/retry/Package.swift
  swift/example_code/swift-sdk/retry/Sources/entry.swift
  swift/example_code/swift-sdk/retry/test.sh
Labels: Swift, On Call Review complete, Task

#6877 JavaScript (v3): Kinesis - Update CDK/CFN deletion policy to delete stream on stack deletion.
  javascriptv3/example_code/kinesis/kinesis-cdk/lib/kinesis-cdk-stack.ts
  javascriptv3/example_code/kinesis/stack.yaml
Labels: Javascript-v3, On Call Review complete, Task

#6857 Tools - Weathertop: Add clarification to README
  .tools/test/stacks/plugin/README.md
Labels: On Call Review complete, Task, Tools

#6878 JavaScript (v3): Tests - Silence console output during full unit test run.
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task

#6876 PAM: Fix broken links.
  applications/photo-asset-manager/SPECIFICATION.md
Labels: On Call Review complete, Bug

#6881 Post GA changes for Swift SDK
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Package.swift
  swift/example_code/dynamodb/BatchGetItem/Package.swift
  swift/example_code/dynamodb/ListTables/Package.swift
  swift/example_code/dynamodb/basics/Package.swift
  swift/example_code/iam/AttachRolePolicy/Package.swift
  swift/example_code/iam/AttachRolePolicy/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateRole/Package.swift
  swift/example_code/iam/CreateRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateServiceLinkedRole/Package.swift
  swift/example_code/iam/CreateServiceLinkedRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateUser/Package.swift
  swift/example_code/iam/CreateUser/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/GetPolicy/Package.swift
  swift/example_code/iam/GetPolicy/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/GetRole/Package.swift
  swift/example_code/iam/GetRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListAttachedRolePolicies/Package.swift
  swift/example_code/iam/ListAttachedRolePolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListGroups/Package.swift
  swift/example_code/iam/ListGroups/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListPolicies/Package.swift
  swift/example_code/iam/ListPolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListRolePolicies/Package.swift
  swift/example_code/iam/ListRolePolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListRoles/Package.swift
  swift/example_code/iam/ListRoles/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListUsers/Package.swift
  swift/example_code/iam/ListUsers/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/README.md
  swift/example_code/iam/basics/Package.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerIAM.swift
  swift/example_code/lambda/using-lambda-runtime/Package.swift
  swift/example_code/s3/DeleteObjects/Package.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/ServiceHandler_Ext.swift
  swift/example_code/s3/ListBuckets-Simple/Package.swift
  swift/example_code/s3/ListBuckets/Package.swift
  swift/example_code/s3/basics/Package.swift
  swift/example_code/swift-sdk/ErrorHandling/Package.swift
  swift/example_code/swift-sdk/Waiters/Package.swift
  swift/example_code/swift-sdk/config/Package.swift
  swift/example_code/swift-sdk/config/Sources/ConfigExample.swift
  swift/example_code/swift-sdk/config/test.sh
  swift/example_code/swift-sdk/mocking/Package.swift
  swift/example_code/swift-sdk/retry/Package.swift
  swift/tools/swiftbuild.py
Labels: Swift, On Call Review complete, Task

#6860 Python - Metadata: Add GeAI metadata
  .doc_gen/metadata/ec2_metadata.yaml
Labels: On Call Review complete, Task

#6880 CloudFormation - Add README.md to top-level dir
  aws-cfn/README.md
Labels: On Call Review complete, Task

#6825 Python - Tools: Running black on all remaining files (plus isort)
  .tools/readmes/config.py
  .tools/readmes/render.py
  .tools/readmes/scanner.py
  .tools/readmes/update.py
  .tools/readmes/writeme.py
Labels: On Call Review complete, Task, Tools

#6873 Update the Java V2 Redshift Basics Scenario
  .doc_gen/metadata/redshift_metadata.yaml
  javav2/example_code/redshift/README.md
  javav2/example_code/redshift/pom.xml
  javav2/example_code/redshift/src/main/java/com/example/redshift/ConnectToCluster.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/HelloRedshift.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/User.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/scenario/RedshiftActions.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/scenario/RedshiftScenario.java
  javav2/example_code/redshift/src/main/java/com/example/scenario/RedshiftScenario.java
  javav2/example_code/redshift/src/main/resources/log4j2.xml
  javav2/example_code/redshift/src/test/java/AmazonRedshiftTest.java
  python/example_code/redshift/README.md
Labels: Python, On Call Review complete, Java-v2, Basics

#6885 Update to latest tools release 2024-09-19-A.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, Task

#6879 JavaScript (v3): GitHub - Run unit tests during JavaScript checks.
  .github/workflows/lint-javascript.yml
  javascriptv3/example_code/s3/actions/copy-object.js
  javascriptv3/github_scripts/lint.sh
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, GitHub settings, Task, github_actions

#6893 Rust: Create README.md for Lambda Function example
  rustv1/examples/lambda/README.md
  rustv1/lambda/README.md
Labels: Rust, On Call Review complete, Task

#6886 Swift: IAM updates
  .doc_gen/metadata/iam_metadata.yaml
  swift/example_code/iam/AttachRolePolicy/Sources/AttachRolePolicy/AttachRolePolicy.swift
  swift/example_code/iam/AttachRolePolicy/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/AttachRolePolicy/Tests/AttachRolePolicyTests/AttachRolePolicyTests.swift
  swift/example_code/iam/CreateRole/Sources/CreateRole/CreateRole.swift
  swift/example_code/iam/CreateRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateRole/Tests/CreateRoleTests/CreateRoleTests.swift
  swift/example_code/iam/CreateServiceLinkedRole/Sources/CreateServiceLinkedRole/CreateServiceLinkedRole.swift
  swift/example_code/iam/CreateServiceLinkedRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateServiceLinkedRole/Tests/CreateServiceLinkedRoleTests/CreateServiceLinkedRoleTests.swift
  swift/example_code/iam/CreateUser/Sources/CreateUser/CreateUser.swift
  swift/example_code/iam/CreateUser/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/CreateUser/Tests/CreateUserTests/CreateUserTests.swift
  swift/example_code/iam/GetPolicy/Sources/GetPolicy/GetPolicy.swift
  swift/example_code/iam/GetPolicy/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/GetPolicy/Tests/GetPolicyTests/GetPolicyTests.swift
  swift/example_code/iam/GetPolicy/Tests/GetPolicyTests/ServiceHandler_Ext.swift
  swift/example_code/iam/GetRole/Sources/GetRole/GetRole.swift
  swift/example_code/iam/GetRole/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/GetRole/Tests/GetRoleTests/GetRoleTests.swift
  swift/example_code/iam/ListAttachedRolePolicies/Sources/ListAttachedRolePolicies/ListAttachedRolePolicies.swift
  swift/example_code/iam/ListAttachedRolePolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListAttachedRolePolicies/Tests/ListAttachedRolePoliciesTests/ListAttachedRolePoliciesTests.swift
  swift/example_code/iam/ListGroups/Sources/ListGroups/ListGroups.swift
  swift/example_code/iam/ListGroups/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListGroups/Tests/ListGroupsTests/ListGroupsTests.swift
  swift/example_code/iam/ListPolicies/Sources/ListPolicies/ListPolicies.swift
  swift/example_code/iam/ListPolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListPolicies/Tests/ListPoliciesTests/ListPoliciesTests.swift
  swift/example_code/iam/ListRolePolicies/Sources/ListRolePolicies/ListRolePolicies.swift
  swift/example_code/iam/ListRolePolicies/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListRolePolicies/Tests/ListRolePoliciesTests/ListRolePoliciesTests.swift
  swift/example_code/iam/ListRoles/Sources/ListRoles/ListRoles.swift
  swift/example_code/iam/ListRoles/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListRoles/Tests/ListRolesTests/ListRolesTests.swift
  swift/example_code/iam/ListUsers/Sources/ListUsers/ListUsers.swift
  swift/example_code/iam/ListUsers/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/iam/ListUsers/Tests/ListUsersTests/ListUsersTests.swift
  swift/example_code/iam/README.md
  swift/example_code/iam/basics/Sources/Basics/Basics.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerError.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerIAM.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerIAM_Ext.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerS3.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerSTS.swift
  swift/example_code/iam/basics/Sources/ServiceHandler/ServiceHandlerSTS_Ext.swift
  swift/example_code/iam/basics/Tests/BasicsTests/BasicsTests.swift
Labels: Swift, On Call Review complete, Task

#6855 Fixes two broken links for SSM scenarios.
  .doc_gen/metadata/ssm_metadata.yaml
  javascriptv3/example_code/ssm/README.md
  javav2/example_code/ssm/README.md
  python/example_code/ssm/README.md
Labels: Javascript-v3, Python, On Call Review complete, Java-v2, Bug

#6890 Swift: S3 update
  swift/example_code/s3/DeleteObjects/Sources/DeleteObjects/DeleteObjects.swift
  swift/example_code/s3/DeleteObjects/Sources/ServiceHandler/ServiceHandler.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/DeleteObjectsTests.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/S3DemoCleanup.swift
  swift/example_code/s3/DeleteObjects/Tests/DeleteObjectsTests/ServiceHandler_Ext.swift
  swift/example_code/s3/ListBuckets-Simple/Sources/entry.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/S3Session.swift
  swift/example_code/s3/ListBuckets/Sources/ListBuckets/listbuckets.swift
  swift/example_code/s3/ListBuckets/Tests/ListBucketsTests/ListBucketsTests.swift
  swift/example_code/s3/README.md
  swift/example_code/s3/basics/Tests/basics-tests/S3DemoCleanup.swift
Labels: Swift, On Call Review complete, Task

#6874 JavaScript (v3): Photo Analyzer - Block non-SSL requests to bucket.
  javascriptv3/example_code/cross-services/photo_analyzer/stack.yaml
Labels: Javascript-v3, On Call Review complete, Task

#6895 Improve retry example for the Swift SDK
  swift/example_code/swift-sdk/retry/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#6913 Swift: dynamodb - update
  swift/example_code/dynamodb/BatchGetItem/Sources/Movie.swift
  swift/example_code/dynamodb/BatchGetItem/Sources/MovieDatabase.swift
  swift/example_code/dynamodb/BatchGetItem/Sources/batchgetitem.swift
  swift/example_code/dynamodb/BatchGetItem/Tests/MovieDatabaseTests.swift
  swift/example_code/dynamodb/ListTables/Sources/DatabaseManager.swift
  swift/example_code/dynamodb/ListTables/Sources/listtables.swift
  swift/example_code/dynamodb/ListTables/Tests/ListTablesTests.swift
  swift/example_code/dynamodb/README.md
  swift/example_code/dynamodb/basics/MovieList/MovieTable.swift
  swift/example_code/dynamodb/basics/Sources/basics.swift
Labels: Swift, On Call Review complete, Task

#6915 Swift: Cognito-identity update
  swift/example_code/cognito-identity/FindOrCreateIdentityPool/Sources/CognitoIdentityHandler/CognitoIdentityHandler.swift
  swift/example_code/cognito-identity/README.md
Labels: Swift, On Call Review complete, Task

#6918 Python: HealthImaging, fix comments.
  python/example_code/medical-imaging/imaging_set_and_frames_workflow/hello.py
  python/example_code/medical-imaging/imaging_set_and_frames_workflow/medicalimaging.py
Labels: Python, On Call Review complete, Task

#6917 Meta: Remove duplicate S3 legal hold scenario example.
  .doc_gen/metadata/s3_metadata.yaml
  dotnetv3/S3/README.md
  javascriptv3/example_code/s3/README.md
  javav2/example_code/s3/README.md
Labels: DotNet-v3, Javascript-v3, On Call Review complete, Java-v2, Bug

#6920 .NET v3: Replacing old bucket names.
  dotnetv3/EventBridge/Scenarios/settings.json
  dotnetv3/Rekognition/DetectFacesExample/DetectFaces.cs
  dotnetv3/Rekognition/DetectLabelsExample/DetectLabels.cs
  dotnetv3/Rekognition/DetectModerationLabelsExample/DetectModerationLabels.cs
  dotnetv3/Rekognition/DetectTextExample/DetectText.cs
  dotnetv3/Rekognition/SearchFacesMatchingImageExample/SearchFacesMatchingImage.cs
Labels: DotNet-v3, On Call Review complete, Bug

#6925 Meta: Update Marketplace entities with standard naming convention
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: On Call Review complete, Task

#6900 JavaScript (v3): Lint - Add eslint-disable to files that haven't been touched since the linter was turned on.
  javascriptv3/.eslintignore
  javascriptv3/example_code/cloudwatch-logs/tests/cloudwatch-query.unit.test.js
  javascriptv3/example_code/cloudwatch/libs/cloudwatch-helper.js
  javascriptv3/example_code/cloudwatch/tests/put-metric-data.integration.test.js
  javascriptv3/example_code/codepipeline/MyCodePipelineFunction.js
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/get-items-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/post-items-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/post-items-report-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/put-items-archive-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/index.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/middleware/validate-db.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/sendable.d.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/watch.js
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/helper-functions/lambda-function-setup.js
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/helper-functions/populate-table.js
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/libs/dynamoClient.js
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/libs/lambdaClient.js
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/libs/snsClient.js
  javascriptv3/example_code/cross-services/lambda-api-gateway/src/mylamdbafunction.js
  javascriptv3/example_code/cross-services/lambda-scheduled-events/src/helper-functions/lambda-function-setup.js
  javascriptv3/example_code/cross-services/lambda-scheduled-events/src/helper-functions/populate-table.js
  javascriptv3/example_code/cross-services/lambda-scheduled-events/src/libs/dynamoClient.js
  javascriptv3/example_code/cross-services/lambda-scheduled-events/src/libs/lambdaClient.js
  javascriptv3/example_code/cross-services/lambda-scheduled-events/src/libs/snsClient.js
  javascriptv3/example_code/cross-services/lambda-scheduled-events/src/mylamdbafunction.js
  javascriptv3/example_code/cross-services/lex-bot/src/index.js
  javascriptv3/example_code/cross-services/textract-react/src/App.js
  javascriptv3/example_code/cross-services/textract-react/src/ExplorerCard.js
  javascriptv3/example_code/cross-services/textract-react/src/ExplorerTree.js
  javascriptv3/example_code/cross-services/textract-react/src/ExtractButtons.js
  javascriptv3/example_code/cross-services/textract-react/src/ImageDisplay.js
  javascriptv3/example_code/cross-services/textract-react/src/ImageLoader.js
  javascriptv3/example_code/cross-services/textract-react/src/LoginCard.js
  javascriptv3/example_code/cross-services/textract-react/src/TextractModel.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/App.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ExplorerCard.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ExplorerTree.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ExtractButtons.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ImageDisplay.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/ImageLoader.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/LoginCard.test.js
  javascriptv3/example_code/cross-services/textract-react/src/__test__/TextractModel.test.js
  javascriptv3/example_code/cross-services/textract-react/src/index.js
  javascriptv3/example_code/cross-services/textract-react/src/setupTests.js
  javascriptv3/example_code/glacier/README.md
  javascriptv3/example_code/glacier/src/createVault.ts
  javascriptv3/example_code/glacier/src/libs/glacierClient.js
  javascriptv3/example_code/glacier/src/uploadArchive.ts
  javascriptv3/example_code/s3/scenarios/object-locking/repl.steps.unit.test.js
Labels: Javascript-v3, On Call Review complete, Task

#6927 Swift: Add Sign In With Apple example
  swift/example_code/apple/Buckets/Buckets.xcodeproj/project.pbxproj
  swift/example_code/apple/Buckets/Buckets.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/example_code/apple/Buckets/Buckets.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  swift/example_code/apple/Buckets/Buckets.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  swift/example_code/apple/Buckets/Buckets/Assets.xcassets/AccentColor.colorset/Contents.json
  swift/example_code/apple/Buckets/Buckets/Assets.xcassets/AppIcon.appiconset/Contents.json
  swift/example_code/apple/Buckets/Buckets/Assets.xcassets/Contents.json
  swift/example_code/apple/Buckets/Buckets/Buckets.entitlements
  swift/example_code/apple/Buckets/Buckets/BucketsApp.swift
  swift/example_code/apple/Buckets/Buckets/BucketsAppError.swift
  swift/example_code/apple/Buckets/Buckets/ContentView-ViewModel.swift
  swift/example_code/apple/Buckets/Buckets/ContentView.swift
  swift/example_code/apple/Buckets/Buckets/Preview Content/Preview Assets.xcassets/Contents.json
  swift/example_code/apple/Buckets/Buckets/Support/IDString.swift
  swift/example_code/apple/Buckets/Buckets/Support/LocalizedAlertError.swift
  swift/example_code/apple/Buckets/Buckets/Support/View-extension.swift
Labels: Swift, On Call Review complete, Task

#6930 Tools: release to 2024-09-25-A.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6931 Updated IAM Yaml to specify Basics
  .doc_gen/metadata/iam_metadata.yaml
  aws-cli/bash-linux/iam/README.md
  cpp/example_code/iam/README.md
  dotnetv3/IAM/README.md
  gov2/iam/README.md
  javascriptv3/example_code/iam/README.md
  javav2/example_code/iam/README.md
  kotlin/services/iam/README.md
  php/example_code/iam/README.md
  python/example_code/iam/README.md
  ruby/example_code/iam/README.md
  rustv1/examples/iam/README.md
Labels: C++, DotNet-v3, Go-v2, Javascript-v3, Kotlin, PHP, Python, Ruby, Rust, CLI, On Call Review complete, Java-v2, Basics

#6935 tools: Expand entities with tools entities expander.
  .tools/readmes/render.py
  .tools/readmes/scanner.py
Labels: On Call Review complete, Task, Tools

#6939 .NET v3: EC2 standards update.
  .doc_gen/metadata/ec2_metadata.yaml
  dotnetv3/AutoScaling/README.md
  dotnetv3/DotNetV3Examples.sln
  dotnetv3/EC2/Actions/EC2Wrapper.cs
  dotnetv3/EC2/Actions/HelloEC2.cs
  dotnetv3/EC2/EC2Examples.sln
  dotnetv3/EC2/README.md
  dotnetv3/EC2/Scenarios/CreateVPCExample/CreateVPC.cs
  dotnetv3/EC2/Scenarios/CreateVPCExample/CreateVPCExample.csproj
  dotnetv3/EC2/Scenarios/CreateVPCforS3Example/CreateVPCforS3.cs
  dotnetv3/EC2/Scenarios/CreateVPCforS3Example/CreateVPCforS3Example.csproj
  dotnetv3/EC2/Scenarios/CreateVPCforS3Example/appsettings.json
  dotnetv3/EC2/Scenarios/EC2_Basics/Basics.csproj
  dotnetv3/EC2/Scenarios/EC2_Basics/EC2Basics.cs
  dotnetv3/EC2/Scenarios/EC2_Basics/UIMethods.cs
  dotnetv3/EC2/Tests/CreateVPCforS3Tests.cs
  dotnetv3/EC2/Tests/EC2Tests.csproj
  dotnetv3/EC2/Tests/EC2WrapperTests.cs
  dotnetv3/EC2/Tests/Usings.cs
  dotnetv3/EC2/Tests/testsettings.json
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCExample.sln
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCTests/CreateVPCTests.csproj
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCTests/Usings.cs
  dotnetv3/EC2/VirtualPrivateCloudExamples/CreateVPCTests/testsettings.json
  dotnetv3/IAM/README.md
  dotnetv3/cross-service/ResilientService/AutoScalerActions/AutoScalerActions.csproj
  dotnetv3/cross-service/ResilientService/AutoScalerActions/AutoScalerWrapper.cs
  dotnetv3/cross-service/ResilientService/Tests/ResilientServiceTests.cs
Labels: DotNet-v3, On Call Review complete, Task

#6937 Gov2: Add presign post request support - S3
  gov2/s3/actions/presigner.go
  gov2/s3/cmd/main.go
  gov2/s3/go.sum
  gov2/s3/scenarios/scenario_presigning.go
  gov2/s3/scenarios/scenario_presigning_test.go
  gov2/s3/stubs/bucket_basics_stubs.go
Labels: Go-v2, On Call Review complete, Task

#6943 Rust: Bump to 1.81.0
  .github/workflows/lint-rust.yml
  rustv1/README.md
  rustv1/cross_service/rust-toolchain.toml
  rustv1/examples/aurora/src/aurora_scenario/tests.rs
  rustv1/examples/iam/README.md
  rustv1/examples/iam/src/iam-service-lib.rs
  rustv1/examples/rust-toolchain.toml
Labels: Rust, On Call Review complete, GitHub settings, Task
