Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-02, with the labels that each got.

#6027 docs: remove stray merge conflict in AWS Cognito: GetIdentityCredentials.java
  javav2/example_code/cognito/src/main/java/com/example/cognito/GetIdentityCredentials.java
Labels: On Call Review complete, Java-v2, Bug

#6032 Java V2 Add App Autoscale examples
  .doc_gen/metadata/application-auto-scaling_metadata.yaml
  javav2/example_code/appautoscale/Readme.md
  javav2/example_code/appautoscale/pom.xml
  javav2/example_code/appautoscale/src/main/java/com/example/appautoscale/DisableDynamoDBAutoscaling.java
  javav2/example_code/appautoscale/src/main/java/com/example/appautoscale/EnableDynamoDBAutoscaling.java
  javav2/example_code/appautoscale/src/main/resources/config.properties
  javav2/example_code/appautoscale/src/test/java/AppAutoTest.java
Labels: On Call Review complete, Java-v2, Task

#6025 CPP: No need to wait for a final transcript to be received in transcribe streaming
  cpp/example_code/transcribe/get_transcript.cpp
Labels: C++, On Call Review complete, Text Review not needed, Task

#6046 PHP: Add PHP full linting commit to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: On Call Review complete, Task

#6031 Tools - Update docker-push.yml
  .github/workflows/docker-push.yml
Labels: On Call Review complete, GitHub settings, Task

#6037 CPP: Testing add logging to debug mocks failure
  cpp/example_code/mediaconvert/tests/MediaConvert_gtests.cpp
  cpp/example_code/s3/tests/gtest_list_buckets_disabling_dns_cache.cpp
  cpp/example_code/ses/tests/ses_gtests.cpp
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Text Review not needed, Task

#6040 Bedrock Runtime: Replace documentation links
  gov2/bedrock-runtime/actions/invoke_model.go
  javascriptv3/example_code/bedrock-runtime/actions/invoke-claude.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-jurassic2.js
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModel.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelAsync.java
  php/example_code/bedrock-runtime/BedrockRuntimeService.php
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
Labels: Go-v2, Javascript-v3, PHP, Python, On Call Review complete, Text Review not needed, Java-v2, Task

#6047 Ruby - Glue: Turns back on integration tests
  ruby/example_code/glue/spec/getting_started_scenario_spec.rb
Labels: Ruby, On Call Review complete, Task

#6048 Adds the RDS snippets to metadata, with some minor cleanups.
  .doc_gen/metadata/rds_metadata.yaml
  php/example_code/rds/CreateDBInstance.php
  php/example_code/rds/CreateDBInstanceReadReplica.php
  php/example_code/rds/CreateDBSnapshot.php
  php/example_code/rds/DeleteInstance.php
  php/example_code/rds/DescribeEvents.php
  php/example_code/rds/DescribeInstance.php
  php/example_code/rds/README.md
  php/example_code/rds/StartInstance.php
  php/example_code/rds/StopInstance.php
  php/example_code/rds/composer.json
  php/example_code/rds/composer.lock
Labels: PHP, On Call Review complete, Task

#6056 CPP: Remove deprecated DescribeEndpoints
  .doc_gen/metadata/mediaconvert_metadata.yaml
  cpp/example_code/mediaconvert/CMakeLists.txt
  cpp/example_code/mediaconvert/README.md
  cpp/example_code/mediaconvert/create_job.cpp
  cpp/example_code/mediaconvert/describe_endpoints.cpp
  cpp/example_code/mediaconvert/get_job.cpp
  cpp/example_code/mediaconvert/list_jobs.cpp
  cpp/example_code/mediaconvert/mediaconvert_samples.h
  cpp/example_code/mediaconvert/tests/CMakeLists.txt
  cpp/example_code/mediaconvert/tests/MediaConvert_gtests.cpp
  cpp/example_code/mediaconvert/tests/MediaConvert_gtests.h
  cpp/example_code/mediaconvert/tests/gtest_describe_endpoints.cpp
  cpp/example_code/mediaconvert/utils.cpp
Labels: C++, On Call Review complete, Text Review not needed, Task

#6059 6041 cpp docker file add recursion to chown
  cpp/Dockerfile
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Text Review not needed, Task

#6060 Add snippet tags to pickup bucket creation
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/MrapExample.kt
Labels: Kotlin, On Call Review complete, Task

#6063 Add a Postgres-compatible CREATE TABLE statement to the Readme
  php/cross_service/aurora_item_tracker/README.md
Labels: PHP, On Call Review complete, Bug

#6077 Workflows - Update SPECIFICATION.md
  workflows/cloudwatch_logs_large_query/SPECIFICATION.md
Labels: On Call Review complete, Workflow

#6071 Kotlin Update Gradle Build file and some tests
  kotlin/services/codepipeline/build.gradle.kts
  kotlin/services/codepipeline/src/test/kotlin/PipelineServiceTest.kt
  kotlin/services/codepipeline/src/test/resources/config.properties
  kotlin/services/cognito/build.gradle.kts
  kotlin/services/cognito/src/test/kotlin/CognitoKotlinTest.kt
  kotlin/services/comprehend/build.gradle.kts
  kotlin/services/comprehend/src/test/java/ComprehendKotlinTest.kt
  kotlin/services/dynamodb/build.gradle.kts
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/CreateTable.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/DeleteTable.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/DescribeTable.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/DynamoDBPartiQ.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/DynamoDBScanItems.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/DynamoDBScanItemsFilter.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/GetItem.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/ListTables.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/PutItem.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/QueryTable.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/Scenario.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/ScenarioPartiQ.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/ScenarioPartiQLBatch.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/UpdateItem.kt
  kotlin/services/dynamodb/src/test/kotlin/DynamoDB.kt
  kotlin/services/ec2/build.gradle.kts
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/AllocateAddress.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/CreateInstance.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/CreateKeyPair.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/CreateSecurityGroup.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DeleteKeyPair.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DeleteSecurityGroup.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DescribeAccount.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DescribeInstanceTags.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DescribeInstances.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DescribeKeyPairs.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DescribeRegionsAndZones.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DescribeSecurityGroups.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/DescribeVPCs.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/FindRunningInstances.kt
  kotlin/services/ec2/src/main/kotlin/com/kotlin/ec2/TerminateInstance.kt
  kotlin/services/ec2/src/test/kotlin/EC2Test.kt
Labels: Kotlin, On Call Review complete, Task

#6021 Rust: 5864 Cloudwatch logs Large Query Scenario
  javascriptv3/example_code/cloudwatch-logs/scenarios/large-query/README.md
  rustv1/examples/cloudwatchlogs/Cargo.toml
  rustv1/examples/cloudwatchlogs/src/bin/large-query.rs
  rustv1/test-utils/src/waiter.rs
  workflows/cloudwatch_logs_large_query/resources/make-log-files.sh
Labels: Javascript-v3, Rust, On Call Review complete, Task

#6088 PHP: Fix incorrect usage of quotes and Claude stop sequence prompt BedrockRuntime
  php/example_code/bedrock-runtime/BedrockRuntimeService.php
Labels: PHP, On Call Review complete, Bug

#6098 Kotlin Updated Gradle Build files and tests
  kotlin/services/ecs/build.gradle.kts
  kotlin/services/ecs/src/test/kotlin/ESCTest.kt
  kotlin/services/elasticbeanstalk/build.gradle.kts
  kotlin/services/elasticbeanstalk/src/test/kotlin/ElasticBeanstalkTest.kt
  kotlin/services/emr/build.gradle.kts
  kotlin/services/emr/src/test/kotlin/EMRTest.kt
  kotlin/services/eventbridge/src/test/kotlin/EventBridgeKotlinTest.kt
  kotlin/services/firehose/build.gradle.kts
  kotlin/services/firehose/src/test/kotlin/FirehoseTest.kt
Labels: Kotlin, On Call Review complete, Task

#6101 Fix: Python Bedrock Runtime code example
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
Labels: Python, On Call Review complete, Bug

#6062 Adds a name parameter (or alters an existing one) to standardize and clarify status check names on GitHub.
  .github/workflows/docker-push.yml
  .github/workflows/dotnet-check.yml
  .github/workflows/extract-snippets-dryrun.yml
  .github/workflows/extract-snippets.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/javascript.yml
  .github/workflows/label-auditor.yml
  .github/workflows/label-auto-language.yml
  .github/workflows/rust.yml
  .github/workflows/sd-cpp-lint.yml
  .github/workflows/super-linter.yml
  .github/workflows/validate-doc-metadata.yml
  .github/workflows/writeme.yml
Labels: On Call Review complete, GitHub settings, Task

#6103 GitHub: Update javascript.yml to include workflow_dispatch
  .github/workflows/javascript.yml
Labels: On Call Review complete, GitHub settings, Task

#6100 Kotlin Update Kotlin build and test files
  kotlin/services/forecast/build.gradle.kts
  kotlin/services/forecast/src/test/kotlin/ForecastKotlinTest.kt
  kotlin/services/glue/build.gradle.kts
  kotlin/services/glue/src/test/kotlin/GlueTest.kt
  kotlin/services/iam/build.gradle.kts
  kotlin/services/iam/src/test/kotlin/IAMTest.kt
  kotlin/services/kendra/build.gradle.kts
  kotlin/services/kendra/src/test/kotlin/KendraTest.kt
  kotlin/services/keyspaces/build.gradle.kts
  kotlin/services/keyspaces/src/test/kotlin/KeyspaceTest.kt
  kotlin/services/kinesis/src/test/kotlin/KinesisTest.kt
  kotlin/services/kms/build.gradle.kts
  kotlin/services/kms/src/test/kotlin/KMSKotlinTest.kt
  kotlin/services/lambda/build.gradle.kts
  kotlin/services/lambda/src/test/kotlin/LambdaTest.kt
  kotlin/services/lex/build.gradle.kts
  kotlin/services/lex/src/test/kotlin/LexTest.kt
  kotlin/services/mediaconvert/build.gradle.kts
  kotlin/services/mediaconvert/src/test/kotlin/MCTest.kt
  kotlin/services/mediastore/build.gradle.kts
  kotlin/services/mediastore/src/test/kotlin/MediaStoreTest.kt
  kotlin/services/opensearch/build.gradle.kts
  kotlin/services/opensearch/src/test/kotlin/OpenSearchTest.kt
  kotlin/services/personalize/build.gradle.kts
  kotlin/services/personalize/src/test/kotlin/PersonalizeKotlinTest.kt
  kotlin/services/pinpoint/build.gradle.kts
  kotlin/services/pinpoint/src/test/kotlin/PinpointKotlinTest.kt
  kotlin/services/polly/build.gradle.kts
  kotlin/services/polly/src/test/kotlin/PollyKotlinTest.kt
  kotlin/services/rds/build.gradle.kts
  kotlin/services/rds/src/test/kotlin/RDSTest.kt
  kotlin/services/redshift/build.gradle.kts
  kotlin/services/rekognition/build.gradle.kts
  kotlin/services/rekognition/src/test/kotlin/RekognitionTest.kt
  kotlin/services/route53/build.gradle.kts
  kotlin/services/route53/src/test/kotlin/Route53Test.kt
  kotlin/services/s3/build.gradle.kts
  kotlin/services/sagemaker/build.gradle.kts
  kotlin/services/sagemaker/src/test/kotlin/SageMakerTest.kt
  kotlin/services/secretsmanager/build.gradle.kts
  kotlin/services/secretsmanager/src/test/kotlin/SecretsManagerKotlinTest.kt
  kotlin/services/ses/build.gradle.kts
  kotlin/services/ses/src/test/kotlin/SESTest.kt
  kotlin/services/sns/build.gradle.kts
  kotlin/services/sns/src/test/kotlin/SNSTest.kt
  kotlin/services/sqs/build.gradle.kts
  kotlin/services/sqs/src/test/kotlin/SQSTest.kt
  kotlin/services/stepfunctions/build.gradle.kts
  kotlin/services/stepfunctions/src/test/kotlin/StepFunctionsKotlinTest.kt
  kotlin/services/sts/build.gradle.kts
  kotlin/services/sts/src/test/kotlin/Test2.kt
  kotlin/services/support/build.gradle.kts
  kotlin/services/support/src/test/kotlin/SupportTest.kt
  kotlin/services/textract/build.gradle.kts
  kotlin/services/textract/src/test/kotlin/TextractTest.kt
  kotlin/services/translate/build.gradle.kts
  kotlin/services/translate/src/test/kotlin/TranslateKotlinTest.kt
  kotlin/services/xray/build.gradle.kts
  kotlin/services/xray/src/test/kotlin/XrayKotlinTest.kt
Labels: Kotlin, On Call Review complete, Text Review not needed, Task

#6087 Java v2 Add AWS IoT files
  .doc_gen/metadata/iot-data_metadata.yaml
  .doc_gen/metadata/iot_metadata.yaml
  javav2/example_code/iot/Readme.md
  javav2/example_code/iot/checkstyle.xml
  javav2/example_code/iot/pom.xml
  javav2/example_code/iot/src/main/java/com/example/iot/HelloIoT.java
  javav2/example_code/iot/src/main/java/com/example/iot/IotScenario.java
  javav2/example_code/iot/src/main/resources/config.properties
  javav2/example_code/iot/src/test/java/IoTTests.java
  workflows/iot_usecase/Readme.md
  workflows/iot_usecase/SPECIFICATION.md
Labels: On Call Review complete, Java-v2, Workflow

#6090 [Go] Publish messages to topics and queues workflow in Go.
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  gov2/dynamodb/scenarios/scenario_partiql_batch_test.go
  gov2/lint_all_go.sh
  gov2/run_all_tests.sh
  gov2/sns/README.md
  gov2/sns/go.mod
  gov2/sns/go.sum
  gov2/sns/hello/hello.go
  gov2/sqs/README.md
  gov2/sqs/go.mod
  gov2/sqs/go.sum
  gov2/sqs/hello/hello.go
  gov2/workflows/topics_and_queues/README.md
  gov2/workflows/topics_and_queues/actions/sns_actions.go
  gov2/workflows/topics_and_queues/actions/sqs_actions.go
  gov2/workflows/topics_and_queues/cmd/main.go
  gov2/workflows/topics_and_queues/go.mod
  gov2/workflows/topics_and_queues/go.sum
  gov2/workflows/topics_and_queues/images/fifo_topics_diagram.png
  gov2/workflows/topics_and_queues/stubs/sns_stubs.go
  gov2/workflows/topics_and_queues/stubs/sqs_stubs.go
  gov2/workflows/topics_and_queues/workflows/resources.go
  gov2/workflows/topics_and_queues/workflows/scenario_topics_and_queues.go
  gov2/workflows/topics_and_queues/workflows/scenario_topics_and_queues_integ_test.go
  gov2/workflows/topics_and_queues/workflows/scenario_topics_and_queues_test.go
Labels: Go-v2, On Call Review complete, Text Review not needed, Workflow, Follow

#6107 Swift: How to handle errors from the Swift SDK
  swift/example_code/swift-sdk/ErrorHandling/.gitignore
  swift/example_code/swift-sdk/ErrorHandling/Package.swift
  swift/example_code/swift-sdk/ErrorHandling/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#6110 Bash,Cpp: Fix metadata and code layout
  .doc_gen/metadata/glue_metadata.yaml
  .doc_gen/metadata/iam_metadata.yaml
  .doc_gen/metadata/lambda_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  aws-cli/bash-linux/dynamodb/scenario_getting_started_movies.sh
  aws-cli/bash-linux/iam/README.md
  aws-cli/bash-linux/iam/iam_create_user_assume_role_scenario.sh
  aws-cli/bash-linux/s3/README.md
  aws-cli/bash-linux/s3/s3_getting_started.sh
  cpp/example_code/glue/README.md
  cpp/example_code/glue/glue_getting_started_scenario.cpp
  cpp/example_code/lambda/README.md
  cpp/example_code/lambda/get_started_with_functions_scenario.cpp
Labels: C++, CLI, On Call Review complete, Text Review not needed, Task

#6108 CPP: Fix testing false negatives
  cpp/example_code/mediaconvert/tests/MediaConvert_gtests.cpp
Labels: C++, On Call Review complete, Text Review not needed, Task

#6113 Tools: Delete unused and outdated extract-snippets
  .github/extract-snippets/README-SNIPPETS.txt
  .github/extract-snippets/README.md
  .github/extract-snippets/extract-snippets.py
  .github/extract-snippets/extract-snippets.sh
  .github/extract-snippets/snippet-extensions-more.yml
  .github/extract-snippets/snippet-extensions.yml
Labels: On Call Review complete, GitHub settings, Task

#6124 CPP: Fix mocks for weathertop
  cpp/example_code/aurora/tests/aurora_gtests.cpp
  cpp/example_code/autoscaling/tests/autoscaling_gtests.cpp
  cpp/example_code/cognito/tests/cognito_gtests.cpp
  cpp/example_code/cross-service/topics_and_queues/tests/topics_and_queues_gtests.cpp
  cpp/example_code/mediaconvert/tests/MediaConvert_gtests.cpp
  cpp/example_code/medical-imaging/tests/medical-imaging_gtests.cpp
  cpp/example_code/rds/tests/rds_gtests.cpp
  cpp/example_code/ses/tests/ses_gtests.cpp
  cpp/example_code/sns/tests/sns_gtests.cpp
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Text Review not needed, Task

#6141 Python - CloudWatch Logs - Large query implementation
  .doc_gen/metadata/cloudwatch-logs_metadata.yaml
  python/example_code/cloudwatch-logs/scenarios/large-query/README.md
  python/example_code/cloudwatch-logs/scenarios/large-query/cloudwatch_query.py
  python/example_code/cloudwatch-logs/scenarios/large-query/date_utilities.py
  python/example_code/cloudwatch-logs/scenarios/large-query/exec.py
  python/example_code/cloudwatch-logs/scenarios/large-query/requirements.txt
  python/example_code/cloudwatch-logs/scenarios/large-query/test/test_large_query.py
  workflows/cloudwatch_logs_large_query/README.md
Labels: Python, On Call Review complete, Task

#6106 Python & Java - Bedrock: Add GetFoundationModel, enhance ListFoundationModels
  .doc_gen/metadata/bedrock_metadata.yaml
  .tools/validation/validator_config.py
  javav2/example_code/bedrock/Readme.md
  javav2/example_code/bedrock/pom.xml
  javav2/example_code/bedrock/src/main/java/com/example/bedrock/ListFoundationModels.java
  javav2/example_code/bedrock/src/main/java/com/example/bedrock/async/GetFoundationModelAsync.java
  javav2/example_code/bedrock/src/main/java/com/example/bedrock/async/ListFoundationModelsAsync.java
  javav2/example_code/bedrock/src/main/java/com/example/bedrock/sync/GetFoundationModel.java
  javav2/example_code/bedrock/src/main/java/com/example/bedrock/sync/ListFoundationModels.java
  javav2/example_code/bedrock/src/test/java/AsyncBedrockTest.java
  javav2/example_code/bedrock/src/test/java/BedrockTest.java
  javav2/example_code/bedrock/src/test/java/SyncBedrockTest.java
  python/example_code/bedrock/README.md
  python/example_code/bedrock/bedrock_wrapper.py
  python/example_code/bedrock/requirements.txt
  python/example_code/bedrock/test/test_bedrock_wrapper.py
  python/test_tools/bedrock_stubber.py
Labels: Python, On Call Review complete, Text Review not needed, Java-v2, Task, Tools

#6142 Java: fix bugs in path references for Windows
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/DownloadFile.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/DownloadToDirectory.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/UploadADirectory.java
  javav2/example_code/s3/src/test/java/TransferManagerTest.java
Labels: On Call Review complete, Java-v2, Task

#6139 CPP: Cleanup makefiles
  cpp/example_code/lambda/tests/CMakeLists.txt
Labels: C++, On Call Review complete, Text Review not needed, Task

#6134 .NET Cloud Formation example, updated PR.
  .doc_gen/metadata/cloudformation_metadata.yaml
  dotnetv3/CloudFormation/Actions/CloudFormationActions.csproj
  dotnetv3/CloudFormation/Actions/HelloCloudFormation.cs
  dotnetv3/CloudFormation/CloudFormationExamples.sln
  dotnetv3/CloudFormation/README.md
  dotnetv3/CloudFormation/Tests/CloudFormationTests.cs
  dotnetv3/CloudFormation/Tests/CloudFormationTests.csproj
  dotnetv3/CloudFormation/Tests/Usings.cs
  dotnetv3/README.md
  rustv1/examples/cloudformation/README.md
Labels: DotNet-v3, Rust, On Call Review complete, Task

#6154 GitHub: Changes the Rust linting workflow to allow it to be required.
  .github/workflows/rust.yml
Labels: On Call Review complete, GitHub settings, Task

#6155 GitHub: Changes the C++ linting workflow to allow it to be required.
  .github/workflows/sd-cpp-lint.yml
Labels: On Call Review complete, GitHub settings, Task

#6159 GitHub: Updates and splits the super-linter and yaml linter.
  .github/workflows/super-linter.yml
  .github/workflows/yaml-lint.yml
Labels: On Call Review complete, GitHub settings, Task

#6156 Add shebang line to top of pre-commit hook so it can be used on Windows
  .git-hooks/pre-commit
Labels: On Call Review complete, Task

#6126 Cpp: remove duplicate instance classes for DescribeOrderableDBInstanceOptions
  cpp/example_code/aurora/README.md
  cpp/example_code/aurora/getting_started_with_db_clusters.cpp
Labels: C++, On Call Review complete, Text Review not needed, Bug

#6144 GitHub: Changes the DotNet linting workflow to allow it to be a required workflow.
  .github/workflows/dotnet-check.yml
Labels: On Call Review complete, GitHub settings, Task

#6143 Java SQS: move snippet tags
  .doc_gen/metadata/cloudfront_metadata.yaml
  javav2/example_code/sqs/src/main/java/com/example/sqs/SQSExample.java
Labels: On Call Review complete, Java-v2, Task

#6171 Update create-agent.js
  javascriptv3/example_code/bedrock-agent/actions/create-agent.js
Labels: Javascript-v3, On Call Review complete, Task

#6174 Workaround to remove false positive from credential check
  javascriptv3/example_code/bedrock-agent/actions/create-agent.js
Labels: Javascript-v3, On Call Review complete, Task

#6153 Replace build file section that was in commit fbb8a03334ebad74961ff24…
  kotlin/services/s3/build.gradle.kts
Labels: Kotlin, On Call Review complete, Task

#6151 Kotlin Add AWS IoT Core Kotlin code examples
  .doc_gen/metadata/iot-data_metadata.yaml
  .doc_gen/metadata/iot_metadata.yaml
  kotlin/services/iot/Readme.md
  kotlin/services/iot/build.gradle.kts
  kotlin/services/iot/src/main/kotlin/com/example/iot/HelloIoT.kt
  kotlin/services/iot/src/main/kotlin/com/example/iot/IotScenario.kt
  kotlin/services/iot/src/test/kotlin/IoTTest.kt
Labels: Kotlin, On Call Review complete, Workflow

#6146 GitHub: Changes the Javascript linting workflow to allow it to be required.
  .github/workflows/javascript.yml
Labels: On Call Review complete, GitHub settings, Task

#6180 Improve writeme check messages
  .tools/readmes/multi.py
  .tools/readmes/render.py
Labels: On Call Review complete, Bug, Tools

#6187 JavaScript (v3): Remove broom emojis. The build doesn't like them.
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/clean-up-handler.js
  javascriptv3/example_code/ec2/scenarios/basic.js
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/clean-up-handler.js
Labels: Javascript-v3, On Call Review complete, Bug

#6193 GitHub: Change JS workflow to include JSON in changed files check.
  .github/workflows/javascript.yml
Labels: On Call Review complete, GitHub settings, Task

#6181 [CLI] Add all cli command examples to code library
  .doc_gen/metadata/services.yaml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
Labels: On Call Review complete, Text Review not needed, Task
