Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-11, with the labels that each got.

#7025 Java:Add code example that shows how to download 'directories' from S3 using the S3TransferManager
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/BatchDeleteItems.java
  javav2/example_code/s3/README.md
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/S3ClientFactory.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/S3DirectoriesDownloader.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/MemoryLog4jAppender.java
  javav2/example_code/s3/src/main/resources/log4j2.xml
  javav2/example_code/s3/src/test/java/TransferManagerTest.java
Labels: On Call Review complete, Java-v2, Bug

#7029 Remove stray spaces in snippet tags
  swift/example_code/identity-resolvers/sso-resolver/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7032 SOS: Migrate ZonBook templates to zexi.
  .doc_gen/templates/zonbook/example_description_template.xml
  .doc_gen/templates/zonbook/example_language_template.xml
  .doc_gen/templates/zonbook/example_tablist_template.xml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_chapter.xml
  .doc_gen/templates/zonbook/library_by_service_tag_chapter.xml
  .doc_gen/templates/zonbook/sdk_chapter_template.xml
  .doc_gen/templates/zonbook/service_chapter_bundle_template.xml
  .doc_gen/templates/zonbook/service_chapter_template.xml
  .doc_gen/templates/zonbook/utility/basics.xml
  .doc_gen/templates/zonbook/utility/customs.xml
  .doc_gen/templates/zonbook/utility/hello.xml
  .doc_gen/templates/zonbook/utility/notes.xml
  .doc_gen/templates/zonbook/utility/prologue.xml
  .doc_gen/templates/zonbook/utility/scenarios.xml
  .doc_gen/templates/zonbook/utility/sdk_api_examples.xml
  .doc_gen/templates/zonbook/utility/sdk_examples.xml
  .doc_gen/templates/zonbook/utility/service_examples.xml
  .doc_gen/templates/zonbook/utility/synopsis.xml
Labels: On Call Review complete, Task

#7033 Dotnetv3: Fix for Weathertop testing.
  dotnetv3/SESv2/NewsLetterWorkflow/Sesv2Scenario/NewsletterWorkflow.cs
  dotnetv3/SESv2/NewsLetterWorkflow/resources/coupon-newsletter.html
  dotnetv3/SESv2/NewsLetterWorkflow/resources/coupon-newsletter.txt
  dotnetv3/SESv2/NewsLetterWorkflow/resources/sample_coupons.json
  dotnetv3/SESv2/NewsLetterWorkflow/resources/welcome.html
  dotnetv3/SESv2/NewsLetterWorkflow/resources/welcome.txt
Labels: DotNet-v3, On Call Review complete, Bug

#7036 Go: Update all Go snippet tags to include imports in the snippets.
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/lambda_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  gov2/aurora/actions/clusters.go
  gov2/aurora/scenarios/get_started_clusters.go
  gov2/bedrock-runtime/README.md
  gov2/bedrock-runtime/actions/invoke_model.go
  gov2/bedrock-runtime/actions/invoke_model_with_response_stream.go
  gov2/bedrock-runtime/scenarios/scenario_invoke_models.go
  gov2/bedrock/actions/foundation_model.go
  gov2/cognito/README.md
  gov2/dynamodb/README.md
  gov2/dynamodb/actions/movie.go
  gov2/dynamodb/actions/partiql.go
  gov2/dynamodb/actions/table_basics.go
  gov2/dynamodb/scenarios/scenario_movie_table.go
  gov2/dynamodb/scenarios/scenario_partiql_batch.go
  gov2/dynamodb/scenarios/scenario_partiql_single.go
  gov2/iam/README.md
  gov2/iam/actions/account.go
  gov2/iam/actions/groups.go
  gov2/iam/actions/policies.go
  gov2/iam/actions/roles.go
  gov2/iam/actions/users.go
  gov2/iam/scenarios/scenario_assume_role.go
  gov2/lambda/actions/functions.go
  gov2/lambda/scenarios/scenario_get_started_functions.go
  gov2/lambda/scenarios/scenario_get_started_functions_test.go
  gov2/rds/actions/instances.go
  gov2/rds/scenarios/get_started_instances.go
  gov2/redshift/actions/redshiftdata_actions.go
  gov2/s3/scenarios/scenario_presigning.go
  gov2/workflows/topics_and_queues/actions/sns_actions.go
  gov2/workflows/topics_and_queues/actions/sqs_actions.go
  gov2/workflows/topics_and_queues/workflows/resources.go
  gov2/workflows/topics_and_queues/workflows/scenario_topics_and_queues.go
  gov2/workflows/user_pools_and_lambda_triggers/actions/cloud_formation_actions.go
  gov2/workflows/user_pools_and_lambda_triggers/actions/cloudwatch_logs_actions.go
  gov2/workflows/user_pools_and_lambda_triggers/actions/cognito_actions.go
  gov2/workflows/user_pools_and_lambda_triggers/actions/dynamo_actions.go
  gov2/workflows/user_pools_and_lambda_triggers/handlers/activity_log/activity_log_handler.go
  gov2/workflows/user_pools_and_lambda_triggers/handlers/auto_confirm/auto_confirm_handler.go
  gov2/workflows/user_pools_and_lambda_triggers/handlers/migrate_user/migrate_user_handler.go
  gov2/workflows/user_pools_and_lambda_triggers/workflows/resources.go
  gov2/workflows/user_pools_and_lambda_triggers/workflows/scenario_activity_log.go
  gov2/workflows/user_pools_and_lambda_triggers/workflows/scenario_auto_confirm_trusted_accounts.go
  gov2/workflows/user_pools_and_lambda_triggers/workflows/scenario_common.go
Labels: Go-v2, On Call Review complete, Task

#7030 Swift: Presigned URLs, downloads, multi-part uploads
  swift/example_code/s3/presigned-urls/Package.swift
  swift/example_code/s3/presigned-urls/Sources/TransferDirection.swift
  swift/example_code/s3/presigned-urls/Sources/TransferError.swift
  swift/example_code/s3/presigned-urls/Sources/entry.swift
  swift/example_code/s3/presigned-urls/test.sh
Labels: Swift, On Call Review complete, Task

#7037 Dotnetv3: remove old IAM examples.
  .doc_gen/metadata/iam_metadata.yaml
  dotnetv3/DotNetV3Examples.sln
  dotnetv3/IAM/Actions/IAMWrapper.cs
  dotnetv3/IAM/IAMExamples.sln
  dotnetv3/IAM/README.md
  dotnetv3/IAM/Scenarios/IAMGroups/IAMGroups.cs
  dotnetv3/IAM/Scenarios/IAMGroups/IAMGroups.csproj
  dotnetv3/IAM/Scenarios/IAMGroups/Usings.cs
  dotnetv3/IAM/Scenarios/IAMGroups/settings.json
  dotnetv3/IAM/Tests/IamWrapperTests.cs
Labels: DotNet-v3, On Call Review complete, Bug

#7045 ENT, Transcribe Streaming, add entity
  .doc_gen/cross-content/phrases-code-examples.ent
Labels: On Call Review complete, Task

#7046 Tools: tools release to 2024.45.0.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7047 Update README.md
  README.md
Labels: On Call Review complete, Task

#7049 Python: Fix typos in Bedrock Claude Chatbot demo README
  python/example_code/bedrock-runtime/models/anthropic_claude/scenarios/claude3_chatbot_demo/README.md
Labels: Python, On Call Review complete, Bug

#7053 Fix import in ssm-basics.js
  javascriptv3/example_code/ssm/scenarios/ssm-basics.js
Labels: Javascript-v3, On Call Review complete, Bug

#7050 Rust: Update dependencies, especially Hyper 1.x examples.
  rustv1/examples/apigateway/Cargo.toml
  rustv1/examples/apigatewaymanagement/Cargo.toml
  rustv1/examples/applicationautoscaling/Cargo.toml
  rustv1/examples/auto-scaling/Cargo.toml
  rustv1/examples/autoscalingplans/Cargo.toml
  rustv1/examples/batch/Cargo.toml
  rustv1/examples/cloudformation/Cargo.toml
  rustv1/examples/cloudwatch/Cargo.toml
  rustv1/examples/cloudwatchlogs/Cargo.toml
  rustv1/examples/cognitoidentity/Cargo.toml
  rustv1/examples/cognitoidentityprovider/Cargo.toml
  rustv1/examples/cognitosync/Cargo.toml
  rustv1/examples/concurrency/Cargo.toml
  rustv1/examples/config/Cargo.toml
  rustv1/examples/dynamodb/Cargo.toml
  rustv1/examples/ebs/Cargo.toml
  rustv1/examples/ec2/Cargo.toml
  rustv1/examples/ecr/Cargo.toml
  rustv1/examples/ecs/Cargo.toml
  rustv1/examples/eks/Cargo.toml
  rustv1/examples/firehose/Cargo.toml
  rustv1/examples/globalaccelerator/Cargo.toml
  rustv1/examples/glue/Cargo.toml
  rustv1/examples/greengrassv2/Cargo.toml
  rustv1/examples/iam/Cargo.toml
  rustv1/examples/iam/src/bin/iam-getting-started.rs
  rustv1/examples/iot/Cargo.toml
  rustv1/examples/kinesis/Cargo.toml
  rustv1/examples/kms/Cargo.toml
  rustv1/examples/lambda/Cargo.toml
  rustv1/examples/logging/logger/Cargo.toml
  rustv1/examples/logging/tracing/Cargo.toml
  rustv1/examples/medialive/Cargo.toml
  rustv1/examples/mediapackage/Cargo.toml
  rustv1/examples/polly/Cargo.toml
  rustv1/examples/qldb/Cargo.toml
  rustv1/examples/rds/Cargo.toml
  rustv1/examples/rdsdata/Cargo.toml
  rustv1/examples/route53/Cargo.toml
  rustv1/examples/s3/Cargo.toml
  rustv1/examples/sagemaker/Cargo.toml
  rustv1/examples/sdk-config/Cargo.toml
  rustv1/examples/secretsmanager/Cargo.toml
  rustv1/examples/sending-presigned-requests/Cargo.toml
  rustv1/examples/sending-presigned-requests/src/main.rs
  rustv1/examples/ses/Cargo.toml
  rustv1/examples/sitewise/Cargo.toml
  rustv1/examples/snowball/Cargo.toml
  rustv1/examples/sns/Cargo.toml
  rustv1/examples/sqs/Cargo.toml
  rustv1/examples/ssm/Cargo.toml
  rustv1/examples/stepfunction/Cargo.toml
  rustv1/examples/sts/Cargo.toml
  rustv1/examples/testing/Cargo.toml
  rustv1/examples/transcribestreaming/Cargo.toml
Labels: Rust, On Call Review complete, Task

#7035 Swift AssumeRole: Add region command line option
  swift/example_code/sts/AssumeRole/Sources/AssumeRoleExampleError.swift
  swift/example_code/sts/AssumeRole/Sources/entry.swift
Labels: Swift, On Call Review complete, Bug

#7039 Update Package.swift files
  swift/example_code/swift-sdk/Waiters/Package.swift
  swift/example_code/swift-sdk/mocking/Package.swift
  swift/modules/SwiftUtilities/Package.swift
Labels: Swift, On Call Review complete, Task

#7027 Rust: Run NPM Update on webassembly example to catch CVE in transient dependency.
  rustv1/webassembly/www/package-lock.json
Labels: Rust, On Call Review complete, Task

#7034 Weathertop: Fix batchStorage not being a number.
  .tools/test/stacks/config/targets.ts
  .tools/test/stacks/plugin/typescript/plugin_stack.ts
Labels: On Call Review complete, Bug, Tools

#7058 Python: Update comments for Kinesis GetRecords
  .doc_gen/metadata/kinesis_metadata.yaml
  python/example_code/kinesis/streams/kinesis_stream.py
Labels: Python, On Call Review complete, Bug

#7057 JavaV2: Check if bucket exists example that provides replacement for V1's `doesBucketExistV2`
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/DoesBucketExist.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/S3DirectoriesDownloader.java
  javav2/example_code/s3/src/main/resources/xml_testing.xml
  javav2/example_code/s3/src/test/java/com/example/s3/DoesBucketExistTest.java
Labels: On Call Review complete, Java-v2, Task, java

#7064 Add another set of SoS tags to Swift example
  swift/example_code/s3/presigned-urls/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7056 JavaScript (v3): Cognito - Add the "auto-confirm user" scenario. Part of the Pools and Triggers workflow.
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  javascriptv3/biome.json
  javascriptv3/example_code/cognito-identity-provider/README.md
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/README.md
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/actions/cloudwatch-logs-actions.js
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/actions/cognito-actions.js
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/actions/dynamodb-actions.js
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/.gitignore
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/.npmignore
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/README.md
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/bin/cdk.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/cdk.json
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/lib/base.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/lib/stack.autoConfirmHandler.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/lib/stack.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/lib/user-repository.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/package.json
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/stack.yaml
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/tests/cdk.unit.test.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/tsconfig.json
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/index.js
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/package.json
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/scenario-auto-confirm.js
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/steps-common.js
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/tests/scenario-auto-confirm.integration.test.js
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/vite.config.js
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/libs/prompter.js
  javascriptv3/example_code/libs/scenario/scenario-parser.js
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/example_code/libs/scenario/steps-common.js
  javascriptv3/package.json
  workflows/user_pools_and_lambda_triggers/README.md
Labels: Javascript-v3, On Call Review complete, Workflow, Follow

#7055 JavaScript: Fixes two failing integration tests.
  javascriptv3/example_code/dynamodb/tests/update-item.integration.test.js
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/lambda/actions/update-function-configuration.js
Labels: Javascript-v3, On Call Review complete, Bug

#7020 Fixes a typo in the specification and basics file.
  basics_scenarios/s3express_scenario/SPECIFICATION.md
  php/example_code/s3/ExpressRunner.php
  php/example_code/s3/S3ExpressBasics.php
  php/example_code/s3/composer.lock
Labels: PHP, On Call Review complete, Bug

#7077 Updated RDS YAML
  .doc_gen/metadata/rds_metadata.yaml
  javav2/example_code/rds/README.md
Labels: On Call Review complete, Java-v2, Bug

#7038 Java v2: Created InvokeFlow example for Amazon Bedrock Agents Runtime
  javav2/example_code/bedrock-agents-runtime/README.md
  javav2/example_code/bedrock-agents-runtime/pom.xml
  javav2/example_code/bedrock-agents-runtime/src/main/java/com/example/bedrockagents/runtime/InvokeFlow.java
  javav2/example_code/bedrock-agents-runtime/src/test/java/com/example/bedrockagents/runtime/InvokeFlowTest.java
Labels: On Call Review complete, Java-v2, Task

#7091 Update validate-doc-metadata.yml to -tools 2024.47.2
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7092 Java V2 Removes an outdated code example named GetEndpointURL.java from MediaConvert
  javav2/example_code/mediaconvert/src/main/java/com/example/mediaconvert/GetEndpointURL.java
  javav2/example_code/mediaconvert/src/test/java/AmazonMediaConvertTest.java
Labels: On Call Review complete, Java-v2, Bug

#7094 PHP: Adds metadata file and support for creating the Express subdirectory in S3 for PHP, and moves those files.
  .doc_gen/cross-content/phrases-code-examples.ent
  .doc_gen/metadata/s3-directory-buckets_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .tools/readmes/config.py
  php/example_code/s3/README.md
  php/example_code/s3/express/ExpressRunner.php
  php/example_code/s3/express/README.md
  php/example_code/s3/express/S3ExpressBasics.php
  php/example_code/s3/express/tests/S3ExpressBasicsTest.php
Labels: PHP, On Call Review complete, Task, Tools

#7081 Go: Genai data for redshift_metadata.yaml
  .doc_gen/metadata/redshift_metadata.yaml
Labels: On Call Review complete, Task

#7097 Java V2 Adds abortMultipartUpload code example
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
Labels: On Call Review complete, Java-v2, Bug

#7100 Update to tools release 2024.47.3.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, Task

#7014 Add AWS ACM Java V2 files
  .doc_gen/metadata/acm_metadata.yaml
  .doc_gen/validation.yaml
  javav2/example_code/acm/.gitignore
  javav2/example_code/acm/README.md
  javav2/example_code/acm/pom.xml
  javav2/example_code/acm/src/main/java/com/example/acm/AddTagsToCertificate.java
  javav2/example_code/acm/src/main/java/com/example/acm/DeleteCert.java
  javav2/example_code/acm/src/main/java/com/example/acm/DescribeCert.java
  javav2/example_code/acm/src/main/java/com/example/acm/ExportCertificate.java
  javav2/example_code/acm/src/main/java/com/example/acm/ImportCert.java
  javav2/example_code/acm/src/main/java/com/example/acm/ListCertTags.java
  javav2/example_code/acm/src/main/java/com/example/acm/ListCerts.java
  javav2/example_code/acm/src/main/java/com/example/acm/RemoveTagsFromCert.java
  javav2/example_code/acm/src/main/java/com/example/acm/RenewCert.java
  javav2/example_code/acm/src/main/java/com/example/acm/RequestCert.java
  javav2/example_code/acm/src/test/java/ACMTests.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/S3Service.java
  javav2/usecases/creating_lambda_ppe/src/main/java/com/example/ppe/SendEmail.java
Labels: On Call Review complete, Java-v2, Bug

#7096 Bedrock Runtime - All languages: Remove outdated examples for Meta Llama2
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/Bedrock-runtime/Actions/InvokeModelAsync.cs
  dotnetv3/Bedrock-runtime/BedrockRuntimeExamples.sln
  dotnetv3/Bedrock-runtime/Models/MetaLlama/Llama2_InvokeModel/InvokeModel.cs
  dotnetv3/Bedrock-runtime/Models/MetaLlama/Llama2_InvokeModel/Llama2_InvokeModel.csproj
  dotnetv3/Bedrock-runtime/Models/MetaLlama/Llama2_InvokeModelWithResponseStream/InvokeModelWithResponseStream.cs
  dotnetv3/Bedrock-runtime/Models/MetaLlama/Llama2_InvokeModelWithResponseStream/Llama2_InvokeModelWithResponseStream.csproj
  dotnetv3/Bedrock-runtime/README.md
  dotnetv3/Bedrock-runtime/Tests/ActionTest_InvokeModelWithResponseStream.cs
  dotnetv3/Bedrock-runtime/Tests/ActionTests_InvokeModel.cs
  dotnetv3/Bedrock-runtime/Tests/BedrockRuntimeTests.csproj
  dotnetv3/DotNetV3Examples.sln
  gov2/bedrock-runtime/README.md
  gov2/bedrock-runtime/actions/invoke_model.go
  gov2/bedrock-runtime/actions/invoke_model_test.go
  gov2/bedrock-runtime/scenarios/scenario_invoke_models.go
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/models/metaLlama/llama2/invoke_model_quickstart.js
  javascriptv3/example_code/bedrock-runtime/models/metaLlama/llama2/invoke_model_with_response_stream_quickstart.js
  javascriptv3/example_code/bedrock-runtime/tests/meta_llama.integration.test.js
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/metaLlama/Llama2_InvokeModel.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/metaLlama/Llama2_InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestConverse.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestConverseAsync.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestInvokeModel.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestInvokeModelWithResponseStream.java
  php/example_code/bedrock-runtime/BedrockRuntimeService.php
  php/example_code/bedrock-runtime/GettingStartedWithBedrockRuntime.php
  php/example_code/bedrock-runtime/README.md
  php/example_code/bedrock-runtime/tests/BedrockRuntimeTests.php
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/models/meta_llama/llama2_invoke_model.py
  python/example_code/bedrock-runtime/models/meta_llama/llama2_invoke_model_with_response_stream.py
  python/example_code/bedrock-runtime/test/test_invoke_model.py
Labels: DotNet-v3, Go-v2, Javascript-v3, PHP, Python, On Call Review complete, Java-v2, Task

#7099 Python: HealthLake examples for action
  .doc_gen/metadata/healthlake_metadata.yaml
  python/example_code/healthlake/README.md
  python/example_code/healthlake/health_lake_wrapper.py
  python/example_code/healthlake/requirements.txt
  python/example_code/healthlake/test/conftest.py
  python/example_code/healthlake/test/test_health_lake_wrapper.py
  python/test_tools/healthlake_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, On Call Review complete, Task

#7065 Simplify presigning example
  swift/example_code/s3/presigned-urls/Package.swift
  swift/example_code/s3/presigned-urls/Sources/TransferDirection.swift
  swift/example_code/s3/presigned-urls/Sources/entry.swift
  swift/example_code/s3/presigned-urls/Sources/presigned-download/TransferError.swift
  swift/example_code/s3/presigned-urls/Sources/presigned-download/entry.swift
  swift/example_code/s3/presigned-urls/Sources/presigned-upload/TransferError.swift
  swift/example_code/s3/presigned-urls/Sources/presigned-upload/entry.swift
Labels: Swift, On Call Review complete, Task

#7102 Java V2 Adds upload part copy code example to AWS code lib
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/scenario/S3Scenario.java
Labels: On Call Review complete, Java-v2, Bug

#7103 Multi-part upload example for Swift
  swift/example_code/s3/multipart-upload/Package.swift
  swift/example_code/s3/multipart-upload/Sources/TransferError.swift
  swift/example_code/s3/multipart-upload/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7107 Javascript: Changes default behavior to wait for Job Run State checks.
  javascriptv3/example_code/glue/scenarios/basic/steps/start-job-run.js
Labels: Javascript-v3, On Call Review complete, Bug

#7116 JavaScript: Updates timer util to integrate a backoff for long running retries.
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/tests/scenario-auto-confirm.integration.test.js
  javascriptv3/example_code/libs/utils/util-timers.js
Labels: Javascript-v3, On Call Review complete, Bug

#7087 JavaV2: Add presignedURL PUT example that uses query params instead of headers
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedUrlAndPutFileWithQueryParams.java
  javav2/example_code/s3/src/test/java/com/example/s3/presignurl/GeneratePresignedPutUrlTests.java
Labels: On Call Review complete, Java-v2, Task, New example request

#7115 Adjust snippet for Swift multipart upload sample
  swift/example_code/s3/presigned-urls/Sources/presigned-upload/entry.swift
Labels: Swift, On Call Review complete, Task
