Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-12, with the labels that each got.

#7125 Meta: Metadata fixes for yamale and tools release
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/dynamodb_metadata.yaml
  .doc_gen/metadata/iot_sitewise_metadata.yaml
  .doc_gen/metadata/medical-imaging_metadata.yaml
  .doc_gen/metadata/redshift_metadata.yaml
  .doc_gen/metadata/s3-control_metadata.yaml
  .doc_gen/metadata/s3-directory-buckets_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/ssm_metadata.yaml
  .github/workflows/validate-doc-metadata.yml
  javav2/example_code/iotsitewise/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/batch/README.md
  php/example_code/s3/express/README.md
Labels: PHP, On Call Review complete, Java-v2, GitHub settings, Task

#7128 Gives more time for stack creation before timing out.
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/tests/scenario-auto-confirm.integration.test.js
Labels: Javascript-v3, On Call Review complete, Bug

#7124 Java V2 Add a S3 bucket replication example
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/replication/BucketReplication.java
Labels: On Call Review complete, Java-v2, Bug

#7106 .NET v4 preview: adding example folders for AutoScaling and Aurora
  .github/workflows/lint-check-dotnet.yml
  .tools/readmes/config.py
  dotnetv4/.editorconfig
  dotnetv4/.gitignore
  dotnetv4/Aurora/Actions/AuroraActions.csproj
  dotnetv4/Aurora/Actions/AuroraWrapper.cs
  dotnetv4/Aurora/Actions/HelloAurora.cs
  dotnetv4/Aurora/AuroraExamples.sln
  dotnetv4/Aurora/README.md
  dotnetv4/Aurora/Scenarios/AuroraScenario.cs
  dotnetv4/Aurora/Scenarios/AuroraScenario.csproj
  dotnetv4/Aurora/Tests/AuroraScenarioTests.cs
  dotnetv4/Aurora/Tests/AuroraTests.csproj
  dotnetv4/Aurora/Tests/Usings.cs
  dotnetv4/Aurora/Tests/testsettings.json
  dotnetv4/AutoScaling/Actions/AutoScalingActions.csproj
  dotnetv4/AutoScaling/Actions/AutoScalingWrapper.cs
  dotnetv4/AutoScaling/Actions/CloudWatchWrapper.cs
  dotnetv4/AutoScaling/Actions/EC2Wrapper.cs
  dotnetv4/AutoScaling/Actions/HelloAutoScaling.cs
  dotnetv4/AutoScaling/AutoScalingExamples.sln
  dotnetv4/AutoScaling/README.md
  dotnetv4/AutoScaling/Scenarios/AutoScalingBasics/AutoScalingBasics.cs
  dotnetv4/AutoScaling/Scenarios/AutoScalingBasics/AutoScalingBasics.csproj
  dotnetv4/AutoScaling/Scenarios/AutoScalingBasics/UIWrapper.cs
  dotnetv4/AutoScaling/Scenarios/AutoScalingBasics/Usings.cs
  dotnetv4/AutoScaling/Scenarios/AutoScalingBasics/settings.json
  dotnetv4/AutoScaling/Tests/AutoScalingTests.csproj
  dotnetv4/AutoScaling/Tests/AutoScalingWrapperTests.cs
  dotnetv4/AutoScaling/Tests/Usings.cs
  dotnetv4/AutoScaling/Tests/testsettings.json
  dotnetv4/Directory.Build.props
  dotnetv4/Dockerfile
  dotnetv4/DotNetV4Examples.sln
  dotnetv4/README.md
Labels: On Call Review complete, GitHub settings, Internal, Task, Tools, .NET

#7111 Rust: Bump ephemeral storage to 60GiB in weathertop.
  .tools/test/stacks/config/targets.yaml
  .tools/test/stacks/plugin/typescript/plugin_stack.ts
Labels: On Call Review complete, Task, Tools

#7131 Python: HealthLake, metadata updates
  .doc_gen/metadata/healthlake_metadata.yaml
  python/example_code/healthlake/README.md
  python/example_code/healthlake/health_lake_wrapper.py
Labels: Python, On Call Review complete, Task

#7134 Fix obsolete Swift reference link
  swift/example_code/iam/README.md
Labels: Swift, On Call Review complete, Task

#7135 Tools: Update to latest tools release (Swift reference link).
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7120 Javascript: Updated README formatting for transcription-streaming example
  javascriptv3/example_code/cross-services/transcribe-streaming-app/README.md
Labels: Javascript-v3, On Call Review complete, Task

#7123 JavaScript: Cognito - Add type annotation on authService.ts
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/authService.ts
Labels: Javascript-v3, On Call Review complete, Bug

#7130 Add new Swift example showing streamed binary data
  swift/example_code/s3/binary-streaming/Package.swift
  swift/example_code/s3/binary-streaming/Sources/TransferError.swift
  swift/example_code/s3/binary-streaming/Sources/entry.swift
  swift/example_code/s3/binary-streaming/test.sh
Labels: Swift, On Call Review complete, Task

#7136 Rust: Weathertop run_all with --clean
  rustv1/Dockerfile
Labels: Rust, Testing, On Call Review complete, Task

#7138 Java: Restore content accidentally removed in overzealous validation cleanup.
  .doc_gen/metadata/s3_metadata.yaml
Labels: On Call Review complete, Bug

#7139 Swift: Rename duplicate snippet tag in Swift list buckets example.
  swift/example_code/s3/ListBuckets-Simple/Sources/entry.swift
Labels: Swift, On Call Review complete, Bug

#7129 JavaScript (v3): Add compile step to tests for TS type checks.
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/package.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task

#7066 Python: Add log group argument to CloudWatchQuery. Addresses #7022
  python/example_code/cloudwatch-logs/README.md
  python/example_code/cloudwatch-logs/scenarios/large-query/README.md
  python/example_code/cloudwatch-logs/scenarios/large-query/cloudwatch_query.py
  python/example_code/cloudwatch-logs/scenarios/large-query/exec.py
Labels: Python, On Call Review complete, Task

#7149 Python: HealthLake update comments
  python/example_code/healthlake/health_lake_wrapper.py
Labels: Python, On Call Review complete, Internal, Task

#7156 Tools & meta: add complex categories feature, update tools release, update READMEs
  .github/workflows/validate-doc-metadata.yml
  .tools/readmes/config.py
  .tools/readmes/includes/code_examples.jinja2
  .tools/readmes/render.py
  dotnetv3/Glacier/README.md
  dotnetv3/MediaConvert/README.md
  gov2/bedrock-runtime/README.md
  gov2/cognito/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/cognito-identity-provider/README.md
  javascriptv3/example_code/elastic-load-balancing-v2/README.md
  javav2/example_code/kms/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/directorybucket/README.md
  php/example_code/kms/README.md
  python/example_code/cognito/README.md
  python/example_code/elastic-load-balancing/README.md
  ruby/example_code/cognito/README.md
Labels: DotNet-v3, Go-v2, Javascript-v3, PHP, Python, Ruby, On Call Review complete, Java-v2, GitHub settings, Task, Tools

#7151 Tools: Weathertop - Delete files
  package-lock.json
  package.json
Labels: On Call Review complete, Task

#7152 Tools: Weathertop - Streamline files
  .tools/test/stacks/images/scripts/delete_repository.py
  .tools/test/stacks/plugin/typescript/lambda/export_logs.py
Labels: On Call Review complete, Task, Tools

#7154 Tools: Weathertop - Plugin updates
  .tools/test/stacks/plugin/typescript/cdk.context.json
  .tools/test/stacks/plugin/typescript/plugin_stack.ts
Labels: On Call Review complete, Task, Tools

#7144 Java V2 Add the Firehose scenario
  .doc_gen/metadata/firehose_metadata.yaml
  javav2/example_code/firehose/README.md
  javav2/example_code/firehose/pom.xml
  javav2/example_code/firehose/src/main/java/com/example/firehose/CreateDeliveryStream.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/DeleteStream.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/ListDeliveryStreams.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/PutBatchRecords.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/PutRecord.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/StockTrade.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/StockTradeGenerator.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/scenario/FirehoseScenario.java
  javav2/example_code/firehose/src/main/java/com/example/firehose/scenario/README.md
  javav2/example_code/firehose/src/test/java/FirehoseTest.java
  workflows/firehose/sample_records.json
Labels: On Call Review complete, Java-v2, Workflow, Follow

#7153 Tools: Weathertop - Update docs & deploy.py
  .tools/test/DEPLOYMENT.md
  .tools/test/stacks/deploy.py
Labels: On Call Review complete, Task, Tools

#7162 README for WRITEME: Update README process info for WRITEME
  .tools/readmes/README.md
Labels: On Call Review complete, Bug, Tools

#7164 Update to tools release 2024.51.0.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7165 JavaScript (v3): Integration test fix
  javascriptv3/Dockerfile
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/lib/stack.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/stack.yaml
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/tests/scenario-auto-confirm.integration.test.js
Labels: Javascript-v3, On Call Review complete, Bug

#7168 Tools: Deny List - Update validation.yaml
  .doc_gen/validation.yaml
Labels: On Call Review complete, Task

#7167 Bump to rust 1.83.0
  .github/workflows/lint-rust.yml
  rustv1/cross_service/photo_asset_management/src/chunked_uploader.rs
  rustv1/cross_service/rest_ses/src/client.rs
  rustv1/cross_service/rest_ses/src/work_item/work_item_archived.rs
  rustv1/cross_service/rust-toolchain.toml
  rustv1/examples/bedrock-runtime/src/bin/tool-use.rs
  rustv1/examples/rust-toolchain.toml
  rustv1/examples/s3/src/bin/select-object-content.rs
Labels: Rust, On Call Review complete, GitHub settings, Task

#7172 Release tools 2024.51.1
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7145 Python: S3 Express basics follow
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/s3-directory-buckets_metadata.yaml
  php/example_code/ec2/README.md
  python/demo_tools/question.py
  python/example_code/ec2/README.md
  python/example_code/ec2/test/test_vpc.py
  python/example_code/ec2/vpc.py
  python/example_code/s3-directory-buckets/README.md
  python/example_code/s3-directory-buckets/requirements.txt
  python/example_code/s3-directory-buckets/s3_express_getting_started.py
  python/example_code/s3-directory-buckets/s3_express_template.yaml
  python/example_code/s3-directory-buckets/s3_express_wrapper.py
  python/example_code/s3-directory-buckets/tests/conftest.py
  python/example_code/s3-directory-buckets/tests/test_s3_express_getting_started_cleanup.py
  python/example_code/s3-directory-buckets/tests/test_s3_express_getting_started_create_session_and_add_objects.py
  python/example_code/s3-directory-buckets/tests/test_s3_express_getting_started_create_vpc_and_users.py
  python/example_code/s3-directory-buckets/tests/test_s3_express_getting_started_demonstrate_performance.py
  python/example_code/s3-directory-buckets/tests/test_s3_express_getting_started_setup_clients_and_buckets.py
  python/example_code/s3-directory-buckets/tests/test_s3_express_getting_started_show_lexicographical_differences.py
  python/test_tools/ec2_stubber.py
  python/test_tools/s3_stubber.py
Labels: PHP, Python, On Call Review complete, Follow, Basics

#7028 Multi: Adding Tributary lite samples links
  .doc_gen/cross-content/tl_ServerlessApplication_DotNet_block.xml
  .doc_gen/cross-content/tl_ServerlessApplication_Go_block.xml
  .doc_gen/cross-content/tl_ServerlessApplication_Java_block.xml
  .doc_gen/cross-content/tl_ServerlessApplication_Rust_block.xml
  .doc_gen/metadata/tributary-lite_metadata.yaml
Labels: On Call Review complete, Task, .NET

#7158 PHP: Adds example code for Amazon Bedrock Agent
  php/example_code/bedrock-agent-runtime/.gitignore
  php/example_code/bedrock-agent-runtime/BedrockAgentRuntimeService.php
  php/example_code/bedrock-agent-runtime/GettingStartedWithBedrockRuntime.php
  php/example_code/bedrock-agent-runtime/README.md
  php/example_code/bedrock-agent-runtime/Runner.php
  php/example_code/bedrock-agent-runtime/composer.json
  php/example_code/bedrock-agent-runtime/composer.lock
  php/example_code/bedrock-agent-runtime/tests/BedrockAgentRuntimeTests.php
Labels: PHP, On Call Review complete, Task

#7174 .NET v3: S3 Conditional Requests Feature Scenario Follow
  .doc_gen/metadata/s3_metadata.yaml
  dotnetv3/S3/README.md
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/README.md
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequests/Enums.cs
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequests/S3ActionsWrapper.cs
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequests/S3ConditionalRequestsScenario.cs
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequests/S3ConditionalRequestsScenario.csproj
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequests/settings.json
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequestsScenario.sln
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequestsTests/S3ConditionalRequestsScenarioTests.cs
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequestsTests/S3ConditionalRequestsTests.csproj
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequestsTests/Usings.cs
  dotnetv3/S3/scenarios/S3ConditionalRequestsScenario/S3ConditionalRequestsTests/testsettings.json
  workflows/s3_conditional_requests/README.md
Labels: DotNet-v3, On Call Review complete, Workflow, Follow

#7175 Update Dockerfile
  javascriptv3/Dockerfile
Labels: Javascript-v3, On Call Review complete, Bug

#7176 Update README.md
  ruby/README.md
Labels: Ruby, On Call Review complete, Task

#7177 Ruby: DynamoDB - Update scenario_getting_started_dynamodb_spec.rb
  ruby/example_code/dynamodb/basics/spec/scenario_getting_started_dynamodb_spec.rb
Labels: Ruby, On Call Review complete, Task
