Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-08, with the labels that each got.

#6676 Java V2 Add S3 files for the S3 Basics Batch scenario
  .doc_gen/metadata/s3-control_metadata.yaml
  basics_scenarios/s3_batch/README.md
  basics_scenarios/s3_batch/SPECIFICATION.md
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/batch/CloudFormationHelper.java
  javav2/example_code/s3/src/main/java/com/example/s3/batch/HelloS3Batch.java
  javav2/example_code/s3/src/main/java/com/example/s3/batch/S3BatchActions.java
  javav2/example_code/s3/src/main/java/com/example/s3/batch/S3BatchScenario.java
  javav2/example_code/s3/src/main/resources/batch/job-manifest.csv
  javav2/example_code/s3/src/test/java/S3BatchTest.java
  javav2/example_code/s3/template.yaml
Labels: On Call Review complete, Java-v2, Basics

#6650 Java V2 Refactored SSM scenario
  .doc_gen/metadata/ssm_metadata.yaml
  javav2/example_code/ssm/README.md
  javav2/example_code/ssm/pom.xml
  javav2/example_code/ssm/src/main/java/com/example/scenario/SSMActions.java
  javav2/example_code/ssm/src/main/java/com/example/scenario/SSMScenario.java
  javav2/example_code/ssm/src/test/java/AWSSSMTest.java
Labels: On Call Review complete, Java-v2, Basics

#6703 Add ABAP example for Claude v3
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  sap-abap/services/bdr/README.md
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.abap
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.testclasses.abap
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.xml
Labels: On Call Review complete, Task, SAP ABAP

#6713 Javav2: S3 Fix incorrect paths in presigned URL links
  javav2/example_code/s3/README.md
Labels: On Call Review complete, Java-v2, Bug

#6721 SOS: Bundle personalize services
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Task

#6720 JavaScript (v3): Libs - Add more common steps, allow for default values, and refactor.
  javascriptv3/example_code/libs/scenario/index.js
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/example_code/libs/scenario/steps-common.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/import-steps.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/verify-steps.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-deploy.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-image-frame.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-import.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-verify.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/htl-img-image-set.unit.test.js
Labels: Javascript-v3, On Call Review complete, Task

#6723 Rust: Fix github link
  .doc_gen/metadata/ssm_metadata.yaml
Labels: On Call Review complete, Task

#6729 Tools - WRITEME: Fix logging
  .tools/readmes/writeme.py
Labels: On Call Review complete, Bug, Tools

#6732 Rust: Webassembly update to latest aws-wasm API.
  rustv1/webassembly/src/lib.rs
Labels: Rust, On Call Review complete, Task

#6730 Ruby - DynamoDB: Fix broken test
  .github/linters/.ruby-lint.yml
  ruby/example_code/dynamodb/partiql/spec/scenario_partiql_single_spec.rb
Labels: Ruby, On Call Review complete, Bug

#6735 DocGen: Correct ec2 github links
  .doc_gen/metadata/ec2_metadata.yaml
Labels: On Call Review complete, Bug

#6739 Tools: writeme handles missing readmes
  .tools/readmes/render.py
  .tools/readmes/writeme.py
Labels: On Call Review complete, Bug, Tools

#6742 .NET v3: Adding EventBridge Scheduler Workflow
  .doc_gen/metadata/scheduler_metadata.yaml
  .doc_gen/metadata/services.yaml
  .github/workflows/validate-doc-metadata.yml
  .tools/ailly/dotnet-prompts.yaml
  .tools/readmes/config.py
  dotnetv3/EventBridge Scheduler/Actions/HelloScheduler.cs
  dotnetv3/EventBridge Scheduler/Actions/SchedulerActions.csproj
  dotnetv3/EventBridge Scheduler/Actions/SchedulerWrapper.cs
  dotnetv3/EventBridge Scheduler/Actions/ServiceActions.csproj
  dotnetv3/EventBridge Scheduler/EventBridgeScheduler.sln
  dotnetv3/EventBridge Scheduler/README.md
  dotnetv3/EventBridge Scheduler/Scenarios/README.md
  dotnetv3/EventBridge Scheduler/Scenarios/SchedulerScenario.csproj
  dotnetv3/EventBridge Scheduler/Scenarios/SchedulerWorkflow.cs
  dotnetv3/EventBridge Scheduler/Tests/SchedulerTests.csproj
  dotnetv3/EventBridge Scheduler/Tests/SchedulerWorkflowTests.cs
  dotnetv3/EventBridge Scheduler/Tests/Usings.cs
  workflows/eventbridge_scheduler/README.md
  workflows/eventbridge_scheduler/SPECIFICATION.md
  workflows/eventbridge_scheduler/resources/cfn_template.yaml
  workflows/eventbridge_scheduler/resources/emails.png
  workflows/eventbridge_scheduler/resources/scheduler-workflow.png
Labels: DotNet-v3, On Call Review complete, GitHub settings, Workflow, Scout, Tools

#6763 Removing old JS examples
  .doc_gen/cross-content/cross_ServerlessWorkflows_JavaScript_block.xml
  .doc_gen/cross-content/cross_TranscriptionApp_JavaScript_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/README.md
  javascriptv3/example_code/cross-services/lambda-step-functions/package.json
  javascriptv3/example_code/cross-services/lambda-step-functions/setup.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda1/getid.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda2/additem.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda3/sendemail.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/libs/dynamoClient.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/libs/sesClient.js
  javascriptv3/example_code/cross-services/transcription-app/README.md
  javascriptv3/example_code/cross-services/transcription-app/package.json
  javascriptv3/example_code/cross-services/transcription-app/setup.yaml
  javascriptv3/example_code/cross-services/transcription-app/src/helper.js
  javascriptv3/example_code/cross-services/transcription-app/src/index.html
  javascriptv3/example_code/cross-services/transcription-app/src/index.js
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.css
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.js
  resources/cdk/javascript_example_code_transcribe_demo/cdk.json
  resources/cdk/javascript_example_code_transcribe_demo/package-lock.json
  resources/cdk/javascript_example_code_transcribe_demo/package.json
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
  resources/cdk/javascript_example_code_transcribe_demo/tsconfig.json
  resources/cdk/lambda_api_step_functions/cdk.json
  resources/cdk/lambda_api_step_functions/package.json
  resources/cdk/lambda_api_step_functions/setup.ts
  resources/cdk/lambda_api_step_functions/tsconfig.json
Labels: Javascript-v3, On Call Review complete, Task

#6724 Update IotActions.java
  javav2/example_code/iot/src/main/java/com/example/iot/scenario/IotActions.java
Labels: On Call Review complete, Java-v2, Task

#6765 Revert "Removing old JS examples"
  .doc_gen/cross-content/cross_ServerlessWorkflows_JavaScript_block.xml
  .doc_gen/cross-content/cross_TranscriptionApp_JavaScript_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/README.md
  javascriptv3/example_code/cross-services/lambda-step-functions/package.json
  javascriptv3/example_code/cross-services/lambda-step-functions/setup.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda1/getid.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda2/additem.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda3/sendemail.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/libs/dynamoClient.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/libs/sesClient.js
  javascriptv3/example_code/cross-services/transcription-app/README.md
  javascriptv3/example_code/cross-services/transcription-app/package.json
  javascriptv3/example_code/cross-services/transcription-app/setup.yaml
  javascriptv3/example_code/cross-services/transcription-app/src/helper.js
  javascriptv3/example_code/cross-services/transcription-app/src/index.html
  javascriptv3/example_code/cross-services/transcription-app/src/index.js
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.css
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.js
  resources/cdk/javascript_example_code_transcribe_demo/cdk.json
  resources/cdk/javascript_example_code_transcribe_demo/package-lock.json
  resources/cdk/javascript_example_code_transcribe_demo/package.json
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
  resources/cdk/javascript_example_code_transcribe_demo/tsconfig.json
  resources/cdk/lambda_api_step_functions/cdk.json
  resources/cdk/lambda_api_step_functions/package.json
  resources/cdk/lambda_api_step_functions/setup.ts
  resources/cdk/lambda_api_step_functions/tsconfig.json
Labels: Javascript-v3, CDK, On Call Review complete, Bug

#6756 Python: Improve Movies description for DynamoDb examples.
  .tools/readmes/config.py
  python/example_code/dynamodb/GettingStarted/scenario_getting_started_movies.py
  python/example_code/dynamodb/README.md
Labels: Python, On Call Review complete, Bug, Tools

#6714 Java V2 Add the AWS Batch Scout
  .doc_gen/metadata/batch_metadata.yaml
  basics_scenarios/batch_scenario/README.md
  basics_scenarios/batch_scenario/SPECIFICATION.md
  javav2/example_code/batch/README.md
  javav2/example_code/batch/pom.xml
  javav2/example_code/batch/resources/cdk/batch_resources/README.md
  javav2/example_code/batch/resources/cdk/batch_resources/cdk.json
  javav2/example_code/batch/resources/cdk/batch_resources/pom.xml
  javav2/example_code/batch/resources/cdk/batch_resources/template.yaml
  javav2/example_code/batch/src/main/java/com/example/batch/HelloBatch.java
  javav2/example_code/batch/src/main/java/com/example/batch/scenario/BatchActions.java
  javav2/example_code/batch/src/main/java/com/example/batch/scenario/BatchScenario.java
  javav2/example_code/batch/src/main/java/com/example/batch/scenario/CloudFormationHelper.java
  javav2/example_code/batch/src/main/resources/BatchRoles-template.yaml
  javav2/example_code/batch/src/main/resources/BatchStack-template.yaml
  javav2/example_code/batch/src/main/resources/EcsStack-template.yaml
  javav2/example_code/batch/src/main/resources/log4j2.xml
  javav2/example_code/batch/src/test/java/BatchTest.java
Labels: On Call Review complete, Java-v2, Basics

#6745 Rust: Add WRITEME folder config overrides.
  .tools/readmes/config.py
  rustv1/examples/apigateway/README.md
  rustv1/examples/apigatewaymanagement/README.md
  rustv1/examples/applicationautoscaling/README.md
  rustv1/examples/cognitoidentityprovider/README.md
  rustv1/examples/cognitosync/README.md
  rustv1/examples/rdsdata/README.md
  rustv1/examples/route53/README.md
  rustv1/examples/secretsmanager/README.md
Labels: Rust, On Call Review complete, Task, Tools

#6761 Python:SSM:AI metadata
  .doc_gen/metadata/ssm_metadata.yaml
Labels: On Call Review complete, Task

#6767 Revert - Revert "Removing old JS examples" #6765
  .doc_gen/cross-content/cross_ServerlessWorkflows_JavaScript_block.xml
  .doc_gen/cross-content/cross_TranscriptionApp_JavaScript_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/README.md
  javascriptv3/example_code/cross-services/lambda-step-functions/package.json
  javascriptv3/example_code/cross-services/lambda-step-functions/setup.yaml
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda1/getid.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda2/additem.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/lambda3/sendemail.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/libs/dynamoClient.js
  javascriptv3/example_code/cross-services/lambda-step-functions/src/libs/sesClient.js
  javascriptv3/example_code/cross-services/transcription-app/README.md
  javascriptv3/example_code/cross-services/transcription-app/package.json
  javascriptv3/example_code/cross-services/transcription-app/setup.yaml
  javascriptv3/example_code/cross-services/transcription-app/src/helper.js
  javascriptv3/example_code/cross-services/transcription-app/src/index.html
  javascriptv3/example_code/cross-services/transcription-app/src/index.js
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.css
  javascriptv3/example_code/cross-services/transcription-app/src/recorder.js
  resources/cdk/javascript_example_code_transcribe_demo/cdk.json
  resources/cdk/javascript_example_code_transcribe_demo/package-lock.json
  resources/cdk/javascript_example_code_transcribe_demo/package.json
  resources/cdk/javascript_example_code_transcribe_demo/setup.ts
  resources/cdk/javascript_example_code_transcribe_demo/tsconfig.json
  resources/cdk/lambda_api_step_functions/cdk.json
  resources/cdk/lambda_api_step_functions/package.json
  resources/cdk/lambda_api_step_functions/setup.ts
  resources/cdk/lambda_api_step_functions/tsconfig.json
Labels: Javascript-v3, CDK, On Call Review complete, Task

#6774 Cpp:SDK customization, logging
  cpp/example_code/sdk-customization/override_default_logger.cpp
Labels: C++, On Call Review complete, Task

#6770 JavaScript (v3): EC2 - Standardize EC2 actions and basic scenario.
  .doc_gen/metadata/ec2_metadata.yaml
  javascriptv3/example_code/ec2/README.md
  javascriptv3/example_code/ec2/actions/allocate-address.js
  javascriptv3/example_code/ec2/actions/associate-address.js
  javascriptv3/example_code/ec2/actions/authorize-security-group-ingress.js
  javascriptv3/example_code/ec2/actions/create-key-pair.js
  javascriptv3/example_code/ec2/actions/create-security-group.js
  javascriptv3/example_code/ec2/actions/delete-key-pair.js
  javascriptv3/example_code/ec2/actions/delete-security-group.js
  javascriptv3/example_code/ec2/actions/describe-addresses.js
  javascriptv3/example_code/ec2/actions/describe-images.js
  javascriptv3/example_code/ec2/actions/describe-instance-types.js
  javascriptv3/example_code/ec2/actions/describe-instances.js
  javascriptv3/example_code/ec2/actions/describe-key-pairs.js
  javascriptv3/example_code/ec2/actions/describe-regions.js
  javascriptv3/example_code/ec2/actions/describe-security-groups.js
  javascriptv3/example_code/ec2/actions/disassociate-address.js
  javascriptv3/example_code/ec2/actions/monitor-instances.js
  javascriptv3/example_code/ec2/actions/reboot-instances.js
  javascriptv3/example_code/ec2/actions/release-address.js
  javascriptv3/example_code/ec2/actions/run-instances.js
  javascriptv3/example_code/ec2/actions/start-instances.js
  javascriptv3/example_code/ec2/actions/stop-instances.js
  javascriptv3/example_code/ec2/actions/terminate-instances.js
  javascriptv3/example_code/ec2/actions/unmonitor-instances.js
  javascriptv3/example_code/ec2/hello.js
  javascriptv3/example_code/ec2/libs/client.js
  javascriptv3/example_code/ec2/package.json
  javascriptv3/example_code/ec2/scenarios/basic.js
  javascriptv3/example_code/ec2/scenarios/steps.js
  javascriptv3/example_code/ec2/tests/allocate-address.unit.test.js
  javascriptv3/example_code/ec2/tests/associate-address.unit.test.js
  javascriptv3/example_code/ec2/tests/authorize-security-group-ingress.unit.test.js
  javascriptv3/example_code/ec2/tests/basic.integration.test.js
  javascriptv3/example_code/ec2/tests/create-key-pair.unit.test.js
  javascriptv3/example_code/ec2/tests/create-security-group.unit.test.js
  javascriptv3/example_code/ec2/tests/delete-key-pair.unit.test.js
  javascriptv3/example_code/ec2/tests/delete-security-group.unit.test.js
  javascriptv3/example_code/ec2/tests/describe-addresses.unit.test.js
  javascriptv3/example_code/ec2/tests/describe-images.unit.test.js
  javascriptv3/example_code/ec2/tests/describe-instance-types.unit.test.js
  javascriptv3/example_code/ec2/tests/describe-instances.unit.test.js
  javascriptv3/example_code/ec2/tests/describe-key-pairs.unit.test.js
  javascriptv3/example_code/ec2/tests/describe-regions.unit.test.js
  javascriptv3/example_code/ec2/tests/describe-security-groups.unit.test.js
  javascriptv3/example_code/ec2/tests/disassociate-address.unit.test.js
  javascriptv3/example_code/ec2/tests/monitor-instances.unit.test.js
  javascriptv3/example_code/ec2/tests/reboot-instances.unit.test.js
  javascriptv3/example_code/ec2/tests/release-address.unit.test.js
  javascriptv3/example_code/ec2/tests/run-instances.unit.test.js
  javascriptv3/example_code/ec2/tests/start-instances.unit.test.js
  javascriptv3/example_code/ec2/tests/stop-instances.unit.test.js
  javascriptv3/example_code/ec2/tests/terminate-instances.unit.test.js
  javascriptv3/example_code/ec2/tests/unmonitor-instances.unit.test.js
  javascriptv3/example_code/libs/scenario/scenario.js
Labels: Javascript-v3, On Call Review complete, Task

#6781 Python:KMS, add strong warning for delete keys
  python/example_code/kms/key_management.py
Labels: Python, On Call Review complete, Task

#6759 Tools: writeme check for unmanaged folders logic remains wrong.
  .tools/readmes/render.py
  .tools/readmes/writeme.py
  cpp/example_code/aurora/README.md
  cpp/example_code/dynamodb/README.md
  cpp/example_code/lambda/README.md
  cpp/example_code/rds/README.md
  cpp/example_code/rekognition/README.md
  cpp/example_code/s3/README.md
  cpp/example_code/ses/README.md
  cpp/example_code/sns/README.md
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/ec2/README.md
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/ses/README.md
  javascriptv3/example_code/sfn/README.md
  php/example_code/dynamodb/README.md
  php/example_code/lambda/README.md
  php/example_code/s3/README.md
  php/example_code/sns/README.md
  python/example_code/api-gateway/README.md
  python/example_code/aurora/README.md
  python/example_code/comprehend/README.md
  python/example_code/emr/README.md
  python/example_code/lambda/README.md
  python/example_code/lookoutvision/README.md
  python/example_code/polly/README.md
  python/example_code/rds/README.md
  python/example_code/rekognition/README.md
  python/example_code/s3/README.md
  python/example_code/ses/README.md
  python/example_code/sns/README.md
  python/example_code/sqs/README.md
  python/example_code/textract/README.md
Labels: C++, Javascript-v3, PHP, Python, On Call Review complete, Bug, Tools

#6772 Update Java Ec2 examples to use latest Java Standards
  .doc_gen/metadata/ec2_metadata.yaml
  javav2/example_code/ec2/README.md
  javav2/example_code/ec2/pom.xml
  javav2/example_code/ec2/src/main/java/com/example/ec2/AllocateAddress.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateKeyPair.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateSecurityGroup.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateVolume.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteKeyPair.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteSecurityGroup.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeAccount.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeAddresses.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstanceTags.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeKeyPairs.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeRegionsAndZones.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeReservedInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeSecurityGroups.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeVPCs.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/EC2Scenario.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/FindRunningInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/GetPasswordData.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/MonitorInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/RebootInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/ReleaseAddress.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/StartStopInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/TerminateInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/scenario/EC2Actions.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/scenario/EC2Scenario.java
  javav2/example_code/ec2/src/main/resources/log4j2.xml
  javav2/example_code/ec2/src/test/java/EC2Test.java
Labels: On Call Review complete, Java-v2, Basics

#6782 JavaScript (v3): Readme - Update jinja template with run options instructions.
  .tools/readmes/includes/run_instructions.jinja2
  javascriptv3/example_code/auto-scaling/README.md
  javascriptv3/example_code/bedrock-agent-runtime/README.md
  javascriptv3/example_code/bedrock-agent/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock/README.md
  javascriptv3/example_code/cloudwatch-events/README.md
  javascriptv3/example_code/cloudwatch-logs/README.md
  javascriptv3/example_code/cloudwatch/README.md
  javascriptv3/example_code/codebuild/README.md
  javascriptv3/example_code/cognito-identity-provider/README.md
  javascriptv3/example_code/dynamodb/README.md
  javascriptv3/example_code/ec2/README.md
  javascriptv3/example_code/elastic-load-balancing-v2/README.md
  javascriptv3/example_code/eventbridge/README.md
  javascriptv3/example_code/glacier/README.md
  javascriptv3/example_code/glue/README.md
  javascriptv3/example_code/iam/README.md
  javascriptv3/example_code/lambda/README.md
  javascriptv3/example_code/medical-imaging/README.md
  javascriptv3/example_code/personalize/README.md
  javascriptv3/example_code/pinpoint/README.md
  javascriptv3/example_code/redshift/README.md
  javascriptv3/example_code/s3/README.md
  javascriptv3/example_code/sagemaker/README.md
  javascriptv3/example_code/secrets-manager/README.md
  javascriptv3/example_code/ses/README.md
  javascriptv3/example_code/sfn/README.md
  javascriptv3/example_code/sns/README.md
  javascriptv3/example_code/sqs/README.md
  javascriptv3/example_code/sts/README.md
  javascriptv3/example_code/support/README.md
  javascriptv3/example_code/transcribe/README.md
Labels: Javascript-v3, On Call Review complete, Task, Tools

#6786 -tools release 2024-08-28-A
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6783 python: Add ' us-gov-east-1' to SMTP_REGIONS in ses_generate_smtp_credentials.py
  python/example_code/ses/ses_generate_smtp_credentials.py
Labels: Python, On Call Review complete, Bug

#6795 SOS: Remove sdks and services.yaml because all tools now use the versions in -tools
  .doc_gen/metadata/sdks.yaml
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Task

#6796 Update tools release to 2024-08-29-A
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task
