Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-03, with the labels that each got.

#6165 Tools: ailly runner
  .gitignore
  .tools/.gitignore
  .tools/ailly/README.md
  .tools/ailly/ailly.py
  .tools/ailly/extract_snippets.sh
  .tools/ailly/package-lock.json
  .tools/ailly/package.json
  .tools/ailly/plugin.mjs
Labels: On Call Review complete, Task, Tools

#6196 Java, JavaScript, Python: Add code examples for the new Bedrock models from Mistral
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/actions/invoke-mistral7b.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-mixtral8x7b.js
  javascriptv3/example_code/bedrock-runtime/tests/invoke-model.integration.test.js
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/BedrockRuntimeUsageDemo.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModel.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelAsync.java
  javav2/example_code/bedrock-runtime/src/test/java/TextToTextAsyncTest.java
  javav2/example_code/bedrock-runtime/src/test/java/TextToTextSyncTest.java
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
  python/example_code/bedrock-runtime/test/test_bedrock_runtime_wrapper.py
  python/test_tools/bedrock_runtime_stubber.py
Labels: Javascript-v3, Python, On Call Review complete, Java-v2, Task

#6149 Swift: Add service error handler to example
  swift/example_code/swift-sdk/ErrorHandling/Package.swift
  swift/example_code/swift-sdk/ErrorHandling/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#6194 Python: Bug fix in Bedrock usage demo
  python/example_code/bedrock/README.md
  python/example_code/bedrock/bedrock_wrapper.py
Labels: Python, On Call Review complete, Task

#6182 Ruby: Fix tests
  ruby/example_code/sns/spec/create_subscriptions_spec.rb
Labels: Ruby, On Call Review complete, Task

#6198 Java, JavaScript, Python: Use recommended prompt template for Mistral
  javascriptv3/example_code/bedrock-runtime/actions/invoke-mistral7b.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-mixtral8x7b.js
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModel.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelAsync.java
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
  python/example_code/bedrock-runtime/requirements.txt
  python/test_tools/bedrock_runtime_stubber.py
Labels: Javascript-v3, Python, On Call Review complete, Java-v2, Bug

#6208 Fix incorrect property used in Error example
  swift/example_code/swift-sdk/ErrorHandling/Sources/entry.swift
Labels: Swift, On Call Review complete, Bug

#6195 Java v2: Add SelectObjectContent (Amazon S3 Select) example
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/async/SelectObjectContentExample.java
  javav2/example_code/s3/src/test/java/com/example/s3/async/SelectObjectContentExampleTest.java
Labels: On Call Review complete, Java-v2, Task

#6215 GitHub: Add sparse checkout to Audit Labels
  .github/workflows/label-auditor.yml
Labels: On Call Review complete, GitHub settings, Task

#6209 Python: Anthropic Claude v3 invocation examples for Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
  python/example_code/bedrock-runtime/models/anthropic/claude_3.py
  python/example_code/bedrock-runtime/resources/images/robot.png
  python/example_code/bedrock-runtime/test/test_claude_3.py
  python/test_tools/bedrock_runtime_stubber.py
Labels: Python, On Call Review complete, Task

#6222 Tools: Remove the meta keyword that includes the title
  .doc_gen/templates/zonbook/utility/service_examples.xml
Labels: On Call Review complete, Task, Tools

#6213 Tools: Use ailly@1.2.0 with Claude 3 support
  .tools/ailly/package.json
Labels: On Call Review complete, Task, Tools

#6214 Python: HealthImaging - update snippets
  .doc_gen/metadata/medical-imaging_metadata.yaml
  python/example_code/medical-imaging/README.md
  python/example_code/medical-imaging/medical_imaging_basics.py
Labels: Python, On Call Review complete, Text Review not needed, Task

#6203 Cpp: ACM legacy cleanup
  .doc_gen/metadata/acm_metadata.yaml
  cpp/example_code/acm/CMakeLists.txt
  cpp/example_code/acm/README.md
  cpp/example_code/acm/acm_basic_operations.cpp
  cpp/example_code/acm/acm_samples.h
  cpp/example_code/acm/add_tags_to_certificate.cpp
  cpp/example_code/acm/delete_certificate.cpp
  cpp/example_code/acm/describe_certificate.cpp
  cpp/example_code/acm/export_certificate.cpp
  cpp/example_code/acm/get_certificate.cpp
  cpp/example_code/acm/import_certificate.cpp
  cpp/example_code/acm/include/awsdoc/acm/ACM_EXPORTS.h
  cpp/example_code/acm/include/awsdoc/acm/acm_examples.h
  cpp/example_code/acm/list_certificates.cpp
  cpp/example_code/acm/list_tags_for_certificate.cpp
  cpp/example_code/acm/metadata.yaml
  cpp/example_code/acm/remove_tags_from_certificate.cpp
  cpp/example_code/acm/renew_certificate.cpp
  cpp/example_code/acm/request_certificate.cpp
  cpp/example_code/acm/resend_validation_email.cpp
  cpp/example_code/acm/tests/CMakeLists.txt
  cpp/example_code/acm/tests/acm_gtests.cpp
  cpp/example_code/acm/tests/acm_gtests.h
  cpp/example_code/acm/tests/gtest_add_tags_to_certificate.cpp
  cpp/example_code/acm/tests/gtest_delete_certificate.cpp
  cpp/example_code/acm/tests/gtest_describe_certificate.cpp
  cpp/example_code/acm/tests/gtest_export_certificate.cpp
  cpp/example_code/acm/tests/gtest_get_certificate.cpp
  cpp/example_code/acm/tests/gtest_import_certificate.cpp
  cpp/example_code/acm/tests/gtest_list_certificates.cpp
  cpp/example_code/acm/tests/gtest_list_tags_for_certificate.cpp
  cpp/example_code/acm/tests/gtest_remove_tags_from_certificate.cpp
  cpp/example_code/acm/tests/gtest_renew_certificate.cpp
  cpp/example_code/acm/tests/gtest_request_certificate.cpp
  cpp/example_code/acm/tests/gtest_resend_validation_email.cpp
  cpp/example_code/acm/tests/gtest_update_certificate_option.cpp
  cpp/example_code/acm/tests/mock_input/AddTagsToCertificate.json
  cpp/example_code/acm/tests/mock_input/DeleteCertificate.json
  cpp/example_code/acm/tests/mock_input/DescribeCertificate.json
  cpp/example_code/acm/tests/mock_input/ExportCertificate.json
  cpp/example_code/acm/tests/mock_input/GetCertificate.json
  cpp/example_code/acm/tests/mock_input/ImportCertificate.json
  cpp/example_code/acm/tests/mock_input/ListCertificates.json
  cpp/example_code/acm/tests/mock_input/ListTagsForCertificate.json
  cpp/example_code/acm/tests/mock_input/MockCertificate.pem
  cpp/example_code/acm/tests/mock_input/MockCertificateChain.pem
  cpp/example_code/acm/tests/mock_input/MockPrivateKey.pem
  cpp/example_code/acm/tests/mock_input/RemoveTagsFromCertificate.json
  cpp/example_code/acm/tests/mock_input/RenewCertificate.json
  cpp/example_code/acm/tests/mock_input/RequestCertificate.json
  cpp/example_code/acm/tests/mock_input/ResendValidationEmail.json
  cpp/example_code/acm/tests/mock_input/UpdateCertificateOption.json
  cpp/example_code/acm/tests/test_acm_basic_operations.cpp
  cpp/example_code/acm/tests/test_main.cpp
  cpp/example_code/acm/update_certificate_option.cpp
Labels: C++, On Call Review complete, Text Review not needed, Task

#6192 Java V2 Updated some EC2 code examples to show use of paginators.
  .doc_gen/metadata/ec2_metadata.yaml
  javav2/example_code/ec2/src/main/java/com/example/ec2/CreateInstance.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteKeyPair.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DeleteSecurityGroup.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeAccount.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstanceTags.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeRegionsAndZones.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeReservedInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeSecurityGroups.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/DescribeVPCs.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/EC2Scenario.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/FindRunningInstances.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/ReleaseAddress.java
  javav2/example_code/ec2/src/main/java/com/example/ec2/TerminateInstance.java
  javav2/example_code/ec2/src/test/java/EC2Test.java
Labels: On Call Review complete, Java-v2, Task

#6202 Java V2 Updated the Cloudfront Java tests
  javav2/example_code/cloudfront/pom.xml
  javav2/example_code/cloudfront/src/test/java/CloudFrontSigningTest.java
  javav2/example_code/cloudfront/src/test/java/CloudFrontTest.java
  javav2/example_code/cloudfront/src/test/java/S3TestUtils.java
Labels: On Call Review complete, Java-v2, Task

#6229 Bump ailly to 1.2.1
  .tools/ailly/package-lock.json
  .tools/ailly/package.json
Labels: On Call Review complete, Task, Tools

#6227 Metadata: HealthImaging, fix nested paragraphs
  .doc_gen/metadata/medical-imaging_metadata.yaml
  cpp/example_code/medical-imaging/README.md
Labels: C++, On Call Review complete, Text Review not needed, Bug

#6235 Do not ignore global /tmp/ files in JS, Kotlin, and Ruby.
  javascriptv3/example_code/.gitignore
  kotlin/services/bedrock/.gitignore
  ruby/.gitignore
Labels: On Call Review complete, Bug

#6233 Java V2 Update the Amazon DynamoDB Rest example to use Spring BOOT 3
  javav2/usecases/creating_dynamodb_web_app/Readme.md
  javav2/usecases/creating_dynamodb_web_app/pom.xml
Labels: On Call Review complete, Java-v2, Task

#6234 Cpp: Weathertop - fix false negatives
  cpp/example_code/aurora/tests/mock_input/4-DescribeDBClusterParameters.xml
  cpp/example_code/aurora/tests/mock_input/5-DescribeDBClusterParameters.xml
  cpp/example_code/aurora/tests/mock_input/9-DescribeDBClusterParameters.xml
  cpp/example_code/autoscaling/tests/autoscaling_gtests.cpp
  cpp/example_code/iam/tests/CMakeLists.txt
  cpp/example_code/iam/tests/gtest_iam_create_user_assume_role_scenario.cpp
  cpp/example_code/iam/tests/iam_gtests.cpp
  cpp/example_code/iam/tests/iam_gtests.h
  cpp/example_code/iam/tests/mock_input/1-CreateUser.xml
  cpp/example_code/iam/tests/mock_input/10-AssumeRole.xml
  cpp/example_code/iam/tests/mock_input/11-AttachRolePolicy.xml
  cpp/example_code/iam/tests/mock_input/12-DetachRolePolicy.xml
  cpp/example_code/iam/tests/mock_input/13-DeletePolicy.xml
  cpp/example_code/iam/tests/mock_input/14-DeleteRole.xml
  cpp/example_code/iam/tests/mock_input/15-DeleteUser.xml
  cpp/example_code/iam/tests/mock_input/2-GetUser.xml
  cpp/example_code/iam/tests/mock_input/3-CreateRole.xml
  cpp/example_code/iam/tests/mock_input/4-CreatePolicy.xml
  cpp/example_code/iam/tests/mock_input/5-AssumeRole.xml
  cpp/example_code/iam/tests/mock_input/ListBuckets.xml
  cpp/example_code/iam/tests/mock_input/ListBucketsFailed.xml
  cpp/example_code/iot/describe_thing.cpp
  cpp/example_code/iot/list_topic_rules.cpp
  cpp/example_code/mediaconvert/get_job.cpp
  cpp/example_code/medical-imaging/get_image_frame.cpp
  cpp/example_code/medical-imaging/get_image_set_metadata.cpp
  cpp/example_code/s3/list_buckets.cpp
  cpp/example_code/s3/tests/CMakeLists.txt
  cpp/example_code/s3/tests/S3_GTests.cpp
  cpp/example_code/s3/tests/S3_GTests.h
  cpp/example_code/s3/tests/gtest_delete_bucket_policy.cpp
  cpp/example_code/s3/tests/gtest_get_bucket_policy.cpp
  cpp/example_code/s3/tests/gtest_put_bucket_policy.cpp
  cpp/example_code/s3/tests/mock_input/DeleteBucketPolicy.xml
  cpp/example_code/s3/tests/mock_input/GetBucketPolicy.json
  cpp/example_code/s3/tests/mock_input/PutBucketPolicy.xml
  cpp/example_code/ses/verify_email_identity.cpp
  cpp/example_code/sns/subscribe_lambda.cpp
  cpp/example_code/sts/tests/CMakeLists.txt
  cpp/example_code/sts/tests/gtest_assume_role.cpp
  cpp/example_code/sts/tests/mock_input/AssumeRole.xml
  cpp/example_code/sts/tests/sts_gtests.cpp
  cpp/example_code/sts/tests/sts_gtests.h
  cpp/example_code/transcribe/get_transcript.cpp
  cpp/example_code/transfer-manager/transferOnStream.cpp
Labels: C++, Testing, On Call Review complete, Bug

#6245 GitHub: JavaScript - Fix bug where json files were being linted.
  .github/workflows/javascript.yml
  javascriptv3/github_scripts/lint.sh
Labels: Javascript-v3, On Call Review complete, GitHub settings, Bug

#6247 GitHub: JavaScript - Fix incorrect step id in github action.
  .github/workflows/javascript.yml
Labels: On Call Review complete, GitHub settings, Bug

#6249 GitHub: JavaScript - Add execute permission.
  javascriptv3/github_scripts/lint.sh
Labels: Javascript-v3, On Call Review complete, Bug

#6255 Rust: Bump examples MSRV to 1.74.1
  .github/workflows/rust.yml
  rustv1/Dockerfile
  rustv1/cross_service/rust-toolchain.toml
  rustv1/examples/rust-toolchain.toml
Labels: Rust, On Call Review complete, GitHub settings, Task

#6197 Java V2 Add Redshift Hello and Getting Started Scenario example
  .doc_gen/metadata/redshift_metadata.yaml
  getting_started_scenarios/iot_scenario/Readme.md
  getting_started_scenarios/iot_scenario/SPECIFICATION.md
  getting_started_scenarios/redshift_scenario/SPECIFICATION.md
  javascriptv3/example_code/redshift/README.md
  javav2/example_code/redshift/Readme.md
  javav2/example_code/redshift/pom.xml
  javav2/example_code/redshift/src/main/java/com/example/redshift/CreateAndModifyCluster.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/DeleteCluster.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/DescribeClusters.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/HelloRedshift.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/ListEvents.java
  javav2/example_code/redshift/src/main/java/com/example/redshift/User.java
  javav2/example_code/redshift/src/main/java/com/example/redshiftdata/InsertData.java
  javav2/example_code/redshift/src/main/java/com/example/redshiftdata/ListDatabases.java
  javav2/example_code/redshift/src/main/java/com/example/redshiftdata/RetrieveData.java
  javav2/example_code/redshift/src/main/java/com/example/redshiftdata/RetrieveDataServerless.java
  javav2/example_code/redshift/src/main/java/com/example/scenario/RedshiftScenario.java
  javav2/example_code/redshift/src/main/resources/config.properties
  javav2/example_code/redshift/src/test/java/AmazonRedshiftTest.java
Labels: Javascript-v3, On Call Review complete, Java-v2, Workflow

#6257 Tools: Ailly at 1.2.5-rc1 with windows working for 2 engineers
  .tools/ailly/ailly.py
  .tools/ailly/package-lock.json
  .tools/ailly/package.json
  .tools/ailly/plugin.mjs
Labels: On Call Review complete, Task, Tools

#6260 Update zip_next to 0.11.0
  rustv1/cross_service/photo_asset_management/Cargo.toml
Labels: Rust, On Call Review complete, Bug

#6263 JavaScript (v3): Increase test timeout for SQS integ tests.
  javascriptv3/example_code/sqs/vite.config.ts
Labels: Javascript-v3, On Call Review complete, Task

#6241 JavaScript v3: Claude 3, Messages API, and new file structure
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/Bedrock-runtime/README.md
  gov2/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/actions/invoke-claude.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-jurassic2.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-llama2.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-mistral7b.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-mixtral8x7b.js
  javascriptv3/example_code/bedrock-runtime/actions/invoke-titan-text-express-v1.js
  javascriptv3/example_code/bedrock-runtime/config/foundation_models.js
  javascriptv3/example_code/bedrock-runtime/hello.js
  javascriptv3/example_code/bedrock-runtime/models/ai21_labs_jurassic2/jurassic2.js
  javascriptv3/example_code/bedrock-runtime/models/amazon_titan/titan_text.js
  javascriptv3/example_code/bedrock-runtime/models/anthropic_claude/claude_2.js
  javascriptv3/example_code/bedrock-runtime/models/anthropic_claude/claude_3.js
  javascriptv3/example_code/bedrock-runtime/models/anthropic_claude/claude_instant_1.js
  javascriptv3/example_code/bedrock-runtime/models/meta_llama2/llama2_chat.js
  javascriptv3/example_code/bedrock-runtime/models/mistral_ai/mistral_7b.js
  javascriptv3/example_code/bedrock-runtime/models/mistral_ai/mixtral_8x7b.js
  javascriptv3/example_code/bedrock-runtime/package.json
  javascriptv3/example_code/bedrock-runtime/scenarios/cli_text_playground.js
  javascriptv3/example_code/bedrock-runtime/tests/ai21_labs_jurassic2.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/amazon_titan.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/anthropic_claude.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/invoke-model.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/meta_llama2.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/mistral_ai.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/test_tools.js
  javascriptv3/example_code/bedrock-runtime/vite.config.js
  javav2/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/README.md
Labels: DotNet-v3, Go-v2, Javascript-v3, Python, On Call Review complete, Java-v2, Follow, Task

#6268 JavaScript (v3): SQS - Narrow SQS test condition.
  javascriptv3/example_code/sqs/tests/queue-actions.integration.test.js
Labels: Javascript-v3, On Call Review complete, Bug

#6261 Example Cognito react app
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/index.html
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/package.json
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/public/vite.svg
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/App.css
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/App.tsx
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/assets/react.svg
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/authService.ts
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/config.json
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/confirmUserPage.tsx
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/homePage.tsx
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/index.css
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/loginPage.tsx
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/main.tsx
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/vite-env.d.ts
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/tsconfig.json
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/tsconfig.node.json
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/vite.config.ts
  javascriptv3/package.json
  javascriptv3/tsconfig.json
Labels: Javascript-v3, On Call Review complete, Task

#6275 [tools] Add services for PowerShell examples.
  .doc_gen/metadata/services.yaml
Labels: On Call Review complete, Task, Tools

#6273 Updating Cognito example react app to log tokens to console
  javascriptv3/example_code/cognito-identity-provider/scenarios/cognito-developer-guide-react-example/frontend-client/src/homePage.tsx
Labels: Javascript-v3, On Call Review complete, Task

#6279 [Fix] JavaScript example for Claude 3 on Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/README.md
Labels: Javascript-v3, On Call Review complete, Bug

#6284 JavaScript (v3): SageMaker - Add afterAll hook in test to ensure cleanup on timeouts.
  javascriptv3/example_code/sagemaker/scenarios/wkflw-sagemaker-geospatial-pipeline/SageMakerPipelinesWkflw.js
  javascriptv3/example_code/sagemaker/tests/wkflw-sagemaker-geospatial-pipeline.integration.test.js
  javascriptv3/example_code/sagemaker/vite.config.js
Labels: Javascript-v3, On Call Review complete, Bug

#6287 Fix S3metadata to include valid Github links
  .doc_gen/metadata/s3_metadata.yaml
Labels: On Call Review complete, Bug

#6272 Update pom.xml
  javav2/example_code/bedrock-runtime/pom.xml
Labels: On Call Review complete, Java-v2, Task

#6248 SESv2 Coupon Newsletter spec
  workflows/sesv2_weekly_mailer/README.md
  workflows/sesv2_weekly_mailer/SPECIFICATION.md
  workflows/sesv2_weekly_mailer/coupon-newsletter.html
  workflows/sesv2_weekly_mailer/coupon-newsletter.txt
  workflows/sesv2_weekly_mailer/sample_coupons.json
  workflows/sesv2_weekly_mailer/welcome.html
  workflows/sesv2_weekly_mailer/welcome.txt
Labels: On Call Review complete, Workflow

#6295 Python - Bedrock: Claude 3 Demo
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/0_get_models.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/0_try_claude3.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/README.md
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/fordgpt.jpg
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/fordgpt_v1.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/fordgpt_v2.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/fordgpt_v3.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/requirements.txt
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/utils/colors.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/utils/custom_logging.py
  python/example_code/bedrock-runtime/models/anthropic/claude3_chatbot_demo/utils/timeit.py
Labels: Python, On Call Review complete, Task
