Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-04, with the labels that each got.

#6280 Rust: Fix 1.74 clippy issues
  rustv1/cross_service/photo_asset_management/src/handlers/download.rs
  rustv1/cross_service/photo_asset_management/tests/test_pipe.rs
Labels: Rust, On Call Review complete, Task

#6271 Create ImageToTextAsyncTest.java
  javav2/example_code/bedrock-runtime/src/test/java/ImageToTextAsyncTest.java
Labels: On Call Review complete, Java-v2, Task

#6306 Tools: Use awsdocs/aws-doc-sdk-examples-tools@2024-04-01-B
  .github/workflows/validate-doc-metadata.yml
  .tools/ailly/plugin.mjs
  javascriptv3/example_code/sagemaker/scenarios/wkflw-sagemaker-geospatial-pipeline/lambda/dist/index.mjs
Labels: Javascript-v3, On Call Review complete, GitHub settings, Task, Tools

#6262 Java: Amazon Bedrock - Claude 2 and Claude 3
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/Bedrock-runtime/README.md
  gov2/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/BedrockRuntimeUsageDemo.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/Claude2.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/Claude3.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/test/java/TextToTextAsyncTest.java
  php/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/README.md
  rustv1/cross_service/photo_asset_management/Cargo.toml
  sap-abap/services/bdr/README.md
Labels: DotNet-v3, Go-v2, Javascript-v3, PHP, Python, Rust, On Call Review complete, Java-v2, Task, SAP ABAP

#6288 Fixed kotlin ref link in metadata
  .doc_gen/metadata/sdks.yaml
Labels: On Call Review complete, Bug

#6302 .NET v3: Fix for Bedrock Runtime metadata typo.
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
Labels: On Call Review complete, Bug

#6310 Multiple languages: Fix typo in metadata
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javav2/example_code/bedrock-runtime/README.md
Labels: On Call Review complete, Java-v2, Bug

#6307 Tools: Use validator with safe allow list.
  .doc_gen/validation.yaml
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task, Tools

#6309 Update to Cognito example Android app with rename
  kotlin/usecases/cognito_flutter_mobile_app/android/app/build.gradle
  kotlin/usecases/cognito_flutter_mobile_app/android/app/src/main/AndroidManifest.xml
  kotlin/usecases/cognito_flutter_mobile_app/android/app/src/main/kotlin/com/example/myapp/MainActivity.kt
  kotlin/usecases/cognito_flutter_mobile_app/ios/Podfile
  kotlin/usecases/cognito_flutter_mobile_app/ios/Podfile.lock
  kotlin/usecases/cognito_flutter_mobile_app/ios/Runner.xcodeproj/project.pbxproj
  kotlin/usecases/cognito_flutter_mobile_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  kotlin/usecases/cognito_flutter_mobile_app/ios/Runner/Info.plist
  kotlin/usecases/cognito_flutter_mobile_app/linux/CMakeLists.txt
  kotlin/usecases/cognito_flutter_mobile_app/linux/my_application.cc
  kotlin/usecases/cognito_flutter_mobile_app/macos/Runner.xcodeproj/project.pbxproj
  kotlin/usecases/cognito_flutter_mobile_app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  kotlin/usecases/cognito_flutter_mobile_app/macos/Runner/Configs/AppInfo.xcconfig
  kotlin/usecases/cognito_flutter_mobile_app/pubspec.lock
  kotlin/usecases/cognito_flutter_mobile_app/pubspec.yaml
  kotlin/usecases/cognito_flutter_mobile_app/test/widget_test.dart
  kotlin/usecases/cognito_flutter_mobile_app/web/index.html
  kotlin/usecases/cognito_flutter_mobile_app/web/manifest.json
  kotlin/usecases/cognito_flutter_mobile_app/windows/CMakeLists.txt
  kotlin/usecases/cognito_flutter_mobile_app/windows/runner/Runner.rc
  kotlin/usecases/cognito_flutter_mobile_app/windows/runner/main.cpp
Labels: Kotlin, On Call Review complete, Bug

#6314 .NET v3: S3 Object Lambda Function
  .doc_gen/cross-content/cross_S3ObjectLambdaFunction.xml
  .doc_gen/metadata/cross_metadata.yaml
  dotnetv3/Lambda/README.md
  dotnetv3/S3/README.md
  dotnetv3/cross-service/S3ObjectLambdaFunction/README.md
  dotnetv3/cross-service/S3ObjectLambdaFunction/csharp-s3-object-lambda-function.sln
  dotnetv3/cross-service/S3ObjectLambdaFunction/csharp-s3-object-lambda-function/Function.cs
  dotnetv3/cross-service/S3ObjectLambdaFunction/csharp-s3-object-lambda-function/Properties/launchSettings.json
  dotnetv3/cross-service/S3ObjectLambdaFunction/csharp-s3-object-lambda-function/aws-lambda-tools-defaults.json
  dotnetv3/cross-service/S3ObjectLambdaFunction/csharp-s3-object-lambda-function/csharp-s3-object-lambda-function.csproj
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-1.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-10.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-11.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-12.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-13.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-14.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-15.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-16.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-17.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-2.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-3.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-4.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-5.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-6.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-7.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-8.png
  dotnetv3/cross-service/S3ObjectLambdaFunction/images/step-9.png
  resources/clients/react/elros/package-lock.json
  resources/clients/react/elros/package.json
Labels: DotNet-v3, On Call Review complete, Application

#6264 Use RuleMode added in smithy-lang/smithy-rs#3502
  rustv1/cross_service/photo_asset_management/src/handlers/labels.rs
  rustv1/examples/cloudwatchlogs/Cargo.toml
  rustv1/examples/cloudwatchlogs/src/bin/large-query.rs
Labels: Rust, On Call Review complete, Task

#6321 Workflow: SESv2 Weekly Mailer prompt and Ailly Prompting instructions
  .tools/ailly/docs/.aillyrc
  .tools/ailly/docs/10_scout_how_to.md
  .tools/ailly/docs/20_PLAN.md
  .tools/ailly/docs/21a_PLAN_P.md
  .tools/ailly/docs/21b_PLAN_L.md
  .tools/ailly/docs/21c_PLAN_A.md
  .tools/ailly/docs/21d_PLAN_N.md
  workflows/sesv2_weekly_mailer/content/.aillyrc
  workflows/sesv2_weekly_mailer/content/01_README.md
  workflows/sesv2_weekly_mailer/content/10_CreateContact.md
  workflows/sesv2_weekly_mailer/content/10_CreateContactList.md
  workflows/sesv2_weekly_mailer/content/10_CreateEmailIdentity.md
  workflows/sesv2_weekly_mailer/content/10_CreateEmailTemplate.md
  workflows/sesv2_weekly_mailer/content/10_ListContacts.md
  workflows/sesv2_weekly_mailer/content/10_SendEmail.md
  workflows/sesv2_weekly_mailer/content/30_SPECIFICATION.md
  workflows/sesv2_weekly_mailer/content/31_SPEC_PREP.md
  workflows/sesv2_weekly_mailer/content/31a_intro_message.md
  workflows/sesv2_weekly_mailer/content/32_SPEC_GATHER.md
  workflows/sesv2_weekly_mailer/content/33_SPEC_SEND.md
  workflows/sesv2_weekly_mailer/content/34_SPEC_CLEANUP.md
  workflows/sesv2_weekly_mailer/content/38_SPEC_ERRORS.md
  workflows/sesv2_weekly_mailer/content/40_sample_files.md
  workflows/sesv2_weekly_mailer/content/41_welcome_html.md
  workflows/sesv2_weekly_mailer/content/42_coupon_newsletter_html.md
  workflows/sesv2_weekly_mailer/content/43_coupon_newsletter_txt.md
  workflows/sesv2_weekly_mailer/content/44_sample_coupons.json
  workflows/sesv2_weekly_mailer/content/61a_NewsletterWorkflow.java.md
  workflows/sesv2_weekly_mailer/content/62a_newsletter.rs.md
  workflows/sesv2_weekly_mailer/content/63a_newsletter.py.md
  workflows/sesv2_weekly_mailer/content/70_snippets.md
  workflows/sesv2_weekly_mailer/content/71_metadata.md
  workflows/sesv2_weekly_mailer/content/934a_README_CLEANUP_LINKS.md
  workflows/sesv2_weekly_mailer/content/tmp/.aillyrc
  workflows/sesv2_weekly_mailer/content/tmp/api_ref.md
  workflows/sesv2_weekly_mailer/content/tmp/clean_api_ref.md
  workflows/sesv2_weekly_mailer/content/tmp/links.md
  workflows/sesv2_weekly_mailer/content/tmp/pyref.md
Labels: On Call Review complete, Task, Tools

#6322 Update all Action examples to one service, one action.
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .doc_gen/metadata/cloudfront_metadata.yaml
  .doc_gen/metadata/cloudwatch_metadata.yaml
  .doc_gen/metadata/cognito-identity_metadata.yaml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/glacier_metadata.yaml
  .doc_gen/metadata/kinesis_metadata.yaml
  .doc_gen/metadata/personalize_metadata.yaml
  .doc_gen/metadata/pinpoint_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .doc_gen/metadata/sagemaker_metadata.yaml
  .doc_gen/metadata/services.yaml
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  .doc_gen/templates/zonbook/library_by_sdk_chapter.xml
  .tools/readmes/includes/code_examples.jinja2
  .tools/readmes/render.py
  .tools/readmes/scanner.py
  cpp/example_code/sns/README.md
  cpp/example_code/sqs/README.md
  dotnetv3/Bedrock-runtime/README.md
  dotnetv3/Glacier/README.md
  dotnetv3/S3/README.md
  dotnetv3/SNS/README.md
  dotnetv3/SQS/README.md
  dotnetv3/SageMaker/README.md
  gov2/bedrock-runtime/README.md
  gov2/sns/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/personalize/README.md
  javascriptv3/example_code/sns/README.md
  javascriptv3/example_code/sqs/README.md
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/s3/README.md
  php/example_code/bedrock-runtime/README.md
  php/example_code/sns/README.md
  python/example_code/bedrock-runtime/README.md
  python/example_code/cloudwatch/README.md
  python/example_code/glacier/README.md
  python/example_code/kinesis-analytics-v2/README.md
  python/example_code/pinpoint/README.md
  python/example_code/sns/README.md
  rustv1/examples/s3/README.md
  sap-abap/services/bdr/README.md
  swift/example_code/cognito-identity/README.md
Labels: C++, DotNet-v3, Go-v2, Javascript-v3, PHP, Python, Rust, Swift, On Call Review complete, Java-v2, Task, Tools, SAP ABAP

#6327 [SOS] Fix build break
  .doc_gen/metadata/sns_metadata.yaml
  cpp/example_code/sns/README.md
  dotnetv3/SNS/README.md
  javav2/example_code/sns/Readme.md
  kotlin/services/sns/Readme.md
  php/example_code/sns/README.md
  python/example_code/sns/README.md
Labels: C++, DotNet-v3, Kotlin, PHP, Python, On Call Review complete, Java-v2, Task, Tools

#6317 Python: Redshift, getting started scenario follow
  .doc_gen/metadata/redshift_metadata.yaml
  python/example_code/redshift/README.md
  python/example_code/redshift/hello.py
  python/example_code/redshift/redshift.py
  python/example_code/redshift/redshift_data.py
  python/example_code/redshift/redshift_scenario.py
  python/example_code/redshift/requirements.txt
  python/example_code/redshift/test/conftest.py
  python/example_code/redshift/test/test_redshift.py
  python/example_code/redshift/test/test_redshift_data.py
  python/example_code/redshift/test/test_redshift_scenario_integ.py
  python/test_tools/redshift_data_stubber.py
  python/test_tools/redshift_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, On Call Review complete, MVP, Follow

#6318 Java (v2): S3 multipart example with upgraded S3AsyncClient
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/PerformMultiPartUpload.java
  javav2/example_code/s3/src/main/java/com/example/s3/SetAcl.java
  javav2/example_code/s3/src/main/java/com/example/s3/async/CreateBucketAsync.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/DownloadFile.java
  javav2/example_code/s3/src/test/java/com/example/s3/PerformMultiPartUploadTests.java
Labels: On Call Review complete, Java-v2, Task

#6329 Docs - Metadata - Remove library entry for most SecretsManager actions
  .doc_gen/metadata/secrets-manager_metadata.yaml
Labels: On Call Review complete, Task

#6326 [Tools] Test validation against -tools commit.
  .doc_gen/metadata/sesv2_metadata.yaml
  .github/workflows/validate-doc-metadata.yml
  javav2/example_code/ses/Readme.md
  python/example_code/sesv2/README.md
  rustv1/examples/ses/README.md
Labels: Python, Rust, On Call Review complete, Java-v2, GitHub settings, Task

#6339 Fix typo in retry sample code
  swift/example_code/swift-sdk/retry/Sources/entry.swift
Labels: Swift, On Call Review complete, Text Review not needed, Bug

#6345 JavaScript (v3): HealthImaging - Image sets and data frames workflow.
  .doc_gen/metadata/medical-imaging_metadata.yaml
  javascriptv3/.eslintignore
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/example_code/medical-imaging/README.md
  javascriptv3/example_code/medical-imaging/package.json
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/.gitignore
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/README.md
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/index.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/README.md
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/THIRD-PARTY-LICENSES
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/index.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/openjphjs/openjphjs.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/openjphjs/openjphjs.wasm
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/package.json
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/pixel-data-verification/test/fixtures/CT1_UNC
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-1.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-2.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-3.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-4.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-5.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-6.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/step-7.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-step1.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-step2.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-step3.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-step4.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-step5.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-step6.unit.test.js
  javascriptv3/example_code/medical-imaging/tests/hlth-img-step7.unit.test.js
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Workflow, Follow

#6337 Java,Javascript,Python: HealthImaging updateImageSetMetadata examples
  .doc_gen/metadata/medical-imaging_metadata.yaml
  javascriptv3/example_code/medical-imaging/actions/update-image-set-metadata.js
  javav2/example_code/medicalimaging/README.md
  javav2/example_code/medicalimaging/pom.xml
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/UpdateImageSetMetadata.java
  python/example_code/medical-imaging/medical_imaging_basics.py
Labels: Javascript-v3, Python, On Call Review complete, Java-v2, Task

#6348 Go: Improve error handling in CreateCustomMetric example (#6347))
  go/cloudwatch/CreateCustomMetric/CreateCustomMetric.go
Labels: Go-v1, On Call Review complete, Task

#6349 .NET v3: AWS Support: Update supported languages.
  dotnetv3/Support/Actions/SupportWrapper.cs
Labels: DotNet-v3, On Call Review complete, Bug

#6350 Java V2 Added a prop to pom file
  javav2/example_code/iam/pom.xml
Labels: On Call Review complete, Java-v2, Bug

#6351 Create InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelWithResponseStream.java
Labels: On Call Review complete, Java-v2, Task

#6352 C++: S3 pre-signed URL
  .doc_gen/metadata/s3_metadata.yaml
  cpp/example_code/s3/CMakeLists.txt
  cpp/example_code/s3/README.md
  cpp/example_code/s3/include/awsdoc/s3/s3_examples.h
  cpp/example_code/s3/presigned_get_object.cpp
  cpp/example_code/s3/presigned_put_object.cpp
  cpp/example_code/s3/tests/CMakeLists.txt
  cpp/example_code/s3/tests/gtest_presigned_get_object.cpp
  cpp/example_code/s3/tests/gtest_presigned_put_object.cpp
Labels: C++, On Call Review complete, Task

#6356 JavaScript (v3): HealthImaging - Format code library entry a little better.
  .doc_gen/metadata/medical-imaging_metadata.yaml
Labels: On Call Review complete, Task

#6359 Tools: bump -tools tag.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6361 Tools - Weathertop: Update docker-push.yml
  .github/workflows/docker-push.yml
Labels: On Call Review complete, GitHub settings, Task

#6362 Tools: Change validate-doc-metadata tools tag.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6353 Multilingual: HealthImaging SearchImageSets additions
  .doc_gen/metadata/medical-imaging_metadata.yaml
  cpp/example_code/medical-imaging/medical-imaging_samples.h
  cpp/example_code/medical-imaging/search_image_sets.cpp
  javascriptv3/example_code/medical-imaging/actions/search-image-sets.js
  javascriptv3/example_code/medical-imaging/tests/search-image-set.unit.test.js
  javav2/example_code/medicalimaging/README.md
  javav2/example_code/medicalimaging/pom.xml
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/SearchImageSets.java
  python/example_code/medical-imaging/medical_imaging_basics.py
  python/example_code/medical-imaging/requirements.txt
Labels: C++, Javascript-v3, Python, On Call Review complete, Java-v2, Task

#6365 Tools - GitHub Actions: Update docker-push.yml
  .github/workflows/docker-push.yml
Labels: On Call Review complete, GitHub settings, Task

#6360 Add examples to show tracking of an upload and a download
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
  javav2/example_code/s3/src/main/java/com/example/s3/ParseUri.java
  javav2/example_code/s3/src/main/java/com/example/s3/lockscenario/S3ObjectLockWorkflow.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/DownloadFile.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/S3ClientFactory.java
  javav2/example_code/s3/src/main/java/com/example/s3/transfermanager/UploadFile.java
  javav2/example_code/s3/src/main/java/com/example/s3/util/MemoryLog4jAppender.java
  javav2/example_code/s3/src/main/resources/log4j2.xml
  javav2/example_code/s3/src/test/java/TransferManagerTest.java
  javav2/example_code/s3/src/test/java/com/example/s3/ParseUriTest.java
Labels: On Call Review complete, Java-v2, Task

#6369 Ruby - Glue: Updating resource name
  ruby/example_code/glue/resource_names.yaml
  ruby/example_code/glue/spec/getting_started_scenario_spec.rb
Labels: Ruby, On Call Review complete, Task

#6370 Cpp: multi-service, add pagination
  cpp/example_code/acm/list_certificates.cpp
  cpp/example_code/aurora/README.md
  cpp/example_code/aurora/getting_started_with_db_clusters.cpp
  cpp/example_code/autoscaling/groups_and_instances_scenario.cpp
  cpp/example_code/cloudtrail/lookup_events.cpp
  cpp/example_code/codebuild/list_builds.cpp
  cpp/example_code/codecommit/list_branches.cpp
  cpp/example_code/codecommit/list_pull_requests.cpp
  cpp/example_code/dynamodb/scan_table.cpp
  cpp/example_code/ebs/describe_volumes.cpp
  cpp/example_code/glue/README.md
  cpp/example_code/glue/glue_getting_started_scenario.cpp
  cpp/example_code/guardduty/list_detectors.cpp
  cpp/example_code/guardduty/list_findings_with_finding_criteria.cpp
  cpp/example_code/iot/hello_iot/hello_iot.cpp
  cpp/example_code/neptune/describe_db_clusters.cpp
  cpp/example_code/rds/README.md
  cpp/example_code/rds/getting_started_with_db_instances.cpp
  cpp/example_code/s3/list_objects.cpp
  cpp/example_code/s3/list_objects_with_aws_global_region.cpp
  cpp/example_code/s3/s3_getting_started_scenario.cpp
  cpp/example_code/ses/list_identities.cpp
  cpp/example_code/sqs/list_queues.cpp
  cpp/example_code/storage_gateway/list_file_shares.cpp
  cpp/run_automated_tests.py
Labels: C++, On Call Review complete, Task

#6363 Javav2-checksum example: Change int to long to support very large files
  javav2/example_code/s3/src/main/java/com/example/s3/BasicOpsWithChecksums.java
Labels: On Call Review complete, Java-v2, Task

#6341 Java V2 Add the SSM Getting Started Scenario
  .doc_gen/metadata/ssm_metadata.yaml
  getting_started_scenarios/ssm_scenario/Readme.md
  getting_started_scenarios/ssm_scenario/SPECIFICATION.md
  javav2/example_code/sns/pom.xml
  javav2/example_code/ssm/Readme.md
  javav2/example_code/ssm/src/main/java/com/example/scenario/SSMScenario.java
  javav2/example_code/ssm/src/main/java/com/example/ssm/CreateOpsItem.java
  javav2/example_code/ssm/src/main/java/com/example/ssm/DescribeOpsItems.java
  javav2/example_code/ssm/src/main/java/com/example/ssm/GetOpsItem.java
  javav2/example_code/ssm/src/main/java/com/example/ssm/HelloSSM.java
  javav2/example_code/ssm/src/main/java/com/example/ssm/ResolveOpsItem.java
  javav2/example_code/ssm/src/test/java/AWSSSMTest.java
Labels: On Call Review complete, Java-v2, Workflow

#6189 Go v2 Add Bedrock Runtime Titan Text example
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  gov2/bedrock-runtime/README.md
  gov2/bedrock-runtime/actions/invoke_model.go
  gov2/bedrock-runtime/actions/invoke_model_test.go
  gov2/bedrock-runtime/scenarios/scenario_invoke_models.go
Labels: Go-v2, On Call Review complete, Task

#6375 Python, Java, JavaScript: Bedrock getting started examples for Llama 2 and 3
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/config/foundation_models.js
  javascriptv3/example_code/bedrock-runtime/models/meta/llama2/invoke_model_quickstart.js
  javascriptv3/example_code/bedrock-runtime/models/meta/llama2/invoke_model_with_response_stream_quickstart.js
  javascriptv3/example_code/bedrock-runtime/models/meta/llama3/invoke_model_quickstart.js
  javascriptv3/example_code/bedrock-runtime/models/meta/llama3/invoke_model_with_response_stream_quickstart.js
  javascriptv3/example_code/bedrock-runtime/models/meta_llama2/llama2_chat.js
  javascriptv3/example_code/bedrock-runtime/tests/meta_llama.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/meta_llama2.integration.test.js
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/BedrockRuntimeUsageDemo.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModel.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelAsync.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/meta/llama2/InvokeModelQuickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/meta/llama2/InvokeModelWithResponseStreamQuickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/meta/llama3/InvokeModelQuickstart.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/meta/llama3/InvokeModelWithResponseStreamQuickstart.java
  javav2/example_code/bedrock-runtime/src/test/java/TestLlama2.java
  javav2/example_code/bedrock-runtime/src/test/java/TestLlama3.java
  javav2/example_code/bedrock-runtime/src/test/java/TextToTextAsyncTest.java
  javav2/example_code/bedrock-runtime/src/test/java/TextToTextSyncTest.java
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/bedrock_runtime_wrapper.py
  python/example_code/bedrock-runtime/models/meta/llama2/invoke_model_quickstart.py
  python/example_code/bedrock-runtime/models/meta/llama2/invoke_model_with_response_stream_quickstart.py
  python/example_code/bedrock-runtime/models/meta/llama3/invoke_model_quickstart.py
  python/example_code/bedrock-runtime/models/meta/llama3/invoke_model_with_response_stream_quickstart.py
  python/example_code/bedrock-runtime/test/models/meta/test_invoke_model_quickstarts.py
  python/example_code/bedrock-runtime/test/test_bedrock_runtime_wrapper.py
  python/test_tools/bedrock_runtime_stubber.py
Labels: Javascript-v3, Python, On Call Review complete, Java-v2, Task

#6381 Add missing angle bracket
  javascriptv3/example_code/sns/package.json
Labels: Javascript-v3, On Call Review complete, Bug

#6377 C++:Cloudtrail legacy cleanup.
  .doc_gen/metadata/cloudtrail_metadata.yaml
  cpp/example_code/cloudtrail/CMakeLists.txt
  cpp/example_code/cloudtrail/README.md
  cpp/example_code/cloudtrail/cloudtrail_samples.h
  cpp/example_code/cloudtrail/create_trail.cpp
  cpp/example_code/cloudtrail/delete_trail.cpp
  cpp/example_code/cloudtrail/describe_trails.cpp
  cpp/example_code/cloudtrail/lookup_events.cpp
  cpp/example_code/cloudtrail/tests/CMakeLists.txt
  cpp/example_code/cloudtrail/tests/cloudtrail_gtests.cpp
  cpp/example_code/cloudtrail/tests/cloudtrail_gtests.h
  cpp/example_code/cloudtrail/tests/gtest_create_trail.cpp
  cpp/example_code/cloudtrail/tests/gtest_delete_trail.cpp
  cpp/example_code/cloudtrail/tests/gtest_describe_trails.cpp
  cpp/example_code/cloudtrail/tests/gtest_lookup_events.cpp
  cpp/example_code/cloudtrail/tests/mock_input/CreateTrail.json
  cpp/example_code/cloudtrail/tests/mock_input/DeleteTrail.json
  cpp/example_code/cloudtrail/tests/mock_input/DescribeTrails.json
  cpp/example_code/cloudtrail/tests/mock_input/LookupEvents.json
  cpp/example_code/cloudtrail/tests/test_main.cpp
Labels: C++, On Call Review complete, Task

#6383 Ruby - Testing: Update run_tests.sh
  ruby/run_tests.sh
Labels: Ruby, On Call Review complete, Task

#6379 -tools 2024-04-30-A Test for doc_gen_only tools update
  .github/workflows/validate-doc-metadata.yml
  cpp/example_code/cloudtrail/tests/cloudtrail_gtests.cpp
  cpp/example_code/cloudtrail/tests/test_main.cpp
Labels: C++, On Call Review complete, GitHub settings, Task

#6393 -tools 2024-04-30-B
  .github/workflows/validate-doc-metadata.yml
  cpp/example_code/acm/acm_samples.h
  cpp/example_code/cloudtrail/cloudtrail_samples.h
  cpp/example_code/cloudtrail/tests/cloudtrail_gtests.h
  javascriptv3/example_code/reactnative/ReactNativeApp/ios/ReactNativeApp/AppDelegate.h
  kotlin/usecases/cognito_flutter_mobile_app/linux/flutter/generated_plugin_registrant.h
  kotlin/usecases/cognito_flutter_mobile_app/linux/my_application.h
  kotlin/usecases/cognito_flutter_mobile_app/windows/flutter/generated_plugin_registrant.h
  kotlin/usecases/cognito_flutter_mobile_app/windows/runner/flutter_window.h
  kotlin/usecases/cognito_flutter_mobile_app/windows/runner/resource.h
  kotlin/usecases/cognito_flutter_mobile_app/windows/runner/utils.h
  kotlin/usecases/cognito_flutter_mobile_app/windows/runner/win32_window.h
Labels: C++, Javascript-v3, Kotlin, On Call Review complete, GitHub settings, Task, github_actions
