Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-10, with the labels that each got.

#6944 C++,Bash: Multi-service, update bucket names.
  .doc_gen/metadata/dynamodb_metadata.yaml
  aws-cli/bash-linux/s3/s3_getting_started.sh
  cpp/example_code/dynamodb/README.md
  cpp/example_code/dynamodb/batch_write_item.cpp
  cpp/example_code/dynamodb/create_table.cpp
  cpp/example_code/dynamodb/create_table_composite_key.cpp
  cpp/example_code/dynamodb/delete_item.cpp
  cpp/example_code/dynamodb/dynamodb_samples.h
  cpp/example_code/dynamodb/dynamodb_utils.cpp
  cpp/example_code/dynamodb/put_item.cpp
  cpp/example_code/dynamodb/update_item.cpp
  cpp/example_code/dynamodb/update_table.cpp
  cpp/example_code/s3/create_bucket.cpp
  cpp/example_code/s3/list_objects_with_aws_global_region.cpp
  cpp/example_code/s3/s3_examples.h
  cpp/example_code/s3/s3_getting_started_scenario.cpp
  cpp/example_code/s3/tests/S3_GTests.cpp
  cpp/example_code/s3/tests/S3_GTests.h
  cpp/example_code/s3/tests/gtest_create_bucket.cpp
  cpp/example_code/s3/tests/gtest_delete_bucket.cpp
  cpp/example_code/s3/tests/gtest_list_objects_with_aws_global_region.cpp
  cpp/example_code/s3/tests/gtest_s3_demo_for_cloud9.cpp
  cpp/example_code/s3/tests/gtest_s3_getting_started_scenario.cpp
  cpp/run_automated_tests.py
Labels: C++, Shell, CLI, On Call Review complete, Task

#6946 Swift: Updates to Buckets sample
  swift/example_code/apple/Buckets/Buckets/ContentView-ViewModel.swift
Labels: Swift, On Call Review complete, Bug

#6949 Swift: Add pagination example
  swift/example_code/swift-sdk/pagination/Package.swift
  swift/example_code/swift-sdk/pagination/Sources/entry.swift
  swift/example_code/swift-sdk/pagination/test.sh
Labels: Swift, On Call Review complete, Task

#6898 Update the CloudWatch scenario to meet Java standards
  .doc_gen/metadata/cloudwatch_metadata.yaml
  javav2/example_code/cloudwatch/README.md
  javav2/example_code/cloudwatch/pom.xml
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/CloudWatchScenario.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/DeleteAlarm.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/DescribeAlarms.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/GetMetricData.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/ListMetrics.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutMetricAlarm.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/PutMetricData.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/scenario/CloudWatchActions.java
  javav2/example_code/cloudwatch/src/main/java/com/example/cloudwatch/scenario/CloudWatchScenario.java
  javav2/example_code/cloudwatch/src/main/resources/log4j2.xml
  javav2/example_code/cloudwatch/src/test/java/CloudWatchTest.java
Labels: On Call Review complete, Java-v2, Basics

#6950 JavaScript (v3): Update utils.
  javascriptv3/example_code/libs/tests/util-string.unit.test.js
  javascriptv3/example_code/libs/utils/util-node.js
  javascriptv3/example_code/libs/utils/util-string.js
Labels: Javascript-v3, On Call Review complete, Task

#6871 Java V2 Add Sitewise Basics Scenario
  .doc_gen/metadata/iot_sitewise_metadata.yaml
  basics_scenarios/sitewise_scenario/README.md
  basics_scenarios/sitewise_scenario/SPECIFICATION.md
  javav2/example_code/iotsitewise/README.md
  javav2/example_code/iotsitewise/pom.xml
  javav2/example_code/iotsitewise/src/main/java/com/example/iotsitewise/HelloSitewise.java
  javav2/example_code/iotsitewise/src/main/java/com/example/iotsitewise/scenario/CloudFormationHelper.java
  javav2/example_code/iotsitewise/src/main/java/com/example/iotsitewise/scenario/SitewiseActions.java
  javav2/example_code/iotsitewise/src/main/java/com/example/iotsitewise/scenario/SitewiseScenario.java
  javav2/example_code/iotsitewise/src/main/resources/SitewiseRoles-template.yaml
  javav2/example_code/iotsitewise/src/main/resources/log4j2.xml
  javav2/example_code/iotsitewise/src/test/java/SitewiseTests.java
Labels: On Call Review complete, Java-v2, Basics

#6958 JavaScript (v3): S3 - Audit 🧵 3/3
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/example_code/s3/scenarios/object-locking/index.js
  javascriptv3/example_code/s3/scenarios/object-locking/setup.steps.js
Labels: Javascript-v3, On Call Review complete, Task

#6964 Updated v1 Redshift Java files
  java/example_code/redshift/ConnectToCluster.java
  java/example_code/redshift/ConnectToClusterExample.java
  java/example_code/redshift/CreateAndDescribeSnapshot.java
  java/example_code/redshift/CreateAndModifyCluster.java
  java/example_code/redshift/CreateAndModifyClusterParameterGroup.java
  java/example_code/redshift/CreateAndModifyClusterSecurityGroup.java
  java/example_code/redshift/CreateAndModifyClusterSubnetGroup.java
  java/example_code/redshift/ListAndPurchaseReservedNodeOffering.java
  java/example_code/redshift/ListEvents.java
Labels: Java-v1, On Call Review complete, Task

#6864 Update presigned_url.py
  python/example_code/s3/s3_basics/presigned_url.py
Labels: Python, On Call Review complete, Bug

#6970 Go: Update all bucket name uses to user input, env vars, or approved names.
  gov2/cloudfront/CreateDistribution/CreateDistribution.go
  gov2/cloudfront/CreateDistribution/CreateDistribution_test.go
  gov2/iam/scenarios/scenario_assume_role_test.go
  gov2/s3/actions/bucket_basics_test.go
  gov2/s3/go.mod
  gov2/s3/go.sum
  gov2/s3/scenarios/scenario_get_started_integ_test.go
  gov2/s3/scenarios/scenario_get_started_test.go
  gov2/s3/scenarios/scenario_presigning_integ_test.go
  gov2/s3/scenarios/scenario_presigning_test.go
  gov2/workflows/s3_object_lock/actions/s3_actions_test.go
  gov2/workflows/s3_object_lock/go.mod
  gov2/workflows/s3_object_lock/go.sum
  gov2/workflows/s3_object_lock/workflows/s3_object_lock.go
  gov2/workflows/s3_object_lock/workflows/s3_object_lock_integ_test.go
  gov2/workflows/s3_object_lock/workflows/s3_object_lock_test.go
Labels: Go-v2, On Call Review complete, Task

#6969 Weathertop: Fix flake8 issue in deploy.py
  .tools/test/stacks/deploy.py
Labels: On Call Review complete, Task, Tools

#6967 Weathertop: Add --language flag to deploy.py runner.
  .tools/test/DEPLOYMENT.md
  .tools/test/stacks/deploy.py
Labels: On Call Review complete, Task, Tools

#6948 Tools - Weathertop: Update plugin stacks to include EnvVars
  .tools/test/stacks/config/targets.ts
  .tools/test/stacks/config/variables.json
  .tools/test/stacks/plugin/typescript/plugin_stack.ts
  .tools/test/stacks/plugin/typescript/tsconfig.json
Labels: On Call Review complete, Task, Tools

#6963 Python: KMS, basics
  .doc_gen/metadata/kms_metadata.yaml
  python/example_code/kms/README.md
  python/example_code/kms/alias_management.py
  python/example_code/kms/grant_management.py
  python/example_code/kms/key_encryption.py
  python/example_code/kms/key_management.py
  python/example_code/kms/key_policies.py
  python/example_code/kms/kms_scenario.py
  python/example_code/kms/test/conftest.py
  python/example_code/kms/test/test_alias_management.py
  python/example_code/kms/test/test_grant_management.py
  python/example_code/kms/test/test_key_encryption.py
  python/example_code/kms/test/test_key_management.py
  python/example_code/kms/test/test_key_policies.py
  python/example_code/kms/test/test_kms_scenario.py
  python/test_tools/kms_stubber.py
Labels: Python, On Call Review complete, Follow, Basics

#6968 Weathertop: Allow plugin stacks to specify ephemeral storage sizes
  .tools/test/stacks/config/targets.ts
  .tools/test/stacks/plugin/typescript/plugin_stack.ts
Labels: On Call Review complete, Task, Tools

#6959 Weathertop: set Rust ephemeralStorage override at 30GiB
  .tools/test/stacks/config/targets.yaml
Labels: On Call Review complete, Task, Tools

#6976 SAP ABAP: Update SAP ABAP test bucket names to be the new standard names.
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.testclasses.abap
Labels: On Call Review complete, Task

#6982 GitHub: Pin tj-actions/changed-files version. See internal ticket V1544183374
  .doc_gen/validation.yaml
  .github/workflows/lint-check-dotnet.yml
  .github/workflows/lint-golang.yml
  .github/workflows/lint-javascript.yml
  .github/workflows/lint-kotlin.yml
  .github/workflows/lint-php.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-ruby.yml
  .github/workflows/lint-rust.yml
  .github/workflows/sd-cpp-lint.yml
  .github/workflows/yaml-lint.yml
Labels: On Call Review complete, GitHub settings, Task

#6979 Swift: Add a static credential identity resolver example
  swift/example_code/sts/AssumeRole/Package.swift
  swift/example_code/sts/AssumeRole/Sources/entry.swift
  swift/example_code/sts/README.md
Labels: Swift, On Call Review complete, Task

#6983 JavaScript (v3): MediaConvert - Remove DescribeEndpoints example.
  javascriptv3/example_code/mediaconvert/src/emc_getendpoint.js
Labels: Javascript-v3, On Call Review complete, Task

#6986 GitHub: Update to use latest -tool release.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6984 Add missing SoS tag to AssumeRole sample
  swift/example_code/sts/AssumeRole/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#6985 Workflow: Update cdk folder name to .cdk in READMEs to match the actual folder name.
  gov2/workflows/user_pools_and_lambda_triggers/README.md
  workflows/user_pools_and_lambda_triggers/SPECIFICATION.md
Labels: Go-v2, On Call Review complete, Bug

#6987 Revert "JavaScript (v3): MediaConvert - Remove DescribeEndpoints example."
  javascriptv3/example_code/mediaconvert/src/emc_getendpoint.js
Labels: Javascript-v3, On Call Review complete, Bug

#6988 JavaScript (v3): MediaConvert - Remove DescribeEndpoints example. (#6983)
  javascriptv3/example_code/mediaconvert/src/emc_getendpoint.js
Labels: Javascript-v3, On Call Review complete, Task

#6989 JavaScript (v3): Biome config change and logger update.
  javascriptv3/biome.json
  javascriptv3/example_code/bedrock-agent/tests/bedrock-agent-actions.integration.test.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/admin-get-user-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/admin-initiate-auth-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/admin-respond-to-auth-challenge-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/clean-up-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/confirm-sign-up-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/create-user-pool-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/list-users-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/resend-confirmation-code-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/sign-up-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/command-handlers/verify-software-token-handler.js
  javascriptv3/example_code/cognito-identity-provider/scenarios/basic/index.js
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/get-items-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/parse-item.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/handlers/post-items-report-handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/middleware/validate-db.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/db-record.d.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/db-record.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/handler.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/item.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/src/types/sendable.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tests/parse-item.unit.test.ts
  javascriptv3/example_code/cross-services/aurora-serverless-app/tests/validate-db.unit.test.ts
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/clean-up-handler.js
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/create-function-handler.js
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/initialize-handler.js
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/invoke-handler.js
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/list-functions-handler.js
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/update-function-code-handler.js
  javascriptv3/example_code/lambda/scenarios/basic/command-handlers/update-function-configuration-handler.js
  javascriptv3/example_code/lambda/scenarios/basic/index.js
  javascriptv3/example_code/lambda/tests/lambda-actions.integration.test.js
  javascriptv3/example_code/libs/cmd-runner.js
  javascriptv3/example_code/libs/tests/util-log.unit.test.js
  javascriptv3/example_code/libs/utils/util-fs.js
  javascriptv3/example_code/libs/utils/util-log.js
  javascriptv3/example_code/s3/scenarios/multipart-upload.js
  javascriptv3/example_code/ssm/scenarios/ssm-basics.js
Labels: Javascript-v3, On Call Review complete, Task

#6941 Updated Spec for KMS Basics
  basics_scenarios/kms_scenario/SPECIFICATION.md
  javav2/example_code/kms/src/main/java/com/example/kms/HelloKMS.java
Labels: On Call Review complete, Java-v2, Basics

#6997 Ruby - All Services: Fixing merge conflicts
  ruby/example_code/cloudwatch/alarm_actions.rb
  ruby/example_code/cloudwatch/alarm_basics.rb
  ruby/example_code/cloudwatch/create_alarm.rb
  ruby/example_code/cloudwatch/spec/alarm_actions_spec.rb
  ruby/example_code/cloudwatch/spec/alarm_basics_spec.rb
  ruby/example_code/cloudwatch/spec/create_alarm_spec.rb
  ruby/example_code/cloudwatch/spec/show_alarms_spec.rb
  ruby/example_code/s3/auth_federation_token_request_test.rb
  ruby/example_code/s3/auth_session_token_request_test.rb
  ruby/example_code/s3/bucket_cors.rb
  ruby/example_code/s3/bucket_create.rb
  ruby/example_code/s3/bucket_list_objects.rb
  ruby/example_code/s3/bucket_policy.rb
  ruby/example_code/s3/bucket_put_encryption.rb
  ruby/example_code/s3/bucket_put_website.rb
  ruby/example_code/s3/encryption_v2/s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_get_cskms_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/s3_ruby_example_add_cspk_item.rb
  ruby/example_code/s3/encryption_v2/s3_ruby_example_get_cspk_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_add_csaes_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_add_cskms_encrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_get_csaes_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_get_cskms_decrypt_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_ruby_example_add_cspk_item.rb
  ruby/example_code/s3/encryption_v2/spec/test_s3_ruby_example_get_cspk_item.rb
  ruby/example_code/s3/object_copy.rb
  ruby/example_code/s3/object_copy_encrypt.rb
  ruby/example_code/s3/object_exists.rb
  ruby/example_code/s3/object_get.rb
  ruby/example_code/s3/object_get_encryption.rb
  ruby/example_code/s3/object_presigned_url_upload.rb
  ruby/example_code/s3/object_put.rb
  ruby/example_code/s3/object_put_sse.rb
  ruby/example_code/s3/object_upload_file.rb
  ruby/example_code/s3/spec/bucket_create_spec.rb
  ruby/example_code/sns/tests/test_create_bucket_snippet.rb
Labels: Ruby, On Call Review complete, Task

#6998 Python - Lambda: Updating all functions to at least 3.9 from 3.7
  .tools/README.md
  .tools/test/stacks/plugin/python/consumer_stack/consumer_stack.py
  .tools/test/stacks/plugin/typescript/plugin_stack.ts
  cpp/example_code/lambda/get_started_with_functions_scenario.cpp
  gov2/lambda/actions/functions.go
  python/cross_service/apigateway_covid-19_tracker/README.md
  python/cross_service/aurora_rest_lending_library/README.md
  python/cross_service/stepfunctions_messenger/README.md
  python/example_code/dynamodb/README.md
  python/example_code/greengrass/README.md
  python/example_code/lambda/lambda_basics.py
  python/example_code/s3/file_transfer/README.md
  python/example_code/s3/s3_versioning/batch_versioning.py
  resources/cdk/python_example_code_apigateway_websocket/setup.ts
  resources/cdk/python_example_code_stepfunctions_demo/setup.ts
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.testclasses.abap
Labels: C++, Go-v2, Python, CDK, On Call Review complete, Task, Tools, SAP ABAP

#6975 PHP: S3 Express Basics scenario
  .doc_gen/metadata/ec2_metadata.yaml
  .doc_gen/metadata/s3_metadata.yaml
  .gitignore
  basics_scenarios/s3express_scenario/README.md
  basics_scenarios/s3express_scenario/SPECIFICATION.md
  php/example_code/aws_utilities/TestableReadline.php
  php/example_code/composer.json
  php/example_code/composer.lock
  php/example_code/ec2/EC2Service.php
  php/example_code/ec2/README.md
  php/example_code/ec2/composer.json
  php/example_code/ec2/composer.lock
  php/example_code/iam/IAMService.php
  php/example_code/phpunit.xml
  php/example_code/s3/README.md
  php/example_code/s3/Runner.php
  php/example_code/s3/S3ExpressBasics.php
  php/example_code/s3/S3Service.php
  php/example_code/s3/composer.json
  php/example_code/s3/composer.lock
  php/example_code/s3/tests/S3ExpressBasicsTest.php
  resources/cfn/s3_express_basics/s3_express_template.yml
Labels: PHP, On Call Review complete, Scout, Basics

#6991 Javascript (v3): Bedrock Runtime Agent - add Invoke Flow
  .doc_gen/metadata/bedrock-agent-runtime_metadata.yaml
  .tools/verify_python.sh
  javascriptv3/example_code/bedrock-agent-runtime/README.md
  javascriptv3/example_code/bedrock-agent-runtime/actions/invoke-flow.js
  javascriptv3/example_code/bedrock-agent-runtime/package.json
  javascriptv3/example_code/bedrock-agent-runtime/tests/invoke-flow.unit.test.js
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task, Tools

#6980 JavaScript (v3): EC2 - Update basics example to match team accessibility guidelines.
  javascriptv3/example_code/bedrock-runtime/scenarios/cli_text_playground.js
  javascriptv3/example_code/cross-services/wkflw-topics-queues/README.md
  javascriptv3/example_code/cross-services/wkflw-topics-queues/index.js
  javascriptv3/example_code/ec2/scenarios/basic.js
  javascriptv3/example_code/ec2/scenarios/steps.js
  javascriptv3/example_code/libs/scenario/scenario.js
  javascriptv3/example_code/libs/slow-logger.js
  javascriptv3/example_code/libs/utils/util-node.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/image-frame-steps.js
  javascriptv3/example_code/sagemaker/scenarios/wkflw-sagemaker-geospatial-pipeline/index.js
Labels: Javascript-v3, On Call Review complete, Task

#6993 Adds metadata for the S3 Service and puts it into the Presigned URL scenario.
  .doc_gen/metadata/s3_metadata.yaml
  php/example_code/s3/README.md
Labels: PHP, On Call Review complete, Bug

#6994 JavaScript (v3): Scenarios - Update scenario parser
  javascriptv3/example_code/cross-services/wkflw-resilient-service/index.js
  javascriptv3/example_code/libs/scenario/scenario-parser.js
  javascriptv3/example_code/medical-imaging/scenarios/health-image-sets/index.js
  javascriptv3/example_code/s3/scenarios/object-locking/index.js
Labels: Javascript-v3, On Call Review complete, Task

#7002 Python:medical-imaging, fix bucket name
  python/example_code/medical-imaging/medical_imaging_basics.py
Labels: Python, On Call Review complete, Bug

#7004 Updated S3 Metadata file so all MPU under one section to address a tic
  .doc_gen/metadata/s3_metadata.yaml
  javav2/example_code/s3/README.md
Labels: On Call Review complete, Java-v2, Bug

#7005 Tools: Update tools release to 2024.43.0
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#6995 Add an example showing how to resolve credentials using SSO (Identity Center)
  swift/example_code/identity-resolvers/sso-resolver/Package.swift
  swift/example_code/identity-resolvers/sso-resolver/Sources/entry.swift
  swift/example_code/identity-resolvers/sso-resolver/test.sh
  swift/example_code/sts/AssumeRole/test.sh
Labels: Swift, On Call Review complete, Task

#6999 Python:EventBridge Scheduler, follow
  .doc_gen/metadata/scheduler_metadata.yaml
  python/example_code/scheduler/README.md
  python/example_code/scheduler/hello/hello_scheduler.py
  python/example_code/scheduler/hello/requirements.txt
  python/example_code/scheduler/requirements.txt
  python/example_code/scheduler/scenario/README.md
  python/example_code/scheduler/scenario/cfn_template.yaml
  python/example_code/scheduler/scenario/requirements.txt
  python/example_code/scheduler/scenario/resources/scheduler-workflow.png
  python/example_code/scheduler/scenario/scheduler_scenario.py
  python/example_code/scheduler/scenario/test/conftest.py
  python/example_code/scheduler/scenario/test/test_scenario_cleanup.py
  python/example_code/scheduler/scenario/test/test_scenario_create_one_time_schedule.py
  python/example_code/scheduler/scenario/test/test_scenario_create_recurring_schedule.py
  python/example_code/scheduler/scenario/test/test_scenario_prepare_application.py
  python/example_code/scheduler/scheduler_wrapper.py
  python/test_tools/cloudformation_stubber.py
  python/test_tools/scheduler_stubber.py
  python/test_tools/stubber_factory.py
Labels: Python, On Call Review complete, Workflow, Follow

#7015 JavaScript (v3): DynamoDb - Make GetItem call strongly consistent.
  javascriptv3/example_code/dynamodb/actions/get-item.js
Labels: Javascript-v3, On Call Review complete, Bug

#7018 Python: S3 Conditional Requests scenario
  .doc_gen/metadata/s3_metadata.yaml
  python/example_code/s3/README.md
  python/example_code/s3/requirements.txt
  python/example_code/s3/scenarios/conditional_requests/README.md
  python/example_code/s3/scenarios/conditional_requests/s3_conditional_requests.py
  python/example_code/s3/scenarios/conditional_requests/scenario.py
  python/example_code/s3/scenarios/conditional_requests/test/conftest.py
  python/example_code/s3/scenarios/conditional_requests/test/test_conditional_requests.py
  workflows/s3_conditional_requests/README.md
  workflows/s3_conditional_requests/SPECIFICATION.md
Labels: Python, On Call Review complete, Workflow, Scout

#7016 Meta/tools: update to latest tools and update metadata & READMEs to match
  .doc_gen/metadata/s3-control_metadata.yaml
  .github/workflows/validate-doc-metadata.yml
  .tools/readmes/config.py
  javav2/example_code/s3/src/main/java/com/example/s3/batch/README.md
Labels: On Call Review complete, Java-v2, GitHub settings, Bug, Tools

#7019 Tools: test tools release to 2024.44.1
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7021 .NET v3: Removing old abortMPU example.
  .doc_gen/metadata/s3_metadata.yaml
  .github/workflows/lint-check-dotnet.yml
  dotnetv3/CloudFormation/Actions/HelloCloudFormation.cs
  dotnetv3/DotNetV3Examples.sln
  dotnetv3/S3/AbortMPUExample/AbortMPU.cs
  dotnetv3/S3/AbortMPUExample/AbortMPUExample.csproj
  dotnetv3/S3/AbortMPUExample/AbortMPUExample.sln
  dotnetv3/S3/README.md
  dotnetv3/S3/scenarios/S3ObjectLockScenario/S3ObjectLockWorkflow/S3ObjectLockWorkflow.cs
Labels: DotNet-v3, On Call Review complete, GitHub settings, Task

#7023 Update tools README.md to streamline things that are handled by update.py
  .tools/readmes/README.md
Labels: On Call Review complete, Task, Tools

#6824 PHP: Bedrock constructor argument corrections.
  php/example_code/bedrock-runtime/BedrockRuntimeService.php
  php/example_code/bedrock-runtime/GettingStartedWithBedrockRuntime.php
  php/example_code/bedrock-runtime/README.md
  php/example_code/bedrock-runtime/Runner.php
  php/example_code/bedrock-runtime/composer.json
  php/example_code/bedrock-runtime/composer.lock
  php/example_code/bedrock-runtime/tests/BedrockRuntimeTests.php
  php/example_code/bedrock/BedrockService.php
  php/example_code/bedrock/GettingStartedWithBedrock.php
  php/example_code/bedrock/README.md
  php/example_code/bedrock/composer.json
  php/example_code/bedrock/composer.lock
  php/example_code/bedrock/tests/BedrockBasicsTests.php
Labels: PHP, On Call Review complete, Bug
