Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2024-06, with the labels that each got.

#6494 Rust: bump msrv to 1.76.0
  .github/workflows/rust.yml
  rustv1/Dockerfile
  rustv1/cross_service/photo_asset_management/src/uploader.rs
  rustv1/cross_service/rest_ses/src/work_item/repository.rs
  rustv1/cross_service/rust-toolchain.toml
  rustv1/examples/glue/src/run.rs
  rustv1/examples/rust-toolchain.toml
Labels: Rust, On Call Review complete, GitHub settings, Task

#6505 6487 cpp fix broken link in secrets manager code example
  .doc_gen/metadata/secrets-manager_metadata.yaml
Labels: On Call Review complete, Bug

#6522 Java V2/Python KMS YAML update
  .doc_gen/metadata/kms_metadata.yaml
  javav2/example_code/kms/README.md
  python/example_code/kms/README.md
Labels: Python, On Call Review complete, Java-v2, Task

#6500 Updates the S3 PresignedUrl example to better standards. Also includes tests and improvements to AwsUtilities.
  .doc_gen/metadata/s3_metadata.yaml
  php/example_code/aws_utilities/MockS3Client.php
  php/example_code/aws_utilities/PrintableLineBreak.php
  php/example_code/aws_utilities/TestableReadline.php
  php/example_code/s3/PresignedURL.php
  php/example_code/s3/README.md
  php/example_code/s3/S3Service.php
  php/example_code/s3/tests/S3EtcTest.php
  php/example_code/s3/tests/S3ServiceTest.php
Labels: PHP, On Call Review complete, Task

#6514 JavaScript (v3): Integration tests updates for stability.
  javascriptv3/.gitignore
  javascriptv3/example_code/bedrock-agent/package.json
  javascriptv3/example_code/bedrock-runtime/package.json
  javascriptv3/example_code/bedrock/package.json
  javascriptv3/example_code/cloudwatch-events/package.json
  javascriptv3/example_code/cloudwatch-logs/package.json
  javascriptv3/example_code/cloudwatch/package.json
  javascriptv3/example_code/codebuild/package.json
  javascriptv3/example_code/cognito-identity-provider/package.json
  javascriptv3/example_code/cross-services/wkflw-resilient-service/package.json
  javascriptv3/example_code/dynamodb/package.json
  javascriptv3/example_code/dynamodb/scenarios/partiql-batch.js
  javascriptv3/example_code/dynamodb/scenarios/partiql-single.js
  javascriptv3/example_code/dynamodb/tests/dynamodb-basic.integration.test.js
  javascriptv3/example_code/dynamodb/tests/partiql-batch.integration.test.js
  javascriptv3/example_code/dynamodb/tests/partiql-single.integration.test.js
  javascriptv3/example_code/elastic-load-balancing-v2/package.json
  javascriptv3/example_code/eventbridge/package.json
  javascriptv3/example_code/glue/package.json
  javascriptv3/example_code/iam/actions/create-service-linked-role.js
  javascriptv3/example_code/iam/package.json
  javascriptv3/example_code/iam/scenarios/basic.js
  javascriptv3/example_code/iam/tests/iam-basic.integration.test.js
  javascriptv3/example_code/lambda/package.json
  javascriptv3/example_code/medical-imaging/package.json
  javascriptv3/example_code/nodegetstarted/package.json
  javascriptv3/example_code/s3/package.json
  javascriptv3/example_code/sagemaker/README.md
  javascriptv3/example_code/sagemaker/package.json
  javascriptv3/example_code/sagemaker/scenarios/wkflw-sagemaker-geospatial-pipeline/SageMakerPipelinesWkflw.js
  javascriptv3/example_code/sagemaker/scenarios/wkflw-sagemaker-geospatial-pipeline/lib.js
  javascriptv3/example_code/sagemaker/scenarios/wkflw-sagemaker-geospatial-pipeline/lib.unit.test.js
  javascriptv3/example_code/sagemaker/tests/wkflw-sagemaker-geospatial-pipeline.integration.test.js
  javascriptv3/example_code/secrets-manager/package.json
  javascriptv3/example_code/ses/package.json
  javascriptv3/example_code/sns/package.json
  javascriptv3/example_code/sqs/package.json
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Bug

#6523 PHP - Fixes the removal of the get_object snippet.
  php/example_code/s3/PresignedURL.php
Labels: PHP, On Call Review complete, Bug

#6524 PHP - Fixes the removal of the create_url snippet.
  php/example_code/s3/PresignedURL.php
Labels: PHP, On Call Review complete, Bug

#6525 Php - presigned url fix get url
  php/example_code/s3/PresignedURL.php
Labels: PHP, On Call Review complete, Bug

#6529 JavaScript (v3): Tests - Output junit results to logs.
  javascriptv3/package.json
Labels: Javascript-v3, On Call Review complete, Task

#6515 5167 bash cli ec2 mvp
  .doc_gen/metadata/ec2_metadata.yaml
  aws-cli/bash-linux/.shellcheckrc
  aws-cli/bash-linux/dynamodb/README.md
  aws-cli/bash-linux/dynamodb/dynamodb_operations.sh
  aws-cli/bash-linux/dynamodb/scenario_getting_started_movies.sh
  aws-cli/bash-linux/ec2/README.md
  aws-cli/bash-linux/ec2/awsdocs_general.sh
  aws-cli/bash-linux/ec2/change-ec2-instance-type/awsdocs_general.sh
  aws-cli/bash-linux/ec2/change-ec2-instance-type/change_ec2_instance_type.sh
  aws-cli/bash-linux/ec2/change-ec2-instance-type/test_change_ec2_instance_type.sh
  aws-cli/bash-linux/ec2/ec2_operations.sh
  aws-cli/bash-linux/ec2/get_started_with_ec2_instances.sh
  aws-cli/bash-linux/ec2/tests/include_tests.sh
  aws-cli/bash-linux/ec2/tests/test_ec2_examples.sh
  aws-cli/bash-linux/iam/README.md
  aws-cli/bash-linux/iam/iam_create_user_assume_role_scenario.sh
  aws-cli/bash-linux/iam/iam_operations.sh
  aws-cli/bash-linux/medical-imaging/README.md
  aws-cli/bash-linux/medical-imaging/medical_imaging_operations.sh
Labels: Shell, CLI, On Call Review complete, MVP

#6540 Fix writeme to handle new READMEs
  .tools/readmes/render.py
Labels: On Call Review complete, Bug, Tools

#6536 Python: Add tool use demo for the Amazon Bedrock Converse API
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/Bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/README.md
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/pyproject.toml
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/requirements.txt
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/tool_use_demo.py
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/utils/tool_use_print_utils.py
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/weather_tool.py
  python/example_code/bedrock-runtime/requirements.txt
Labels: DotNet-v3, Javascript-v3, Python, On Call Review complete, Java-v2, Task

#6537 Multi-language: SNS Workflow, move things to there proper places.
  .doc_gen/cross-content/workflow_MessagesTopicsAndQueues_java_block.xml
  .doc_gen/cross-content/workflow_MessagesTopicsAndQueues_kotlin_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  javav2/example_code/sqs/README.md
  kotlin/services/sqs/README.md
  workflows/topics_and_queues/README.md
  workflows/topics_and_queues/SPECIFICATION.md
  workflows/topics_and_queues/images/fifo_topics_diagram.png
Labels: Kotlin, On Call Review complete, Java-v2, Task

#6538 CPP:Rekognition- new code from customer
  .doc_gen/metadata/rekognition_metadata.yaml
  cpp/example_code/rekognition/CMakeLists.txt
  cpp/example_code/rekognition/README.md
  cpp/example_code/rekognition/detect_labels.cpp
  cpp/example_code/rekognition/hello_rekognition/CMakeLists.txt
  cpp/example_code/rekognition/hello_rekognition/README.md
  cpp/example_code/rekognition/hello_rekognition/hello_rekognition.cpp
  cpp/example_code/rekognition/rekognition_samples.h
  cpp/example_code/rekognition/tests/CMakeLists.txt
  cpp/example_code/rekognition/tests/gtest_detect_labels.cpp
  cpp/example_code/rekognition/tests/rekognition_gtests.cpp
  cpp/example_code/rekognition/tests/rekognition_gtests.h
  cpp/example_code/rekognition/tests/test_main.cpp
Labels: C++, On Call Review complete, Task

#6542 Rust: Rework lambda getting started create_role logic to align with other examples.
  rustv1/examples/lambda/README.md
  rustv1/examples/lambda/src/actions.rs
Labels: Rust, On Call Review complete, Bug

#6545 Fix: Typo in Bedrock tool use metadata
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
Labels: Python, On Call Review complete, Bug

#6547 GitHub: Delete .github/workflows/super-linter.yml
  .github/workflows/super-linter.yml
Labels: On Call Review complete, GitHub settings, Task

#6546 GitHub: Create kotlin-lint.yml to run ktlint in its own action. Also adds a custom config file.
  .doc_gen/validation.yaml
  .github/linters/ktlint_config
  .github/workflows/kotlin-lint.yml
Labels: On Call Review complete, GitHub settings, Task

#6554 Github: Update kotlin-lint.yml
  .github/workflows/kotlin-lint.yml
Labels: Kotlin, On Call Review complete, GitHub settings, Bug

#6553 Bedrock Runtime: Extend tool use scenario for Cohere Command
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/tool_use_demo.py
  python/example_code/bedrock-runtime/cross-model-scenarios/tool_use_demo/utils/tool_use_print_utils.py
  python/example_code/bedrock-runtime/requirements.txt
Labels: Python, On Call Review complete, Task

#6567 Bugfix: Typo in import leads to error
  python/example_code/bedrock-runtime/models/ai21_labs_jurassic2/invoke_model.py
  python/example_code/bedrock-runtime/models/amazon_titan_text/invoke_model.py
  python/example_code/bedrock-runtime/models/anthropic_claude/invoke_model.py
  python/example_code/bedrock-runtime/models/cohere_command/command_invoke_model.py
  python/example_code/bedrock-runtime/models/cohere_command/command_invoke_model_with_response_stream.py
  python/example_code/bedrock-runtime/models/cohere_command/command_r_invoke_model.py
  python/example_code/bedrock-runtime/models/cohere_command/command_r_invoke_model_with_response_stream.py
  python/example_code/bedrock-runtime/models/meta_llama/llama2_invoke_model.py
  python/example_code/bedrock-runtime/models/meta_llama/llama2_invoke_model_with_response_stream.py
  python/example_code/bedrock-runtime/models/meta_llama/llama3_invoke_model.py
  python/example_code/bedrock-runtime/models/meta_llama/llama3_invoke_model_with_response_stream.py
  python/example_code/bedrock-runtime/models/mistral_ai/invoke_model.py
  python/example_code/bedrock-runtime/models/mistral_ai/invoke_model_with_response_stream.py
Labels: Python, On Call Review complete, Task

#6571 GitHub: Expand yaml-lint.yml
  .github/allowed-labels.yml
  .github/linters/.ruby-lint.yml
  .github/workflows/docker-push.yml
  .github/workflows/issue-metrics.yml
  .github/workflows/label-auditor.yml
  .github/workflows/label-auto-language.yml
  .github/workflows/label-checker.yml
  .github/workflows/lint-check-dotnet.yml
  .github/workflows/lint-golang.yml
  .github/workflows/lint-javascript.yml
  .github/workflows/lint-kotlin.yml
  .github/workflows/lint-php.yml
  .github/workflows/lint-python.yml
  .github/workflows/lint-ruby.yml
  .github/workflows/lint-rust.yml
  .github/workflows/pr_stats.yml
  .github/workflows/sd-cpp-lint.yml
  .github/workflows/sh-check.yml
  .github/workflows/validate-doc-metadata.yml
  .github/workflows/writeme.yml
  .github/workflows/yaml-lint.yml
  .tools/test/stacks/config/targets.yaml
Labels: On Call Review complete, GitHub settings, Task, Tools

#6572 Go: Fixed an off-by-one bug in the mock questioner AskChoice
  gov2/demotools/filesystem.go
  gov2/demotools/filesystem_test.go
  gov2/demotools/mocks.go
Labels: Go-v2, On Call Review complete, Bug

#6574 Create stats-lambda.yml
  .github/workflows/stats-lambda.yml
Labels: On Call Review complete, GitHub settings, Task, github_actions

#6580 update stats-lambda.yml (GH-action)
  .github/workflows/stats-lambda.yml
Labels: On Call Review complete, GitHub settings, Task, github_actions

#6583 Update stats-lambda.yml
  .github/workflows/stats-lambda.yml
Labels: On Call Review complete, GitHub settings, Bug

#6586 JavaScript: Added link to DDB dev guide
  .doc_gen/metadata/dynamodb_metadata.yaml
Labels: On Call Review complete, Task

#6585 Update link for community
  workflows/topics_and_queues/README.md
Labels: On Call Review complete, Task
