Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2025-02, with the labels that each got.

#7223 Kotlin Removed env variable provider
  kotlin/services/apigateway/src/test/kotlin/APIGatewayTest.kt
Labels: Kotlin, On Call Review complete, Bug

#7225 Kotlin Added logging functionality to tests
  kotlin/services/apigateway/build.gradle.kts
  kotlin/services/apigateway/src/test/kotlin/APIGatewayTest.kt
  kotlin/services/apigateway/src/test/resources/logback.xml
  kotlin/services/appsync/build.gradle.kts
  kotlin/services/appsync/src/test/kotlin/AppSyncTest.kt
  kotlin/services/appsync/src/test/resources/logback.xml
Labels: Kotlin, On Call Review complete, Bug

#7230 2025.05.1
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7234 Tools - Validator: Add allowlist entry to validation.yaml
  .doc_gen/validation.yaml
Labels: On Call Review complete, Task, github_actions

#7203 Tools: Weathertop - Add Account Nuker
  .tools/test/stacks/nuke/typescript/.prettierignore
  .tools/test/stacks/nuke/typescript/Dockerfile
  .tools/test/stacks/nuke/typescript/README.md
  .tools/test/stacks/nuke/typescript/account_nuker.ts
  .tools/test/stacks/nuke/typescript/cdk.json
  .tools/test/stacks/nuke/typescript/create_account_alias.py
  .tools/test/stacks/nuke/typescript/nuke-architecture.jpg
  .tools/test/stacks/nuke/typescript/nuke_generic_config.yaml
  .tools/test/stacks/nuke/typescript/package.json
  .tools/test/stacks/nuke/typescript/run.sh
  .tools/test/stacks/nuke/typescript/tsconfig.json
Labels: Testing, On Call Review complete, Task, Tools

#7232 Task: Add workflows for Dependabot auto-approve and auto-merge
  .github/workflows/automerge-approved-prs.yml
  .github/workflows/dependabot-autoapprove.yml
Labels: On Call Review complete, GitHub settings, Task

#7208 Clean up Transcribe example
  swift/example_code/transcribe-streaming/README.md
  swift/example_code/transcribe-streaming/transcribe-events/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7222 Tools - Weathertop: Update plugin_stack.ts
  .tools/test/stacks/plugin/typescript/plugin_stack.ts
Labels: On Call Review complete, Task, Tools

#7216 Python: InvokeFlow action Amazon Bedrock
  .doc_gen/metadata/bedrock-agent-runtime_metadata.yaml
  python/example_code/bedrock-agent-runtime/README.md
  python/example_code/bedrock-agent-runtime/bedrock_agent_runtime_wrapper.py
  python/example_code/bedrock-agent-runtime/requirements.txt
  python/example_code/bedrock-agent-runtime/test/test_bedrock_agent_runtime_wrapper.py
  python/test_tools/bedrock_agent_runtime_stubber.py
Labels: Python, On Call Review complete, Task

#7240 Fix metadata for Go v2 Bedrock Runtime example
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
Labels: On Call Review complete, Bug

#7235 Tools - Weathertop: Update targets.yaml
  .tools/test/stacks/config/targets.yaml
Labels: Testing, On Call Review complete, Task, Tools

#7220 JavaScript: Fixed syntax for Lambda trigger event handler : Amazon Cognito
  javascript/example_code/cognito/lambda-trigger-pre-sign-up-auto-confirm.js
Labels: Javascript-v2, On Call Review complete, Bug

#7211 Feature/add update access key operation
  .doc_gen/metadata/iam_metadata.yaml
  aws-cli/bash-linux/iam/README.md
  aws-cli/bash-linux/iam/iam_create_user_assume_role_scenario.sh
  aws-cli/bash-linux/iam/iam_operations.sh
Labels: CLI, On Call Review complete, Task

#7245 Correct the typos found in the comments
  aws-cli/bash-linux/iam/iam_operations.sh
Labels: CLI, On Call Review complete, Task

#7249 Tools: Update to tools release 2025.07.0
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7228 Java/Kotlin made some minor modifications to SDK examples
  javav2/example_code/forecast/src/test/java/ForecastTest.java
  javav2/example_code/s3/src/main/java/com/example/s3/PutBucketLogging.java
  javav2/example_code/sns/src/main/java/com/example/sns/CreateFIFOTopic.java
  javav2/usecases/topics_and_queues/pom.xml
  javav2/usecases/topics_and_queues/src/main/java/com/example/sns/SNSWorkflow.java
  javav2/usecases/topics_and_queues/src/test/java/AWSSNSTest.java
  kotlin/services/ecr/src/main/kotlin/com/example/ecr/scenario/ECRScenario.kt
  kotlin/services/translate/src/main/kotlin/com/kotlin/translate/BatchTranslation.kt
  kotlin/usecases/topics_and_queues/src/test/kotlin/AWSSNSTest.kt
Labels: Kotlin, On Call Review complete, Java-v2, Bug

#7251 Java: Add Amazon Nova text and image generation examples
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/pom.xml
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/libs/ImageTools.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/nova/canvas/InvokeModel.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/nova/text/Converse.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/nova/text/ConverseAsync.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazon/nova/text/ConverseStream.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/AbstractModelTest.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/IntegrationTestBase.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestConverse.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestConverseAsync.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestImageGeneration.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestInvokeModel.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestInvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/test/java/scenarios/TestAmazonTitanTextScenarios.java
Labels: On Call Review complete, Java-v2, Task

#7244 Python: Added Hello bedrock runtime examples for Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/hello/hello_bedrock_runtime_converse.py
  python/example_code/bedrock-runtime/hello/hello_bedrock_runtime_invoke.py
  python/example_code/bedrock-runtime/test/test_hello_bedrock_runtime.py
  python/example_code/bedrock-runtime/test/test_hello_bedrock_runtime_invoke.py
Labels: Python, On Call Review complete, Basics

#7200 Basic scenario metadata update
  .doc_gen/metadata/batch_metadata.yaml
  .doc_gen/metadata/iot_metadata.yaml
  .doc_gen/metadata/iot_sitewise_metadata.yaml
  .doc_gen/metadata/redshift_metadata.yaml
  .doc_gen/metadata/ssm_metadata.yaml
  cpp/example_code/iot/README.md
  gov2/redshift/README.md
  javascriptv3/example_code/iotsitewise/README.md
  javascriptv3/example_code/ssm/README.md
  javav2/example_code/batch/README.md
  javav2/example_code/iot/README.md
  javav2/example_code/iotsitewise/README.md
  javav2/example_code/redshift/README.md
  javav2/example_code/ssm/README.md
  kotlin/services/iot/README.md
  python/example_code/iotsitewise/README.md
  python/example_code/redshift/README.md
  python/example_code/ssm/README.md
Labels: C++, Go-v2, Javascript-v3, Kotlin, Python, On Call Review complete, Java-v2, Basics

#7254 Fixes for GitHub Actions to use Feature Scenario label.
  .github/allowed-labels.yml
  .github/workflows/label-checker.yml
Labels: On Call Review complete, GitHub settings, Task

#7221 Kotlin: Add Bedrock Runtime invoke model example
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  kotlin/services/bedrock-runtime/README.md
  kotlin/services/bedrock-runtime/build.gradle.kts
  kotlin/services/bedrock-runtime/src/main/kotlin/com/example/bedrockruntime/InvokeModel.kt
  kotlin/services/bedrock-runtime/src/test/kotlin/InvokeModelTest.kt
Labels: Kotlin, On Call Review complete, Task

#7229 .NET v3: Bedrock Converse API with Tool Feature Scenario Scout
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  dotnetv3/Bedrock-runtime/BedrockRuntimeExamples.sln
  dotnetv3/Bedrock-runtime/README.md
  dotnetv3/Bedrock-runtime/Scenarios/ConverseToolScenario/BedrockActionsWrapper.cs
  dotnetv3/Bedrock-runtime/Scenarios/ConverseToolScenario/ConverseToolScenario.cs
  dotnetv3/Bedrock-runtime/Scenarios/ConverseToolScenario/ConverseToolScenario.csproj
  dotnetv3/Bedrock-runtime/Scenarios/ConverseToolScenario/README.md
  dotnetv3/Bedrock-runtime/Scenarios/ConverseToolScenario/ToolResponse.cs
  dotnetv3/Bedrock-runtime/Scenarios/ConverseToolScenario/WeatherTool.cs
  dotnetv3/Bedrock-runtime/Tests/BedrockRuntimeTests.csproj
  dotnetv3/Bedrock-runtime/Tests/ConverseToolScenarioTests.cs
  dotnetv3/Bedrock-runtime/Tests/GlobalUsings.cs
  dotnetv3/DotNetV3Examples.sln
  dotnetv4/Bedrock/Actions/BedrockActions.csproj
  python/example_code/bedrock-runtime/README.md
  rustv1/examples/bedrock-runtime/README.md
  scenarios/features/bedrock_converse_tool/README.md
  scenarios/features/bedrock_converse_tool/SPECIFICATION.md
  scenarios/features/bedrock_converse_tool/toolscenario.png
Labels: DotNet-v3, Python, Rust, On Call Review complete, Scout, Feature Scenario

#7258 Remove add_services metadata
  .doc_gen/metadata/cross_metadata.yaml
  python/example_code/cloudwatch-logs/README.md
  python/example_code/dynamodb/README.md
  python/example_code/s3/README.md
  python/example_code/ses/README.md
  python/example_code/sns/README.md
  python/example_code/sqs/README.md
Labels: Python, On Call Review complete, Task

#7253 JavaScript examples for Amazon Nova and Amazon Nova Canvas
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/.gitignore
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/models/amazonNovaCanvas/invokeModel.js
  javascriptv3/example_code/bedrock-runtime/models/amazonNovaText/converse.js
  javascriptv3/example_code/bedrock-runtime/models/amazonNovaText/converseStream.js
  javascriptv3/example_code/bedrock-runtime/package.json
  javascriptv3/example_code/bedrock-runtime/tests/converse.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/converse_stream.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/image_generation.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/test_tools.js
  javascriptv3/example_code/bedrock-runtime/utils/image-creation.js
Labels: Javascript-v3, On Call Review complete, Basics

#7263 .NET v3: Default to on-demand tables in .NET DynamoDB examples.
  dotnetv3/DotNetV3Examples.sln
  dotnetv3/dynamodb/CreateTablesLoadDataExample/CreateTablesLoadDataExample/CreateTablesLoadData.cs
  dotnetv3/dynamodb/CreateTablesLoadDataExample/CreateTablesLoadDataExample/CreateTablesLoadDataExample.csproj
  dotnetv3/dynamodb/README.md
  dotnetv3/dynamodb/low-level-api/LowLevelTableExample/LowLevelTableExample.cs
  dotnetv3/dynamodb/scenarios/DynamoDB_Basics/DynamoDB_Actions/DynamoDbMethods.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Basics_Scenario/PartiQL_Basics_Scenario/DynamoDBMethods.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Basics_Scenario/PartiQL_Basics_Scenario/PartiQLBasics.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Batch_Scenario/PartiQL_Batch_Scenario/DynamoDBMethods.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Batch_Scenario/PartiQL_Batch_Scenario/PartiQLBatch.cs
  dotnetv3/dynamodb/scenarios/PartiQL_Batch_Scenario/PartiQL_Batch_Scenario/PartiQLBatchMethods.cs
Labels: DotNet-v3, On Call Review complete, Task, .NET

#7266 Test tools validator update.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task
