Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2025-03, with the labels that each got.

#7262 Kotlin: replace `CrtAwsSigner` with `DefaultAwsSigner`
  kotlin/services/s3/src/main/kotlin/com/kotlin/s3/MrapExample.kt
Labels: Kotlin, On Call Review complete, Bug

#7267 Dynamodb updates
  javascriptv3/example_code/dynamodb/actions/create-table.js
  javascriptv3/example_code/dynamodb/tests/delete-table.integration.test.js
  ruby/Gemfile
  ruby/Gemfile.lock
  ruby/example_code/dynamodb/README.md
  ruby/example_code/dynamodb/scaffold.rb
  rustv1/cross_service/photo_asset_management/integration/tests/update_label.rs
  rustv1/examples/dynamodb/src/bin/crud.rs
  rustv1/examples/dynamodb/src/bin/dynamodb-helloworld.rs
  rustv1/examples/dynamodb/src/bin/partiql.rs
  rustv1/examples/dynamodb/src/scenario/create.rs
  rustv1/examples/dynamodb/src/scenario/movies/startup.rs
Labels: Javascript-v3, Ruby, Rust, On Call Review complete, Task

#7265 Java V2 updated DynamoDB to use billingmode
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/CreateTable.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/CreateTableCompositeKey.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/enhanced/EnhancedCreateTable.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/scenario/Scenario.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/scenario/ScenarioPartiQ.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/scenario/ScenarioPartiQLBatch.java
  javav2/example_code/dynamodbasync/src/main/java/com/example/dynamodbasync/DynamoDBAsyncCreateTable.java
Labels: On Call Review complete, Java-v2, Task

#7276 Add dependencies label to label-checker
  .github/allowed-labels.yml
  .github/workflows/label-checker.yml
Labels: On Call Review complete, GitHub settings, Task

#7260 Java: Reasoning examples for Claude 3.7 on Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javav2/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/pom.xml
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/amazonTitanText/InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/anthropicClaude/Converse.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/anthropicClaude/ConverseAsync.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/anthropicClaude/InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/anthropicClaude/Reasoning.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/anthropicClaude/ReasoningAsync.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/anthropicClaude/ReasoningStream.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/anthropicClaude/lib/ReasoningResponse.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/cohereCommand/Command_InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/cohereCommand/Command_R_InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/models/mistral/InvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/AbstractModelTest.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestConverse.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestConverseAsync.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestImageGeneration.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestInvokeModel.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestInvokeModelWithResponseStream.java
  javav2/example_code/bedrock-runtime/src/test/java/actions/TestReasoning.java
Labels: On Call Review complete, Java-v2, Basics

#7275 Java V2 Add Entity Resolution files
  .doc_gen/metadata/entityresolution_metadata.yaml
  .doc_gen/validation.yaml
  javav2/example_code/entityresolution/.gitignore
  javav2/example_code/entityresolution/README.md
  javav2/example_code/entityresolution/pom.xml
  javav2/example_code/entityresolution/src/main/java/com/example/entity/HelloEntityResoultion.java
  javav2/example_code/entityresolution/src/main/java/com/example/entity/scenario/CloudFormationHelper.java
  javav2/example_code/entityresolution/src/main/java/com/example/entity/scenario/EntityResActions.java
  javav2/example_code/entityresolution/src/main/java/com/example/entity/scenario/EntityResScenario.java
  javav2/example_code/entityresolution/src/main/resources/log4j2.xml
  javav2/example_code/entityresolution/src/main/resources/template.yaml
  javav2/example_code/entityresolution/src/test/java/EntityResTests.java
  scenarios/basics/entity_resolution/README.md
  scenarios/basics/entity_resolution/SPECIFICATION.md
Labels: On Call Review complete, Java-v2, Basics

#7278 Kotlin updated the Kotlin DynamoDB examples to use Billing Mode
  kotlin/services/dynamodb/README.md
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/CreateTable.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/DynamoDBPartiQ.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/scenario/Scenario.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/scenario/ScenarioPartiQ.kt
  kotlin/services/dynamodb/src/main/kotlin/com/kotlin/dynamodb/scenario/ScenarioPartiQLBatch.kt
  kotlin/services/dynamodb/src/test/kotlin/DynamoDB.kt
Labels: Kotlin, On Call Review complete, Task

#7272 Updated the logging module line and paginator max item
  python/example_code/ec2/hello/hello_ec2.py
Labels: Python, On Call Review complete, Bug

#7277 Go: Default to on-demand tables in DynamoDB examples.
  gov2/dynamodb/README.md
  gov2/dynamodb/actions/table_basics.go
  gov2/dynamodb/stubs/table_basics_stubs.go
Labels: Go-v2, On Call Review complete, Task

#7268 Bash: Default to on-demand tables in DynamoDB examples.
  aws-cli/.gitattributes
  aws-cli/bash-linux/dynamodb/README.md
  aws-cli/bash-linux/dynamodb/dynamodb_operations.sh
  aws-cli/bash-linux/dynamodb/scenario_getting_started_movies.sh
  aws-cli/bash-linux/dynamodb/tests/test_dynamodb_examples.sh
Labels: CLI, On Call Review complete, Task

#7269 JavaV2: Update CloudFront signing for custom policy with new resourceUrlPattern property
  javav2/example_code/cloudfront/pom.xml
  javav2/example_code/cloudfront/src/main/java/com/example/cloudfront/CreateCustomPolicyRequest.java
Labels: On Call Review complete, Java-v2, Task, java

#7286 JavaScript: Correcting metadata for Amazon Nova examples
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/README.md
Labels: Javascript-v3, On Call Review complete, Bug

#7280 Update to tools release 2025.09.1
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7264 Python: Default to on-demand tables in Python DynamoDB examples.
  python/example_code/dynamodb/GettingStarted/scenario_getting_started_movies.py
  python/example_code/dynamodb/README.md
  python/example_code/dynamodb/TryDax/01-create-table.py
  python/example_code/dynamodb/batching/dynamo_batching.py
  python/example_code/dynamodb/batching/test/test_dynamo_batching.py
  python/example_code/dynamodb/partiql/scaffold.py
  python/test_tools/dynamodb_stubber.py
Labels: Python, On Call Review complete, Task

#7261 .NET v4 Preview: Adding ECS Folder
  dotnetv4/DotNetV4Examples.sln
  dotnetv4/ECS/ECS.sln
  dotnetv4/ECS/ECSActions/ECSActions.csproj
  dotnetv4/ECS/ECSActions/ECSWrapper.cs
  dotnetv4/ECS/ECSActions/HelloECS.cs
  dotnetv4/ECS/ECSScenario/ECSScenario.cs
  dotnetv4/ECS/ECSScenario/ECSScenario.csproj
  dotnetv4/ECS/ECSTests/ECSTests.cs
  dotnetv4/ECS/ECSTests/ECSTests.csproj
  dotnetv4/ECS/ECSTests/Usings.cs
  dotnetv4/ECS/README.md
Labels: On Call Review complete, Task, .NET

#7285 Cpp: Remove broken assert
  cpp/example_code/transfer-manager/transferOnStream.cpp
Labels: C++, On Call Review complete, Bug

#7279 Kotlin A PR to address a ticket
  .doc_gen/cross-content/cross_Android_Kotlin_block.xml
  .doc_gen/metadata/cross_metadata.yaml
Labels: On Call Review complete, Bug

#7287 Python: Nova Reel Text-to-Video example
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/models/amazon_nova/amazon_nova_reel/text_to_video.py
  python/example_code/bedrock-runtime/requirements.txt
  python/example_code/bedrock-runtime/test/test_nova_reel.py
Labels: Python, On Call Review complete, Task

#7293 move basics_scenarios folder into scenarios
  javav2/example_code/ecr/src/main/java/com/example/ecr/scenario/ECRScenario.java
  kotlin/services/ecr/src/main/kotlin/com/example/ecr/scenario/ECRScenario.kt
  scenarios/basics/batch/README.md
  scenarios/basics/batch/SPECIFICATION.md
  scenarios/basics/ecr/README.md
  scenarios/basics/ecr/SPECIFICATION.md
  scenarios/basics/ecr/resources/Dockerfile
  scenarios/basics/ecr/resources/hello.sh
  scenarios/basics/iot/README.md
  scenarios/basics/iot/SPECIFICATION.md
  scenarios/basics/iot/iot_usecase/resources/.gitignore
  scenarios/basics/iot/iot_usecase/resources/cdk/cdk.json
  scenarios/basics/iot/iot_usecase/resources/cdk/package.json
  scenarios/basics/iot/iot_usecase/resources/cdk/setup.ts
  scenarios/basics/iot/iot_usecase/resources/cdk/tsconfig.json
  scenarios/basics/iot/iot_usecase/resources/cfn_template.yaml
  scenarios/basics/kms/README.md
  scenarios/basics/kms/SPECIFICATION.md
  scenarios/basics/opensearch/README.md
  scenarios/basics/opensearch/SPECIFICATION.md
  scenarios/basics/redshift/README.md
  scenarios/basics/redshift/SPECIFICATION.md
  scenarios/basics/s3/README.md
  scenarios/basics/s3/SPECIFICATION.md
  scenarios/basics/s3express/README.md
  scenarios/basics/s3express/SPECIFICATION.md
  scenarios/basics/sitewise/README.md
  scenarios/basics/sitewise/SPECIFICATION.md
  scenarios/basics/ssm/README.md
  scenarios/basics/ssm/SPECIFICATION.md
Labels: Kotlin, On Call Review complete, Java-v2, Basics

#7299 Java V2 update a Lambda function in SOS
  .doc_gen/metadata/lambda_metadata.yaml
  javav2/example_code/lambda/README.md
Labels: On Call Review complete, Java-v2, Bug

#7300 PHP updated the PHP Create table example
  php/example_code/dynamodb/GettingStarted/MoviesCreateTable.php
  php/example_code/dynamodb/Tables_CRUD.php
Labels: PHP, On Call Review complete, Task

#7301 [-tools] Update to tools release 2025.10.0 and delete example entity file.
  .doc_gen/cross-content/phrases-code-examples.ent
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7302 Java V2 Removed dup line of code
  javav2/usecases/resilient_service/pom.xml
  javav2/usecases/resilient_service/src/main/java/com/example/resilient/LoadBalancer.java
Labels: On Call Review complete, Java-v2, Bug

#7252 Replace argparse with typer for WRITEME flags.
  .tools/readmes/README.md
  .tools/readmes/requirements.txt
  .tools/readmes/requirements_freeze.txt
  .tools/readmes/runner.py
  .tools/readmes/writeme.py
Labels: On Call Review complete, Task, Tools

#7306 Update validate-doc-metadata.yml to -tools @ 2025.10.1
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task, Tools

#7307 Go: Remove redundant error check
  gov2/cloudfront/CreateDistribution/CreateDistribution.go
Labels: Go-v2, On Call Review complete, Bug

#7257 Kotlin: Amazon Nova text and image generation examples
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .gitignore
  kotlin/services/bedrock-runtime/README.md
  kotlin/services/bedrock-runtime/build.gradle.kts
  kotlin/services/bedrock-runtime/src/main/kotlin/com/example/bedrockruntime/InvokeModel.kt
  kotlin/services/bedrock-runtime/src/main/kotlin/com/example/bedrockruntime/libs/ImageTools.kt
  kotlin/services/bedrock-runtime/src/main/kotlin/com/example/bedrockruntime/models/amazon/nova/canvas/InvokeModel.kt
  kotlin/services/bedrock-runtime/src/main/kotlin/com/example/bedrockruntime/models/amazon/nova/text/Converse.kt
  kotlin/services/bedrock-runtime/src/main/kotlin/com/example/bedrockruntime/models/amazon/nova/text/ConverseStream.kt
  kotlin/services/bedrock-runtime/src/main/kotlin/com/example/bedrockruntime/models/amazon/titan/text/InvokeModel.kt
  kotlin/services/bedrock-runtime/src/test/kotlin/InvokeModelTest.kt
  kotlin/services/bedrock-runtime/src/test/kotlin/models/AbstractModelTest.kt
  kotlin/services/bedrock-runtime/src/test/kotlin/models/TestConverse.kt
  kotlin/services/bedrock-runtime/src/test/kotlin/models/TestConverseStream.kt
  kotlin/services/bedrock-runtime/src/test/kotlin/models/TestInvokeModel.kt
Labels: Kotlin, On Call Review complete, Basics

#7310 Update bucketname
  javascriptv3/example_code/iam/actions/put-role-policy.js
  javav2/example_code/iam/src/main/java/com/example/iam/IamPolicyBuilderExamples.java
  python/example_code/iam/policy_wrapper.py
Labels: Javascript-v3, Python, On Call Review complete, Java-v2, Task

#7291 SAP ABAP: add bedrock agents runtime example, abaplint formatting, improved test cases
  .abapgit.xml
  .doc_gen/metadata/bedrock-agent-runtime_metadata.yaml
  .tools/readmes/config.py
  abaplint.json
  sap-abap/README.md
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.abap
  sap-abap/services/bdr/zcl_aws1_bdr_actions.clas.testclasses.abap
  sap-abap/services/bdz/README.md
  sap-abap/services/bdz/package.devc.xml
  sap-abap/services/bdz/zcl_aws1_bdz_actions.clas.abap
  sap-abap/services/bdz/zcl_aws1_bdz_actions.clas.testclasses.abap
  sap-abap/services/bdz/zcl_aws1_bdz_actions.clas.xml
  sap-abap/services/cloudwatch/zcl_aws1_cwt_actions.clas.abap
  sap-abap/services/cloudwatch/zcl_aws1_cwt_actions.clas.testclasses.abap
  sap-abap/services/cloudwatch/zcl_aws1_cwt_scenario.clas.abap
  sap-abap/services/cloudwatch/zcl_aws1_cwt_scenario.clas.testclasses.abap
  sap-abap/services/dyn/zcl_aws1_dyn_actions.clas.testclasses.abap
  sap-abap/services/dyn/zcl_aws1_dyn_scenario.clas.testclasses.abap
  sap-abap/services/ec2/zcl_aws1_ec2_actions.clas.abap
  sap-abap/services/ec2/zcl_aws1_ec2_actions.clas.testclasses.abap
  sap-abap/services/kinesis/zcl_aws1_kns_actions.clas.abap
  sap-abap/services/kinesis/zcl_aws1_kns_actions.clas.testclasses.abap
  sap-abap/services/kinesis/zcl_aws1_kns_scenario.clas.abap
  sap-abap/services/kinesis/zcl_aws1_kns_scenario.clas.testclasses.abap
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.abap
  sap-abap/services/lambda/zcl_aws1_lmd_actions.clas.testclasses.abap
  sap-abap/services/lambda/zcl_aws1_lmd_scenario.clas.abap
  sap-abap/services/lambda/zcl_aws1_lmd_scenario.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_actions.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.testclasses.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_actions.clas.testclasses.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.abap
  sap-abap/services/sagemaker/zcl_aws1_sgm_scenario.clas.testclasses.abap
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.abap
  sap-abap/services/sns/zcl_aws1_sns_actions.clas.testclasses.abap
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.abap
  sap-abap/services/sns/zcl_aws1_sns_scenario.clas.testclasses.abap
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.abap
  sap-abap/services/sqs/zcl_aws1_sqs_actions.clas.testclasses.abap
  sap-abap/services/textract/zcl_aws1_tex_actions.clas.testclasses.abap
  sap-abap/services/textract/zcl_aws1_tex_scenario.clas.testclasses.abap
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.abap
  sap-abap/services/translate/zcl_aws1_xl8_actions.clas.testclasses.abap
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.abap
  sap-abap/services/translate/zcl_aws1_xl8_scenario.clas.testclasses.abap
  sap-abap/util/package.devc.xml
  sap-abap/util/zaws1_ex_exc.msag.xml
  sap-abap/util/zcl_aws1_ex_utils.clas.abap
  sap-abap/util/zcl_aws1_ex_utils.clas.xml
  sap-abap/util/zcx_aws1_ex_generic.clas.abap
  sap-abap/util/zcx_aws1_ex_generic.clas.xml
Labels: On Call Review complete, Task, Tools, SAP ABAP

#7312 Use on-demand mode in DDB scenario example
  swift/example_code/dynamodb/basics/MovieList/MovieTable.swift
Labels: Swift, On Call Review complete, Task

#7311 Add a new 'single action example' label
  .github/allowed-labels.yml
  .github/workflows/label-checker.yml
Labels: On Call Review complete, GitHub settings, Task, github_actions

#7270 Java v2 Add S3 Express Scenario
  .doc_gen/metadata/s3-directory-buckets_metadata.yaml
  javav2/example_code/s3/pom.xml
  javav2/example_code/s3/src/main/java/com/example/s3/directorybucket/DeleteDirectoryBucketObjects.java
  javav2/example_code/s3/src/main/java/com/example/s3/express/CloudFormationHelper.java
  javav2/example_code/s3/src/main/java/com/example/s3/express/S3DirectoriesActions.java
  javav2/example_code/s3/src/main/java/com/example/s3/express/S3DirectoriesScenario.java
  javav2/example_code/s3/src/main/java/com/example/s3/express/UserNames.java
  javav2/example_code/s3/src/main/resources/log4j2.xml
  javav2/example_code/s3/src/main/resources/s3_express_template.yaml
  javav2/example_code/s3/src/test/java/S3ExpressTests.java
Labels: On Call Review complete, Java-v2, Basics

#7316 JS: Adds WORKDIR directive to JSv3 Dockerfile
  javascriptv3/Dockerfile
Labels: Javascript-v3, On Call Review complete, Bug

#7315 GitHub: Create auto-update-pr action
  .github/workflows/auto-update-pr
Labels: On Call Review complete, GitHub settings, Task, github_actions

#7332 JavaScript (v3) Pools and Triggers - Renamed autoConfirmHandler
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/lib/stack.AutoConfirmHandler.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/lib/stack.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/cdk/tests/cdk.unit.test.ts
  javascriptv3/example_code/cross-services/wkflw-pools-triggers/scenario-auto-confirm.js
Labels: Javascript-v3, On Call Review complete, Bug

#7334 GitHub: Rename auto-update-pr to auto-update-pr.yml
  .github/workflows/auto-update-pr.yml
Labels: On Call Review complete, GitHub settings, Bug, github_actions

#7281 Java V2 add AWS Location Service files
  .doc_gen/metadata/geo-places_metadata.yaml
  .doc_gen/metadata/location_metadata.yaml
  .doc_gen/validation.yaml
  javav2/example_code/location/.gitignore
  javav2/example_code/location/README.md
  javav2/example_code/location/pom.xml
  javav2/example_code/location/src/main/java/com/example/location/HelloLocation.java
  javav2/example_code/location/src/main/java/com/example/location/scenario/LocationActions.java
  javav2/example_code/location/src/main/java/com/example/location/scenario/LocationScenario.java
  javav2/example_code/location/src/main/resources/log4j2.xml
  javav2/example_code/location/src/test/java/LocationTest.java
  scenarios/basics/location/README.md
  scenarios/basics/location/SPECIFICATION.md
Labels: On Call Review complete, Java-v2, Scout, Basics
