Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2025-04, with the labels that each got.

#7345 GitHub: Run Label Checker action after automatic branch updates.
  .github/workflows/label-checker.yml
Labels: On Call Review complete, GitHub settings, Task, github_actions

#7347 GH: Add workflow_dispatch to PR Updater
  .github/workflows/auto-update-pr.yml
Labels: On Call Review complete, GitHub settings, Task, github_actions

#7349 GitHub: Disable update PR from on push
  .github/workflows/auto-update-pr.yml
Labels: On Call Review complete, GitHub settings, Task, github_actions

#7353 Python: Update SNS Fifo example to use FifoThroughputScope parameter.
  python/example_code/sns/sns_fifo_topic.py
Labels: Python, On Call Review complete, Bug

#7348 This adds a Single Action Example showing how to use Bedrock-Converse with Anthropic Claude.
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  gov2/bedrock-runtime/README.md
  gov2/bedrock-runtime/actions/converse.go
  gov2/bedrock-runtime/actions/converse_test.go
  gov2/bedrock-runtime/cmd/main.go
  gov2/bedrock-runtime/go.mod
  gov2/bedrock-runtime/go.sum
  gov2/bedrock-runtime/scenarios/scenario_converse.go
  gov2/bedrock-runtime/stubs/converse_stubs.go
Labels: Go-v2, On Call Review complete, Single action example

#7362 Multi: Updates to scenario spec and system prompt.
  dotnetv3/Bedrock-runtime/Scenarios/ConverseToolScenario/ConverseToolScenario.cs
  scenarios/features/bedrock_converse_tool/README.md
  scenarios/features/bedrock_converse_tool/SPECIFICATION.md
Labels: DotNet-v3, On Call Review complete, Bug

#7361 Javascript/upgrade
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javascriptv3/example_code/bedrock-runtime/models/ai21LabsJurassic2/converse.js
  javascriptv3/example_code/bedrock-runtime/models/ai21LabsJurassic2/invoke_model.js
  javascriptv3/example_code/bedrock-runtime/package.json
  javascriptv3/example_code/bedrock-runtime/tests/ai21_labs_jurassic2.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/converse.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/converse_stream.integration.test.js
Labels: Javascript-v3, On Call Review complete, Task

#7356 Java V2 Add the Bedrock Converse Java example
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javav2/example_code/bedrock-runtime/pom.xml
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/scenario/BedrockActions.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/scenario/BedrockScenario.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/scenario/ToolResponse.java
  javav2/example_code/bedrock-runtime/src/main/java/com/example/bedrockruntime/scenario/WeatherTool.java
  javav2/example_code/bedrock-runtime/src/test/java/scenarios/TestBedrockTool.java
Labels: On Call Review complete, Java-v2, Follow, Basics

#7367 WRITEME: Restore --safe as default false
  .tools/readmes/runner.py
Labels: On Call Review complete, Bug, Tools

#7355 JavaScriptv3: Bedrock agent runtime tool use scenario example
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .doc_gen/validation.yaml
  .tools/base_requirements.txt
  .tools/readmes/requirements.txt
  .tools/readmes/requirements_freeze.txt
  javascriptv3/example_code/bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/models/amazonNovaText/converse-with-tool.js
  javascriptv3/example_code/bedrock-runtime/models/amazonNovaText/converse.js
  javascriptv3/example_code/bedrock-runtime/scenarios/converse_tool_scenario/README.md
  javascriptv3/example_code/bedrock-runtime/scenarios/converse_tool_scenario/converse-tool-scenario.js
  javascriptv3/example_code/bedrock-runtime/scenarios/converse_tool_scenario/questions.json
  javascriptv3/example_code/bedrock-runtime/scenarios/converse_tool_scenario/tool_config.json
  javascriptv3/example_code/bedrock-runtime/tests/converse-tool-scenario.integration.test.js
  javascriptv3/example_code/bedrock-runtime/tests/converse-with-tool.integration.test.js
Labels: Javascript-v3, On Call Review complete, Tools, Feature Scenario

#7366 Swift: Add imports for SNS and SQS
  .doc_gen/metadata/sns_metadata.yaml
  .doc_gen/metadata/sqs_metadata.yaml
  swift/example_code/dynamodb/README.md
  swift/example_code/sns/README.md
  swift/example_code/sns/basics/Sources/entry.swift
  swift/example_code/sqs/README.md
  swift/example_code/sqs/basics/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7358 Amazon Bedrock playlist flow
  .doc_gen/metadata/bedrock-agent_metadata.yaml
  python/example_code/bedrock-agent/README.md
  python/example_code/bedrock-agent/flows/flow-conversation.py
  python/example_code/bedrock-agent/flows/flow.py
  python/example_code/bedrock-agent/flows/flow_alias.py
  python/example_code/bedrock-agent/flows/flow_version.py
  python/example_code/bedrock-agent/flows/list_flows.py
  python/example_code/bedrock-agent/flows/playlist_flow.py
  python/example_code/bedrock-agent/flows/roles.py
  python/example_code/bedrock-agent/flows/run_flow.py
  python/example_code/bedrock-agent/test/conftest.py
  python/example_code/bedrock-agent/test/test_Invoke_flow.py
  python/example_code/bedrock-agent/test/test_flow.py
  python/example_code/bedrock-agent/test/test_flow_alias.py
  python/example_code/bedrock-agent/test/test_flow_conversation.py
  python/example_code/bedrock-agent/test/test_flow_version.py
  python/example_code/bedrock-agent/test/test_playlist_flow.py
  python/test_tools/bedrock_agent_stubber.py
Labels: Python, On Call Review complete, Single action example

#7403 Swift: Cognito scenario example
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  swift/example_code/cognito-identity-provider/README.md
  swift/example_code/cognito-identity-provider/scenario/Package.swift
  swift/example_code/cognito-identity-provider/scenario/Sources/entry.swift
  swift/example_code/cognito-identity-provider/scenario/test.sh
Labels: Swift, On Call Review complete, Basics

#7411 JS: Fix root path for resilient services test
  javascriptv3/example_code/cross-services/wkflw-resilient-service/constants.js
Labels: Javascript-v3, On Call Review complete, Bug

#7365 Swift: Add example of Bedrock's ListFoundationModels function
  .doc_gen/metadata/bedrock_metadata.yaml
  swift/example_code/bedrock/ListFoundationModels/Package.swift
  swift/example_code/bedrock/ListFoundationModels/Sources/entry.swift
  swift/example_code/bedrock/README.md
Labels: Swift, On Call Review complete, Task

#7419 Update README.md
  .tools/readmes/README.md
Labels: On Call Review complete, Task, Tools

#7421 Swift: Add HTTP configuration example
  swift/example_code/swift-sdk/http-config/Package.swift
  swift/example_code/swift-sdk/http-config/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7417 Location services examples (JavaScript)
  .doc_gen/metadata/location_metadata.yaml
  javascriptv3/example_code/location/README.md
  javascriptv3/example_code/location/actions/batch-update-device-position.js
  javascriptv3/example_code/location/actions/calculate-distance-async.js
  javascriptv3/example_code/location/actions/calculate-route.js
  javascriptv3/example_code/location/actions/create-geofence-collection.js
  javascriptv3/example_code/location/actions/create-map.js
  javascriptv3/example_code/location/actions/create-route-calculator.js
  javascriptv3/example_code/location/actions/create-tracker.js
  javascriptv3/example_code/location/actions/delete-geofence-collection.js
  javascriptv3/example_code/location/actions/delete-map.js
  javascriptv3/example_code/location/actions/delete-route-calculator.js
  javascriptv3/example_code/location/actions/delete-tracker.js
  javascriptv3/example_code/location/actions/get-device-position.js
  javascriptv3/example_code/location/actions/inputs.json
  javascriptv3/example_code/location/actions/put-geofence.js
  javascriptv3/example_code/location/hello.js
  javascriptv3/example_code/location/package.json
  javascriptv3/example_code/location/scenarios/inputs.json
  javascriptv3/example_code/location/scenarios/location-service-basics.js
  javascriptv3/example_code/location/tests/batch-update-device-position.integration.test.js
  javascriptv3/example_code/location/tests/calculate-distance-async.integration.test.js
  javascriptv3/example_code/location/tests/calculate-route.integration.test.js
  javascriptv3/example_code/location/tests/create-geofence-collection.integration.test.js
  javascriptv3/example_code/location/tests/create-map.integration.test.js
  javascriptv3/example_code/location/tests/create-route-calculator.integration.test.js
  javascriptv3/example_code/location/tests/create-tracker.integration.test.js
  javascriptv3/example_code/location/tests/delete-geofence-collection.integration.test.js
  javascriptv3/example_code/location/tests/delete-map.integration.test.js
  javascriptv3/example_code/location/tests/delete-route-calculator.integration.test.js
  javascriptv3/example_code/location/tests/delete-tracker.integration.test.js
  javascriptv3/example_code/location/tests/get-device-position.integration.test.js
  javascriptv3/example_code/location/tests/hello.integration.test.js
  javascriptv3/example_code/location/tests/location-service-basics.integration.test.js
  javascriptv3/example_code/location/tests/put-geofence.integration.test.js
Labels: Javascript-v3, On Call Review complete, Basics

#7418 Bedrock managed prompts examples
  .doc_gen/metadata/bedrock-agent_metadata.yaml
  python/example_code/bedrock-agent/README.md
  python/example_code/bedrock-agent/prompts/list_prompts.py
  python/example_code/bedrock-agent/prompts/prompt.py
  python/example_code/bedrock-agent/prompts/requirements.txt
  python/example_code/bedrock-agent/prompts/run_prompt.py
  python/example_code/bedrock-agent/prompts/scenario_get_started_with_prompts.py
  python/example_code/bedrock-agent/requirements.txt
  python/example_code/bedrock-agent/test/conftest.py
  python/example_code/bedrock-agent/test/test_prompt.py
  python/example_code/bedrock-agent/test/test_run_prompt.py
  python/example_code/bedrock-agent/test/test_scenario_get_started_with_prompts.py
  python/test_tools/bedrock_agent_stubber.py
  python/test_tools/bedrock_runtime_stubber.py
Labels: Python, On Call Review complete, Feature Scenario

#7360 Java: Code example for Generating video with Nova Reel / Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  javav2/usecases/video_generation_bedrock_nova_reel/README.md
  javav2/usecases/video_generation_bedrock_nova_reel/images/structure.png
  javav2/usecases/video_generation_bedrock_nova_reel/pom.xml
  javav2/usecases/video_generation_bedrock_nova_reel/src/main/java/com/example/novareel/GenerateVideoResponse.java
  javav2/usecases/video_generation_bedrock_nova_reel/src/main/java/com/example/novareel/NovaReelDemo.java
  javav2/usecases/video_generation_bedrock_nova_reel/src/main/java/com/example/novareel/VideoGenerationService.java
  javav2/usecases/video_generation_bedrock_nova_reel/src/main/java/com/example/novareel/VideoGeneratorController.java
  javav2/usecases/video_generation_bedrock_nova_reel/src/main/resources/application.yaml
Labels: On Call Review complete, Java-v2, Feature Scenario
