Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2025-08, with the labels that each got.

#7536 Dotnetv4: Add CreatePresignedPost in S3
  .doc_gen/metadata/s3_metadata.yaml
  dotnetv4/Bedrock-runtime/Actions/HelloBedrockRuntime.cs
  dotnetv4/DotNetV4Examples.sln
  dotnetv4/S3/README.md
  dotnetv4/S3/S3Examples.sln
  dotnetv4/S3/Scenarios/S3_CreatePresignedPost/Basics.csproj
  dotnetv4/S3/Scenarios/S3_CreatePresignedPost/CreatePresignedPostBasics.cs
  dotnetv4/S3/Scenarios/S3_CreatePresignedPost/S3Wrapper.cs
  dotnetv4/S3/Scenarios/S3_CreatePresignedPost/UiMethods.cs
  dotnetv4/S3/Scenarios/S3_CreatePresignedPost/Usings.cs
  dotnetv4/S3/Tests/CreatePresignedPostBasicsTests.cs
  dotnetv4/S3/Tests/S3Tests.csproj
  dotnetv4/S3/Tests/Usings.cs
Labels: On Call Review complete, .NET, Single action example

#7538 Updated metadata for Entity Resolution and Location services to fix broken links in code examples
  .doc_gen/metadata/entityresolution_metadata.yaml
  .doc_gen/metadata/location_metadata.yaml
  javascriptv3/example_code/entityresolution/README.md
  javascriptv3/example_code/location/README.md
  javav2/example_code/entityresolution/README.md
  javav2/example_code/location/README.md
  kotlin/services/location/README.md
Labels: Javascript-v3, Kotlin, On Call Review complete, Java-v2, Bug

#7551 deps: update react to fix Can't resolve 'react/jsx-dev-runtime' error
  javascriptv3/example_code/cross-services/textract-react/package.json
Labels: Javascript-v3, On Call Review complete, Task

#7556 JavaScript v3: Prepare JavaScript v3 item tracker for updates.
  .doc_gen/metadata/cross_metadata.yaml
Labels: Javascript-v3, On Call Review complete, Bug

#7557 Ruby: Remove workdocs examples
  .doc_gen/metadata/workdocs_metadata.yaml
  ruby/example_code/workdocs/README.md
  ruby/example_code/workdocs/spec/workdocs_basics_spec.rb
  ruby/example_code/workdocs/workdocs_basics.rb
Labels: Ruby, On Call Review complete, Task

#7558 Update method name to describe a Get request
  javav2/example_code/s3/src/main/java/com/example/s3/GeneratePresignedGetUrlAndRetrieve.java
  javav2/example_code/s3/src/test/java/com/example/s3/presignurl/GeneratePresignedGetUrlTests.java
Labels: On Call Review complete, Java-v2, Bug
