Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2025-09, with the labels that each got.

#7561 JavaScript v3: Resore JavaScript v3 item tracker after updates.
  .doc_gen/metadata/cross_metadata.yaml
Labels: Javascript-v3, On Call Review complete, Bug

#7563 Update "bad" bucket names in PHP examples displayed in the PHP Dev. guide
  php/example_code/class_examples/CommandPool.php
  php/example_code/cloudfront/CreateDistributionS3.php
  php/example_code/cloudfront/old_tests/CreateDistributionS3Test.php
  php/example_code/cloudfront/old_tests/DisableDistributionS3Test.php
  php/example_code/cloudfront/old_tests/UpdateDistributionS3Test.php
  php/example_code/cloudwatch/DescribeAlarmsForMetric.php
  php/example_code/cloudwatch/GetMetricStatistics.php
  php/example_code/cloudwatch/old_tests/DescribeAlarmsForMetricTest.php
  php/example_code/lambda/GettingStartedWithLambda.php
  php/example_code/lambda/tests/LambdaTest.php
  php/example_code/s3/CreateBucket.php
  php/example_code/s3/ErrorHandling.php
  php/example_code/s3/PutObjectServiceOperations.php
  php/example_code/s3/s3BucketAcl.php
  php/example_code/s3/s3BucketPolicy.php
  php/example_code/s3/s3ObjectAcl.php
  php/example_code/s3/s3WebHost.php
Labels: PHP, On Call Review complete, Bug

#7552 SAP ABAP SDK: example scenario for the new SAP ABAP presigner using GetObject
  .doc_gen/metadata/s3_metadata.yaml
  sap-abap/services/s3/README.md
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.testclasses.abap
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.xml
Labels: On Call Review complete, SAP ABAP, Single action example

#7573 Java V2 - Update the main README instructions for accuracy
  javav2/README.md
Labels: On Call Review complete, Java-v2, Task

#7564 Swift: Add example for Cognito credential identity resolver
  swift/example_code/identity-resolvers/cognito-resolver/Package.swift
  swift/example_code/identity-resolvers/cognito-resolver/Sources/Example.swift
  swift/example_code/identity-resolvers/cognito-resolver/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7578 SAP ABAP SDK: Update method signature for S3 service scenario
  sap-abap/services/s3/zcl_aws1_s3_scenario.clas.abap
Labels: On Call Review complete, Task, SAP ABAP

#7592 Swift: Remove unneeded code from Cognito Identity Resolver example
  swift/example_code/identity-resolvers/cognito-resolver/Package.swift
  swift/example_code/identity-resolvers/cognito-resolver/Sources/Example.swift
  swift/example_code/identity-resolvers/cognito-resolver/Sources/entry.swift
  swift/example_code/lambda/using-lambda-runtime/Sources/lambda.swift
Labels: Swift, On Call Review complete, Task

#7572 Python: Add S3 Batch scenario with CloudFormation integration
  .doc_gen/metadata/s3-control_metadata.yaml
  python/example_code/s3/scenarios/batch/README.md
  python/example_code/s3/scenarios/batch/cloudformation_helper.py
  python/example_code/s3/scenarios/batch/requirements.txt
  python/example_code/s3/scenarios/batch/s3_batch_scenario.py
  python/example_code/s3/scenarios/batch/s3_batch_wrapper.py
  python/example_code/s3/scenarios/batch/test/conftest.py
  python/example_code/s3/scenarios/batch/test/test_batch_scenario.py
  python/example_code/s3/scenarios/batch/test/test_requirements.txt
Labels: Python, On Call Review complete, Feature Scenario

#7555 JAVA: Adding AdaptiveRetry Samples for Java SDK v2, DynamoDB
  javav2/example_code/dynamodb/README.md
  javav2/example_code/dynamodb/adaptive_retry_docs/README.md
  javav2/example_code/dynamodb/adaptive_retry_docs/concepts.md
  javav2/example_code/dynamodb/adaptive_retry_docs/configuration-reference.md
  javav2/example_code/dynamodb/adaptive_retry_docs/migration-guide.md
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/BasicAdaptiveRetryImplementation.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/MigrationExamples.java
  javav2/example_code/dynamodb/src/main/java/com/example/dynamodb/README_ADAPTIVE_RETRY.md
  javav2/example_code/dynamodb/src/test/java/DynamoDBTest.java
Labels: On Call Review complete, Java-v2, Task

#7598 [Java,C++,Python,JavaScript]: Updating example codes in HealthImaging Service
  cpp/example_code/medical-imaging/start_dicom_import_job.cpp
  javascriptv3/example_code/medical-imaging/actions/start-dicom-import-job.js
  javav2/example_code/medicalimaging/src/main/java/com/example/medicalimaging/StartDicomImportJob.java
  python/example_code/medical-imaging/medical_imaging_basics.py
Labels: C++, Javascript-v3, Python, On Call Review complete, Java-v2, Task

#7608 Fixed an open search tag issue
  .doc_gen/metadata/opensearch_metadata.yaml
  javav2/example_code/opensearch/README.md
Labels: On Call Review complete, Java-v2, Bug

#7606 Fixed an issue and Redshift tests now run again
  javav2/example_code/redshift/src/test/java/AmazonRedshiftTest.java
Labels: On Call Review complete, Java-v2, Bug

#7610 Update Lambda runtime for Swift example
  swift/example_code/lambda/using-lambda-runtime/Package.swift
  swift/example_code/lambda/using-lambda-runtime/Sources/lambda.swift
  swift/example_code/lambda/using-lambda-runtime/test.sh
Labels: Swift, On Call Review complete, Task
