Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2025-06, with the labels that each got.

#7438 Entity resolution js
  .doc_gen/metadata/entityresolution_metadata.yaml
  javascriptv3/example_code/entityresolution/README.md
  javascriptv3/example_code/entityresolution/actions/check-workflow-status.js
  javascriptv3/example_code/entityresolution/actions/create-matching-workflow.js
  javascriptv3/example_code/entityresolution/actions/create-schema-mapping.js
  javascriptv3/example_code/entityresolution/actions/delete-matching-workflow.js
  javascriptv3/example_code/entityresolution/actions/delete-schema-mapping.js
  javascriptv3/example_code/entityresolution/actions/get-matching-job.js
  javascriptv3/example_code/entityresolution/actions/get-schema-mapping.js
  javascriptv3/example_code/entityresolution/actions/list-schema-mappings.js
  javascriptv3/example_code/entityresolution/actions/start-matching-job.js
  javascriptv3/example_code/entityresolution/actions/tag-entity-resource.js
  javascriptv3/example_code/entityresolution/data.csv
  javascriptv3/example_code/entityresolution/data.json
  javascriptv3/example_code/entityresolution/hello.js
  javascriptv3/example_code/entityresolution/inputs.json
  javascriptv3/example_code/entityresolution/package.json
  javascriptv3/example_code/entityresolution/scenarios/entity-resolution-basics.js
  javascriptv3/example_code/entityresolution/tests/check-workflow-status.integration.test.js
  javascriptv3/example_code/entityresolution/tests/create-schema-mapping.integration.test.js
  javascriptv3/example_code/entityresolution/tests/delete-matching-workflow.integration.test.js
  javascriptv3/example_code/entityresolution/tests/delete-schema-mapping.integration.test.js
  javascriptv3/example_code/entityresolution/tests/entity-resolution-basics.integration.test.js
  javascriptv3/example_code/entityresolution/tests/get-matching-job.integration.test.js
  javascriptv3/example_code/entityresolution/tests/hello.integration.test.js
  javascriptv3/example_code/entityresolution/tests/list-schema-mappings.integration.test.js
  resources/cfn/entity-resolution-basics/entity-resolution-basics-template.yml
Labels: Javascript-v3, On Call Review complete, Basics

#7462 Java V2 Add Neptune Basics
  .doc_gen/cross-content/cross_Neptune_Java_block.xml
  .doc_gen/metadata/cross_metadata.yaml
  .doc_gen/metadata/neptune_metadata.yaml
  javav2/example_code/neptune/.gitignore
  javav2/example_code/neptune/README.md
  javav2/example_code/neptune/pom.xml
  javav2/example_code/neptune/src/main/java/com/example/neptune/HelloNeptune.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/analytics/CreateNeptuneGraphExample.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/analytics/NeptuneAnalyticsQueryExample.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/database/GremlinProfileQueryExample.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/database/NeptuneGremlinExplainAndProfileExample.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/database/NeptuneGremlinQueryExample.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/database/OpenCypherExplainExample.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/scenerio/NeptuneActions.java
  javav2/example_code/neptune/src/main/java/com/example/neptune/scenerio/NeptuneScenario.java
  javav2/example_code/neptune/src/main/resources/log4j2.xml
  javav2/example_code/neptune/src/test/java/NeptuneTest.java
  javav2/usecases/creating_neptune_lambda/README.md
  javav2/usecases/creating_neptune_lambda/pom.xml
  javav2/usecases/creating_neptune_lambda/src/main/java/org/example/NeptuneLambdaHandler.java
  scenarios/basics/neptune/README.md
  scenarios/basics/neptune/SPECIFICATION.md
Labels: On Call Review complete, Java-v2, Basics

#7434 Swift: code examples for Meta Llama to use Converse and ConverseStream, Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  swift/example_code/bedrock-runtime/README.md
  swift/example_code/bedrock-runtime/models/meta_llama/Package.swift
  swift/example_code/bedrock-runtime/models/meta_llama/Sources/Converse/main.swift
  swift/example_code/bedrock-runtime/models/meta_llama/Sources/ConverseStream/main.swift
Labels: Swift, On Call Review complete, Feature Scenario

#7476 Fixed a minor bug by updating a SOS tag in the EC2 Yaml file
  .doc_gen/metadata/ec2_metadata.yaml
Labels: On Call Review complete, Bug

#7491 Update README.md
  README.md
Labels: On Call Review complete, Task

#7492 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: On Call Review complete, Task

#7473 Python Add the Amazon Neptune Python follow
  .doc_gen/metadata/neptune_metadata.yaml
  python/example_code/neptune/README.md
  python/example_code/neptune/analytics/create_neptune_graph_example.py
  python/example_code/neptune/analytics/neptune_analytics_query_example.py
  python/example_code/neptune/database/neptune_execute_gremlin_explain_query.py
  python/example_code/neptune/database/neptune_execute_gremlin_profile_query.py
  python/example_code/neptune/database/neptune_execute_gremlin_query.py
  python/example_code/neptune/database/neptune_execute_open_cypher_query.py
  python/example_code/neptune/hello_neptune.py
  python/example_code/neptune/neptune_scenario.py
  python/example_code/neptune/requirements.txt
  python/example_code/neptune/tests/analytics_tests/test_create_graph.py
  python/example_code/neptune/tests/analytics_tests/test_execute_gremlin_profile_query.py
  python/example_code/neptune/tests/database_tests/execute_gremlin_profile_query.py
  python/example_code/neptune/tests/database_tests/test_execute_gremlin_query.py
  python/example_code/neptune/tests/database_tests/test_neptune_execute_gremlin_explain_query.py
  python/example_code/neptune/tests/database_tests/test_opencypher_explain_query.py
  python/example_code/neptune/tests/test_check_instance_status.py
  python/example_code/neptune/tests/test_create_db_cluster.py
  python/example_code/neptune/tests/test_create_db_instance.py
  python/example_code/neptune/tests/test_create_subnet_group.py
  python/example_code/neptune/tests/test_delete_db_cluster.py
  python/example_code/neptune/tests/test_delete_db_instance.py
  python/example_code/neptune/tests/test_delete_db_subnet_group.py
  python/example_code/neptune/tests/test_describe_db_clusters.py
  python/example_code/neptune/tests/test_hello.py
  python/example_code/neptune/tests/test_start_db_cluster.py
  python/example_code/neptune/tests/test_stop_db_cluster.py
  python/test_tools/neptune_data_stubber.py
  python/test_tools/neptune_graph_stubber.py
  python/test_tools/neptune_stubber.py
  scenarios/basics/neptune/SPECIFICATION.md
Labels: Python, On Call Review complete, Follow, Basics

#7474 Add Cognito ListUsers example for Swift
  .doc_gen/metadata/cognito-identity-provider_metadata.yaml
  swift/example_code/cognito-identity-provider/ListUsers/Package.swift
  swift/example_code/cognito-identity-provider/ListUsers/Sources/entry.swift
  swift/example_code/cognito-identity-provider/ListUsers/test.sh
  swift/example_code/cognito-identity-provider/README.md
  swift/example_code/cognito-identity-provider/scenario/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7482 Python: Adding ControlTower scenario and tests
  .doc_gen/metadata/controltower_metadata.yaml
  python/example_code/controltower/README.md
  python/example_code/controltower/controltower_wrapper.py
  python/example_code/controltower/hello/hello_controltower.py
  python/example_code/controltower/requirements.txt
  python/example_code/controltower/scenario_controltower.py
  python/example_code/controltower/test/conftest.py
  python/example_code/controltower/test/test_scenario_run.py
  python/test_tools/controlcatalog_stubber.py
  python/test_tools/controltower_stubber.py
  python/test_tools/organizations_stubber.py
  python/test_tools/stubber_factory.py
  scenarios/basics/controltower/README.md
  scenarios/basics/controltower/SPECIFICATION.md
Labels: Python, On Call Review complete, Scout, Basics

#7487 Add Glue scenario example for Swift
  .doc_gen/metadata/glue_metadata.yaml
  swift/example_code/glue/README.md
  swift/example_code/glue/scenario/Package.swift
  swift/example_code/glue/scenario/Sources/entry.swift
  swift/example_code/glue/scenario/flight_etl_job_script.py
  swift/example_code/glue/scenario/scaffold.py
  swift/example_code/glue/scenario/setup_scenario_getting_started.yaml
  swift/example_code/glue/scenario/test.sh
Labels: Swift, On Call Review complete, Task

#7459 Swift: Added video generation example code for Nova Reel, Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  swift/example_code/bedrock-runtime/README.md
  swift/example_code/bedrock-runtime/models/amazon-nova/amazon-nova-reel/Package.swift
  swift/example_code/bedrock-runtime/models/amazon-nova/amazon-nova-reel/Sources/main.swift
Labels: Swift, On Call Review complete, Feature Scenario

#7479 Rust: add invoke-agent example in bedrock-agent-runtime
  .doc_gen/metadata/bedrock-agent-runtime_metadata.yaml
  .github/workflows/lint-rust.yml
  rustv1/Dockerfile
  rustv1/cross_service/rust-toolchain.toml
  rustv1/examples/Cargo.toml
  rustv1/examples/bedrock-agent-runtime/Cargo.toml
  rustv1/examples/bedrock-agent-runtime/README.md
  rustv1/examples/bedrock-agent-runtime/src/bin/invoke-agent.rs
  rustv1/examples/rust-toolchain.toml
Labels: Rust, On Call Review complete, GitHub settings, Feature Scenario
