Repository awsdocs/aws-doc-sdk-examples, pull requests merged in 2025-05, with the labels that each got.

#7396 Java V2 Add Fleetwise code examples
  .doc_gen/metadata/iot_fleetwise_metadata.yaml
  .github/workflows/validate-doc-metadata.yml
  javav2/example_code/iotfleetwise/.gitignore
  javav2/example_code/iotfleetwise/README.md
  javav2/example_code/iotfleetwise/pom.xml
  javav2/example_code/iotfleetwise/src/main/java/com/example/fleetwise/HelloFleetwise.java
  javav2/example_code/iotfleetwise/src/main/java/com/example/fleetwise/scenario/FleetwiseActions.java
  javav2/example_code/iotfleetwise/src/main/java/com/example/fleetwise/scenario/FleetwiseScenario.java
  javav2/example_code/iotfleetwise/src/main/resources/log4j2.xml
  javav2/example_code/iotfleetwise/src/test/java/FleetwiseTest.java
  scenarios/basics/fleetwise/README.md
  scenarios/basics/fleetwise/SPECIFICATION.md
Labels: On Call Review complete, Java-v2, GitHub settings, Basics

#7305 Java V2 update the SNS example to specify FifoThroughputScope
  javav2/example_code/sns/src/main/java/com/example/sns/PriceUpdateExample.java
Labels: On Call Review complete, Java-v2, Task

#7429 JS: Disable wkflw-resilient-service.integration.test.js
  javascriptv3/example_code/cross-services/wkflw-resilient-service/tests/wkflw-resilient-service.integration.test.js
Labels: Javascript-v3, Testing, On Call Review complete, Bug

#7431 [-tools] Release 2025.18.0
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, dependencies

#7428 Kotlin add IoT Fleetwise Kotlin scenario
  .doc_gen/metadata/iot_fleetwise_metadata.yaml
  kotlin/services/iotfleetwise/README.md
  kotlin/services/iotfleetwise/build.gradle.kts
  kotlin/services/iotfleetwise/src/main/java/com/example/fleetwise/HelloFleetwise.kt
  kotlin/services/iotfleetwise/src/main/java/com/example/fleetwise/scenario/FleetwiseScenario.kt
  kotlin/services/iotfleetwise/src/test/java/FleetwiseTest.kt
Labels: Kotlin, On Call Review complete, Basics

#7433 Swift: code examples for Anthropic Claude to use Converse and ConverseStream, Amazon Bedrock
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  swift/example_code/bedrock-runtime/README.md
  swift/example_code/bedrock-runtime/models/anthropic_claude/Package.swift
  swift/example_code/bedrock-runtime/models/anthropic_claude/Sources/Converse/main.swift
  swift/example_code/bedrock-runtime/models/anthropic_claude/Sources/ConverseStream/main.swift
Labels: Swift, On Call Review complete, Basics

#7436 Fix SoS tags for example for Swift
  swift/example_code/swift-sdk/http-config/Sources/entry.swift
Labels: Swift, On Call Review complete, Task

#7441 Update to latest tools release 2025.18.3.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task

#7444 Bedrock Runtime: Remove explicit references to Llama 3
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  .gitignore
  dotnetv3/Bedrock-runtime/README.md
  javascriptv3/example_code/bedrock-runtime/README.md
  javav2/example_code/bedrock-runtime/README.md
  kotlin/services/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/README.md
Labels: DotNet-v3, Javascript-v3, Kotlin, Python, On Call Review complete, Java-v2, Task

#7446 Python: Bedrock Runtime document understanding examples
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  python/example_code/bedrock-runtime/README.md
  python/example_code/bedrock-runtime/example-data/amazon-nova-service-cards.pdf
  python/example_code/bedrock-runtime/models/amazon_nova/amazon_nova_text/document_understanding.py
  python/example_code/bedrock-runtime/models/anthropic_claude/document_understanding.py
  python/example_code/bedrock-runtime/models/cohere_command/document_understanding.py
  python/example_code/bedrock-runtime/models/deepseek/document_understanding.py
  python/example_code/bedrock-runtime/models/meta_llama/document_understanding.py
  python/example_code/bedrock-runtime/models/mistral_ai/document_understanding.py
  python/example_code/bedrock-runtime/requirements.txt
  python/example_code/bedrock-runtime/test/test_document_understanding.py
Labels: Python, On Call Review complete, Single action example

#7461 Update README.md - fixing bedrock runtime crate link
  rustv1/examples/bedrock-runtime/README.md
Labels: Rust, On Call Review complete, Bug

#7463 Update to latest tools release 2025.1.0
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, Task

#7430 Java V2 added SES example that shows new header information
  .doc_gen/metadata/sesv2_metadata.yaml
  javav2/example_code/ses/pom.xml
  javav2/example_code/ses/src/main/java/com/example/sesv2/SendEmail.java
  javav2/example_code/ses/src/main/java/com/example/sesv2/SendwithHeader.java
Labels: On Call Review complete, Java-v2, Single action example

#7445 PHP: Add example for Amazon Nova text models, remove example for Jurassic-2
  .doc_gen/metadata/bedrock-runtime_metadata.yaml
  php/example_code/bedrock-runtime/BedrockRuntimeService.php
  php/example_code/bedrock-runtime/GettingStartedWithBedrockRuntime.php
  php/example_code/bedrock-runtime/Models/AmazonNova/Text/Converse.php
  php/example_code/bedrock-runtime/README.md
  php/example_code/bedrock-runtime/composer.json
  php/example_code/bedrock-runtime/composer.lock
  php/example_code/bedrock-runtime/tests/BedrockRuntimeTests.php
  php/example_code/bedrock-runtime/tests/ConverseTests.php
Labels: PHP, On Call Review complete, Single action example

#7464 Update to latest tools release 2025.21.1.
  .github/workflows/validate-doc-metadata.yml
Labels: On Call Review complete, GitHub settings, Task
